{% from "file-upload/macro.njk" import fileUpload %}

{{ fileUpload({
  label: {
    text: "Upload a file",
    size: "l",
    isPageHeading: true
  },
  name: "file-hint",
  hint: {
    text: "File must be a CSV smaller than 2MB"
  }
}) }}
