---
previewLayout: design-example-wrapper-full-with-service-name
---

{% extends "layouts/design-example-wrapper-full-layout.njk" %}
{% from "inset-text/macro.njk" import insetText %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Sorry, this service is unavailable</h1>

      {% set insetTextHtml %}
        <h2 class="nhsuk-heading-s">1:11pm, Thursday 26 February 2026</h2>
        <p>We have identified the cause of the problem and are working to fix it today.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}

      <p>If you need to cancel an appointment, you can contact the appointments team from Monday to Friday, 8am to 5pm (excluding bank holidays) by:</p>
      <ul>
        <li>telephone: 08081 570000</li>
        <li>email: <a href="#">appointments.team@nhs.net</a></li>
      </ul>

    </div>
  </div>
{% endblock %}