{% from "card/macro.njk" import card %}

{% set cardDescription %}
  <p>Dear ((firstName)) ((lastName)),</p>

  <p>We are inviting you for your NHS ((serviceName)) appointment.</p>

  <p>Find more information about your ((serviceName)) invite, including how to book your appointment: <a href="https://www.nhs.uk/service-name-invite">https://www.nhs.uk/service-name-invite</a></p>

  <p>Yours sincerely,</p>

  <p>((serviceName))</p>
{% endset %}

{{ card({
  clickable: false,
  heading: "Template: Appointment invitation 1",
  headingClasses: "nhsuk-heading-m",
  actions: {
    items: [
      {
        text: "Edit",
        href: "#"
      },
      {
        text: "Delete",
        href: "#"
      }
    ]
  },
  descriptionHtml: cardDescription
}) }}