{% set pageTitle = 'Design principles' %}
{% set pageDescription = 'These principles guide all of our design. Use them to get started on a project and to help with making decisions.' %}

{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>

    <p class="nhsuk-body-l">{{pageDescription}}</p>

    <p class="nhsuk-body-l">They're inspired by the <a href="https://www.gov.uk/government/publications/the-nhs-constitution-for-england/the-nhs-constitution-for-england">NHS Constitution</a> that's steered the NHS for 70 years.</p>

    <p class="nhsuk-u-margin-bottom-8"><a href="/service-manual/assets/NHS_design_principles.pdf">Download design principles poster PDF, 177kb</a></p>

    <ol class="featured-list">

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">1</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl nhsuk-u-margin-bottom-1">1</div>
            Put people at the heart of everything you do
          </h3>
          <p>Patients, family, carers, staff. Design things that understand and respect people's needs. Take the time to learn about the whole person - their emotional, physical and technical needs.</p>
          <p>Design with compassion.</p>
        </div>
      </li>

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">2</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">2</div>
            Design for the outcome
          </h3>
          <p>What will good look like? What are the health, wellbeing or other measurable outcomes that your work will impact? Your work should improve lives, either directly or indirectly.</p>
        </div>
      </li>

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">3</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">3</div>
            Be inclusive
          </h3>
          <p>NHS services are for everyone. Make sure people with different physical, mental health, social, cultural or learning needs can use your design.</p>
        </div>
      </li>

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">4</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">4</div>
            Design for context
          </h3>
          <p>Don’t just design your part of a service. Consider people's entire experience, and the infrastructure and processes involved. Think about how people begin and end their time with what you are designing.</p>
        </div>
      </li>

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">5</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">5</div>
            Design for trust
          </h3>
          <p>People trust the NHS. Take care not to jeopardise that. Design things that are reliable and secure.</p>
        </div>
      </li>

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">6</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">6</div>
            Test your assumptions
          </h3>
          <p>Design and test your work with real people. Observe behaviour and gather evidence. Work with subject experts and existing research. Do not rely on hunches.</p>
        </div>
      </li>

      <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">7</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">7</div>
            Make, learn, iterate
          </h3>
          <p>Start small. Experiment with different ways of doing things. Make prototypes to improve your understanding. Test and refine.</p>
        </div>
      </li>

        <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">8</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">8</div>
            Do the hard work to make it simple
          </h3>
          <p>Healthcare journeys can be complex. Take the time to understand what you are trying to solve. Do not push complexity onto the people using what you are designing.</p>
        </div>
      </li>

       <li class="featured-item">
        <div class="featured-item__content">
          <div class="featured-item__number featured-item__number--mobile nhsuk-heading-xl">9</div>
          <h3 class="featured-item__heading nhsuk-heading-l">
            <div class="featured-item__number nhsuk-heading-xl">9</div>
            Make things open. It makes things better
          </h3>
          <p>Share your learning. Share your work. Be transparent in your design decisions.</p>
          <p>Be accountable and have confidence in your solutions.</p>
        </div>
      </li>

      </ol>

     <div class="nhsuk-review-date">
     <p class="nhsuk-body-s">Updated: August 2018</p>
     </div>
  </div>
</div>
{% endblock %}
