{% from "character-count/macro.njk" import characterCount %}

{{ characterCount({
  name: "moreDetail",
  id: "more-detail",
  maxlength: 150,
  countType: "words",
  label: {
    text: "Enter a job description",
    size: "l"
  }
}) }}
