{% from 'character-count/macro.njk' import characterCount %}

{{ characterCount({
  "name": "more-detail",
  "id": "more-detail",
  "maxwords": 200,
  "label": {
    "text": "Enter a job description"
  }
}) }}