{% from "character-count/macro.njk" import characterCount %}

{{ characterCount({
  label: {
    text: "Enter a job description",
    size: "l"
  },
  id: "more-detail",
  name: "moreDetail",
  maxlength: 150,
  countType: "words"
}) }}
