{% from "error-summary/macro.njk" import errorSummary %}
{% from "input/macro.njk" import input %}

{{ errorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter your full name",
      href: "#name"
    }
  ]
}) }}

<h1 class="nhsuk-heading-l">Your details</h1>

{{ input({
  label: {
    text: "Full name"
  },
  id: "name",
  name: "name",
  errorMessage: {
    text: "Enter your full name"
  }
}) }}
