{% set pageTitle = "Spacing" %}
{% set pageDescription = "We've followed the Government Design System's approach to spacing pages and setting the width of page elements so that they are consistent, responsive and clear. But we have adapted it for NHS-specific styles." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "November 2019" %}
{% set backlog_issue_id = "24" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <div class="nhsuk-back-link app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="/design-system">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Design system</a>
    </div>

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a>
      <ul class="app-side-nav__list app-side-nav__list--nested">
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#spacing-scale">The responsive spacing scale</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#spacing-on-custom-components">Spacing on custom components</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#width-override-classes">Width override classes</a></li>
      </ul>
    </li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

  </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2 id="spacing-scale">The responsive spacing scale</h2>
  <p>We use a responsive spacing scale which adapts based on screen size. For example, if you apply spacing unit 9 to a margin, it will be 64px on large screens and 56px on small screens.</p>

  {{ table({
    panel: false,
    caption: "",
    head: [
      {
        text: "Spacing unit"
      },
      {
        text: "Large screens",
        format: "numeric"
      },
      {
        text: "Small screens",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "9"
        },
        {
          text: "64px",
          format: "numeric"
        },
        {
          text: "56px",
          format: "numeric"
        }
      ],
      [
        {
          text: "8"
        },
        {
          text: "56px",
          format: "numeric"
        },
        {
          text: "48px",
          format: "numeric"
        }
      ],
      [
        {
          text: "7"
        },
        {
          text: "48px",
          format: "numeric"
        },
        {
          text: "40px",
          format: "numeric"
        }
      ],
      [
        {
          text: "6"
        },
        {
          text: "40px",
          format: "numeric"
        },
        {
          text: "32px",
          format: "numeric"
        }
      ],
      [
        {
          text: "5"
        },
        {
          text: "32px",
          format: "numeric"
        },
        {
          text: "24px",
          format: "numeric"
        }
      ],
      [
        {
          text: "4"
        },
        {
          text: "24px",
          format: "numeric"
        },
        {
          text: "16px",
          format: "numeric"
        }
      ],
      [
        {
          text: "3"
        },
        {
          text: "16px",
          format: "numeric"
        },
        {
          text: "8px",
          format: "numeric"
        }
      ],
      [
        {
          text: "2"
        },
        {
          text: "8px",
          format: "numeric"
        },
        {
          text: "8px",
          format: "numeric"
        }
      ],
      [
        {
          text: "1"
        },
        {
          text: "4px",
          format: "numeric"
        },
        {
          text: "4px",
          format: "numeric"
        }
      ],
      [
        {
          text: "0"
        },
        {
          text: "0",
          format: "numeric"
        },
        {
          text: "0",
          format: "numeric"
        }
      ]
    ]
  }) }}

  <h3 id="spacing-override-classes">Spacing override classes</h3>
  <p>Occasionally, you might need to make minor adjustments like adding spacing or removing it from elements of your design. You can use the responsive spacing override classes for this.</p>

  <h3 id="using-the-override-classes">Using the override classes</h3>
  <p>The spacing override classes are structured to allow you to apply any size of the scale, using margin or padding in any direction.</p>
  <p class="rich-text">For example, <code>nhsuk-u-margin-9</code> will set a margin of 64px on large screens and 56px on small screens.</p>
  <p class="rich-text">To add padding use <code>-padding</code> instead of <code>-margin</code>.</p>
  <p class="rich-text">If you want to add the margin or padding in a particular direction, add <code>left</code> for left, <code>right</code> for right, <code>top</code> for top, or <code>bottom</code> for bottom. For example, <code>-margin-top</code> will set margin-top, <code>-padding-right</code> will set padding-right. If you do not specify a direction, the margin or padding will be applied to all sides of the element.</p>
  <p class="rich-text">The last part of the class represents the spacing unit value you want to apply. For example, in <code>nhsuk-u-margin-9</code>, the <code>-9</code> represents 9 on the spacing scale.</p>

  <h3 id="spacing-examples" class="nhsuk-u-padding-top-3">Examples</h3>

  {{ designExample({
    group: "styles",
    item: "spacing",
    type: "default",
    htmlOnly: true
  }) }}

  {{ designExample({
    group: "styles",
    item: "spacing",
    type: "text",
    htmlOnly: true
  }) }}

  <h2 id="spacing-on-custom-components">Spacing on custom components</h2>
  <p>If you’re building your own components and want to reference the spacing scale directly in your SCSS file, you can use the spacing scale through a mixin or a function.</p>

  <h3 id="using-the-static-spacing-function">Using the static spacing function</h3>
  <p>If you want to use static values that will not change based on breakpoints you can reference the static spacing scale function like this:</p>
  <p class="rich-text"><code>padding-top: nhsuk-spacing(6)</code></p>

  <h3 id="using-the-responsive-spacing-mixin">Using the responsive spacing mixin</h3>
  <p>If you want to use the responsive spacing scale you can reference the mixin.</p>
  <p>For example:</p>
  <ul>
    <li><p class="rich-text">use <code>@include nhsuk-responsive-margin(6, "bottom");</code> for 40px margin-bottom on large screens and 32px on small screens</p></li>
    <li><p class="rich-text">use <code>@include nhsuk-responsive-padding(6);</code> for 40px padding on all sides on large screens and 32px on small screens</p></li>
  </ul>

  <h2 id="width-override-classes">Width override classes</h2>
  <p>If you need to constrain the width of an element independently of the <a href="/design-system/styles/layout">grid system</a>, you can use width override classes.</p>
  <p class="rich-text">As with the spacing override classes, the width override classes start with <code>nhsuk-u-</code>. The second part of the class name indicates the width on larger screen sizes.
  <p>For example:</p>
  <ul>
    <li><p class="rich-text"><code>nhsuk-u-width-one-half</code>  will apply a width of 50% and</p></li>
    <li><p class="rich-text"><code>nhsuk-u-width-two-thirds</code> will apply a width of 66.66%.</p></li>
  </ul>

  {{ designExample({
    group: "styles",
    item: "spacing",
    type: "width",
    htmlOnly: true
  }) }}

{% endblock %}
