{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Spacing" %}
{% set pageDescription = "The design system uses 2 different spacing scales: responsive and static." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "May 2025" %}
{% set backlog_issue_id = "24" %}

{% block beforeContent %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a>
      <ul class="app-side-nav__list app-side-nav__list--nested">
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#responsive-spacing">Responsive spacing</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#static-spacing">Static spacing</a></li>
      </ul>
    </li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/use-frutiger-font">Use the NHS Frutiger font</a></li>

  </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2 id="responsive-spacing">Responsive spacing</h2>
  <p>The responsive spacing scale adapts based on screen size.</p>
  <p>The spacing for "large screens" is used when the screen is wider than the desktop breakpoint (768px). Spacing for the smallest units (0 to 2) stays the same for all screen sizes.

  {{ table({
    panel: false,
    caption: "",
    head: [
      {
        text: "Spacing unit"
      },
      {
        text: "Large screens",
        format: "numeric"
      },
      {
        text: "Small screens",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "9"
        },
        {
          text: "64px",
          format: "numeric"
        },
        {
          text: "56px",
          format: "numeric"
        }
      ],
      [
        {
          text: "8"
        },
        {
          text: "56px",
          format: "numeric"
        },
        {
          text: "48px",
          format: "numeric"
        }
      ],
      [
        {
          text: "7"
        },
        {
          text: "48px",
          format: "numeric"
        },
        {
          text: "40px",
          format: "numeric"
        }
      ],
      [
        {
          text: "6"
        },
        {
          text: "40px",
          format: "numeric"
        },
        {
          text: "32px",
          format: "numeric"
        }
      ],
      [
        {
          text: "5"
        },
        {
          text: "32px",
          format: "numeric"
        },
        {
          text: "24px",
          format: "numeric"
        }
      ],
      [
        {
          text: "4"
        },
        {
          text: "24px",
          format: "numeric"
        },
        {
          text: "16px",
          format: "numeric"
        }
      ],
      [
        {
          text: "3"
        },
        {
          text: "16px",
          format: "numeric"
        },
        {
          text: "8px",
          format: "numeric"
        }
      ],
      [
        {
          text: "2"
        },
        {
          text: "8px",
          format: "numeric"
        },
        {
          text: "8px",
          format: "numeric"
        }
      ],
      [
        {
          text: "1"
        },
        {
          text: "4px",
          format: "numeric"
        },
        {
          text: "4px",
          format: "numeric"
        }
      ],
      [
        {
          text: "0"
        },
        {
          text: "0",
          format: "numeric"
        },
        {
          text: "0",
          format: "numeric"
        }
      ]
    ]
  }) }}

  <h3>How to use responsive spacing classes</h3>

  <p class="rich-text">The responsive spacing override classes start with: <code>nhsuk-u-</code>, followed by either <code>margin-</code> or <code>padding-</code>, and then a spacing unit number.</p>
  <p class="rich-text">To apply spacing in a single direction, include <code>left-</code>, <code>right-</code>, <code>top-</code>, or <code>bottom-</code> just before the spacing unit.</p>

  <p>For example, use:</p>

  <ul>
    <li><p class="rich-text"><code>nhsuk-u-margin-9</code> to apply a 56px margin to all sides of the element on small screens, increasing to 64px on large screens</p></li>
    <li><p class="rich-text"><code>nhsuk-u-padding-right-5</code> to apply 24px of padding to the right side of the element on small screens, increasing to 32px on large screens</p></li>
    <li><p class="rich-text"><code>nhsuk-u-margin-0</code> to remove all margins at all screen sizes</p></li>
  </ul>

  <h4 class="nhsuk-u-padding-top-3">Examples</h4>

  {{ designExample({
    group: "styles",
    item: "spacing",
    type: "default",
    htmlOnly: true
  }) }}

  {{ designExample({
    group: "styles",
    item: "spacing",
    type: "text",
    htmlOnly: true
  }) }}

  <h3>How to use responsive spacing in your own components</h3>

  <p>If you want to use the responsive spacing scale you can reference the mixin.</p>
  <p>For example:</p>
  <ul>
    <li><p class="rich-text">use <code>@include nhsuk-responsive-margin(6, "bottom");</code> for 40px margin-bottom on large screens and 32px on small screens</p></li>
    <li><p class="rich-text">use <code>@include nhsuk-responsive-padding(6);</code> for 40px padding on all sides on large screens and 32px on small screens</p></li>
  </ul>

  <h2 id="static-spacing">Static spacing</h2>

  <p>The static spacing scale stays the same for all screen sizes, and uses the same spacing as "large screens" in the responsive spacing scale.</p>

  {{ table({
    panel: false,
    caption: "",
    head: [
      {
        text: "Spacing unit"
      },
      {
        text: "All screens",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "9"
        },
        {
          text: "56px",
          format: "numeric"
        }
      ],
      [
        {
          text: "8"
        },
        {
          text: "48px",
          format: "numeric"
        }
      ],
      [
        {
          text: "7"
        },
        {
          text: "40px",
          format: "numeric"
        }
      ],
      [
        {
          text: "6"
        },
        {
          text: "32px",
          format: "numeric"
        }
      ],
      [
        {
          text: "5"
        },
        {
          text: "24px",
          format: "numeric"
        }
      ],
      [
        {
          text: "4"
        },
        {
          text: "16px",
          format: "numeric"
        }
      ],
      [
        {
          text: "3"
        },
        {
          text: "8px",
          format: "numeric"
        }
      ],
      [
        {
          text: "2"
        },
        {
          text: "8px",
          format: "numeric"
        }
      ],
      [
        {
          text: "1"
        },
        {
          text: "4px",
          format: "numeric"
        }
      ],
      [
        {
          text: "0"
        },
        {
          text: "0",
          format: "numeric"
        }
      ]
    ]
  }) }}

  <h3>How to use static spacing classes</h3>

  <p class="rich-text">The static spacing override classes start with <code>nhsuk-u-static</code>. Use them the same way as the responsive spacing override classes.</p>

  <p>For example, use:</p>

  <ul>
    <li><p class="rich-text"><code>nhsuk-u-static-margin-9</code> to apply a 64px margin to all sides of the element at all screen sizes</p></li>
    <li><p class="rich-text"><code>nhsuk-u-static-padding-right-5</code> to apply 32px of padding to the right side of the element at all screen sizes</p></li>
    <li><p class="rich-text"><code>nhsuk-u-static-margin-0</code> to remove all margins at all screen sizes, same as <code>nhsuk-u-margin-0</code></p></li>
  </ul>

  <h3 id="static-spacing-override-classes">How to use static spacing in your own components</h3>

  <p>If you're building your own components and want to reference the spacing scale directly in your SCSS file, you can use the spacing scale through a function like this:</p>
  <p class="rich-text"><code>padding-top: nhsuk-spacing(6)</code></p>

{% endblock %}
