{% set pageTitle = "About IA" %}
{% set pageDescription = "Understand IA and how the guidance has been created." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set theme = "Understanding IA" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <p>The information architecture team began work to improve the IA of NHS.UK in May 2019. We took a user-centred approach to IA, all the way from Discovery through Alpha, Beta and into live. As of July 2020, we have conducted 57 hours of 1:1 primary user research and elicited the views of 8408 people online.</p>
  

{% endblock %}
