{% set pageTitle = "About IA" %}
{% set pageDescription = "Understand IA" %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set theme = "Understanding IA" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  
  

{% endblock %}
