{% from 'card/macro.njk' import card %}

{{ card({
          "feature": "true",
          "heading": "A",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='/conditions/abdominal-aortic-aneurysm/'>AAA</a></li>
          <li><a href='/conditions/abdominal-aortic-aneurysm/'>Abdominal aortic aneurysm</a></li>
          <li><a href='/conditions/abscess/'>Abscess</a></li> 
        </ul>"
        }) }}

{{ card({
          "feature": "true",
          "heading": "B",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li>There are currently no conditions listed</li>
        </ul>"
        }) }}

{{ card({
          "feature": "true",
          "heading": "C",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='/conditions/chest-pain/'>Chest pain</a></li>
          <li><a href='/conditions/cold-sores/'>Cold sore</a></li>
        </ul>"
        }) }}

{{ card({
          "feature": "true",
          "heading": "D",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='/conditions/dandruff/'>Dandruff</a></li>
          <li><a href='/conditions/dementia/'>Dementia</a></li>
          <li><a href='/conditions/toothache/'>Dental pain</a></li> 
        </ul>"
        }) }}
