{% from 'input/macro.njk' import input %}

{{ input({
  "label": {
    "text": "Full name",
    "classes": "nhsuk-label--l"
  },
  "id": "example",
  "name": "example",
  "classes": "nhsuk-input--width-10",
  "errorMessage": {
    "text": "Enter your full name"
  }
}) }}
