{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Check your frontend version" %}
{% set pageDescription = "How to check which version of NHS.UK frontend you are using and how to update." %}
{% set pageSection = "Design system" %}
{% set subSection = "Design system" %}
{% set theme = "Update guides" %}
{% set dateUpdated = "February 2026" %}

{% block beforeContent %}
  {% include "design-system/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<h2>The frontend and the design system</h2>
<p>The <a href="https://github.com/nhsuk/nhsuk-frontend"><code>nhsuk-frontend</code></a> codebase contains the code used to create the design system components and styles.</p>
<p>Each time the design system is updated, for example to add a new component, the frontend is also updated. If you are using an older version of the frontend, for example with the prototype kit, then you will not be able to use the new component until you update your frontend version.</p>
<p>Note: this guidance applies to the NHS prototype kit and production services. <a href="/community-and-contribution/community-resources#design-prototypes-and-wireframes">The Figma design library</a> is not based on the frontend code and is updated separately.</p>

<h2>How to check your NHS.UK frontend version</h2>
<p>To check the version you are currently using, run <code>npm list nhsuk-frontend</code> on your project directory.</p>
<p>On Windows you can run this with Command Prompt.</p>
<p>On Mac you can use the Terminal application.</p>
<p>You can also use the terminal in your code editor.</p>

<pre><code class="language-js nhsuk-u-margin-bottom-4">
  $ npm list nhsuk-frontend
  project@1.0.0 /path/to/your/project
  └── nhsuk-frontend@10.0.0

</code></pre>

<p>If you are using a lower version than the latest version (10.3.0), you will need to update to use the latest features.</p>

<h2>How to update your frontend</h2>

<h3>How to update a prototype</h3>
<p>If you need to update your frontend version and you are using the prototype kit, visit the <a href="https://prototype-kit.service-manual.nhs.uk/install/updating-the-kit/">updating the kit guide on the prototype kit website</a>. When the frontend is released, we also update the NHS prototype kit to the latest version.</p>

<h3>How to update a production service</h3>
<p>To update a production service or other code that uses NHS.UK frontend, you can follow our <a href="https://github.com/nhsuk/nhsuk-frontend/blob/main/docs/installation/staying-up-to-date.md">staying up to date guide on nhsuk-frontend</a>.</p>

{% endblock %}