<div class="app-beta">
  <div class="nhsuk-width-container app-beta__container app-width-container">
    <p class="app-beta__content">
      <strong class="nhsuk-tag app-beta__tag">
        Beta
      </strong>
      <span class="app-beta__text">
      'Beta' means that we think it's good enough to share but we're still testing it.
      </span>
    </p>
  </div>
</div>
