<h2 class="nhsuk-u-padding-top-4">{% if subSection === "Styles" %}Have you tested these styles?{% endif %}{% if subSection === "Components" %}Have you tested this component?{% endif %}{% if subSection === "Patterns" %}Have you tested this pattern?{% endif %}{% if pageSection === "Content style guide" or pageSection === "Accessibility" or subSection === "Information architecture" %}Share your feedback and findings to improve this guidance{% endif %}{% if subSection === "Design principles" %}Would you like to contribute to these principles?{% endif %}{% if pageSection === "NHS service standard" %}Would you like to contribute to the NHS service standard?{% endif %}</h2>
{% if subSection === "Styles" or subSection === "Components" or subSection === "Patterns"or pageSection === "Accessibility" %}

<p>If so, please share your research findings and let us know how it has worked for you. This will help us improve it for everyone.</p>
<p>Before you start, you will need a <a href="https://github.com/join?source=login">GitHub account</a>. It's an open forum where we collect feedback.</p>
{% endif %}
{% if pageSection === "Content style guide" or pageSection === "Accessibility" %}

<p>Please let us know how this has worked for you and, in particular, if you have research findings to share. This will help us improve it for everyone.</p>
<p>Before you start, you will need a <a href="https://github.com/join?source=login">GitHub account</a>. It's an open forum where we collect feedback.</p>
{% endif %}

{% if subSection === "Information architecture" %}

<p>Please let us know how you found this page and if you have any experience of information architecture or research findings to share. This will help us improve it for everyone.</p>
<p>Before you start, you will need a <a href="https://github.com/join?source=login">GitHub account</a>. It's an open forum where we collect feedback.</p>
{% endif %}

{% if subSection === "Design principles" %}

<p>Please let us know how the design principles have worked for you or if you have any experience of design principles to share. This will help us improve them for everyone.</p>
<p>Before you start, you will need a <a href="https://github.com/join?source=login">GitHub account</a>. It's an open forum where we collect feedback.</p>
{% endif %}

{% if pageSection === "NHS service standard" %}
<p>Please let us know how this has worked for you and, in particular, if you have gone through a GDS or NHSX service assessment or peer review. This will help us improve it for everyone.</p>
<p>Before you start, you will need a <a href="https://github.com/join?source=login">GitHub account</a>. It's an open forum where we collect feedback.</p>
{% endif %}

<div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/{{backlog_issue_id}}">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Share your findings on GitHub</span>
  </a>
</div>
<p>If you have any questions, you can <a href="https://service-manual.nhs.uk/slack">message us on Slack</a>. You will need a Slack account if you do not have one. Or you can <a href="mailto:service-manual@nhs.net">contact us by email</a>.

</p>

