<div class="nhsuk-panel {% if pageLayout != "Homepage" %}nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-5 {% else %}nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-5{% endif %}">
  <h2 class="nhsuk-heading-m app-feedback__heading">Help improve the service manual</h2>
  <p>We’d welcome your feedback. Can you answer some questions about your visit today?</p>
  <div class="nhsuk-action-link nhsuk-u-margin-bottom-0">
    <a class="nhsuk-action-link__link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_9GIQAEkm6gfFCWp">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Take survey</span>
    </a>
  </div>
</div>
