{% from "header/macro.njk" import header %}

{%- if disableSearch %}
  {{ header({
      logo: {
        href: "/",
        ariaLabel: "NHS digital service manual homepage"
      },
      service: {
        text: "Digital service manual",
        href: "/"
      },
      navigation: {
        items: [
          {
            text: "NHS service standard",
            href: "/service-standard"
          },
          {
            text: "Design system",
            href: "/design-system"
          },
          {
            text: "Content guide",
            href: "/content"
          },
          {
            text: "Accessibility",
            href: "/accessibility"
          },
          {
            text: "Community and contribution",
            href: "/community-and-contribution"
          }
        ]
      }
    })
  }}
{% else %}
  {{ header({
    logo: {
      href: "/",
      ariaLabel: "NHS digital service manual homepage"
    },
    service: {
      text: "Digital service manual",
      href: "/"
    },
    search: {
      action: "/search/",
      name: "searchField",
      placeholder: "Search",
      visuallyHiddenLabel: "Search the NHS digital service manual"
    },
    navigation: {
      items: [
        {
          text: "NHS service standard",
          href: "/service-standard",
          current: (pageSection === "Standards and technology" and subSection === "NHS service standard" and landingPage === true),
          active: (pageSection === "Standards and technology" and not(subSection === "NHS service standard" and landingPage === true))
        },
        {
          text: "Design system",
          href: "/design-system",
          current: (pageSection === "Design system" and (not subSection)),
          active: (pageSection === "Design system" and subSection)
        },
        {
          text: "Content guide",
          href: "/content",
          current: (pageSection === "Content guide" and landingPage === true),
          active: (pageSection == "Content guide" and landingPage != true)
        },
        {
          text: "Accessibility",
          href: "/accessibility",
          current: (pageSection === "Accessibility" and landingPage === true),
          active: (pageSection == "Accessibility" and landingPage != true)
        },
        {
          text: "Community and contribution",
          href: "/community-and-contribution",
          current: (pageSection === "Community and contribution" and landingPage === true),
          active: (pageSection == "Community and contribution" and landingPage != true)
        }
      ]
    }
  }) }}
{% endif %}
