{% from 'header/macro.njk' import header %}

{%- if disableSearch %}
  {{ header({
      classes: "app-header__container",
      logo: {
        href: "/",
        ariaLabel: "NHS digital service manual homepage"
      },
      service: {
        text: "Digital service manual",
        href: "/"
      },
      primaryLinks: [
        {
          href: "/service-standard",
          text: "NHS service standard"
        },
        {
          href: "/design-system",
          text: "Design system"
        },
        {
          href: "/content",
          text: "Content guide"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/community-and-contribution",
          text: "Community and contribution"
        }
      ]
    })
  }}
{% else %}
  {{ header({
      classes: "app-header__container",
      logo: {
        href: "/",
        ariaLabel: "NHS digital service manual homepage"
      },
      service: {
        text: "Digital service manual",
        href: "/"
      },
      search: {
        action: "/search/",
        name: "search-field",
        placeholder: "Search",
        visuallyHiddenLabel: "Search the NHS digital service manual"
      },
      primaryLinks: [
          {
            href: "/service-standard",
            text: "NHS service standard"
          },
          {
            href: "/design-system",
            text: "Design system"
          },
          {
            href: "/content",
            text: "Content guide"
          },
          {
            href: "/accessibility",
            text: "Accessibility"
          },
          {
            href: "/community-and-contribution",
            text: "Community and contribution"
          }
        ]
    })
  }}
{% endif %}
