{% set serviceStandard = [
  { title: "NHS service standard", url: "/standards-and-technology/service-standard" },
  { title: "About the NHS service standard", url: "/standards-and-technology/about-the-service-standard" }
] %}

{% set technicalSpecifications = [
  { title: "About technology", url: "/standards-and-technology/technology/about-technology" },
  { title: "NHS login", url: "/standards-and-technology/technology/NHS-login" },
  { title: "Personal Demographics Service (PDS)", url: "/standards-and-technology/technology/personal-demographics-service-PDS" }
] %}

{% set dsPrinciples = [
  { title: "Design principles", url: "/design-system/design-principles" }
] %}

{% set dsCode = [
  { title: "Prototyping", url: "/design-system/prototyping" },
  { title: "Production code", url: "/design-system/production" }
] %}

{% set dsGuides = [
  { title: "Updating to v10", url: "/design-system/guides/updating-to-v10" },
  { title: "Changes to meet WCAG 2.2", url: "/design-system/changes-to-design-system-wcag-2-2" }
] %}

{% set dsDesign = [
  { title: "Styles", url: "/design-system/styles" },
  { title: "Components", url: "/design-system/components" },
  { title: "Patterns", url: "/design-system/patterns" }
] %}

{% set accessibilityEveryone = [
  { title: "What all NHS services need to do about accessibility", url: "/accessibility/what-all-nhs-services-need-to-do" },
  { title: "How to make digital services accessible", url: "/accessibility/how-to-make-digital-services-accessible" },
  { title: "Getting started with accessibility", url: "/accessibility/getting-started" },
  { title: "New criteria in WCAG 2.2", url: "/accessibility/new-criteria-in-wcag-2-2" },
  { title: "Download accessibility posters", url: "/accessibility/download-accessibility-posters" }
] %}

{% set accessibilityActivities = [
  { title: "Product and delivery", url: "/accessibility/product-and-delivery" },
  { title: "User research", url: "/accessibility/user-research" },
  { title: "Content", url: "/accessibility/content" },
  { title: "Design", url: "/accessibility/design" },
  { title: "Development", url: "/accessibility/development" },
  { title: "Testing", url: "/accessibility/testing" }
] %}

{% set content = [
  { title: "Standard for creating health content", url: "/content/standard-for-creating-health-content" },
  { title: "How we write", url: "/content/how-we-write" },
  { title: "Voice and tone", url: "/content/voice-and-tone" },
  { title: "Health literacy", url: "/content/health-literacy" },
  { title: "A to Z of NHS health writing", url: "/content/a-to-z-of-nhs-health-writing" },
  { title: "Inclusive content", url: "/content/inclusive-content" },
  { title: "Formatting", url: "/content/formatting" },
  { title: "Punctuation", url: "/content/punctuation" },
  { title: "Numbers, measurements, dates and time", url: "/content/numbers-measurements-dates-time" },
  { title: "How to write good questions for forms", url: "/content/how-to-write-good-questions-for-forms" },
  { title: "PDFs and other non-HTML documents", url: "/content/pdfs-and-other-non-html-documents" },
  { title: "British Sign Language (BSL) quality assurance standard", url: "/content/british-sign-language-bsl-quality-assurance-standard"}
] %}

{% set inclusiveContent = [
  { title: "Age", url: "/content/inclusive-content/age" },
  { title: "Disabilities and conditions", url: "/content/inclusive-content/disabilities-and-conditions" },
  { title: "Ethnicity, religion and nationality", url: "/content/inclusive-content/ethnicity-religion-and-nationality" },
  { title: "Sex, gender and sexuality", url: "/content/inclusive-content/sex-gender-and-sexuality" },
  { title: "Skin symptoms", url: "/content/inclusive-content/skin-symptoms" }
] %}

{% set writeGoodQuestions = [
  { title: "Understand the problem before you write your questions", url: "/content/how-to-write-good-questions-for-forms/understand-the-problem-before-you-write-your-questions" },
  { title: "Make sure you need each question", url: "/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question" },
  { title: "Consider the sensitivities around your questions", url: "/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions" },
  { title: "Use filter questions to route users", url: "/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users" },
  { title: "Get the questions into order", url: "/content/how-to-write-good-questions-for-forms/get-the-questions-into-order" },
  { title: "Think of the form as a conversation", url: "/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation" },
  { title: "Write the supporting content for your form", url: "/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form" },
  { title: "Test your questions", url: "/content/how-to-write-good-questions-for-forms/test-your-questions" }
] %}

{% set styles = [
  { title: "Colour", url: "/design-system/styles/colour" },
  { title: "Focus state", url: "/design-system/styles/focus-state" },
  { title: "Icons", url: "/design-system/styles/icons" },
  { title: "Layout", url: "/design-system/styles/layout" },
  { title: "Page template", url: "/design-system/styles/page-template" },
  { title: "Spacing", url: "/design-system/styles/spacing" },
  { title: "Typography", url: "/design-system/styles/typography" },
  { title: "Use the NHS Frutiger font", url: "/design-system/styles/use-frutiger-font" }
] %}

{% set navigation = [
  { title: "Action link", url: "/design-system/components/action-link" },
  { title: "Back link", url: "/design-system/components/back-link" },
  { title: "Breadcrumbs", url: "/design-system/components/breadcrumbs" },
  { title: "Card", url: "/design-system/components/card" },
  { title: "Contents list", url: "/design-system/components/contents-list" },
  { title: "Footer", url: "/design-system/components/footer" },
  { title: "Header", url: "/design-system/components/header" },
  { title: "Pagination", url: "/design-system/components/pagination" },
  { title: "Skip link", url: "/design-system/components/skip-link" }
] %}

{% set contentPresentation = [
  { title: "Care cards", url: "/design-system/components/care-cards" },
  { title: "Details", url: "/design-system/components/details" },
  { title: "Do and Don't lists", url: "/design-system/components/do-and-dont-lists" },
  { title: "Expander", url: "/design-system/components/expander" },
  { title: "Images", url: "/design-system/components/images" },
  { title: "Inset text", url: "/design-system/components/inset-text" },
  { title: "Notification banners", url: "/design-system/components/notification-banners" },
  { title: "Panel", url: "/design-system/components/panel" },
  { title: "Review date", url: "/design-system/components/review-date" },
  { title: "Summary list", url: "/design-system/components/summary-list" },
  { title: "Table", url: "/design-system/components/table" },
  { title: "Tabs", url: "/design-system/components/tabs" },
  { title: "Tag", url: "/design-system/components/tag" },
  { title: "Task list", url: "/design-system/components/task-list" },
  { title: "Warning callout", url: "/design-system/components/warning-callout" }
] %}

{% set formElements = [
  { title: "Buttons", url: "/design-system/components/buttons" },
  { title: "Character count", url: "/design-system/components/character-count" },
  { title: "Checkboxes", url: "/design-system/components/checkboxes" },
  { title: "Date input", url: "/design-system/components/date-input" },
  { title: "Error message", url: "/design-system/components/error-message" },
  { title: "Error summary", url: "/design-system/components/error-summary" },
  { title: "Fieldset", url: "/design-system/components/fieldset" },
  { title: "Hint text", url: "/design-system/components/hint-text" },
  { title: "Radios", url: "/design-system/components/radios" },
  { title: "Select", url: "/design-system/components/select" },
  { title: "Text input", url: "/design-system/components/text-input" },
  { title: "Textarea", url: "/design-system/components/textarea" }
] %}


{% set askUsers = [
  { title: "NHS numbers", url: "/design-system/patterns/ask-for-nhs-numbers" }
] %}

{% set helpUsers = [
  { title: "Check answers", url: "/design-system/patterns/check-answers" },
  { title: "Complete multiple tasks", url: "/design-system/patterns/complete-multiple-tasks" },
  { title: "Decide when and where to get care (care cards)", url: "/design-system/patterns/help-users-decide-when-and-where-to-get-care" },
  { title: "Find British Sign Language content", url: "/design-system/patterns/find-bsl-content" },
  { title: "Know that a page is up to date", url: "/design-system/patterns/know-that-a-page-is-up-to-date" }
] %}

{% set pages = [
  { title: "A to Z page", url: "/design-system/patterns/a-to-z-page" },
  { title: "Confirmation page", url: "/design-system/patterns/confirmation-page" },
  { title: "Interruption page", url: "/design-system/patterns/interruption" },
  { title: "Mini-hub", url: "/design-system/patterns/mini-hub" },
  { title: "Question pages", url: "/design-system/patterns/question-pages" },
  { title: "Start page", url: "/design-system/patterns/start-page" }
] %}

{% set community = [
  { title: "Backlog of components and patterns", url: "/community-and-contribution/backlog-of-components-and-patterns" },
  { title: "Feed back or share insights", url: "/community-and-contribution/feed-back-or-share-insights" },
  { title: "Propose a component or pattern", url: "/community-and-contribution/propose-component-pattern" },
  { title: "Develop a component or pattern", url: "/community-and-contribution/develop-component-pattern" },
  { title: "Contribution criteria", url: "/community-and-contribution/contribution-criteria" },
  { title: "Community resources", url: "/community-and-contribution/community-resources" }
] %}

{% set whatsNew = [
  { title: "Updates", url: "/whats-new/updates" },
  { title: "Blog posts", url: "/whats-new/blog-posts" },
  { title: "Show and tells", url: "/whats-new/show-and-tells" }
] %}

<nav class="app-side-nav">

  {%- if pageSection == "Standards and technology" %}
    <h2 class="app-side-nav__heading">NHS service standard</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in serviceStandard %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Technology</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in technicalSpecifications %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

  {% endif %}


  {%- if pageSection == "Design system" and subSection != "Styles" and subSection != "Components" and subSection != "Patterns" %}
    <h2 class="app-side-nav__heading">Principles</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsPrinciples %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Setup</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsCode %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Design</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsDesign %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Update guides</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsGuides %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Styles" %}
    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in styles %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Components" %}
    <h2 class="app-side-nav__heading">Form elements</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in formElements %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Content presentation</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in contentPresentation %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Navigation</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in navigation %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Patterns" %}
    <h2 class="app-side-nav__heading">Ask users for</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in askUsers %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Help users to</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in helpUsers %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Pages</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in pages %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Accessibility" %}
    <h2 class="app-side-nav__heading">Everyone needs to know</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in accessibilityEveryone %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Accessibility guidance for:</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in accessibilityActivities %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Content guide" and subSection != "Health literacy" and subSection != "How to write good questions for forms" and subSection != "Inclusive content" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in content %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Inclusive content" %}
    <h2 class="app-side-nav__heading">Inclusive content <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in inclusiveContent %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "How to write good questions for forms" %}
    <h2 class="app-side-nav__heading">How to write good questions for forms <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in writeGoodQuestions %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Health literacy" %}
    <h2 class="app-side-nav__heading">Health literacy <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in healthLiteracy %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Community and contribution" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in community %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "What's new" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in whatsNew %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</nav>
