{% set serviceStandard = [
  { title: "NHS service standard", url: "/service-standard" },
  { title: "About the NHS service standard", url: "/service-standard/about" }
] %}

{% set dsPrinciples = [
  { title: "Design principles", url: "/design-system/design-principles" }
] %}

{% set dsCode = [
  { title: "Prototyping", url: "/design-system/prototyping" },
  { title: "Production code", url: "/design-system/production" }
] %}

{% set dsDesign = [
  { title: "Styles", url: "/design-system/styles" },
  { title: "Components", url: "/design-system/components" },
  { title: "Patterns", url: "/design-system/patterns" }
] %}

{% set guidanceByTopic = [
  { title: "Accessibility", url: "/guidance-by-topic/accessibility" },
  { title: "Information architecture", url: "/guidance-by-topic/information-architecture" }
] %}

{% set accessibilityEveryone = [
  { title: "What all NHS services need to do about accessibility", url: "/guidance-by-topic/accessibility/what-all-NHS-services-need-to-do" },
  { title: "How to make digital services accessible", url: "/guidance-by-topic/accessibility/how-to-make-digital-services-accessible" },
  { title: "Getting started with accessibility", url: "/guidance-by-topic/accessibility/getting-started" }
] %}

{% set accessibilityActivities = [
  { title: "Product and delivery", url: "/guidance-by-topic/accessibility/product-and-delivery" },
  { title: "User research", url: "/guidance-by-topic/accessibility/user-research" },
  { title: "Content", url: "/guidance-by-topic/accessibility/content" },
  { title: "Design", url: "/guidance-by-topic/accessibility/design" },
  { title: "Development", url: "/guidance-by-topic/accessibility/development" },
  { title: "Testing", url: "/guidance-by-topic/accessibility/testing" }
] %}

{% set content = [
  { title: "How we write", url: "/content/how-we-write" },
  { title: "Voice and tone", url: "/content/voice-and-tone" },
  { title: "Inclusive language", url: "/content/inclusive-language" },
  { title: "Make content about skin symptoms more inclusive", url: "/content/make-content-about-skin-symptoms-more-inclusive" },
  { title: "A to Z of NHS health writing", url: "/content/a-to-z-of-nhs-health-writing" },
  { title: "Health literacy", url: "/content/health-literacy" },
  { title: "How to write good questions for forms", url: "/content/how-to-write-good-questions-for-forms" },
  { title: "Numbers, measurements, dates and time", url: "/content/numbers-measurements-dates-time" },
  { title: "Formatting and punctuation", url: "/content/formatting-and-punctuation" },
  { title: "PDFs and other non-HTML documents", url: "/content/pdfs-and-other-non-html-documents" },
  { title: "Links", url: "/content/links" }
] %}

{% set writeGoodQuestions = [
  { title: "Understand the problem before you write your questions", url: "/content/how-to-write-good-questions-for-forms/understand-the-problem-before-you-write-your-questions" },
  { title: "Make sure you need each question", url: "/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question" },
  { title: "Consider the sensitivities around your questions", url: "/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions" },
  { title: "Use filter questions to route users", url: "/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users" },
  { title: "Get the questions into order", url: "/content/how-to-write-good-questions-for-forms/get-the-questions-into-order" },
  { title: "Think of the form as a conversation", url: "/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation" },
  { title: "Write the supporting content for your form", url: "/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form" },
  { title: "Test your questions", url: "/content/how-to-write-good-questions-for-forms/test-your-questions" }
] %}

{% set styles = [
  { title: "Colour", url: "/design-system/styles/colour" },
  { title: "Focus state", url: "/design-system/styles/focus-state" },
  { title: "Icons", url: "/design-system/styles/icons" },
  { title: "Layout", url: "/design-system/styles/layout" },
  { title: "Page template", url: "/design-system/styles/page-template" },
  { title: "Spacing", url: "/design-system/styles/spacing" },
  { title: "Typography", url: "/design-system/styles/typography" }
] %}

{% set navigation = [
  { title: "Action link", url: "/design-system/components/action-link" },
  { title: "Back link", url: "/design-system/components/back-link" },
  { title: "Breadcrumbs", url: "/design-system/components/breadcrumbs" },
  { title: "Card", url: "/design-system/components/card" },
  { title: "Contents list", url: "/design-system/components/contents-list" },
  { title: "Footer", url: "/design-system/components/footer" },
  { title: "Header", url: "/design-system/components/header" },
  { title: "Pagination", url: "/design-system/components/pagination" },
  { title: "Skip link", url: "/design-system/components/skip-link" }
] %}

{% set contentPresentation = [
  { title: "Care cards", url: "/design-system/components/care-cards" },
  { title: "Details", url: "/design-system/components/details" },
  { title: "Do and Don't lists", url: "/design-system/components/do-and-dont-lists" },
  { title: "Expander", url: "/design-system/components/expander" },
  { title: "Images", url: "/design-system/components/images" },
  { title: "Inset text", url: "/design-system/components/inset-text" },
  { title: "Summary list", url: "/design-system/components/summary-list" },
  { title: "Table", url: "/design-system/components/table" },
  { title: "Tag", url: "/design-system/components/tag" },
  { title: "Warning callout", url: "/design-system/components/warning-callout" }
] %}

{% set formElements = [
  { title: "Buttons", url: "/design-system/components/buttons" },
  { title: "Checkboxes", url: "/design-system/components/checkboxes" },
  { title: "Date input", url: "/design-system/components/date-input" },
  { title: "Error message", url: "/design-system/components/error-message" },
  { title: "Error summary", url: "/design-system/components/error-summary" },
  { title: "Fieldset", url: "/design-system/components/fieldset" },
  { title: "Hint text", url: "/design-system/components/hint-text" },
  { title: "Radios", url: "/design-system/components/radios" },
  { title: "Select", url: "/design-system/components/select" },
  { title: "Text input", url: "/design-system/components/text-input" },
  { title: "Textarea", url: "/design-system/components/textarea" }
] %}

{% set askUsers = [
  { title: "Ask users for their NHS number", url: "/design-system/patterns/ask-users-for-their-nhs-number" },
  { title: "Reassure users that a page is up to date", url: "/design-system/patterns/reassure-users-that-a-page-is-up-to-date" }
] %}

{% set pages = [
  { title: "A to Z page", url: "/design-system/patterns/a-to-z-page" },
  { title: "Mini-hub", url: "/design-system/patterns/mini-hub" },
  { title: "Start page", url: "/design-system/patterns/start-page" }
] %}

{% set community = [
  { title: "Backlog of components and patterns", url: "/community-and-contribution/backlog-of-components-and-patterns" },
  { title: "Propose a component or pattern", url: "/community-and-contribution/propose-component-pattern" },
  { title: "Develop a component or pattern", url: "/community-and-contribution/develop-component-pattern" },
  { title: "Contribution criteria", url: "/community-and-contribution/contribution-criteria" }
] %}

{% set whatsNew = [
    { title: "Updates", url: "/whats-new/updates" },
  { title: "Blog posts", url: "/whats-new/blog-posts" },
  { title: "Show and tells", url: "/whats-new/show-and-tells" }
] %}

{% set understandingIA = [
  { title: "What information architecture is", url: "/information-architecture/what-information-architecture-is/" },
  { title: "Understanding users", url: "javascript:void(0);" }
] %}

{% set iaInstructions = [
  { title: "Core IA process", url: "javascript:void(0);" },
  { title: "Process by scenario", url: "javascript:void(0);" },
  { title: "Adapting the process", url: "javascript:void(0);" }
] %}

{% set componetsAndPageTypes = [
  { title: "Navigation", url: "javascript:void(0);" },
  { title: "Linking components", url: "javascript:void(0);" },
  { title: "Page types", url: "javascript:void(0);" }
] %}

{% set aboutIA = [
  { title: "What information architecture is", url: "/guidance-by-topic/information-architecture/what-information-architecture-is" },
  { title: "Why information architecture is important", url: "/guidance-by-topic/information-architecture/why-information-architecture-is-important" },
  { title: "Principles of information architecture", url: "/guidance-by-topic/information-architecture/principles-of-information-architecture" },
  { title: "Your topic in a wider information architecture", url: "/guidance-by-topic/information-architecture/your-topic-in-a-wider-information-architecture" },
  { title: "Measure the success of your information architecture", url: "/guidance-by-topic/information-architecture/measure-the-success-of-your-information-architecture" }
] %}

{% set understandingUsers = [
  { title: "Information seeking modes", url: "javascript:void(0);" },
  { title: "Site wide user needs", url: "javascript:void(0);" },
  { title: "Understanding users mental models", url: "javascript:void(0);" }
] %}

{% set coreIaProcess = [
  { title: "Understanding", url: "javascript:void(0);" },
  { title: "Ideation", url: "javascript:void(0);" },
  { title: "Application", url: "javascript:void(0);" },
  { title: "Live", url: "javascript:void(0);" }
] %}

{% set adaptingTheProcess = [
  { title: "Evidence needed", url: "javascript:void(0);" },
  { title: "Feeding back insights", url: "javascript:void(0);" },
  { title: "Writing a case study as a blog post", url: "javascript:void(0);" }
] %}

{% set iaNavigation = [
  { title: "Navigation menu", url: "javascript:void(0);" },
  { title: "Sideways navigation", url: "javascript:void(0);" },
  { title: "Breadcrumbs", url: "javascript:void(0);" }
] %}

{% set iaPageTypes = [
  { title: "Content page", url: "javascript:void(0);" },
  { title: "Main topic hub page", url: "javascript:void(0);" },
  { title: "Sub topic hub page", url: "javascript:void(0);" }
] %}

{% set iaLinkingComponents = [
  { title: "Top tasks shortcut links", url: "javascript:void(0);" },
  { title: "Key links", url: "javascript:void(0);" },
  { title: "Canonical panel link", url: "javascript:void(0);" },
  { title: "Linking to external websites", url: "javascript:void(0);" }
] %}

<nav class="app-side-nav">

  {%- if pageSection == "NHS service standard" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in serviceStandard %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Design system" and subSection != "Styles" and subSection != "Components" and subSection != "Patterns" %}
    <h2 class="app-side-nav__heading">Principles</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsPrinciples %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Setup</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsCode %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Design</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsDesign %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Styles" %}
    {{ backLink({
      "href": "/design-system",
      "text": "Design system",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in styles %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Components" %}
    {{ backLink({
      "href": "/design-system",
      "text": "Design system",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">Form elements</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in formElements %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Content presentation</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in contentPresentation %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Navigation</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in navigation %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Patterns" %}
    {{ backLink({
      "href": "/design-system",
      "text": "Design system",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">Tasks</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in askUsers %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Page types</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in pages %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Guidance by topic" and subSection != "Accessibility" and subSection != "Information architecture" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in guidanceByTopic %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Accessibility" %}
    {{ backLink({
      "href": "/guidance-by-topic",
      "text": "Guidance by topic",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">Everyone needs to know</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in accessibilityEveryone %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Accessibility guidance for:</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in accessibilityActivities %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Information architecture" %}
    {{ backLink({
      "href": "/guidance-by-topic",
      "text": "Guidance by topic",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in aboutIA %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Content style guide" and subSection != "Health literacy" and subSection != "How to write good questions for forms"  %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in content %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "How to write good questions for forms" %}
    {{ backLink({
      "href": "/content",
      "text": "Content style guide",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">How to write good questions for forms <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in writeGoodQuestions %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if subSection == "Health literacy" %}
    {{ backLink({
      "href": "/content/health-literacy",
      "text": "Health literacy",
      "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
    }) }}
    <h2 class="app-side-nav__heading">Health literacy <span class="nhsuk-u-visually-hidden">navigation</span></h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in healthLiteracy %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Community and contribution" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in community %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "What's new" %}
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in whatsNew %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

</nav>
