{% set dsTRG = [
  { title: "The CCC's explained", url: "/trg/role-of-ccc" },
  { title: "Contacts", url: "/trg/contacts" },
 { title: "Data", url: "/trg/data" },
  { title: "Engineering", url: "/trg/engineering" },
  { title: "Enterprise Architecture", url: "/trg/EA" },
  { title: "Infrastructure", url: "/trg/infrastructure" },
  { title: "Security", url: "/trg/security" },
  { title: "Interoperability", url: "/trg/interop" },
  { title: "Service Management", url: "/trg/service-management" },
  { title: "Solution Assurance", url: "/trg/solution-assurance" },
  { title: "Usability", url: "/trg/usability" },
  { title: "Sustainability", url: "/trg/sustainability" }

] %}

{% set dsArchitecture = [
  { title: "Introduction", url: "/solution-architecture-framework/solution-architecture-framework" },
  { title: "Usage", url: "/solution-architecture-framework/usage" },
  { title: "Core Dimensions", url: "/solution-architecture-framework/core-dimensions" },
  { title: "Requirements", url: "/solution-architecture-framework/requirements" }
    { title: "Version History", url: "/solution-architecture-framework/architecture/saf-version-history" }
] %}

{% set dsSAFRequirements = [
  { title: "Strategic Alignment, Vision and Roadmap", url: "#S" },
  { title: "Decision Making & Governance", url: "#DM" },
  { title: "Solution Design & Methods", url: "#SD" },
  { title: "Technology Choices", url: "#T" },
  { title: "Non-Functional Profile", url: "#NF" },
  { title: "Reuse Principles and Development of Shared Services", url: "#RU" },
  { title: "Documentation", url: "#D" }
] %}

{% set dsInformation = [
  { title: "Data", url: "/useful-information/data" },
  { title: "Platform and Infrastructure", url: "/useful-information/platform-and-infrastructure" },
    { title: "Interoperability", url: "/useful-information/interop" },
      { title: "Cloud", url: "/useful-information/cloud" },
  { title: "Usability and Accessibility", url: "https://service-manual.nhs.uk" },
  { title: "Technology Standards", url: "https://aalto.digital.nhs.uk/#/runView/?viewId=15bf84d2-5f93-41dc-a043-e9386806f918&library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0" },
  { title: "Capabilities", url: "https://aalto.digital.nhs.uk/#/search?noQuery=true&types=300&viewMode=1&library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0" }

] %}

{% set whatsNew = [
  { title: "Updates", url: "/whats-new/updates" },
  { title: "Blog posts", url: "/whats-new/blog-posts" },
  { title: "Show and tells", url: "/whats-new/show-and-tells" }
] %}

<nav class="app-side-nav">

  {%- if pageSection == "Standards and technology" and subSection != "Solution Architecture Framework"%}
    <h2 class="app-side-nav__heading">NHS service standard</h2>
  {%- if pageSection == "TRG"%}
    <h2 class="app-side-nav__heading">TRG</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsTRG %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Technology</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in technicalSpecifications %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsArchitecture %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

  {% endif %}

  {%- if pageSection == "Standards and technology" and subSection == "Solution Architecture Framework" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
  {% endif %}

  {%- if pageSection == "Information"%}
    <h2 class="app-side-nav__heading">Useful Information</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsInformation %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}


  {%- if subSection == "Architecture" %}
    <h2 class="app-side-nav__heading">Architecture</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsArchitecture %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
    {%- if pageTitle == "Requirements" and item.title == "Requirements"%}
    {% for SAFitem in dsSAFRequirements %}
      <li class="app-side-nav__item{% if SAFitem.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ SAFitem.url }}">{{ SAFitem.title }}</a></li>
    {% endfor %}
    {% endif %}
       </li> </ul>
    {% endfor %}
  </ul>

  {% endif %}


</nav>
