{% extends "includes/layout.njk" %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds app-component-reading-width">

    <h1 class="app-page-heading">{{pageTitle}}</h1>


    {%- if hideDescription %}
    {% else %}
      <p class="nhsuk-lede-text app-lede-text">{{pageDescription}}</p>
    {% endif %}

  </div>
  <div class="nhsuk-grid-column-two-thirds app-component-reading-width">

    {% block bodyContent %}{% endblock %}

    {%- if dateUpdated %}
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">Updated: {{dateUpdated}}</p>
    </div>
    {% endif %}

  </div>

    {% block aside %}
    <aside class="nhsuk-grid-column-one-third">
      {% block asideContent %}
      {% endblock %}
    </aside>
    {% endblock %}
{% endblock %}
