{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">

    <div class="app-pane">

        <div class="app-pane__side-bar">
          {% block sideNav %}
            {% include './_side-nav.njk' %}
          {% endblock %}
        </div>

        <div class="app-pane__main-content">

          <h1 class="app-page-heading">
            {%- if landingPage == 'true' or pageTitle == 'Community' %}
            {% else %}
            <span class="nhsuk-caption-l">
            {%- if theme %}
              {{theme}}
              {% else %}
              {{pageSection}}
              {% endif %}
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
            {% endif %}
            {{pageTitle}}
            {%- if experimental == 'true' %}
            <div>
              <strong class="nhsuk-tag nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">
                Experimental
              </strong>
              <p class="nhsuk-body-m nhsuk-u-margin-bottom-0">This component is currently experimental. We need <a href="#research">more research</a> to validate it.</p>
            </div>
            {% endif %}
          </h1>

          {%- if hideDescription == 'true' %}
          {% else %}
            <p class="nhsuk-lede-text app-lede-text">{{pageDescription}}</p>
          {% endif %}

          {% block bodyContent %}
          {% endblock %}

          {% block contactPanel %}
            {%- if landingPage == 'true' or theme == 'Design' or theme == 'Content style guide' or pageTitle == 'Support' %}
            {% else %}
              {% include './_contact-panel.njk' %}
            {% endif %}
          {% endblock %}

          {%- if dateUpdated %}
          <div class="nhsuk-review-date app-review-date">
            <p class="nhsuk-body-s app-review-date__text">Updated: {{dateUpdated}}</p>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
