{% extends "includes/layout.njk" %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">

    <div class="app-pane">

        <div class="app-pane__side-bar">
          {% block sideNav %}
            {% include "./_side-nav.njk" %}
          {% endblock %}
        </div>

        <div class="app-pane__main-content">

          <h1 class="app-page-heading">
            {%- if landingPage or pageTitle == "Community" or pageTitle == "NHS standards and technical policy" %}
            {% else %}
            <span class="nhsuk-caption-l">
              {%- if subSection %}
                {%- if theme %}
                {{theme}}
                {% else %}
                {{subSection}}
                {% endif %}
              {% else %}
              {{pageSection}}
              {% endif %}
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
            {% endif %}
            {{pageTitle}}
          </h1>

          {%- if hideDescription %}
          {% else %}
            <p class="nhsuk-lede-text app-lede-text">{{pageDescription}}</p>
          {% endif %}

          {% block bodyContent %}
          {% endblock %}

          {% block contactPanel %}
            {% if hideContact != "true" %}
              {% if subSection === "Styles" or subSection === "Components" or subSection === "Patterns" or pageSection === "Content style guide" or pageSection === "Accessibility" or pageSection === "Standards and technology" %}
                {% include "./_contact-panel.njk" %}
              {% endif %}
              {% else %}
            {% endif %}
          {% endblock %}

          {% block afterContact %}
          {% endblock %}

          {%- if dateUpdated %}
            <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">Updated: {{dateUpdated}}</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
