{% block outerContent %}{% endblock %}
<div class="nhsuk-width-container">
  {% block beforeContent %}{% endblock %}
  <main class="nhsuk-main-wrapper{% if mainClasses %} {{ mainClasses }}{% endif %}" id="maincontent" role="main">
    {% block content %}{% endblock %}
  </main>
</div>
