{% macro designExample(params) %}

{% set examplePath = 'app/components/' + params.type + '.njk' %}
{% set standaloneURL = '/design-example/' + params.type %}

{% set html %}
  {{- getHTMLCode(examplePath) | highlight('html') | safe -}}
{% endset %}

{% set nunjucks %}
  {{- getNunjucksCode(examplePath) | highlight('js') | safe -}}
{% endset %}

{% set snippets = [{ name: 'HTML', code: html }, { name: 'Nunjucks', code: nunjucks }] %}

<div class="design-example">

  <a href="{{ standaloneURL }}" class="design-example__pop-out" target="_blank">Open in new window</a>
  <div class="code-embed">
      <iframe title="{{ params.type }}" src="{{ standaloneURL }}" frameborder="0" scrolling="yes"></iframe>
  </div>

  <div class="code-snippet">
      <ul class="app-tabs" role="tablist">
          {% for snippet in snippets %}
          <li class="app-tabs__item" role="presentation" data-index="ex-{{ loop.index }}">
              <a href="" role="tab" aria-controls="example-default-open-html" data-track="tab-html" aria-selected="true">
                {{ snippet.name }}
              </a>
          </li>
          {% endfor %}
      </ul>

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        {% for snippet in snippets %}
          <div class="app-tabs__item app-tabs__item--mobile" role="presentation" data-index="ex-{{ loop.index }}">
              <a href="" role="tab" aria-controls="example-default-open-html" data-track="tab-html" aria-selected="true">
                HTML
              </a>
          </div>
          <div class="code-snippet__preformatted js-hidden" data-index="ex-{{ loop.index }}">
              <a class="govuk-link app-link--copy" href="" aria-live="assertive">Copy</a>
              <pre><code class="{{ snippet.language }}">
                {{- snippet.code | safe -}}
              </code></pre>
              <button class="govuk-link app-link--close" href="#close" aria-live="assertive">
                  <svg><use xlink:href="#caret-right"></use></svg>Close
              </button>
          </div>
        {% endfor %}
      </div>
  </div>

</div>
{% endmacro %}
