<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Standalone example</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NHS digital service manual - standalone example" />

    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/design-example-overrides.css">

    <script src="/js/main.min.js" defer></script>
  </head>

  <body class="app-example-wrapper--full-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% from 'header/macro.njk' import header %}

    {{ header({
        "showNav": "false",
        "showSearch": "false"
      })
    }}

    {{ body | safe }}

    {% from 'footer/macro.njk' import footer %}

    {{ footer({
    })}}

    <script src="/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
  </body>

</html>
