{% macro designExample(params) %}

{% set examplePath = "app/components/" + params.type + ".njk" %}
{% set standaloneURL = "/design-example/" + params.type + "?fullpage=" + params.fullpage + "&blankpage=" + params.blankpage %}

{# `showExample` is true, unless explicitly turned off with params #}
{% set showExample = params.showExample !== false %}

{% set html %}
  {{- getHTMLCode(examplePath) | highlight('html') | safe -}}
{% endset %}

{% set nunjucks %}
  {{- getNunjucksCode(examplePath) | highlight('js') | safe -}}
{% endset %}


{#
  Set up the `snippets` array to be a definition of the types of snippet to
  display. If `params.htmlOnly` is true, the only snippet type to show is HTML.
  Otherwise we show HTML and nunjucks.

  Code definitions should be an object with a `name` and the raw `code` to
  render onto the page with the `|safe` filter.
#}
{% set htmlDefinition = { name: 'HTML', code: html } %}
{% set nunjucksDefinition = { name: 'Nunjucks', code: nunjucks } %}
{% if params.htmlOnly %}
  {% set snippets = [htmlDefinition] %}
{% else %}
  {% set snippets = [htmlDefinition, nunjucksDefinition] %}
{% endif %}

<div class="design-example">

  {% if showExample %}
    <a href="{{ standaloneURL }}" class="design-example__pop-out" target="_blank" rel="noopener noreferrer">Open this <span class="nhsuk-u-visually-hidden">{{ params.type|lower|replace("-", " ") }}</span> example in new window</a>
    <div class="code-embed">
        <iframe title="{{ params.type }}" src="{{ standaloneURL }}" frameborder="0" scrolling="yes"></iframe>
    </div>
  {% endif %}

  <div class="code-snippet">
      {% if snippets|length >= 1 %}
          <ul class="app-tabs" role="tablist">
              {% for snippet in snippets %}
              <li class="app-tabs__item" role="presentation" data-index="ex-{{ loop.index }}">
                  <a href="" role="tab" aria-controls="example-default-open-html" data-track="tab-html" aria-selected="true">
                    {{ snippet.name }}
                  </a>
              </li>
              {% endfor %}
          </ul>
      {% endif %}

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        {% for snippet in snippets %}
          {% if snippets|length >= 1 %}
          <div class="app-tabs__item app-tabs__item--mobile" role="presentation" data-index="ex-{{ loop.index }}">
              <a href="" role="tab" aria-controls="example-default-open-html" data-track="tab-html" aria-selected="true">
                {{ snippet.name }}
              </a>
          </div>
          {% endif %}
          <div class="code-snippet__preformatted {% if snippets|length >= 1 %}js-hidden{% endif %}" data-index="ex-{{ loop.index }}">
              <a class="app-link--copy" href="" aria-live="assertive">Copy</a>
              <pre><code class="{{ snippet.language }}">
                {{- snippet.code | safe -}}
              </code></pre>
              {% if snippets|length >= 1 %}
              <button class="app-link--close" href="#close" aria-live="assertive">
                Close
              </button>
              {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>

</div>
{% endmacro %}
