{% from 'feedback-banner/macro.njk' import feedbackBanner %}

{{ feedbackBanner({
  "title": "This is a new service",
  "content": "Help us make it better.",
  "href": "https://nhsdigital.eu.qualtrics.com/jfe/form/SV_4SKczWOHvnneiWh",
  "label": "Complete our quick survey"
}) }}
