{% from 'components/footer/macro.njk' import footer %}

{{ footer({
  "links": [
    {
      "URL": "/service-manual/cookies",
      "label": "Cookies"
    },
    {
      "URL": "/service-manual/sitemap",
      "label": "Sitemap"
    },
    {
      "URL": "/service-manual/terms-and-conditions",
      "label": "Terms and conditions"
    },
    {
      "URL": "/service-manual/privacy-policy",
      "label": "Privacy policy"
    }
  ]
})}}
