{% from 'components/footer/macro.njk' import footer %}

{{ footer({
  "links": [
    {
      "URL": "/service-manual/cookies",
      "label": "Cookies"
    },
    {
      "URL": "/service-manual/sitemap",
      "label": "Sitemap"
    },
    {
      "URL": "/service-manual/terms-and-conditions",
      "label": "Terms and conditions"
    },
    {
      "URL": "/service-manual/privacy-policy",
      "label": "Privacy policy"
    }
  ]
})}}
<div class="nhsuk-width-container">
    <ul class="nhsuk-footer__list">
      <p><svg role="presentation" height="17" width="41">
        <use xlink:href="#ogl-logo"></use></svg>
         All content is available under the <a class="nav__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated.</p>
    </ul>
</div>