{% from 'components/footer/macro.njk' import footer %}

{{ footer({
  "links": [
    {
      "URL": "/cookies",
      "label": "Cookies"
    },
    {
      "URL": "/sitemap",
      "label": "Sitemap"
    },
    {
      "URL": "https://github.com/nhsuk/nhsuk-frontend",
      "label": "Download NHS.UK frontend from Github"
    }
  ]
})}}
