{% from 'header/macro.njk' import header %}

{%- if pageTitle == 'Search' %}
  {{ header({
    "homeHref": "/service-manual/",
    "ariaLabel": "NHS digital service manual homepage",
    "service": {
      "name": "Digital service manual",
      "longName": "true"
    },
    "showNav": "true",
    "showSearch": "false",
    "searchAction": "/service-manual/search/",
    "primaryLinks": [
      {
        "url"  : "/service-manual/get-started",
        "label" : "Get started"
      },
      {
        'url' : '/service-manual/styles-components-patterns/styles',
        'label' : 'Core styles'
      },
      {
        'url'  : '/service-manual/styles-components-patterns/components',
        'label' : 'Components'
      },
      {
        'url'  : '/service-manual/styles-components-patterns/patterns',
        'label' : 'Patterns'
      },
      {
        'url'  : '/service-manual/content',
        'label' : 'Content style guide'
      },
      {
        'url' : '/service-manual/accessibility',
        'label' : 'Accessibility'
      },
      {
        'url' : '/service-manual/community',
        'label' : 'Community'
      }
    ]
    })
  }}
{% else %}
  {{ header({
    "homeHref": "/service-manual/",
    "ariaLabel": "NHS digital service manual homepage",
    "service": {
      "name": "Digital service manual",
      "longName": "true"
    },
    "showNav": "true",
    "showSearch": "true",
    "searchAction": "/service-manual/search/",
    "primaryLinks": [
      {
        "url"  : "/service-manual/get-started",
        "label" : "Get started"
      },
      {
        'url' : '/service-manual/styles-components-patterns/styles',
        'label' : 'Core styles'
      },
      {
        'url'  : '/service-manual/styles-components-patterns/components',
        'label' : 'Components'
      },
      {
        'url'  : '/service-manual/styles-components-patterns/patterns',
        'label' : 'Patterns'
      },
      {
        'url'  : '/service-manual/content',
        'label' : 'Content style guide'
      },
      {
        'url' : '/service-manual/accessibility',
        'label' : 'Accessibility'
      },
      {
        'url' : '/service-manual/community',
        'label' : 'Community'
      }
    ]
    })
  }}
{% endif %}
