{% from 'header/macro.njk' import header %}

{{ header({
  "homeHref": "/service-manual/",
  "service": {
    "name": "Digital service manual",
    "longName": "true"
  },
  "showNav": "false",
  "showSearch": "true"
  })
}}
