{%- from 'header/macro.njk' import header %}
{%- from 'footer/macro.njk' import footer %}
{%- from 'skip-link/macro.njk' import skipLink %}
{%- from 'action-link/macro.njk' import actionLink %}
{%- from 'nav-a-z/macro.njk' import azNav %}
{%- from 'breadcrumb/macro.njk' import breadcrumb %}
{%- from 'care-card/macro.njk' import careCard %}
{%- from 'contents-list/macro.njk' import contentsList %}
{%- from 'details/macro.njk' import details %}
{%- from 'header/macro.njk' import header %}
{%- from 'hero/macro.njk' import hero %}
{%- from 'footer/macro.njk' import footer %}
{%- from 'do-dont-list/macro.njk' import list %}
{%- from 'images/macro.njk' import image %}
{%- from 'inset-text/macro.njk' import insetText %}
{%- from 'list-panel/macro.njk' import listPanel %}
{%- from 'pagination/macro.njk' import pagination %}
{%- from 'skip-link/macro.njk' import skipLink %}
{%- from 'tables/macro.njk' import table %}
{%- from 'warning-callout/macro.njk' import warningCallout %}
{%- from 'back-link/macro.njk' import backLink %}
{%- from 'button/macro.njk' import button %}
{%- from 'checkboxes/macro.njk' import checkboxes %}
{%- from 'date-input/macro.njk' import dateInput %}
{%- from 'error-message/macro.njk' import errorMessage %}
{%- from 'error-summary/macro.njk' import errorSummary %}
{%- from 'fieldset/macro.njk' import fieldset %}
{%- from 'hint/macro.njk' import hint %}
{%- from 'input/macro.njk' import input %}
{%- from 'label/macro.njk' import label %}
{%- from 'radios/macro.njk' import radios %}
{%- from 'select/macro.njk' import select %}
{%- from 'summary-list/macro.njk' import summaryList %}
{%- from 'textarea/macro.njk' import textarea %}
{%- from 'includes/design-example.njk' import designExample %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}" />
    {%- block extraMeta %}{% endblock %}

    <title>{% if pageTitle %}{{ pageTitle }} - NHS digital service manual{% else %}NHS digital service manual{% endif %}</title>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.min.js" defer></script>

    <!-- Cookie consent -->
    <script src="/js/cookies.min.js" data-policy-url="/cookie-policy" defer></script>

    <!-- Adobe Analytics -->
    {% if adobeTrackingUrl %}
      <!-- Data Layer -->
      {% include "includes/_digital-data.njk" %}
      <script src="{{ adobeTrackingUrl }}" type="text/plain" data-cookieconsent="statistics" async></script>
    {% endif %}

    <!-- Verify domain with Google -->
    <meta name="google-site-verification" content="Prj4LS7KX0amTkqVrOlnEyldVIjzJqbnXgPL1zbHocM" />

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="{{ BASE_URL }}"/>
    <meta property="og:site_name" content="nhs.uk"/>
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - NHS digital service manual{% else %}NHS digital service manual{% endif %}"/>
    <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:image" content="{% if BASE_URL %}{{ BASE_URL }}{% endif %}{% if pageSection %}/assets/open-graph_{{pageSection | lower | replace(" ", "_") | replace("'", "")}}.png{% else %}/assets/open-graph.png{% endif %}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
    <meta name="twitter:image:alt" content="nhs.uk">

  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    {% include "includes/_header.njk" %}

    {% block breadcrumb %}
      {{ breadcrumb({
        href: "/",
        text: "Home",
        classes: "app-breadcrumb"
      }) }}
    {% endblock %}

    {% block outerBody %}{% endblock %}

    {%- if beta %}
    {% include "includes/_beta-banner.njk" %}
    {% endif %}

    {%- if newGuidance %}
    {% include "includes/_new-guidance-banner.njk" %}
    {% endif %}

    {% if pageLayout != "Homepage" %}
    <div class="nhsuk-width-container app-width-container">
      <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
        {% block body %}{% endblock %}
      </main>
    </div>

    {% endif %}

    {% include "includes/_footer.njk" %}

    {% block pageScripts %}{% endblock %}
  </body>

</html>
