{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}" />

    <title>{% if pageTitle %}{{pageTitle}} - NHS digital service manual{% else %}NHS digital service manual{% endif %}</title>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <link rel="stylesheet" href="/css/main.min.css">

    <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W8BPX7Q');</script>
    <!-- End Google Tag Manager -->

    <!-- Adobe analytics removed until we can stop it from conficting with our copy button
    <script src="//assets.adobedtm.com/launch-ENe7f6cdd7cc05409b86547d9153429788.min.js" async></script>
    -->
    <script src="/js/bundle.min.js" defer></script>

    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary.html -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nhsuk" />
    <meta name="twitter:title" content="{% if pageTitle %}{{pageTitle}} - NHS digital service manual{% else %}NHS digital service manual{% endif %}" />
    <meta name="twitter:description" content="{% if pageDescription %}{{pageDescription}}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}" />
    <meta name="twitter:image" content="/assets/open-graph.png" />

    <!-- https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://beta.nhs.uk/service-manual/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if pageTitle %}{{pageTitle}} - NHS digital service manual{% else %}NHS digital service manual{% endif %}" />
    <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}" />
    <meta property="og:image" content="/assets/open-graph.png" />

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8BPX7Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'includes/header.njk' %}

    {% block breadcrumb %}
      {{ breadcrumb({
        href: "/service-manual/",
        text: "Home"
      }) }}
    {% endblock %}

    {% block outerBody %}{% endblock %}

    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="maincontent">
        {% block body %}{% endblock %}
      </main>
    </div>

    {% include 'includes/footer.njk' %}
  </body>

</html>
