{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "11. Choose the right tools and technology" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "NHS service standard" %}
{% set pageDescription = "Choose tools and technology that let you build a good service in an efficient, cost effective way." %}
{% set beta = true %}
{% set dateUpdated = "April 2025" %}
{% set backlog_issue_id = "354" %}

{% block beforeContent %}
  {% include "standards-and-technology/service-standard-points/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">Build a sustainable service which allows you to change direction in future.</p>

  <h2>Why it's important</h2>
  <p>When you make a decision about technology, you're making a significant investment. The choices you make will have a huge impact on your ability to create, iterate and operate the service in a flexible, sustainable way.</p>

  <h2>What you should do</h2>
  <p>When considering technical architecture, choice of programming languages, development toolchain and other technology choices, your team should be able to show that you:</p>
  <ul>
    <li>use appropriate tools and technologies to create and operate a good service in a cost effective way – for example, by automating things where possible</li>
    <li>use HTML5 by default</li>
    <li>have made good decisions about what technology to reuse or build and what to buy</li>
    <li>understand tech decisions that have been made outside your team and challenge these decisions where it will improve the service</li>
    <li>understand total cost of ownership of the technology and have kept the ability to make different choices in future - for example, reducing the chances of getting locked into contracts for specific tools and suppliers by using open standards</li>
    <li>encourage team members to challenge existing processes and re-use resources</li>
    <li>use standard NHS technology components where possible, for example: the <a href="/standards-and-technology/technology/NHS-login">NHS login</a> to authenticate identity and the <a href="/standards-and-technology/technology/personal-demographics-service-PDS">Personal Demographics Service (PDS)</a> to manage patient demographic data</li>
    <li>have an effective approach to managing any legacy technology the service integrates with or depends on</li>
    <li>use the <a href="https://www.digitalregulations.innovation.nhs.uk/">AI and Digital Regulations Service website</a> to help you make decisions about buying digital healthcare technologies</li>
  </ul>

  <h2>Guidance</h2>

  <h3>NHS service manual</h3>
  <ul>
    <li><a href="/standards-and-technology/technology/NHS-login">NHS login</a></li>
    <li><a href="/standards-and-technology/technology/personal-demographics-service-PDS">Personal Demographics Service (PDS)</a></li>
  </ul>
  <h3>GOV.UK resources</h3>
  <ul>
    <li><a href="https://www.gov.uk/service-manual/technology/using-progressive-enhancement">Building a resilient frontend using progressive enhancement</a></li>
    <li><a href="https://www.gov.uk/service-manual/technology/choosing-technology-an-introduction">Choosing technology: an introduction</a></li>
    <li><a href="https://www.gov.uk/service-manual/design/environmentally-sustainable-services">Environmentally sustainable services</a></li>
    <li><a href="https://www.gov.uk/guidance/make-your-technology-sustainable">Make your technology sustainable</a></li>
    <li><a href="https://www.gov.uk/government/publications/technology-code-of-practice">Technology Code of Practice</a></li>
    <li><a href="https://www.gov.uk/service-manual/technology/working-with-open-standards">Working with open standards</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://digital.nhs.uk/developer/architecture/principles/deliver-sustainable-services">All digital services need to be delivered sustainably – part of NHS architecture principles (NHS England)</a></li>
    <li><a href="https://www.gov.uk/government/publications/code-of-conduct-for-data-driven-health-and-care-technology/initial-code-of-conduct-for-data-driven-health-and-care-technology">A guide to good practice for digital and data-driven health technologies</a> (Department of Health and Social Care)</li>
    <li><a href="https://developer.nhs.uk/">Developer and integration hub</a> (NHS England)</li>
    <li><a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services">Identity verification and authentication standard for digital health and care services, DAPB3051 (NHS England, previously DCB3051)</a></li>
  </ul>

{% endblock %}

{% block afterContact %}

  {{ pagination({
    previous: {
      labelText: "Point 10",
      href: "/standards-and-technology/service-standard-points/10-define-what-success-looks-like-and-be-open-about-how-your-service-is-performing"
    },
    next: {
      labelText: "Point 12",
      href: "/standards-and-technology/service-standard-points/12-make-new-source-code-open"
    }
  }) }}

  {% endblock %}
