{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "2. and 3. Work towards solving a whole problem for users and provide a joined up experience across all channels" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "NHS service standard" %}
{% set pageDescription = "Consider where your service fits in your users' healthcare journey and whether you can solve a whole problem or influence a wider solution." %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "337" %}

{% block beforeContent %}
  {% include "standards-and-technology/service-standard-points/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">Collaborate across team, programme and organisational boundaries and create a service that meets users' needs across all channels.</p>

  {{ insetText({
    text: "In the GOV.UK service standard, these are 2 separate points but our user research showed that it helped digital teams working in health to deal with them together.",
    classes: "nhsuk-u-margin-top-0"
  }) }}

  <h2>Why it's important</h2>
  <p>Health is complex. People often do not know how health and care organisations and services fit together. It helps if you can bring things together into a journey which makes sense to users, irrespective of which organisation they "belong" to or the channel they use.</p>

  <p>You may not be able to fix a whole problem, but you may be able to improve it and to support or influence a wider solution.</p>

  <h2>What you should do</h2>
  <p>Your team should be able to show that you:</p>
  <ul>
    <li>understand where the user need you're addressing fits into wider healthcare journeys or how it will join up with other things to solve a whole problem for users</li>
    <li>make it easy for users to focus on the next step in a journey or in managing their health, helping them get the right help from the right place at the right time</li>
    <li>are addressing any problems with internal processes, policy or legislation that make it difficult to join things up and to address a whole problem</li>
    <li>work with front line and admin staff, where appropriate, and invite them and policy people to attend user research and to contribute to decisions</li>
    <li>research, test and make changes to users' experience of online and offline channels (for example, call centre scripts and letters)</li>
    <li>minimise the number of times users provide the same information to NHS services (while respecting their privacy)</li>
    <li>have a viable service with a scope that is based on how users think - not too wide and not too narrow</li>
    <li>have considered alternatives to creating a service - for example, running a health campaign, partnering with another organisation, or making an API available - or doing nothing</li>
    <li>have built relationships with other teams and organisations to make your service more effective</li>
    <li>work in the open so that people outside the organisation know what you are doing, to increase the potential for collaboration and reduce duplication of effort</li>
  </ul>

  <h2>Guidance</h2>
  <h3>GOV.UK resources</h3>
  <ul>
    <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/encouraging-people-to-use-your-digital-service">Encouraging people to use your service online</a></li>
    <li><a href="https://www.gov.uk/service-manual/design/scoping-your-service">Getting the scope of your transaction right</a></li>
    <li><a href="https://www.gov.uk/service-manual/agile-delivery/working-across-organisational-boundaries">Working across organisational boundaries</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://digital.nhs.uk/blog/design-matters/2022/how-a-20-year-old-standard-is-still-relevant-today">How a 20-year-old standard is still relevant today (NHS Digital blog)</a>, 2022</li>
    <li><a href="https://digital.nhs.uk/blog/transformation-blog/2019/how-to-design-a-login-for-the-modern-nhs">How to design a login for the modern NHS (NHS Digital blog)</a>, 2019</li>
    <li><a href="https://services.blog.gov.uk/2022/03/16/how-service-teams-are-solving-a-whole-problem-for-users/">How service teams are solving a whole problem for users (GOV.UK blog)</a>, 2022</li>
    <li><a href="https://digital.nhs.uk/blog/design-matters/2021/it-takes-a-village-to-design-a-service">It takes a village to design a service (NHS Digital blog)</a>, 2021</li>
  </ul>

{% endblock %}

{% block afterContact %}

{{ pagination({
    previousUrl: "/standards-and-technology/service-standard-points/1-understand-users-and-their-needs-context-health-and-care",
    previousPage: "Point 1",
    nextUrl: "/standards-and-technology/service-standard-points/4-make-the-service-simple-to-use",
    nextPage: "Point 4"
  }) }}

{% endblock %}
