{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "5. Make sure everyone can use the service" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "NHS service standard" %}
{% set pageDescription = "Make sure people with different physical, mental health, social, cultural or learning needs can use your service, whether it's for the public or staff." %}
{% set dateUpdated = "January 2024" %}
{% set backlog_issue_id = "339" %}

{% block beforeContent %}
  {% include "standards-and-technology/service-standard-points/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">Also people who do not have access to the internet or lack the skills or confidence to use it.</p>
  <p class="nhsuk-lede-text app-lede-text">Build an inclusive service so that everyone gets the care they need.</p>
  <h2>Why it's important</h2>
  <p>The <a href="https://www.gov.uk/government/publications/the-nhs-constitution-for-england/the-nhs-constitution-for-england">NHS Constitution (GOV.UK)</a> says that NHS services are for everyone. We have a duty to consider everyone’s needs when we’re designing and delivering services.</p>
  <p>Inclusive, accessible services are better for everyone. For example, using simple words helps people who are sick or stressed as well as people who have a learning disability.</p>
  <h3>What we mean by inclusion and accessibility</h3>
  <p>Inclusion is about responding to people's differences so that everyone:</p>
  <ul>
    <li>feels NHS services are for them</li>
    <li>can access the services they need, regardless of their background, identity or circumstances</li>
  </ul>
  <p>Accessibility is about making digital services work for everyone, including people who face barriers related to:</p>
  <ul>
    <li>hearing, like people who are Deaf or have hearing loss</li>
    <li>mobility, like people who find it difficult to use a mouse</li>
    <li>thinking or understanding in a different way, like autistic people or people with dyslexia or learning difficulties</li>
    <li>vision, like people who are blind, partially sighted or colour blind</li>
  </ul>
  <h2>What you should do</h2>
  <p>Your team should be able to show that you:</p>
  <ul>
    <li>meet accessibility standards for online and offline parts, including WCAG2.2 AA and the 2018 accessibility regulations</li>
    <li>understand who the most vulnerable users for your service are and include them in user research, for example: people with access needs, people with low socio-economic status (D and E), older people, and black and minority ethnic people</li>
    <li>make sure you do not exclude any groups your service serves, for example because they lack digital skills or internet access, and you provide assisted digital support to cover any gaps</li>
    <li>avoid making any groups of people feel excluded</li>
    <li>design for low digital and health literacy</li>
    <li>involve users and communities at all stages, from strategy through design and implementation</li>
  </ul>

  <h2>Guidance</h2>

  <h3>NHS digital service manual</h3>
  <ul>
    <li><a href="/accessibility">Accessibility: how to make digital services in the NHS work for everyone</a></li>
    <li><a href="/content/health-literacy">Health literacy</a></li>
    <li><a href="/content/inclusive-content">Inclusive content</a></li>
  </ul>

  <h3>GOV.UK resources</h3>
  <ul>
    <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/designing-assisted-digital">Designing assisted digital support</a></li>
    <li><a href="https://www.gov.uk/service-manual/user-research/find-user-research-participants">Finding participants for user research</a></li>
    <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction">Making your service more accessible: an introduction</a></li>
    <li><a href="https://www.gov.uk/service-manual/design/making-your-service-more-inclusive">Making your service more inclusive</a></li>
    <li><a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">Understanding accessibility requirements for public sector bodies</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://www.england.nhs.uk/ourwork/accessibleinfo/">Accessible Information Standard (NHS England)</a> – this is about identifying, recording and meeting the support needs of patients, carers and parents with a disability, impairment or sensory loss</li>
    <li><a href="https://userresearch.blog.gov.uk/2020/05/20/conducting-remote-research-with-people-with-access-needs/">Conducting remote research with people with access need (GOV.UK)</a>, 2020 </li>
    <li><a href="https://digital.nhs.uk/about-nhs-digital/our-work/digital-inclusion">Digital inclusion for health and social care (NHS Digital)</a>, 2018</li>
    <li><a href="https://transform.england.nhs.uk/key-tools-and-info/involving-people-and-communities-in-digital-services/">Involving people and communities in digital services (NHS England)</a>, 2021</li>
  </ul>

{% endblock %}

{% block afterContact %}

  {{ pagination({
    previous: {
      labelText: "Point 4",
      href: "/standards-and-technology/service-standard-points/4-make-the-service-simple-to-use"
    },
    next: {
      labelText: "Point 6",
      href: "/standards-and-technology/service-standard-points/6-create-a-team-that-includes-multidisciplinary-skills-and-perspectives"
    }
  }) }}

{% endblock %}
