{% set pageTitle = "6. Create a team that includes multidisciplinary skills and perspectives" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "NHS service standard" %}
{% set pageDescription = "Make sure you have the right - and diverse - skills and roles to build and operate the service." %}
{% set dateUpdated = "March 2022" %}
{% set backlog_issue_id = "340" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "standards-and-technology/service-standard-points/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">Make as many decisions as possible in the team so that you can respond quickly to what you learn about users and their needs.</p>

  <h2>Why it's important</h2>
  <p>A team with diversity of expertise and perspectives is more likely to come up with the best solution. The size and roles you'll need will change as you build the service.</p>

  <p>You will get most value from the broad range of roles recommended by the Government Digital Service.</p>

  <h2>What you should do</h2>
  <p>You should be able to show that your team:</p>
  <ul>
    <li>is a multidisciplinary team that will help you achieve what you need to in each phase of development</li>
    <li>is co-located as far as possible</li>
    <li>includes people with expertise in how services are delivered across all the relevant channels, and the back end systems the service will need to integrate with</li>
    <li>has access to the specialist expertise it needs (for example clinical, legal or policy expertise, from inside or outside the organisation)</li>
    <li>will help you deal with what you believe are your riskiest assumptions</li>
  </ul>
  <p>If the team is working with contractors and outside suppliers, you must make sure it's on a sustainable basis.</p>

  <h2>Guidance</h2>
  <h3>NHS service manual</h3>
  <p>See also service standard point <a href="/standards-and-technology/service-standard-points/16-make-your-service-clinically-safe">16: Make your service clinically safe</a></p>

  <h3>GOV.UK resources</h3>
  <ul>
    <li><a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework">Digital, Data and Technology Profession Capability Framework</a>: digital, data and technology (DDaT) roles in government and the skills needed to do them</li>
    <li><a href="https://www.gov.uk/service-manual/the-team">The team</a></li>
    <li><a href="https://www.gov.uk/service-manual/the-team/working-contractors-third-parties">Working with contractors or third parties</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://digital.nhs.uk/blog/design-matters/2022/how-a-20-year-old-standard-is-still-relevant-today">How a 20-year-old standard is still relevant today</a> (NHS Digital blog, 2022)</li>
  </ul>
{% endblock %}

{% block afterContact %}

   {{ pagination({
    previous: {
      labelText: "Point 5",
      href: "/standards-and-technology/service-standard-points/5-make-sure-everyone-can-use-the-service"
    },
    next: {
      labelText: "Point 7",
      href: "/standards-and-technology/service-standard-points/7-use-agile-ways-of-working"
    }
  }) }}

  {% endblock %}
