{% set pageTitle = "7. Use agile ways of working" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "NHS service standard" %}
{% set pageDescription = "Make sure that the team can deliver quickly and adapt to meet users' needs." %}
{% set dateUpdated = "July 2021" %}
{% set backlog_issue_id = "341" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "standards-and-technology/service-standard-points/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">Use agile principles, tools and governance and resource the team flexibly.</p>

  <h2>Why it's important</h2>
  <p>Using agile, iterative, user-centred ways of working will help you get your service in front of real users as soon as possible. Then observing and analysing data on how they use it, and iterating the service based on what you've learned.</p>
  <p>Because you're not specifying everything up front before you've developed an understanding of what users need, you will reduce the risk of delivering the wrong thing.</p>

  <h2>What you should do</h2>
  <p>Your team should be able to show that you:</p>
  <ul>
    <li>use agile ways of working, researching, learning and changing as you go</li>
    <li>make decisions with senior stakeholders that allow you to adapt and change</li>
    <li>make sure that the right people know what's happening at the right level of detail</li>
    <li>are resourced flexibly</li>
  </ul>

  <h2>Guidance</h2>
  <h3>NHS service manual</h3>
  <p>See also service standard point <a href="/standards-and-technology/service-standard-points/8-iterate-and-improve-frequently">8. Iterate and improve frequently</a>.</p>

  <h3>GOV.UK resources</h3>
    <ul>
    <li><a href="https://www.gov.uk/service-manual/agile-delivery">Agile delivery: how to work in an agile way: principles, tools and governance.</a></li>
    <li><a href="https://www.gov.uk/service-manual/agile-delivery/governance-principles-for-agile-service-delivery">Governance principles for agile service delivery</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://defradigital.blog.gov.uk/2017/09/19/lets-fund-teams-not-projects/">Let's fund teams, not projects</a> (Defra digital blog, 2017)</li>
  </ul>

{% endblock %}

{% block afterContact %}

  {{ pagination({
    previous: {
      labelText: "Point 6",
      href: "/standards-and-technology/service-standard-points/6-create-a-team-that-includes-multidisciplinary-skills-and-perspectives"
    },
    next: {
      labelText: "Point 8",
      href: "/standards-and-technology/service-standard-points/8-iterate-and-improve-frequently"
    }
  }) }}

  {% endblock %}
