
// Utility to add blue top border to sections

.app-u-border-top {
  border-top: 2px solid $color_nhsuk-blue;
  margin-top: 8px;

  h3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

}

// Component examples

.app-example {
  background: $color_nhsuk-grey-5;
  border: 1px solid #d8dde0;
  margin: 40px 0 0;
  overflow: hidden;
  padding: 64px 16px 16px;
  position: relative;

  &:before {
    background: #425563;
    color: #fff;
    content: 'EXAMPLE';
    font-size: 12px;
    font-weight: 600;
    left: -1px;
    padding: 12px 16px;
    position: absolute;
    top: -1px;
  }

}

// Code snippet highlighting

.rich-text code {
  font-size: 1rem;
  padding: 4px 8px;
  color: #990155;
  background-color: #fff;
}

.rich-text-code code {
  font-size: 1rem;
  padding: 4px 8px 0px 0px;
  color: #330072;
  background-color: #fff;
}

.nhsuk-o-grid--example .nhsuk-o-grid__item p {
    padding: 20px;
    margin: 30px 0 0;
    color: #fff;
    text-align: center;
    background-color: #004ba4;
}


.code-snippet__preformatted {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #d8dde0;
}

.hljs {
    padding: 0;
    overflow-x: scroll;
    color: #28333b;
    background-color: #fff;
    display: block;
}

.hljs.css .hljs-selector-class, .hljs.css .hljs-selector-tag, .hljs.css .hljs-keyword {
    color: #330072;
}

.app-tabs__container pre {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    padding: 0;
    background-color: #fff;
}



.example-code {
    background: #fff;
    border: 1px solid #d8dde0;
    margin: 40px 0 0;
    overflow: hidden;
    padding: 16px 16px 16px 16px;
    position: relative;
}


.colour-block {
    margin: 30px 0;
}

.colour-block__description {
    margin-bottom: 30px;
}


.colour-block__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    margin: -10px;
}

.colour-item {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    color: black;
}

.colour-item__swatch {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 50%;
}

.colour-item__heading {
    margin-top: 10px;
    color: black;
}



/* A to Z stuff starts */

.nhsuk-a-z-list--results-items .nhsuk-back-to-top-link {
    display: inline-block;
    margin-top: 16px;
    padding-left: 12px;
    position: relative;
}

@media (min-width: 40.0625em) {
    .nhsuk-back-to-top-link {
        font-size: 19px;
    }
}

.nhsuk-a-z-list--results-items .nhsuk-back-to-top-link:visited {
    color: #005EB8;
}

.nhsuk-a-z-list--results-items .nhsuk-back-to-top-link .nhsuk-icon {
    transform: rotate(270deg);
    height: 19px;
    left: -8px;
    position: absolute;
    top: 4px;
    width: 19px;
    fill: #005EB8;
}

.nhsuk-icon__arrow-right {
    fill: #005EB8;
}

.nhsuk-a-z-list--results-items h2 {
    background: #005EB8;
    color: #FFFFFF;
    display: inline-block;
    padding: 8px 16px;
}


/* A to Z stuff ends */


/* Sections stuff starts */

.nhsuk-section {
    display: block;
}

.nhsuk-section .nhsuk-main-wrapper {
    padding-bottom: 48px;
    padding-top: 48px;
}

@media (min-width: 40.0625em) {
    .nhsuk-section .nhsuk-main-wrapper {
        padding-bottom: 72px;
        padding-top: 72px;
    }
}

.nhsuk-section--white {
    background: #fff;
}

.nhsuk-section--white .nhsuk-promo__link-wrapper {
    background-color: #f0f4f5;
}

/* Sections stuff ends */

/* Design principles stuff starts */

.featured-list {
  list-style: none;
  max-width: 800px;
  margin: 48px 0 32px;
  padding-left: 0;
}

@media only screen and (min-width: 768px) {
  .featured-list {
    margin: 96px 0 72px;
  }
}

.featured-item {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .featured-item {
    display: -ms-flexbox;
    display: flex;
    padding-left: 80px;
    margin-bottom: 72px;
  }
}

.featured-item__content {
    max-width: 99.99%;
}

.featured-item__number {
    display: none;
    font-weight: 600;
    margin-bottom: nhsuk-spacing(3);
}

@media only screen and (min-width: 768px) {
  .featured-item__number {
    display: block;
    left: -80px;
    margin: 0;
    position: absolute;
  }
}

.featured-item__number--mobile {
  display: block;
}

.featured-item__heading {
  -ms-flex-align: center;
  align-items: center;
  border-top: nhsuk-spacing(1) solid #005eb8;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  padding-top: nhsuk-spacing(3);
  position: relative;
}

@media only screen and (min-width: 768px) {
  .featured-item__heading {
      padding-top: 32px;
  }
}

/* Design principles stuff ends */


/* footer */

.ogl-footer {
  background-color: #d8dde0;
}

.ogl-text {
  color: #425563;
  font-size: .875rem;
  margin-bottom: 0;
  padding-bottom: 24px;

  svg {
    margin-right: 8px;
  }

  @media (min-width: 40.0625em) {
    font-size: 1rem;
  }

}
