// NHS.UK Frontend
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// App specific styles
@import 'app/app';

// Design examples
@import 'design-example/design-example';

// Table numeric styling
.nhsuk-table__header--numeric,
.nhsuk-table__cell--numeric {
  text-align: right;
}

// Image with border
.nhsuk-image--border {
  border: 1px solid $color_nhsuk-grey-4;
  width: 100%;
}

// Lede text styling
// Because the styling is not consistent across the site for lede text
.nhsuk-lede-text {
  @include nhsuk-font(24);
  @include nhsuk-responsive-margin(7, 'bottom');
  // Apply lede text styling to p and ul within the lede (see foot pain hub)
  p,
  ul {
    @include nhsuk-font(24);
  }
}

.nhsuk-lede-text--small {
  @include nhsuk-font(19);
  @include nhsuk-responsive-margin(5, 'bottom');
}

// Reduces the spacing between the page heading and the lede text
h1 + .nhsuk-lede-text,
h1 + .nhsuk-lede-text--small {
  margin-top: - nhsuk-spacing(4);
}

/**
 * Hotfix for an issue with nested list spacing in
 * the NHS.UK frontend library
 *
 * https://github.com/nhsuk/nhsuk-frontend/issues/430
 */

.nhsuk-u-nested-list {
  margin-bottom: 0;
}

.nhsuk-u-nested-list > li {
  @include nhsuk-responsive-margin(2, 'top');
}

// Fix to give 24px to heading-l after the details component
// This needs to be added to the frontend library
.nhsuk-details  + %nhsuk-heading-l {
  @include nhsuk-responsive-padding(4, 'top');
}

// Fix to make the expander background grey in a white section
// This needs to be added to the frontend library
.nhsuk-section--white {
  .nhsuk-expander {
    background-color: $color_nhsuk-grey-5;

    .nhsuk-details__summary {
      background-color: $color_nhsuk-grey-5;
    }
  }
  .nhsuk-expander[open] {
    .nhsuk-details__summary {
      border-color: $color_nhsuk-white;
    }
  }
}


// App page contents
.app-page-contents {
  @include nhsuk-responsive-margin(5, 'bottom');
}

.app-page-contents__heading {
  @include nhsuk-font(19, $weight: bold);
  @include nhsuk-responsive-margin(3, 'bottom');
}

.app-page-contents__list {
  @include nhsuk-font(16);
}

.app-page-contents__item {
  @include nhsuk-responsive-margin(1, 'bottom');
}

/* ==========================================================================
   #TABLES
   ========================================================================== */

@include mq($until: tablet) {
  .app-table---responsive {
    thead {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: solid 2px $color_nhsuk-grey-4;
      display: block;

      &:last-child {
        border-bottom: 0;
      }
    }
    td {
      border-bottom: 1px dotted $color_nhsuk-grey-4;
      display: block;
      text-align: left;

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        padding-right: 20px;
      }
    }
  }
}

.nhsuk-tag {
  @include nhsuk-font($size: 16, $weight: bold, $line-height: 1);
  background-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  display: inline-block;
  letter-spacing: 1px;
  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.nhsuk-tag--dark-grey {
  background-color: $color_nhsuk-grey-1;
}


// Example
.app-example {
  @include top-and-bottom;
  @include nhsuk-responsive-margin(5, 'bottom');
  @include nhsuk-responsive-margin(2, 'top');
  @include nhsuk-responsive-padding(5, 'bottom');
  @include nhsuk-responsive-padding(5, 'left');
  @include nhsuk-responsive-padding(5, 'right');
  @include nhsuk-responsive-padding(7, 'top');

  border: 1px solid $color_nhsuk-grey-3;
  padding: 48px 32px 32px;
  position: relative;
}

.app-example__heading {
  left: -1px;
  position: absolute;
  top: -1px;
}

.app-example + h2 {
  @include nhsuk-responsive-padding(4, 'top');
}

.app-example + h3 {
  @include nhsuk-responsive-padding(2, 'top');
}

.app-example--white {
  background: $color_nhsuk-white;
}

.app-example--image {
  @include nhsuk-responsive-padding(5);
}

// Panel - confirmation
.nhsuk-panel--confirmation {
  margin-top: 0;

  @include mq($from: desktop) {
    padding-bottom: nhsuk-spacing(8);
    padding-top: nhsuk-spacing(8);
  }
}

.nhsuk-panel__title {
  @include nhsuk-responsive-margin(4, 'bottom');

  text-align: center;
}

.nhsuk-panel__body {
  @include nhsuk-font(24);

  text-align: center;

  strong {
    @include nhsuk-font(32, bold);
  }
}

// App example figure
.nhsuk-image--full {
  width: 100%;
}

// Header service name hotfix
.nhsuk-header__service-name {
  padding-top: 0;
}

// Breadcrumb hotfix
.nhsuk-breadcrumb__backlink:visited {
  color: $nhsuk-link-color;
}
