// NHS.UK Frontend
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// App specific styles
@import 'app/app';

// Design examples
@import 'design-example/design-example';

// Table numeric styling
.nhsuk-table__header--numeric,
.nhsuk-table__cell--numeric {
  text-align: right;
}

// Image with border
.nhsuk-image--border {
  border: 1px solid $color_nhsuk-grey-4;
  width: 100%;
}

// Lede text styling
// Because the styling is not consistent across the site for lede text
.nhsuk-lede-text {
  @include nhsuk-font(24);
  @include nhsuk-responsive-margin(7, 'bottom');
  // Apply lede text styling to p and ul within the lede (see foot pain hub)
  p,
  ul {
    @include nhsuk-font(24);
  }
}

.nhsuk-lede-text--small {
  @include nhsuk-font(19);
  @include nhsuk-responsive-margin(5, 'bottom');
}

// Reduces the spacing between the page heading and the lede text
h1 + .nhsuk-lede-text,
h1 + .nhsuk-lede-text--small {
  margin-top: - nhsuk-spacing(4);
}

/**
 * Hotfix for an issue with nested list spacing in
 * the NHS.UK frontend library
 *
 * https://github.com/nhsuk/nhsuk-frontend/issues/430
 */

.nhsuk-u-nested-list {
  margin-bottom: 0;
}

.nhsuk-u-nested-list > li {
  @include nhsuk-responsive-margin(2, 'top');
}

// Fix to give 24px to heading-l after the details component
// This needs to be added to the frontend library
.nhsuk-details  + %nhsuk-heading-l {
  @include nhsuk-responsive-padding(4, 'top');
}

// Fix to make the expander background grey in a white section
// This needs to be added to the frontend library
.nhsuk-section--white {
  .nhsuk-expander {
    background-color: $color_nhsuk-grey-5;

    .nhsuk-details__summary {
      background-color: $color_nhsuk-grey-5;
    }
  }
  .nhsuk-expander[open] {
    .nhsuk-details__summary {
      border-color: $color_nhsuk-white;
    }
  }
}


// App page contents
.app-page-contents {
  @include nhsuk-responsive-margin(5, 'bottom');
}

.app-page-contents__heading {
  @include nhsuk-font(19, $weight: bold);
  @include nhsuk-responsive-margin(3, 'bottom');
}

.app-page-contents__list {
  @include nhsuk-font(16);
}

.app-page-contents__item {
  @include nhsuk-responsive-margin(1, 'bottom');
}

/* ==========================================================================
   #TABLES
   ========================================================================== */

@include mq($until: tablet) {
  .app-table---responsive {
    thead {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: solid 2px $color_nhsuk-grey-4;
      display: block;

      &:last-child {
        border-bottom: 0;
      }
    }
    td {
      border-bottom: 1px dotted $color_nhsuk-grey-4;
      display: block;
      text-align: left;

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        padding-right: 20px;
      }
    }
  }
}

// Component page reading width, to allow for component examples
// to be full width but content within reading width

@include mq($from: desktop) {
  .app-component-reading-width {
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span,
    .nhsuk-panel-with-label {
      max-width: 66.6666%;
    }
  }
}
