// NHS.UK Frontend
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// App specific styles
@import 'app/app';

// Design examples
@import 'design-example/design-example';

// Table numeric styling
.nhsuk-table__header--numeric,
.nhsuk-table__cell--numeric {
  text-align: right;
}

// Image with border
.nhsuk-image--border {
  border: 1px solid $color_nhsuk-grey-4;
  width: 100%;
}

// Lede text styling
// Because the styling is not consistent across the site for lede text
.nhsuk-lede-text {
  @include nhsuk-font(24);
  @include nhsuk-responsive-margin(7, 'bottom');
  // Apply lede text styling to p and ul within the lede (see foot pain hub)
  p,
  ul {
    @include nhsuk-font(24);
  }
}

.nhsuk-lede-text--small {
  @include nhsuk-font(19);
  @include nhsuk-responsive-margin(5, 'bottom');
}

// Reduces the spacing between the page heading and the lede text
h1 + .nhsuk-lede-text,
h1 + .nhsuk-lede-text--small {
  margin-top: - nhsuk-spacing(4);
}

/**
 * Hotfix for an issue with nested list spacing in
 * the NHS.UK frontend library
 *
 * https://github.com/nhsuk/nhsuk-frontend/issues/430
 */

.nhsuk-u-nested-list {
  margin-bottom: 0;
}

.nhsuk-u-nested-list > li {
  @include nhsuk-responsive-margin(2, 'top');
}

// Fix to give 24px to heading-l after the details component
// This needs to be added to the frontend library
.nhsuk-details  + %nhsuk-heading-l {
  @include nhsuk-responsive-padding(4, 'top');
}

// Fix to make the expander background grey in a white section
// This needs to be added to the frontend library
.nhsuk-section--white {
  .nhsuk-expander {
    background-color: $color_nhsuk-grey-5;

    .nhsuk-details__summary {
      background-color: $color_nhsuk-grey-5;
    }
  }
  .nhsuk-expander[open] {
    .nhsuk-details__summary {
      border-color: $color_nhsuk-white;
    }
  }
}


// App page contents
.app-page-contents {
  @include nhsuk-responsive-margin(5, 'bottom');
}

.app-page-contents__heading {
  @include nhsuk-font(19, $weight: bold);
  @include nhsuk-responsive-margin(3, 'bottom');
}

.app-page-contents__list {
  @include nhsuk-font(16);
}

.app-page-contents__item {
  @include nhsuk-responsive-margin(1, 'bottom');
}

// App contact panel
.app-contact-panel {
  @include nhsuk-responsive-margin(4, 'bottom');
  @include nhsuk-responsive-margin(6, 'top');

  border-top: 2px solid $color_nhsuk-blue;
}

.app-contact-panel__heading {
  @include nhsuk-font(24, $weight: bold);
  @include nhsuk-responsive-padding(3, 'top');
}

// Container
.nhsuk-width-container {
  max-width: 1100px;
}

// App pane
.app-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 0;
  overflow: inherit;
}

.app-pane__side-bar {
  width: 260px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  @include mq($until: desktop) {
    display: none;
  }
}

.app-pane__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

// Side nav
.app-side-nav__heading {
  @include nhsuk-font(19, $weight: bold);
  @include nhsuk-responsive-margin(2, 'bottom');
}

.app-side-nav__list {
  @include nhsuk-responsive-margin(3, 'bottom');
}

.app-side-nav__item--current {
  border-left: 4px solid $color_nhsuk-blue;
  margin-left: -12px;
  padding-left: 8px;

  .app-side-nav__link {
    font-weight: $nhsuk-font-bold;
  }
}

.app-side-nav__link {
  @include nhsuk-font(16);
  text-decoration: none;

  &:visited {
    color: $color_nhsuk-blue;
  }
}

// Lede text override
h1+.nhsuk-lede-text,h1+.nhsuk-lede-text--small {
  margin-top: -24px
}

// Contributors
.app-contributor {
  @include nhsuk-responsive-margin(7, 'bottom');
  margin-top: -24px
}

.app-contributor__list {
  margin-bottom: 0;
  padding: 0;
}

.app-contributor__heading {
  @include nhsuk-font(16);
  color: $color_nhsuk-grey-1;
  margin-bottom: 8px;
}

.app-contributor__item {
  float: left;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

$contributor-size: 40px;

.app-contributor__avatar {
  display: block;
  margin-right: 4px;

  &:hover,
  &:focus {
    background: 0;
    box-shadow: none;
  }

  img {
    border-radius: 50%;
    height: $contributor-size;
    width: $contributor-size;
  }
}

.app-contributor__more {
  border: 1px solid $color_nhsuk-grey-3;
  border-radius: 50%;
  height: $contributor-size;
  width: $contributor-size;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}
