{% from "textarea/macro.njk" import textarea %}

{{ textarea({
  name: "example-error",
  id: "example-error",
  rows: "3",
  label: {
    text: "Provide a reason for continuing"
  },
  errorMessage: {
    text: "Enter the clinical decision."
  }
}) }}
