{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Footer" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use the footer to show users they are on an NHS service and to help them find links they expect at the bottom of our pages." %}
{% set theme = "Navigation" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "15" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Footer updated in August 2025</h3>
    <p>See <a href="/design-system/guides/updating-to-v10#footer">updates to footer in version 10</a></p>
  </div>

  <p>WCAG 2.2: Make sure that users can successfully <a href="#wcag-consistent-links">find help links in a consistent place on each page</a>.</p>

  {{ designExample({
    group: "components",
    item: "footer",
    type: "default"
  }) }}

  <h2 id="when-to-use-the-footer">When to use the footer</h2>
  <p>Use the footer at the bottom of every page of your website or service but not on a mobile app.</p>

  <h2 id="how-to-use-the-footer">How to use the footer</h2>
  <h3 id="footer-with-key-links">Footer with key links only</h3>

      {{ designExample({
    group: "components",
    item: "footer",
    type: "default"
  }) }}

  <p>Add links to policies and other meta information about your service, such as:
  <ul>
    <li>accessibility</li>
    <li>contact details</li>
    <li>cookies</li>
    <li>privacy policy</li>
    <li>terms and conditions</li>
  </ul>

  <div class="nhsuk-inset-text app-wcag-inset-text app-wcag-22" id="wcag-consistent-links" role="note">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <strong class="nhsuk-tag nhsuk-u-margin-bottom-2">
    WCAG 2.2
  </strong>

    <p>If you include links to "help" pages in a footer, make sure to place those links consistently in the footer content. Also make sure that "help" links always work in a similar way across each page. This is to comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/consistent-help.html">WCAG 2.2 success criterion 3.2.6 Consistent Help (W3C)</a>.</p>
  </div>

  <p>Keep links to a minimum, especially in a transactional journey. Too many links can distract users. Link to specific policies for the transaction, if appropriate.</p>
  <p>If your total number of links is less than 7, arrange them horizontally in lines.</p>

  <h3 id="footer-with-navigation-links">Footer with navigation links</h3>
  <p>If your users need lots of footer links to help them navigate a complex information architecture, include navigation links and arrange the links in columns.</p>
  <p>The navigation links give users another route to the most visited content on the site. They act as a safety net for users who have not found content through the main navigation.</p>
  <p>There is a line below the columns to separate them from the meta information, for example the copyright notice.</p>

      {{ designExample({
    group: "components",
    item: "footer",
    type: "columns"
  }) }}

  <h3>Copyright</h3>
  <p>Your copyright statement must reflect the ownership of your website or service. The <a href="https://www.nhs.uk/">NHS website</a> is (c) Crown copyright but the NHS generally does not have Crown status. The service manual footer, for example, says (c) NHS England.</p>
  <p>Include a reference to the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a> if your organisation or service encourages people to reuse and adapt its information under the licence.</p>
  <p>Contact your legal team for advice.</p>

{% endblock %}
