{% from 'character-count/macro.njk' import characterCount %}

{{ characterCount({
  name: "moreDetail",
  id: "more-detail",
  maxlength: 200,
  label: {
    text: "Can you provide more detail?",
    classes: "nhsuk-label--l",
    isPageHeading: "true"
  },
  hint: {
    text: "Do not include personal information like your name, date of birth or NHS number"
  }
}) }}
