{% from "character-count/macro.njk" import characterCount %}

{{ characterCount({
  name: "more-detail",
  id: "more-detail",
  maxlength: 200,
  label: {
    text: "Can you provide more detail about how you move about (your mobility)?",
    classes: "nhsuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "For example, if you use crutches, sticks, or a walking frame"
  }
}) }}

