{% set dateFormatted = dateUpdated | formatDate %}

<li class="app-updates__item">
  <h3 class="nhsuk-heading-m">
  {% if dateFormatted != "Invalid date" %}
    <time datetime="{{ dateUpdated }}">{{ dateFormatted }}</time>
  {% else %}
    {{ dateUpdated }}
  {% endif %}
  </h3>

  {{ caller() | trim }}
</li>
