{% set pageTitle = "Fieldset" %}
{% set pageSection = 'Components' %}
{% set pageDescription = "Use a fieldset to group related form inputs."%}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {{ designExample({
    type: 'fieldset'
  }) }}

  <h3>Fieldset as page heading</h3>
  {{ designExample({
    type: 'fieldset-as-heading'
  }) }}

  <h2 id="when-to-use-this-component">When to use a fieldset</h2>
  <p>Use a fieldset when you need to show a relationship between multiple form inputs. For example, you may need to group a set of text inputs into a single fieldset when asking for an address.</p>

  <h2 id="how-it-works">How to use a fieldset</h2>
  <p class="rich-text">The first element in a fieldset must be a <code>legend</code> which describes the group of inputs. This could be a question, such as "What is your current address?" or a statement like "Personal details".</p>
  <p class="rich-text">If you’re asking just <a href="https://design-system.service.gov.uk/patterns/question-pages/#start-by-asking-one-question-per-page"> 1 question per page</a>, as recommended by the GOV.UK design system, you can set the contents of the <code>&lt;legend&gt;</code> as the page heading. You can see an example at the top of this page. This is good practice as it means that users of screen readers will only hear the contents once.</p>
  <p>Read more about <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/">why and how the GOV.UK design system sets legends as headings</a>.</p>

  <h3>Accessibility</h3>
  <p>On question pages containing a group of inputs, include the question as the legend as that helps screenreader users understand that the inputs are all related to that question.</p>
  <p>Include any general help text which is important for filling in the form and cannot be written as <a href="/service-manual/components/hint-text">hint text</a> in the legend, but try to keep it as concise as possible.</p>

{% endblock %}
