{% set pageTitle = 'Footer' %}
{% set pageSection = 'Components' %}
{% set pageDescription = 'Use the footer to show users they are on an NHS service and to help them find links they expect at the bottom of our pages.'%}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {{ designExample({
    type: 'footer'
  }) }}

  <h2 id="when-to-use-the-footer">When to use the footer</h2>
  <p>Use this footer at the bottom of every page if your service is part of the NHS website.</p>

  <h3>How not to use the footer</h3>
  <p>Avoid adding more links to the footer. Keep them to a minimum.</p>
  <p>Product owners can decide whether or not to use all the links in the example.</p>
  <p>If you have more information to add about how to use the footer, please let us know on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a> or email <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

  <h2 id="when-not-to-use-the-footer">When not to use the footer</h2>
  <p>Do not use this footer for transactional services.</p>
  <p>At the moment, we are only using it for the NHS website. We are considering how to use it on other NHS Digital sites and services on the nhs.uk domain including transactional journeys.</p>
  <p>If your service is not part of the NHS website, get in touch on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a> or email <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
{% endblock %}
