{% set pageTitle = 'Table' %}
{% set pageSection = 'Components' %}
{% set pageDescription = 'Use a table to make it easier for users to compare and scan information.' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {{ designExample({
    type: 'table'
  }) }}

  <h2 id="when-to-use-a-table">When to use a table</h2>
  <p>Use a table to let users to compare information in rows and columns.</p>

  <h2 id="when-not-to-use-a-table">When not to use a table</h2>
  <p>Do not use a table to layout content on a page. Instead, use the <a href="/service-manual/styles/grid">grid system</a>.</p>

  <h2 id="how-tables-work">How tables work</h2>

  <h3>Accessibility</h3>
  <p>Follow <a href="https://webaim.org/techniques/tables/data">WebAIM's guidance for tables</a> and</p>
  <ul>
    <li>give tables captions</li>
    <li>use the scope attribute to associate the data cells with the appropriate headers</li>
    <li>let the browser window determine the width of the table whenever possible, to reduce  horizontal scrolling</li>
  </ul>

  <h3 id="table-captions">Table captions</h3>
  <p class="rich-text">Use the <code>&lt;caption&gt;</code> element to describe a table in the same way you would use a heading. A caption helps users find, navigate and understand tables.</p>

  <h3 id="table-headers">Table headers</h3>
  <p>Use table headers to tell users what the rows and columns represent.</p>

  <h2 id="research">Research</h2>
  <p>The table component tested well with users on health information pages. The white panel helped users scan the page and find information when it was surrounded by text content.</p>
  <p>For context, on the NHS website:</p>
  <ul>
    <li>tables never exceeded 3 columns - we didn't design for or test any tables with more than 3 columns</li>
    <li>most of the tables contain text - few contain (numerical) data</li>
    <li>we didn't uncover any needs around re-ordering data in tables</li>
  </ul>

  <h3>Table with panel</h3>
  <p>We have also designed a table with a panel. You can see <a href="https://nhsuk.github.io/nhsuk-frontend/components/tables/tables-panel.html">an example in the frontend library</a>. We haven't included it in this list of components yet because it needs more testing.</p>
  <p>If you’ve used tables, get in touch to <a href="/service-manual/community">share your user research findings</a>.</p>

{% endblock %}
