{% from "input/macro.njk" import input %}

<h3 class="nhsuk-heading-m">Full</h3>

{{ input({
  label: {
    text: "Full name"
  },
  name: "full-name",
  id: "full-name-full",
  classes: "nhsuk-u-width-full"
}) }}

<h3 class="nhsuk-heading-m">Three-quarters</h3>

{{ input({
  label: {
    text: "Full name"
  },
  name: "full-name",
  id: "full-name-three-quarters",
  classes: "nhsuk-u-width-three-quarters"
}) }}

<h3 class="nhsuk-heading-m">Two-thirds</h3>

{{ input({
  label: {
    text: "Full name"
  },
  name: "full-name",
  id: "full-name-two-thirds",
  classes: "nhsuk-u-width-two-thirds"
}) }}

<h3 class="nhsuk-heading-m">One-half</h3>

{{ input({
  label: {
    text: "Full name"
  },
  name: "full-name",
  id: "full-name-one-half",
  classes: "nhsuk-u-width-one-half"
}) }}

<h3 class="nhsuk-heading-m">One-third</h3>

{{ input({
  label: {
    text: "Full name"
  },
  name: "full-name",
  id: "full-name-one-third",
  classes: "nhsuk-u-width-one-third"
}) }}

<h3 class="nhsuk-heading-m">One-quarter</h3>

{{ input({
  label: {
    text: "Full name"
  },
  name: "full-name",
  id: "full-name-one-quarter",
  classes: "nhsuk-u-width-one-quarter"
}) }}
