{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/content",
      text: "Content guide"
    },
    {
      href: "/content/inclusive-content",
      text: "Inclusive content"
    }
  ]
}) }}
