{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Age" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "How to talk about stages of life and different age groups." %}
{% set subSection = "Inclusive content" %}
{% set dateUpdated = "September 2024" %}
{% set backlog_issue_id = "142" %}

{% block beforeContent %}
  {% include "content/inclusive-content/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Stages of life</h2>
  <p>Here are some of the terms we use for different stages of life with some guidance about the ages they relate to.</p>
  <p>We use:</p>
  <ul>
    <li>fertilised egg: from conception to 14 days</li>
    <li>embryo: from 2 to 6 weeks</li>
    <li>baby: during pregnancy, at birth and up to 1 year (learn more about how we use <a href="/content/a-to-z-of-nhs-health-writing#baby">"baby" in the A to Z of NHS health writing</a>)</li>
    <li>toddler: 1 to 3 years</li>
    <li>child: 4 to 12 years</li>
    <li>teenager: 13 to 19 years</li>
    <li>young people: 16 to 24 years</li>
    <li>adult: generally from 18 years but this may vary (see below)</li>
  </ul>
  <h2>Writing about specific age groups</h2>
  <p>Only include age if it's relevant, for example:</p>
  <ul>
    <li>with vaccination, screening or testing programmes for particular age groups</li>
    <li>to take medicines</li>
  </ul>
  <p>When you need to be specific, give the actual age. An example of this is chlamydia testing as tests are free for people aged 24 and under.</p>
  <h3>People over or under a specific age</h3>
  <p>When the exact age is important, do not write "adults over 50" or "teenagers under 18 years old". This can be confusing for people who are that specific age. Instead, make it clear who's included, for example:</p>
  <ul>
    <li>"adults aged 50 and over"</li>
    <li>"teenagers aged 17 and under"</li>
  </ul>
  <p>Only use "over x" or "under x" in general contexts or where your source is not specific, for example: "this mostly affects people over 60".</p>
  <h4>"And" or "or"</h4>
  <p>If you're writing about groups of people in the 3rd person, you can use either "aged 18 and over" or "aged 18 or over".</p>
  <p>However, if you're addressing individuals in the 2nd person, use "or". For example, "if you are aged 18 or over".</p>

  <h3>People between 2 ages</h3>
  <p>Do not use dashes between ages. Use "aged 4 to 16 years", not "4 – 16 years". For example:</p>
  <ul>
    <li>children aged 6 months to 4 years</li>
    <li>children aged 12 to 15 years</li>
    <li>adults aged 19 to 64</li>
  </ul>
  <h3>Whether to include "years"</h3>
  <p>For adults you can use just the number, or add "years". For example: "adults aged 18 and over" or "adults aged 18 years and over".</p>
  <p>Keep it brief. "Adults aged 18 years old and over" is too long.</p>
  <p>If you're writing about young children, include "years" to make it clear you are not referring to months.</p>

  <h3>Babies and young children</h3>
  <p>With babies and young children, we count their age in weeks up until 6 months, then months up until 2 years.</p>
  <p>Our research shows that this is how people talk about their child's age. Healthcare professionals also use weeks and months in this way. It means we can be consistent and accurate when writing about a baby's milestones, vaccinations and development reviews. </p>
  <h3>Older people</h3>
  <p>We prefer to specify ages, for example: "adults aged 65 and over".</p>
  <p>In some contexts, we use "older person" or "older people", for example, where the risk of getting a condition increases as you get older.​</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>Anyone can have a fall, but older people are more vulnerable and likely to fall, especially if they have a long-term health condition.</p>
  </div>
  <p>We do not use the words:</p>
  <ul>
    <li>elderly</li>
    <li>middle aged</li>
    <li>OAP</li>
    <li>old age pensioner</li>
    <li>pensioner</li>
    <li>senior</li>
  </ul>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
