{% set pageTitle = "Care cards" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "We no longer have a care card component. Use the pattern for helping users identify and understand the care they need instead." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "November 2021" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<p>Use the pattern to <a href="/design-system/patterns/help-users-get-the-care-they-need">help users get the care they need</a>.</p>
<p>It includes 3 care cards for 3 levels of care:</p>
<ul>
  <li>non-urgent care card (blue)</li>
  <li>urgent care card (red)</li>
  <li>emergency care card (red and dark grey)</li>
</ul>


{% endblock %}
