{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Care cards" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "The care card component has been reworked as a pattern for helping users decide when and where to get care." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "January 2024" %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <div class="nhsuk-inset-text nhsuk-u-margin-top-4"><p>Go to the pattern to <a href="/design-system/patterns/help-users-decide-when-and-where-to-get-care">help users decide when and where to get care</a>.</p>
  </div>

<p>It includes 3 care cards for 3 levels of care:</p>
<ul>
  <li>non-urgent care card (blue)</li>
  <li>urgent care card (red)</li>
  <li>emergency care card (red and dark grey)</li>
</ul>

{% endblock %}
