{% from "input/macro.njk" import input %}

{{ input({
  label: {
    text: "Full width"
  },
  id: "full",
  name: "full",
  classes: "nhsuk-u-width-full"
}) }}

{{ input({
  label: {
    text: "Three-quarters width"
  },
  id: "three-quarters",
  name: "threeQuarters",
  classes: "nhsuk-u-width-three-quarters"
}) }}

{{ input({
  label: {
    text: "Two-thirds width"
  },
  id: "two-thirds",
  name: "twoThirds",
  classes: "nhsuk-u-width-two-thirds"
}) }}

{{ input({
  label: {
    text: "One-half width"
  },
  id: "one-half",
  name: "oneHalf",
  classes: "nhsuk-u-width-one-half"
}) }}

{{ input({
  label: {
    text: "One-third width"
  },
  id: "one-third",
  name: "oneThird",
  classes: "nhsuk-u-width-one-third"
}) }}

{{ input({
  label: {
    text: "One-quarter width"
  },
  id: "one-quarter",
  name: "oneQuarter",
  classes: "nhsuk-u-width-one-quarter"
}) }}
