{% from 'input/macro.njk' import input %}

{{ input({
  label: {
    text: "Full width"
  },
  classes: "nhsuk-u-width-full",
  id: "full",
  name: "full"
}) }}

{{ input({
  label: {
    text: "Three-quarters width"
  },
  classes: "nhsuk-u-width-three-quarters",
  id: "three-quarters",
  name: "threeQuarters"
}) }}

{{ input({
  label: {
    text: "Two-thirds width"
  },
  classes: "nhsuk-u-width-two-thirds",
  id: "two-thirds",
  name: "twoThirds"
}) }}

{{ input({
  label: {
    text: "One-half width"
  },
  classes: "nhsuk-u-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ input({
  label: {
    text: "One-third width"
  },
  classes: "nhsuk-u-width-one-third",
  id: "one-third",
  name: "oneThird"
}) }}

{{ input({
  label: {
    text: "One-quarter width"
  },
  classes: "nhsuk-u-width-one-quarter",
  id: "one-quarter",
  name: "oneQuarter"
}) }}
