{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.config.*", "**/*.test.*"] }
    ],
    "no-use-before-define": ["error", "nofunc"]
  }
}
