{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.config.*", "**/*.test.*"] }
    ]
  }
}
