trigger:
  branches:
    include:
    - main
    - master
    - ia-site
    - refs/tags/v*
    - refs/heads/review/*
    - refs/heads/dev/*
    - refs/heads/user/*
  paths:
    exclude:
    - CHANGELOG.md
    - README.md

pool:
  vmImage: 'ubuntu-latest'

steps:

  - script: npm ci
    displayName: 'Install'

  - task: SonarCloudPrepare@1
    displayName: 'Prepare analysis on SonarCloud'
    inputs:
      SonarCloud: 'SonarCloud'
      organization: 'nhsdigital'
      scannerMode: 'MSBuild'
      projectKey: 'nhsuk-service-manual'
      extraProperties: |
        sonar.exclusions=$(System.DefaultWorkingDirectory)/dependency-scan-results/**
        sonar.javascript.lcov.reportPaths=coverage/lcov.info
        sonar.coverage.exclusions=**/*.config.js,**/coverage/**
        sonar.dependencyCheck.htmlReportPath=$(System.DefaultWorkingDirectory)/dependency-scan-results/dependency-check-report.html
        sonar.language=js

  - script: npm run build
    displayName: 'Build'

  - script: npm run test
    displayName: 'Test'

  - task: dependency-check-build-task@6
    displayName: 'Run OWASP Dependency Check'
    inputs:
      projectName: 'service-manual'
      scanPath: '$(Build.SourcesDirectory)'
      excludePath: '$(Build.SourcesDirectory)/node_modules'
      format: 'HTML, JUNIT'
      failOnCVSS: '7'
      suppressionPath: '$(System.DefaultWorkingDirectory)/owasp-suppressions.xml'
      additionalArguments: '--nodePackageSkipDevDependencies --nodeAuditSkipDevDependencies'
      reportsDirectory: '$(System.DefaultWorkingDirectory)/dependency-scan-results'

  - task: PublishTestResults@2
    displayName: 'Publish Test Results OWASP Dependency Checker'
    inputs:
      testResultsFormat: 'JUnit'
      mergeTestResults: true
      failTaskOnFailedTests: true
      testRunTitle: 'Dependency check'
      testResultsFiles: '$(System.DefaultWorkingDirectory)/dependency-scan-results/*junit.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)/dependency-scan-results'

  - task: SonarCloudAnalyze@1
    displayName: 'Run SonarCloud Code Analysis'

  - task: SonarCloudPublish@1
    displayName: 'Publish Quality Gate Result'
    inputs:
      pollingTimeoutSec: '300'

  - task: sonarcloud-buildbreaker@2
    displayName: "Break the build if the quality gate fails"
    inputs:
      SonarCloud: 'SonarCloud'
      organization: 'nhsdigital'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
      includeRootFolder: false
    displayName: 'Create file archive to publish'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish files to Azure Pipelines'
