// stylelint-disable color-no-hex, max-nesting-depth
@use "../vendor/nhsuk-frontend" as *;

.app-code-snippet {
  background-color: nhsuk-colour("grey-5");

  .js-hidden {
    display: none;
  }

  .app-button {
    &--copy {
      background-color: nhsuk-colour("white");
      border: solid nhsuk-colour("green");
      border-width: 1px 1px 0;
      border-radius: 3px;
      box-shadow: 0 4px 0 $nhsuk-button-colour;
      color: nhsuk-colour("green");
      cursor: pointer;
      margin-bottom: 16px;
      min-width: 58px;
      padding: 2px 8px;
      position: absolute;
      right: 16px;
      text-align: center;
      text-decoration: none;
      top: 16px;
      z-index: 1;
      @include nhsuk-font(14);

      &:hover {
        background-color: nhsuk-colour("grey-5");
      }

      &:focus {
        border-color: $nhsuk-focus-colour;
        @include nhsuk-focused-text;
      }
    }

    &--close {
      background-color: transparent;
      border: 0;
      bottom: 16px;
      color: nhsuk-colour("blue");
      cursor: pointer;
      font-size: 16px;
      margin-top: 16px;
      position: static;
      right: 16px;
      text-decoration: underline;
      z-index: 1;

      &:hover {
        color: $nhsuk-link-hover-colour;
        text-decoration: none;
      }

      &:focus {
        @include nhsuk-focused-text;

        &:hover {
          color: $nhsuk-focus-text-colour;
        }
      }

      @include nhsuk-media-query($from: tablet) {
        bottom: 24px;
        right: 24px;
      }

      svg {
        fill: nhsuk-colour("blue");
        height: 16px;
        margin: 5px 5px 0 0;
        transform: rotate(-90deg);
        width: 16px;
      }
    }
  }

  &__preformatted {
    align-items: flex-end;
    border-bottom: 1px solid nhsuk-colour("grey-3");
    display: flex;
    flex-direction: column;

    @include nhsuk-responsive-padding(4);
  }
}

.app-code-snippet__macro {
  width: 100%;
}

.app-code-snippet__details {
  // stylelint-disable-next-line declaration-no-important
  max-width: none !important;
}

.app-code-snippet__options {
  max-width: 38em;
}

.app-code-snippet__option-name {
  @include nhsuk-media-query($from: tablet) {
    width: 29%;
  }
}

.app-code-snippet__option-type {
  @include nhsuk-media-query($from: tablet) {
    width: 10%;
  }
}

.app-code-snippet__container {
  background-color: nhsuk-colour("grey-5");
  position: relative;
  width: 100%;
}
