// stylelint-disable color-no-hex, max-nesting-depth
@use "../vendor/nhsuk-frontend" as *;

.app-code-snippet {
  background-color: nhsuk-colour("grey-5");

  .app-button {
    &--close {
      position: static;
      z-index: 1;
      right: 16px;
      bottom: 16px;

      margin-top: 16px;

      border: 0;

      color: nhsuk-colour("blue");
      background-color: transparent;

      font-size: 16px;
      text-decoration: underline;

      cursor: pointer;

      &:hover {
        color: $nhsuk-link-hover-colour;
        text-decoration: none;
      }

      &:focus {
        @include nhsuk-focused-text;

        &:hover {
          color: $nhsuk-focus-text-colour;
        }
      }

      @include nhsuk-media-query($from: tablet) {
        right: 24px;
        bottom: 24px;
      }
    }
  }

  &__preformatted {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid nhsuk-colour("grey-3");

    @include nhsuk-responsive-padding(4);
  }
}

.app-code-snippet__macro {
  width: 100%;
}

.app-code-snippet__details {
  // stylelint-disable-next-line declaration-no-important
  max-width: none !important;
}

.app-code-snippet__options {
  max-width: 38em;
}

.app-code-snippet__options code {
  background-color: nhsuk-colour("grey-5");
}

.app-code-snippet__option-name {
  @include nhsuk-media-query($from: tablet) {
    width: 29%;
  }
}

.app-code-snippet__option-type {
  @include nhsuk-media-query($from: tablet) {
    width: 10%;
  }
}

.app-code-snippet__code {
  width: 100%;
}

.app-code-snippet__footer {
  display: flex;
  align-items: baseline;
  width: 100%;

  &-version {
    margin: 0;
    color: $nhsuk-secondary-text-colour;
  }

  .app-button--close {
    margin-left: auto;
  }
}

.app-tabs {
  display: none;
  border: 1px solid nhsuk-colour("grey-3");
  border-bottom: 0;
  background: nhsuk-colour("white");
  $root: &;

  @include nhsuk-media-query($from: tablet) {
    display: block;
  }

  &__item {
    margin: 0;
    background-color: transparent;

    a {
      margin: 0;
      padding: 8px 16px;
      border: 0;
      font-weight: normal;
      text-decoration: underline;

      @include nhsuk-media-query($from: tablet) {
        padding: 12px 24px;
      }

      &:hover {
        outline: 0;
        color: $nhsuk-link-hover-colour;
        text-decoration: none;
      }

      &:focus {
        outline: $nhsuk-focus-width solid transparent;
        color: $nhsuk-focus-text-colour;
        background-color: $nhsuk-focus-colour;
        box-shadow: 0 $nhsuk-focus-width $nhsuk-focus-text-colour;
        text-decoration: none;
      }
    }

    &--current {
      a {
        text-decoration: none;

        @include nhsuk-media-query($from: tablet) {
          box-shadow: 0 $nhsuk-button-shadow-size 0 nhsuk-colour("blue");
        }

        &:hover {
          color: $nhsuk-link-colour;
        }

        &:focus {
          &:hover {
            color: $nhsuk-focus-text-colour;
          }
        }
      }
    }

    &--mobile {
      display: block;
      margin: -1px 0;
      border: 1px solid nhsuk-colour("grey-3");
      border-width: 1px 0;
      background-color: nhsuk-colour("white");

      @include nhsuk-media-query($from: tablet) {
        display: none;
      }
    }
  }

  &__container {
    margin-top: 0;
    border: 1px solid nhsuk-colour("grey-3");
    border-bottom: 0;
    background-color: nhsuk-colour("white");

    pre {
      align-self: stretch;
      padding: 0;
      background-color: nhsuk-colour("white");
    }
  }
}

// Highlight JS overrides

$colour-syntax--body: #28333b;
$colour-syntax--comment: #757575;
$colour-syntax--keyword: #990155;
$colour-syntax--var: #527a00;
$colour-syntax--string: #025eb8;
$colour-syntax--selector: #330072;

.hljs {
  padding: 0;
  overflow-x: scroll;
  color: $colour-syntax--body;
  background-color: nhsuk-colour("white");

  @include nhsuk-media-query($from: tablet) {
    // Fixes issue with overflowing <code> el. 71.5vw = width of column. 121px = total width of padding/borders.
    max-width: calc(71.5vw - 121px);
  }

  @include nhsuk-media-query($from: 1024px) {
    max-width: 586px;
  }

  .hljs-comment,
  .hljs-quote {
    color: $colour-syntax--comment;
    font-style: italic;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: $colour-syntax--keyword;
    font-weight: normal;
  }

  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: $colour-syntax--var;
  }

  .hljs-string,
  .hljs-doctag {
    color: $colour-syntax--string;
  }

  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: $colour-syntax--keyword;
    font-weight: normal;
  }

  .hljs-subst {
    font-weight: normal;
  }

  .hljs-type,
  .hljs-class .hljs-title {
    color: $colour-syntax--var;
    font-weight: normal;
  }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: $colour-syntax--keyword;
    font-weight: normal;
  }

  .hljs-regexp,
  .hljs-link {
    color: $colour-syntax--var;
  }

  .hljs-symbol,
  .hljs-bullet {
    color: $colour-syntax--keyword;
  }

  .hljs-built_in, //sass-lint:disable-line class-name-format
  .hljs-builtin-name {
    color: $colour-syntax--string;
  }

  .hljs-meta {
    color: $colour-syntax--comment;
    font-weight: normal;
  }

  // language specific customisations
  &.html {
    .hljs-tag {
      color: $colour-syntax--comment;
    }
  }

  &.css {
    .hljs-selector-class,
    .hljs-selector-tag,
    .hljs-keyword {
      color: $colour-syntax--selector;
    }
  }

  &.javascript,
  &.python {
    .hljs-title,
    .hljs-section,
    .hljs-selector-id {
      color: $colour-syntax--string;
    }
  }

  &.json {
    .hljs-attr {
      color: $colour-syntax--keyword;
    }
  }
}
