// stylelint-disable color-no-hex, max-nesting-depth
@use "../vendor/nhsuk-frontend" as *;

.app-code-snippet {
  background-color: nhsuk-colour("grey-5");

  .js-hidden {
    display: none;
  }

  .app-button {
    &--close {
      position: static;
      z-index: 1;
      right: 16px;
      bottom: 16px;

      margin-top: 16px;

      border: 0;

      color: nhsuk-colour("blue");
      background-color: transparent;

      font-size: 16px;
      text-decoration: underline;

      cursor: pointer;

      &:hover {
        color: $nhsuk-link-hover-colour;
        text-decoration: none;
      }

      &:focus {
        @include nhsuk-focused-text;

        &:hover {
          color: $nhsuk-focus-text-colour;
        }
      }

      @include nhsuk-media-query($from: tablet) {
        right: 24px;
        bottom: 24px;
      }
    }
  }

  &__preformatted {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid nhsuk-colour("grey-3");

    @include nhsuk-responsive-padding(4);
  }
}

.app-code-snippet__macro {
  width: 100%;
}

.app-code-snippet__details {
  // stylelint-disable-next-line declaration-no-important
  max-width: none !important;
}

.app-code-snippet__options {
  max-width: 38em;
}

.app-code-snippet__options code {
  background-color: nhsuk-colour("grey-5");
}

.app-code-snippet__option-name {
  @include nhsuk-media-query($from: tablet) {
    width: 29%;
  }
}

.app-code-snippet__option-type {
  @include nhsuk-media-query($from: tablet) {
    width: 10%;
  }
}

.app-code-snippet__code {
  width: 100%;
  margin: 0;
}
