@use "../vendor/nhsuk-frontend" as *;

.app-code-embed {
  background-color: nhsuk-colour("grey-5");
  border: 1px solid nhsuk-colour("grey-3");

  iframe {
    display: block;
    width: 100%;
  }

  [src*="components/header"] {
    width: 99%;
  }

  + .app-code-snippet {
    margin-top: -1px;
  }
}
