@use "../vendor/nhsuk-frontend" as *;

@forward "govuk/main";
@forward "code-embed";
@forward "code-snippet";

.app-design-example {
  $root: &;
  position: relative;
  width: 100%;
  margin-bottom: nhsuk-spacing(6);

  @include nhsuk-media-query($until: tablet) {
    margin-bottom: nhsuk-spacing(5);
  }

  .app-design-example__header {
    display: flex;

    position: relative;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 8px 16px;

    border: 1px solid nhsuk-colour("grey-3");
    border-bottom: 0;
    outline: 2px solid transparent;
    @include nhsuk-font(16);

    .app-design-example__js-toggle[aria-current] {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }

    .app-design-example__js-toggle + .app-design-example__js-toggle::before {
      content: "|";
      margin: 0 0.5em 0 0.25em;
      color: nhsuk-colour("black");
      font-weight: normal;
    }
  }
}

// Widths bigger than expected to account for scrollbar and internal paddding of the frame
.app-design-example--s .app-design-example__frame {
  width: 320px; // sub-mobile / smart watch
}

.app-design-example--m .app-design-example__frame {
  width: 440px; // common mobile
}

.app-design-example--l .app-design-example__frame {
  width: 640px; // small tablet
}

.app-design-example__frame {
  display: block;

  position: relative;

  width: calc(100% + 1px);
  min-width: 230px;
  max-width: calc(100% + 1px);
  height: 150px;
  min-height: 80px;

  overflow: auto;

  resize: both;

  border: 0;
  border-right: 1px solid nhsuk-colour("grey-3");

  background: nhsuk-colour("grey-5");
}

p + .app-design-example {
  @include nhsuk-responsive-padding(3, "top");
}

.nhsuk-lede-text + .app-design-example {
  @include nhsuk-responsive-padding(0, "top");
}
