@use "../vendor/nhsuk-frontend" as *;

@forward "govuk/main";
@forward "code-embed";
@forward "code-snippet";

.app-design-example {
  $root: &;
  margin-bottom: nhsuk-spacing(6);
  position: relative;
  width: 100%;

  @include nhsuk-media-query($until: tablet) {
    margin-bottom: nhsuk-spacing(5);
  }

  &__pop-out {
    border: 1px solid nhsuk-colour("grey-3");
    border-bottom: 0;
    display: block;
    outline: 2px solid transparent;
    padding: 8px 16px;
    position: relative;
    width: 100%;
    @include nhsuk-font(16);

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:focus {
      background-color: $nhsuk-focus-colour;
      box-shadow: 0 $nhsuk-focus-width $nhsuk-focus-text-colour;
      color: $nhsuk-focus-text-colour;
      outline: $nhsuk-focus-width solid transparent;
      text-decoration: none;

      &:hover {
        color: $nhsuk-focus-text-colour;
      }
    }
  }
}

.app-design-example__frame {
  display: block;

  position: relative;
  right: -1px;

  width: 100%;
  min-width: 230px;
  max-width: 100%;
  height: 150px;
  min-height: 80px;
  margin-right: -1px;

  overflow: auto;
  resize: both;

  border: 0;
  border-right: 1px solid nhsuk-colour("grey-3");
  background: nhsuk-colour("grey-5");
}

p + .app-design-example {
  @include nhsuk-responsive-padding(3, "top");
}

.nhsuk-lede-text + .app-design-example {
  @include nhsuk-responsive-padding(0, "top");
}

.app-code-snippet__macro {
  width: 100%;
}

.app-tabs__container pre {
  background-color: nhsuk-colour("grey-5");
}

.app-code-snippet__container {
  background-color: nhsuk-colour("grey-5");
  padding: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(8);
  position: relative;
  width: 100%;
}
