@use "../vendor/nhsuk-frontend" as *;

@forward "govuk/main";
@forward "code-embed";
@forward "code-snippet";

.app-design-example {
  $root: &;
  position: relative;
  width: 100%;
  margin-bottom: nhsuk-spacing(6);

  @include nhsuk-media-query($until: tablet) {
    margin-bottom: nhsuk-spacing(5);
  }
}

.app-design-example__header {
  display: flex;

  gap: nhsuk-spacing(3);

  position: relative;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: nhsuk-spacing(2) nhsuk-spacing(3);

  border: 1px solid nhsuk-colour("grey-3");
  border-bottom: 0;
  outline: 2px solid transparent;
  @include nhsuk-font(16);

  @include nhsuk-media-query($until: tablet) {
    flex-direction: column;
    gap: nhsuk-spacing(1);
  }
}

.app-design-example__js-toggle-group {
  flex-shrink: 0;
}

.app-design-example__js-toggle-divider {
  margin: 0 -1px;
  color: nhsuk-colour("grey-3");
}

.app-button--js-toggle {
  // stylelint-disable-next-line declaration-no-important
  padding: 0 nhsuk-spacing(1) !important;
}

.app-button--js-toggle[aria-pressed="true"] {
  font-weight: bold;
  @include nhsuk-link-style-no-underline;

  &:not(:focus):not(:hover):not(:active) {
    color: inherit;
  }
}

// Widths bigger than expected to account for scrollbar and internal paddding of the frame
.app-design-example--s .app-design-example__frame {
  width: 320px; // sub-mobile / smart watch
}

.app-design-example--m .app-design-example__frame {
  width: 440px; // common mobile
}

.app-design-example--l .app-design-example__frame {
  width: 640px; // small tablet
}

.app-design-example__frame {
  display: block;

  position: relative;

  width: calc(100% + 1px);
  min-width: 230px;
  max-width: calc(100% + 1px);
  height: 150px;
  min-height: 80px;

  overflow: auto;

  resize: both;

  border: 0;
  border-right: 1px solid nhsuk-colour("grey-3");

  background: nhsuk-colour("grey-5");
}

p + .app-design-example {
  @include nhsuk-responsive-padding(3, "top");
}

.nhsuk-lede-text + .app-design-example {
  @include nhsuk-responsive-padding(0, "top");
}
