@import 'govuk/main';
@import 'code-embed';
@import 'code-snippet';


.design-example {
    $root: &;
    position: relative;
    width: 100%;

    &__pop-out {
        @include nhsuk-font(16);
        position: absolute;
        padding: 0 16px;
        line-height: 32px;
        color: $color_nhsuk-white;
        text-decoration: none;
        background-color: $color_nhsuk-grey-1;

        @include mq($from: tablet) {
            padding: 0 24px;
        }

        &:hover,
        &:focus {
            color: $color_nhsuk-grey-1;
            box-shadow: none;
        }

        &:hover {
            background-color: $color_tint_nhsuk-warm-yellow-30;
        }

        &:focus {
            background-color: $color_nhsuk-warm-yellow;
        }

        &:visited {
            color: $color_nhsuk-white;

            &:hover {
                color: $color_nhsuk-grey-1;
            }
        }
    }
}
