{% from "character-count/macro.njk" import characterCount %}

{{ characterCount({
  name: "moreDetail",
  id: "more-detail",
  maxlength: 150,
  label: {
    text: "Provide more detail about how you move about (your mobility)"
  }
}) }}
