{% from 'input/macro.njk' import input %}

{{ input({
  label: {
      text: "Weight in kilograms"
  },
  id: "weight",
  name: "weight",
  suffix: "kg",
  classes: "nhsuk-input--width-5",
  spellcheck: false
}) }}
