{% from "card/macro.njk" import card %}


<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    {% call card({
      clickable: true,
      heading: "91",
      headingClasses: "nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1",
      headingVisuallyHiddenText: "Applicants"
    }) %}
      <a href="#/applicants" class="nhsuk-card__link">Applicants</a>
    {% endcall %}
</li>
</ul>
