{% from "card/macro.njk" import card %}


<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    {% call card({
      heading: {
        text: "91",
        visuallyHiddenText: "Applicants",
        classes: "nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1"
      },
      clickable: true
    }) %}
      <a href="#/applicants" class="nhsuk-card__link">Applicants</a>
    {% endcall %}
  </li>
</ul>
