
{% set pageTitle = 'Get the questions into order'%}
{% set pageSection = 'How to write good questions for forms' %}
{% set pageDescription = 'Here are some tips to get you started. Then test the order with your users.' %}

{% extends 'includes/layout.njk' %}
{% from 'review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    },
    {
      href: "/service-manual/content",
      text: "Content style guide"
    }
  ],
    href: "/service-manual/content/how-to-write-good-questions-for-forms",
    text: "How to write good questions for forms"

  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
     <h1>
      <span class="nhsuk-caption-l">
        {{pageSection}}
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      {{pageTitle}}
    </h1>

    {% include 'content/how-to-write-good-questions-for-forms/write-good-questions-nav.njk' %}

    <p>{{pageDescription}}</p>

    <h2>Start with essential, common, and easy questions</h2>
      <p><a href="/service-manual/content/how-to-write-good-questions-for-forms/2-make-sure-you-need-each-question#start-with-essential-questions">Start with essential questions</a> ahead of optional ones.</p>
      <p>Design for the most common scenarios first. You should have a good idea what they are from your discovery.</p>
      <p>It may help to start with easy questions and to save more difficult or <a href="/service-manual/content/how-to-write-good-questions-for-forms/3-consider-the-sensitivities-around-your-questions">sensitive questions</a> for later.</p>
      <p>You could put filter questions first. For example, start with questions that let users know if they’re not eligible for the service, so you don’t waste their time.</p>


      <h2>Group similar topics</h2>
      <p><a href="/service-manual/content/how-to-write-good-questions-for-forms/6-think-of-the-form-as-a-conversation">Think of the form as a conversation</a>. Talk through the questions and listen for natural pauses, for example, between topics.</p>
      <p>You could group questions according to where users will get the answer. Is it something they know well or will they have to seek out the information? For example, group contact information together and account information together.</p>

    <h2>Test the order when you test your questions</h2>
    <p><a href="/service-manual/content/how-to-write-good-questions-for-forms/8-test-your-questions">Testing your questions</a> will give you a good idea what a sensible order is. Your user research will show which questions users expect first. For example, do they expect to give you personal details at the start or do they want to deal with the task first and give you personal details at the end?</p>
    <p>Do card sorting with users to understand which questions go together.</p>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: October 2019</p>
    </div>

    {% from 'pagination/macro.njk' import pagination %}

    {{ pagination({
      "previousUrl": "/service-manual/content/how-to-write-good-questions-for-forms/4-use-yes-no-questions-but-be-careful",
      "previousPage": "Use Yes No questions, but be careful",
      "nextUrl": "/service-manual/content/how-to-write-good-questions-for-forms/6-think-of-the-form-as-a-conversation",
      "nextPage": "Think of the form as a conversation"
    }) }}

  </div>
</div>
{% endblock %}



