{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    },
    {
      href: "/service-manual/content",
      text: "Content style guide"
    }
  ],
  href: "/service-manual/content/how-to-write-good-questions-for-forms",
  text: "How to write good questions for forms"
}) }}
