{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Consider the sensitivities around your questions" %}
{% set pageSection = "Content guide" %}
{% set subSection = "How to write good questions for forms" %}
{% set pageDescription = "People may not trust you with their personal data or they may think the question is inappropriate." %}
{% set dateUpdated = "July 2025" %}
{% set backlog_issue_id = "327" %}

{% block beforeContent %}
  {% include "content/how-to-write-good-questions-for-forms/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {% include "content/how-to-write-good-questions-for-forms/_side-nav-mobile.njk" %}

  <h2>Understand the topics that are especially sensitive</h2>
  <p>These include, for example:</p>
  <ul>
    <li>gender or sex</li>
    <li>sexual orientation</li>
    <li>whether the person has or intends to have children</li>
    <li>whether they are married, in a partnership, or living with someone</li>
    <li>whether they have mental health problems</li>
    <li>whether they have a disability</li>
    <li>their ethnicity or religion</li>
  </ul>

  <p>Some people are reluctant to divulge:</p>
  <ul>
    <li>their age</li>
    <li>their email address</li>
    <li>their phone number</li>
    <li>a health complaint</li>
  </ul>

  <p>Think about how to word questions respectfully and inclusively and what you'll do if the user cannot or will not answer the question.</p>

  <h2>Consider the context</h2>
  <p>It's OK to ask what sex or gender someone is when you need the information to provide the right medical care, but often it's irrelevant.</p>
  <p>Take into account who might be involved in filling in the form. Will the user want to divulge information if a family member is helping them with the form?</p>

  <h2>Try asking a different question</h2>
  <p>Another way to deal with sensitive questions is to ask a different question. For example, people may be more willing to give you their age range than their exact age.</p>

  <h2>Explain why you need to ask</h2>
  <p>If you <a href="/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question#understand-why-you're-asking-each-question">understand why you're asking each question</a> and how you will use the answer, you can explain it to users. For example:</p>
  <ul>
    <li>tell users that the questions you're asking will help you know if their situation is urgent</li>
    <li>if your service collects information for statistics or to monitor diversity and will anonymise it, say so</li>
  </ul>

  <h2 id="think-before-you-use-other">Avoid using "Other" for sensitive topics</h2>
  <p>"Other" is often a good option to include. But be wary of using it when you're collecting personal data or sensitive topics. It can make people feel that you do not care enough about their personal circumstances to be specific.</p>
  <p>Be especially careful with "Other" or "Mixed" ethnicity in the context of health information. Do not use these categories to provide health information.</p>

  <h2>Use tested patterns</h2>
  <p>Use the <a href="/design-system/patterns/question-pages">question pages pattern in the design system</a>.</p>

  <h3>GOV.UK design system patterns</h3>
  <ul>
    <li><a href="https://design-system.service.gov.uk/patterns/addresses/">addresses</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/dates/">dates</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/email-addresses/">email addresses</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/ethnic-group/">ethnic groups</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/gender-or-sex/">gender or sex</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/names/">names</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/national-insurance-numbers/">National Insurance numbers</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/passwords/">passwords</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/payment-card-details/">payment card details</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/telephone-numbers/">telephone numbers</a></li>
  </ul>

  <h2>Read more about sensitive topics</h2>
  <p>The sensitive topics reflect the "protected characteristics" in the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents">Equality Act 2010</a>. It is against the law to discriminate against anyone because of these characteristics.</p>

{% endblock %}

{% block afterContact %}

{{ pagination({
    previousUrl: "/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question",
    previousPage: "Make sure you need each question",
    nextUrl: "/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users",
    nextPage: "Use filter questions to route users"
  }) }}

{% endblock %}
