{% set pageTitle = "Make sure you need each question" %}
{% set pageSection = "Content guide" %}
{% set subSection = "How to write good questions for forms" %}
{% set pageDescription = "Question your questions. Keep them to a minimum." %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "326" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "content/how-to-write-good-questions-for-forms/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {% include "content/how-to-write-good-questions-for-forms/_side-nav-mobile.njk" %}

  <h2 id="understand-why-you're-asking-each-question">Understand why you're asking each question</h2>
  <p>Make a list of all the information you need from your users now for you to deliver the service.</p>
  <p>Having a list forces you to question why you're asking users for each item of information. It also helps you challenge unnecessary questions. (This list is sometimes called a "question protocol".)</p>
  <p>Work out what <a href="#use-information-your-organisation-already-has">information your organisation already has (or can access)</a> and where you have information gaps. Ask the questions that let you fill the gaps.</p>

  <h2>Only ask for information you definitely need</h2>
  <p>Only include a question when you know these things:</p>
  <ul>
    <li>you need the information to deliver the service</li>
    <li>why you need it</li>
    <li>who in the organisation uses the information and how</li>
    <li>which users need to give you the information</li>
    <li>how you'll check that the information is accurate (including any validation rules)</li>
    <li>what you'll do if the user gives you the wrong answer or no answer, or if their answer contains information that suggests clinical risk</li>
    <li>how you'll keep the information up to date and secure</li>
  </ul>
  <p>If you do not know how you'll use an answer, find out or remove the question.</p>

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Example: signatures
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>Paper forms often ask for a signature but not many organisations authenticate them. Does your service need a signature and if so, how will you check the user's identity?</p>
      <p>If you do have to verify and authenticate individuals, read <a href="https://digital.nhs.uk/data-and-information/information-standards/governance/latest-activity/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services/">NHS England's Identity verification and authentication standard for digital health and care services, DAPB3051 (previously DCB3051)</a>.</p>
    </div>
  </details>

  <p>All the data you capture is subject to data protection legislation, including GDPR.  Get specialist advice on protecting users' confidentiality and privacy from your business and information risk teams (for example, senior information risk owners and information asset owners). This is another reason to collect as little data as possible.</p>

  <h2 id="start-with-essential-questions">Start with essential questions and add optional ones later</h2>
  <p>Decide if each question is essential (sometimes called "required" or "mandatory") or not. If the user cannot get the service unless they give you this information, it is essential.</p>
  <p>Not all personal data is essential. <a href="/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions">Consider the sensitivities of your questions</a> and the data you really need.</p>
  <p>Only add optional questions when some users clearly need them.</p>
  <p>Do not mark essential fields.</p>
  <p>If you ask for optional information:</p>
  <ul>
    <li>in most contexts, add "(optional)" to the labels of optional fields</li>
    <li>for <a href="/design-system/components/radios">radios</a> and <a href="/design-system/components/checkboxes">checkboxes</a>, add "(optional)" to the legend</li>
  </ul>

  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    {% call fieldset({
      legend: {
        text: "Subscribe to newsletter",
        classes: "nhsuk-fieldset__legend--l"
      }
    }) %}

      {{ input({
        label: {
          html: 'Name (optional)'
        },
        id: "name",
        name: "name"
      }) }}

      {{ input({
        label: {
          html: 'Email address'
        },
        id: "email",
        name: "email"
      }) }}

    {% endcall %}
  </div>

  <p>We do not use asterisks for essential fields. Research suggests that they're not necessary and they can make users anxious and less likely to complete the form.</p>

  <h2 id="use-information-your-organisation-already-has">Use information your organisation already has or can access</h2>
  <p>If you already have some data about the user, you may only need them to confirm that it's correct.</p>
  <p>Investigate whether you can get some of the information you need from another NHS system.</p>
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Example: doing the hard work to avoid asking a question
      </span>
    </summary>
    <div class="nhsuk-details__text">
    <p>The NHS has <a href="https://your-data-matters.service.nhs.uk/">a service that lets patients choose if data from their health records is shared for research and planning</a>. As part of the service, users need to confirm their identity. They can do this by giving their NHS number. But the team found that some users struggled to find their number.</p>
    <p>So they designed a way users could prove their identity by using their personal details instead. This involved looking up a patient database which needed the user's:</p>
    <ul>
      <li>name</li>
      <li>date of birth</li>
      <li>postcode</li>
      <li>gender</li>
    </ul>
    <p>The database check needs gender (the service does not), but not everyone wants to answer a question about gender. The team gets around this by checking the database 4 times - once for each of the gender options in the database.</p>
    <p>That way they do not have to ask users their gender and this makes the service more inclusive.</p>
    </div>
  </details>

  <h2>Postpone questions you could ask later</h2>
  <p>If you do not need information right now, consider collecting it afterwards.</p>

  <p>For example:</p>
  <ul>
    <li>on an application form, first ask the questions that let you and the user know if they're eligible, then come back to questions that determine what they will get</li>
    <li>for psychological therapies, rather than asking users to take a clinical assessment (like a depression score sheet) as part of their self-referral form, it can be better to ask them to fill it in later on</li>
  </ul>

  <h2>Read more about making sure you need each question</h2>
  <ul>
    <li><a href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users">Collecting personal information from users (GOV.UK)</a></li>
    <li><a href="https://www.effortmark.co.uk/question-protocol-make-sure-every-form-field-necessary/">The question protocol: how to make sure every form field is necessary (by Caroline Jarrett on Effortmark website)</a></li>
  </ul>



{% endblock %}

{% block afterContact %}

{{ pagination({
    previous: {
      labelText: "Understand the problem before you write your questions",
      href: "/content/how-to-write-good-questions-for-forms/understand-the-problem-before-you-write-your-questions"
    },
    next: {
      labelText: "Consider the sensitivities around your questions",
      href: "/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions"
    }
  }) }}

{% endblock %}
