{% set pageTitle = "Use filter questions to route users" %}
{% set pageSection = "Content guide" %}
{% set subSection = "How to write good questions for forms" %}
{% set pageDescription = "Filter questions help users move quickly through the form by routing them to the questions that apply to them." %}
{% set dateUpdated = "November 2019" %}
{% set backlog_issue_id = "328" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "content/how-to-write-good-questions-for-forms/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {% include "content/how-to-write-good-questions-for-forms/_side-nav-mobile.njk" %}

  <h2 id="what-are-filter-questions">What are filter questions?</h2>
  <p>Filter (or branching) questions ask a short question first, often a Yes/No question, with <a href="/design-system/components/radios">radios</a>. A typical filter question would be: "Are you 18 or over?"</p>
  <p>Filter questions help you:</p>
  <ul>
    <li>get people to the questions that apply to them – so use them early on</li>
    <li>avoid optional questions, because users only answer the questions that apply to them</li>
    <li>simplify long questions (like <a href="/content/how-to-write-good-questions-for-forms/get-the-questions-into-order#watch-out-for-double-barrelled-questions">"double-barrelled" questions</a>) by breaking them up</li>
  </ul>

  <img class="nhsuk-image__img nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7" src="/assets/filter-question-example.png" alt="">

  <p>But often you need more than a simple "Yes" or "No". In the "Are you 18 or over?" example, for instance, you should think about what your service can offer younger users as an alternative and how you can support their user journey.</p>

  <h2>Spell out what "Yes" and "No" mean</h2>
  <p>Check how users react to your Yes/No question when you test it. Sometimes you will find you need to be clearer about what "Yes" and "No" mean.</p>
  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    {{ radios({
      idPrefix: "example-research",
      name: "example-research",
      fieldset: {
        legend: {
          text: "Can we email you about research?",
          classes: "nhsuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes, you can contact me by email about research"
        },
        {
          value: "no",
          text: "No, do not contact me about research"
        }
      ]
    }) }}
  </div>

  <p>In this case, "No" could also mean:</p>
  <ul>
    <li>"No, do not contact me by email"</li>
    <li>"No, do not contact me at all"</li>
  </ul>
  <p>You may need to offer people guidance or an explanation to help them choose.</p>

  <h2 id="beware-binary-choices">Beware binary choices</h2>
  <p>There will often be at least 1 other option besides "Yes" and "No", including, for example, "I do not know" or "I'm not sure".</p>
  <p>We recommend that you always try out a 3rd option. Extra options can be challenging for the service, but you should consider them.</p>

  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>

    {% set hintHtml -%}
      <p class="nhsuk-u-margin-bottom-2">Your NHS number is a 10 digit number that you find on any letter the NHS has sent you, for example, <span class="nhsuk-u-nowrap">987 654 3210</span></p>
    {%- endset %}

    {{ radios({
      idPrefix: "example-hints",
      name: "example-hints",
      fieldset: {
        legend: {
          text: "Do you know your NHS number?",
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      hint: {
        html: hintHtml
      },
      items: [
      {
        value: "yes",
        text: "Yes, I know my NHS number"
      },
      {
        value: "no",
        text: "No, I do not know my NHS number"
      },
      {
        value: "not sure",
        text: "I'm not sure"
      }
    ]
    }) }}
  </div>

  <p>Having a 3rd option means that you can give people extra information, for example, about their NHS number and where to find it. Our pattern for <a href="/design-system/patterns/ask-for-nhs-numbers">asking users for their NHS number</a> explains more about this.</p>
  <p>"Other" can be a useful option, but <a href="/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions#think-before-you-use-other">avoid using "Other" with personal or sensitive information</a>.</p>
  <p>In your user research, find out what would help your users, for example, by leaving a box with hint text for them to type in something other than "Yes" or "No".</p>

  <h2 id="offer-people-other-ways-to-do-things">Offer people other ways to do things</h2>
  <p>If you need people to enter details to continue and they cannot do this, for example, because they do not have key information to hand, consider whether you could add something to the "No" option to reassure them that there is an alternative.</p>

  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    {{ radios({
      idPrefix: "example-registration-details",
      name: "example-registration-details",
      fieldset: {
        legend: {
          text: "Do you have your registration details?",
          classes: "nhsuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No, try another way"
        }
      ]
    }) }}
  </div>

  <p>In our <a href="/design-system/patterns/ask-for-nhs-numbers">Ask users for their NHS number pattern</a>, we recommend that you give users another way to complete the task without their NHS number. For example, by using a combination of other personal details, like their date of birth and postcode.</p>

  <h2>Test your questions and routing decisions</h2>
  <p>It can help to use post-its, or print out and cut up a paper prototype, to see how the answers might take users on 1 journey or another.</p>
  <p><a href="/content/how-to-write-good-questions-for-forms/test-your-questions">Read more about testing your questions</a>.</p>
  <p>If a lot of people cannot answer "Yes" or "No", reconsider your question.</p>



{% endblock %}

{% block afterContact %}

 {{ pagination({
    previousUrl: "/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions",
    previousPage: "Consider the sensitivities around your questions",
    nextUrl: "/content/how-to-write-good-questions-for-forms/get-the-questions-into-order",
    nextPage: "Get the questions into order"
  }) }}

{% endblock %}
