{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Write the supporting content for your form" %}
{% set pageSection = "Content guide" %}
{% set subSection = "How to write good questions for forms" %}
{% set pageDescription = "As well as questions, your form or service may need an introduction, help text, error messages and a confirmation or thank you page. Think about content across other channels too." %}
{% set dateUpdated = "July 2025" %}
{% set backlog_issue_id = "331" %}

{% block beforeContent %}
  {% include "content/how-to-write-good-questions-for-forms/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {% include "content/how-to-write-good-questions-for-forms/_side-nav-mobile.njk" %}

  <h2>Name your form</h2>
  <p>If you have not already done so, name your form or service. (See the GOV.UK guidance on <a href="https://www.gov.uk/service-manual/design/naming-your-service">Naming your service</a>.)</p>
  <p>Focus on the task, on what the user wants to do.</p>

  <h2>Introduce the form</h2>
  <p>Introduce and explain your form or service to users. This is your chance to stop the wrong people filling in the form and to set expectations.</p>
  <p>You could try a start page, like the <a href="/design-system/patterns/start-page">start page pattern</a>. Be aware that users often ignore text under the start button (and any "Continue" buttons).</p>
  <p>Also, user journeys rarely start with the start page and many forms or services do not need a special start page. Think about how users will get to your form or service as well as how to introduce it.</p>

  <h2 id="give-users-help-in-context">Give users help in context</h2>
  <p>If users need help or guidance with filling in a question, do not link to something labelled "help". Add just enough help text where they need it and only if you see in research that they need it.</p>
  <p>For example, users do not usually need to be told to "Select the answer that applies to you" with radios, but they may need telling to "Select all options that are relevant to you" with checkboxes.</p>
  <p>Add <a href="/design-system/components/hint-text">hint text</a> as a part of other form inputs, such as:</p>
  <ul>
    <li><a href="/design-system/components/checkboxes#checkboxes-with-hint-text">checkboxes</a></li>
    <li><a href="/design-system/components/radios#radios-with-hints">radios</a></li>
    <li><a href="/design-system/components/text-input#using-hint-text">text inputs</a></li>
  </ul>

  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    {{ checkboxes({
      idPrefix: "contact",
      name: "contact",
      fieldset: {
        legend: {
          text: "How do you want to be contacted about this?",
          classes: "nhsuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all options that are relevant to you"
      },
      items: [
        {
          value: "email",
          text: "Email"
        },
        {
          value: "phone",
          text: "Phone"
        },
        {
          value: "text message",
          text: "Text message"
        }
      ]
    }) }}
  </div>

  <p>Answer users' questions in context, like:</p>
  <ul>
    <li>"What's this?"</li>
    <li>"Why do you want this information?"</li>
    <li>"Where can I find this?"</li>
  </ul>
  <p>Use it to explain:</p>
  <ul>
    <li>any necessary jargon</li>
    <li>what format users should give information in</li>
    <li>what you’ll do with personal information</li>
    <li>the consequences of making 1 choice over another</li>
  </ul>

  <p>Good help text saves having to write <a href="#error-messages">error messages</a>.</p>
  <p>Bear in mind that users may miss the help text. Sometimes a <a href="/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users#what-are-filter-questions">filter question</a> will work better.</p>

  <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>If you have to explain your interface, it needs more work.</p>
  </div>

  <p>We do not recommend tool tips. They can be hard for users to see and are not accessible.</p>

  <h2 id="error-messages">Use error messages to explain what went wrong</h2>
  <p>Think of error messages as a step in <a href="/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation">the conversation</a>. Tell the user how to fix the problem as soon as you can.</p>
  <p>If you <a href="/content/how-to-write-good-questions-for-forms/get-the-questions-into-order#begin-prototyping-with-1-thing-per-page">begin prototyping with 1 thing per page</a>, you can deal with errors for 1 thing at a time.</p>
  <p>Read more about <a href="/design-system/components/error-message">error messages</a> in the service manual.</p>
  <p>Also think about error messages if your service, or a service you use, fails. For example, GOV.UK has patterns for "<a href="https://design-system.service.gov.uk/patterns/service-unavailable-pages/">Service unavailable</a>" and "<a href="https://design-system.service.gov.uk/patterns/problem-with-the-service-pages/">There's is a problem with the service</a>".</p>

  <h2 id="end-with-a-confirmation-or-thank-you-page">End with a confirmation or thank you page</h2>
  <p>Consider how you can reassure users they have completed the form and help them understand what to do next.</p>
  <p>You could try:</p>
  <ul>
    <li>a <a href="/design-system/patterns/confirmation-page">confirmation page</a></li>
    <li>a <a href="/design-system/components/summary-list">summary list</a> to summarise users' responses and a <a href="/design-system/patterns/check-answers">check answers page</a></li>
    <li><a href="/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation#pause-to-allow-users-to-reflect">pausing to allow users to reflect, for example, for a declaration</a> or "signature"</li>
  </ul>

  <h2>Look at your content across channels</h2>
  <p>Think beyond the form. For the user, it is likely to be a cross-channel experience. Remember to make your on and offline content consistent, including:</p>
  <ul>
    <li>paper or downloadable forms</li>
    <li>introductory emails or letters</li>
    <li>confirmation emails or text messages</li>
    <li>call centre scripts</li>
    <li>follow up emails or letters</li>
  </ul>

  <h2>Read more about writing content for transactions</h2>
  <p>GOV.UK has some good guidance on <a href="https://www.gov.uk/service-manual/design/govuk-content-transactions">designing how GOV.UK content and transactions work together</a>.</p>

{% endblock %}

{% block afterContact %}

 {{ pagination({
    previous: {
      labelText: "Think of the form as a conversation",
      href: "/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation"
    },
    next: {
      labelText: "Test your questions",
      href: "/content/how-to-write-good-questions-for-forms/test-your-questions"
    }
  }) }}

{% endblock %}
