{% set writeGoodQuestionsNav = [
  { title: "Introduction", url: "/content/how-to-write-good-questions-for-forms" },
  { title: "Understand the problem before you write your questions", url: "/content/how-to-write-good-questions-for-forms/understand-the-problem-before-you-write-your-questions" },
  { title: "Make sure you need each question", url: "/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question" },
  { title: "Consider the sensitivities around your questions", url: "/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions" },
  { title: "Use filter questions to route users", url: "/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users" },
  { title: "Get the questions into order", url: "/content/how-to-write-good-questions-for-forms/get-the-questions-into-order" },
  { title: "Think of the form as a conversation", url: "/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation" },
  { title: "Write the supporting content for your form", url: "/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form" },
  { title: "Test your questions", url: "/content/how-to-write-good-questions-for-forms/test-your-questions" }
] %}

{% for item in writeGoodQuestionsNav %}
  {% set writeGoodQuestionsNav = (writeGoodQuestionsNav.splice(loop.index0, 1, {
    text: item.title,
    href: item.url,
    current: item.title == pageTitle
  }), writeGoodQuestionsNav) %}
{% endfor %}

{{ contentsList({
  items: writeGoodQuestionsNav
}) }}
