---
previewLayout: design-example-wrapper-full
---

{% extends "layouts/design-example-wrapper-full-layout.njk" %}

{% from 'input/macro.njk' import input %}
{% from 'button/macro.njk' import button %}

{% set dummyNhsNumber = "999 123 4567" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ input({
        label: {
          text: "What is your NHS number?",
          classes: "nhsuk-label--l",
          isPageHeading: true
        },
        hint: {
          html: 'Your NHS number is a 10 digit number, for example <span class="nhsuk-u-nowrap">' + dummyNhsNumber + '</span>'
        },
        id: "nhs-number",
        name: "nhs-number",
        classes: "nhsuk-input--width-10",
        inputmode: "numeric"
      }) }}

      {{ button({
        text: "Continue"
      }) }}

   </div>
  </div>
{% endblock %}
