{% set pageTitle = 'Propose a new thing' %}
{% set pageDescription = 'TBD.' %}

{% extends 'includes/layout.njk' %}
{% from 'components/inset-text/macro.njk' import insetText %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/contribute",
  text: "Contribute"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Anyone can propose a new thing for the NHS digital service manual.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>How to propose a new thing</h2>
    <h3>1. Check the backlog</h3>
    <p>[Paragraph]</p>
    <h3>2. Raise an issue</h3>
    <p>[Paragraph]</p>
    <h3>3. Have a review with the standards team</h3>
    <p>[Paragraph]</p>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: February 2019</p>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="app-u-border-top">
      <h3>Contribute</h3>
      <ul>
        <li><a href="/service-manual/contribute/backlog">Community backlog</a></li>
        <li><a href="/service-manual/contribute/work-new-thing">Work on a new thing</a></li>
        <li><a href="/service-manual/contribute/criteria">Contribution criteria</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
