{% set pageTitle = 'Propose a new thing' %}
{% set pageDescription = 'Anyone can propose a new thing for the NHS digital service manual.' %}

{% extends 'includes/layout.njk' %}
{% from 'inset-text/macro.njk' import insetText %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/contribute",
  text: "Contribute"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Anyone can propose a new thing for the NHS digital service manual.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>How to propose a new thing</h2>
    <h3>Check the backlog</h3>
    <ul>
      <li>Check if your idea is already in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog">community backlog</a>.</li>
    </ul>
    <h4>If the idea has been proposed</h4>
    <ul>
      <li>Please add any examples or evidence you have to support the proposal.</li>
      <li>If you'd like to work on it, read <a href="/service-manual/contribute/work-new-thing">how to work on a new component or pattern.</a></li>
    </ul>
    <h4>If your idea is not in the backlog</h3>
    <ul>
      <li>You can <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/new">raise an issue using the template</a>.</li>
      <li>At this stage, you just need to present your idea and evidence of user needs.</li>
      <li>The service manual team will review your proposal and see if it meets the <a href="/service-manual/contribute/criteria">contribution criteria</a>.</li>
      <li>Once the proposal is ready to be worked on, it will be marked as "To do" in the backlog.</li>
      <li>You can then choose to <a href="/service-manual/contribute/work-new-thing">work on it yourself</a>, or leave it for someone else.</li>
    </ul>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: February 2019</p>
    </div>
  </div>

</div>
{% endblock %}
