{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Warning callout" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use a warning callout to help users identify and understand warning content on the page, even if they do not read the whole page." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "23" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Warning callout updated in August 2025</h3>
    <p>See <a href="/design-system/guides/updating-to-v10#warning-callout">updates to warning callout in version 10</a></p>
  </div>

  {{ designExample({
    group: "components",
    item: "warning-callout",
    type: "custom-heading"
  }) }}

  <h2>When to use a warning callout</h2>
  <p>Use this callout for information that:</p>
  <ul>
    <li>is time critical</li>
    <li>could have a significant effect on someone's health</li>
    <li>addresses a common or significant misconception or mistake</li>
  </ul>

  <h2>When not to use a warning callout</h2>
  <p>Do not use a warning callout</p>
  <ul>
    <li>in transactional pages – we haven't tested them there yet</li>
    <li>if you need to tell a user to contact their GP or get medical help – use the pattern to <a href="/design-system/patterns/help-users-decide-when-and-where-to-get-care">help users decide when and where to get care (care cards)</a> instead</li>
    <li>if the information is not important enough for a warning callout – use <a href="/design-system/components/inset-text">inset text</a> instead</li>
  </ul>

  <h2>How to use a warning callout</h2>
  <p>Try to give the callout a short, clearly worded heading. Headings help people scan the page for warnings and understand what's relevant to them.</p>
  <p>Make the callout concise, specific and self-contained. For example, do not introduce a callout with the words "If this happens...". Explain the circumstances.</p>
  <p>Avoid having more than 2 callouts on a page. We want to reassure people, not to scare them.</p>
  <h3>Placing warning callouts</h3>
  <p>Do not break the flow with a callout. Think about whether you need it and the best place to put it.</p>
  <p>Make sure any text below a warning callout has its own heading so that screen reader users know it's not part of the callout.</p>
  <p>If possible, put at least 1 short paragraph of text between 2 callouts or between an action link and a callout.</p>

  <h3>Accessibility</h3>
  <p>The heading and background contrast ratio is 11.92:1 and the content and background contrast ratio is 13.69:1. These go beyond AAA guidelines.</p>

  <h4>Headings</h4>
  <p>The callout should have a specific heading, for example "School, nursery or work", prefixed with the visually hidden text <code>Important:</code>. This will help users with screen readers understand that the information is important.</p>

  <p>If the heading is simply the word "Important" or it includes the word "important", you do not need to use visually hidden text.</p>

  {{ designExample({
    group: "components",
    item: "warning-callout",
    type: "default"
  }) }}

  <h2>Research</h2>
  <p>In testing, users noticed the yellow callouts and understood them as a warning.</p>
  <p>Our research shows that clearly worded callout headings:</p>
  <ul>
    <li>help users spot relevant information quickly</li>
    <li>help users who cannot distinguish callouts by their colour</li>
    <li>are better than <a href="/design-system/styles/icons">icons</a>, like exclamation marks, which may not be accessible and can be interpreted in different ways</li>
  </ul>
  <p>We've tested warning callouts in pages with lots of content. We haven't yet tested them in forms or transactional content.</p>
  <p>We haven't tested links in warning callouts. If you want to include a link, please test it and let us know.</p>

{% endblock %}
