{% set pageTitle = "Get the NHS Frutiger font" %}
{% set pageDescription = "Frutiger is the main NHS font. NHS organisations in England can register to download and use it." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/get-frutiger-font">Get the NHS Frutiger font</a></li>

  </ul>
  </nav>
{% endblock %}

{% block bodyContent %}
<p>NHS England has a licence to use 3 weights of the Frutiger font. </p>
<p>You can register to use the font for free if you:</p>
<ul>
  <li>work for an NHS organisation in England</li>
  <li>are the main person responsible for managing font use in your organisation (for example, in the communications or IT team)</li>
</ul>

<p>Once you have registered, you can download the font and host it locally. Or you can apply it to your website or online service by linking to our hosted files.</p>

<p>You must register here to use the font for free. Otherwise you must buy your own licence.</p>

<p>You do not need to register if you are work for NHS England. [Where should NHSE staff go?]</p>

<h2>Frutiger weights covered by the licence</h2>
<p>The licence covers 3 weights. These are:</p>
<ul>
  <li>Frutiger 65 Bold</li>
  <li>Frutiger 55 Roman</li>
  <li>Frutiger 45 Light, but you cannot use this weight in apps</li>
</ul>
<p>You can use the font in these weights online and offline, for example, on your website or in printed products.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Weights not covered
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>If you want to use another weight of Frutiger, for example Frutiger Italic, you must buy your own licence.</p>
    <p>You must also buy your own licence if you want to use Frutiger 45 Light in an app.</p>
  </div>
</details>

<h2>Before you start</h2>
<p>To register to use the font, you must:</p>
<ul>
  <li>decide who in your organisation is the best person to manage its use</li>
  <li>have an nhs.net email address</li>
  <li>have the ODS code for your NHS organisation – you can find this through <a href="https://www.odsdatasearchandexport.nhs.uk/">ODS data search and export</a></li>
  <li>read the <a href="/design-system/styles/get-frutiger-font/terms-of-use">terms of use</a></li>
  <li>fill in the form for your organisation and agree to the terms</li>
</ul>

<h2>Next step</h2>
<p><a href="/design-system/styles/get-frutiger-font/terms-of-use">Read the terms of use</a>.</p>
<p>At the end of the terms, there's a link to the registration form.</p>
<p>If you have problems registering via the form, please contact: form mailbox.</p>

<h2>More information</h2>
<p><a href="https://www.england.nhs.uk/nhsidentity/identity-guidelines/fonts/">Font guidance in the NHS identity guidelines (NHS England)</a></p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
