{% set pageTitle = "Terms of use" %}
{% set pageDescription = "Before you can download and use the Frutiger font under NHS England's licence, you must read and agree to these terms." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/get-frutiger-font">Get the NHS Frutiger font</a></li>

  </ul>
  </nav>
{% endblock %}

{% block bodyContent %}

<p>NHS England has a licence for 3 weights of the Frutiger font, which is the brand font for the NHS. Monotype owns the font.</p>
<p>NHS organisations in England can register to use the font for free under a "sub-licence". You must sign up to these terms to get a sub-licence.</p>
<p>You do not need to register if your team is part of NHS England.</p>
<h2>The fonts covered by the sub-licence</h2>
<p>NHS England's licence covers Frutiger in 3 weights:</p>
<ul>
  <li>Frutiger 65 Bold</li>
  <li>Frutiger 55 Roman</li>
  <li>Frutiger 45 Light, but you cannot use this in an app</li>
</ul>
<p>You must buy your own licence if you want to use:</p>
<ul>
  <li>any other font or font weight, such as Frutiger Italic</li>
  <li>Frutiger 45 Light in a mobile downloadable NHS app</li>
  <li>Frutiger in a way that is not covered in the sub-licence</li>
</ul>
<p>The sub-licence covers the font version that NHS England bought in December 2024. It does not cover later versions.</p>

<h2>What you can and cannot do with a sub-licence</h2>
<p>You must:</p>
<ul>
  <li>manage access to the font and only let people in your organisation or your suppliers use it</li>
  <li>make sure that people using the font agree to these terms</li>
</ul>
<p>You are responsible for:</p>
  <ul>
    <li>your users' and suppliers' use of the fonts and compliance with your sub-licence</li>
    <li>any unauthorised access to the font and font software on your or their systems</li>
    <li>any claims by Monotype for your, your users' and your suppliers' misuse of the font or font software</li>
  </ul>
<p>You must not sub-licence the font to another organisation or give anyone outside your organisation access to it, with the exception of suppliers.</p>
<p>NHS England is not responsible for any losses, claims or liabilities arising our of your, your users' or suppliers' use of the font or font software on your or their systems.</p>
<p>You cannot use Monotype's font platform or its app to get these free fonts. You can only get them by registering here in the NHS digital service manual.</p>
<h3>Suppliers</h3>
<p>You can give suppliers access to the font to produce NHS branded goods or services for you.</p>
<p>You must make sure that they:</p>
<ul>
  <li>agree to these terms</li>
  <li>delete any font files you have given them at the end of the job</li>
</ul>
<h3>The font files</h3>
<p>You must not:</p>
<ul>
  <li>change the font or its software or use it to make other fonts</li>
  <li>embed the font software code in open source software in a way that makes it publicly available</li>
  <li>extract or use the font metadata</li>
  <li>transfer or user the font or font software outside the UK</li>
</ul>

<h3>Using the font in different products, systems and services</h3>
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Online services, including websites
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can use the font and font software on websites you control.</p>
    <p>You must make sure people cannot download, reformat or use the font code.</p> 
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Apps
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can include the font and font software in software-only apps.</p>
    <p>You must not use the font software in apps or equipment that you sell.</p>
    <p>If you want to use Frutiger Light in an app, you must buy your own licence. The sub-licence does not cover this.</p>
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Desktop applications, including creating documents or other materials
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can install the software on servers that you control or servers that a third party controls for you.</p>
    <p>You can:</p>
    <ul>
      <li>use the font to create, edit and distribute documents or other materials</li>
      <li>embed it into electronic documents (but not in digital marketing communications - see below)</li>
      <li>back it up internally</li>
      <li>for digital informational content (?)</li>
    </ul>
    <p>You must make sure that materials you create:</p>
    <ul>
      <li>do not contain the font software or allow any part of it to be extracted</li>
      <li>only have images of the font that cannot be edited</li>
    </ul>
    <p>If you use the font, font software or materials in a collaborative cloud environment, you can let users view and edit the document but not otherwise use the font.</p>
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Digital marketing communications
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can embed the font and font software into digital marketing communications and use the font in editable documents, like Word.</p>
    <p>You must make sure your content does not allow people to download, reformat or reuse the font code.</p> 
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Print and other physical items
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can use the font and font software to create, edit, print, and produce printed and other physical items.</p>
  </div>
</details>
             
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Logos and marks
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can use the font and font software in any logos or marks.</p>
  </div>
</details>

<h2>Issues or claims</h2>
<p>The font and font software are provided on an "as is" basis.</p>
<p>If you have any issues with the fonts or font software covered by this sub-licence, contact X at NHS England. Do not contact Monotype. You cannot make a claim against Monotype directly.</p>

<h2>Breaches of the sub-licence</h2>
<p>You must let us know immediately if you breach your sub-licence.</p>
<p>You must fix any breaches you can within 60 days.</p>
<p>NHS England or Monotype can end your sub-licence and rights to use the font if you breach it.</p>
<p>If Monotype makes a claim about your, your users' or your suppliers' use of the font, you must help us and give us any reasonable information we ask for. This may include providing a list of font users and details of how you use the font.</p> 

<h2>Next step</h2>
{{ actionLink({
  text: "Complete the registration form (MS Forms)",
  href: "https://forms.office.com/Pages/ResponsePage.aspx?id=slTDN7CF9UeyIge0jXdO40EyX7apFihMsAHZLYEqsb5UNU9RTEZWSzM3MVVHVUVVMFk1MlFPSkg0Wi4u"
}) }}
<p>You must have an nhs.net email and be logged in when you follow the link.</p>
<p>If you have problems registering via the form, please contact: form mailbox.</p>

  
  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

  

{% endblock %}