{% set pageTitle = "Terms of use" %}
{% set pageDescription = "Before you can download and use the Frutiger font, you must read and agree to these terms." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/get-frutiger-font">Get the NHS Frutiger font</a></li>

  </ul>
  </nav>
{% endblock %}

{% block bodyContent %}

<p>NHS England has a licence to use 3 weights of the Frutiger font, which is the brand font for the NHS. The font is owned by Monotype.</p>
<p>NHS organisations in England can register to sub-license the font for free. You must sign up to these terms to use the font under the sub-licence.</p>
<h2>The fonts you can use</h2>
<p>The sub-licence covers Frutiger in 3 weights:</p>
<ul>
  <li>Frutiger 65 Bold</li>
  <li>Frutiger 55 Roman</li>
  <li>Frutiger 45 Light, but you cannot use this in an app</li>
</ul>
<p>You must buy your own licence if you want to use:</p>
<ul>
  <li>any other font or font weight, such as Frutiger Italic</li>
  <li>Frutiger 45 Light in a mobile downloadable NHS app</li>
  <li>Frutiger in a way that is not covered in this sub-licence</li>
</ul>

<h2>What you can and cannot do under this sub-licence</h2>
<p>You must:</p>
<ul>
  <li>manage access to the font and only let people in your organisation use it</li>
  <li>make sure that people using the font agree to these terms</li>
  <li>provide a full list of users of the font if we or Monotype ask for this</li>
  
</ul>
<p>You must not sub-licence the font to another organisation or give anyone outside your organisation access to it.</p>
<p>You cannot use Monotype's font platform or its app to get these free fonts. You can only get them by registering via the NHS digital service manual.</p>
<h3>Third party suppliers</h3>
<p>You can give third parties access to the font to produce NHS branded goods or services for you.</p>
<p>You must make sure that they:</p>
<ul>
  <li>agree to these terms</li>
  <li>delete any font files you have given them at the end of the job</li>
</ul>
<h2>What you cannot do with the font</h2>
<p>You must not:</p>
<ul>
  <li>change the font or its software or use it to make other fonts</li>
  <li>embed the font software code in open source software in a way that makes it publicly available</li>
  <li>extract or use the font metadata</li>
</ul>

<h2>Using the font in different products, systems and services</h2>

  
  
  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

  <h2>Feedback</h2>
  <p>Let us know about your visit to the service manual today by filling in <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">our survey on the Qualtrics website</a>.</p>

{% endblock %}