{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Know that a page is up to date" %}
{% set pageDescription = "Use review dates to let users know when a page was last checked and will be checked again." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Help users to" %}
{% set dateUpdated = "July 2022" %}
{% set backlog_issue_id = "31" %}

{% block beforeContent %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {{ designExample({
    group: "patterns",
    item: "know-that-a-page-is-up-to-date",
    type: "default"
  }) }}

  <h2>When to use this pattern</h2>
  <p>Use this pattern when your research shows users need to know when the whole page was last checked and when it will be checked again.</p>

  <h2>When not to use this pattern</h2>
  <p>Do not use this pattern in transactional services. We have not tested review dates in forms.</p>
  <p>Do not use it when you change something on a page but have not reviewed the whole page.</p>

  <h2>How the pattern works</h2>
  <p>The pattern consists of 2 dates:</p>
  <ul>
    <li>when you last reviewed the page</li>
    <li>when you will review it again</li>
  </ul>

  <p>Put whole page review dates at the bottom of the page. They are not a high priority for users looking for information.</p>

  {{ designExample({
    group: "patterns",
    item: "know-that-a-page-is-up-to-date",
    type: "page"
  }) }}

  <h3>Embedded content, such as videos</h3>
  <p>Review dates for embedded content should sit close to the content they relate to. Include the last reviewed date (usually the production date) and next review date in the component that holds the embedded content. This is in addition to the page review date.</p>
  <p>For example:</p>

  <figure class="nhsuk-image app-image--border nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-7">
    <img class="nhsuk-image__img app-u-full-width" src="/assets/review-date-pattern-embedded-content.jpg" alt="Video player with a caption below showing review dates">
    <figcaption class="nhsuk-image__caption">
      Example of review date used under a video
    </figcaption>
  </figure>

  <h3>The review process</h3>
  <p>A page review involves reviewing the whole page to check that it is still accurate and up to date. Whole page reviews should be part of a planned content lifecycle where you create, then update or delete outdated content.</p>
  <p>Depending on the content, this may involve checking it with a clinician or other subject matter expert. It also involves, for example, considering any user feedback and checking for broken links or accessibility issues.</p>
  <p>For health content, it means reviewing the clinical evidence to make sure that the page is up to date. If there are changes to clinical content, a clinician must sign them off. Read more about <a href="https://service-manual.nhs.uk/service-standard/16-make-your-service-clinically-safe">making your service clinically safe</a>.</p>
  <p>The NHS website (nhs.uk) uses review dates on every page of health content as part of the work to meet <a href="/content/standard-for-creating-health-content">the standard for creating health content</a>, but not on campaign content.</p>

  <h2>Research</h3>
  <p>We tested review dates on a health information page in summer 2018.</p>
  <p>At first we tested them away from the main content, closer to the footer of the page, separated by a rule, but users didn't notice them there. So we removed the rule and brought the dates closer to the content. Users then read them and said that they were helpful.</p>
  <p>We have not tested review dates in transactional services and do not recommend using them. If you use a review date in a transactional service, please test it with users and let us know what you find.</p>

  <h3>Letting users know about content updates</h3>
  <p>Some teams find their users want to know if information has changed since the page was last reviewed or when there is an important update.</p>
  <p>People who use the service manual and design system, for example, find it helpful to know when information on a page was last updated. We’re using an experimental "Updated" pattern on service manual pages to let users know when we’ve updated something on a page.</p>
  <p>Please share any findings you have about <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/310">telling users about content updates on GitHub</a>. We’ll share our research findings there.</p>

{% endblock %}
