{% from 'header/macro.njk' import header %}

{{ header({
  logo: {
    href: "#",
    ariaLabel: "NHS Anytown Anyplace Anywhere NHS Foundation Trust homepage"
  },
  organisation: {
    name: "Anytown Anyplace",
    split: "Anywhere",
    descriptor: "NHS Foundation Trust"
  },
  primaryLinks: [
    {
      href: "#",
      text: "Your hospital visit"
    },
    {
      href: "#",
      text: "Wards and departments",
      active: true
    },
    {
      href: "#",
      text: "Conditions and treatments"
    },
    {
      href: "#",
      text: "Our people"
    },
    {
      href: "#",
      text: "Our research"
    }
  ],
  search: {
    visuallyHiddenLabel: "Search the Anytown Anyplace Anywhere website"
  }
}) }}
