{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "There is a problem with the service pages" %}
{% set pageDescription = "Tell the user there is something wrong with the service. These are also known as 500 and internal server error pages." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Pages" %}
{% set dateUpdated = "June 2026" %}
{% set backlog_issue_id = "233" %}

{% block beforeContent %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{{ designExample({
  group: "patterns",
  item: "problem-with-the-service-pages",
  type: "default"
}) }}

<h2 id="when-to-use">When to use this pattern</h2>
<p>Use this page when there is an unexpected problem with the service. Use the same page for all unexpected problems.</p>
<p>Log all errors and fix them as quickly as possible.</p>
<p>Only display the page for a short time. If you cannot fix a problem quickly, close the service and use a <a href="/design-system/patterns/service-unavailable-pages">Service unavailable page</a>.</p>

<h2 id="how-to-use">How to use this pattern</h2>
<p>These pages should include:</p>
<ul>
  <li>"Sorry, there is a problem with the service – service name – NHS" as the page title</li>
  <li>"Sorry, there is a problem with the service" as the <code>&lt;h1&gt;</code></li>
  <li>"Try again later." as a normal paragraph</li>
  <li>information about what has happened to their answers if they are in the middle of a transaction</li>
  <li>an alternative journey, if it's a transactional service</li>
  <li>contact information</li>
</ul>

<p>If your service is a healthcare service, tell users how to complete their task through a different channel.</p>
<p>Contact information should include all numbers and opening times or link to a specific page that includes numbers and opening times.</p>

<p>Have clear and concise content and do not use:</p>
<ul>
  <li>breadcrumbs</li>
  <li>jargon like 500 or "bad request"</li>
  <li>"We are experiencing technical difficulties"</li>
  <li>red text to warn people</li>
</ul>
<p>Store previously entered information for a reasonable amount of time so users can resume a journey with re-populated information when the service becomes available again.</p>

{% endblock %}
