{% from 'error-summary/macro.njk' import errorSummary %}
{% from 'checkboxes/macro.njk' import checkboxes %}

{{ errorSummary({
  "titleText": "There is a problem",
  "errorList": [
    {
      "text": "Select if you have 1 of these conditions",
      "href": "#conditions"
    }
  ]
}) }}

{{ checkboxes({
  "idPrefix": "example-error",
  "name": "example-error",
  "fieldset": {
    "legend": {
      "text": "Have you ever had any of these conditions?",
      "classes": "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  "hint": {
    "text": "Select all the options that are relevant to you."
  },
  "errorMessage": {
    "text": "Select if you have 1 of these conditions"
  },
  "items": [
    {
      "value": "Asthma",
      "text": "Asthma",
      id: "conditions"
    },
    {
      "value": "Diabetes",
      "text": "Diabetes"
    },
    {
      "value": "Heart disease",
      "text": "Heart disease"
    },
    {
      "value": "None are relevant to me",
      "text": "None are relevant to me"
    }
  ]
}) }}
