{% from 'feedback-banner/macro.njk' import feedbackBanner %}

{{ feedbackBanner({
  "title": "Help us make the NHS website better",
  "content": "Your feedback helps us improve the NHS website.",
  "href": "https://www.nhs.uk",
  "label": "Take our short survey"
}) }}
