<div class="nhsuk-grid">
  <div class="nhsuk-grid__item nhsuk-grid__item--full">
    <div class="nhsuk-reading-width">
      <p>You can't catch shingles from someone with chickenpox. You can catch chickenpox from someone with shingles if you haven't had chickenpox before.</p>
      <p>When you get chickenpox, the virus stays in your body. It can be triggered again if your immune system is low and cause shingles. </p>
      <p>This can be because of stress, certain conditions, or treatments like chemotherapy.</p>
    </div>
  </div>
</div>
