<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="main-content">
    <div class="nhsuk-grid">
      <div class="nhsuk-grid__item nhsuk-grid__item--full">
        <div class="nhsuk-page-heading">
          <h1>Knee pain</h1>
          <div class="nhsuk-reading-width">
            <p class="nhsuk-body-l nhsuk-page-intro">
              Knee pain can often be treated at home – you should start to feel better in a few days. See a GP if the pain is very bad or lasts a long time.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid">
      <div class="nhsuk-grid__item nhsuk-grid__item--one-third nhsuk-sticky">
        <div class="nhsuk-page-nav">
          <h2 class="nhsuk-heading-xs">On this page</h2>
          <ol class="nhsuk-list-nav">
            <li><a href="#things-you-can-try">Things you can try</a></li>
          </ol>
        </div>
      </div>
      <div class="nhsuk-grid__item nhsuk-grid__item--two-thirds">
        <div class="nhsuk-page-content">
          <h2 id="things-you-can-try">How to ease knee pain and swelling</h2>
          <p>Try these things at first:</p>
          <ul>
            <li>put as little weight as possible on the knee – for example, avoid standing for a long time</li>
            <li>use an ice pack (or bag of frozen peas wrapped in a teatowel) on your knee for up to 20 minutes every 2 to 3 hours</li>
            <li>take paracetamol</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
