<div class="nhsuk-grid">
  <div class="nhsuk-grid__item nhsuk-grid__item--one-half">
    <p>nhsuk-grid__item--one-half</p>
  </div>
  <div class="nhsuk-grid__item nhsuk-grid__item--one-half">
    <p>nhsuk-grid__item--one-half</p>
  </div>
</div>
<div class="nhsuk-grid">
  <div class="nhsuk-grid__item nhsuk-grid__item--one-third">
    <p>nhsuk-grid__item--one-third</p>
  </div>
  <div class="nhsuk-grid__item nhsuk-grid__item--two-thirds">
    <p>nhsuk-grid__item--two-thirds</p>
  </div>
</div>
