
<h4 class="nhsuk-u-margin-bottom-0">Full width (100%)</h4>
<div class="nhsuk-grid-row nhsuk-o-grid--example">
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
    <p>nhsuk-grid-row</p>
  </div>
</div>
<h4 class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4 ">Halves (50%)</h4>
<div class="nhsuk-grid-row nhsuk-o-grid--example">
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-half">
    <p>nhsuk-grid-column-one-half</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-half">
    <p>nhsuk-grid-column-one-half</p>
  </div>
</div>
<h4 class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4 ">Thirds (33%)</h4>
<div class="nhsuk-grid-row nhsuk-o-grid--example">
  <div class="nhsuk-o-grid__item nhsuk-grid-column-two-thirds">
    <p>nhsuk-grid-column-two-thirds</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-third">
    <p>nhsuk-grid-column-one-third</p>
  </div>
</div>
<div class="nhsuk-grid-row nhsuk-o-grid--example">
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-third">
    <p>nhsuk-grid-column-one-third</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-two-thirds">
    <p>nhsuk-grid-column-two-thirds</p>
  </div>
</div>
<h4 class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4 ">Quarters (25%)</h4>
<div class="nhsuk-grid-row nhsuk-o-grid--example">
  <div class="nhsuk-o-grid__item nhsuk-grid-column-three-quarters">
    <p>nhsuk-grid-column-three-quarters</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-quarter">
    <p>nhsuk-grid-column-one-quarter</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-quarter">
    <p>nhsuk-grid-column-one-quarter</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-quarter">
    <p>nhsuk-grid-column-one-quarter</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-quarter">
    <p>nhsuk-grid-column-one-quarter</p>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-grid-column-one-quarter">
    <p>nhsuk-grid-column-one-quarter</p>
  </div>
</div>
