{% from 'header/macro.njk' import header %}

{{ header({
  "service": {
    "name": "Digital service manual",
    "longName": "true"
  },
  "ariaLabel": "NHS digital service manual homepage",
  "showNav": "false",
  "showSearch": "false"
  })
}}
