{% from 'components/hint/macro.njk' import hint %}

{{ hint({
  "text": "This is a 10 digit number, like 485 777 3456."
}) }}
{{ hint({
  "text": "You can find it on any letter the NHS has sent you, on a prescription or by logging in to a GP practice online service."
}) }}
