{% from 'components/input/macro.njk' import input %}

{{ input({
  "label": {
  "text": "20 character width"
  },
  "id": "input-width-20",
  "name": "test-width-20",
  "classes": "nhsuk-input--width-20"
}) }}
{{ input({
  "label": {
  "text": "10 character width"
  },
  "id": "input-width-10",
  "name": "test-width-10",
  "classes": "nhsuk-input--width-10"
}) }}
{{ input({
  "label": {
  "text": "5 character width"
  },
  "id": "input-width-5",
  "name": "test-width-5",
  "classes": "nhsuk-input--width-5"
}) }}
{{ input({
  "label": {
  "text": "4 character width"
  },
  "id": "input-width-4",
  "name": "test-width-4",
  "classes": "nhsuk-input--width-4"
}) }}
{{ input({
  "label": {
  "text": "3 character width"
  },
  "id": "input-width-3",
  "name": "test-width-3",
  "classes": "nhsuk-input--width-3"
}) }}
{{ input({
  "label": {
  "text": "2 character width"
  },
  "id": "input-width-2",
  "name": "test-width-2",
  "classes": "nhsuk-input--width-2"
}) }}
