{% from 'components/input/macro.njk' import input %}

{% from 'components/input/macro.njk' import input %}

{{ input({
  "label": {
    "text": "NHS number"
  },
    "hint": {
    "html": "<p>This is a 10 digit number, like 485 777 3456.</p> <p>You can find it on any letter the NHS has sent you, on a prescription or by logging in to a GP practice online service.</p>"
  },
    "id": "input-with-hint-text",
  "name": "test-name-2"
}) }}
