<h3>How to gargle with salt water</h3>
<ol class="nhsuk-list nhsuk-list--number">
  <li>Dissolve half a teaspoon of salt in a glass of warm water.</li>
  <li>Gargle with the solution then spit it out – don't swallow it.</li>
  <li>Repeat as often as you like.</li>
</ol>
