<ul class="nhsuk-list nhsuk-list--bullet">
  <li>The quick brown</li>
  <li>fox jumps over</li>
  <li>the lazy dog</li>
</ul>
<ol class="nhsuk-list nhsuk-list--number">
  <li>The quick brown</li>
  <li>fox jumps over</li>
  <li>the lazy dog</li>
</ol>
