{% set pageTitle = "Application" %}
{% set pageDescription = "Create the final versions of your new site map and designs." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Measure if the changes you have made are working</h2>
  <h3>Compare the benchmark tree test against a new tree test</h3>
  <p>In the initial understanding phase of your IA transformation, you may have run a tree test to understand how your current content was performing.</p>
  <p>If your site did not have any current content on the topic you are focusing on, you may have run a tree test on a competitor site map.</p>
  <p>Essentially, what we want to do now is to measure whether the new IA has made improvements to the overall performance of the tree in a tree test. Therefore, you want to run a final tree test (which you may have already done earlier in this application phase).</p>
  <p>When you have the findings from the final tree test, compare them to the initial tree test results to see whether:</p>
  <ul>
    <li>the overall task success rate has increased</li>
    <li>the direct success rate has increased</li>
    <li>the average speed to complete the tasks has decreased</li>
  </ul>
  <p>If your latest tree test has better scores for the above metrics, it is a good sign that your new IA is performing better than the previous one.</p>

  <h2>Moving to the next stage: Live</h2>
  <p>Now that there is a good level of confidence that the changes being suggested are working well, it is time to put them live. Follow the last phase of guidance about how to monitor your improvements once you have launched the new IA.</p>



{% endblock %}
