<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <p><code>nhsuk-u-text-break-word</code></p>
    <div class="nhsuk-card nhsuk-u-one-third">
      <p class="nhsuk-u-text-break-word">hyperparathyroidism</p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <p><code>&amp;shy;</code></p>
    <div class="nhsuk-card nhsuk-u-one-third">
      <p>hyper&shy;para&shy;thyroidism</p>
    </div>
  </div>
</div>
