{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "NHS service standard" %}
{% set pageDescription = "This NHS companion to the GOV.UK service standard will help you check that you're working to best practice from the start." %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "NHS service standard" %}
{% set landingPage = true %}
{% set dateUpdated = "February 2022" %}
{% set backlog_issue_id = "336" %}

{% block beforeContent %}
  {% include "standards-and-technology/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>The NHS service standard is designed to help teams:</p>
  <ul>
    <li>meet the <a href="https://www.gov.uk/service-manual/service-standard">GOV.UK service standard</a></li>
    <li>address the different needs of health service users</li>
    <li>navigate the complexities of delivering digital services in health and care</li>
  </ul>

  <p>It contains the 14 points of the GOV.UK service standard, with guidance to help teams meet them in a health context, and <a href="#3-points-specific-to-health-and-social-care">3 extra points specific to health and social care</a>.</p>
  <p>If your service is being assessed by the Government Digital Service, you must meet the first 14 points. If you work in health, we recommend trying to meet all 17 points.</p>
  <p><a href="/standards-and-technology/about-the-service-standard">Read more about the NHS service standard</a>.</p>

  <h2 class="nhsuk-u-margin-bottom-0">The GOV.UK service standard in the context of health</h2>

  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>
          Understand users and their needs in the context of health and care
        </h3>
        <p>Take time to understand your users' clinical, practical and emotional needs - and their abilities - and the problem you're trying to solve for them.</p>
        <p>Think about people's entire experience and the systems and processes around the product or service you're building.</p>
        <p><a href="/standards-and-technology/service-standard-points/1-understand-users-and-their-needs-context-health-and-care">Find out what you should do about point 1.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">2</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">2</span>
          Work towards solving a whole problem for users
        </h3>
        <p>Consider where your service fits in your users' healthcare journey and whether you can solve a whole problem or influence a wider solution.</p>
        <p><a href="/standards-and-technology/service-standard-points/2-and-3-work-towards-solving-a-whole-problem-and-provide-a-joined-up-experience">Find out what you should do about points 2 and 3.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">3</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">3</span>
          Provide a joined up experience across all channels
        </h3>
        <p>Collaborate across team, programme and organisational boundaries and create a service that meets users' needs across all channels.</p>
        <p><a href="/standards-and-technology/service-standard-points/2-and-3-work-towards-solving-a-whole-problem-and-provide-a-joined-up-experience">Find out what you should do about points 2 and 3.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">4</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">4</span>
          Make the service simple to use
        </h3>
        <p>Build a service that's simple to use so that people can succeed first time. Test with users to make sure it works for them.</p>
        <p>Healthcare journeys can be complex. Do the hard work to make things simpler.</p>
        <p><a href="/standards-and-technology/service-standard-points/4-make-the-service-simple-to-use">Find out what you should do about point 4.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">5</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">5</span>
          Make sure everyone can use the service
        </h3>
        <p>Make sure people with different physical, mental health, social, cultural or learning needs can use your service, whether it's for the public or staff.</p>
        <p>And people who do not have access to the internet or lack the skills or confidence to use it.</p>
        <p>Build an inclusive service so that everyone gets the care they need.</p>
        <p><a href="/standards-and-technology/service-standard-points/5-make-sure-everyone-can-use-the-service">Find out what you should do about point 5.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">6</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">6</span>
          Create a team that includes multidisciplinary skills and perspectives
        </h3>
        <p>Make sure you have the right - and diverse - skills and roles to build and operate the service.</p>
        <p>Make as many decisions as possible in the team so that you can respond quickly to what you learn about users and their needs.</p>
        <p><a href="/standards-and-technology/service-standard-points/6-create-a-team-that-includes-multidisciplinary-skills-and-perspectives">Find out what you should do about point 6.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">7</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">7</span>
          Use agile ways of working
        </h3>
        <p>Make sure that the team can deliver quickly and adapt to meet users' needs.</p>
        <p>Use agile principles, tools and governance and resource the team flexibly.</p>
        <p><a href="/standards-and-technology/service-standard-points/7-use-agile-ways-of-working">Find out what you should do about point 7.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">8</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">8</span>
          Iterate and improve frequently
        </h3>
        <p>Make sure you have the capacity, resources and technical flexibility to iterate and improve the service frequently.</p>
        <p>Work with your organisation to make sure that you're able to focus on the improvements that have the most value.</p>
        <p><a href="/standards-and-technology/service-standard-points/8-iterate-and-improve-frequently">Find out what you should do about point 8.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">9</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">9</span>
          Create a secure service which protects people's privacy
        </h3>
        <p>Establish the security risks, threats and legal responsibilities associated with the service, including confidentiality and privacy.</p>
        <p>Understand how to manage risks throughout the delivery lifecycle and put robust security measures in place to protect against potential threats.</p>
        <p><a href="/standards-and-technology/service-standard-points/9-create-a-secure-service-which-protects-peoples-privacy">Find out what you should do about point 9.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">10</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">10</span>
          Define what success looks like and be open about how your service is performing
        </h3>
        <p>Work out how your service helps improve health and well being, people's experience of health and care, and the efficiency of the health service and how you will know that you're succeeding. If you cannot measure health benefits, choose other suitable indicators.</p>
        <p>Collect performance information across all channels so that you can measure and show that the service is effective and improving.</p>
        <p><a href="/standards-and-technology/service-standard-points/10-define-what-success-looks-like-and-be-open-about-how-your-service-is-performing">Find out what you should do about point 10.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">11</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">11</span>
          Choose the right tools and technology
        </h3>
        <p>Choose tools and technology that let you build a good service in an efficient, cost effective way.</p>
        <p>Build a sustainable service which allows you to change direction in future.</p>
        <p><a href="/standards-and-technology/service-standard-points/11-choose-the-right-tools-and-technology">Find out what you should do about point 11.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">12</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">12</span>
          Make new source code open
        </h3>
        <p>Make all new source code open and reusable, and publish it under appropriate licences. If you cannot do this for specific subsets of the source code, provide a convincing explanation.</p>
        <p><a href="/standards-and-technology/service-standard-points/12-make-new-source-code-open">Find out what you should do about point 12.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">13</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">13</span>
          Use and contribute to open standards, common components and patterns
        </h3>
        <p>Use tried and tested components and patterns from <a href="/design-system/patterns/">the NHS digital service manual</a> or, failing that, <a href="https://design-system.service.gov.uk/">the GOV.UK Design System</a>.</p>
        <p>Use open standards, and propose a new open standard if there is not one that already meets your needs.</p>
        <p><a href="/standards-and-technology/service-standard-points/13-use-and-contribute-to-open-standards-common-components-and-patterns">Find out what you should do about point 13.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">14</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">14</span>
          Operate a reliable service
        </h3>
        <p>People need the NHS 24 hours a day, every day of the year. Minimise service downtime and have a plan to deal with it when it does happen.</p>
        <p><a href="/standards-and-technology/service-standard-points/14-operate-a-reliable-service">Find out what you should do about point 14.</a></p>
      </div>
    </li>

  </ol>

  <h2 id="3-points-specific-to-health-and-social-care" class="nhsuk-u-padding-top-0">3 extra points for health and social care</h2>

  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">15</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">15</span>
          Support a culture of care
        </h3>
        <p>Caring is the core business of the NHS. NHS services should provide a positive experience of care and help NHS staff provide a caring service.</p>
        <p>Services should make patients, the public and staff feel included, valued, safe and supported. As far as possible, involve people in their own care.</p>
        <p><a href="/standards-and-technology/service-standard-points/15-support-a-culture-of-care">Find out what you should do about point 15.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">16</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">16</span>
          Make your service clinically safe
        </h3>
        <p>Digital information, tools and services have the potential to cause patient harm.</p>
        <p>Make sure that you actively manage any safety risks associated with your content, service and processes.</p>
        <p><a href="/standards-and-technology/service-standard-points/16-make-your-service-clinically-safe">Find out what you should do about point 16.</a></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">17</span>
        <h3 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">17</span>
          Make your service interoperable
        </h3>
        <p>In an organisation as diverse and complex as the NHS, we need systems and services which talk to each other. Build for interoperability to share patient records and get data quickly from one place to another.</p>
        <p><a href="/standards-and-technology/service-standard-points/17-make-your-service-interoperable">Find out what you should do about point 17.</a></p>
      </div>
    </li>

  </ol>

{% endblock %}
