{% from "error-summary/macro.njk" import errorSummary %}
{% from "checkboxes/macro.njk" import checkboxes %}

{{ errorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select how you want to be contacted",
      href: "#contact"
    }
  ]
}) }}

{{ checkboxes({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "How do you want to be contacted about this?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  hint: {
    text: "Select all options that are relevant to you"
  },
  errorMessage: {
    text: "Select how you want to be contacted"
  },
  items: [
    {
      value: "email",
      text: "Email",
      id: "contact"
    },
    {
      value: "phone",
      text: "Phone"
    },
    {
      value: "text message",
      text: "Text message"
    }
  ]
}) }}
