{% set pageTitle = 'Feedback banner' %}
{% set pageDescription = 'Ask users for feedback, it makes your service better.' %}

{% extends 'includes/layout.njk' %}

{% from 'pagination/macro.njk' import pagination %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'panel/macro.njk' import panel %}
{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">{{pageDescription}}</p>

  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Code and design</h2>
    {{ designExample({
      type: 'feedback-banner'
    }) }}
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-u-margin-top-8">How to use the feedback banner</h2>
        <p>Make sure the feedback banner doesn't appear until the user has agreed to use the appropriate cookies.</p>
        <p>Include a descriptive heading.</p>
        <p>Make the feedback/survey link text describe its purpose and destination.</p>
        <p>Add hidden text to the close button to give screen readers context.</p>
    <h2>When not to use the feedback banner</h2>
        <p>Do not use in states of emergency - when emergency messages are shown to a user.</p>
        <p>Do not use the  banner when displaying messages that suggest users get emergency healthcare. </p>
        <p>In both cases, the  banner could detract from the importance of the messaging.</p>

    <h2>How the  banner works</h2>
        <p>The banner appears 5 seconds after a user lands on the page.  </p>
        <p>The banner should:</p>
            <ul>
                <li>appear after the users’ journey – so we don’t annoy them (too much)</li>
                <li>be prominent – so they notice it</li>
                <li>be able to close (dismiss) it</li>
            </ul>

    <h3>Accessibility</h3>
        <ul>
            <li>exceeds AAA colour contrast guidelines with its text colour</li>
            <li>exceeds AA colour contrast guidelines with its link colour (just short of AAA)</li>
            <li>has a ‘Close’ action is button and not a link. Find out more about accessible links and buttons</li>
            <li>includes hidden text within the ‘Close’ button to give screen readers context, for example: ‘Close feedback invite’</li>
            <li>has a descriptive heading (h2)</li>
            <li>includes link text that describes its purpose and destination.</li>
        </ul>
    <h2>Research</h2>
    <p>The feedback banner was introduced onto the NHS website in April 2018.</p>
    <p>Prior to this we had a persistent green banner which appeared straight away and stuck to the footer of the browser window. We had a significant number of negative comments from users saying they were unhappy to be asked for their views before reading the page.</p>
    <p>Since changing the colour to white and adding a 5 second delay we've reduced the number of negative comments and increased feedback on the actual page. </p>
    <h2>Discuss</h2>
    <p>Discuss action links on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    {{ reviewDate({
      "lastReview": "January 2019."
    }) }}
    {{ panel({
    "label": "Similar components",
    "HTML": "<ul>
                <li></li>
            </ul>"
    }) }}
  </div>
</div>
{% endblock %}
