<h2 id="do-not-use-accessibility-overlays-or-widgets">Avoid accessibility widgets</h2>
<p>Accessibility widgets are plugins that display as buttons, toolbars or overlays.</p>
<p>The widgets let users adapt the display to make it easier to read the text or have it read out to them. Some widget providers claim they make your website accessible.</p>

<h3>Using widgets to make your website accessible</h3>
<p>Accessibility widgets cannot make a website fully compliant with accessibility standards and they cannot protect you from legal action.</p>

<h3>Using widgets to let people adapt the display to make it easier to read</h3>
<p>Only explore adding extra functionality if you have evidence that both of the following apply:</p>
<ul>
  <li>your users need to adapt the interface (for example, change the text size or colour) or to have the text read out to them</li>
  <li>they do not have the skills or software to do it through browser settings or assistive technology</li>
</ul>
<p>If you add this sort of functionality, test it to make sure it does not cause problems for any of your users. Please share your research findings via the <a href="https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/449">GitHub issue for overlays, widgets and banners</a>.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      The problems with overlays or widgets
    </span>
  </summary>
  <div class="nhsuk-details__text">

    <p>Widgets typically sit in the banner or a corner of the page, sometimes obscuring key functionality. They often use icons that can be difficult for users to understand.</p>
    <p>When a user clicks on the widget, by accident or on purpose, an overlay may pop up and cover up information or create a barrier that users cannot get past. People find them confusing and unhelpful.</p>
    <p>People with access needs often use their preferred assistive technologies across all websites. Widgets only meet some access needs and only deal with one part of a user journey. They cannot hand over from one system or site to another. Widgets can also cause problems for people who use assistive technologies.</p>
  </div>
</details>

<h3>The best way to help people with access needs</h3>
<p>The best solution for most people with access needs is a well-designed, well-structured website or service that is:</p>
<ul>
  <li>built from the bottom up with accessibility-tested code and designs, like the <a href="/design-system/production">NHS production code</a> and <a href="/design-system">design system</a></li>
  <li>tested with users with access needs (find out more in the section on <a href="/accessibility/user-research">user research</a>)</li>
</ul>
