<h2 id="check-orientation-is-not-locked">Check orientation is not locked</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>Use a mobile device and switch from portrait to landscape and back again. You should be able to see all the content and functionality.</p>

