<h2 id="check-that-accessibility-is-done">Check that accessibility is "done"</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/product-and-delivery">Product and delivery</a></p>
<p>It's the product or delivery manager's responsibility to make sure that the product or service is accessible. In most cases it's a matter of making sure that the team is checking their work as they go along.</p>
<p>If in doubt, <a href="#ask-questions-at-the-start-of-the-project">ask questions early</a>. The sooner you consider accessibility requirements, the easier it is.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      4 simple questions to check it's "done"
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <ul>
      <li>Is it easy to understand?</li>
      <li>Can you use it without a mouse?</li>
      <li>Does it provide good contrast and allow zooming?</li>
      <li>Does it give screen readers appropriate information?</li>
    </ul>
  </div>
</details>

