<h2 id="check-colour-contrast">Check colour contrast</h2>
<p class="nhsuk-body-s">For: <a href="/service-manual/accessibility/design">Design</a>, <a href="/service-manual/accessibility/testing">Testing</a></p>
<p>It's easier for people to read and interact with content if you use colours that contrast well. The NHS meets at least level AA for contrast and we aim for AAA where possible.</p>

<h3>AA</h3>
<p>The contrast ratio should be at least:</p>
<ul>
  <li>4.5:1 for small text (smaller than 24px, or 19px if bold)</li>
  <li>3:1 for large text (larger than 24px, or 19px if bold) and components (like a text input field) and graphic elements (like an icon)</li>
</ul>

<h3>AAA</h3>
<p>The contrast ratio should be at least:</p>
<ul>
  <li>7:1 for small text (smaller than 24px, or 19px if bold)</li>
  <li>4.5:1 for large text (larger than 24px, or 19px if bold) and components (like a text input field) and graphic elements (like an icon)</li>
</ul>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Tools to test colour contrast
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Use a tool to check the colour contrast:</p>
    <ul>
      <li><a href="https://webaim.org/resources/contrastchecker/">Web Aim's colour contrast checker</a></li>
      <li><a href="https://colororacle.org/">Color Oracle (free colour blindness simulator)</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      More about contrast in components and graphic elements
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Use a tool to calculate the ratio between the element and the adjacent colour - for example, the white arrow (foreground) and the green circle (background) in an <a href="/service-manual/design-system/design-system/components/action-link">action link</a>.</p>
    <p>If you are relying on users understanding a graphic (like an icon) without text, it must meet the minimum contrast ratio. If it also has text, it doesn't have to meet the requirement but this is still recommended.</p>
    <p>Components that are visible but not currently active (like a submit button that isn't active until you've filled in the form) are exempt from the requirement, but if you can meet the minimum contrast without it being confusing, that will help people with low vision.</p>
  </div>
</details>

<p>Read more about <a href="/service-manual/design-system/styles/colour">the colours we use</a> in the service manual.</p>

