<h2 id="define-skip-links">Define skip links</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/design">Design</a>, <a href="/accessibility/testing">Testing</a></p>
<p>Use a skip link to help keyboard-only users skip to the main content on a page.</p>
<p>Also add a skip link at the start of a long list of links or form fields (for example, over 20 checkboxes in a filter). This lets people who use keyboard-style access with a switch or head-wand skip to the end and avoid having to keep pressing the same key.</p>
<p>Skip links can be invisible by default, but must be very visible when focused.</p>
<p>Follow the <a href="/design-system/components/skip-link">skip link component</a> in the service manual.</p>

