<h2 id="discuss-any-custom-components">Discuss any custom components</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/design">Design</a>, <a href="/accessibility/development">Development</a></p>
<p>The <a href="/design-system/components">components in the service manual</a> are well tested and ready to use. Before you design a new component, please test an existing component and show that there's a clear need for something new.</p>
<p>Discuss any new components with other members of your team. You need to make sure that:</p>
<ul>
  <li>you have good evidence that the new component is the best way of meeting the user need</li>
  <li>it will be accessible</li>
  <li>you test it from a technical and usability point of view</li>
  <li>you can maintain and update it</li>
  <li>you share what you've learnt</li>
</ul>

