<div class="nhsuk-panel">
  <h2 id="discuss-any-custom-components">Discuss any custom components</h2>
  <p class="nhsuk-body-s">For: <a href="/service-manual/accessibility/design">Design</a>, <a href="/service-manual/accessibility/development">Development</a></p>
  <p>The <a href="/service-manual/styles-components-patterns">components</a> in the service manual are well tested and ready to use. Before you design a new component, please test an existing component and show that there's a clear need for something new.</p>
  <p>Discuss any new components with other members of your team. You need to make sure that:</p>
  <ul>
    <li>you have good evidence that the new component is the best way of meeting the user need</li>
    <li>it will be accessible</li>
    <li>you <a href="/service-manual/accessibility/testing">test it</a></li>
    <li>you share what you've learnt</li>
  </ul>
  <p>Bear in mind that new components add an overhead of testing, from a technical and a usability point of view, and maintenance.</p>
</div>
