<h2 id="do-not-use-onkeydown-or-onmousedown-for-links-and-buttons">Do not use "onkeydown" or "onmousedown" for links and buttons</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>For interactive elements, only trigger actions once the user takes their finger or pointer away from the activation target. This gives users a chance to cancel or avoid activating the trigger.</p>

