<h2 id="do-not-include-text-in-images">Do not include text in images</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/design">Design</a>, <a href="/accessibility/testing">Testing</a></p>
<p>Users need as much information as possible in text format, so that they can adjust its size, spacing or formatting.</p>
<p>Do not include text in graphical (raster) formats like PNG, JPEG or GIF. They do not work well when users zoom in. Instead put text in HTML (styled with CSS) or use SVG.</p>
<p>This does not apply to logos.</p>

