<h2 id="do-not-play-audio-automatically">Do not play audio automatically</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>Audio must not play automatically for more than 3 seconds. It makes it hard for people to hear their screen reader.</p>

