<h2 id="do-not-trigger-pop-ups-by-hover-or-focus">Do not trigger pop-ups by hover or focus</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>Do not trigger additional content by mouse hover or keyboard focus. It causes problems for people using zoom or a screen magnifier.</p>
<p>If you use 3rd party content which does this, make sure you give users a way to dismiss the content without moving the mouse or focus. For example, use the ESC key.</p>

