<h2 id="do-not-rely-on-colour-or-position-alone">Do not rely on colour or position alone</h2>
<p>Do not rely on colour to convey meaning, for example, an instruction. To communicate with people who cannot see well or distinguish colours, you may need to:</p>
<ul>
  <li>word things differently</li>
  <li>use more than one visual cue, for example, text and an icon as well as colour</li>
</ul>
<p>Do not rely on people understanding instructions that refer to the position of page elements.</p>

{% call details({
  summaryText: 'Why you should not say "Press the red button on the right"'
}) %}
  <p>If someone is:</p>
  <ul>
    <li>"colour blind", they may not be able to tell the difference between red and green</li>
    <li>zoomed in, the button may not be on the right</li>
    <li>using a screenreader, they may not see the colour – and position, for them, is simply up or down</li>
  </ul>
{% endcall %}
