<h2 id="for-small-or-specialist-user-groups-focus-on-testing-the-interface">For small or specialist user groups, focus on testing the interface</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/user-research">User research</a></p>
<p>It can be difficult to find people in small or specialist target audiences who also have access needs. In that case, focus on testing the interface with people with access needs.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Example of testing with a specialist user group
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>For example, if your service is for staff in GP surgeries who book appointments, you could recruit someone with access needs and give them a short introduction to appointment booking at the start of a session. Then focus on any issues they have with the interface.</p>
  </div>
</details>

