<div class="nhsuk-panel">
  <h2>Get in touch</h2>
  <p>Join us on the <a href="/slack">NHS digital service manual Slack workspace</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
</div>
