<h2 id="give-users-time-to-read-and-act">Give users time to read and act</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>If you have set a time limit for inactivity (for example, on a multi-step form), make it at least 20 hours.</p>
<p>If you use 3rd party content that has a time limit, it should warn users clearly how much time they have left and let them extend or turn off the time limit.</p>
<p>There are exceptions to this when the time limit is essential, for  example, for an online test or real-time event.</p>

