<h2 id="highlight-errors-in-forms">Highlight errors in forms</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a>, <a href="/accessibility/design">Design</a>, <a href="/accessibility/testing">Testing</a></p>
<p>Make sure that error messages clearly describe what went wrong and how to fix the problem.</p>
<p>Include an error message wherever there's a problem with the input and check that it's visibly obvious that the message is connected to that input.</p>
<p>If you have an error summary at the top of a form, check that each error in the list has a link that moves the focus to the relevant form field. This helps users who rely on keyboard navigation.</p>
<p>Use the <a href="/design-system/components/error-message">error message</a> and <a href="/design-system/components/error-summary">error summary</a> components in the service manual. They've been tested for accessibility and contain links to useful GOV.UK guidance on writing good error messages.</p>

