<h2 id="identify-target-groups-and-accessibility-challenges">Identify target groups and accessibility challenges</h2>
<p>In the discovery part of the project, you need to understand how it will affect people with access needs. Consider:</p>
<ul>
  <li>whether it will cause particular accessibility challenges, for example for people who can't read text</li>
  <li>whether it will affect disabled people differently</li>
  <li>how it might affect people with complex needs</li>
</ul>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Resources to help you
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>GOV.UK has a set of <a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles">user profiles to help you understand disabilities and impairments</a>.</p>
    <p>Your organisation may have an internal network of people who have access needs. (NHS England has an Ability Network, for example.) Colleagues with access needs may be willing to help with initial research and establishing the requirements for a project. But you must also test your product with your target audience.</p>
  </div>
</details>
