<h2 id="involve-people-with-access-needs-at-every-stage">Involve people with access needs at every stage</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/user-research">User research</a></p>
<p>In the UK, almost 1 in 5 people have a disability of some kind. Many more have a temporary impairment like an illness or injury. Try to include 1 person with access needs in every 5 people you research with.</p>
<p>Involving people with access needs in user research doesn't just help identify accessibility issues. It shows up general issues that affect everyone.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Involving people with different abilities at different stages
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <ul>
      <li>Interviews: include people with access needs from the start.</li>
      <li>Paper or low-fidelity mock-ups: you can include people with hearing, communication, and dyslexia access needs.</li>
      <li>Working HTML prototypes: you can test them with people with mobility, cognitive and vision (magnification) issues.</li>
      <li>Live services or sites: include people who use speech output, speech input, and colour-changing plugins.</li>
    </ul>
    <p>A Home Office blog on <a href="https://hodigital.blog.gov.uk/2017/12/21/working-together-to-achieve-accessibility/">Working together to achieve accessibility</a> explains how they test accessibility at different stages in the development lifecycle.</p>
  </div>
</details>

