<h2 id="make-sure-your-service-meets-wcag-2-2">Make sure your service meets WCAG 2.2</h2>
<p>
  {{ tag({
    text: "WCAG 2.2"
  }) }}
</p>
<p>The Web Content Accessibility Guidelines (known as WCAG) have been updated to version 2.2, which includes all the success criteria of WCAG 2.1, plus 9 new criteria.</p>
<p>The 9 new criteria are made up of:</p>
<ul>
    <li>6 at A and AA level, which means they're a requirement for NHS websites and mobile apps</li>
    <li>3 at AAA</li>
</ul>
<p><a href="/accessibility/new-criteria-in-wcag-2-2">Learn more about the new criteria that WCAG 2.2 introduced.</a></p>
<p>The <a href="https://nhsdigital.github.io/accessibility-checklist/">NHS accessibility checklist</a> will help you meet WCAG 2.2.</p>
