<h2 id="make-your-research-more-accessible-on-the-day">Make your research more accessible on the day</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/user-research">User research</a></p>
<ul>
  <li>Meet people at the front door of the building and escort them to the room.</li>
  <li>Give them plenty of time to settle in. Tell them that they can end the session at any time or take a break during it if they need to. Leave enough time between sessions.</li>
  <li>Make sure there's a seat for a helper or interpreter.</li>
  <li>Reassure people that there are no right or wrong answers and that if something isn't working, it's not their fault.</li>
  <li>Make sure that any colleagues who are attending know how to be a considerate observer. Give them a copy of the <a href="https://github.com/alphagov/govdesign/blob/master/Poster_UserResearchTips.pdf">GDS user researcher tips (PDF, 161KB)</a>.</li>
</ul>

