<h2 id="make-sure-navigation-is-consistent">Make sure navigation is consistent</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>Identify any navigational mechanisms (navigation bars, search fields, and skip links) that appear on multiple pages.</p>
<p>Check that the links or buttons are presented in the same order each time they appear, even if other items are removed or added between them.</p>
<p>If the navigation is defined by templates, you only need to check 1 or 2 pages.</p>

