<h2 id="make-sure-everyone-knows-their-responsibilities">Make sure everyone knows their responsibilities</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/product-and-delivery">Product and delivery</a></p>
<p>Make sure everyone in the team knows what they need to do and is checking their work, using the guidance for different activities.</p>
<p>If a team member doesn't have a basic understanding already, help them <a href="/accessibility/getting-started">get started with accessibility</a>.</p>
