<h2 id="provide-informative-page-titles">Provide informative page titles</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a>, <a href="/accessibility/development">Development</a>, <a href="/accessibility/design">Design</a>, <a href="/accessibility/testing">Testing</a></p>
<p>In HTML, the page title (<code>&lt;title&gt;</code>) is in the page metadata, in the <code>&lt;head&gt;</code> section. It's the first thing a screen reader will read out when a user lands on a page.</p>
<p>Each page title must be unique and informative. It should reflect the purpose of the page.</p>
<p>Find out more about <a href="/design-system/styles/page-template#page-title">page titles in the Page template section of the design system</a>.</p>
