<div class="nhsuk-related-nav">
  <h2 class="nhsuk-related-nav__heading">Accessibility</h2>
  <nav role="navigation" class="nhsuk-related-nav__nav-section">
    <ul class="nhsuk-related-nav__list">
      {% if pageTitle != 'What all NHS services need to do about accessibility' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/what-all-NHS-services-need-to-do">What all NHS services need to do about accessibility</a>
      </li>
      {% endif %}
      {% if pageTitle != 'How to make digital services accessible' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/how-to-make-digital-services-accessible">How to make digital services accessible</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Getting started with accessibility' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/getting-started">Getting started with accessibility</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <h3 class="nhsuk-related-nav__heading">Guidance for different activities</h3>
  <nav role="navigation" class="nhsuk-related-nav__nav-section">
    <ul class="nhsuk-related-nav__list">
      {% if pageTitle != 'Product and delivery: accessibility guidance' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/product-and-delivery">Product and delivery</a>
      </li>
      {% endif %}
      {% if pageTitle != 'User research: accessibility guidance' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/user-research">User research</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Content: accessibility guidance' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/content">Content</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Design: accessibility guidance' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/design">Design</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Development: accessibility guidance' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/development">Development</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Testing: accessibility guidance' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/accessibility/testing">Testing</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
