<div class="nhsuk-related-nav">
  <h2 class="nhsuk-related-nav__heading">Accessibility</h2>
  <nav role="navigation" class="nhsuk-related-nav__nav-section">
    <ul class="nhsuk-related-nav__list">
      {% if pageTitle != "What all NHS services need to do about accessibility" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/what-all-NHS-services-need-to-do">What all NHS services need to do about accessibility</a>
      </li>
      {% endif %}
      {% if pageTitle != "How to make digital services accessible" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/how-to-make-digital-services-accessible">How to make digital services accessible</a>
      </li>
      {% endif %}
      {% if pageTitle != "Getting started with accessibility" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/getting-started">Getting started with accessibility</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <h3 class="nhsuk-related-nav__heading nhsuk-related-nav__heading--small">Guidance for different activities</h3>
  <nav role="navigation" class="nhsuk-related-nav__nav-section">
    <ul class="nhsuk-related-nav__list">
      {% if pageTitle != "Product and delivery" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/product-and-delivery">Product and delivery</a>
      </li>
      {% endif %}
      {% if pageTitle != "User research" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/user-research">User research</a>
      </li>
      {% endif %}
      {% if pageTitle != "Content" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/content">Content</a>
      </li>
      {% endif %}
      {% if pageTitle != "Design" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/design">Design</a>
      </li>
      {% endif %}
      {% if pageTitle != "Development" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/development">Development</a>
      </li>
      {% endif %}
      {% if pageTitle != "Testing" %}
      <li class="nhsuk-related-nav__item">
        <a href="/accessibility/testing">Testing</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
