<h2 id="set-language">Set language</h2>
<p>You need a small bit of markup on every page for screenreaders (and search engines) to know what language the content (or a part of the content) is in.</p>

{% call details({
  summaryText: "How to code for language"
}) %}
  <p>In the HTML element, set the language for the whole page to English:</p>

  {% call appCode({
    language: "html"
  }) %}
    <html lang="en">
  {% endcall %}

  <p>or whatever language the page is in.</p>
  <p>If there are changes of language within the page, mark these up as well:</p>

  {% call appCode({
    language: "html"
  }) %}
    <p>Make sure you are treated by a state healthcare provider in France
    (<span lang="fr">conventionné</span>).</p>
  {% endcall %}

  <p>You can apply the lang attribute to any container.</p>
{% endcall %}
