<h2 id="set-page-titles">Set page titles</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a>, <a href="/accessibility/development">Development</a>, <a href="/accessibility/testing">Testing</a></p>
<p>A good page title helps users find what they want and recognise they're in the right place. It's the link that shows in search results and the first thing a screenreader will read out when the user lands on a page.</p>
<p>Each page title must be unique and descriptive. Keep it concise and consider putting important keywords near the beginning.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Best practice for page titles
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Best practice is generally: Page name – Site name</p>
    <p>For example: Achalasia – NHS</p>
    <p>The first element (here "Achalasia") is the main heading of the page.</p>
    <p>If you can, use templates to keep things consistent and use your content management system to generate what comes after dash.</p>
  </div>
</details>

