<h2 id="set-page-titles">Set page titles</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a>, <a href="/accessibility/development">Development</a>, <a href="/accessibility/testing">Testing</a></p>
<p>A good page title helps users find what they want and recognise they're in the right place. It's the link that shows in search results and the first thing a screenreader will read out when the user lands on a page.</p>
<p>Each page title must be unique and descriptive. It should reflect the purpose of the page.</p>
<p>Find out more about <a href="/design-system/styles/page-template#page-title">page titles, in the Page template section of the design system</a>.</p>
