<h2 id="share-your-research">Share your research</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/user-research">User research</a></p>
<p>Share your research findings with colleagues, taking out any personal information.</p>
<p>Feedback about <a href="/design-system/components">NHS components</a> and help us improve this guidance.</p>

