<h2 id="test-that-text-sizes-and-zooms-correctly">Test that text sizes and zooms correctly</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/development">Development</a>, <a href="/accessibility/testing">Testing</a></p>
<p>People use their browser to change the size of content, and people with low vision may use that to a more extreme level. The guidelines specify a level of 320 (CSS) px wide. That is equivalent to 400% for a 1280px wide browser.</p>
<p>Users can also override the font-family and spacing for text, which can break a fragile layout. We use this <a href="https://www.html5accessibility.com/tests/tsbookmarklet.html">text spacing bookmarklet</a> to test with.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How to test text sizing and zooming
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <ul>
      <li>Check what content and functionality you can see.</li>
      <li>Size your browser window to 1280px wide. (You can use the web developer toolbar in <a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/">Firefox</a> or <a href="https://chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm?hl=en">Chrome</a>.)</li>
      <li>Zoom into 400%. (<a href="https://alastairc.uk/2018/02/firefox-zoom-preferences/">Firefox needs a tweak</a> to do this.)</li>
      <li>Check that you can still see all the content and functionality, even if it involves opening show/hide elements or clicking through to another page.</li>
      <li>Activate the text spacing bookmarklet.</li>
      <li>Check for missing or overlapping content and that there is no horizontal scrolling.</li>
      <li>Gradually zoom out to 100%, checking the text spacing at each stage.</li>
    </ul>
  </div>
</details>

<p>NHS services must use a responsive design which helps with zooming and take care with layouts that limit text expansion.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Examples of layouts that cause problems
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <ul>
      <li>Fixed height containers of text often break when text spacing is changed. Use min-height instead.</li>
      <li>Sticky elements, or containers that prevent scrolling, are often unusable at higher levels of zoom in landscape orientation. Use vertical media-queries to make sure there is enough space.</li>
      <li>Large data tables are allowed to scroll horizontally, but you should wrap them in an element that contains the scrolling to the table, rather than making the whole page scroll.</li>
    </ul>
  </div>
</details>

