<h2 id="understand-types-of-testing">Understand types of testing</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/testing">Testing</a></p>
<p>There are 3 types of accessibility testing:</p>
<ul>
  <li>testing with people - see the guidance on <a href="/accessibility/user-research">user research</a></li>
  <li>automated testing</li>
  <li>manual testing with guidelines</li>
</ul>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Automated testing
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Make automated testing part of your build process or use it for a scan across your website or parts of it. Remember that automated tests only check some of what you need to test.</p>
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Manual testing
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Manual checks are the most efficient way to test for accessibility issues on individual pages or components.</p>
    <p>Use this guidance and <a href="https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni">Microsoft's Accessibility Insights Chrome extension</a>.</p>
    <p>It is important to <a href="/accessibility/getting-started">learn about accessibility</a> before you start. Otherwise you can waste time wondering about things which aren't a problem or disagreeing with your colleagues.</p>
  </div>
</details>

