<h2 id="understand-participants-needs-before-you-test">Understand participants' needs before you test</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/user-research">User research</a></p>
<p>Make it easy for people with access needs to take part in the research by planning the venue, the tech and the "paperwork" around their needs.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Helping people with access needs take part - examples
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <ul>
      <li>Be prepared to go to people's homes. Some users can't get to a research lab or bring their tech with them. It can also help to see users in their natural environment. Go with a colleague (not on your own) and take any equipment you need. Get the user's permission to record in their home. Arrange a start and finish time and stick to it.</li>
      <li>Check that the venue is accessible. Can someone with a wheelchair get to the room? What about the toilets?</li>
      <li>Invite people to bring their own devices and plan any recording around that. It takes less time to adapt the recording than for someone to adapt to a device they haven't used before. Make sure that the thing you're testing is hosted somewhere where the user can access it and that there is free wifi for them. Consider making a short URL using Bitly, for example.</li>
      <li>Send forms (such as data protection forms) in an accessible Word document well before the session. Participants should not have to read a paper copy in order to take part. It's OK to ask them to sign the paper copy so long as it's identical to the version you sent them.</li>
      <li>Ask users if they need you to arrange transport for them. If so, use a taxi company with accessible vehicles and give the participant plenty of notice about pick up and drop off times.</li>
    </ul>
  </div>
</details>

<p>If you're new to user research with people with access needs, pair up with another researcher who has done accessibility testing before. Or do a session with an external provider to get experience of this type of testing.</p>
<p>Read about <a href="https://www.gov.uk/service-manual/user-research/researching-emotionally-sensitive-subjects">researching emotionally sensitive subjects</a> in the GOV.UK service manual.</p>

