<h2 id="use-headings-correctly">Use headings correctly</h2>
<p>Everyone relies on meaningful headings to navigate the page but they are especially important for people with access needs. Make sure your headings reflect the page structure.</p>
<p>To make your heading structure clear and accessible:</p>
<ul>
  <li>write headings in clear, descriptive language</li>
  <li>stick to 1 main heading (<code>&lt;h1&gt;</code>) per page</li>
  <li>structure headings in order without skipping heading levels (for example: <code>&lt;h2&gt;</code>, <code>&lt;h3&gt;</code>)</li>
  <Li>make sure headings are coded as headings</li>
  <li>do not use bold text instead of headings because a screen reader will not recognise it as a heading</li>
</ul>
<p>Find out more about:</p>
<ul>
  <li>styling <a href="/design-system/styles/typography#headings">headings in the typography section</a> of the design system</li>
  <li>writing and structuring <a href="/content/formatting#headings">headings in the content guide</a></li>
</ul>

