<h2 id="use-tables-to-show-relationships-between-data">Use tables to show relationships between data</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a></p>
<p>Tables make it easier for users to understand logical relationships between bits of data or information.</p>
<p>Only use tables when there is a relationship between the "header" cells and the "data" cells in the grid. Assistive technologies announce the header with the data it refers to.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Example of good table layout
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>Here is an example from the <a href="/design-system/components/table">tables component</a> in the service manual.</p>
    <div class="nhsuk-table-responsive">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col">Skin symptoms</th>
          <th class="nhsuk-table__header" scope="col">Possible cause</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Blisters on lips or around the mouth</td>
          <td class="nhsuk-table__cell">cold sores</td>
          </tr>
          <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Itchy, dry, cracked, sore</td>
          <td class="nhsuk-table__cell">eczema</td>
          </tr>
          <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Itchy blisters</td>
          <td class="nhsuk-table__cell">shingles, chickenpox</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Screen readers would read out the last row as: "Skin symptoms: itchy blisters. Possible cause: shingles, chickenpox".</p>
  </div>
</details>

