<h2 id="pdfs">Use HTML rather than PDFs</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a>, <a href="/accessibility/testing">Testing</a></p>
<p>Avoid using PDFs as they are not accessible. If you must use a PDF, make sure the content is also available in HTML form.</p>
<p>Read more about <a href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents in the content style guide</a>.</p>

