<h2 id="use-aria-patterns">Use ARIA patterns</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/development">Development</a>, <a href="/accessibility/testing">Testing</a></p>
<p>ARIA (Accessibility Rich Internet Applications) adds extra information that lets people who use assistive technologies know what's going on. If a component needs more description than HTML provides, you need to mark it up with an ARIA pattern.</p>
<p>We use simple examples of ARIA in some of the service manual components, such as <a href="/design-system/components/details">details</a>, <a href="/design-system/components/breadcrumbs">breadcrumbs</a> and <a href="/design-system/components/error-message">error messages</a>.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How to use ARIA patterns
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>The <a href="https://www.w3.org/TR/using-aria/">W3C note on using ARIA</a> is a good introduction.</p>
    <p>If you have a complex component, check whether it fits into a defined pattern from the <a href="https://www.w3.org/TR/wai-aria-practices-1.2/">ARIA authoring practices</a>. Patterns that might be useful are:</p>
    <ul>
      <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/#accordion">accordions</a></li>
      <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/#dialog_modal">modal dialogues</a></li>
      <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/#slider">sliders</a></li>
      <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/#tabpanel">tabs</a></li>
    </ul>
    <p>If you use an ARIA pattern, include the ARIA attributes, take responsibility for the keyboard interactions as part of the scripting, and test it with assistive technology.</p>
    <p>Start with the <a href="/design-system/components">components in the service manual</a>. They've already been tested. Another useful resource for accessible components is the <a href="https://inclusive-components.design/">Inclusive components</a> collection.</p>
    <p>Read more about <a href="/accessibility/development#discuss-any-custom-components">custom components on the development page</a>.</p>
  </div>
</details>

