<h2 id="use-alternative-text-for-functional-images">Use alternative text for functional images</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/design">Design</a>, <a href="/accessibility/development">Development</a>, <a href="/accessibility/testing">Testing</a></p>
<p>Some images are "functional". That means that they trigger an action. If people can't see the image, they need an alternative.</p>
<p>Use "alt‑text" for images like PNG or JPEG. W3C has information about <a href="https://www.w3.org/WAI/tutorials/images/functional/">how to deal with different kinds of functional image</a>, including logos.</p>
<p>The NHS website (nhs.uk) prefers inline SVG files for functional images. SVGs don't have an alt attribute. Instead we use aria-hidden="true" and, if there is no link text, "visually-hidden" in span tags.</p>
<p>For some common NHS examples of SVG functional images, see the close and search icons in the <a href="/design-system/components/header">header component</a> in the service manual. The <a href="/design-system/components/action-link">action link</a> is an example with link text.</p>

