<h2 id="write-good-link-and-form-control-names">Write good link and form control names</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a>, <a href="/accessibility/design">Design</a>, <a href="/accessibility/testing">Testing</a></p>
<p>Links or buttons need to make sense out of context as some people experience them that way. Each link should clearly describe where it will take you. For example: "Find your nearest A&amp;E".</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How to write good link and form control names
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <ul>
      <li>Ideally link text should match the heading of the target page. If  the target page has the heading "Sleep and tiredness", that's good link text.</li>
      <li>If the target page heading is too long, shorten it but use words from it so that users can predict where the link will take them.</li>
      <li>Avoid ambiguous phrases such as "click here", "read more" and "find out more". It's OK to say: "Read more about <u>how to deal with stress</u>."</li>
      <li>Avoid having links or buttons open new windows or tabs. If you need to open a link in a new window, say this in the link phrase. For example, "Link name (opens in new window)".</li>
      <li>If the link goes to a document, include the file type and size in the link phrase. For example: "Link name (PDF, 200KB)".</li>
    </ul>
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Using the same link text for multiple links
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can use the same text for multiple links when they're in a good structure. The table row headings together with the link text must make the meaning clear.</p>
    <p>There's an example in the <a href="https://design-system.service.gov.uk/components/summary-list/">summary list component in the GDS design system</a>. At the end of each row is a link that says: "Change". The context makes it clear what "Change" refers to.</p>
  </div>
</details>


