<h2 id="write-content-thats-easy-to-understand">Write content that's easy to understand</h2>
<p class="nhsuk-body-s">For: <a href="/accessibility/content">Content</a></p>
<p>Clear content helps everyone and it's the most important thing you can do to make things accessible. It will help more people than any other accessibility requirement.</p>
<p>NHS services should follow the <a href="/content">content style guide</a>, including the guidance on <a href="/content/health-literacy">health literacy</a> and <a href="/content/inclusive-content">inclusive content</a>.</p>
