<h2 id="write-good-link-and-form-control-names">Write good link and form control names</h2>
<p>Links or buttons need to make sense out of context as some people experience them that way.</p>
    <ul>
      <li>Each link should clearly describe where it will take you. For example: "Find your nearest A&amp;E".</li>
      <li>Ideally link text should match the heading of the target page. If the target page has the heading "Sleep and tiredness", that's good link text.</li>
      <li>If the target page heading is too long, shorten it but use words from it so that users can predict where the link will take them.</li>
      <li>Avoid ambiguous phrases such as "click here" or "read more". Be specific, for example: "Learn more about <u>how to deal with stress</u>."</li>
      <li>Avoid "see" or "read". Instead we use "find out about" or "learn about".</li>
      <li>Avoid having links or buttons open new tabs or windows. Find out more about <a href="/content/formatting#links">Links on our Formatting page</a>.</li>
      <li>If the link goes to a document, include the file type and size in the link phrase. For example: "Link name (PDF, 200KB)".</li>
    </ul>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Using the same link text for multiple links in tables
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You can use the same text for multiple links when they're in a good structure. The table row headings together with the link text must make the meaning clear.</p>
    <p>There's an example in the <a href="/design-system/components/summary-list/">summary list component</a>. At the end of each row is a link that says: "Change". The context makes it clear what "Change" refers to.</p>
  </div>
</details>
