{% from "radios/macro.njk" import radios %}

{{ radios({
  fieldset: {
    legend: {
      text: "Filter",
      size: "m",
      isPageHeading: true
    }
  },
  idPrefix: "filter",
  name: "filter",
  small: true,
  items: [
    {
      value: "monthly",
      text: "Monthly"
    },
    {
      value: "yearly",
      text: "Yearly"
    }
  ]
}) }}
