<div class="nhsuk-related-nav">
  <h2 class="nhsuk-related-nav__heading">Content style guide</h2>
  <nav role="navigation" class="nhsuk-related-nav__nav-section">
    <ul class="nhsuk-related-nav__list">
      {% if pageTitle != 'How we write' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/how-we-write">How we write</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Voice and tone' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/voice-and-tone">Voice and tone</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Inclusive language' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/inclusive-language">Inclusive language</a>
      </li>
      {% endif %}
      {% if pageTitle != 'A to Z of NHS health writing' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/a-to-z-of-NHS-health-writing">A to Z of NHS health writing</a>
      </li>
      {% endif %}
       {% if pageTitle != 'Health literacy' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/health-literacy">Health literacy</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Numbers, measurement, dates and time' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/numbers-measurement-dates-time">Numbers, measurement, dates and time</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Formatting and punctuation' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/formatting-and-punctuation">Formatting and punctuation</a>
      </li>
      {% endif %}

      {% if pageTitle != 'Links and PDFs' %}
      <li class="nhsuk-related-nav__item">
        <a href="/service-manual/content/links-and-pdfs">Links and PDFs</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
