<div class="nhsuk-related-nav">
  <h2 class="nhsuk-related-nav__heading">Content style guide</h2>
  <nav role="navigation" class="nhsuk-related-nav__nav-section">
    <ul class="nhsuk-related-nav__list">
      {% if pageTitle != 'How we write' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/how-we-write">How we write</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Voice and tone' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/voice-and-tone">Voice and tone</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Inclusive language' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/inclusive-language">Inclusive language</a>
      </li>
      {% endif %}
      {% if pageTitle != 'A to Z of NHS health writing' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/a-to-z-of-NHS-health-writing">A to Z of NHS health writing</a>
      </li>
      {% endif %}
       {% if pageTitle != 'Health literacy' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/health-literacy">Health literacy</a>
      </li>
      {% endif %}
       {% if pageTitle != 'How to write good questions for forms' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/how-to-write-good-questions-for-forms">How to write good questions for forms</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Numbers, measurements, dates and time' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a>
      </li>
      {% endif %}
      {% if pageTitle != 'Formatting and punctuation' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/formatting-and-punctuation">Formatting and punctuation</a>
      </li>
      {% endif %}

        {% if pageTitle != 'PDFs' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/pdfs">PDFs</a>
      </li>
      {% endif %}

      {% if pageTitle != 'Links' %}
      <li class="nhsuk-related-nav__item">
        <a href="/content/links">Links</a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
