{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Backlog of components and patterns" %}
{% set pageSection = "Community and contribution" %}
{% set pageDescription = "The service manual is built on the research and experience of many digital teams in the NHS. We have a shared backlog and encourage people to contribute." %}
{% set dateUpdated = "March 2024" %}

{% block beforeContent %}
  {% include "community-and-contribution/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>Anyone can:</p>
  <ul>
    <li>propose, develop or contribute to new components or patterns</li>
    <li>suggest improvements to anything in the design system or other parts of the service manual</li>
  </ul>

  <p>You can see <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog">the full community backlog in GitHub</a>.
  <p>Issues in the backlog can be:</p>
  <ul>
    <li><strong>proposed</strong> – someone has suggested a new component or pattern</li>
    <li><strong>to do</strong> – the proposed component or pattern has been agreed and is ready to work on</li>
    <li><strong>in progress</strong> – someone is actively working on the component or pattern</li>
    <li><strong>published</strong></li>
  </ul>

{% endblock %}
