{% set pageTitle = "Community resources" %}
{% set pageSection = "Community and contribution" %}
{% set pageDescription = "Resources created and maintained by the design system community." %}
{% set dateUpdated = "August 2025" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "community-and-contribution/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>You can use these resources to help you follow the NHS design system in your design tool or development environment.</p>

  <h2 class="nhsuk-heading-l">Create flow diagrams</h2>
  <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
    <li>
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Mural flow diagrams</h3>
      <p><a href="https://app.mural.co/template/fb5c0896-ad0c-433e-83ea-6ec948f223b2/64d4db24-f361-4f80-be3c-9de04a8b4374">Create NHS-styled user flow diagrams in Mural</a>.</p>
    </li>
    <li>
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Paper sketching templates</h3>
      <p><a href="https://github.com/nhsuk/nhsuk-service-manual/tree/main/app/assets/sketch-templates">Print NHS-styled paper sketching templates from GitHub</a> for in-person workshops.</p>
    </li>
  </ul>

  <h2 class="nhsuk-heading-l">Design prototypes and wireframes</h2>
  <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
    <li>
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Figma design library</h3>
      <p><a href="https://www.figma.com/community/file/1217465175363344449/nhs-figma-design-system">Use NHS design system components in Figma</a> for rapid wireframing and basic prototyping. We recommend using the <a href="/design-system/prototyping">prototype kit</a> to build prototypes for usability testing.</p>
    </li>
  </ul>

  <h2 class="nhsuk-heading-l">Build front ends</h2>
  <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
    <li>
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">React components</h3>
      <p><a href="https://github.com/NHSDigital/nhsuk-react-components">Use community-ported React components from GitHub</a>, based on the NHS design system.</p>
    </li>
    <li>
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Jinja components</h3>
      <p><a href="https://github.com/NHSDigital/nhsuk-frontend-jinja">Use a Jinja port of NHS.UK frontend</a> with Python based frameworks.</p>
    </li>
    <li>
      <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">WordPress theme</h3>
      <p><a href="https://digital.leadershipacademy.nhs.uk/digital-capabilities/websites/nightingale-theme-user-guide">Build a WordPress website with the Nightingale theme</a> based on NHS styling.</p>
    </li>
  </ul>

  <h2 class="nhsuk-heading-l">NHS App design system</h2>
  <p>The <a href="https://design-system.nhsapp.service.nhs.uk/">NHS App design system</a> extends the NHS design system with components and patterns for the NHS App.</p>

  <hr>

  <h2 class="nhsuk-heading-m">Support for these resources</h2>
  <p>The NHS service manual team is not responsible for these resources and we cannot support you with using them.</p>
  {% call details({
    summaryText: "Get support with these resources via Slack"
  }) %}
    <p><a href="https://service-manual.nhs.uk/slack">Join our free Slack workspace</a> to access dedicated channels where you can ask questions and discuss issues and ideas. The channels are:</p>
    <ul>
      <li>#mural-flow-diagrams</li>
      <li>#paper-sketching-templates</li>
      <li>#figma-design-library</li>
      <li>#react-components</li>
      <li>#jinja-components</li>
      <li>#wordpress</li>
      <li>#nhs-app</li>
    </ul>
  {% endcall %}

  <h2 class="nhsuk-heading-m">Suggest a new resource</h2>
  <p>To suggest a new resource, <a href="/get-in-touch">get in touch</a> with the service manual team.</p>
  <p>You can also use <a href="https://design-system.service.gov.uk/community/resources-and-tools">GOV.UK Design System resources</a> but you will need to adapt them for the NHS.</p>

{% endblock %}
