{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Develop a component or pattern" %}
{% set pageSection = "Community and contribution" %}
{% set pageDescription = "Anyone can work on something in the NHS digital service manual community backlog." %}
{% set dateUpdated = "March 2019" %}

{% block beforeContent %}
  {% include "community-and-contribution/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>How to work on a new thing</h2>
  <h3>1. Sign up to work on a thing in the backlog</h3>
  <ul>
    <li>Anyone can work on items marked as "To do" in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog">community backlog</a>.</li>
    <li>If you see something you'd like to work on, email the team at <a href="mailto:england.service-manual@nhs.net">england.service-manual@nhs.net</a>.</li>
    <li>If you have an idea for something that's not in the backlog, you can <a href="/community-and-contribution/propose-component-pattern">propose it</a>.</li>
  </ul>

  <h3>2. Plan your work with the service manual team</h3>
  <ul>
    <li>After you've emailed them, a member of the team will get in touch to arrange a kick-off chat.</li>
    <li>The team will help you scope and plan your contribution. You'll also be able to discuss any support you might need.</li>
    <li>If you're happy to go ahead, the team will assign the issue to you in the backlog.</li>
  </ul>

  <h3>3. Research and develop your contribution</h3>
  <ul>
    <li>While you're working on your contribution, you can contact the service manual team at <a href="mailto:england.service-manual@nhs.net">england.service-manual@nhs.net</a> if you need any help.</li>
  </ul>

  <h3>4. Send your contribution for review</h3>
  <ul>
    <li>All work must meet the <a href="/community-and-contribution/contribution-criteria">contribution criteria</a> before it can be published. The service manual team will use the criteria to review your contribution.</li>
    <li>To arrange a review, tell the team your contribution is ready.</li>
    <li>If there's anything else to do, the team will share some recommendations.</li>
    <li>If the work is ready to be published, the service manual team will help you get it live.</li>
  </ul>

{% endblock %}
