{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Feed back or share insights" %}
{% set pageSection = "Community and contribution" %}
{% set pageDescription = "Take part in the discussion and help us improve things for everyone." %}
{% set dateUpdated = "March 2024" %}

{% block beforeContent %}
  {% include "community-and-contribution/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p>We want to hear how you and your users experience things in the service manual. You can do this by taking part in discussions on GitHub, which is the open collaboration space we use.</p>

<h2>1. Find the thing you want to feed back on</h2>
<p>If the thing is already published in the service manual, go to the relevant page. You'll find a link to the GitHub issue at the bottom of the page.</p>
<p>Or you can go directly to GitHub and look in 1 of the 3 project boards in the community backlog:</p>
  <ul>
    <li><a href="https://github.com/orgs/nhsuk/projects/21/views/1">design system (styles, components and patterns) backlog</a></li>
    <li><a href="https://github.com/orgs/nhsuk/projects/20/views/1">content guide backlog</a></li>
    <li><a href="https://github.com/orgs/nhsuk/projects/19/views/1">practices and ways of working backlog</a> – includes Accessibility guidance and the NHS service standard</li>
  </ul>

<p>If the thing has not been published, it may be in one of the backlogs as a proposed item. (If it's not in a backlog, you can <a href="/community-and-contribution/propose-component-pattern">propose a component or pattern</a> or other issue yourself.)</p>

<p>You can use search to find things in the backlogs, for example "buttons".</p>
<figure class="nhsuk-image app-image app-image--border nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5">
  <img class="nhsuk-image__img app-image__img app-u-full-width" src="/assets/community-backlog-search-screenshot.png" alt="A screenshot of the search bar in the design system backlog">
</figure>
<p>Click on the issue to see the discussion and scroll to the bottom if you want to comment.</p>

<h2>2. Leave a comment</h2>
<p>You need to sign up to GitHub if you want to comment. Anyone can sign up for free.</p>
<p>Use the textbox at the bottom of the page to give your feedback or share insights.</p>
<figure class="nhsuk-image app-image app-image--border nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5">
  <img class="nhsuk-image__img app-image__img app-u-full-width" src="/assets/community-backlog-issue-comment-screenshot.png" alt="A screenshot of the text box at the bottom of a GitHub page">
</figure>
<p>If you can, please share:</p>
  <ul>
    <li>some information about your service or use case</li>
    <li>your design thinking, with screenshots if you have them</li>
    <li>any research findings you have</li>
  </ul>
  <p>Even if your findings do not lead to a change in the service manual, it's helpful to share anyway. People across NHS digital teams read the discussions on GitHub to see how others have approached things and what they've learned.</p>

{{ warningCallout({
  heading: "Share information responsibly",
  text: "Remember that all the information on GitHub is open to the public."
}) }}

<h2 class="nhsuk-u-margin-bottom-3">3. What happens next</h2>
<p>After you have submitted your comment, the service manual team will:</p>
<ul>
  <li>get a notification from GitHub</li>
  <li>review the issue as part of the weekly service manual community rota</li>
  <li>let you know if the team will take any action</li>
</ul>
<p>The service manual team does not usually act immediately on feedback. We sometimes need to see evidence across several teams before we can be sure that something is a problem.</p>

<p>If you have any problems or questions, feel free to <a href="/get-in-touch">get in touch</a>.</p>

{% endblock %}
