{% set pageTitle = "Community and contribution" %}
{% set pageDescription = "The NHS digital service manual is a community effort. Anyone can help improve and grow it." %}
{% set pageSection = "Community and contribution" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <h2 id="working-together">Working together</h2>
  <p>Join in with the community. It gives you a chance to:</p>
  <ul>
    <li><strong>collaborate</strong> on developing solutions to common design problems</li>
    <li><strong>share</strong> your work, insights and learnings with others</li>
    <li><strong>get help</strong> with your own design and development challenges</li>
  </ul>

  <ul class="nhsuk-list">
    <li class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-3 nhsuk-u-font-size-22"><a href="/community-and-contribution/community-backlog">Join in the community backlog</a></li>
    <li class="nhsuk-u-font-weight-bold nhsuk-u-font-size-22"><a href="/community-and-contribution/community-on-slack">Talk to the community on Slack</a></li>
  </ul>

  <h2 id="working-in-the-open">Working in the open</h2>
  <p>We work in the open in GitHub so that as many people as possible can contribute and review the community's work.</p>

  <h2 id="ways-contribute">Contribution</h2>
  <p>A contribution is when you do something to grow or improve the service manual. Anyone who uses the service manual can make a contribution.</p>
  <p>All you need is a <a href="https://github.com/join">public GitHub account</a> to get started. Find out about the <a href="/community-and-contribution/community-backlog#ways-contribute">ways to contribute</a>.</p>

  <h2 id="support">Don't know where to get started?</h2>
  <p>If you don't know where to get started, you can:</p>
  <ul>
    <li>ask a question using a <a href="https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/new?assignees=&labels=type%3A+question+%E2%9D%93&template=ask-a-question.md&title=">GitHub issue template</a></li>
    <li>get help from the <a href="/community-and-contribution/community-on-slack">community on slack</a></li>
    <li><a href="mailto:service-manual@nhs.net">email the service manual team</a></li>
  </ul>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
