{% set pageTitle = "Community and contribution" %}
{% set pageDescription = "The NHS digital service manual is a community effort. Anyone can help improve and grow it." %}
{% set pageSection = "Community and contribution" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <h2 id="working-together">Working together</h2>
  <p>Join in with the community. It gives you a chance to:</p>
  <ul>
    <li><strong>collaborate</strong> on developing solutions to common design problems</li>
    <li><strong>share</strong> your work, insights and learnings with others</li>
    <li><strong>get help</strong> with your own design and development challenges</li>
  </ul>

  <ul class="nhsuk-list">
    <li class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-3 nhsuk-u-font-size-22"><a href="/community-and-contribution/community-backlog">Join in the community backlog</a></li>
    <li class="nhsuk-u-font-weight-bold nhsuk-u-font-size-22"><a href="https://nhs-service-manual.slack.com/messages/CF6CNGB7E">Talk to us on Slack</a></li>
  </ul>

  <h2 id="working-in-the-open">Working in the open</h2>
  <p>The service manual lives in the open on GitHub where everyone can see. We encourage anyone to raise issues, fix bugs, comment and suggest improvements.</p>

  <h2 id="ways-contribute">Ways to contribute</h2>
  <p>Anyone can contribute to the service manual. Read more about <a href="/community-and-contribution/community-backlog#ways-contribute">ways to contribute</a>.</p>

  <h2 id="support">Don't know where to get started?</h2>
  <p><a href="/get-in-touch">Get in touch</a> with the service manual team, we are here to help.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
