{% from "checkboxes/macro.njk" import checkboxes %}

{{ checkboxes({
  fieldset: {
    legend: {
      text: "Care setting",
      size: "m",
      isPageHeading: true
    }
  },
  idPrefix: "example",
  name: "example",
  small: true,
  items: [
    {
      value: "ambulance or urgent and emergency care",
      text: "Ambulance or urgent and emergency care"
    },
    {
      value: "care home",
      text: "Care home"
    },
    {
      value: "community health",
      text: "Community health"
    },
    {
      value: "dentistry",
      text: "Dentistry"
    }
  ]
}) }}
