{% from 'button/macro.njk' import button %}

{% block body %}
  <style>
    body {background-color: #d8dde0;}
  </style>
{% endblock %}

{{ button({
  text: "Find my location",
  classes: "nhsuk-button--secondary-white-background"
}) }}
