---
previewLayout: design-example-wrapper-full
---

{% extends "layouts/design-example-wrapper-full-layout.njk" %}

{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Booking complete",
        text: "We have sent you a confirmation email"
      }) }}

      <h2 class="nhsuk-heading-m">Your appointment details</h2>

      {% set siteLocationHtml %}
        St George's Pharmacy<br>
        46 St George's Rd<br>
        Elephant and Castle<br>
        London<br>
        SE1 6ET
      {% endset %}

      {{ summaryList({
        classes: "nhsuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "Site location"
            },
            value: {
              html: siteLocationHtml
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: "Thursday 15 June at 9:10am"
            }
          }
        ]
      }) }}

      <p>
        <a href="#">Tell us about your experience using this service</a>
      </p>

    </div>
  </div>
{% endblock %}
