{% from "details/macro.njk" import details %}
{% from "tables/macro.njk" import table %}
{% from "code/macro.njk" import appCode %}

{% macro macroOption(option, optionName, exampleId) %}
{% set componentPath = getMacroPageName(option.slug) %}

{% if (option.required) %}
  <strong>Required.</strong>
{% endif %}
  {{ option.description | safe }}
{% if (option.params) or (option.isComponent and ["label", "legend"].includes(option.id)) %}
  {% if option.isComponent and not ["label", "legend"].includes(option.id) %}
    {# Link to subset of Nunjucks macro options table and design system component page -#}
    <a href="#options-{{ exampleId }}--{{ option.slug }}">See supported {{ option.name | safe }} macro options</a> for <a href="/design-system/components/{{ componentPath }}/#options-{{ componentPath }}-example">{{ optionName | safe }} component macro</a>.
  {% else %}
    {# Link to Nunjucks macro options table only -#}
    <a href="#options-{{ exampleId }}--{{ option.slug }}"> See macro options for {{ option.name | safe }}</a>.
  {% endif %}
{% elif option.isComponent %}
  {# Link to design system component page for nested components -#}
  <a href="/design-system/components/{{ componentPath }}/#options-{{ componentPath }}-example">See macro options for {{ optionName | safe }}</a>.
{% endif %}
{% endmacro %}

{% macro designExample(params) %}
  {% set standaloneURL = "/design-example/" + params.group + "/" + params.item + "/" + params.type %}

  {# `showExample` and `showCode` is true, unless explicitly turned off with params #}
  {% set showExample = params.showExample !== false %}
  {% set showCode = params.showCode !== false %}

  {#
  Set up the `snippets` array to be a definition of the types of snippet to
  display. If `params.htmlOnly` is true, the only snippet type to show is HTML.
  Otherwise we show HTML and nunjucks.

  Code definitions should be an object with a `name` and the raw `code` to
  render onto the page with the `|safe` filter.
  #}
  {% set htmlDefinition = {
    name: "HTML",
    id: "html",
    code: getHTMLCode(params),
    language: "html"
  } %}
  {% set nunjucksDefinition = {
    name: "Nunjucks",
    id: "nunjucks",
    code: getNunjucksCode(params),
    language: "njk"
  } %}
  {% if params.htmlOnly %}
    {% set snippets = [htmlDefinition] %}
  {% elif params.nunjucksOnly %}
    {% set snippets = [nunjucksDefinition] %}
  {% else %}
    {% set snippets = [htmlDefinition, nunjucksDefinition] %}
  {% endif %}

  {% set exampleType = params.type | lower | replace("-", " ") %}
  {% set exampleItem = params.item | lower | replace("-", " ") %}
  {% set exampleTitle = exampleItem if exampleType == "default" else (exampleItem + " " + exampleType) %}
  {% if params.titleSuffix %}
    {% set exampleTitle = exampleTitle + " " + params.titleSuffix %}
  {% endif %}

  {% if params.id %}
    {% set exampleId = params.id %}
  {% else %}
    {% set exampleId = (exampleTitle + " example") | slugify %}
  {% endif %}

  <div class="app-design-example" data-module="app-design-example">

    {% if showExample %}
      <a href="{{ standaloneURL }}" class="app-design-example__pop-out" target="_blank" rel="noopener noreferrer">
        Open this example in a new tab<span class="nhsuk-u-visually-hidden">: {{ exampleTitle }}</span>
      </a>
      <div class="app-code-embed">
        <iframe title="{{ params.type }}" src="{{ standaloneURL }}" class="app-design-example__frame"></iframe>
      </div>
    {% endif %}

    {% if showCode %}
      <div class="app-code-snippet">
        {% if snippets | length > 1 %}
          <span id="options-{{ exampleId }}"></span>
          <ul class="app-tabs" role="tablist">
            {% for snippet in snippets %}
              <li class="app-tabs__item" role="presentation" data-index="ex-{{ loop.index }}">
                <a href="#{{ exampleId }}-{{ snippet.id }}" role="tab" aria-controls="{{ exampleId }}" data-track="tab-{{ snippet.id }}">
                  {{ snippet.name }}<span class="nhsuk-u-visually-hidden"> code for {{ exampleTitle }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="app-tabs__container js-tabs__container" id="{{ exampleId }}" role="tabpanel">
          {% for snippet in snippets %}
            {% if snippets | length > 1 %}
              <div class="app-tabs__item app-tabs__item--mobile" role="presentation" data-index="ex-{{ loop.index }}">
                <a href="#{{ exampleId }}-{{ snippet.id }}" role="tab" aria-controls="{{ exampleId }}" data-track="tab-{{ snippet.id }}">
                  {{ snippet.name }}<span class="nhsuk-u-visually-hidden"> code for {{ exampleTitle }}</span>
                </a>
              </div>
            {% endif %}
            <div class="app-code-snippet__preformatted {%- if snippets | length > 1 %} js-hidden {%- endif %}" data-index="ex-{{ loop.index }}">
              {% set macroOptions = getMacroOptions(params.item) if params.group == "components" and snippet.name == "Nunjucks" else [] %}

              {% if macroOptions | length %}
              <div class="app-code-snippet__macro">
                {% call details({
                  summaryText: "Nunjucks macro options",
                  classes: "app-code-snippet__details",
                  id: "options-" + exampleId + "-details"
                }) %}
                  <p>Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.</p>
                  <p>Some options are required for the macro to work. These are marked as "Required" in the option description.</p>
                  <p>If you're using Nunjucks macros in production with "html" options, or ones ending with "html", you must sanitise the HTML to protect against  <a href="https://developer.mozilla.org/en-US/docs/Glossary/Cross-site_scripting">cross-site scripting exploits</a>.</p>

                  {% for options in macroOptions %}
                    {% set optionRows = [] %}

                    {% for option in options.params %}
                      {% set optionName = option.name.split(" ") | last -%}
                      {% set optionRows = (optionRows.push([
                        {
                          header: "Name",
                          html: optionName
                        },
                        {
                          header: "Type",
                          text: option.type
                        },
                        {
                          header: "Description",
                          html: macroOption(option, optionName, exampleId)
                        }
                      ]), optionRows) %}
                    {% endfor %}

                    {{ table({
                      caption: options.name | safe,
                      captionClasses: "nhsuk-u-visually-hidden" if options.slug == 'primary',
                      firstCellIsHeader: true,
                      responsive: true,
                      classes: "app-code-snippet__options",
                      id: "options-" + exampleId + "--" + options.slug,
                      head: [
                        {
                          text: "Name",
                          classes: "app-code-snippet__option-name"
                        },
                        {
                          text: "Type",
                          classes: "app-code-snippet__option-type"
                        },
                        {
                          text: "Description"
                        }
                      ],
                      rows: optionRows
                    }) }}
                  {% endfor %}
                {% endcall %}
              </div>
              {% endif %}
              <div class="app-code-snippet__macro"></div>
              <div class="app-code-snippet__container">
                <button class="app-button--copy" aria-live="assertive" hidden>
                  Copy code<span class="nhsuk-u-visually-hidden">: {{ exampleTitle }}</span>
                </button>

                {% call appCode(snippet) %}
                  {{- snippet.code | safe -}}
                {% endcall %}
              </div>
              {% if snippets | length > 1 %}
              <button class="app-button--close" hidden>
                Close<span class="nhsuk-u-visually-hidden">: {{ exampleTitle }}</span>
              </button>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
{% endmacro %}
