{% macro designExample(params) %}
  {% set standaloneURL = "/design-example/" + params.group + "/" + params.item + "/" + params.type %}

  {# `showExample` and `showCode` is true, unless explicitly turned off with params #}
  {% set showExample = params.showExample !== false %}
  {% set showCode = params.showCode !== false %}

  {% set html %}
  {{- getHTMLCode(params) | highlight('html') | safe -}}
  {% endset %}

  {% set nunjucks %}
  {{- getNunjucksCode(params) | highlight('js') | safe -}}
  {% endset %}

  {#
  Set up the `snippets` array to be a definition of the types of snippet to
  display. If `params.htmlOnly` is true, the only snippet type to show is HTML.
  Otherwise we show HTML and nunjucks.

  Code definitions should be an object with a `name` and the raw `code` to
  render onto the page with the `|safe` filter.
  #}
  {% set htmlDefinition = {
    name: "HTML",
    code: html
  } %}
  {% set nunjucksDefinition = {
    name: "Nunjucks",
    code: nunjucks
  } %}
  {% if params.htmlOnly %}
    {% set snippets = [htmlDefinition] %}
  {% elif params.nunjucksOnly %}
    {% set snippets = [nunjucksDefinition] %}
  {% else %}
    {% set snippets = [htmlDefinition, nunjucksDefinition] %}
  {% endif %}

  {% set exampleType = params.type|lower|replace("-", " ") %}
  {% set exampleItem = params.item|lower|replace("-", " ") %}
  {% set exampleId = params.type + "-example" %}
  {% set exampleTitle = exampleType + " " + exampleItem %}

  <div class="app-design-example" data-module="app-design-example">

    {% if showExample %}
      <a href="{{ standaloneURL }}" class="app-design-example__pop-out" target="_blank" rel="noopener noreferrer">
        Open this<span class="nhsuk-u-visually-hidden"> {{ exampleTitle }}</span> example in a new tab
      </a>
      <div class="app-code-embed">
        <iframe title="{{ params.type }}" src="{{ standaloneURL }}" class="app-design-example__frame"></iframe>
      </div>
    {% endif %}

    {% if showCode %}
      <div class="app-code-snippet">
        {% if snippets | length > 1 %}
          <ul class="app-tabs" role="tablist">
            {% for snippet in snippets %}
              <li class="app-tabs__item" role="presentation" data-index="ex-{{ loop.index }}">
                <a href="javascript:void(0);" role="tab" aria-controls="{{ exampleId }}" data-track="tab-html" aria-selected="true">
                  {{ snippet.name }}<span class="nhsuk-u-visually-hidden"> code for {{ exampleTitle }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="app-tabs__container js-tabs__container" id="{{ exampleId }}" role="tabpanel">
          {% for snippet in snippets %}
            {% if snippets | length > 1 %}
              <div class="app-tabs__item app-tabs__item--mobile" role="presentation" data-index="ex-{{ loop.index }}">
                <a href="" role="tab" aria-controls="{{ exampleId }}" data-track="tab-html" aria-selected="true">
                  {{ snippet.name }}<span class="nhsuk-u-visually-hidden"> code for {{ exampleTitle }}</span>
                </a>
              </div>
            {% endif %}
            <div class="app-code-snippet__preformatted {% if snippets|length > 1 %}js-hidden{% endif %}" data-index="ex-{{ loop.index }}">
              {% set nunjucksParams = getNunjucksParams(params.item) if params.group == "components" and snippet.name == "Nunjucks" else [] %}

              {% if nunjucksParams | length %}
                <div class="app-code-snippet__macro">
                  <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        Nunjucks macro options
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <p>Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.</p>
                      <p>Some options are required for the macro to work. These are marked as "Required" in the option description.</p>
                      <p>If you're using Nunjucks macros in production with "html" options, or ones ending with "html", you must sanitise the HTML to protect against  <a href="https://developer.mozilla.org/en-US/docs/Glossary/Cross-site_scripting">cross-site scripting exploits</a>.</p>

                      <table class="nhsuk-table nhsuk-table-responsive">
                        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Nunjucks arguments for {{ exampleTitle }}</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                          <tr role="row">
                            <th role="columnheader" class="" scope="col">
                              Name
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Type
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Required
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Description
                            </th>
                          </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                          {% for option in nunjucksParams %}
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>
                                <span class="nhsuk-table__cell--break-all--desktop">{{ option.name }}</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>{{ option.type }}
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Required </span>{{ option.required }}
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>{{ option.description | markdown }}
                              </td>
                            </tr>
                            {% if option.params %}
                              {% for subOption in option.params %}
                                <tr role="row" class="nhsuk-table__row">
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>
                                    <span class="nhsuk-table__cell--break-all--desktop">{{ option.name }}{% if option.type == "array" %}[]{% else %}{}{% endif %}.{{ subOption.name }}</span>
                                  </td>
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>{{ subOption.type }}
                                  </td>
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Required </span>{{ subOption.required }}
                                  </td>
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>{{ subOption.description | markdown }}
                                  </td>
                                </tr>
                                {% if subOption.params %}
                                  {% for subSubOption in subOption.params %}
                                  <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>
                                      <span class="nhsuk-table__cell--break-all--desktop">{{ option.name }}{% if option.type == "array" %}[]{% else %}{}{% endif %}.{{ subOption.name }}{% if subOption.type == "array" %}[]{% else %}{}{% endif %}.{{ subSubOption.name }}</span>
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>{{ subSubOption.type }}
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading" aria-hidden="true">Required </span>{{ subSubOption.required }}
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>{{ subSubOption.description | markdown }}
                                    </td>
                                  </tr>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </details>
                </div>
              {% endif %}
              <div class="app-code-snippet__macro"></div>
              <div class="app-code-snippet__container">
                <button class="app-button--copy" aria-live="assertive" hidden>
                  Copy code<span class="nhsuk-u-visually-hidden">: {{ exampleTitle }}</span>
                </button>

                <pre><code class="{{ snippet.language }}">
                  {{- snippet.code | safe -}}
                </code></pre>
              </div>
              {% if snippets | length > 1 %}
              <button class="app-button--close" hidden>
                Close<span class="nhsuk-u-visually-hidden">: {{ exampleTitle }}</span>
              </button>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
{% endmacro %}
