{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Details" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Make a page easier to scan by letting users reveal more detailed information only if they need it." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "30" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Details updated in August 2025</h3>
    <p>See <a href="/design-system/guides/updating-to-v10#details">breaking code updates to details in version 10</a></p>
  </div>

  {{ designExample({
    group: "components",
    item: "details",
    type: "default"
  }) }}

  <h2 id="when-to-use-this-component">When to use details</h2>
  <p>There are 2 ways to let users reveal more information:</p>
  <ul>
    <li>details</li>
    <li><a href="/design-system/components/expander">expander</a></li>
  </ul>
  <p>Use the details component to make a page easier to scan when it contains information that only some users will need. For example, use it to <a href="/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form#give-users-help-in-context">give users help in context</a>.</p>

  <h2 id="when-not-to-use-this-component">When not to use details</h2>
  <p>Do not use details to hide information that most users will need.</p>

  <h2 id="how-it-works">How to use details</h2>
  <p>The details component is a short link that expands to show more text when a user clicks on it.</p>
  <p>Make the link text short and descriptive so users can quickly work out if they need to click on it.</p>

  <h2 id="details-and-expanders">Details and expanders</h2>
  <p>Details and expanders both hide sections of content which a user can choose to reveal.</p>
  <p>The details component is less visually prominent than an expander, so tends to work better for content which is not as important to users.</p>
  <p>Users may be reluctant to click on the details component in forms. Read more in the research section below.</p>

  <h2 id="research">Research</h2>
  <p>User research has shown us that users understand the purpose of the component and are able to use it.</p>
  <p>Anecdotally we've heard users being reluctant to expand the details component in user testing sessions for transactional services (forms). When asked why they wouldn't click, they explained that they thought the link text (blue underlined text) would take them to a new page and they would lose their progress.</p>

{% endblock %}
