{% from "character-count/macro.njk" import characterCount %}

{{ characterCount({
  name: "threshold",
  id: "threshold",
  maxlength: 112,
  threshold: 75,
  value: "Type another letter into this field after this message to see the threshold feature",
  label: {
    text: "Can you provide more detail about how you move about (your mobility)?",
    classes: "nhsuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "For example, if you use crutches, sticks, or a walking frame"
  }
}) }}
