{% from "character-count/macro.njk" import characterCount %}

{{ characterCount({
  label: {
    text: "Can you provide more detail about how you move about (your mobility)?",
    size: "l",
    isPageHeading: true
  },
  hint: {
    text: "For example, if you use crutches, sticks, or a walking frame"
  },
  id: "threshold",
  name: "threshold",
  value: "Type another letter into this field after this message to see the threshold feature",
  maxlength: 112,
  threshold: 75,
  countType: "characters"
}) }}
