{% from 'input/macro.njk' import input %}

{{ input({
  label: {
    text: "Cost per item, in pounds"
  },
  id: "cost-pounds",
  name: "costPounds",
  prefix: "£",
  suffix: "per item",
  errorMessage: {
    text: "Enter a cost per item, in pounds"
  },
  classes: "nhsuk-input--width-5",
  spellcheck: false
}) }}
