{% set pageTitle = "IA principles" %}
{% set pageDescription = "A set of principles to help us assess the quality of proposed NHS.UK information architectures and navigation structures." %}
{% set pageSection = "Information architecture" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "information-architecture/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>1. User-centred but machine-readable</h2>
  <p>Create an information architecture based on user needs, structured so as to be machine-readable.</p>
  <ul>
    <li>Group content in a way that mirrors users’ mental models of health & care</li>
    <li>Prioritise navigation options via users’ top tasks</li>
    <li>Test and validate with real people</li>
    <li>Ensure all appropriate content is accessible to Google and other internal and external search engines</li>
  </ul>

  <h2>2. Robust & flexible</h2>
  <p>The IA must provide a solid foundation to build on over time</p>
  <ul>
    <li>The IA must be robust and flexible enough to accommodate new content as it is created</li>
    <li>Our IA should work for the service we want to be as well as the service we are right now</li>
  </ul>

  <h2>3. Effective routing & intuitive flow</h2>
  <p>Create a strong information trail for people to follow in order to find what they need. Content appears where people need it</p>
  <ul>
    <li>Users must be able to navigate to any page from the home page</li>
    <li>All pages must exist in navigation structures: no orphan pages</li>
    <li>Enable people to move not only up and down information hierarchies, but also sideways across vertical groupings</li>
    <li>Use labels people understand - no jargon, expert vocabulary or niche ‘brandnames’ exposed to users</li>
  </ul>

  <h2>4. Sense of context</h2>
  <p>People are aware where they are on the website and understand what information is available to them</p>

  <h2>5. Discoverable content</h2>
  <p>There are multiple ways to get to the same information</p>
  <ul>
    <li>Different users will have different finding strategies</li>
    <li>Different users will be in different information-seeking modes at different times</li>
    <li>Different users will be at different stages on their journey</li>
  </ul>

  <h2>6. Clear next steps</h2>
  <p>Content clearly communicates next steps and how people can access services relevant to their needs</p>

  <h2>7. Clarity, consistency, coherence</h2>
  <p>Use clear, consistent language across menus, headings, links and anywhere content is referenced</p>
  <ul>
    <li>Consistency in design, information structures and tone of voice helps users orient themselves</li>
    <li>Controlled vocabularies and content models help with consistency</li>
  </ul>

  <h2>8. Inclusive experience</h2>
  <p>The NHS website is for everyone: ensure everyone has the ability to navigate the site</p>
  <p>This includes people with:
  <ul>
    <li>accessibility needs</li>
    <li>low literacy or other difficulties reading</li>
    <li>low digital literacy</li>
    <li>low health literacy</li>
    <li>limited access to the internet e.g. only on a small, mobile device</li>
    <li>poor internet connections</li>
  </ul>

  <h2>Further reading</h2>
  <p>NHS Digital also has a set of design principles that are at the heart of the user-centred design process.</p>
  <p>You can see the <a href="https://service-manual.nhs.uk/design-system/design-principles">princples here</a>.</p>




{% endblock %}
