{% set pageTitle = "Measuring the success of your IA" %}
{% set pageDescription = "What success looks like and how you'll know when your work is complete." %}
{% set pageSection = "Information architecture" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "September 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "information-architecture/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Definition of "done"</h2>
  <p>To meet your users' and organisational needs, you need to demonstrate the following for any new or transformed content.</p>
  <h3>Your topic fits into the wider site IA</h3>
  <ul>
    <li>You're clear about any larger content group your topic belongs to.</li>
    <li>The labels you use sit meaningfully alongside existing content.</li>
    <li>Users can browse to all your content – no "orphan" content.</li>
    <li>Your URLs conform to the URL policy in the service manual (to be published around the end of 2021).</li>
  </ul>
  <h3>Users can follow a good information scent</h3>
   <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
    <h4 id="information-scent">Information scent</h4>
    <p>Users pick up visual and textual cues about the content a website contains, for example, from its information architecture and link labels. These help them estimate the value of following a link.</p>
    <p>Users pick up an information scent from what they see, but they also rely on what they already know.</p>
  </div>
  <ul>
    <li>Users looking for your topic can find it when they start from elsewhere on the website.</li>
    <li>The way you've grouped content and the labels you've used lead users to what they're interested in.</li>
    <li>You include links and synonyms in visible indexes, like the <a href="https://www.nhs.uk/conditions/">Health A to Z on the NHS website</a>.</li>
  </ul>
  <h3>You link to and from related content</h3>
  <p>Consider users’ journeys around the wider topic. Are there associated conditions, treatments, lifestyle improvements or services they might need to discover?</p>
  <h3>Your topic is visible to internal and external search engines</h3>
  <p>If you have an on-site search engine, you have added synonyms for your topic and prioritised results.</p>
  <h3>You can demonstrate success with analytics</h3>
  <p>Benchmark as-is IA and content performance during discovery. Then measure improvements in beta and live.</p>
  <p>Make sure you understand your users’ priority tasks and show that you get more people to the information they need more easily.</p>
  <ul>
    <li>Improved IA improves the findability of content (known-item access). Tree tests are one way of measuring findability.</li>
    <li>Improved IA improves the discoverability of content (unknown-item access). Site analytics can measure journeys through content.</li>
    <li>Optimised site search improves findability. Site search logs measure successful searches.</li>
  </ul>
  <p>Improved IA and search should mean:</p>
  <ul>
    <li>More people navigate to your content</li>
    <li>More people find your content having entered a relevant on-site search term</li>
    <li>More people go on longer journeys around your content (not just single-page visits)</li>
    <li>More people start a relevant transactional journey</li>
    <li>More people visit high priority content (eg that helps them accomplish the most common tasks - Top Tasks)</li>
  </ul>

  <ul>
    <li>A content inventory exists and documents all related content from across NHS.UK</li>
    <li>The topic IA (site map) has been designed, tested and iterated based on user research</li>
    <li>IA page templates have been used</li>
      <ul>
        <li>Any changes and additions have been agreed with the IA team so they can be made available to others and fit in with the navigation system as a whole</li>
      </ul>
    <li>The prototype and/or live content has been tested with users and meets site-wide user needs as well as topic user needs</li>
      <ul>
        <li>All topic content is available via hub pages</li>
        <li>All related content is available in context where needed</li>
        <li>Links, page titles and URLs are consistent throughout</li>
      </ul>
    <li>Topic links and synonyms for the Health A to Z and site search have been designed, tested and added</li>
    <li>The topic location within the wider NHS.UK IA and taxonomy has been considered and agreed by governance process</li>
      <ul>
        <li>The URL policy has been followed</li>
      </ul>
    <li>A measurement framework is in place that measures users’ ability to find and discover the content they need</li>
  </ul>




  <h2>Measuring success</h2>

  <h3>SEO</h3>
  <p>Changes to page structures affect SEO, but we should remember that NHS.UK has huge authority so it is difficult to harm our Google rankings.</p>
  <p>Technical SEO is concerned with making a website easy for search engines to crawl, removing barriers such as crawl errors. Content and CMS activities contribute to technical SEO on live content. The IA page templates help search engines understand the relationship between content and importance of pages by providing a clear structure.</p>






{% endblock %}
