{% set pageTitle = "Your topic in the wider IA" %}
{% set pageDescription = "How to consider your topic's IA within the wider IA." %}
{% set pageSection = "Information architecture" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "information-architecture/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Key considerations</h2>
  <p>When you are thinking about how your topic will fit into the rest of the overaching website, familiarise your team with the IA design principles. This will help you to meet the needs of your specifc users, as well as those of the wider site.</p>

  <h3>It is important to remember:</h3>
  <ul>
    <li>Topics are a good way to help users understand where they might find your information, and how to move to related information</li>
    <li>Provide a strong information scent by meeting your users' mental models about where they would find your topic and what words they would be using</li>
    <li>Your topic may need to be listed in the Health A to Z</li>
    <li>Provide multiple routes to content, not only with the navigation patterns, but through search and synonyms</li>
  </ul>

  <h3>How to find where your topic belongs</h3>
  <p>Decide your topic’s location within the site's main navigation. What other information is similar or should be 'nearby'? Understanding where in the wider site your content will sit is the first part of the information scent for your topic.</p>
  <p>Add your topic to the site's taxonomy, by understanding what 'canon' or group of information your topic should be classified as:</p>
  <ul>
    <li>Conditions, treatments and medicines live canonically in the Health A to Z</li>
    <li>Symptoms live canonically in ‘Check a symptom’</li>
    <li>Healthy living and lifestyle information lives canonically in ‘Healthy living’</li>
    <li>Pregnancy and mental health content lives canonically under ‘Pregnancy’ or ‘Mental health’</li>
    <li>Services live canonically under ‘NHS services’</li>
  </ul>

  <h3>Enabling multiple routes to your content</h3>
  <h4>Step 1</h4>
  <p>If you are adding information to a site with a visible index (e.g. the NHS.UK site has the Health A to Z), then consider that your topic may need one or more entries in the Health A to Z, whether or not it lives canonically there.</p>
  <h4>Step 2</h4>
  <p>Not all topics need to be added to the NHS.UK Health A to Z (such as services or contact information). If your topic is going to be added to the Health A to Z, add additional entries for synonyms.</p>
  <p>You can do this by thinking about the other language your users will be looking for when trying to access your content. By doing so, you will be offering multiple ways to the content.</p>
  <h4>Step 3</h4>
  <p>Once you have considered synonyms in the Health A to Z, a wider list of synonyms and related terms may be added to the site search. Think about how users may spell difficult terms, or whether there are any colloquial names for your content.</p>
  <h4>Step 4</h4>
  <p>Add your topic to the NHS.UK controlled vocabulary.</p>
{% endblock %}
