{% from "card/macro.njk" import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      href: "#",
      primary: "true",
      clickable: "true",
      heading: "Introduction to care and support",
      headingClasses: "nhsuk-heading-m",
      description: "A quick guide for people who have care and support needs and their carers"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      href: "#",
      primary: "true",
      clickable: "true",
      heading: "Help from social services and charities",
      headingClasses: "nhsuk-heading-m",
      description: "Includes helplines, needs assessments, advocacy and reporting abuse."
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      href: "#",
      primary: "true",
      clickable: "true",
      heading: "Care services, equipment and care homes",
      headingClasses: "nhsuk-heading-m",
      description: "Includes home adaptations, help at home from a carer, social care you can get for free and housing."
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      href: "#",
      primary: "true",
      clickable: "true",
      heading: "Money, work and benefits",
      headingClasses: "nhsuk-heading-m",
      description: "How to pay for care and support, and where you can get help with costs"
    }) }}
  </li>
</ul>
