{% from "card/macro.njk" import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      primary: true,
      clickable: true,
      href: "#",
      heading: "GPs",
      headingClasses: "nhsuk-heading-m",
      description: "About GP services, including how to find and register with a local GP and how to book an appointment"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      primary: true,
      clickable: true,
      href: "#",
      heading: "Hospitals",
      headingClasses: "nhsuk-heading-m",
      description: "About NHS hospitals, booking and changing appointments with the NHS e-Referral Service and going into hospital"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      primary: true,
      clickable: true,
      href: "#",
      heading: "Dentists",
      headingClasses: "nhsuk-heading-m",
      description: "About NHS dental services, how to find an NHS dentist and how much treatment costs"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    {{ card({
      primary: true,
      clickable: true,
      href: "#",
      heading: "Prescriptions",
      headingClasses: "nhsuk-heading-m",
      description: "Find out about prescriptions including charges, repeat prescriptions and if you can get free prescriptions"
    }) }}
  </li>
</ul>
