<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <p><code>nhsuk-u-text-break-word</code></p>
    <div class="nhsuk-card">
      <p>We'll send an email to: <span class="nhsuk-u-text-break-word">communications@nettlegrovehealthpartnershipfamilypractice.nhs.net</span>.</p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <p><code>&lt;wbr&gt;</code></p>
    <div class="nhsuk-card">
      <p>We'll send an email to: <span class="nhsuk-u-text-break-word">communications@<wbr>nettlegrove<wbr>health<wbr>partnership<wbr>family<wbr>practice.nhs.net</span>.</p>
    </div>
  </div>
</div>