{#- Set classes for this component #}
{%- set classNames = "app-code" -%}

{% if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif -%}

<pre class="{{ classNames }}" data-module="app-code"><code class="app-code__container hljs
  {%- if params.language %} language-{{ params.language }}{% endif %}">
  {{- caller() | unindent | highlight(params.language) | safe -}}
</code></pre>
