{% set pageTitle = "Guidance by topic" %}
{% set pageDescription = "Guidance on topics such as Accessibility and Information architecture." %}
{% set pageSection = "Guidance by topic" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <p>...</p>
  <p>...</p>
  <p>...</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
