{% set pageTitle = "Guidance by topic" %}
{% set pageDescription = "Guidance for teams building digital health and care services, separated by topic." %}
{% set pageSection = "Guidance by topic" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <p>Learn from topical guidance to build good live services.</p>

  <p>Much of the guidance includes examples to make it easy for you to follow in your project.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
