{% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}

{% set hintHtml -%}
  <p class="nhsuk-u-margin-bottom-2">Select 1 option</p>
{%- endset %}

{{ radios({
  idPrefix: "example-hints",
  name: "example-hints",
  fieldset: {
    legend: {
      text: "When were the xrays taken?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  hint: {
    html: hintHtml
  },
  items: [
  {
    value: "exact",
    text: "Enter exact date"
  },
  {
    value: "approximate",
    text: "Enter approximate date"
  },
  {
    value: "not sure",
    text: "Not sure"
  }
]
}) }}
