{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Content" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "What content designers, writers and editors need to do to make digital services accessible." %}
{% set theme = "Accessibility guidance for:" %}
{% set dateUpdated = "February 2025" %}
{% set backlog_issue_id = "347" %}

{% block beforeContent %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p><a href="https://nhsdigital.github.io/accessibility-checklist/">Use the NHS accessibility checklist</a> for:</p>
  <ul>
    <li>a full list of WCAG 2.2 success criteria and guidance for levels A and AA</li>
    <li>some success criteria and best practice for level AAA</li>
  </ul>

  {% include "./partials/write-content-thats-easy-to-understand.njk" %}
  {% include "./partials/provide-informative-page-titles.njk" %}
  {% include "./partials/use-headings-correctly.njk" %}
  {% include "./partials/write-good-link-and-form-control-names.njk" %}
  {% include "./partials/label-form-fields-clearly.njk" %}
  {% include "./partials/highlight-errors-in-forms.njk" %}
  {% include "./partials/use-alternative-text-for-images-in-content.njk" %}
  {% include "./partials/use-tables-to-show-relationships-between-data.njk" %}
  {% include "./partials/make-video-and-other-multimedia-content-accessible.njk" %}
  {% include "./partials/do-not-rely-on-colour-or-position-alone.njk" %}
  {% include "./partials/use-html-rather-than-pdfs.njk" %}

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
