{% set pageTitle = 'Content' %}
{% set pageSection = 'Accessibility' %}
{% set pageDescription = 'What content designers, writers and editors need to do to make digital services accessible.' %}
{% set contributors = 'false' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {% include './partials/write-content-thats-easy-to-understand.njk' %}
  {% include './partials/set-page-titles.njk' %}
  {% include './partials/use-headings-correctly.njk' %}
  {% include './partials/write-good-link-and-form-control-names.njk' %}
  {% include './partials/label-form-fields-clearly.njk' %}
  {% include './partials/highlight-errors-in-forms.njk' %}
  {% include './partials/use-alternative-text-for-images-in-content.njk' %}
  {% include './partials/use-tables-to-show-relationships-between-data.njk' %}
  {% include './partials/make-video-and-multimedia-accessible.njk' %}
  {% include './partials/do-not-rely-on-colour-or-position-alone.njk' %}

{% endblock %}
