{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Design" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "What graphic and interaction designers need to do to make digital services accessible." %}
{% set theme = "Accessibility guidance for:" %}
{% set dateUpdated = "February 2025" %}
{% set backlog_issue_id = "349" %}

{% block beforeContent %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p><a href="https://nhsdigital.github.io/accessibility-checklist/">Use the NHS accessibility checklist</a> for:</p>
  <ul>
    <li>a full list of WCAG 2.2 success criteria and guidance for levels A and AA</li>
    <li>some success criteria and best practice for level AAA</li>
  </ul>

  {% include "./partials/make-sure-your-service-meets-wcag-2-2.njk" %}
  {% include "./partials/avoid-accessibility-overlays-or-widgets.njk" %}
  {% include "./partials/define-page-structure.njk" %}
  {% include "./partials/define-skip-links.njk" %}
  {% include "./partials/provide-informative-page-titles.njk" %}
  {% include "./partials/use-headings-correctly.njk" %}
  {% include "./partials/check-colour-contrast.njk" %}
  {% include "./partials/define-focus-styles.njk" %}
  {% include "./partials/discuss-any-custom-components.njk" %}
  {% include "./partials/write-good-link-and-form-control-names.njk" %}
  {% include "./partials/label-form-fields-clearly.njk" %}
  {% include "./partials/highlight-errors-in-forms.njk" %}
  {% include "./partials/give-users-time-to-read-and-act.njk" %}
  {% include "./partials/do-not-rely-on-colour-or-position-alone.njk" %}
  {% include "./partials/do-not-include-text-in-images.njk" %}
  {% include "./partials/use-alternative-text-for-images-in-content.njk" %}
  {% include "./partials/use-alternative-text-for-functional-images.njk" %}
  {% include "./partials/make-video-and-other-multimedia-content-accessible.njk" %}

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
