{% set pageTitle = 'Design' %}
{% set pageSection = 'Accessibility' %}
{% set pageDescription = 'What graphic and interaction designers need to do to make digital services accessible.' %}
{% set contributors = 'False' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {% include './partials/define-page-structure.njk' %}
  {% include './partials/define-skip-links.njk' %}
  {% include './partials/use-headings-correctly.njk' %}
  {% include './partials/check-colour-contrast.njk' %}
  {% include './partials/define-focus-styles.njk' %}
  {% include './partials/discuss-any-custom-components.njk' %}
  {% include './partials/write-good-link-and-form-control-names.njk' %}
  {% include './partials/label-form-fields-clearly.njk' %}
  {% include './partials/highlight-errors-in-forms.njk' %}
  {% include './partials/do-not-rely-on-colour-or-position-alone.njk' %}
  {% include './partials/do-not-include-text-in-images.njk' %}
  {% include './partials/use-alternative-text-for-images-in-content.njk' %}
  {% include './partials/use-alternative-text-for-functional-images.njk' %}
  {% include './partials/make-video-and-multimedia-accessible.njk' %}

{% endblock %}
