{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Development" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "What developers need to do to make digital services accessible." %}
{% set theme = "Accessibility guidance for:" %}
{% set dateUpdated = "January 2025" %}
{% set backlog_issue_id = "348" %}

{% block beforeContent %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p><a href="https://nhsdigital.github.io/accessibility-checklist/">Use the NHS accessibility checklist</a> for:</p>
  <ul>
    <li>a full list of WCAG 2.2 success criteria and guidance for levels A and AA</li>
    <li>some success criteria and best practice for level AAA</li>
  </ul>

  {% include "./partials/make-sure-your-service-meets-wcag-2-2.njk" %}
  {% include "./partials/avoid-accessibility-overlays-or-widgets.njk" %}
  {% include "./partials/check-keyboard-accessibility.njk" %}
  {% include "./partials/provide-informative-page-titles.njk" %}
  {% include "./partials/set-language.njk" %}
  {% include "./partials/use-aria-patterns.njk" %}
  {% include "./partials/discuss-any-custom-components.njk" %}
  {% include "./partials/test-that-text-sizes-and-zooms-correctly.njk" %}
  {% include "./partials/give-users-time-to-read-and-act.njk" %}
  {% include "./partials/use-alternative-text-for-functional-images.njk" %}
  {% include "./partials/make-video-and-other-multimedia-content-accessible.njk" %}

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
