{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "How to make digital services accessible" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "Our approach to accessibility." %}
{% set theme = "Everyone needs to know" %}
{% set dateUpdated = "January 2024" %}
{% set backlog_issue_id = "351" %}

{% block beforeContent %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2 id="consider-accessibility-at-every-stage">Consider accessibility at every stage</h2>
  <p>Think about how you are going to address accessibility at the beginning and at every stage of your project.</p>
  <p>It's much harder to make a service accessible if you only address it later on.</p>
  <p><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#what-to-do-in-discovery">Making your service accessible: an introduction (GOV.UK service manual)</a> explains what to do at different stages.</p>

  <h2 id="make-it-the-whole-teams-responsibility">Make it the whole team's responsibility</h2>
  <p>Every member of the team should contribute to making your service inclusive.</p>
  <p>You should all:</p>
  <ul>
    <li>have a good understanding of accessibility</li>
    <li>observe research with people with access needs</li>
    <li>follow the guidance for your role</li>
  </ul>

  <h2 id="research-with-users-with-access-needs">Research with users with access needs</h2>
  <p>Involve people with access needs, including disabled people, in every round of user research.</p>
  <p>Consider cognitive and physical impairments, visual impairments, and temporary or permanent access needs.</p>
  <p>Follow our <a href="user-research">guidance on user research</a>.</p>

  <h2 id="use-progressive-enhancement">Use progressive enhancement</h2>
  <p>Progressive enhancement is about making your page work with just HTML, before adding anything else like cascading style sheets (CSS) and Javascript. That helps people who live in areas with slow connections or whose devices or browsers fail to load or recognise something.</p>
  <p>The <a href="/design-system/production">NHS.UK frontend library</a> uses JavaScript for "enhancement" – as an extra. It works without it.</p>
  <p>See <a href="https://www.gov.uk/service-manual/technology/using-progressive-enhancement">Building a resilient frontend using progressive enhancement (GOV.UK service manual)</a>.</p>

  <h2 id="follow-NHS-accessibility-guidance">Follow NHS accessibility guidance</h2>
  <p>Use this accessibility guidance to get started.</p>
  <p>For more detail, follow <a href="https://nhsdigital.github.io/accessibility-checklist/">the NHS accessibility checklist</a>. The checklist contains:</p>
  <ul>
    <li>a full list of WCAG 2.2 success criteria and guidance for levels A and AA that NHS websites and public mobile apps need to conform to</li>
    <li>some success criteria and best practice to improve accessibility for level AAA</li>
  </ul>

  <h2 id="test-throughout-and-consider-an-independent-audit">Test throughout and consider an independent audit</h2>
  <p>An expert audit can help find accessibility problems with your service and make sure it meets accessibility requirements. If you run your own tests regularly, the audit should find very little that needs changing.</p>
  <p>Follow our <a href="testing">guidance on testing</a> and our guidance on <a href="/accessibility/product-and-delivery#monitor-and-record-your-work">monitoring and recording accessibility testing</a> (for product and delivery managers).</p>
  <p>Find out about <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit">getting an accessibility audit (GOV.UK service manual)</a>.</li>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
