{% set pageTitle = 'Accessibility' %}
{% set pageDescription = 'How to make digital services in the NHS work for everyone.' %}
{% set pageSection = 'Accessibility' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

  <h2 id="accessibility-and-the-law">Accessibility and the law</h2>
  <p>If your service isn’t accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents">2010 Equality Act</a>.</p>
  <p>New accessibility regulations say that public sector websites must meet accessibility standards and publish an accessibility statement. You can find out <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">more about the new regulations on GOV.UK</a>.</p>

  <div class="app-index-navigation app-hide-desktop">
    {% include 'includes/side-nav.njk' %}
  </div>

{% endblock %}
