{% set pageTitle = 'Accessibility' %}
{% set pageDescription = 'How to make digital services in the NHS work for everyone.' %}

{% extends 'includes/app-layout-two-thirds.njk' %}

{% block bodyContent %}

  <h2>What everyone needs to know</h2>
  <ul class="nhsuk-list">
    <li><a href="/accessibility/what-all-NHS-services-need-to-do">What all NHS services need to do about accessibility</a></li>
    <li><a href="/accessibility/how-to-make-digital-services-accessible">How to make digital services accessible</a></li>
    <li><a href="/accessibility/getting-started">Getting started with accessibility</a></li>
  </ul>

  <h2>Guidance for different activities</h2>
  <p>Everyone who works on NHS digital services has a role to play in making them accessible and inclusive.</p>
  <ul class="nhsuk-list">
    <li><a href="/accessibility/product-and-delivery">Product and delivery</a></li>
    <li><a href="/accessibility/user-research">User research</a></li>
    <li><a href="/accessibility/content">Content</a></li>
    <li><a href="/accessibility/design">Design</a></li>
    <li><a href="/accessibility/development">Development</a></li>
    <li><a href="/accessibility/testing">Testing</a></li>
  </ul>

  {% include './partials/get-in-touch-accessibility.njk' %}

  <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: July 2019</p>
  </div>

{% endblock %}
