{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Testing" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "What testers and quality assurers need to do to make digital services accessible." %}
{% set theme = "Accessibility guidance for:" %}
{% set dateUpdated = "February 2025" %}
{% set backlog_issue_id = "350" %}

{% block beforeContent %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p><a href="https://nhsdigital.github.io/accessibility-checklist/">Use the NHS accessibility checklist</a> for:</p>
  <ul>
    <li>a full list of WCAG 2.2 success criteria and guidance for levels A and AA</li>
    <li>some success criteria and best practice for level AAA</li>
  </ul>

  {% include "./partials/make-sure-your-service-meets-wcag-2-2.njk" %}
  {% include "./partials/understand-types-of-testing.njk" %}
  {% include "./partials/check-orientation-is-not-locked.njk" %}
  {% include "./partials/make-sure-navigation-is-consistent.njk" %}
  {% include "./partials/set-language.njk" %}
  {% include "./partials/provide-informative-page-titles.njk" %}
  {% include "./partials/define-page-structure.njk" %}
  {% include "./partials/define-skip-links.njk" %}
  {% include "./partials/use-headings-correctly.njk" %}
  {% include "./partials/check-keyboard-accessibility.njk" %}
  {% include "./partials/test-that-text-sizes-and-zooms-correctly.njk" %}
  {% include "./partials/use-aria-patterns.njk" %}
  {% include "./partials/label-form-fields-clearly.njk" %}
  {% include "./partials/write-good-link-and-form-control-names.njk" %}
  {% include "./partials/highlight-errors-in-forms.njk" %}
  {% include "./partials/check-colour-contrast.njk" %}
  {% include "./partials/do-not-rely-on-colour-or-position-alone.njk" %}
  {% include "./partials/use-alternative-text-for-images-in-content.njk" %}
  {% include "./partials/use-alternative-text-for-functional-images.njk" %}
  {% include "./partials/make-video-and-other-multimedia-content-accessible.njk" %}
  {% include "./partials/give-users-time-to-read-and-act.njk" %}
  {% include "./partials/check-autocomplete-in-forms.njk" %}
  {% include "./partials/check-flashes-and-animation.njk" %}
  {% include "./partials/make-users-aware-of-status-updates-away-from-current-focus.njk" %}
  {% include "./partials/do-not-add-keyboard-shortcuts.njk" %}
  {% include "./partials/do-not-override-visible-labels.njk" %}
  {% include "./partials/do-not-use-onkeydown-or-onmousedown-for-links-and-buttons.njk" %}
  {% include "./partials/do-not-include-text-in-images.njk" %}
  {% include "./partials/do-not-trigger-pop-ups-by-hover-or-focus.njk" %}
  {% include "./partials/do-not-play-audio-automatically.njk" %}
  {% include "./partials/do-not-rely-on-touch-gestures.njk" %}
  {% include "./partials/do-not-rely-on-motion-sensors.njk" %}
  {% include "./partials/use-html-rather-than-pdfs.njk" %}

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
