{% set pageTitle = "Web Content Accessibility Guidelines (WCAG) 2.2" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "Make sure your service meets these updates by October 2024." %}
{% set theme = "Everyone needs to know" %}
{% set dateUpdated = "April 2024" %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
{% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p>W3C owns and manages the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines</a> (known as WCAG).
</p>
<p>WCAG 2.2 was published in October 2023. Teams should comply now to make sure products and services are ready by October 2024. This is when the Government Digital Service, Department of Health and Social Care and NHS England will start monitoring accessibility to WCAG 2.2.</p>

<h2>What you need to do</h3>
<ol>
  <li>Revisit the <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">GOV.UK guidance on accessibility requirements</a> and our <a href="/accessibility">NHS accessibility guidance</a> to understand what accessibility is and why your service needs to invest in it.</li>
  <li>Read <a href="https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/">What's new in WCAG 2.2 (W3C)</a> to understand the new criteria your service must comply with.</li>
  <li>Ask your wider organisation for support to prepare to meet WCAG 2.2.</li>
  <li>Review the lists on this page of affected styles, components and patterns in the NHS design system.</li>
  <li>Assess your service to see which affected components and patterns you use. This <a href="https://accessibility.blog.gov.uk/2024/03/13/wcag-2-2-detective-skills/">GOV.UK blog post can help you to identify WCAG 2.2 issues</a>.</li>
  <li>Plan and implement the changes needed to your service.</li>
</ol>

{% endblock %}

{% block asideContent %}
{% include "./partials/related-nav.njk" %}
{% endblock %}