{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "What all NHS services need to do about accessibility" %}
{% set pageSection = "Accessibility" %}
{% set subSection = "Accessibility" %}
{% set pageDescription = "The NHS is for everyone, so NHS digital services should be accessible to everyone too." %}
{% set theme = "Everyone needs to know" %}
{% set dateUpdated = "January 2024" %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2 id="accessibility-and-the-law">Accessibility and the law</h2>
  <p>If your service isn't accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents">2010 Equality Act</a>.</p>
  <p>Public sector websites must meet the <a href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">Public Sector Bodies Accessibility Regulations 2018</a> and publish an accessibility statement. Find out about the <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">accessibility requirements for public sector bodies on GOV.UK</a>.</p>

  <h2 id="meeting-the-requirements">Meeting the requirements</h2>
  <p>Digital services in the NHS must:</p>
  <ul>
    <li>meet at least level AA of the Web Content Accessibility Guidelines (<a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a>) and aim for AAA where possible</li>
    <li>work on the most commonly used assistive technologies (<a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies">follow GOV.UK guidance on testing with assistive technologies</a>)</li>
    <li>include people with access needs in user research</li>
    <li><a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement">publish an accessibility statement that complies with GOV.UK requirements</a></li>
  </ul>

  <h3 id="teams-on-short-deadlines">Teams on short deadlines</h3>
  <p>If you're working to a tight deadline, you must:</p>
  <ul>
    <li>check the <a href="https://www.gov.uk/service-manual/agile-delivery/making-services-in-an-emergency">GOV.UK guidance on making services in an emergency</a></li>
    <li>consider exclusion as you design your service, for example, with <a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles">GOV.UK's user profiles for understanding disabilities and impairments</a></li>
    <li>use the <a href="/design-system/production">NHS production code</a> and <a href="/design-system">design system</a></li>
    <li>set up automated accessibility testing and fix issues you identify</li>
    <li>use the <a href="https://nhsdigital.github.io/accessibility-checklist/">NHS accessibility checklist</a> to carry out an initial WCAG evaluation</li>
    <li>test service journeys with a range of assistive technologies</li>
    <li>plan user research to identify and remove barriers</li>
  </ul>

  <h3 id="internal-services">Internal services</h3>
  <p>NHS staff and civil servants are users too and the NHS is committed to equality, diversity and inclusion. Internal services need to meet the same accessibility requirements.</p>

  <h3 id="suppliers-and-contractors">Suppliers and contractors</h3>
  <p>External suppliers contracted to the NHS must also make sure their work meets the same standard.</p>
  <p>The NHS may test the product or ask suppliers to arrange an independent accessibility test.</p>

  <h2 id="why-its-important">Why it's important</h2>
  <p>In the UK, almost 1 in 5 people have a disability of some kind. Many more have temporary or situational disabilities, like an illness or injury.</p>
  <p>When you're working on NHS services, think about how people with different needs might use what you're making.</p>
  <p>For example, can someone with dyslexia read your content easily? Or how would someone with a broken arm interact on a mobile device?</p>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
