{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Table" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use a table to make it easier for users to compare and scan information." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "26" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <h2 id="basic-tables">Basic tables</h2>
  <h3 id="2-column-table">2 column table</h3>

  {{ designExample({
    group: "components",
    item: "table",
    type: "basic"
  }) }}

  <h3 id="3-or-more-column-table">3 or more column table</h3>
  <p>If you have numeric data, right align the column header and cells to make it easier to compare numbers.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "3-column"
  }) }}

  <h3 id="when-not-to-use-a-basic-table">When not to use a basic table</h3>
  <p>Do not use a basic table:</p>
  <ul>
    <li>to lay out content on a page – use the <a href="/design-system/styles/layout#grid">grid system</a> instead</li>
    <li>if your table content becomes squashed and hard to read on small screens – use a responsive table instead</li>
  </ul>

  <h2 id="responsive-table">Responsive table</h2>
  <p>This table has a responsive layout. On large screens it displays as a 3 column table. However, on small screens it stacks vertically.</p>
  <p>Use a responsive table when your table becomes squashed and hard to read on small screens, 768px and smaller.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "responsive"
  }) }}

  <h3 id="when-not-to-use-a-responsive-table">When not to use a responsive table</h3>
  <p>Do not use a responsive table:</p>
  <ul>
    <li>to lay out content on a page – use the <a href="/design-system/styles/layout#grid">grid system</a> instead</li>
    <li>if your content is easier to read and understand on a small screen in a non-responsive layout – use a <a href="#basic-tables">basic table</a> instead</li>
  </ul>

  <h2 id="word-breaks-table">Using word-breaks in a table</h2>
  <p>To avoid very long words, such as email addresses, breaking the layout of a table, add the <code>nhsuk-u-text-break-word</code> class.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "word-break"
  }) }}
  <p>Find out more about word-breaks, with or without a hyphen, in <a href="/design-system/styles/typography#breaking-up-long-words">breaking up long words in the typography section</a>.</p>

  <h2 id="missing-data-table">Displaying missing data</h2>

  <p>Do not leave empty cells in your table. The only exception can be the top left cell. If you have missing data, include some short text to explain why it's missing, such as:</p>

  <ul>
    <li>"No data"</li>
    <li>"Not applicable"</li>
    <li>"Not known"</li>
  </ul>

  <p>To distinguish the text from other table content, use the <code>nhsuk-u-secondary-text-colour</code> modifier class to make it dark grey.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "missing-data"
  }) }}

  <h2 id="how-it-works">How tables work</h2>
  <h3>Accessibility</h3>
  <p>Follow <a href="https://webaim.org/techniques/tables/data">WebAIM's guidance for tables</a> and:</p>
  <ul>
    <li>give tables captions</li>
    <li>use the scope attribute to associate the data cells with the appropriate headers</li>
    <li>let the browser window determine the width of the table whenever possible, to reduce horizontal scrolling</li>
  </ul>

  <h3 id="table-captions">Table captions</h3>
  <p>Use the <code>&lt;caption&gt;</code> element to describe a table in the same way you would use a heading. A caption helps users find, navigate and understand tables.</p>
  <p>Style table captions to match the visual hierarchy of your page's content using classes, for example <code>nhsuk-table__caption--l</code>.</p>

  <h3 id="table-headers">Table headers</h3>
  <p>Use table headers to tell users what the rows and columns represent.</p>

  <h2 id="research">Research</h2>
  <h3>Basic tables</h3>
  <p>These tables tested well with users of health information on the NHS website.</p>

  <h3>Responsive table</h3>
  <p>This table was tested at HM Revenue &amp; Customs.</p>

  <h3>Table with panel</h3>
  <p>We have also designed a table with a panel. You can <a href="https://nhsuk.github.io/nhsuk-frontend/components/tables/as-a-panel/">find an example in the frontend library</a>. We have not included it in this list of components yet because it needs more testing.</p>

{% endblock %}
