{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Table" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use a table to make it easier for users to scan and compare data or information." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "July 2026" %}
{% set backlog_issue_id = "26" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <p>We have 5 kinds of table:</p>
  <ul>
    <li><a href="#basic-table">basic</a></li>
    <li><a href="#compact-table">compact</a></li>
    <li><a href="#striped-table">striped</a></li>
    <li><a href="#responsive-table">responsive</a></li>
    <li><a href="#scrolling-table">scrolling</a></li>
    <li><a href="#sortable-table">sortable</a></li>
  </ul>
  <h2 id="when-to-use-a-table">When to use a table</h2>
  <p>Use a table to:</p>
  <ul>
    <li>present data or information that can be organised in a structured way</li>
    <li>make it easy for users to scan and compare information and understand relationships between data</li>
  </ul>
  <p>Aim to present a minimum of data. If you have a lot of data, try to organise it into multiple tables or multiple pages.</p>

  <h2 id="when-not-to-use-a-table">When not to use a table</h2>
  <p>Use tables with caution. They may not be the best way to present information, especially for the public and on mobile screens. In staff services, complex data tables can lead to cognitive overload, a poor user experience and performance issues.</p>
  <p>There may be better ways to meet users' needs, for example:</p>
  <ul>
    <li>a plain English summary with headings and lists</li>
    <li><a href="/design-system/components/expander">an expander</a></li>
    <li><a href="/design-system/components/tabs">tabs</a></li>
  </ul>
  <p>Check this in your user research.</p>
  <p>Do not use a table to lay out content on a page. Use the <a href="/design-system/styles/layout#grid">grid system</a> instead.</p>

  <h2 id="basic-table">Basic table</h2>
  <h3 id="2-column-table">2 column table</h3>

  {{ designExample({
    group: "components",
    item: "table",
    id: "table-example",
    type: "basic"
  }) }}

  <h3 id="3-or-more-column-table">3 or more column table</h3>
  <p>If you have numeric data, right align the column header and cells to make it easier to compare numbers.</p>
  <p>If using Nunjucks, set the <code>format: numeric</code> macro option. In HTML add the <code>nhsuk-table__header--numeric</code> class to the column's header and <code>nhsuk-table__cell--numeric</code> class to the cells.</p>
  <p>For non-numeric data that you want to right align, use the <code>nhsuk-u-text-align-right</code> class instead. If using Nunjucks, set it with <code>classes</code>.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "3-column"
  }) }}

  <h3 id="when-not-to-use-a-basic-table">When not to use a basic table</h3>
  <p>Do not use a basic table if your table content becomes squashed and hard to read on small screens. Use a <a href="#responsive-table">responsive table</a> instead.</p>

  <h2 id="compact-table">Compact table</h2>
  <p>Use a compact table when you have a lot of data to display. It reduces the vertical padding between rows, making it easier to scan the data. If using Nunjucks, set the <code>compact: true</code> macro option. In HTML add the <code>nhsuk-table--compact</code> class to the table.</p>
  <p>Try first to reduce the amount of data you display, for example by splitting it into multiple tables or combining columns. For example, showing a name and NHS number together in 1 column.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "compact"
  }) }}

  <h2 id="striped-table">Striped table</h2>
  <p>Add striping (sometimes called zebra stripes) to tables with many rows and columns of data to help users distinguish between rows. If using Nunjucks, set the <code>striped: true</code> macro option. In HTML add the <code>nhsuk-table--striped</code> class to the table.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "striped"
  }) }}

  <h2 id="responsive-table">Responsive table</h2>
  <p>This table has a responsive layout. On large screens it displays horizontally but on small screens it stacks vertically.</p>
  <p>Use a responsive table when your table becomes squashed and hard to read on small screens, 768px and smaller.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "responsive"
  }) }}

  <h3 id="when-not-to-use-a-responsive-table">When not to use a responsive table</h3>
  <p>Do not use a responsive table if your content is easier to read and understand on a small screen in a non-stacked layout. Use a <a href="#basic-tables">basic table</a> instead. If you have too many columns to fit, use a scrolling table.</p>

  <h2 id="scrolling-table">Scrolling table</h2>
  <p>Add the scrolling container when your table has many columns and you cannot split it up or use a responsive table.</p>

  {{ designExample({
    group: "components",
    classes: "app-design-example--m",
    item: "table",
    type: "scrolling"
  }) }}

  <h2 id="sortable-table">Sortable table</h2>
  <p>A sortable table lets users sort columns in ascending or descending order, alphabetically or numerically.</p>
  <p>Ascending order (up arrow) arranges:</p>
  <ul>
    <li>numerical data from the lowest to the highest value</li>
    <li>text in alphabetical order A to Z</li>
  </ul>
  <p>Descending order (down arrow) reverses this.</p>
  <p>This table only sorts by 1 column at a time. Sortable columns show a double arrow until they're sorted. When users click in the column header of an unsorted column, it sorts and shows a single arrow. Clicking again toggles between ascending and descending.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "sortable",
    showJavaScriptToggle: true
  }) }}

  <h3 id="when-to-use-a-sortable-table">When to use a sortable table</h3>
  <p>Use this table when users need to analyse and prioritise data.</p>

  <h3 id="how-to-use-a-sortable-table">How to use a sortable table</h3>
  <p>Carry out user research to understand what your users need to do with the data and if a sortable table is the best way to meet their needs.</p>

  <p>There are 2 ways to sort a table. You can:</p>

  <ul>
    <li>sort data that fits on 1 page</li>
    <li>sort more than 1 page of data</li>
  </ul>

  <h4 id="sort-data-on-1-page">Sort data on 1 page</h4>

  <p>The sortable table component uses JavaScript to sort the data in the user's browser. Use it where you have only 1 page of data. Make sure your data has a suitable sort order if JavaScript does not run.</p>

  <h5 id="default-sort-order">Sorting columns</h5>
  <p>Decide which column you want to sort by when the page first loads. Make sure users can get back to this. Do not load the page sorted on a column which users cannot sort.</p>
  <p>By default when you click on the column header for an unsorted column, it will sort that column in ascending order. You can change this by adding <code>sortNext: "descending"</code> in Nunjucks (or in HTML <code>data-initial-sort="descending"</code>) to the column header if descending is the more useful way to sort it initially.</p>
  <p>Typically users expect text to sort A to Z by default. With numbers, they often expect them to sort with the biggest number first.</p>
  <p>Do not allow sorting on columns that cannot be meaningfully ordered, for example comments from users.</p>
  <p>Do not add code to automatically save the sort order. Users may not expect this and it could add clinical risk.</p>
  <p>A page refresh or navigation must return the page to its default sort order, unless you add functionality to allow users to save their sort order explicitly.</p>

  <h5 id="overriding-default-sort-order">Overriding the default sort order</h5>
  <p>You can override the default sort order to make the data easier for users to understand. Do this by adding the Nunjucks option <code>sortValue</code> (or in HTML the <code>data-sort-value</code> attribute) to the individual table cells containing either a number or text on which to sort.</p>
  <p>For example:</p>
  <ul>
    <li>dates: 30 November 2026 would be <code>2026-11-30</code></li>
    <li>formatting numbers: 123,456 would be <code>123456</code></li>
    <li>currencies: £3.50 would be <code>3.5</code></li>
    <li>prefixes: The Whittington Hospital would be <code>Whittington Hospital</code></li>
  </ul>

  <p>Do not sort data alphabetically if it has an established sequence, for example months of the year (January to December).</p>

  <p>If a cell contains <a href="#missing-data-table">missing data</a>, say "No data" or similar. By default these cells will be sorted by first letter or if numeric, infinite. You can change this by adding a custom <code>sortValue</code>.</p>

  <p>In this example the default sort order is by amount spent (descending).</p>

 {{ designExample({
    group: "components",
    item: "table",
    type: "sortable-custom",
    showJavaScriptToggle: true
  }) }}

  <h4 id="sort-more-than-1-page-of-data">Sort more than 1 page of data</h4>

  <p>If your table is paginated, do not use the JavaScript-based sorting as this will only sort the current page being shown.</p>

  <p>Instead, use server-side sorting, with the column header containing links that reload the page with the table sorted by that column. You will need to:</p>

  <ul>
    <li>build your own server-side function</li>
    <li>return users to the first page of new results after sorting</li>
    <li>test with users</li>
  </ul>
  <p>This example shows a paginated table but it does not work in the browser. The functionality would need to be built server-side.</p>
  {{ designExample({
    group: "components",
    item: "table",
    type: "sortable-server-side",
    showJavaScriptToggle: true
  }) }}

  <h4 id="consider-search-and-filter">Consider search and filter</h3>
  <p>Sometimes it's better to let users search or filter results instead of sorting. Filtering cuts the data down so users can focus on what they want. Search helps them find specific things they need.</p>
  <p>For example, search or filter may work better than sorting for:</p>
  <ul>
    <li>names</li>
    <li>NHS numbers or other codes</li>
    <li>medical conditions</li>
  </ul>
  <p>If your team is researching filtering, please feed back your findings via our <a href="https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/217">community backlog issue on filtering a list (in GitHub)</a>.

  <h2 id="word-breaks-table">Using word-breaks in a table</h2>
  <p>To avoid very long words, such as email addresses, breaking the layout of a table, add the <code>nhsuk-u-text-break-word</code> class to the cell. In Nunjucks set it via <code>classes</code>.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "word-break"
  }) }}
  <p>Find out more about word-breaks, with or without a hyphen, in <a href="/design-system/styles/typography#breaking-up-long-words">breaking up long words in the typography section</a>.</p>

  <h2 id="missing-data-table">Displaying missing data</h2>

  <p>Do not leave empty cells in your table. The only exception can be the top left cell. If you have missing data, include some short text to explain why it's missing, such as:</p>

  <ul>
    <li>"No data"</li>
    <li>"Not applicable"</li>
    <li>"Not known"</li>
  </ul>

  <p>To distinguish the text from other table content, use the <code>nhsuk-u-secondary-text-colour</code> modifier class to make it dark grey. In Nunjucks set it via <code>classes</code>.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "missing-data"
  }) }}

  <h2 id="accessibility">Accessibility</h2>
  <p>Follow <a href="https://webaim.org/techniques/tables/data">WebAIM's guidance for tables</a> and:</p>
  <ul>
    <li>give tables captions</li>
    <li>use the scope attribute to associate the data cells with the appropriate headers</li>
    <li>let the browser window determine the width of the table whenever possible, to reduce horizontal scrolling</li>
  </ul>

  <h3 id="table-captions">Table captions</h3>
  <p>Use the <code>&lt;caption&gt;</code> element to describe a table in the same way you would use a heading. A caption helps users find, navigate and understand tables.</p>
  <p>Style table captions to match the visual hierarchy of your page's content. If using Nunjucks, use the <code>captionSize</code> macro option. In HTML add the <code>nhsuk-table__caption--l</code> class. You can use sizes <code>s</code>, <code>m</code>, <code>l</code>, <code>xl</code>.</p>

  <h3 id="table-headers">Table headers</h3>
  <p>Use table headers to tell users what the rows and columns represent.</p>

  <h3 id="sortable-tables">Sortable tables</h3>
  <p>The sortable table tells screen reader users that it can be sorted. When the user sorts the table, it announces what the new sort order is.</p>

  <h2 id="tables-on-dark-backgrounds">Tables on dark backgrounds</h2>
  <p>Use <code>variant: "reverse"</code> in Nunjucks or the <code>nhsuk-table--reverse</code> modifier class in HTML to show white text on dark backgrounds.</p>
  <p>Make sure all users can see the table content. The background colour must have a contrast ratio of at least 4.5:1 with white to meet <a href="https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum.html">WCAG 2.2 success criterion 1.4.3 Contrast (minimum), level AA (W3C)</a>.</p>

  {{ designExample({
    group: "components",
    item: "table",
    type: "reverse"
  }) }}

  <h2 id="research">Research</h2>

  <h3>Basic table</h3>
  <p>This table tested well with users of health information on the NHS website.</p>

  <h3>Responsive table</h3>
  <p>This table was tested at HM Revenue &amp; Customs.</p>

  <h3>Sortable table</h3>
  <p>This table was developed by NHS England and tested in the Run breast screening in England and Manage vaccinations in schools services.</p>
  <p>There is an overlap between sortable tables and:</p>
  <ul>
    <li>search</li>
    <li>filter</li>
    <li><a href="/design-system/components/pagination">pagination</a></li>
  </ul>
  <p>We want to understand better how they can work together.</p>
  <p>We have not yet developed a responsive or scrolling sortable table. If you need a responsive sorting table, you could try adding a <a href="/design-system/components/select">select component</a>.</p>
  <p>Please feed back if you develop any of these or implement server-side sorting.</p>
  <h3>Table with panel</h3>
  <p>We have also designed a table with a panel. You can <a href="https://nhsuk.github.io/nhsuk-frontend/components/tables/as-a-panel/">find an example in the frontend library</a>. We have not included it in this list of components yet because it needs more testing.</p>

{% endblock %}
