@use "../../vendor/nhsuk-frontend" as *;

.app-button--copy,
.app-button--copy:active,
.app-button--copy:hover {
  background-color: $color_nhsuk-white;
  border: 1px solid $color_nhsuk-green;
  color: $color_nhsuk-green;
  cursor: pointer;
  min-width: 58px;
  padding: 4px 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 15px;
  z-index: 1;
  @include nhsuk-font(14);
}
