// stylelint-disable color-no-hex

@use "../../vendor/nhsuk-frontend" as *;
@use "../../settings" as *;

.app-tabs {
  display: none;

  margin: -1px auto;
  margin-bottom: 0;
  padding: 0;

  overflow: visible;

  list-style-type: none;

  border: 1px solid nhsuk-colour("grey-3");
  border-bottom: 0;

  background: nhsuk-colour("white");

  @include nhsuk-media-query($from: tablet) {
    display: block;
  }

  &__item {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 0;
    background-color: transparent;
  }

  &__item a {
    display: block;
    margin: 0;
    padding: 8px 16px;
    color: nhsuk-colour("blue");
    background: inherit;

    @include nhsuk-media-query($from: tablet) {
      padding: 12px 24px;
    }

    &:hover {
      outline: 0;
      color: $nhsuk-link-hover-colour;
      text-decoration: none;
    }

    &:focus {
      outline: $nhsuk-focus-width solid transparent;
      color: $nhsuk-focus-text-colour;
      background-color: $nhsuk-focus-colour;
      box-shadow: 0 $nhsuk-focus-width $nhsuk-focus-text-colour;
      text-decoration: none;
    }
  }

  &__item--current a {
    border-top-color: nhsuk-colour("blue");
    border-bottom-color: nhsuk-colour("blue");
    text-decoration: none;

    @include nhsuk-media-query($from: tablet) {
      box-shadow: 0 $nhsuk-button-shadow-size 0 nhsuk-colour("blue");
    }

    &:hover {
      color: $nhsuk-link-colour;
    }

    &:focus:hover {
      color: $nhsuk-focus-text-colour;
    }
  }

  &__item--mobile {
    display: block;
    margin: -1px 0;
    border: 1px solid nhsuk-colour("grey-3");
    border-width: 1px 0;
    background-color: nhsuk-colour("white");

    @include nhsuk-media-query($from: tablet) {
      display: none;
    }
  }

  &__text {
    padding: 20px;
  }

  &__container {
    position: relative;
    margin-top: 0;
    border: 1px solid nhsuk-colour("grey-3");
    border-bottom: 0;
    background-color: nhsuk-colour("white");
  }

  &__container pre {
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
  }

  &__container pre code {
    padding-top: nhsuk-spacing(8);
  }
}
