// stylelint-disable color-no-hex

@use "../../vendor/nhsuk-frontend" as *;
@use "../../settings" as *;

.app-tabs {
  list-style-type: none;
  margin: -1px auto;
  margin-bottom: 0;
  overflow: visible;
  padding: 0;

  background: nhsuk-colour("white");
  border: 1px solid nhsuk-colour("grey-3");
  border-bottom: 0;
  display: none;

  @include nhsuk-media-query($from: tablet) {
    display: block;
  }

  &__item {
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  &__item a {
    margin: 0;
    padding: 8px 16px;
    background: inherit;
    color: nhsuk-colour("blue");
    display: block;

    @include nhsuk-media-query($from: tablet) {
      padding: 12px 24px;
    }

    &:hover {
      color: $nhsuk-link-hover-colour;
      outline: 0;
      text-decoration: none;
    }

    &:focus {
      background-color: $nhsuk-focus-colour;
      box-shadow: 0 $nhsuk-focus-width $nhsuk-focus-text-colour;
      color: $nhsuk-focus-text-colour;
      outline: $nhsuk-focus-width solid transparent;
      text-decoration: none;
    }
  }

  &__item--current a {
    border-bottom-color: nhsuk-colour("blue");
    border-top-color: nhsuk-colour("blue");
    text-decoration: none;

    @include nhsuk-media-query($from: tablet) {
      box-shadow: 0 $nhsuk-button-shadow-size 0 nhsuk-colour("blue");
    }

    &:hover {
      color: $nhsuk-link-colour;
    }

    &:focus:hover {
      color: $nhsuk-focus-text-colour;
    }
  }

  &__item--mobile {
    background-color: nhsuk-colour("white");
    border: 1px solid nhsuk-colour("grey-3");
    border-width: 1px 0;
    display: block;
    margin: -1px 0;

    @include nhsuk-media-query($from: tablet) {
      display: none;
    }
  }

  &__text {
    padding: 20px;
  }

  &__container {
    margin-top: 0;
    position: relative;

    background-color: nhsuk-colour("white");
    border: 1px solid nhsuk-colour("grey-3");
    border-bottom: 0;
  }

  &__container pre {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
  }

  &__container pre code {
    padding-top: nhsuk-spacing(8);
  }
}
