.app-tabs {
  list-style-type: none;
  margin: -1px auto;
  margin-bottom: 0;
  overflow: visible;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 2;

    a {
      background: inherit;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      color: #005eb8; // sass-lint:disable-line no-color-hex no-color-literals
      display: block;
      font-weight: bold;
      margin-top: -1px;
      padding: 15px;
      text-decoration: none;
    }

    &--current {
      a {
        border-bottom-color: #005eb8; // sass-lint:disable-line no-color-hex no-color-literals
        border-top-color: #005eb8; // sass-lint:disable-line no-color-hex no-color-literals
      }
    }

    &__heading {
      a {
        background: inherit;
        border: 1px solid #bfc1c3; // sass-lint:disable-line no-color-hex no-color-literals
        border-top: 0;
        color: #005ea5; // sass-lint:disable-line no-color-hex no-color-literals
        display: none;
        font-weight: bold;
        padding: 15px;
        position: relative;
        text-decoration: none;
        z-index: 2;

        &:visited {
          color: #005ea5; // sass-lint:disable-line no-color-hex no-color-literals
        }
      }

      &--current {
        background-color: #f0f0f0; // sass-lint:disable-line no-color-hex no-color-literals
      }
    }

  }

  &__text {
    padding: 20px;
  }

  &__container {
    border: 1px solid #bfc1c3; // sass-lint:disable-line no-color-hex no-color-literals
    margin-top: -2px;
    position: relative;

    pre {
      background-color: #f8f8f8; // sass-lint:disable-line no-color-hex no-color-literals
      border: 0;
      font-size: inherit;
      margin: 0;
      margin-bottom: 0;
      max-width: inherit;
      overflow: auto;
      padding: 15px;
      position: relative;
    }
  }
}
