{% from "card/macro.njk" import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    {{ card({
      heading: {
        text: "Services A to Z",
        size: "m"
      },
      description: "Use our service finder to find other health services",
      href: "#",
      clickable: true,
      variant: "secondary"
    }) }}
  </li>
</ul>
