{% set pageTitle = '11. Define what success looks like and be open about how your service is performing' %}
{% set noFollow = true %}
{% set pageDescription = 'Work out how your service helps improve health and well being, people&apos;s experience of health and care, and the efficiency of the health service and how you will know that you&apos;re succeeding.' %}

{% extends 'includes/layout.njk' %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/service-standard",
  text: "NHS service standard"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">Work out how your service helps improve health and well being, people's experience of health and care, and the efficiency of the health service and how you will know that you're succeeding. If you can't measure health benefits, choose other suitable indicators.</p>
    <p class="nhsuk-body-l">Collect performance information so that you can measure and show that the service is effective and improving.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>Why it's important</h2>
    <p>Having clear objectives, a definition of what success looks like and appropriate metrics means that you’ll know whether the service is solving the problem it’s meant to solve.</p>
    <p>Collecting the right information will alert you to improvements you need to make and help you know if changes have the effect you intend.</p>
    <p>Services funded by public money should be transparent about how they are performing.</p>

    <h2>What you should do</h2>
    <p>Your team should be able to show that:</p>
    <ul>
      <li>you are clear from the start what your objectives are and the benefits you will be measuring</li>
      <li>your benefits case considers not just the cost but also use, usability and clinical benefit</li>
      <li>you have identified appropriate metrics and are tracking performance against them</li>
      <li>you are able to identify not only the benefits but also potential negative impact, inappropriate use or unintended consequences</a>
      <li>you use performance data to make decisions about how to fix problems and improve the service</li>
      <li>you make performance information public</li>
    </ul>

    <h2>Guidance</h2>

    <h3>GOV.UK resources</h3>
    <p>This point reflects point 10 in the Government service standard.</p>
    <ul>
      <li><a href="https://www.gov.uk/service-manual/measuring-success">Measuring success</a></li>
    </ul>

    <h3>Read more about this</h3>
    <ul>
      <li><a href="https://www.england.nhs.uk/clinically-led-review-nhs-access-standards/">Clinical review of NHS access standards</a> (NHS England) - a review of some of the NHS targets</li>
      <li><a href="https://www.nice.org.uk/about/what-we-do/our-programmes/evidence-standards-framework-for-digital-health-technologies">Evidence standards framework for digital health technologies</a> (NICE)</li>
      <li><a href="https://publichealthmatters.blog.gov.uk/2018/11/28/improving-the-evaluation-of-digital-public-health/">Improving the evaluation of digital public health</a> (GOV.UK blog, 2018)</li>
      <li><a href="https://digital.nhs.uk/data-and-information/publications/clinical-indicators/nhs-outcomes-framework">NHS outcomes framework</a> (NHS Digital)</li>
      <li><a href="https://www.england.nhs.uk/ourwork/patient-participation/self-care/patient-activation/">Patient activation</a> (NHS England)</li>
    </ul>

    <h3>Other help</h3>
    <ul>
      <li>Talk to us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">service manual Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</li>
    </ul>

    <p class="nhsuk-body-s nhsuk-u-margin-top-8">Updated: April 2019</p>

    </div>
  </div>
</div>
{% endblock %}
