{% set pageTitle = "15. Support a culture of care" %}
{% set pageSection = "NHS service standard" %}
{% set pageDescription = "Caring is the core business of the NHS. NHS services should provide a positive experience of care or help NHS staff provide a caring service." %}
{% set dateUpdated = "July 2021" %}
{% set backlog_issue_id = "358" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "service-standard/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">All services should make patients, the public and staff feel included, valued and supported and, as far as possible, involve people in their own care.</p>

  <h2>Why it's important</h2>
  <p>Digital services are not excluded from the NHS commitment to care and compassion. Small things make a difference when people are, for example, sick or stressed, grieving or dying.</p>
  <p>We can improve people's experience of care by being inclusive and treating them with respect.</p>

  <h2>What you should do</h2>
  <p>Your team should be able to show that you:</p>
  <ul>
    <li>listen to and understand your users' personal, cultural, social and religious needs as well as their care needs</li>
    <li>are respectful and inclusive</li>
    <li>take users' fears and concerns seriously and think carefully about their context and circumstances</li>
    <li>where appropriate, involve people in decisions about their care and respect their right to choose - for example, to book an appointment with a female member of staff or to delay treatment</li>
    <li>balance helping users complete the task with an appropriate tone, reassurance, and clear explanations</li>
    <li>signpost to support to help people cope emotionally</li>
    <li>tell people what will happen next and, where appropriate, keep them informed and involved in the progress of their care and treatment</li>
    <li>use the most appropriate channels, including the phone or face to face contact</li>
  </ul>

  <h2>Guidance</h2>

  <h3>NHS service manual</h3>
  <ul>
    <li><a href="/content/inclusive-language">Inclusive language</a></li>
    <li>the sections on <a href="/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions">considering the sensitivities around your questions</a> and <a href="/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation">thinking of the form as a conversation</a> in our forms guidance, How to write good questions for forms</li>
  </ul>
  <p>See also service standard points:</p>
  <ul>
    <li><a href="/service-standard/4-make-the-service-simple-to-use">4. Make the service simple to use</a></li>
    <li><a href="/service-standard/5-make-sure-everyone-can-use-the-service">5. Make sure everyone can use the service</a></li>
    <li><a href="/service-standard/9-respect-and-protect-users-confidentiality-and-privacy">9. Respect and protect users' confidentiality and privacy</a></li>
    <li><a href="/service-standard/16-make-your-service-clinically-safe">16. Make your service clinically safe</a></li>

  </ul>

  <h3>GOV.UK resources</h3>
  <p>This point is not included in the GOV.UK service standard, but there is some relevant guidance in the GOV.UK service manual.</p>
  <ul>
    <li><a href="https://www.gov.uk/service-manual/user-research/researching-emotionally-sensitive-subjects">Researching emotionally sensitive subjects</a></li>
  </ul>
  <h3>Read more about this</h3>
  <ul>
    <li>The sections on <a href="https://www.cqc.org.uk/guidance-providers/healthcare/kindness-respect-compassion-healthcare-services">Kindness, respect and compassion</a>, <a href="https://www.cqc.org.uk/guidance-providers/healthcare/involving-people-decisions-about-their-care-healthcare-services">Involving people in decisions about their care</a>, and <a href="https://www.cqc.org.uk/guidance-providers/healthcare/privacy-dignity-healthcare-services">Privacy and dignity</a> in Key lines of enquiry for healthcare services (Care Quality Commission)</li>
  </ul>

{% endblock %}

{% block afterContact %}

 {{ pagination({
    "previousUrl": "/service-standard/14-operate-a-reliable-service",
    "previousPage": "Point 14",
    "nextUrl": "/service-standard/16-make-your-service-clinically-safe",
    "nextPage": "Point 16"
  }) }}

  {% endblock %}
