{% set pageTitle = '4. Make the service easy to use' %}
{% set noFollow = true %}
{% set pageDescription = 'TBD.' %}

{% extends 'includes/layout.njk' %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/service-standard",
  text: "NHS service standard"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">Build a service that’s simple to use so that people can succeed first time. Test with users to make sure it works for them.</p>
    <p class="nhsuk-body-l">Healthcare journeys can be complex. Do the hard work to make things simpler.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>Why it's important</h2>
    <p>[Paragraph]</p>
    <p>[Paragraph]</p>

    <h2>What you should do</h2>
    <p>You should be able to show that:</p>
    <ul>
      <li>[Bullet]</li>
      <li>[Bullet]</li>
      <li>[Bullet]</li>
    </ul>

    <h2>Guidance</h2>

    <h3>NHS service manual</h3>
    <ul>
      <li>[Bullet]</li>
    </ul>

    <h3>GOV.UK resources</h3>
    <p>This point reflects point 4 in the Government service standard.</p>
    <ul>
      <li>[Bullet]</li>
    </ul>

    <h3>Read more about this</h3>
    <ul>
      <li>[Paragraph]</li>
    </ul>

    <h3>Other help</h3>
    <ul>
      <li>Talk to us on the <a href="#">service manual Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</li>
      <li>Contact us to pair up with someone</li>
      <li>Book training or a workshop</li>
    </ul>

    <p class="nhsuk-body-s nhsuk-u-margin-top-8">Updated: January 2019</p>

    </div>
  </div>
</div>
{% endblock %}
