{% set pageTitle = '5. Make sure everyone can use the service' %}
{% set pageSection = 'NHS service standard' %}
{% set pageDescription = 'Make sure people with different physical, mental health, social, cultural or learning needs can use your service, whether it\'s for the public or staff.' %}
{% set beta = 'true' %}
{% set dateUpdated = 'December 2019' %}

{% extends 'includes/app-layout.njk' %}

{% block breadcrumb %}
  {% include 'service-standard/_breadcrumb.njk' %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text">Also people who do not have access to the internet or lack the skills or confidence to use it.</p>

  <h2>Why it's important</h2>
  <p>NHS services are for everyone. We have a duty to consider everyone’s needs when we’re designing and delivering services.</p>
  <p>Inclusive, accessible services are better for everyone. For example, using simple words helps people who are sick or stressed as well as people who have a learning disability.</p>

  <h2>What you should do</h2>
  <p>Your team should be able to show that you:</p>
  <ul>
    <li>meet accessibility standards for online and offline parts, including WCAG2.1 AA</li>
    <li>understand who the most vulnerable users for your service are and include them in user research, for example: people with access needs, people with low socio-economic status (D and E), older people, and black and minority ethnic people</li>
    <li>make sure you do not exclude any groups your service serves, for example because they lack digital skills or internet access, and you provide assisted digital support to cover any gaps</li>
    <li>avoid making any groups of people feel excluded</li>
    <li>design for low digital and health literacy</li>
  </ul>

  <h2>Guidance</h2>

  <h3>NHS digital service manual</h3>
  <ul>
    <li><a href="/service-manual/accessibility">Accessibility: how to make digital services in the NHS work for everyone</a></li>
    <li><a href="/service-manual/content/health-literacy/">Health literacy</a></li>
    <li><a href="/service-manual/content/inclusive-language">Inclusive language</a></li>
  </ul>

  <h3>GOV.UK resources</h3>
  <ul>
    <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/designing-assisted-digital">Designing assisted digital support</a></li>
    <li><a href="https://www.gov.uk/service-manual/user-research/find-user-research-participants">Finding participants for user research</a></li>
    <li><a href="https://www.gov.uk/service-manual/design/making-your-service-more-inclusive">Making your service more inclusive</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://www.england.nhs.uk/ourwork/accessibleinfo/">Accessible Information Standard</a> (NHS England) - this is about identifying, recording and meeting the support needs of patients, carers and parents with a disability, impairment or sensory loss</li>
    <li><a href="https://digital.nhs.uk/about-nhs-digital/our-work/digital-inclusion">Digital inclusion for health and social care</a> (NHS Digital, 2018)</li>
  </ul>

  <h3>Other help</h3>
  <ul>
    <li>Talk to us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE">service manual Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</li>
  </ul>

{% endblock %}
