{% set pageTitle = '5. Support a culture of care' %}
{% set noFollow = true %}
{% set pageDescription = 'Caring is the core business of the NHS. NHS services should provide a positive experience of care or help NHS staff provide a caring service.' %}

{% extends 'includes/layout.njk' %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/service-standard",
  text: "NHS service standard"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">Caring is the core business of the NHS. NHS services should provide a positive experience of care or help NHS staff provide a caring service.</p>
    <p class="nhsuk-body-l">All services should make patients, the public and staff feel valued and supported and, where appropriate, involve people in their own care.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>Why it's important</h2>
    <p>Digital services are not excluded from the NHS commitment to care and compassion. Small things make a difference when people are, for example, sick or stressed, grieving or dying.</p>
    <p>We can improve people's experience of care by being inclusive and treating them with respect.</p>

    <h2>What you should do</h2>
    <p>Your team should be able to show that:</p>
    <ul>
      <li>you listen and understand your users' personal, cultural, social and religious needs as well as their care needs</li>
      <li>you are respectful and inclusive</li>
      <li>you take users' fears and concerns seriously and think carefully about their context and circumstances</li>
      <li>where appropriate, you involve people in decisions about their care and treatment and respect their right to choose, for example, to book an appointment with a female member of staff or to turn down or delay treatment</li>
      <li>your service balances helping users complete the task with an appropriate tone, reassurance, and clear explanations</li>
      <li>you signpost to support to help people cope emotionally</li>
      <li>you tell people what will happen next and, where appropriate, keep them informed and involved in the progress of their care and treatment</li>
      <li>you use the most appropriate channels, including, for example, over the phone or face to face</li>

    </ul>

    <h2>Guidance</h2>

    <h3>NHS service manual</h3>
    <ul>
      <li><a href="/service-manual/content/inclusive-language">Inclusive language</a></li>
    </ul>
    <p>See also service standard points:</p>
    <ul>
      <li><a href="/service-manual/service-standard/3-make-the-service-easy-to-use">3. Make the service easy to use</a></li>
      <li><a href="/service-manual/service-standard/4-make-sure-everyone-can-use-the-service">4. Make sure everyone can use the service</a></li>
      <li><a href="/service-manual/service-standard/6-make-your-service-clinically-safe">6. Make your service clinically safe</a></li>
    </ul>

    <h3>GOV.UK resources</h3>
    <p>This point isn't included in the Government service standard.</p>
    <ul>
      <li><a href="https://www.gov.uk/service-manual/user-research/researching-emotionally-sensitive-subjects">Researching emotionally sensitive subjects</a></li>
    </ul>
    <h3>Read more about this</h3>
    <ul>
      <li>Key lines of enquiry for healthcare services (Care Quality Commission), in particular: <a href="https://www.cqc.org.uk/guidance-providers/healthcare/kindness-respect-compassion-healthcare-services">Kindness, respect and compassion</a>, <a href="https://www.cqc.org.uk/guidance-providers/healthcare/involving-people-decisions-about-their-care-healthcare-services">Involving people in decisions about their care</a>, and <a href="https://www.cqc.org.uk/guidance-providers/healthcare/privacy-dignity-healthcare-services">Privacy and dignity</a></li>
    </ul>
    <h3>Other help</h3>
    <ul>
      <li>Talk to us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">service manual Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</li>
    </ul>

    <p class="nhsuk-body-s nhsuk-u-margin-top-8">Updated: April 2019</p>

    </div>
  </div>
</div>
{% endblock %}
