{% set pageTitle = '7. Respect and protect users’ confidentiality and privacy' %}
{% set pageSection = 'NHS service standard' %}
{% set pageDescription = 'Evaluate what data and information your service will be collecting, storing and providing.' %}

{% extends 'includes/layout.njk' %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/service-standard",
  text: "NHS service standard"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">Evaluate what data and information your service will be collecting, storing and providing.</p>
    <p class="nhsuk-body-l">Identify and address security threats, legal responsibilities, confidentialty and privacy issues and risks associated with the service. Consult experts where you need to.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>Why it's important</h2>
    <p>The NHS services handles some of the most sensitive personal data. It has a legal duty to protect this information. Failing to do so would undermine public trust in the health service. </p>

    <h2>What you should do</h2>
    <p>Your team should be able to show that:</p>
    <ul>
      <li>you collect and process user's personal information in a way that's secure and respects their privacy</li>
      <li>if you manage user generated content, you have appropriate processes in place to protect the public and NHS staff</li>
      <li>your service complies with the General Data Protection Regulation (GDPR)</li>
      <li>you are aware of and, if appropriate, comply with NHS specific guidance on data security and information governance</li>
      <li>you actively identify security and privacy threats to the service and have a robust, proportionate approach to securing information and managing fraud risks</li>
      <li>you have a plan and budget that lets you manage security during the life of the service (for example, by responding to new threats, putting controls in place and applying security patches to software)</li>
      <li>if your service needs identity assurance and authentication, you use the NHS login and NHS identity programme</li>
      <li>you work with business and information risk teams (for example, senior information risk owners and information asset owners) to make sure the service meets security requirements and regulations without putting delivery at risk</li>
      <li>you carry out appropriate vulnerability and penetration testing</li>
    </ul>

    <h2>Guidance</h2>

    <h3>GOV.UK resources</h3>
    <p>This point reflects point 9 in the Government service standard.</p>
    <ul>
      <li><a href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users">Collecting personal information from users</a></li>
      <li><a href="https://www.gov.uk/service-manual/technology/protecting-your-service-against-fraud">Protecting your service against fraud</a></li>
      <li><a href="https://www.gov.uk/service-manual/technology/securing-your-information">Securing your information</a></li>
      <li><a href="https://www.gov.uk/service-manual/technology/vulnerability-and-penetration-testing">Vulnerability and penetration testing</a></li>
    </ul>

    <h3>Read more about this</h3>
    <ul>
      <li><a href="https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance">Data security and information governance</a> (NHS Digital)</li>
      <li><a href="https://www.dsptoolkit.nhs.uk/">Data security and protection toolkit</a> (NHS Digital)</li>
      <li><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">Guide to the General Data Protection Regulation (GDPR)</a> (Information Commissioner's Office)</li>
      <li><a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services">Identity verification and authentication standard for digital health and care services</a>, DCB3051 (NHS Digital)</li>
      <li><a href="https://www.gov.uk/government/organisations/national-data-guardian">National Data Guardian for Health and Care</a> (GOV.UK)</li>
      <li><a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login</a></li>
    </ul>

    <h3>Other help</h3>
    <ul>
      <li>Talk to us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE">service manual Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</li>
    </ul>

    <p class="nhsuk-body-s nhsuk-u-margin-top-8">Updated: April 2019</p>

    </div>
  </div>
</div>
{% endblock %}
