{% set pageTitle = "9. Respect and protect users’ confidentiality and privacy" %}
{% set pageSection = "NHS service standard" %}
{% set pageDescription = "Evaluate what data and information your service will be collecting, storing and providing." %}
{% set dateUpdated = "July 2021" %}
{% set backlog_issue_id = "343" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "service-standard/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p class="nhsuk-lede-text app-lede-text">Identify and address security threats, legal responsibilities, confidentiality and privacy issues and risks associated with the service. Consult experts where you need to.</p>

  <h2>Why it's important</h2>
  <p>The NHS handles some of the most sensitive personal data. It has a legal duty to protect this information. Failing to do so would undermine public trust in the health service. </p>

  <h2>What you should do</h2>
  <p>Your team should be able to show that you:</p>
  <ul>
    <li>collect and process users' personal information in a way that's secure and respects their privacy</li>
    <li>have appropriate processes in place to protect the public and NHS staff, for example, if you manage user generated content</li>
    <li>comply with the General Data Protection Regulation (GDPR)</li>
    <li>have an appropriate privacy policy in place when you launch your service</li>
    <li>if appropriate, undertake and publish a data protection impact assessment (DPIA)</li>
    <li>are aware of and, if appropriate, comply with NHS specific guidance on data security and information governance</li>
    <li>actively identify security and privacy threats to the service and have a robust, proportionate approach to securing information and managing fraud risks</li>
    <li>have a plan and budget that lets you manage security during the life of the service (for example, by responding to new threats, putting controls in place and applying security patches to software)</li>
    <li>use the NHS login and NHS identity programme, if your service needs identity assurance and authentication</li>
    <li>work with business and information risk teams (for example, senior information risk owners and information asset owners) to make sure the service meets security requirements and regulations without putting delivery at risk</li>
    <li>carry out appropriate vulnerability and penetration testing</li>
  </ul>

  <h2>Guidance</h2>

  <h3>GOV.UK resources</h3>
    <ul>
    <li><a href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users">Collecting personal information from users</a></li>
    <li><a href="https://www.gov.uk/service-manual/technology/protecting-your-service-against-fraud">Protecting your service against fraud</a></li>
    <li><a href="https://www.gov.uk/service-manual/technology/securing-your-information">Securing your information</a></li>
    <li><a href="https://www.gov.uk/service-manual/technology/vulnerability-and-penetration-testing">Vulnerability and penetration testing</a></li>
  </ul>

  <h3>Read more about this</h3>
  <ul>
    <li><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/data-protection-impact-assessments/">Data protection impact assessments (Information Commissioner's Office)</a>
    <li><a href="https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance">Data security and information governance</a> (NHS Digital)</li>
    <li><a href="https://www.dsptoolkit.nhs.uk/">Data security and protection toolkit</a> (NHS Digital)</li>
    <li><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">Guide to the General Data Protection Regulation (GDPR)</a> (Information Commissioner's Office)</li>
    <li><a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services">Identity verification and authentication standard for digital health and care services</a>, DCB3051 (NHS Digital)</li>
    <li><a href="https://www.gov.uk/government/organisations/national-data-guardian">National Data Guardian</a> for health and care(GOV.UK)</li>
    <li><a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login</a></li>
  </ul>

{% endblock %}

{% block afterContact %}

 {{ pagination({
    "previousUrl": "/service-standard/8-iterate-and-improve-frequently",
    "previousPage": "Point 8",
    "nextUrl": "/service-standard/10-define-what-success-looks-like-and-be-open-about-how-your-service-is-performing",
    "nextPage": "Point 10"
  }) }}

  {% endblock %}
