{% set pageTitle = 'NHS service standard' %}
{% set noFollow = true %}
{% set pageDescription = 'The NHS service standard is designed to help digital teams build and run products or services which help improve health outcomes, people&#39;s experience of health and care, and the efficiency of the health service.' %}

{% extends 'includes/layout.njk' %}


{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">The NHS service standard is designed to help digital teams build and run services that improve health outcomes, people&#39;s experience of health and care, and the efficiency of the health service.</p>
    <p class="nhsuk-body-l">The standard will help you check that your service is good enough for the NHS.</p>
    <p><a href="/service-manual/service-standard/about">Read more about the standard</a>.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-u-margin-top-6">A. Meeting users' needs</h2>

    <h3 class="nhsuk-u-margin-top-6">1. Understand users and their needs in the context of health and care</h3>
    <p>Take time to understand your users' clinical, practical and emotional needs - and abilities - and the problem you're trying to solve for them.</p>
    <p>Think about people's entire experience and the systems and processes around the product or service you're building.</p>
    <p><a href="/service-manual/service-standard/1-understand-users-and-their-needs-context-health-and-care">Read more about point 1.</a></p>

    <h3 class="nhsuk-u-margin-top-8">2. Join things up and work towards solving a whole problem</h3>
    <p>Collaborate across team, programme and organisational boundaries and create a service that meets users' needs across all channels.</p>
    <p>Consider where your service fits in your users' healthcare journey and whether you can solve a whole problem or influence a wider solution.</p>

    <p><a href="/service-manual/service-standard/2-join-things-up-and-work-towards-solving-a-whole-problem">Read more about point 2.</a></p>

    <h3 id="point3" class="nhsuk-u-margin-top-8">3. Make the service easy to use</h3>
    <p>Build a service that's simple to use so that people can succeed first time. Test with users to make sure it works for them.</p>
    <p>Healthcare journeys can be complex. Do the hard work to make things simpler.</p>
    <p><a href="/service-manual/service-standard/3-make-the-service-easy-to-use">Read more about point 3.</a></p>

    <h3 class="nhsuk-u-margin-top-8">4. Make sure everyone can use the service</h3>
    <p>Make sure people with different physical, mental health, social, cultural or learning needs can use your service, whether it's for the public or staff.</p>
    <p>And people who don't have access to the internet or lack the skills or confidence to use it.</p>
    <p><a href="/service-manual/service-standard/4-make-sure-everyone-can-use-the-service">Read more about point 4.</a></p>

    <h3 id="point5"class="nhsuk-u-margin-top-8">5. Support a culture of care</h3>
    <p>Caring is the core business of the NHS. NHS services should provide a positive experience of care or help NHS staff provide a caring service.</p>
    <p>All services should make patients, the public and staff feel valued and supported and that their concerns are understood and important.</p>
    <p><a href="/service-manual/service-standard/5-support-a-culture-of-care">Read more about point 5.</a></p>

    <h3 id="point6" class="nhsuk-u-margin-top-8">6. Make your service clinically safe</h3>
    <p>Don't jeopardise the trust people have in the NHS. Make sure that your content and service are clinically safe and that your data is accurate and consistent.</p>
    <p><a href="/service-manual/service-standard/6-make-your-service-clinically-safe">Read more about point 6.</a></p>

    <h3 class="nhsuk-u-margin-top-8">7. Respect and protect users' confidentiality and privacy</h3>
    <p>Evaluate what data and information your service will be collecting, storing and providing.</p>
    <p>Identify and address security threats, legal responsibilities, confidentiality and privacy issues and other risks associated with the service. Consult experts where you need to.</p>
    <p><a href="/service-manual/service-standard/7-respect-and-protect-users-confidentiality-and-privacy">Read more about point 7.</a></p>

    <h2 class="nhsuk-u-margin-top-8">B. Providing a service</h2>

    <h3 class="nhsuk-u-margin-top-6">8. Create a team that includes multidisciplinary skills and perspectives</h3>
    <p>Make sure you have the right - and diverse - skills and roles to build and operate the service.</p>
    <p>Make as many decisions as possible in the team so that you can respond quickly to what you learn about users and their needs.</p>
    <p><a href="/service-manual/service-standard/8-create-a-team-that-includes-multidisciplinary-skills-and-perspectives">Read more about point 8.</a></p>

    <h3 class="nhsuk-u-margin-top-8">9. Use agile ways of working</h3>
    <p>Make sure that the team can deliver quickly and adapt to meet users' needs.</p>
    <p>Resource them flexibly.</p>
    <p><a href="/service-manual/service-standard/9-use-agile-ways-of-working">Read more about point 9.</a></p>

    <h3 class="nhsuk-u-margin-top-8">10. Iterate and improve frequently</h3>
    <p>Make sure you have the capacity, resources and technical flexibility to iterate and improve the service frequently.</p>
    <p>Work with your organisation to make sure that you're able to focus on improvements that have the most value.</p>
    <p><a href="/service-manual/service-standard/10-iterate-and-improve-frequently">Read more about point 10.</a></p>

    <h3 class="nhsuk-u-margin-top-8">11. Define what success looks like and publish performance information</h3>
    <p>Work out how your service helps improve health and well being, people's experience of health and care, or the efficiency of the health service and how you will know that you're succeeding. If you can't measure health benefits, choose other suitable indicators.</p>
    <p>Collect and publish performance information so that you can measure and show that the service is effective and improving.</p>
    <p><a href="/service-manual/service-standard/11-define-what-success-looks-like-and-publish-performance-information">Read more about point 11.</a></p>

    <h2 class="nhsuk-u-margin-top-8">C. Make smart choices about technology</h2>

    <h3 id="point12" class="nhsuk-u-margin-top-6">12. Make your service interoperable</h3>
    <p>In an organisation as diverse and complex as the NHS, we need systems and services which talk to each other. Build for interoperability to share patient records and get data quickly from one place to another.</p>
    <p><a href="/service-manual/service-standard/12-make-your-service-interoperable">Read more about point 12.</a></p>

    <h3 class="nhsuk-u-margin-top-8">13. Choose the right tools and technology</h3>
    <p>Choose tools and technology that let you build a good service in an efficient, cost effective way.</p>
    <p>Build a sustainable service which allows you to change direction in future.</p>
    <p><a href="/service-manual/service-standard/13-choose-the-right-tools-and-technology">Read more about point 13.</a></p>

    <h3 class="nhsuk-u-margin-top-8">14. Make new source code open</h3>
    <p>Make all new source code open and reusable, and publish it under appropriate licences. If you can't do this for specific subsets of the source code, provide a convincing explanation.</p>
    <p><a href="/service-manual/service-standard/14-make-new-source-code-open">Read more about point 14.</a></p>

    <h3 class="nhsuk-u-margin-top-8">15. Use and contribute to common components and patterns</h3>
    <p>Use tried and tested components and patterns from <a href="https://beta.nhs.uk/service-manual/patterns/">the NHS digital service manual</a> or, failing that, <a href="https://design-system.service.gov.uk/">the GOV.UK design system</a>. If you develop your own patterns or components, share them publicly so other people can use them.</p>
    <p><a href="/service-manual/service-standard/15-use-and-contribute-to-common-components-and-patterns">Read more about point 15.</a></p>

    <h3 class="nhsuk-u-margin-top-8">16. Operate a reliable service</h3>
    <p>People need the NHS 24 hours a day, every day of the year. Minimise service downtime and have a plan to deal with it when it does happen.</p>
    <p><a href="/service-manual/service-standard/16-operate-a-reliable-service">Read more about point 16.</a></p>



    <p class="nhsuk-body-s nhsuk-u-margin-top-8">Updated: March 2019</p>

    </div>
  </div>
</div>
{% endblock %}
