---
previewLayout: design-example-wrapper-blank
---

{% extends "template.njk" %}

{% from "back-link/macro.njk" import backLink %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block head %}
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/preview.scss") }}">
{% endblock %}

{% block pageTitle -%}
  Transactional page template
{%- endblock %}

{% block header %}
  {{ header({
    service: {
      text: "Service name here",
      href: "#"
    }
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Transactional page template
      </h1>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    navigation: {
      items: [
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Contact us"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Privacy policy"
        },
        {
          href: "#",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("main.js") }}" type="module"></script>
{% endblock %}
