{% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "Important",
  text: "For safety, tell your doctor or pharmacist if you're taking any other medicines, including herbal medicines, vitamins or supplements."
}) }}
