{% from 'header/macro.njk' import header %}

{{ header({
    primaryLinks: [
      {
        href: "#",
        text: "NHS service standard"
      },
      {
        href: '#',
        text: 'Design system',
        active: true
      },
      {
        href: '#',
        text: 'Content guide'
      },
      {
        href: '#',
        text: 'Accessibility'
      },
      {
        href: '#',
        text: 'Community and contribution'
      }
    ]
  })
}}
