{% set pageTitle = "Ideation" %}
{% set pageDescription = "Applying your initial findings to candidate IA improvements." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Step 5: Design your future (to-be) site-map</h2>
  <h3>Sitemap design & iteration</h3>
  <p>The information architecture of your topic can be expressed as a sitemap: a hierarchical diagram of every page of content included in the topic, showing the way they are grouped and labelled.</p>
  <p>To create a sitemap:</p>
  <ul>
    <li>List all the pages of content you need to provide for your topic</li>
    <li>Group into logical ‘topic’ chunks. Create a hierarchical site map diagram for your content</li>
      <ul>
        <li>There should be no orphaned pages that it is impossible to to navigate to</li>
        <li>Start with the groups you saw in card sorting and adjust from there</li>
        <li>Groups and labels should be topics where possible, not information types or user groups</li>
        <li>Avoid pronouns where possible - they alienate people looking for information for others</li>
        <li>Use as few words as possible to get the concept across (this makes for more readable menus and hub pages)</li>
        <li>Too deep and the information scent may be weak for pages deep in the hierarchy</li>
        <li>Too wide and users may struggle to select from too many options</li>
        <li>Every page of content has a place in the site map - its canonical home</li>
        <li>Group and label the content to match users’ mental models of your topic and the vocabulary they use. The aim here is to provide a strong information scent to all content</li>
        <li>Think about the breadth and depth of the site map</li>
      </ul>
    <li>Test your site map and iterate if necessary</li>
      <ul>
        <li>Think about whether the content groups and labels match your users’ understanding of your topic (their mental model)</li>
        <li>Have you provided a strong information scent to all content? Can people predict what they will see before they click a link?</li>
        <li>Are there too many choices?</li>
        <li>Have you grouped content by type rather than topic</li>
        <li>Your researcher can run a tree test on your sitemap (or “tree”)</li>
        <li>If parts of your site map test poorly, iterate the structure and test it again</li>
      </ul>
  </ul>

  <h4>Information scent</h4>
  <p>When deciding which links to click on the web, users choose those with the highest information scent — which is a mix of cues that they get from the link label, the context in which the link is shown, and their prior experiences - Neilsen Norman Group.</p>
  <p><a href="https://www.nngroup.com/articles/information-scent/">Neilsen Norman Group: Information scent</a></p>
  <p>www.nngroup.com<p>
  <br>
  <p>Good information scent is vital to a successful information architecture. At any point in their journey, do users have navigation options in front of them that allow them to make the right choice and move on?</p>
  <p>Users will keep clicking on links if the information scent is strong - they’re happy as long as they think they’re getting closer to their goal. There’s no hard-and-fast rule about how many clicks to reach your destination (although keeping it to a minimum is kinder to users.)</p>
  <p>Labelling must be consistent across links, page titles, headings, URLs, etc, or users lose the information scent and get lost and confused.</p>

  <h3>Tree test the new site-map</h3>
  <p>After you have created a candidate for a new sitemap, evaluative research in the form of tree testing, can show you how successful the new tree is.</p>
  <p>Tree tests evaluate the ‘information scent’ your topic groups and labels provide. A tree test is effectively a usability test for a navigation structure. They test the structure - the navigation ‘tree’ - rather than the visual design.</p>
  <p>Tree testing can answer questions like:</p>
  <ul>
    <li>Do the labels make sense to people?</li>
    <li>Is the content grouped logically to people?</li>
    <li>Can people find the information they want easily and quickly? If not, what's stopping them? Where do they go when they take the 'wrong' path?</li>
  </ul>
  <h4>Running a tree test</h4>
  <p>Tree tests are conducted remotely. Participants are given up to ten information-seeking tasks that they should be able to complete within the topic. They are given a text-only version of the topic hierarchy (site map) and asked where in that hierarchy they would find the answers to the set tasks.</p>
  <ul>
    <li>Aim for at least 50-100 completions, but it is possible to to get many more than that. The more completions, the more certain you can be of the results. (But it’s likely that the patterns you see will be stable after around 30 completions.)</li>
    <li>Make sure you set realistic, common tasks that users are trying to complete for your topic. Set tasks that test that people can follow an information scent even to the deepest levels of your hierarchy.</li>
    <li>Make sure you don’t set ‘leading’ tasks that use the same words as your sitemap labels. (This can be tricky - it was difficult to to come up with a task for the example above without using the word “fresh”, which would have been cheating!)</li>
  </ul>
  <p>When you view the tree test results you can:</p>
  <ul>
    <li>See overall success rates for each task. Can most users complete most of your task using your IA? If you ran a benchmark tree test previously, does your new IA perform better than the old one?
    <li>See where people clicked first - which links have the strongest information scent for each task?</li>
    <li>See a breakdown of the different places people went in your hierarchy to try to complete the tasks. So you can see how the information scent performs, and where people go when they go “wrong”. </li>
  </ul>
  <p>This can then feed into iterating your information architecture - you can retain the labels and groupings that work well and tweak or scrap those that do not. You can also see where you might need to cross-link from one sub-topic to another, if users were split in where they would look for something.</p>

  <h2>Step 6: Develop the new content</h2>
  <p>Developing new content doesn't require input from IA. However, content should be based on user needs, top tasks and should reflect the candidate site map.</p>
  <p>For guidance about writing, see the content style guide</p>

  <h2>Step 7: Design options for the user interface (UI)</h2>
  <h3>UI design and iteration</h3>
  <p>The sitemap is realised in the form of hub pages, content pages and navigation structures - the UI that supports your topic content.</p>
  <h4>The navigation system</h4>
  <p>The IA templates and components are in the service manual under components and page types. They were all designed, tested and iterated mobile-first and have been found to be usable, accessible, robust, flexible and learnable. The page templates and components were designed to work as a coherent whole, not individually in isolation.</p>
  <p>The components are:</p>
  <p>LINKS HERE</p>
  <p>The page types are:</p>
  <p>LINKS HERE</p>
  <h4>Sitemap as family tree</h4>
  <p>We talk about pages higher up in the hierarchy being ‘parents’ of the pages immediately below them. For example, a supermarket may have the following hierarchy:</p>
  <ul>
    <li>‘Fresh food’ is the parent page of ‘Fruit’ and ‘Vegetables’</li>
    <li>‘Vegetables’ is the parent page of ‘Broccoli’, ‘New potatoes’ and ‘Mushrooms’</li>
    <li>‘Broccoli’, ‘New potatoes’ and ‘Mushrooms’ are child pages of ‘Vegetables’</li>
    <li>‘Broccoli’, ‘New potatoes’ and ‘Mushrooms’ are sibling pages</li>
    <li>‘Lemons’, ‘Oranges’ and ‘Grapefruit’ are also sibling pages</li>
  </ul>
  <p>This matters when it comes to talking about navigation structures:</p>
  <ul>
    <li>A parent page must contain links to all its child pages</li>
    <li>A child page must provide a link to its parent page</li>
    <li>A page must provide links to all its siblings</li>
  </ul>
  <p>This ensures that no pages are ‘orphaned’ by not being available via navigation. It also ensures that users can always find ‘nearby’ content to continue their journey.</p>
  <p>Within the navigation system:</p>
  <ul>
    <li>Hub pages are ‘parent’ pages. They contain links to all their ‘child’ pages (which can be hub pages and/or content pages)</li>
    <li>Breadcrumbs on all pages provide links to parent pages. (On mobile, just the immediate parent. On desktop, all grandparents are there too.)</li>
    <li>Bottom navigation on content pages pages provides links to both parent and sibling pages</li>
  </ul>

  <h3>Use IA page templates and components</h3>
  <h4>Hub pages</h4>
  <p>Hub pages are designed to do one thing well: to route people to the content they need. Not to provide that content. They provide consistent navigation structures to allow users to browse to their destination, discover content they didn’t know they needed and re-find information without getting lost. Users can scan, select and move on quickly.</p>
  <ul>
    <li>They show users where they are and where else they might go</li>
    <li>They showcase all content for any given topic or sub-topic</li>
    <li>They allow you to promote up to three ‘top tasks’ for your topic, to provide shortcuts to popular content that would otherwise be ‘buried’ in your site map hierarchy</li>
    <li>They showcase related links for any given topic or sub-topic - content that users interested in your topic may find useful, but isn’t contained within your content. For example, treatments for a condition or services associated with a healthy living topic.</li>
  </ul>
  <p>Each ‘parent’ page in your site map represents a ‘hub’ page in your prototype. Your hub page will list all the child pages of the parent page. These child pages can be a mix of further hubs and/or content pages. We call these ‘canonical’ links, as they represent the single home of any one piece of content. This is in contrast to related links, which reference related content elsewhere in the sitemap.</p>
  <p>There are two different hub page templates - the main topic hub and the sub topic hub. This allows the design to change as users move through the content. (Helping users understand they’ve ‘moved’).</p>
  <p>Main topic hubs are used for larger groups of content, for example a group of conditions like Diabetes or a group of medicines like Antihistamines. Individual conditions or medicines are served by sub topic hubs.</p>
  <h5>Level 1 Hub</h5>
  <p>Use for larger groups of content.</p>
  <p>Components:</p>
  <ul>
    <li>Breadcrumbs (link to parent pages)</li>
    <li>Page title and intro text (to help users to ascertain if they are in the right place)</li>
    <li>‘Top tasks’ (optional links to up to 3 pages that are high priority tasks for users. They must be grandchild or great-grandchild links from within the topic, not related links from elsewhere)</li>
    <li>Canon links (to all child pages, including intro text to help users choose)</li>
    <li>Related links</li>
    <li>External links - to related content elsewhere on the internet</li>
  </ul>
  <h5>Level 2 hub</h5>
  <p>Use for smaller groups of content such as sub-topics under a main topic hub.</p>
  <p>Components:</p>
  <ul>
    <li>Breadcrumbs (link to parent pages)</li>
    <li>Page title and optional intro text (to help users to ascertain if they are in the right place)</li>
    <li>Canon links (to all child pages)</li>
    <li>Related links</li>
    <li>External links - to related content elsewhere on the internet</li>
  </ul>
  <h5>Content pages</h5>
  <p>Our content pages are designed to:</p>
  <ul>
    <li>Allow users to ascertain if they are in the right place, and correct themselves if not</li>
    <li>Read the content</li>   
    <li>Facilitate the discovery of additional content within the topic</li>
    <li>Ensure there are no ‘dead ends’ if they want to continue their journey</li>
  </ul>
  <p>Very long pages are bad for accessibility.</p>
  <p>Components:</p>
  <ul>
    <li>Breadcrumbs (link to parent pages)</li>
    <li>Page title (to help users to ascertain if they are in the right place)</li>
    <li>Sideways navigation (to link to the parent page and all sibling pages)</li>
  </ul>
  <h4>Test and iterate</h4>
  <p>Your researcher can run first-click tests and usability tests to evaluate your prototype.</p>
  <ul>
    <li>First-click tests are run remotely to test the IA and visual hierarchy together. Your IA may work well in tree tests, but can people still find what they need in the context of the rest of the website? First-click tests show users an image of your hub page and ask them where they would click to complete common tasks.</li>
    <li>You can run usability tests that evaluate whether users are able to find your content and move around it, as well as whether the content itself meets user needs. You can evaluate your new hubs and content pages against the site-wide user needs.</li>
  </ul>

  <h2>Step 8: Plan how to move into Beta</h2>
  <p>Throughout the ideation phase and the steps within, it is likely you have iterated and had more than one viable option for how to progress the work. This step is about reflecting on and applying your learnings to define how the team progresses with the work and effectively selects one way forwards.</p>
  <h3>UI design and iteration<h3>
  <p>Decide the most viable designs and conduct the following research methods:</p>
  <ol>
    <li>Tree test</li>
    <li>First click tests</li>
  </ol>
  <p>This will tell you how the designs need to be changed and whether they meet your users' mental models and top tasks.</p>
  <p>It may be useful at this point to have a full working prototype of your proposed IA and navigation changes.</p>

  <h2>Moving to the next stage: Application</h2>
  <p>In the next phase of the IA process, there is a focus on applying everything you have learned to the content and structures you are working on.</p>





{% endblock %}
