{% set pageTitle = "Ideation" %}
{% set pageDescription = "Applying your initial findings to candidate IA improvements." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<ul class="nhsuk-hub-key-links beta-hub-key-links">
  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
      <a href="/ia-guidance/core-ia-process/ideation/future-sitemap">Design your future (to-be) site-map</a>
  </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="/ia-guidance/core-ia-process/ideation/new-content">
                Develop the new content
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="//ia-guidance/core-ia-process/ideation/design-ui">
                Design options for the user interface (UI)
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="/ia-guidance/core-ia-process/ideation/plan-beta">
               Plan how to move into Beta
              </a>
            </li>
          
        </ul>


{% endblock %}
