{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{{ radios({
  name: "haveYouCompletedThisSection",
  fieldset: {
    legend: {
      text: "Have you completed this section?",
      isPageHeading: false,
      classes: "nhsuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, I've completed this section"
    },
    {
      value: "no",
      text: "No, I'll come back to it later"
    }
  ]
}) }}

{{ button({
  text: "Continue"
}) }}
