{% set pageTitle = "Information seeking modes" %}
{% set pageDescription = "The way users look for information is dependent on the way they are searching and their specific content needs. These are called information seeking modes." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Understanding users" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/understanding-users/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>What are the information seeking modes?/h2>
  <p>Internet users display different behaviours according to which 'information seeking mode' they are in. These modes are applicable across different medical conditions and clinical needs, and are therefore a way of abstracting information architecture and design needs from topic-specific content needs. We have evidence that there are a small number of modes that are relevant to the NHS website. We can apply different design patterns to the different modes to best meet user needs.</p>
  <p>Any one individual user of the NHS website may well be in a different mode on each visit, depending on their relationship with their medical condition and specific information need at the time. The different modes inevitably blur together at the edges, and we will often see users moving from one mode to another as they learn and their conditions change.</p>
  <p>Our IA work has sought to provide navigation structures and page templates that support users regardless of which information seeking mode they are in on any given visit to NHS.UK.</p>

  <h3>Discovering</h3>



  <h3>Target-seeking</h3>

  <h3>Exploring</h3>


  <h3>Evaluating</h3>


  <h3>Keeping up-to-date</h3>


  <h2>Barriers to finding information</h2>
  <p>People struggle to find the information they need for many reasons, often compounding each other. Our NHS.UK design patterns should attempt to mitigate against those barriers.</p>
  <ul>
    <li>Low digital literacy and/or poor access to technology</li>
    <li>Low literacy and/or health literacy. Some users with low reading confidence struggle to ‘scan’ pages. They often read everything on a page.</li>
    <li>Stress and anxiety lowers cognitive ability and makes people less effective at finding information and correcting themselves when they are lost. Users of the NHS website might well be stressed:</li>
      <ul>
        <li>Anxiety around the implications of a new diagnosis</li>
        <li>Anxiety around the additional responsibility of making decisions for someone else (eg diabetes diagnosis in a child or dementia in a parent)</li>
        <li>Information overload and multiple sources providing conflicting information (medical professionals, family members, Facebook groups, etc) "If you Google it, you don't get one answer, you get 15!"</li>
        <li>Anxiety around the need for immediate help (eg possibly a medical emergency or mental health crisis, "If you're in a bad state of mind, you can't take it all in")</li>
      </ul>
    <li>Inability to frame successful search queries due to lack of experience with the domain</li>
  </ul>

  <h4>Related reading</h4>
  <p><a href="https://emotionfirst.co.uk/f/emotion-first-design-in-3-parts">https://emotionfirst.co.uk/f/emotion-first-design-in-3-parts</a></p>
  
{% endblock %}
