{% from "tables/macro.njk" import table %}

{{ table({
  caption: 'Vaccination coverage by nation and year',
      captionSize: 'm',
      captionId: 'vaccination-coverage-caption',
      scrollable: true,
      firstCellIsHeader: true,
      head: [
        {
          text: 'Nation'
        },
        {
          text: '2023 to 2024',
          format: 'numeric'
        },
        {
          text: '2024 to 2025',
          format: 'numeric'
        },
        {
          text: '2025 to 2026',
          format: 'numeric'
        }
      ],
      rows: [
        [
          {
            text: 'England'
          },
          {
            text: '83.7%',
            format: 'numeric'
          },
          {
            text: '85.1%',
            format: 'numeric'
          },
          {
            text: '86.4%',
            format: 'numeric'
          }
        ],
        [
          {
            text: 'Northern Ireland'
          },
          {
            text: '86.4%',
            format: 'numeric'
          },
          {
            text: '87.9%',
            format: 'numeric'
          },
          {
            text: '89.1%',
            format: 'numeric'
          }
        ],
        [
          {
            text: 'Scotland'
          },
          {
            text: '89.2%',
            format: 'numeric'
          },
          {
            text: '90.5%',
            format: 'numeric'
          },
          {
            text: '91.3%',
            format: 'numeric'
          }
        ],
        [
          {
            text: 'Wales'
          },
          {
            text: '89.5%',
            format: 'numeric'
          },
          {
            text: '91.0%',
            format: 'numeric'
          },
          {
            text: '92.2%',
            format: 'numeric'
          }
        ]
      ]
    }) }}
