{% from "tag/macro.njk" import tag %}
{% from "tables/macro.njk" import table %}

{{ table({
  head: [
    {
      text: "Application"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        text: "Leo Cashin"
      },
      {
        html: tag({
          text: "Urgent",
          classes: "nhsuk-tag--red"
        })
      }
    ],
    [
      {
        text: "Amy Louth"
      },
      {
        html: tag({
          text: "New",
          classes: "nhsuk-tag--blue"
        })
      }
    ],
    [
      {
        text: "Barbara Angel"
      },
      {
        html: tag({
          text: "New",
          classes: "nhsuk-tag--blue"
        })
      }
    ],
    [
      {
        text: "Annette Armstrong"
      },
      {
        html: tag({
          text: "New",
          classes: "nhsuk-tag--blue"
        })
      }
    ],
    [
      {
        text: "Vishal Gurudutt"
      },
      {
        html: tag({
          text: "New",
          classes: "nhsuk-tag--blue"
        })
      }
    ],
    [
      {
        text: "Rachel Preece"
      },
      {
        html: tag({
          text: "Finished",
          classes: "nhsuk-tag--green"
        })
      }
    ],
    [
      {
        text: "Tom Hunter"
      },
      {
        html: tag({
          text: "Waiting on",
          classes: "nhsuk-tag--yellow"
        })
      }
    ]
  ]
}) }}
