{% set pageTitle = "Principles of information architecture" %}
{% set pageDescription = "A set of principles to assess the quality of your proposed information architecture (IA) and navigation structures." %}
{% set pageSection = "Guidance by topic" %}
{% set subSection = "Information architecture" %}
{% set theme = "Information architecture" %}
{% set dateUpdated = "November 2021" %}
{% set backlog_issue_id = "390" %}
{% set newGuidance = true %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "guidance-by-topic/information-architecture/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">1</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl nhsuk-u-margin-bottom-1">1</span>
          Base your IA on user needs
        </h2>

        <p>Create a user-centred IA that groups content in a way that mirrors users' mental models of health and care.</p>
        <p>Prioritise users' top tasks and validate your navigation with real users.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">2</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">2</span>
          Design an inclusive IA
        </h2>
        <p>NHS services are for everyone. Make sure everyone can navigate the site. </p>
        <p>This includes people with:
        <ul>
          <li>access needs</li>
          <li>low literacy or other difficulties reading</li>
          <li>low digital literacy</li>
          <li>low health literacy</li>
          <li>limited access to the internet, for example on a small, mobile device</li>
          <li>poor internet connections</li>
        </ul>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">3</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">3</span>
          Give users a sense of context
        </h2>
        <p>Make sure users know where they are on your website and understand what is available to them.</p>
        <p>Read more about how <a href="why-information-architecture-is-important#a-good-ia-gives-users-context">a good IA gives users context</a>.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">4</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">4</span>
          Route users effectively and enable intuitive flow
        </h2>
        <p>Create a strong <a href="why-information-architecture-is-important#information-scent">information scent</a> for people to follow and find what they need.</p>
        <p>Users must be able to navigate to any page from the home page, moving up and down information hierarchies, as well as sideways across vertical groupings.</p>
        <p>All pages must exist in navigation structures, with no orphan pages.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">5</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">5</span>
          Make content easy to find
        </h2>
        <p>Give users multiple ways to get to the same information.</p>
        <p>Different users have:</p>
        <ul>
          <li>different finding strategies</li>
          <li>are in different information-seeking modes at different times</li>
          <li>are at different stages on their journey</li>
        </ul>
      </div>
    </li>
    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">6</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">6</span>
          Make the next step clear
        </h2>
        <p>Users should not wonder "What do I do now?". No page should be a dead end.</p>
        <p>Let users know their next step or find related information by:</p>
        <ul>
          <li>grouping content</li>
          <li>cross-linking</li>
          <li>using components to help them navigate</li>
        </ul>
        <p>Link to online and offline services so users can, for example, identify the care they need, who to contact and when.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">7</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl nhsuk-u-margin-bottom-1">7</span>
          Make your IA machine-readable
        </h2>
        <p>Well-structured, tagged content is easier to navigate, search and manage.</p>
        <p>Make sure users can find your content through search engines: through Google and other external and internal search engines. Read more about <a href="/guidance-by-topic/information-architecture/measure-the-success-of-your-information-architecture#search-engine-optimisation-SEO-for-external-search-engines">search engine optimisation (SEO) for external search engines</a>.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">8</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl nhsuk-u-margin-bottom-1">8</span>
          Make it robust but flexible
        </h2>
        <p>Your IA must provide a solid foundation to build on over time.</p>
        <p>It needs to accommodate new content and work for the service you want to provide as well as the service you have now.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">9</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">9</span>
          Be consistent
        </h2>
        <p>Consistent design, information structures and tone of voice help users orient themselves and find things.</p>
        <p>Use consistent language across menus, headings, and links. Content models and controlled vocabularies help with this.</p>
      </div>
    </li>

 <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">10</span>
        <h2 class="featured-list--item__heading nhsuk-heading-l">
          <span class="featured-list--item__number nhsuk-heading-xl">10</span>
          Use clear language
        </h2>
       <p>Use labels people understand. Do not use jargon, expert vocabulary or niche "brand names".</p>
      </div>
    </li>



  <h2>NHS design principles</h2>
  <p>Follow our <a href="/design-system/design-principles">design principles</a> and put people at the heart of the design process.</p>

{% endblock %}

{% block afterContact %}

{{ pagination({
    "previousUrl": "/guidance-by-topic/information-architecture/why-information-architecture-is-important",
    "previousPage": "Why information architecture is important",
    "nextUrl": "/guidance-by-topic/information-architecture/your-topic-in-a-wider-information-architecture",
    "nextPage": "Your topic in a wider information architecture"
  }) }}

{% endblock %}
