{% set pageTitle = "What information architecture is" %}
{% set pageDescription = "What it is and how to find out more about it." %}
{% set pageSection = "Guidance by topic" %}
{% set subSection = "Information architecture" %}
{% set theme = "Information architecture" %}
{% set dateUpdated = "November 2021" %}
{% set backlog_issue_id = "388" %}
{% set newGuidance = true %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "guidance-by-topic/information-architecture/_breadcrumb.njk" %}
{% endblock %}


{% block bodyContent %}

  <p>Information architecture (IA) is the structural design of information. It's about organising and labelling websites and other digital products to help users find and use content and services.</p>

  <h2>IA is structure</h2>
  <p>IA underpins the structure and data that powers a website. It's how information is organised, stored and presented to a user.</p>
  <p>Well-structured, tagged content is easier to navigate, search and manage.</p>
   <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
    <p>Working out the structure of your IA involves thinking about hierarchies and relationships to help users understand the steps they may go through or what else is available to them.</p>
    <p>For example, you might break down a health condition into:</p>
    <ul>
      <li>symptoms</li>
      <li>diagnosis</li>
      <li>treatment</li>
      <li>complications</li>
    </ul>

    <p>You might connect topics, such as:</p>
    <ul>
      <li>chemotherapy and cancer</li>
      <li>antihistamines and hay fever</li>
    </ul>
  </div>

  <h2>IA is interface</h2>
  <p>IA is also the visual representation of the structure of the website.</p>
  <p>It includes the components and page templates that visually organise content to help users navigate across the site and find what they need.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
    <p>Global navigation elements include the:</p>
    <ul>
      <li><a href="/design-system/components/header">header</a></li>
      <li>main navigation bar</li>
      <li><a href="/design-system/components/footer">footer</a></li>
      <li>search</li>
    </ul>
    <p>Local navigation elements include:</p>
    <ul>
      <li><a href="/design-system/components/breadcrumbs">breadcrumbs</a></li>
      <li>hub pages, such as <a href="/design-system/patterns/mini-hub">mini-hub</a> pages</li>
      <li>side navigation</li>
      <li>headings</li>
      <li>page to page navigation</li>
    </ul>
  </div>
<h2>Get in touch</h2>
<p>You can talk to other people about IA matters on the #information-architecture channel on the <a href="https://service-manual.nhs.uk/slack">service manual public Slack workspace</a>.</p>

<p>If you're working on information architecture for a product or service for <a href="https://www.nhs.uk/">the NHS website</a>, please talk with the NHS.UK IA team. You can contact them on the #information-architecture channel on the service manual public Slack.</p>
{% endblock %}

{% block afterContact %}

{{ pagination({
    "previousUrl": "/guidance-by-topic/information-architecture",
    "previousPage": "Information architecture home page",
    "nextUrl": "/guidance-by-topic/information-architecture/why-information-architecture-is-important",
    "nextPage": "Why information architecture is important"
}) }}

{% endblock %}
