{% from "radios/macro.njk" import radios %}
{% from "fieldset/macro.njk" import fieldset %}
{% from "hint/macro.njk" import hint %}

{{ radios({
  fieldset: {
    legend: {
      text: "How do you want to be contacted about this?",
      size: "l",
      isPageHeading: true
    }
  },
  hint: {
    text: "Select 1 option"
  },
  idPrefix: "example-hints",
  name: "exampleHints",
  items: [
    {
      value: "email",
      text: "Email"
    },
    {
      value: "phone",
      text: "Phone"
    },
    {
      value: "text",
      text: "Text message"
    }
  ]
}) }}
