{% from "images/macro.njk" import image %}

{{ image({
  src: "/assets/image-example-stretch-marks-600w.jpg",
  sizes: "(max-width: 768px) 100vw, 66vw",
  srcset: "/assets/image-example-stretch-marks-600w.jpg 600w, /assets/image-example-stretch-marks-1000w.jpg 1000w",
  alt: "Close-up of a person’s tummy showing a number of creases in the skin under their belly button. Shown on light brown skin.",
  caption: "Stretch marks can be pink, red, brown, black, silver or purple. They usually start off darker and fade over time."
}) }}
