{% from "task-list/macro.njk" import taskList %}

{{ taskList({
  idPrefix: "your-health",
  items: [
    {
      heading: {
        text: "Contact details"
      },
      href: "#",
      status: {
        text: "Completed",
        classes: "nhsuk-task-list__status--completed"
      }
    },
    {
      heading: {
        text: "Family health history"
      },
      hint: {
        text: "Details of your parents, brothers and sisters"
      },
      href: "#",
      status: {
        tag: {
          text: "In progress",
          colour: "white"
        }
      }
    },
    {
      heading: {
        text: "Smoking history"
      },
      href: "#",
      status: {
        tag: {
          text: "Not yet started",
          colour: "blue"
        }
      }
    }
  ]
}) }}
