// NHS.UK Frontend
@use "vendor/nhsuk-frontend" as *;
@forward "vendor/nhsuk-frontend";

// App specific styles
@forward "app/app";

// Design examples
@forward "design-example/design-example";

/////////////////
// FRONTEND FIXES + UPDATES
/////////////////

// ADDED TO FRONTEND - AWAITING RELEASE
// REMOVE ONCE RELEASED

// Breadcrumb hotfix
// To not have a visited state for back link
.nhsuk-breadcrumb__backlink:visited {
  color: $nhsuk-link-color;
}

// Breadcrumb hotfix
// To not have a visited state for breadcrumb link
.nhsuk-breadcrumb__link:visited {
  color: $color_nhsuk-blue;
}

// Breadcrumb hotfix
// To change color on hover when visited
.nhsuk-breadcrumb__link:hover {
  color: $nhsuk-link-hover-color;
}

// Back link hotfix
// To change color on hover when visited
.nhsuk-back-link__link:hover {
  color: $nhsuk-link-hover-color;
}

// Pagination hotfix for icon colour on focus & hover
.nhsuk-pagination__link:visited:focus .nhsuk-icon {
  fill: $nhsuk-focus-text-color;
}

// A to Z target size
// Ensures minimum target size is 24px, as per WCAG AA
.nhsuk-a-to-z-min-width {
  min-width: 24px;
  text-align: center;
}

// Removal of table cell element top and bottom margins
// Remove bottom margin from a <p>
.nhsuk-table__cell {
  @include nhsuk-top-and-bottom;
}

// Helper to break long words/URLs in tables
.nhsuk-table__cell--break-all {
  word-break: break-all;
}

.nhsuk-table__cell--break-all--tablet {
  @include nhsuk-media-query($until: tablet) {
    word-break: break-all;
  }
}

.nhsuk-table__cell--break-all--desktop {
  @include nhsuk-media-query($until: large-desktop) {
    word-break: break-all;
  }
}

// helper to make table full width of parent (instead of 'reading-width') for wide tables
.nhsuk-table.nhsuk-table--full-width {
  max-width: 100%;
}

// Header menu button alignment for Safari
.nhsuk-header__menu-toggle {
  @include nhsuk-media-query($from: tablet, $until: large-desktop) {
    margin-top: 0;
  }
}

// The 'What's new' box in the home page hero
.app-latest-update {
  padding-bottom: nhsuk-spacing(8);
  padding-top: nhsuk-spacing(8);

  @include nhsuk-media-query($until: desktop) {
    padding-bottom: nhsuk-spacing(6);
    padding-top: 0;
  }
}

// Custom style for home page hero card
.app-card--transparent {
  background: transparent;
  border: 2px solid $nhsuk-secondary-border-color;
  color: $color_nhsuk-white;

  a {
    color: $color_nhsuk-white;

    &:hover,
    &:visited {
      color: $color_nhsuk-grey-5;
    }

    &:focus {
      color: $nhsuk-focus-text-color;
    }
  }
}

// Card video

.app-card__video {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Custom style for the home page hero
// Reducing the padding on smaller screens
.app-hero__wrapper {
  @include nhsuk-media-query($until: desktop) {
    padding-bottom: nhsuk-spacing(5);
    padding-top: nhsuk-spacing(5);
  }
}

// Page template annotation

.app-annotate-block {
  margin-bottom: nhsuk-spacing(4);
  outline: 2px dashed $color_nhsuk-grey-1;
  padding: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(7);
  position: relative;
}

.app-annotate-block__label {
  border-bottom: 2px dashed $color_nhsuk-grey-1;
  border-right: 2px dashed $color_nhsuk-grey-1;
  left: 0;
  padding: nhsuk-spacing(1) nhsuk-spacing(2);
  position: absolute;
  top: 0;
}

.app-annotate-block + .nhsuk-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

// Team pictures used for lists

.app-team-pictures-list {
  @include nhsuk-responsive-padding(0, "left");

  img {
    border: 2px solid transparent;
    border-radius: 30px;
    display: inline-block;
    height: 40px;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 40px;

    @include nhsuk-responsive-margin(3, "right");
  }

  li {
    list-style: none;
  }
}

// Back to top link

.nhsuk-back-to-top__link {
  display: inline-block;
  margin-top: 0;
  position: relative;
  @include nhsuk-font-size(19);

  &:visited {
    color: $nhsuk-link-visited-color;
  }

  &:hover,
  &:focus {
    color: $nhsuk-link-hover-color;
    text-decoration: none;

    .nhsuk-icon {
      fill: $nhsuk-text-color;
    }
  }
}

// Styling for WCAG 2.2 guidance blocks.
// Margin-top to avoid excessive spacing between guidance block and design examples.
// Border colour altered to match tag colour.
.app-wcag-inset-text {
  border-left-color: nhsuk-shade($color_nhsuk-blue, 10%);
  @include nhsuk-responsive-margin(0, "top");
}

// Slightly more margin top to maintain visual rhythm of page content
// margin bottom placed on container and stripped from final p element for :target box styling
// max-width to reduce empty space caused by limiting line length of body content
.app-wcag-22 {
  @include nhsuk-responsive-margin(1, "top");
  @include nhsuk-responsive-margin(4, "bottom");
}

.app-wcag-22 p:last-child {
  margin-bottom: 0;
}

.app-icon-table .nhsuk-icon__user {
  height: 32px;
  margin: 0 1px;
  width: 32px;
}
