// NHS.UK Frontend with custom settings
@use "vendor/nhsuk-frontend" as *;
@forward "vendor/nhsuk-frontend";

// App specific styles
@forward "app/app";

// Design examples
@forward "design-example/design-example";

/////////////////
// FRONTEND FIXES
/////////////////

// A to Z target size
// Ensures minimum target size is 24px, as per WCAG AA
.nhsuk-a-to-z-min-width {
  min-width: 24px;
  text-align: center;
}

// The 'What's new' box in the home page hero
.app-latest-update {
  padding-top: nhsuk-spacing(8);
  padding-bottom: nhsuk-spacing(8);

  @include nhsuk-media-query($until: desktop) {
    padding-top: 0;
    padding-bottom: nhsuk-spacing(6);
  }
}

// Custom style for home page hero card
.app-card--transparent {
  border: 2px solid $nhsuk-reverse-border-colour;
  color: nhsuk-colour("white");
  background: transparent;

  a {
    color: nhsuk-colour("white");

    &:hover,
    &:visited {
      color: nhsuk-colour("grey-5");
    }

    &:focus {
      color: $nhsuk-focus-text-colour;
    }
  }
}

// Card video

.app-card__video {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 0;
  }
}

// Custom style for the home page hero
// Reducing the padding on smaller screens
.app-hero__wrapper {
  @include nhsuk-media-query($until: desktop) {
    padding-top: nhsuk-spacing(5);
    padding-bottom: nhsuk-spacing(5);
  }
}

// Back to top link

.nhsuk-back-to-top__link {
  display: inline-block;
  position: relative;
  margin-top: 0;
  @include nhsuk-font-size(19);
}

// Styling for WCAG 2.2 guidance blocks.
// Margin-top to avoid excessive spacing between guidance block and design examples.
// Border colour altered to match tag colour.
.app-wcag-inset-text {
  border-left-color: nhsuk-shade(nhsuk-colour("blue"), 10%);
  @include nhsuk-responsive-margin(0, "top");
}

// Slightly more margin top to maintain visual rhythm of page content
// margin bottom placed on container and stripped from final p element for :target box styling
// max-width to reduce empty space caused by limiting line length of body content
.app-wcag-22 {
  @include nhsuk-responsive-margin(1, "top");
  @include nhsuk-responsive-margin(4, "bottom");
}

.app-wcag-22 p:last-child {
  margin-bottom: 0;
}
