// NHS.UK Frontend defaults
@use "nhsuk-frontend/dist/nhsuk/core/settings" as *;
@use "nhsuk-frontend/dist/nhsuk/core/tools" as *;
@use "nhsuk-frontend/dist/nhsuk/core/helpers" as *;

@use "settings" as *;

// WARNING: This file is intended for adding extra styles to the code snippet
// examples and standalone examples.
// Beware of adding too much in to this file, we should aim for our example
// code to look as close to the unmodified nhsuk-frontend library as possible.

.app-example-wrapper {
  background-color: nhsuk-colour("grey-5");
}

// Component examples need a bit of space around them
.app-example-page {
  padding: 32px;

  @include nhsuk-media-query($until: tablet) {
    padding: 16px;
  }
}

.app-example-page code {
  font-family: $app-code-font;
  @include nhsuk-font-size(16);
}

// Component examples on a blue background
.app-example-page--background-blue {
  background-color: nhsuk-colour("blue");
}

// Component examples on a grey-4 background
.app-example-page--background-grey-4 {
  background-color: nhsuk-colour("grey-4");
}

// In order to show how the grid works, we need to have an element inside the
// grid that is visible and fills the available space with a background color.
.nhsuk-grid-row > .spacing-example div > p {
  background-color: nhsuk-colour("blue");
  color: nhsuk-colour("white");
  padding: 20px;
  text-align: center;
}

// Spacing examples for on divs
.spacing-example div {
  // stylelint-disable-next-line color-no-hex
  background: #80afdc;
}

.spacing-example div:nth-of-type(odd) {
  // stylelint-disable-next-line color-no-hex
  background: #337ec6;
}

// Layout examples for on divs
.app-example-page--layout [class^="nhsuk-grid-column"] > p {
  background-color: nhsuk-colour("blue");
  color: nhsuk-colour("white");
  padding: 20px;
  text-align: center;
}

// Page template annotation

.app-annotate-block {
  margin-bottom: nhsuk-spacing(4);
  outline: 2px dashed nhsuk-colour("grey-1");
  padding: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(7);
  position: relative;
}

.app-annotate-block__label {
  border-bottom: 2px dashed nhsuk-colour("grey-1");
  border-right: 2px dashed nhsuk-colour("grey-1");
  left: 0;
  padding: nhsuk-spacing(1) nhsuk-spacing(2);
  position: absolute;
  top: 0;
}

.app-annotate-block + .nhsuk-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}
