{% from 'care-card/macro.njk' import careCard %}

{{ careCard({
  "type": "urgent",
  "heading": "Get advice from 111 now if:",
  "HTML": "
  <p>you take too much furosemide and you:</p>
  <ul>
    <li>are over 65 (even if you feel well)</li>
    <li>have kidney, heart or liver failure (even if you feel well)</li>
  </ul>
  "
}) }}
