{% from 'card/macro.njk' import card %}

{{ card({
  "href": "#",
  "clickable": "true",
  "secondary": "true",
  "heading": "Urgent and emergency care services",
  "headingClasses": "nhsuk-heading-m",
  "description": "Services the NHS provides if you need urgent or emergency medical help"
}) }}
