{% set pageTitle = "Linking to external websites" %}
{% set pageDescription = "We know users struggle to understand when they are leaving NHS.UK and how to get back." %}
{% set pageSection = "Linking components" %}
{% set subSection = "Linking components" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>What is an external link</h2>
  <p>The NHS website links out to a number of partner organisations/charities/Government website that sit outside of the NHS.UK domain.</p>
  <p>Such external sites have specialist, in-depth content and services meaning it makes sense to link to these rather than duplicating content on our website.</p>

  <h3>Why do we need external links?</h3>
  <p>We have seen evidence that when users click links to an external website, they do not realise the link will take them away from NHS.UK.</p>
  <p>This has resulted in:</p>
  <ul>
    <li>Users missing links to important/specific information/services on third-party sites</li>
    <li>Users navigating to external websites - not realising they're on a different website and have no way of getting back to NHS.UK which causes disorientation</li>
  </ul>

  <h3>Solution</h3>
  <p>An external link must be styled to:</p>
  <ul>
    <li>make it visually obvious that it is a link i.e. it's clickable</li>
    <li>prefix the name of the organisation to the link text, separated by a colon and page title</li>
    <li>has the main site URL beneath</li>
  </ul>

{% endblock %}
