{% from "search-input/macro.njk" import searchInput %}

{{ searchInput({
  label: {
    text: "Find a patient by NHS number",
    size: "m"
  },
  hint: {
    html: 'For example <span class="nhsuk-u-nowrap">999 123 4567</span>'
  },
  id: "example",
  name: "example",
  width: 10,
  code: true,
  button: {
    text: "Find",
    variant: "secondary"
  }
}) }}
