{% from "header/macro.njk" import header %}

{{ header({
  classes: "nhsuk-header--inline",
  search: {
    input: {
      placeholder: "Search"
    },
    label: {
      visuallyHiddenText: "Search the NHS website"
    }
  }
}) }}
