{% set pageTitle = "IA guidance" %}
{% set pageDescription = "Guidance about how to improve the Information Architecture of content and services" %}
{% set pageSection = "IA guidance" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <h2>What is Information Architecture?</h2>
  <p>Information architecture (IA) is the structural design of shared information environments; the art and science of organizing and labelling to support usability and findability.</p>
  
  <h3>Why is it important?</h3>
  <p>Well-structured, tagged content is easier to navigate, search and manage.</p>
  <br>
  <h3>Improving your IA</h3>
  <ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/ia-guidance/about-ia">Understanding IA</a>
        </h2>
        <p class="nhsuk-card__description">Theory behind information architecture and how to meet user needs</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/ia-guidance/core-ia-process">IA instructions</a>
        </h2>
        <p class="nhsuk-card__description">How to do IA transformations in different scenarios</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/ia-guidance/navigation">Components and page types</a>
        </h2>
        <p class="nhsuk-card__description">Visual aspects of an information architecture</p>
      </div>
    </div>

  </li>
</ul>

<hr>
<h2>Get in touch</h2>
<p>Content to be decided</p>


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
