{% set pageTitle = "Discover and prioritise your users' top tasks" %}
{% set pageDescription = "The first stage in the process of transforming information architecture is about understanding your users and what content already exists." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Step 1: Understanding existing content</h2>
  <p>Before you can think about updating the information architecture of your topic or content, it is important to know what already exists. If you are creating an entirely new section of content, look at the guidance for this scenario.</p>
  <p>This will help you to create a baseline of the existing IA, as well as a benchmark against which improvements can be measured.</p>
  <p>There are two key activities you can do to understand the content that exists:</p>
  <ol>
    <li>Do a content audit</li>
    <li>Visualise the current site-map</li>
  </ol>
  
  <h3>Content audit</h3>
  <p>To understand the current content situation, you need to catalogue existing content and assess its performance. Conduct a content audit and produce a content inventory - usually in the form of a spreadsheet. </p>
  <ul>
    <li>List the content that already exists that is related to your topic</li>
    <ul>
      <li>What other content exists on your site that people interested in your topic might also care about?</li>
      <li>Are there different types of information on your topic?</li>
      <li>What external links are provided?</li>
    </ul>
    <li>Does any content need to be updated or culled?</li>
    <li>Is anything obviously missing?</li>
  </ul>
  <p>Once you have completed your audit, your researcher will need the content inventory in order to run some activities, including card sorts and benchmark tree tests.</p>

  <h3>Visualise the current site-map</h3>
  <p>Once you have your content inventory spreadsheet, it is often useful to visualise it in a sitemap. Visual sitemaps help the whole team understand page hierarchies to inform design.</p>
  <ul>
    <li>How is the sitemap structured? Is it narrow and deep, or perhaps wide and shallow?</li>
    <ul>
      <li>Narrow, deep sitemaps can provide a poor information scent because it’s impossible for users to predict content buried deep in a hierarchy</li>
      <li>Narrow, deep sitemaps can cause UI design problems because it’s difficult to allow movement through the hierarchy via a coherent navigation system</li>
      <li>Wide, shallow sitemaps can cause users to struggle to make a choice from too many options</li>
      <li>Wide, shallow sitemaps can cause UI design problems in the form of confusing pages and overlong menus</li>
    </ul>
    <li>Does the sitemap represent a good information scent for every piece of content?</li>
    <li>Are there any pages you cannot navigate to?</li>
  </ul>

  <h2>Step 2: Measure how the existing content is performing</h2>
  <h3>Tree test your current structure</h3>
  <p>A tree test is effectively a usability test for a navigation structure. They test the structure - the navigation ‘tree’ - rather than the visual design.</p>
  <p>Tree tests evaluate the ‘information scent’ your topic groups and labels provide. A tree test is effectively a usability test for a navigation structure. They test the structure - the navigation ‘tree’ - rather than the visual design. </p>
  <h4>Benchmarking using a tree test</h4>
  <p>Use benchmark tree tests to help you measure the findability improvements your IA changes make. Set the same tasks on existing and redesigned IAs and (hopefully!) show how many more people can complete their tasks with the new groups and labels. </p>
  <p>Tree tests are conducted remotely - you use online tools. Participants are given up to ten information-seeking tasks that they should be able to complete within the topic. They are given a text-only version of the topic hierarchy (site map) and asked where in that hierarchy they would find the answers to the set tasks.</p>

  <h3>Using search logs and analytics</h3>
  <h4>Site analytics</h4>
  <ul>
    <li>Benchmark current performance so you can measure the effects of your work</li>
    <li>How are people finding information on your topic? Are they browsing to it via menus and/or using on-site search and/or using Google to get to it and/or coming to it from a related topic?</li>
    <li>Are people staying to read pages you’d expect them to read? Do they scroll to the bottom?</li>
    <li>Are there high bounce rates to any pages? (People arriving at the page and leaving immediately - which can imply that the content does not meet their expectations. Although remember that if someone simply wants the answer to a question and finds the answer at the top of the page, then they have had a successful interaction, despite it looking like a negative bounce in analytics.)</li>
    <li>Are people going on journeys through the content, or only looking at a single page?</li>
    <li>Are people leaving your pages in order to search? (Which might imply that they did not find what they were looking for on your pages)</li>
    <li>Which in-page links are interacted with? Which are not?</li>
  </ul>
  <h4>Google analytics</h4>
  <ul>
    <li>What search terms are people using to access your content?</li>
    <li>Are they broad topics or more focussed?</li>
    <li>What are the most common search terms? (This can help you understand user priorities and top tasks)</li>
    <li>Are there any common search terms related to your topic that NHS.UK doesn’t provide content for? Why or why not?</li>
    <li>Which pages are people visiting as a result of their search? The main topic landing page? Or pages deeper within the topic hierarchy?</li>
  </ul>

  <h3>Set metrics to establish a baseline</h3>
  <p>While it is still fresh in your teams' minds, it is valuable to set baseline metrics for how the content and IA is currently performing. This is something that will be used later to compare against how the content and IA performs after changes have been made. Lots of this data can come from using search logs and site analytics.</p>
  <p>Consider using:</p>
  <ul> 
    <li>task success: how many people were successful at finding content in your tree tests?</li>
    <li>out of the success rates, how much of that was direct? i.e. did users have to go back on themselves to find the answer, or did they navigate straight to it?</li>
    <li>bounce rate - if you have existing content on your own site, you can use the analytics to find out whether people are spending time on the pages</li>
  </ul>

  <h2>Step 3: Learn about your users' mental models</h2>
  <h3>Open card sorts</h3>
  <p>An open card sort is when you give users a series of 'cards' or pieces of information, and ask them to group them into meaningful sets and name those groups. This is different from a closed card sort, where you ask users to sort 'cards' into pre-decided categories.</p>
  <p>Open card sorts will show you what words are used in conjunction with your topic. It will also generate ideas for how to structure and label content. Therefore, open card sorts are invaluable when you need to completely restructure information. They are less useful when you only intend to make small changes or already have a good understanding of your users’ mental models.</p>
  <p>We can use the results of a card sort as the basis for our topic site map. Reflect the groups you see in the card sort in the sub-topics in your site map. Use the common labels from your card sort to label your sub-topics.</p>
  <h4>Insights to look for in an open card sort</h4>
  <ul>
    <li>how people understand your information</li>
    <li>patterns in people's understanding</li>
    <li>where people expect to find information</li>
    <li>ideas for how to structure and label your website information</li>
    <li>if different user groups think in different ways about your information</li>
  </ul>
  <h4>Setting up an open card sort</h4>
  <ul>
    <li>A typical range of cards to give users to sort would be between 30 and 60</li>
    <li>Cards should represent a single page of information. However, if you are doing a card sort for a smaller section of content, the cards could represent the sub sections within a single page.</li>
    <li>Aim for 30-50 participants to be sure you’re spotting patterns, without getting overwhelmed by data</li>
  </ul>
  <h4>Considerations</h4>
  <ul>
    <li>If you user base is mobile-centric, bear in mind that online card sorting tools can be difficult to use on a mobile device. This may limit how representative your results are.</li>
    <li>Card sorting is an involved task that takes some time, so might need incentivising. Especially if you need to recruit participants from specific segments.</li>
  </ul>
  <h3>Conduct user interviews</h3>
  <p>At this stage of the IA process, user interviews should be used to understand users’ mental models and the words they use when thinking about your topic. Interviews are vital for larger topics and for entirely new topics or for topics that are currently underperforming.</p>
  <h4>Insight to look for</h4>
  <ul>
    <li>How users engage with any existing content on the topic – both on your website and elsewhere</li>
    <li>What information users need at different stages of their journey</li>
    <li>What tasks are users trying to complete? What words do they use to describe their tasks?</li>
    <li>How do they expect content to be grouped? Which labels and sub-topic groupings make sense to users and which don’t?</li>
    <li>What are users’ strategies for finding information? Do these strategies change over the course of their relationship with the topic? Do users’ strategies conform to any of the NHS.UK-wide information-seeking modes?</li>
    <li>How well do different sites support users’ information-seeking behaviours? What works and what doesn’t?</li>
  </ul>
  <p>Conducting interviews at this stage can also help to understand how current content is performing. It is a good point at which to gather qualitative evidence as to how your users are struggling and what else they need from the content.</p>
  <h3>Use search logs and analytics</h3>
  <p>Search logs and analytics will be very useful statistics to have to hand throughout an IA transformation. At this stage, they should be used to understand the words people use in relation to your topic as it will help to build a picture of a typical user's mental model.</p>
  <p>You should be looking for:</p>
  <ul>
    <li>the vocabulary people use when performing searches that result in a visit to your topic</li>
    <li>common searches related to your topic for which no good content exists - this could represent unmet user needs</li>
    <li>differences between users’ expressed needs (in the form of the search term they use) and their actual needs (the pages they visit)</li>
    <li>how people are accessing the topic for example, are they browsing to it via menus and/or using on-site search and/or using Google to get to it and/or coming to it from a related topic?</li>
    <li>if there are high bounce rates to any pages (People arriving at the page and leaving immediately - which can imply that the content does not meet their expectations. Although remember that if someone simply wants the answer to a question and finds the answer at the top of the page, then they have had a successful interaction, despite it looking like a negative bounce in analytics.)</li>
    <li>whether people are going on journeys through the content, or only looking at a single page</li>
    <li>where people are leaving your pages in favour of searching</li>
    <li>the links most interacted with on each page</li>
  </ul>
  <p>Consider using common search terms to inform the grouping and labelling of your content. These terms can be compared against those garnered from your card sort findings. </p>
  <p>However, it is important to remember that search logs and analytics may not tell you the whole picture, especially when current IA and content does not effectively meet user needs.</p>

  <h3>Understand competitor approaches</h3>
  <p>Another way to understand how your users think about your topic is to look at competitor sites and how they arrange information. If your users are familiar with these sites and how to navigate through them, then it can be a good indication as to how they think about the topic.</p>
  <p>The following questions can help you to understand how other sites arrange their information architecture:</p>
  <ul>
    <li>What information architectures do they present to their users? Documenting or visualising their sitemaps can be helpful here.</li>
    <li>What information needs or user tasks do they prioritise with their designs?</li>
    <li>What vocabulary do they use?</li>
    <li>Ask your researcher to evaluate which competitor approaches are performing well for users</li>
  </ul>
  <p>Plus, if you understand how well ‘competitor’ information architectures are performing, you can think about how to incorporate the best bits in your designs and remain consistent with your users' mental models.</p>

  <h2>Step 4: Discover and prioritise your users' top tasks</h2>
  <h3>Prioritisation research</h3>
  <p>Prioritisation research will help to inform the way you choose which of your user needs to prioritise.</p>
  <h4>Top task research</h4>
  <p>Top Tasks are a methodology devised by Gerry McGovern to help organisations understand what users are trying to accomplish using their website.</p>
  <ul>
    <li>You run a survey with visitors to your website that asks users to pick their top 5 most important tasks.</li>
    <li>You provide them with a list of 30-100 potential tasks that they may be trying to accomplish.</li>
    <li>When you analyse the results, you typically find that a small handful of the many tasks account for most of the things users care about.</li>
    <li>This allows you to prioritise those tasks in your IA, UI and content design activities. You can also use these tasks to validate your designs against.</li>
  </ul>
  <h4>Other prioritisation methods</h4>
  <p>The full Top Tasks methodology is likely too heavyweight for most topic Discoveries. However, research to understand what your users need most from your topic content is incredibly useful. No UI can be all things to all people all the time, even when our website is “for everybody”. You still need to know what to prioritise and what has less need to be front-and-centre:</p>
  <ul>
    <li>You could run a more lightweight survey asking why the user visited your topic that day</li>
    <li>You could interview users about times they have interacted with online content on your topic in the past. What were they trying to accomplish? Why? You could ask them to rank their needs during the interview.</li>
    <li>You could run a closed card sort where users prioritise content against criteria such as ‘Important’ to ‘Unimportant’, or ‘Use often’ to ‘Use never.’</li>
    <li>Search logs and analytics can help you understand common user needs and popular existing content</li>
  </ul>

  <h3>Use search logs and analytics</h3>
  <p>At this stage, you will have used search logs and analytics to understand how you current content is performing and how your users think around the subject.</p>
  <p>Now, you should use these findings to understand your users' top tasks (and therefore what tasks and information need prioritising within the content). </p>
  <p>To work out top tasks, it is important to analyse and compare:</p>
  <ul>
    <li>the most searched for terms</li>
    <li>the most visited pages</li>
    <li>any qualitative data that may inform what your users are looking for</li>
  </ul>

  <h2>Moving to the next stage: Ideation</h2>
  <p>As this page has outlined, there are four key aspects to understand at the start of an information architecture transformation. They are:</p>
  <ul>
    <li>what content (if any) you currently have</li>
    <li>how this content is performing</li>
    <li>how your users think about your topic</li>
    <li>the tasks your users want to complete in reference to this topic</li>
  </ul>
  <p>Once you are satisfied that you have understood these aspects, it may be a good point to document and play back to your team and stakeholders what has been found so far. Then, you can move onto the ideation stage, where you will be focusing on using the aforementioned findings to think about how to alter the IA and create iterations.</p>




{% endblock %}
