{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Ethics, safeguarding and responsible research" %}
{% set pageDescription = "Meet ethical, data protection and safeguarding standards." %}
{% set pageSection = "User research" %}
{% set dateUpdated = "September 2026" %}

{% block beforeContent %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<p>Consider the impact of your research on the rights, well-being and dignity of your users, colleagues and yourself.</p>
<p>Follow your organisation's requirements for data handling, privacy, consent and risk management.</p>
<p><code>More content to come.</p>

{% endblock %}
