{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "User research" %}
{% set pageDescription = "Summary?" %}
{% set pageSection = "User research" %}
{% set landingPage = true %}

{% block bodyContent %}

<p>We're working on a new section of guidance around user research, starting with a set of <a href="/user-research/principles">principles</a>.</p>


 <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
