{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Introduction to user research in the NHS" %}
{% set pageDescription = "User research helps teams learn about users and create services that meet their needs." %}
{% set pageSection = "User research" %}
{% set dateUpdated = "September 2026" %}

{% block beforeContent %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p>Without user research, you will not know what problems you're trying to solve, what to build or if the service you create will work well for users.</p>

<h2 id="understand-your-users">Understand your users</h2>
<p>To deliver a service that meets your users' needs, you have to understand:</p>
<ul>
  <li>who your users are</li>
  <li>what they're trying to do and how they're trying to do it now</li>
  <li><code>New </code>their clinical, practical and emotional needs and abilities</li>
  <li><code>New </code>how they use and experience existing services</li>
  <li>how their life, <code>New </code>health or NHS systems and processes influence what they do and how</li>
</ul>
<p><code>New </code>Decide which <a href="/user-research/research-methods">research methods</a> to use based on the user groups you have identified, what you want to learn and the development phase you are in.</p>
<p><code>New </code>Define and prioritise user needs. Your team must show how these have influenced design decisions.</p>

<h2 id="meet-ethical-data-protection-and-safeguarding-standards">Meet ethical, data protection and safeguarding standards</h2>
<p><code>New section, not in GOV</code></p>
<p>Consider the impact of your research on the rights, well-being and dignity of your users, colleagues and yourself.</p>
<p>Follow your organisation's requirements for ethics, data handling, privacy, consent and risk management.</p>
<p>See our guidance on <a href="/user-research/ethics-safeguarding-responsible-research">ethics, safeguarding and responsible research</a>.</p>
   
<h2 id="make-your-research-inclusive">Make your research inclusive</h2>
<p>To build a good service you need to learn about all your users, including disabled users and those who need support to use your service. Actively include people from these groups in your research throughout each phase.</p>
<p>Make sure you do not exclude any users in the way you do research, such as how you plan your research, recruit participants or choose research locations.</p>
<p>You should also think about how to run sessions with disabled people.</p>
<p>Including all types of users in your research will help you to:</p>
<ul>
  <li>understand how people with different needs or abilities might use your service, as well as the barriers they face</li>
  <li>refine your design, functionality and content based on how different kinds of users experience them</li>
  <li>meet accessibility requirements</li>
</ul>
<p>Follow our guidance on <a href="/user-research/inclusive-research">inclusive research</a>.</p>

<h2 id="focus-on-the-outcome">Focus on helping users get the right outcome</h2>
<p>People rely on NHS services to do important things. If they cannot do them, it can cause significant problems such as not getting the medical help they need.</p>
<p>In turn, these problems can increase NHS costs and stop policies achieving their intent.</p>
<p>The same is true for NHS staff. If they cannot do what they need to do effectively and efficiently, patients will experience problems and delays.</p>
<p>Your user research must not just ask people what they like or prefer, or aim to find out what's most popular.</p>
<p>To create an effective service, you must research your users' end-to-end journey and all the ways they interact with your service (including phone, post and face to face, as well as digital).</p>

<h2 id="research-continually">Research continually</h2>
<p>To work in an agile way, service teams must be able to quickly:</p>
<ul>
  <li>update their understanding of users and their needs</li>
  <li>test new design ideas, content and features to see if they work well for all users</li>
  <li>understand problems users are having and how they might be resolved</li>
</ul>
<p>This means doing small batches of user research in every iteration of each phase, starting in discovery and continuing throughout live. This is more effective and efficient than doing 1 or 2 large studies at the beginning or end of development.</p>
<p>Doing this means you can:</p>
<ul>
  <li>save time by building only the things that you know your users need</li>
  <li>reduce risk by learning quickly whether the things you are building work well for users</li>
  <li>respond to changing user behaviour and feedback to continuously improve the service</li>
</ul>

<h2 id="make-time-for-research">Make time for research</h2>
<p>It's essential to plan user research for your service. This makes sure that your research provides good answers to your team's most important questions.</p>
<p>Throughout each phase, user researchers should typically be:</p>
<ul>
  <li>working with the team at least 3 days a week</li>
  <li>running user research sessions at least every 2 weeks</li>
</ul>
<p>Build research activities and analysis sessions into the team's regular schedule, so everyone knows when they're happening and can make time to take part.</p>

<h2 id="make-user-research-a-team-sport">Make user research a team sport</h2>
<p>User research is most effective when user researchers are embedded in service teams, and team members are actively involved in user research activities.</p>
<p>All team members should watch real users interacting with your service and talking about it, ideally for at least 2 hours every 6 weeks.</p>
<p>These "exposure hours" can involve interviews, at home or in healthcare settings, lab-based usability tests or any other research activities where people can watch and listen to real users.</p>
<p>Team members who observe research can then take part in analysis sessions to help agree on the findings and any resulting actions.</p>
<p>This will help your team:</p>
<ul>
  <li>understand the highs and lows that people experience when using your service</li>
  <li>learn the language that people use when talking about your service</li>
  <li>think and talk about users as real people with real needs to develop empathy for the people they're writing or designing for</li>
</ul>
<p>At the same time, user researchers can work closely with designers, developers and content designers on design decisions and prototypes.</p>

<h2 id="share-your-findings">Share your findings</h2>
<p>You should also invite your team, stakeholders and people in your organisation who deal with users to show-and-tells and other activities where you share what you've learned from user research.</p>
<p>Involving more people in user research helps your team make better decisions about how to improve your service by:</p>
<ul>
  <li>reducing the risk of bias and unchallenged assumptions</li>
  <li>giving less dominant team members a voice</li>
  <li>limiting the influence of individual stakeholders</li>
</ul>
<p><code>New </code>Get involved in the NHS user research community of practice and contribute your insights. NHS England staff have an internal Slack workspace. User researchers outside of NHS England can contact colleagues via the <a href="https://nhs-service-manual.slack.com/archives/CQ2T8F81X">NHS service manual #user-research Slack channel</a>.</p>

{% endblock %}