{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Principles" %}
{% set pageDescription = "Short summary of the page" %}
{% set pageSection = "User research" %}
{% set dateUpdated = "August 2026" %}

{% block beforeContent %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">1</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>
          Understand users and their needs in the context of health and care 
        </h2>
        <p>To deliver a service that meets your users' needs, you need to understand:</p>
        <ul>
            <li>who your likely users are</li>
            <li>their clinical, practical and emotional needs and abilities</li>
            <li>what they're trying to do and how they're trying to do it now</li>
            <li>how they use and experience existing services</li>
            <li>how their life, health or NHS systems and processes influence what they do and how</li>
        </ul>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">2</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">2</span>
          Plan your user research using an appropriate mix of methodologies
        </h2>
        <p>Agree and prioritise your research questions, including the assumptions you need to test.</p>
        <p>Identify user groups and decide which methods to use, depending on what you want to learn and the phase you're in.</p>
        <p>Build your research and analysis into the team's regular schedule, so everyone can take part.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">3</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">3</span>
          Meet ethical, data protection and safeguarding standards  
        </h2>
        <p>Consider the impact of your research on the rights, well-being and dignity of your users, colleagues and yourself.</p>
        <p>Follow your organisation's requirements for data handling, privacy, consent and risk management.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">4</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">4</span>
          Recruit a diverse range of participants
        </h2>
        <p>Research with all the people who use or are affected by your service. Understand the demographics and build confidence that your findings reflect all your users.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">5</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">5</span>
          Make inclusion and accessibility part of research from the start 
        </h2>
        <p>Learn about all your users, including disabled users and people who need support to use your service. Do not exclude any users in the way you do your research.</p>
        <p>Gather evidence objectively and mitigate against bias.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">6</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">6</span>
          Find what works, not what's popular
        </h2>
        <p>Focus on how your service can help users get the right outcome. Research actual user behaviours, goals, and pain points, not just what they or your internal team prefer.</p>
        <p>Research your users' end-to-end journey and all the ways they interact with your service including phone, post and face-to-face, as well as digital.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">7</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">7</span>
          Define and prioritise user needs
        </h2>
        <p>Document the insight you've gathered. Produce clear and understandable reports that show user needs, for example in personas or user stories, using their own words.</p>
        <p>Connect your evidence to statements of need which you can prioritise with your team.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">8</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">8</span>
          Test early and often
        </h2>
        <p>Run light, fast, and frequent research sessions throughout the entire design cycle. This is more effective and efficient than doing one or two large studies at the beginning or end of development.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">9</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">9</span>
          Make user research a team sport
        </h2>
        <p>User research is most effective when user researchers are embedded in service teams, and team members are actively involved in user research activities.</p>
        <p>Team members who observe research can then take part in analysis sessions to help agree on the findings and any resulting actions.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">10</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">10</span>
          Share your findings
        </h2>
        <p>Invite your team, stakeholders and other people in your organisation to show and tells and other activities where you share what you've learned from user research.</p>
        <p>Get involved in the NHS user research community of practice and contribute your insights.</p>
      </div>
    </li>
    </ol>




{% endblock %}