{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Research methods" %}
{% set pageDescription = "Plan your user research using an appropriate mix of methods." %}
{% set pageSection = "User research" %}
{% set dateUpdated = "September 2026" %}

{% block beforeContent %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<p>Agree and prioritise your research questions, including the assumptions you need to test.</p>
<p>Decide what methods to use based on the user groups you have identified, what you want to learn and the phase you are in.</p>
<p><code>More content to come.</code></p>

{% endblock %}