{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Tabs" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "The tabs component lets users navigate between related sections of content, displaying 1 section at a time." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "279" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Tabs updated in August 2025</h3>
    <p>See <a href="/design-system/guides/updating-to-v10#tabs">updates to tabs in version 10</a></p>
  </div>

  {{ designExample({
    group: "components",
    item: "tabs",
    type: "default"
  }) }}

  <h2 id="when-to-use">When to use tabs</h2>
  <p>Tabs can be a helpful way of letting users quickly switch between related information if:</p>
  <ul>
    <li>your content can be usefully separated into clearly labelled sections</li>
    <li>the 1st section is more relevant than the others for most users</li>
    <li>users will not need to view all the sections at once</li>
  </ul>
  <p>Tabs can work well for people who use a service regularly, for example, staff using a patient record system. Their need to perform tasks quickly may be greater than their need for simplicity of first-time use.</p>

  <p>Test your content without tabs first. Consider if it's better to:</p>
  <ul>
    <li>simplify and reduce the amount of content</li>
    <li>split the content across multiple pages</li>
    <li>keep the content on a single page, separated by headings</li>
    <li>use a table of contents to let users navigate quickly to specific sections of content</li>
  </ul>

  <h2 id="when-not-to-use">When not to use tabs</h2>
  <p>Do not use the tabs component if the total amount of content the tabs contain will make the page slow to load. For this reason, do not use the tabs component as a form of page navigation.</p>
  <p>Tabs hide content from users and not everyone will notice them or understand how they work.</p>
  <p>Do not use tabs if your users might need to:</p>
  <ul>
    <li>read through all of the content in order, for example, to understand a step-by-step process</li>
    <li>compare information in different tabs, because having to memorise information and switch backwards and forwards can be difficult</li>
  </ul>

  <h2>Decide between using tabs, expanders and the details component</h2>
  <p>Tabs, <a href="/design-system/components/expander">expanders</a>, and <a href="/design-system/components/details">details</a> all hide sections of content which a user can choose to reveal.</p>
  <p>If you decide to use 1 of these components, consider if:</p>
  <ul>
    <li>the user needs to view more than 1 section at a time – if not, use tabs</li>
    <li>the user needs to switch quickly between sections – tabs can show content without pushing other sections down the page, unlike expanders</li>
    <li>you have 7 or more sections of content – tabs are arranged horizontally, so may not work well, while expanders are arranged vertically</li>
    <li>there are only 1 or 2 sections of short, less important content – the details component is more suitable as it's visually smaller and less prominent than an expander or tabs</li>
  </ul>

  <h2 id="how-to-use-tabs">How to use tabs</h2>
  <p>There are 2 ways to use the tabs component. You can use HTML or, if you're using Nunjucks or the <a href="https://prototype-kit.service-manual.nhs.uk">NHS.UK Prototype Kit</a>, you can use the Nunjucks macro.</p>

  <p>The tabs component uses JavaScript. When JavaScript is not available, users will see the tabbed content on a single page, in order from 1st to last, with a table of contents that links to each of the sections.</p>
  <p>This is also how the component currently behaves on small screens, but more research is needed on this.</p>

  <h3>Use clear labels</h3>
  <p>Tabs hide content, so the tab labels need to make it very clear what they link to. Otherwise users will not know if they need to click on them.</p>
  <p>If you struggle to come up with clear labels, it might be because the way you've separated the content is not clear.</p>

  <h3>Order the tabs according to user needs</h3>
  <p>The 1st tab should be the most commonly needed section. Arrange the other tabs in the order that makes most sense for your users.</p>

  <h3>Do not disable tabs</h3>
  <p>Disabling elements is normally confusing for users. If there is no content for a tab, either remove the tab or, if that would be confusing for your users, explain why there is no content when the tab is selected.</p>

  <h3>Avoid tabs that wrap over more than 1 line</h3>
  <p>If you use too many tabs or they have long labels then they may wrap over more than 1 line. This makes it harder for users to see the connection between the selected tab and its content.</p>

  <h2 id="accessibility">Accessibility</h2>
  <p>Keyboard users should be able to move focus between tabs using arrow keys and select a tab by pressing enter.</p>
  <p>Screen reader users should hear which tab is currently focused, how many tabs there are and whether the current tab is open.</p>

  <h2>Research and testing</h2>
  <p>The Government Digital Service (GDS) developed and tested the tabs component. Several NHS services are using tabs but we need to know more about how they test with users.</p>
  <p>For example, we need to know:</p>
  <ul>
    <li>which types of services tabs work best in</li>
    <li>that this approach to tabs is the best option for screen reader users and sighted keyboard users</li>
    <li>how this component should behave on small screen sizes</li>
  </ul>
{% endblock %}
