{% from "header/macro.njk" import header %}

{{ header({
  colour: "white",
  logo: {
    href: "#",
    ariaLabel: "NHS Anytown Anyplace Anywhere NHS Foundation Trust homepage"
  },
  organisation: {
    name: "Anytown Anyplace",
    split: "Anywhere",
    descriptor: "NHS Foundation Trust"
  },
  search: {
    label: {
      visuallyHiddenText: "Search the Anytown Anyplace Anywhere website"
    }
  },
  navigation: {
    colour: "white",
    items: [
      {
        text: "Your hospital visit",
        href: "#"
      },
      {
        text: "Wards and departments",
        href: "#",
        active: true
      },
      {
        text: "Conditions and treatments",
        href: "#"
      },
      {
        text: "Our people",
        href: "#"
      },
      {
        text: "Our research",
        href: "#"
      }
    ]
  }
}) }}
