{% from "notification-banner/macro.njk" import notificationBanner %}

{% call notificationBanner() %}
  <p class="nhsuk-notification-banner__heading">
    You have 7 days left to send your application.
    <a class="nhsuk-notification-banner__link" href="#">View application</a>.
  </p>
{% endcall %}
