{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Design principles" %}
{% set pageDescription = "These principles guide all of our design. Use them to get started on a project and to help with making decisions." %}
{% set pageSection = "Design system" %}
{% set subSection = "Design system" %}
{% set theme = "Principles" %}
{% set dateUpdated = "April 2023" %}
{% set backlog_issue_id = "442" %}

{% block beforeContent %}
  {% include "design-system/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>They're inspired by the <a href="https://www.gov.uk/government/publications/the-nhs-constitution-for-england/the-nhs-constitution-for-england">NHS Constitution</a>.</p>

  <p><a href="/assets/nhs-design-principles.pdf">Download design principles poster (PDF, 126KB)</a></p>

  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">1</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>
          Put people at the heart of everything you do
        </h2>
        <p>Patients, family, carers, staff. Design things that understand and respect people's needs. Take the time to learn about the whole person - their emotional, physical and technical needs.</p>
        <p>Design with compassion.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">2</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">2</span>
          Design for the outcome
        </h2>
        <p>What will good look like? What are the health, wellbeing or other measurable outcomes that your work will impact? Your work should improve lives, either directly or indirectly.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">3</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">3</span>
          Be inclusive
        </h2>
        <p>NHS services are for everyone. Make sure people with different physical, mental health, social, cultural or learning needs can use your design.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">4</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">4</span>
          Design for context
        </h2>
        <p>Don't just design your part of a service. Consider people's entire experience, and the infrastructure and processes involved. Think about how people begin and end their time with what you are designing.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">5</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">5</span>
          Design for trust
        </h2>
        <p>People trust the NHS. Take care not to jeopardise that. Design things that are reliable and secure.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">6</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">6</span>
          Test your assumptions
        </h2>
        <p>Design and test your work with real people. Observe behaviour and gather evidence. Work with subject experts and existing research. Do not rely on hunches.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">7</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">7</span>
          Make, learn, iterate
        </h2>
        <p>Start small. Experiment with different ways of doing things. Make prototypes to improve your understanding. Test and refine.</p>
      </div>
    </li>

      <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">8</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">8</span>
          Do the hard work to make it simple
        </h2>
        <p>Healthcare journeys can be complex. Take the time to understand what you are trying to solve. Do not push complexity onto the people using what you are designing.</p>
      </div>
    </li>

      <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">9</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">9</span>
          Make things open. It makes things better
        </h2>
        <p>Share your learning. Share your work. Be transparent in your design decisions.</p>
        <p>Be accountable and have confidence in your solutions.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">10</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l">10</span>
          Design to protect the environment
        </h2>
        <p>The climate crisis is a health crisis.</p>
        <p>Learn about the impact of your design decisions on the environment. Encourage your team to challenge existing processes and re-use resources.</p>
      </div>
    </li>

    </ol>

{% endblock %}
