{% set pageTitle = "Design system" %}
{% set pageDescription = "Build consistent, accessible user interfaces. Learn from the research and experience of other NHS digital teams." %}
{% set pageSection = "Design system" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <p>Use these design styles, components and patterns to quickly make prototypes or build a live service.</p>

  <p>The examples in the NHS digital service manual come with code to make it easy for you to use them in your project.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

  <h2>Feedback</h2>
  <p>Let us know about your visit to the service manual today by filling in <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">our survey on the Qualtrics website</a>.</p>

{% endblock %}
