{% set pageTitle = 'Design system' %}
{% set pageDescription = 'Build consistent, accessible user interfaces. Learn from the research and experience of other service teams.' %}
{% set pageSection = 'Design system' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

<p class="app-lede-text--sub">The examples in the NHS digital service manual come with code to make it easy for you to use them in your project.</p>

{% endblock %}
