{% set pageTitle = "What is IA" %}
{% set pageDescription = "Information architecture (IA) is the structural design of information environments... The organisation and labelling of websites and other digital products to support usability and findability." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  
  <h2>What are the benefits of a good IA?</h2>
  <p>Well-structured, tagged content is easier to navigate, search and manage.</p>
  <p>Our information architecture (IA) underpins the user experience of NHS.UK. For users, it provides:</p>
  <ul>
    <li>Placemaking</li>
    <li>Orientation</li>
    <li>Navigation</li>
    <li>Search</li>
  </ul>
  <h3>Placemaking</h3>
  <p>The placemaking our IA provides helps our users understand what the NHS website is for and what it offers. The way we group, name and display our content helps people understand the scope and utility of NHS.UK.</p>
  <p>Our global navigation, in the form of our main navigation bar, works hardest to communicate this to users.</p>
  <h3>Orientation</h3>
  <p>Our IA provides orientation to help users understand where they are and where else they might go. It is the way we communicate people’s location within NHS.UK and what else we have that might be of interest to them. Are they in the right place? If not, what else is here?</p>
  <p>Our global and local navigation structures, including hub pages, breadcrumbs and page titles and headings communicate these things to users.</p>
  <h3>Navigation</h3>
  <p>Our IA provides our users with the means to get to their destination on NHS.UK. It is how we provide an ‘information scent’ for users to follow to find the content they need.</p>
  <p>Our global and local navigation structures, in the form of the main navigation bar, hub pages, and page-to-page navigation, allow users to browse to their destination.</p>
  <h3>Search</h3>
  <p>Our IA underpins the NHS.UK search engine, allowing users to find what they are looking for. The work we have done to organise our content and make it navigable is also vital to on-site search and to help Google understand our content.</p>
  <p>Our taxonomy and ontology underpin our search engine and CMS by documenting hierarchies and relationships between content.</p>
  <h3>Consistent navigation system</h3>
  <p>We cannot provide placemaking, orientation, navigation and search services for our users without consistency. Consistency buys trust. It is also to accessibility. Our hub pages, breadcrumbs and menus work together to provide a consistent navigation system for NHS.UK. We need to roll the system out to every page on NHS.UK, so that all users have access to structures allowing placemaking, orientation, navigation and search, wherever they are on the website.</p>
  <p>Different users use different navigation methods at different times, so the system deliberately provides multiple ways to do the same thing (for example, they might use the breadcrumb or the page-to-page navigation or the back button to go ‘up’ a level).</p>
  <p>Templates for navigational hubs and content pages with page-to-page navigation are available in Wagtail. Components are documented in GitHub. There’s more to do: the IA team is collaborating with teams across NHS.UK to stress-test and extend the system to cover all our content.</p>
  <h3>Get in touch with the IA team</h3>
  <p>If your team is undertaking an IA transformation, the dedicated IA team can support you.</p>
  <p><a href="">Get in touch</a></p>

  




{% endblock %}
