{% set pageTitle = "What is IA" %}
{% set pageDescription = "Information architecture (IA) is the structural design of information environments... The organisation and labelling of websites and other digital products to support usability and findability." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  
  <h2>The components of a good IA</h2>
  <p>Well-structured, tagged content is easier to navigate, search and manage.</p>
  <p>Our information architecture (IA) underpins the user experience of NHS.UK. For users, it provides:</p>
  <ul>
    <li>Placemaking</li>
    <li>Orientation</li>
    <li>Navigation</li>
    <li>Search</li>
  </ul>

  <h2>IA in action at NHS.UK</h2>
  <p>NHS.UK is undergoing an IA transformation to better support users in finding meaningful and valuable content. Some of our teams have written blog posts about how they have used the IA guidance.</p>
  <h3>Mental Health</h3>

  <h3>Pregnancy</h3>

  <h3>Medicines</h3>


  <h3>Get in touch with the IA team</h3>
  <p>If your team is undertaking an IA transformation, the dedicated IA team can support you.</p>
  <p><a href="">Get in touch</a></p>

  




{% endblock %}
