{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Question pages" %}
{% set pageDescription = "This pattern explains when to use question pages and the elements they can include." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Pages" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "242" %}

{% block beforeContent %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p>WCAG 2.2: Make sure that users can successfully <a href="#wcag-avoid-information-reentry">avoid re-entering information they've given in a previous answer</a> and <a href="#wcag-interact-without-click-drag-task">select an answer without relying on click and drag movements</a>.</p>

{{ designExample({
  group: "patterns",
  item: "question-pages",
  type: "default"
}) }}

<h2 id="when-to-use">When to use a question page</h2>
<p>Follow this pattern whenever you need to ask users questions in your service.</p>
<p>Make sure you know why you're asking every question and only ask users for information you really need.</p>
<p>On every question page you should:</p>
<ul>
    <li>make sure it's clear to users why you're asking each question</li>
    <li>allow users to answer "I do not know" or "I'm not sure" if they are valid responses</li>
</ul>
<p>Read more about:</p>
<ul>
    <li><a href="/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question">making sure you need each question (in our guidance on How to write good questions for forms)</a>, which also covers essential and optional questions</li>
    <li><a href="https://www.gov.uk/service-manual/design/designing-good-questions">designing good questions (GOV.UK service manual)</a></li>
    <li><a href="https://www.effortmark.co.uk/question-protocol-make-sure-every-form-field-necessary/">the question protocol (by Caroline Jarrett on Effortmark website)</a></li>
</ul>

<h2 id="how-to-use">How to use a question page</h2>
<h3>Start by asking 1 question per page</h3>
<p>Asking just 1 question per page helps users:</p>
<ul>
  <li>understand what you're asking them to do</li>
  <li>focus on the specific question and its answer</li>
</ul>

<p>Sometimes it makes sense to group related questions on the same page. User research will tell you when to do this. See the section on <a href="#asking-multiple-questions-on-a-page">asking multiple questions on a page</a>.</p>
<h3>Elements you must include</h3>
<p>Question pages must include a:</p>
<ul>
  <li>back link</li>
  <li>page heading</li>
  <li>way for users to input information</li>
  <li>continue button</li>
</ul>

<h4 id="back-link">Back link</h4>
<p>Some users do not trust browser back buttons when they're entering data.</p>
<p>Always include a <a href="/design-system/components/back-link">back link component</a> at the top of question pages to reassure users it's possible to go back and change previous answers.</p>
<p>However, do not break the browser back button. Make sure it takes users to the previous page they were on, in the state they last saw it.</p>
<p>An exception to this is when the user has performed an action they should only do once, like make a payment or complete an application. The browser back button should still work, but show the user a sensible message rather than letting them perform the action again.</p>

<h4 id="page-heading">Page heading</h4>
<p>Usually the page heading should be the question. Do this by placing the heading (<code>&lt;h1&gt;</code>) into the label or legend. Find out about <a href="#using-legends-labels-and-captions">using legends, labels and captions</a>.</p>
<p>Sometimes the page heading will be a statement. Find out more about when to use statements in the sections on:</p>
<ul>
  <li><a href="#asking-complex-questions-without-using-hint-text">asking complex questions without using hint text</a></li>
  <li><a href="#asking-multiple-questions-on-a-page">asking multiple questions on a page</a></li>
</ul>

<h4 id="input">Input</h4>
<p>For example, a <a href="/design-system/components/text-input">text input</a> box, <a href="/design-system/components/radios">radios</a> or <a href="/design-system/components/checkboxes">checkboxes</a>.</p>
<div class="nhsuk-inset-text app-wcag-inset-text app-wcag-22" id="wcag-avoid-information-reentry" role="note">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <strong class="nhsuk-tag nhsuk-u-margin-bottom-2">WCAG 2.2</strong>
  <p>Make sure to only ask for a piece of information once within a single journey. Whenever possible, do not ask a user to re-enter information they've already provided. This is to comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/redundant-entry.html">WCAG 2.2 success criterion 3.3.7 Redundant entry (W3C)</a>.</p>
  <p>If the same type of information is needed more than once, make it easier to reuse previously entered answers by:</p>
  <ul>
    <li>pre-populating the relevant fields</li>
    <li>showing carried-forward responses as an option for the user to select</li>
  </ul>
</div>

<h4 id="continue-button">Continue button</h4>
<p>Make sure your Continue button is:</p>
<ul>
  <li>labelled "Continue", not "Next"</li>
  <li>aligned to the left so users do not miss it</li>
</ul>

<h3 id="using-legends-labels-and-captions">Using legends, labels and captions</h3>

<p>For single question pages, using a <code>&lt;legend&gt;</code> or <code>&lt;label&gt;</code> as the page heading is good practice as it means that screen reader users will only hear the contents once. (Use a legend for a group or set of elements as a whole and a label for a specific element, like a text input.)</p>
<p>Read more about why and how to <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/">make labels and legends headings (on&nbsp;GOV.UK)</a> or see the examples below.</p>

<p>Here's an example of a question page with a legend as the page heading.</p>

  {{ designExample({
    group: "patterns",
    item: "question-pages",
    type: "legend-page-heading"
  }) }}

<p>This is an example of a question page with a label as the page heading.</p>

  {{ designExample({
    group: "patterns",
    item: "question-pages",
    type: "label-page-heading"
  }) }}

<p>Do not use the same page heading across multiple pages. The page heading should relate specifically to the information being asked for on the current page, not any higher-level section the page is part of.</p>
<p>If you need to show the high-level section, you can use an <code>nhsuk-caption</code> style. See <a href="/design-system/styles/typography#headings-with-captions">headings with captions (on the Typography page)</a>.</p>
<p>In this example, the heading has the caption "About you" above it.</p>

  {{ designExample({
    group: "patterns",
    item: "question-pages",
    type: "section-caption",
    htmlOnly: true
  }) }}

<h3 id="helping-users-answer-questions">Helping users answer questions</h3>
<h4 id="hint-text">Using hint text</h4>
<p>Use <a href="/design-system/components/hint-text">hint text</a> to show information that helps the majority of users answer the question, like how their information will be used or where to find it.</p>

<h4 id="asking-complex-questions-without-using-hint-text">Asking complex questions without using hint text</h4>
<p>If you're asking a question that needs a detailed explanation, use:</p>
<ul>
  <li>an <code>&lt;h1&gt;</code> heading that's a statement (for example, "If we need to contact you") rather than a question</li>
  <li>whatever mix of text, paragraphs, lists and examples best explains your question to users</li>
  <li>a label, above the form input, that asks users a specific question, for example, "Do you have any communication needs?"</li>
</ul>

  {{ designExample({
    group: "patterns",
    item: "question-pages",
    type: "complex-question"
  }) }}

<h3 id="asking-multiple-questions-on-a-page">Asking multiple questions on a page</h3>
<p>Sometimes it makes sense to group related questions on the same page. For example, if you're designing an internal service for staff who need to repeat and switch between tasks quickly.</p>
<p>If you need to ask for multiple related things on a page, use a statement as the heading.</p>
<p>You can style each <code>&lt;legend&gt;</code> or <code>&lt;label&gt;</code> to make the questions easier to scan. Read more about why and how to <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/#styling-options-for-labels-and-legends">style labels and legends headings (on&nbsp;GOV.UK)</a>.</p>

  {{ designExample({
    group: "patterns",
    item: "question-pages",
    type: "multiple-questions"
  }) }}

<h3 id="using-progress-indicators">Using progress indicators</h3>
<p>Start by testing your form without a progress indicator to see if it's simple enough that users do not need one.</p>
<p>Try improving the order, type or number of questions before adding a progress indicator. If people still have difficulty, try adding a simple step or question indicator like this one.</p>

  {{ designExample({
    group: "patterns",
    item: "question-pages",
    type: "progress-indicator",
    htmlOnly: true
  }) }}

<p>Only include the total number of questions if you can do so reliably. As the user moves through the form, make sure the indicator updates to tell them which question they are on and the total number remaining.</p>
<p>Do not use progress indicators, like this one, that show all the questions at once.</p>

<figure class="nhsuk-image app-image app-image--border nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-5">
  <img class="nhsuk-image__img app-image__img app-u-full-width" src="/assets/progress-indicator.png" alt="Design of a progress indicator listing each question with a big red cross though it, to show that we shouldn't use this design.">
</figure>

<p>These can be problematic because they:</p>
<ul>
  <li>are often not noticed</li>
  <li>take up lots of space</li>
  <li>do not scale well on small screens</li>
  <li>can distract and confuse some users</li>
  <li>make it hard to write good labels for the steps</li>
  <li>make it hard to handle conditional sections</li>
</ul>

<h3>Using range sliders</h3>
<div class="nhsuk-inset-text app-wcag-inset-text app-wcag-22" id="wcag-interact-without-click-drag-task" role="note">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <strong class="nhsuk-tag nhsuk-u-margin-bottom-2">WCAG 2.2</strong>
  <p>Avoid using range slider questions, where the user needs to click and drag a selector across a range of answers or values. These types of controls are difficult for some users to interact with.</p>
  <p>If you do use a range slider, you must provide a method for selecting an answer that does not rely on click and drag movements. This relates to <a href="https://www.w3.org/WAI/WCAG22/Understanding/dragging-movements.html">WCAG 2.2 success criterion 2.5.7 Dragging movements (W3C)</a>.</p>
</div>

{% endblock %}
