/* ==========================================================================
   #APP READING WIDTH
   ========================================================================== */

/**
 * Constrains text on a full width page
 */

@include mq($from: desktop) {
  .app-component-reading-width {

    h1 {
      max-width: 14.5em;
    }

    h2 {
      max-width: 22em;
    }

    h3,
    .nhsuk-lede-text,
    .nhsuk-body-l {
      max-width: 29em;
    }

    h4 {
      max-width: 32em;
    }

    p,
    ul,
    ol,
    .nhsuk-details {
      max-width: 37em;
    }

    .nhsuk-body-s {
      max-width: 47em;
    }

    .app-example,
    .nhsuk-table,
    .app-colour-list,
    .app-example--image,
    .app-pre,
    .nhsuk-image__img {
      max-width: 44em;
    }

    .app-tabs,
    .nhsuk-pagination__list {
      max-width: 100%;
    }

  }
}
