/* ==========================================================================
   #BETA-BANNER
   ========================================================================== */

.app-beta__content {
  @include nhsuk-responsive-margin(5, 'bottom');
  @include nhsuk-responsive-padding(2, 'bottom');
  @include nhsuk-responsive-padding(2, 'top');

  border-bottom: 1px solid $nhsuk-border-color;
  border-top: 1px solid $nhsuk-border-color;
  margin-top: -24px;
  display: table;
  width: auto;

  @include mq($until: desktop) {
    margin-top: -8px;
  }

  .app-beta__tag {
    display: block;
    margin-right: nhsuk-spacing(2);
  }
}

.app-beta__text {
  @include nhsuk-font($size: 16, $line-height: 1.2);
  display: table-cell;
  vertical-align: baseline;
}
