.rich-text code {
  background-color: $color_nhsuk-white;
  color: #d14; // sass-lint:disable-line no-color-hex no-color-literals
  font-size: 1rem;
  padding: 4px 8px;
}

.rich-text-code code {
  background-color: $color_nhsuk-white;
  color: $color_nhsuk-purple;
  font-size: 1rem;
  padding: 4px 8px 0 0;
}

.code-snippet__preformatted {
  align-items: flex-end;
  border-bottom: 1px solid $color_nhsuk-grey-4;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.hljs {
  background-color: $color_nhsuk-white;
  color: $color_nhsuk-black;
  display: block;
  overflow-x: scroll;
  padding: 0;
}

.hljs.css .hljs-selector-class,
.hljs.css .hljs-selector-tag,
.hljs.css .hljs-keyword {
  color: $color_nhsuk-purple;
}

.app-tabs__container pre {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-color: $color_nhsuk-white;
  padding: 0;
}

