.colour-item__swatch {
  background-color: $color_nhsuk-grey-5;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.colour-item__heading {
  color: $color_nhsuk-black;
  margin-top: 10px;
}
