/* ==========================================================================
   #COLOUR SWATCH
   ========================================================================== */

/**
 * Custom table for the colour palette
 */

.app-colour-list {
  margin-top: 0;

  th,
  td {
    border: 0;
  }
}

.app-colour-list__swatch {
  background-color: $color_nhsuk-grey-5;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: nhsuk-spacing(6);
  margin-right: nhsuk-spacing(2);
  vertical-align: middle;
  width: nhsuk-spacing(6);

  @include mq($until: tablet) {
    height: nhsuk-spacing(4);
    left: 0;
    position: absolute;
    width: nhsuk-spacing(4);
  }
}

.app-colour-list__column {
  padding-left: 0;
  padding-top: 0;
  vertical-align: middle;

  @include mq($until: tablet) {
    display: block;
    padding-left: nhsuk-spacing(5);
    position: relative;
  }
}

.app-colour-list__column--name {
  font-weight: normal;

  @include mq($until: tablet) {
    padding-bottom: nhsuk-spacing(1);
    padding-top: nhsuk-spacing(2);
  }
}

.app-colour-list__column--colour {
  @include mq($until: tablet) {
    padding-bottom: nhsuk-spacing(1);
  }
}

.app-colour-list__swatch--border {
  border: 1px solid $nhsuk-border-color;
}
