/* ==========================================================================
   #EXAMPLE-CALLOUT
   ========================================================================== */

.app-example {
  @include top-and-bottom;
  @include nhsuk-responsive-margin(5, 'bottom');
  @include nhsuk-responsive-margin(3, 'top');
  @include nhsuk-responsive-padding(5, 'bottom');
  @include nhsuk-responsive-padding(5, 'left');
  @include nhsuk-responsive-padding(5, 'right');
  @include nhsuk-responsive-padding(7, 'top');

  border: 1px solid $color_nhsuk-grey-3;
  position: relative;
}

.app-example__heading {
  background: $color_nhsuk-grey-1;
  border: 0;
  left: -1px;
  position: absolute;
  top: -1px;
}

.app-example + h2 {
  @include nhsuk-responsive-padding(4, 'top');
}

.app-example + h3 {
  @include nhsuk-responsive-padding(2, 'top');
}

.app-example--white {
  background: $color_nhsuk-white;
}

// Image example
.app-example--image {
  @include nhsuk-responsive-margin(4, 'bottom');

  & + h2 {
    @include nhsuk-responsive-padding(4, 'top');
  }
}
