/* ==========================================================================
   #FEATURED-LIST
   ========================================================================== */

/**
 * Styled list for design principles and service standard
 */

.featured-list {
  list-style: none;
  margin: nhsuk-spacing(4) 0 nhsuk-spacing(5);
  padding-left: 0;
}

@include mq($from: tablet) {
  .featured-list {
    margin: nhsuk-spacing(6) 0 nhsuk-spacing(5);
  }
}

.featured-list--item {
  margin-bottom: nhsuk-spacing(5);
}

@include mq($from: tablet) {
  .featured-list--item {
    display: -ms-flexbox; // sass-lint:disable-line no-duplicate-properties
    display: flex; // sass-lint:disable-line no-duplicate-properties
    margin-bottom: nhsuk-spacing(6);
    padding-left: nhsuk-spacing(9);
  }
}

.featured-list--item__content {
  max-width: 99.99%;
}

.featured-list--item__number {
  display: none;
  font-weight: $nhsuk-font-bold;
  margin-bottom: nhsuk-spacing(3);
}

@include mq($from: tablet) {
  .featured-list--item__number {
    display: block;
    left: - nhsuk-spacing(9);
    margin: 0;
    position: absolute;
  }
}

.featured-list--item__number--mobile {
  display: block;

  @include mq($from: tablet) {
    display: none;
  }
}

.featured-list--item__heading {
  -ms-flex-align: center;
  align-items: center;
  border-top: nhsuk-spacing(1) solid $color_nhsuk-blue;
  display: -ms-flexbox; // sass-lint:disable-line no-duplicate-properties
  display: flex; // sass-lint:disable-line no-duplicate-properties
  margin-top: 0;
  padding-top: nhsuk-spacing(3);
  position: relative;
}

@include mq($from: tablet) {
  .featured-list--item__heading {
    padding-top: nhsuk-spacing(5);
  }
}
