/* ==========================================================================
   #FOOTER
   ========================================================================== */

/**
 * Custom features for the service manual footer
 */

.app-ogl-footer {
  background-color: $color_nhsuk-grey-4;
}

.app-ogl-footer--text {
  @include nhsuk-font(16);
  @include nhsuk-responsive-padding(5, 'bottom');

  color: $color_nhsuk-grey-1;
  margin-bottom: 0;
  padding-bottom: nhsuk-spacing(4);

  svg {
    margin-right: nhsuk-spacing(2);
    position: relative;
    top: 2px;
  }

}
