.nhsuk-footer {
  @include nhsuk-responsive-padding(4, bottom);
}

.ogl-footer {
  background-color: $color_nhsuk-grey-4;
}

.ogl-text {
  @include nhsuk-font(16);
  color: $color_nhsuk-grey-1;
  margin-bottom: 0;
  padding-bottom: nhsuk-spacing(4);

  svg {
    margin-right: nhsuk-spacing(2);
    position: relative;
    top: 2px;
  }

}
