.nhsuk-a-z-list--results-items {
  @include nhsuk-responsive-margin(9, 'bottom');
}

.nhsuk-a-z-list--results-items .nhsuk-back-to-top-link {
  display: inline-block;
  margin-top: 16px;
  padding-left: 12px;
  position: relative;
}

@media (min-width: 40.0625em) {
  .nhsuk-back-to-top-link {
    font-size: 19px;
  }
}

.nhsuk-a-z-list--results-items .nhsuk-back-to-top-link:visited {
  color: $color_nhsuk-blue;
}

.nhsuk-a-z-list--results-items .nhsuk-back-to-top-link .nhsuk-icon {
  fill: $color_nhsuk-blue;
  height: 19px;
  left: -8px;
  position: absolute;
  top: 4px;
  transform: rotate(270deg);
  width: 19px;
}

.nhsuk-icon__arrow-right {
  fill: $color_nhsuk-blue;
}

.nhsuk-a-z-list--results-items h2 {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  display: inline-block;
  padding: 8px 16px;
}
