/* ==========================================================================
   #HEALTH-A-Z
   ========================================================================== */

/**
 * Custom style for the content style guide
 */

.app-style-guide-a-z {

  .nhsuk-a-z-list--results-items {
    @include nhsuk-responsive-margin(9, 'bottom');
  }

  .nhsuk-back-to-top__link {
    margin-left: 0;
  }

  h2 {
    background: $color_nhsuk-blue;
    color: $color_nhsuk-white;
    display: inline-block;
    padding: nhsuk-spacing(2) + $nhsuk-box-shadow-link;
  }

}
