.nhsuk-section {
  padding-bottom: 48px;
  padding-top: 48px;
}

@media (min-width: 40.0625em) {
  .nhsuk-section {
    padding-bottom: 72px;
    padding-top: 72px;
  }
}

.nhsuk-section--white {
  background-color: $color_nhsuk-white;
}
