/* ==========================================================================
   #IMAGES
   ========================================================================== */

.app-image--border {
  border: 1px solid $color_nhsuk-grey-3;
  width: 100%;
}
