@use '../vendor/nhsuk-frontend' as *;

/* ==========================================================================
   #RELATED-NAV
   ========================================================================== */

.nhsuk-related-nav {
  border-top: 2px solid $color_nhsuk-blue;

  @include nhsuk-media-query($until: desktop) {
    margin-top: nhsuk-spacing(7);
  }
}

.nhsuk-related-nav__heading {
  @include nhsuk-font-size(26, $line-height: 1.2);

  margin-bottom: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(3);
}

.nhsuk-related-nav__heading--small {
  @include nhsuk-font-size(19);
}

.nhsuk-related-nav__list {
  list-style: none;
  margin-bottom: nhsuk-spacing(3);
  padding-left: nhsuk-spacing(0);
}

.nhsuk-related-nav__item {
  @include nhsuk-font-size(16);
}

.nhsuk-related-nav__sub-heading {
  @include nhsuk-responsive-margin(2, 'bottom');
  @include nhsuk-responsive-padding(2, 'top');
  @include nhsuk-font-size(19, $line-height: 1.2);
}
