/* ==========================================================================
   #RELATED-NAV
   ========================================================================== */

.nhsuk-related-nav {
  border-top: 2px solid $color_nhsuk-blue;

  @include mq($until: desktop) {
    margin-top: nhsuk-spacing(7);
  }
}

.nhsuk-related-nav__heading {
  @include nhsuk-typography-responsive(24, $override-line-height: 1.2);

  margin-bottom: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(3);
}

.nhsuk-related-nav__heading--small {
  @include nhsuk-typography-responsive(19);
}

.nhsuk-related-nav__list {
  list-style: none;
  margin-bottom: nhsuk-spacing(3);
  padding-left: nhsuk-spacing(0);
}

.nhsuk-related-nav__item {
  @include nhsuk-typography-responsive(16);
}

.nhsuk-related-nav__sub-heading {
  @include nhsuk-responsive-margin(2, 'bottom');
  @include nhsuk-responsive-padding(2, 'top');
  @include nhsuk-typography-responsive(19, $override-line-height: 1.2);
}
