/* ==========================================================================
   #TAG
   ========================================================================== */

.nhsuk-tag {
  @include nhsuk-font($size: 16, $weight: bold, $line-height: 1);
  background-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  display: inline-block;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: nhsuk-spacing(1);
  padding-left: nhsuk-spacing(2);
  padding-right: nhsuk-spacing(2);
  padding-top: nhsuk-spacing(1);
  text-decoration: none;
  text-transform: uppercase;
}

.nhsuk-tag--dark-grey {
  background-color: $color_nhsuk-grey-1;
}
