/* ==========================================================================
   #TEXT-ALIGNMENT
   ========================================================================== */

.nhsuk-text-align-centre {
  text-align: center;
}

.nhsuk-text-align-left {
  text-align: left;
}

.nhsuk-text-align-right {
  text-align: right;
}
