/* ==========================================================================
   #UTILITIES
   ========================================================================== */

.app-u-border-top {
  border-top: 2px solid $color_nhsuk-blue;
  margin-top: 8px;

  h3 {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

}

// Hide content on mobile
.app-u-hide-mobile {
  @include mq($until: desktop) {
    display: none;
  }
}

// Hide content on desktop
.app-u-hide-desktop {
  @include mq($from: desktop) {
    display: none;
  }
}

// Make content full width of its parent container
.app-u-full-width {
  max-width: 100% !important; // sass-lint:disable-line no-important */
  width: 100% !important; // sass-lint:disable-line no-important */
}
