{% from "card/macro.njk" import card %}

{% set cardDescriptionHtml %}
  <p>Go to <a href="#">NHS 111 online</a> or <a href="#">call 111</a></p>
{% endset %}

{{ card({
  heading: {
    text: "If you need help now, but it's not an emergency",
    level: 3
  },
  description: {
    html: cardDescriptionHtml
  }
}) }}
