{% set pageTitle = "CCC Contacts" %}
{% set pageDescription = "Who to contact for CCC queries." %}
{% set pageSection = "TRG" %}
{% set landingPage = true %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}


{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}



        <div class="nhsuk-table-responsive">

          <table class="nhsuk-table">


            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Area</th>
              <th class="nhsuk-table__header" scope="col">Lead</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/dccc">Data</a></td>
              <td class="nhsuk-table__cell">Michael Williams</td>
              <td class="nhsuk-table__cell"><a href="mailto:m.williams41@nhs.net">m.williams41@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/development">Development</a></td>
              <td class="nhsuk-table__cell">Chris Walters</td>
              <td class="nhsuk-table__cell"><a href="mailto:chris.walters@nhs.net">chris.walters@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Andrew Blundell</td>
              <td class="nhsuk-table__cell"><a href="mailto:andrew.blundell@nhs.net">andrew.blundell@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Daniel Stefaniuk</td>
              <td class="nhsuk-table__cell"><a href="mailto:daniel.stefaniuk@nhs.net">daniel.stefaniuk@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">David Lavender</td>
              <td class="nhsuk-table__cell"><a href="mailto:david.lavender@nhs.net">david.lavender@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Nick Sparks</td>
              <td class="nhsuk-table__cell"><a href="mailto:nick.sparks@nhs.net">nick.sparks@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/EA">Enterprise Architecture</a></td>
              <td class="nhsuk-table__cell">Danny Solomon</td>
              <td class="nhsuk-table__cell"><a href="mailto:dannysolomon@nhs.net">dannysolomon@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/infrastructure">Infrastructure</a></td>
              <td class="nhsuk-table__cell">Neal Lilly</td>
              <td class="nhsuk-table__cell"><a href="mailto:neal.lilly@nhs.net">neal.lilly@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Iain McConachie</td>
              <td class="nhsuk-table__cell"><a href="mailto:iain.mcconachie@nhs.net">iain.mcconachie@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Steve Comer</td>
              <td class="nhsuk-table__cell"><a href="mailto:steve.comer@nhs.net">steve.comer@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/iccc">Interoperability</a></td>
              <td class="nhsuk-table__cell">Tim Coates</td>
              <td class="nhsuk-table__cell"><a href="mailto:tim.coates@nhs.net">tim.coates@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/lss">Service Management</a></td>
              <td class="nhsuk-table__cell">Andrew Coates</td>
              <td class="nhsuk-table__cell"><a href="mailto:andrew.coates2@nhs.net">andrew.coates2@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Ian Cooke</td>
              <td class="nhsuk-table__cell"><a href="mailto:ian.cooke@nhs.net">ian.cooke@nhs.net</a></td>
             </tr>
              <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Rob Marsh</td>
              <td class="nhsuk-table__cell"><a href="mailto:robert.marsh2@nhs.net">robert.marsh2@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/sccc">Security</a></td>
              <td class="nhsuk-table__cell">Peter Barrett</td>
              <td class="nhsuk-table__cell"><a href="mailto:peter.barrett4@nhs.net">peter.barrett4@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Sadi Sengel</td>
              <td class="nhsuk-table__cell"><a href="mailto:sadi.sengel@nhs.net">sadi.sengel@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/saccc">Solution Assurance</a></td>
              <td class="nhsuk-table__cell">N/A</td>
              <td class="nhsuk-table__cell">Currently covered by Service Management CCC</td>
            </tr>
             <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/sus">Sustainability</a></td>
              <td class="nhsuk-table__cell">Andy Bray</td>
              <td class="nhsuk-table__cell"><a href="mailto:andy.bray1@nhs.net">andy.bray1@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/ua">Usability and Accessibility</a></td>
              <td class="nhsuk-table__cell">Michael Cheung</td>
              <td class="nhsuk-table__cell"><a href="mailto:michaelcheung@nhs.net">michaelcheung@nhs.net</a></td>
            </tr>

            </tbody>
          </table>
{% endblock %}
