{% set pageTitle = "Enterprise Architecture" %}
{% set pageDescription = "Focused on ensuring alignment with our architecture principles." %}
{% set pageSection = "TRG" %}
{% set subSection = "Technical Review Group" %}
{% set landingPage = false %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}


{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}


 <p>The role of the EA CCC is to ensure that submissions are aligned with our Architecture Principles.</p>
        <p>The EA CCC will also:</p>
        <ul>
        <li>Ensure that opportunities to reuse existing services or external products and/or services have been investigated before the development of new products or services</li>
        <li>Ensure that and new technologies being introduced are included within the Tech Radar.</li>
        </ul>
        <p>It is recommended to engage with the EA CCC as early as possible in the process of drafting your TRG submission.</p>
        <h3>What evidence will they be looking for in your submission?</h3>
        <ul>
          <li>Has your solution been modelled in Archimate within Aalto?</li>
          <li>For new services does the submission include evidence as to why there were no suitable existing in-house or market based products/services?</li>
        </ul>

<section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mailto:dannysolomon@nhs.net">Who can I contact about Enterprise Architecture</a></h2>
              <p class="nhsuk-card__description">Danny Solomon<br>dannysolomon@nhs.net</p>
            </div>
          </div>
        </li>

      </ul>
        </section>
{% endblock %}
