{% set pageTitle = "Interoperability CCC" %}
{% set pageDescription = "Concerning the integration of systems and the communication and movement of data between them." %}
{% set pageSection = "TRG" %}
{% set landingPage = true %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}

{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}

  <p>The Interoperability CCC is concerned primarily with submissions that involve the integration of systems and the communication and movement of data between them. Ensuring that when this is the case it’s done in a standards-based way using appropriate integration patterns.</p>
        <p>This would include APIs and interfaces when connecting systems together – assessing what you plan to use, re-use or build and what the potential security implications are. They are also concerned with the associated patterns of integration, e.g. messaging solutions, events, publish subscribe systems. A submission regarding the transmission of clinical data between systems would need to be reviewed by the Interoperability CCC.</p>
        <p>It is recommended to engage with the Interoperability CCC as early as possible in the process of drafting your TRG submission.</p>
        <h3>What evidence will they be looking for in your submission?</h3>
        <ul>
          <li>Have you engaged with the IOPS team to ensure the appropriate standards are being used?</li>
          <li>Is the title of your submission clear and relevant as to what you’re looking to get approval for? Will it be clear to the Interoperability CCC if your submission is relevant to them?</li>
        </ul>
<section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mailto:tim.coates@nhs.net">Who can I contact for more information</a></h2>
              <p class="nhsuk-card__description">Tim Coates<br>tim.coates@nhs.net</p>
            </div>
          </div>
        </li>

      </ul>
        </section>
{% endblock %}
