{% set pageTitle = "The CCCs explained" %}
{% set pageDescription = "There are ten Cross-Cutting Concerns (CCCs) – Data, Development, Enterprise Architecture, Infrastructure, Interoperability, Service Management, Security, Solution Assurance, Sustainability and Usability and Accessibility." %}
{% set pageSection = "TRG" %}
{% set subSection = "Technical Review Group" %}
{% set landingPage = false %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}


{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}


      <p>They will look to gauge your awareness of and alignment to policies and standards and your consideration and engagement with each of these areas within your proposed programme/activity. They may require further information.</p>
        <p>The CCC owner will review what is on the portal and will either approve, ignore (if it isn’t relevant), reject or ask questions for clarification. It is your responsibility to respond to any CCC questions or concerns in a timely manner to ensure no delays at TRG.</p>
        <p>It is intended that a CCC owner raising a query via the portal will trigger an offline conversation with the submitter, with only the final resolution being uploaded to the portal for information.</p>
        <p>We would recommend that you engage each CCC that is relevant to your project as early as possible in the process of writing your submission.</p>
        <p>With the benefit of their experience, they may be able to save both time and investment as they have visibility of all projects going through the TRG.  They can identify duplication in current submissions that may provide learning for your own project and will know if a similar solution has already been designed to meet the same objective(s).</p>

{% endblock %}
