{% set pageTitle = "Security CCC" %}
{% set pageDescription = "Assessing the cyber security posture of anything new coming through the TRG." %}
{% set pageSection = "TRG" %}
{% set landingPage = true %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}

{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}

 <p> The role of the Security CCC is to assess the cyber security posture of anything new coming through the TRG.
          This will include understanding whether or not anyone from the DSC’s S3 (Specialist Security Services) team has been engaged in the drafting of the submission,
          whether risk assessments have been carried out, and if any measures have been proposed to moderate or control any identified risks.</p>
       <p>There are a number of documents that it is helpful to complete in the process of drafting a submission:</p>
        <ul>
          <li>The <a href="http://unifiedregister"/>SLSP</a> (System Level Security Policy), which includes for example - information relating to the architecture being used, which version, access (internal vs external), security testing, data encryption and disaster recovery.</li>
          <li>If you plan to use cloud technologies, the <a href="https://hscic365.sharepoint.com/ICT/Pages/Infra/Cloud-Risk-Assessment.aspx?csf=1&web=1&e=73riZQ&cid=23005bcb-a6ed-4db7-b5a4-f5f9ca62cd20"/> Cloud Risk Data Assessment</a>, which will classify your requirement from 1 to 5 (5 being in the most need of protection), based on the type and scale of data being stored, as well as the persistence (long or short-term use). It will then advise the type of controls relevant to each classification.</li>
        </ul>
        <p>As an organisation, the strategic direction is to cloud host all solutions where possible. Where your solution is locally hosted, as a result of security or legacy, early engagement with the S3 team at the Data Security Centre is again key as they can walk you through the more bespoke requirements.</p>
        <h3>What evidence will they be looking for in your submission?</h3>
        <ul>
          <li>Have you engaged directly with anyone in the S3 team for advice when drafting your submission?</li>
          <li>Have you completed a <a href="https://hscic365.sharepoint.com/ICT/Pages/Infra/Cloud-Risk-Assessment.aspx?csf=1&web=1&e=73riZQ&cid=23005bcb-a6ed-4db7-b5a4-f5f9ca62cd20"/> Cloud Risk Data Assessment?</a></li>
          <li>Have you proposed any controls to moderate identified risks, and if not, have you detailed a robust rationale?</li>
        </ul>

<section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mailto:peter.barrett4@nhs.net">Who can I contact for more information</a></h2>
              <p class="nhsuk-card__description">Peter Barrett<br>peter.barrett4@nhs.net</p>
            </div>
          </div>
        </li>

      </ul>
        </section>
{% endblock %}
