{% set pageTitle = "Service Management CCC" %}
{% set pageDescription = "Concerned with assessing the design and readiness of any new service prior to sign-off." %}
{% set pageSection = "TRG" %}
{% set landingPage = true %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}

{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}


 <p>The Live Services Service Management CCC are responsible for assessing the design and readiness of any new service prior to sign-off.</p>
        <p>They manage NHS England Live Services, which underpin all areas of health and care, to ensure that they are available when clinicians, patients and social care users need them and that their performance remains aligned to business need. This spans internally operated services and those that NHS England has procured third parties to deliver and operate on its behalf.</p>
        <p>They also have a key role in ensuring that new and significantly changed services are fit for purpose and use, by helping delivery teams to complete the necessary steps to ensure that they are viable, supportable and suitable to 'wear' the NHS England logo. This is called their Pipeline Process and can be triggered by a Live Services New Work Request (NWR).</p>
        <h3>Live Services New Work Request (NWR):</h3>
        <p>All new work package requests requiring Service Management input, should be logged via the Live Service New Work Request (NWR) form:</p>
        <p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=slTDN7CF9UeyIge0jXdO4xQv16X0-Z1Ip82TwtxhY5JUQThFS1dPN0FESDc4Sjg5RjlYSzBEQkNDSC4u">Live Service New Work Request</a></p>

        <p>The request will then be forwarded on to Live Services and be reviewed and progressed.</p>
        <p>Any new service submissions to TRG have to be approved by the Live Services SM Board which includes meeting the six criteria listed below:</p>
          <p>SM1 - PGSB Service Categorisation</p>
          <p>SM2 - All PGSB Service category agreed with Live Service</p>
          <p>SM3 - Engagement with LS will take place via NWR</p>
          <p>SM4 - Service offering/service Design will be agreed with LS level of detail increases through the design life cycle</p>
          <p>SM5 - All Go Lives must be approved by SM Board</p>
          <p>SM6 - SM Tooling Platform - ServiceNow SM</p>
        <h3> What evidence will they be looking for in your submission?</h3>
        <ul>
          <li>Have you engaged with anyone in the Service Management team for advice when drafting your submission? This should ideally happen as early as possible in the process.</li>
          <li>Similarly, it is advisable to raise a NWR (new work request) as early as possible.</li>
        </ul>

<section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mailto:andrew.coates2@nhs.net">Who can I contact for more information</a></h2>
              <p class="nhsuk-card__description">Andrew Coates<br>andrew.coates2@nhs.net</p>
            </div>
          </div>
        </li>

      </ul>
        </section>
{% endblock %}
