{% set pageTitle = "Solutions Assurance CCC" %}
{% set pageDescription = "They have an over-arching view of all solution proposals, assessing compliance and whether it can be therefore be assured against all agreed standards." %}
{% set pageSection = "TRG" %}
{% set landingPage = true %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}


{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "trg/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}

 <p>The Solution Assurance CCC review submissions to the TRG with an over-arching view as to whether the solution proposal is robust and compliant, to a degree that it can be assured against all agreed standards and statutory obligations.</p>
        <p>Solution Assurance is responsible for ensuring effective, safe and secure integration with other systems, and will help you to identify potential issues early on in the process to prevent problems later.</p>
        <p>Examples of considerations they will look for in a proposed solution include:</p>
        <ul>
          <li>Does it take into account volumetrics and disaster recovery failure?</li>
          <li>Can they ascertain confomance with machine process file interfaces?</li>
          <li>Does it include functional test support and the capability to intercept content or make content available to look at both generically and specifically?</li>
        </ul>
        <p>They can guide you in identifying key risks and potential issues and propose mitigations during the development process through to go live. Key is to ensure that your solution is supportable through testing, and assurable when it does goes live.</p>
        <h3>What evidence will they be looking for in your submission?</h3>
        <ul>
          <li>Is your proposal clear to everyone, both within and outside your team? For example, if it includes acronyms, are they supported with a glossary?</li>
          <li>Is it clear how test and development is supported through the integration?</li>
          <li>Have risks been identified in terms of unwanted defects, and have mitigations been proposed, whether from an internal or external supplier, that can be assessed, i.e. is there evidence that the risks can be controlled to an acceptable degree?</li>
        </ul>

<section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mailto:andrew.coates2@nhs.net">Who can I contact for more information</a></h2>
              <p class="nhsuk-card__description">Andrew Coates<br>andrew.coates2@nhs.net</p>
            </div>
          </div>
        </li>

      </ul>
        </section>
{% endblock %}
