{% set pageTitle = "Usability" %}
{% set pageDescription = "Concerned with the design of consistent, usable services, that meet the needs of the end-user, be that the public or staff, and comply with legal responsibilities around accessibility." %}
{% set pageSection = "TRG" %}
{% set subSection = "Technical Review Group" %}
{% set landingPage = false %}
{% set beta = true %}
{% set hideContact = "true" %}


{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

<p>The role of the Usability and Accessibility CCC is to ensure that all of the services built by NHS England have the user’s needs at the core – to design consistent, usable services that put people first. The key is to build a system that’s simple to use.</p>
        <p>This also includes meeting legal responsibilities around accessibility, specifically the Equality Act 2010, Public Sector Equality Duty and the 2018 EU Accessibility legislation. Will it meet the needs of people with different physical, mental health, social, cultural or learning needs, be they the public or staff? Is it straightforward for those who lack the skills or confidence to use the internet day to day?</p>
        <p>Whilst this CCC is focused on the experience of the end-user, it’s crucial that they are engaged at the start of the process, to ensure that any relevant service or change is built in an efficient and cost-effective way, that will ultimately serve its stated purpose for the end-user.</p>
        <h3>What evidence will they be looking for in your submission?</h3>
          <ul>
            <li>Where the service or the change will be experienced by an end-user, be that the public or NHS staff, they will look to see if any research has been conducted with the potential user. This includes proving the need and evidencing that your solution meets it.</li>
            <li>Has this research been used in the design process, putting the user at the centre to ensure the creation of a simple and straightforward service?</li>
            <li>Will it meet the legal responsibilities around accessibility, e.g. ensuring that it’s accessible for blind or disabled users for example, and can it be used as effectively on a mobile device as on a desktop?
            <li>All new public sector websites and digital services must meet WCAG 2.1 to AA level.</li>
        </ul>

<section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mailto:michaelcheung@nhs.net">Who can I contact about Enterprise Architecture</a></h2>
              <p class="nhsuk-card__description">Michael Cheung<br>michaelcheung@nhs.net</p>
            </div>
          </div>
        </li>

      </ul>
        </section>
{% endblock %}
