{% from "search-input/macro.njk" import searchInput %}

{{ searchInput({
  label: {
    text: "Search",
    size: "s"
  },
  name: "example",
  id: "example",
  classes: "nhsuk-input--width-10"
}) }}
