{% from "search-input/macro.njk" import searchInput %}

{{ searchInput({
    label: {
        text: "Search",
        size: "s"
    },
    name: "example",
    id: "example",
    classes: "nhsuk-u-width-full",
    formGroup: {
        classes: "nhsuk-u-width-one-half"
    }
}) }}