{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/information-architecture-guidance",
      text: "Information architecture guidance"
    }
  ],
  href: "/information-architecture-guidance/about-ia",
  text: "About IA",
  classes: "app-breadcrumb"
}) }}
