{% set pageTitle = "What is IA" %}
{% set pageDescription = "Information architecture (IA) is the structural design of information. It is about organising and labelling websites and other digital products to help users find and use content and services." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "information-architecture-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>The components of a good IA</h2>
  <p>Well-structured, tagged content is easier to navigate, search and manage.</p>
  <p>IA underpins the user experience. It helps users with:</p>
  <ul>
    <li>placemaking –</li>
    <li>orientation – knowing where they are in the website</li>
    <li>navigation – finding their way to other parts of the website</li>
    <li>search – finding things that are not immediately obvious through other IA elements</li>
  </ul>

  <h2>IA in action on the NHS website</h2>
  <p>NHS.UK teams are transforming the IA of the NHS website to help users find the content they need. Some of our teams have written blog posts about how they have used this IA guidance.</p>
  <h3>Blog posts</h3>
  <ul>
  <li>Mental health</li>

  <li>Pregnancy</li>

  <li>Medicines</li>
  </ul>

  <h3>Get in touch with the IA team</h3>
  <p>If your team is undertaking an IA transformation, the dedicated IA team can support you.</p>
  <p><a href="">Get in touch</a></p>






{% endblock %}
