{% from "heading/macro.njk" import heading %}

{{ heading({
  text: "What is AMD?",
  caption: {
    html: '<span class="nhsuk-u-visually-hidden"> – </span>' ~
      "Age-related macular degeneration (AMD)",
    placement: "end"
  },
  size: "xl"
}) }}
