{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Hint text" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use hint text to help users understand a question." %}
{% set theme = "Form elements" %}
{% set dateUpdated = "November 2025" %}
{% set backlog_issue_id = "17" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {{ designExample({
    group: "components",
    item: "hint-text",
    type: "checkboxes"
  }) }}

  <h2 id="how-to-use-hint-text">How to use hint text</h2>
  <p>Use hint text to show information that helps the majority of users answer the question. Use it to <a href="/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form#give-users-help-in-context">give users help in context</a>.</p>
  <p>Keep each hint to a single short phrase or sentence, without full stops.</p>
  <p>If you need to give a long, detailed explanation, do not use hint text. Screen readers will read out the entire text when users interact with the form element. This could frustrate users if the text is long.</p>
  <p>Do not use links in hint text. While screen readers will read out the link text, they usually do not tell users the text is a link.</p>
  <p>Do not use other interactive elements such as the <a href="/design-system/components/details">details component</a> in hint text. When screen reader users are in "form mode", they are unable to interact with the link in the component.</p>

  <h3 id="text-input-with-hint-text">Text input with hint text</h3>

  {{ designExample({
    group: "components",
    item: "hint-text",
    type: "input"
  }) }}

  <h3 id="radios-with-hint-text">Radios with hint text</h3>

  {{ designExample({
    group: "components",
    item: "hint-text",
    type: "radios"
  }) }}

  <h3 id="radio-items-with-hints">Radio items with hints</h3>
  <p>You can add hints to radios to give more information about the options.</p>

  {{ designExample({
    group: "components",
    item: "hint-text",
    type: "radio-item-with-hints"
  }) }}

  <h3 id="checkboxes-with-hint-text">Checkboxes with hint text</h3>
  <p>Unlike with <a href="/design-system/components/radios">radios</a>, users can select more than 1 option from a list of <a href="/design-system/components/checkboxes">checkboxes</a>. Do not assume that users will know how many options they can select.</p>

  {{ designExample({
    group: "components",
    item: "hint-text",
    type: "checkboxes"
  }) }}

  <h3 id="textarea-with-hint-text">Textarea with hint text</h3>

  {{ designExample({
    group: "components",
    item: "hint-text",
    type: "textarea"
  }) }}

{% endblock %}
