
{% set pageTitle = "About technical specifications" %}
{% set pageSection = "Standards and technical specifications" %}
{% set subSection = "Technical specifications" %}
{% set pageDescription = "The technical specifications section is designed to help teams reuse common technical tools and technologies to build health and care products." %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "standards-and-technical-specifications/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <p>For a tool or technology to be added to <a href="/standards-and-technical-specifications/service-standard-points/11-choose-the-right-tools-and-technology">section 11 of the NHS digital service standard</a> it must:</p>
  <ul>
    <li>have a clear onboarding process for integration into a product or service</li>
    <li>be well documented, including support information for developers and users</li>
    <li>have a transparent and robust assurance process</li>
    <li>support national standards</li>
  </ul>
  <p>NHSX's System Design Authority (SDA) approves their inclusion in the service manual.</p>

  <p>The first tools to be included are:</p>
  <ul>
    <li><a href="/standards-and-technical-specifications/technical-specifications/authenticate-identity-NHS-login">NHS login</a></li>
    <li><a href="/standards-and-technical-specifications/technical-specifications/manage-patient-demographic-data-PDS">the Personal Demographics Service (PDS)</a></li>
  </ul>

  <p>Both are long-standing services developed in support of national standards.</p>

  <p>We're very interested in hearing what you think about the NHS standards section of the service manual and how it might, or might not, help you develop digital services in health.</p>
  <p><a href="mailto:service-manual@nhs.net">Email us</a> or get in touch on the <a href="/slack">service manual Slack channel</a>.</p>

{% endblock %}
