{% from "textarea/macro.njk" import textarea %}

{{ textarea({
  name: "example-right-size",
  id: "example-right-size",
  rows: "3",
  label: {
    text: "Provide a reason for continuing"
  },
  hint: {
    text: "Explain the clinical decision for continuing despite a recent mammogram"
  }
}) }}
