{% set pageTitle = "Communication channels for messages" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "You will sometimes be able to choose what communication channel to use to message a patient. It is important to understand the costs and benefits of each channel."%}
{% set subSection = "Messaging patients" %}
{% set dateUpdated = "March 2024" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "content/messaging-patients/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">
  {{ backLink({
  "href": "/content",
  "text": "Content guide",
  "classes": "app-u-hide-mobile app-side-nav__back nhsuk-u-margin-bottom-4"
  }) }}
  <h2 class="app-side-nav__heading">Messaging patients</h2>
  <ul class="nhsuk-list app-side-nav__list">
    <li class="app-side-nav__item app-side-nav__item--current">
      <a class="app-side-nav__link" href="/content/messaging-patients/communication-channels-for-messages">Communication channels for messages</a>
      <ul class="app-side-nav__list app-side-nav__list--nested">
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#app-messages">App messages</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#text-messages">Text messages</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#emails">Emails</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#paper-letters">Paper letters</a></li>
      </ul>
    </li>
    <li class="app-side-nav__item">
      <a class="app-side-nav__link" href="/content/messaging-patients/send-accessible-messages">Send accessible and inclusive messages</a>
    </li>
    <li class="app-side-nav__item">
      <a class="app-side-nav__link" href="/content/messaging-patients/send-messages-that-are-appropriate-and-relevant">Send messages that patients trust</a>
    </li>
    <li class="app-side-nav__item">
      <a class="app-side-nav__link" href="/content/messaging-patients/send-messages-that-patients-trust">Send messages that are appropriate and relevant</a>
    </li>
    <!-- out of scope for this version 
    <li class="app-side-nav__item">
      <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
    </li>
    <li class="app-side-nav__item">
     <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
    </li>
    <li class="app-side-nav__item">
      <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
    </li> -->
  </ul>
</nav>
{% endblock %}

{% block bodyContent %}
<!-- Add your content here -->
<p class="nhsuk-body-l">Most messaging service suppliers will not let you choose the channel for a batch message to multiple patients.</p>
<p class="nhsuk-body-l">Avoid sending the same message using more than one channel at the same time. This can overwhelm patients. It also increases costs for the NHS.</p>
{% include "content/messaging-patients/_side-nav-mobile.njk" %}

<h2>Send messages that patients can understand</h2>
<p class="nhsuk-body">Some patients will have a recorded communication need. This could be related to a disability, impairment or sensory loss. You must send them messages in a format they can access.</p>
<p><a href="/content/messaging-patients/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
<h2 id="app-messages">App messages</h2>
<p>Sending a message through the NHS App is free and secure. It also means patients can manage all their healthcare information in one place.</p>
<p><a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service">Find out more about the benefits of NHS App messaging</a></p>   
<h3>How to send messages through the NHS App</h3>
<p>Your messaging service supplier may already offer NHS App messaging.<a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service#:~:text=and%20interactive%20elements.-,Getting%20started,-Speak%20to%20your">Find out more about getting started with NHS App messaging</a>.</p>
<p>Patients need to download the NHS App and turn on their notifications. This is so they can see that you have sent them an app message. <a href="https://digital.nhs.uk/services/nhs-app/toolkit/nhs-app-messaging-promotional-materials">Find resources to promote NHS App messaging, including example text message templates</a>.</p>
<p>Do not send an app message the tell the patient anything urgent.</p>
<h3>If a patient does not see an app message</h3>
<p>If a patient does not see an app message notification or read the message, it will automatically be sent by text message, email or letter.</p>
<p>Each messaging service supplier will have a different channel send order and timescales. Speak to your supplier to find out more.</p>
<h3>Keep app messages as short as possible</h3>
<p>If a patient does not read an app message, it might be sent as a text message. Keep messages as short as possible to avoid unnecessary costs.</p>
<h2 id="text-messages">Text messages (SMS)</h2>
<p>Sending text messages costs the NHS millions of pounds each year.</p>
<p>Encourage your patients to download the <a class="app-side-nav__link" href="#app-messages">NHS App</a>, so you can send more messages using this channel. Or check if you could send an <a class="app-side-nav__link" href="#emails">email</a> instead. Both these channels are free.</p>   
<p>If you try to send a text message and it is not delivered to the patient, you will still pay for it.</p> 
<p>Regularly check that the mobile numbers you have for patients are up to date.</p>
<p>You could also run a report in your clinical system to try and find any mobile numbers that are not in a valid format. For example, they could be too long or too short.</p>
<!-- Out of scope for first iteration
<p>Text messages should only be sent if:</p>
<ul>
  <li>the patient does not have the NHS App</li>
  <li>you are requesting information that is needed quickly</li>
  </ul>
    <h3>Example uses of text messages</h3>
    <p>Urgent requests for the patient:</p>
  <ul>
    <li>to send a photo to a clinician</li>
    <li>to join a video consultation</li>
    <li>to complete a form or send a document</li>
  </ul>-->
<h3>Make your text messages shorter</h3>
<p>You should keep text messages as short as possible. But make sure you include all the information the patient needs to know.</p>
<p>The <a href="https://service-manual.nhs.uk/content/how-we-write">How we write section of our content guide</a> can help you to write messages that are clear and concise.</p>
<h4>Use fewer fragments</h4>
<p>Text messages are split into chunks called fragments.</p>
<ul>
  <li>160 characters is 1 fragment.</li>
  <li>306 characters is 2 fragments.</li>
  <li>459 characters is 3 fragments.</li>
  <li>Each additional 153 characters is another fragment.</li>
</ul>  
<p>Each fragment costs about 2 pence.</p>  
<p>If you go 1 character over a fragment limit, you are charged for another fragment. For example:</p>  
<ul>
  <li>306 characters will be 2 fragments and cost about 4 pence</li>
  <li>307 characters will be 3 fragments and cost about 6 pence</li>
</ul>
<p>Check how many fragments your templates use. Remove any words that are not needed, for example COVID-19 guidance.</p>
<h4>Other ways to shorten text messages</h4>
<p>You can also reduce the length of your text messages by:</p>
<ul>
  <li>only using spaces and line breaks where you need to (spaces are 1 character and line breaks are 2 characters)</li>
  <li>using well-known acronyms, for example "A&E", rather than "accident and emergency"</li>
  <li>only using signs and symbols, like brackets and quote marks, if the message would be hard to understand without them</li>
  <li>writing messages directly into your messaging software, rather than copying and pasting from Word (this can add hidden characters)</li>
</ul>
<p><a href="https://www.notifications.service.gov.uk/pricing/text-messages#symbols">Find out how signs, symbols and accented characters can increase text message fragments</a>.</p>
<h4>Make sure everyone can understand your text messages</h4>
<p>Reducing the length of your text messages is important. But it is more important that all patients can understand your messages.</p>
<p> You should:</p>  
<ul>
  <li>avoid using acronyms not everyone will be familiar with, for example "OTC" for "over the counter"</li>
  <li>avoid using abbreviations, for example "Mon" for "Monday", "Feb" for "February" or "appt" for "appointment"</li>
</ul>
<p><a href="/content/messaging-patients/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
<!-- Out of scope for first iteration
<p>Look at our <a href="/primary-care-em-toolkit/v4/suggested-wording-for-common-messages">suggested wording for common messages</a>, which have been tested with patients and are as short as possible.</p>-->
<h3>Links in text messages</h3>
<p>Not all patients with a mobile telephone number have a smartphone.</p>
<p>Give patients another way to respond if they are not able to follow the links in a text message.</p>
<p>If you include links in a text message, do not use a third-party link shortening service. They are not accessible for patients using assistive technology.</p>
<p>Patients also cannot tell whether a short link goes to a website they can trust, for example www.nhs.uk or www.gov.uk. <a href="/content/messaging-patients/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>
<h3>Frequency of appointment reminders</h3>
<p>Find out how many reminder messages you are sending for each appointment.</p>
<p>You might be sending reminders both 7 days and 24 hours before an appointment.</p> 
<p>If you are, consider switching off the 7 day reminders for a while. Monitor your did not attend (DNA) rates to see if not sending these reminders has any impact.</p>
<h2 id="emails">Emails</h2>
<p>Sending an email is free. It can be more convenient and accessible than a paper letter.</p>
<p>Patients may also prefer to have information emailed to them if they need to forward it to someone else, for example a fit note (sick note).</p>   
<h3>Make your emails accessible</h3>
<p>Make sure that everyone can understand your emails. This includes people who use a screen reader to read the written content out loud or display it in Braille.</p>
<p>You should:</p>
<ul>
  <li>write in plain English and avoid acronyms and abbreviations</li>
  <li>use a subject line that explains what the email is about</li>
  <li><a href="https://service-manual.nhs.uk/content/links">make sure any links will make sense if someone reads them out of context</a></li>
</ul>
<p><a href="/content/messaging-patients/send-accessible-messages">Find out more about sending accessible and inclusive messages.</a></p>
<!-- Out of scope for first iteration
<h3>Example uses of email</h3>
<ul>
  <li>Appointment confirmations when there is a lot of information the patient needs to know, like any specific things they need to do before the appointment.</li>
  <li>Copies of letters, for example from a consultant.</li>
  <li>Patient information leaflets</li>
</ul>-->
<h3>Help patients to trust your emails</h3>
<p>Your email could end up in a patient's junk folder or they might not trust it is from the NHS. <a href="/content/messaging-patients/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>
<h2 id="paper-letters">Paper letters</h2>
<p>Sending a paper letter using Royal Mail costs at least 75 pence. Consider whether you could send an <a class="app-side-nav__link" href="#app-messages">app message</a>, <a class="app-side-nav__link" href="#emails">email</a> or <a class="app-side-nav__link" href="#text-messages">text message</a> instead. These cost less and can be more convenient for patients.</p>   
<p>Do not send a paper letter to tell the patient anything urgent.</p>
<h3>Patient-focused letters</h3>
<p>Patients may find a letter useful if they could need to refer to the information in the future. For example, a summary of what has been discussed during a consultation.</p>
<p>Write any letters that a patient will see directly to them, rather than to another healthcare professional.</p>
<p>Follow the <a href="https://service-manual.nhs.uk/conten/how-we-write">How we write section of our content guide</a> to write clear, concise letters using plain English.</p>     
<p><a href="/content/messaging-patients/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
<h2>Create a communications policy</h2>
<p>Create a communications policy that outlines what types of messages you will send using each channel.</p>
<p>This will make your messaging more consistent for patients, so they know what to expect. It will also help you budget for messaging costs.</p> 
<p>NHS England has created a <a href="https://transform.england.nhs.uk/information-governance/guidance/template-email-and-text-message-communications/">template for email and text message communications</a>.</p>
{% endblock %}
