{% set pageTitle = "Send accessible and inclusive messages" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "Write and send messages that everyone can understand and make everyone feel included and respected." %}
{% set subSection = "Messaging patients" %}
{% set dateUpdated = "March 2024" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "content/messaging-patients/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<!-- Add your content here -->
{% include "content/messaging-patients/_side-nav-mobile.njk" %}

<h2>Make standard messages accessible</h2>
<p class="nhsuk-body">Aim to make all the text messages, emails and App messages you send accessible to people who:</p>
<ul>
  <li>use assistive technology, like a screen reader</li>
  <li>have a low level of literacy</li>
  <li>have low numeracy</li>
  <li>have a learning difficulty or autism</li>
  <li>have co-ordination difficulties</li>
  <li>do not speak English as their first language</li>
</ul>
<p>This will reduce the number of messages you need to send in alternative formats (also known as accessible formats).</p>
<p>Follow the <a href="/content/how-we-write">How we write section of our content guide</a> to write messages that are:</p>
<ul>
  <li>clear and in plain English, so someone with a reading age of 9 to 11 years can understand them</li>
  <li>concise, with short sentences and paragraphs</li>
  <li>in the active voice, not passive voice</li>
</ul>
{% from 'tables/macro.njk' import table %}

{{ table({
  panel: false,
  firstCellIsHeader: false,
  head: [
    {
      text: "A message that's easy to understand:"
    },
    {
      text: "A message that's difficult to understand:"
    }
  ],
  rows: [
    [
      {
        text: "You have a telephone appointment today. We cannot give you an exact time for the call, so keep your phone close by."
      },
      {
        text: "You have been booked in for a telephone consultation today and, due to it not being possible to specify an exact time, it is of the utmost importance you keep your phone in your vicinity."
      }
    ]
  ]
}) }}
<p>Specific pages of the content guide tell you how to:</p>
<ul>
  <li><a href="https://service-manual.nhs.uk/content/a-to-z-of-nhs-health-writing">use words and phrases that patients understand (A to Z)</a></li>
  <li><a href="https://service-manual.nhs.uk/content/formatting-and-punctuation">use formatting and punctuation</a></li>
  <li><a href="https://service-manual.nhs.uk/content/numbers-measurements-dates-time">write numbers, measurements, dates and times</a></li>
  <li><a href="https://service-manual.nhs.uk/content/links">use links</a></li>
</ul>
<p><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#words-to-avoid">The GOV.UK style guide A to Z also has a useful list of words to avoid, with plain English alternatives</a>.</p>
<p>The messages you send might include links to your website. <a href="https://www.england.nhs.uk/long-read/creating-a-highly-usable-and-accessible-gp-website-for-patients/">Find out how to make your website usable and accessible for patients (NHS England).</a></p>
<h3>How stress and trauma can affect understanding</h3>
<p>People experiencing stress and trauma may not understand things the same way they usually would.</p>
<div class="nhsuk-inset-text">
  <h3>Research insight</h3>
  <p>People experiencing stress and trauma cancelled appointments they wanted to reschedule. They were also more likely to think a "referral" was the same as an "appointment". </p>
</div>
<p>Many people will be stressed or experiencing trauma when reading messages related to their healthcare.</p>
<p>Messages need to:</p>
<ul>
  <li>be easy to scan</li>
  <li>tell people exactly what they need to do</li>
  <li>be as specific as possible, to reduce the chance of people misunderstanding</li>
</ul>
<h2>The Accessible Information Standard</h2>
<p>Anyone providing NHS care needs to follow the Accessible Information Standard.</p>
<p>It sets out how you must meet the communication needs of people with a disability, impairment or sensory loss.</p>
<p>This includes patients and service users, and their carers and parents.</p>
<h3>Who the Accessible Information Standard might apply to</h3>
<p>These are the patient codes that may mean the patient has a communication need:</p>
<ul>
  <li>registered blind or partially sighted</li>
  <li>hearing loss</li>
  <li>hearing aid user</li>
  <li>registered deaf</li>
  <li>sensori-neural deafness</li>
  <li>autistic spectrum disorder</li>
  <li>learning disability</li>
  <li>aphasia</li>
</ul>
<p>Base decisions on a patient's communication needs, rather than their diagnosis, where possible.</p>
<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>“If people cannot get information about their healthcare they understand, this can have a significant impact on their mental health and can lead to them missing doctor's appointments or taking the wrong medication, putting them in danger." – Healthwatch England </p>
</div>
<h3>Applying the Accessible Information Standard to messaging</h3>
<ol>
  <li>Ask people what format of messages they will be able to access and understand.</li>
  <li>Record these needs in a clear, unambiguous and standardised way.</li>
  <li>Flag these needs so they are easy to see when anyone accesses the record.</li>
  <li>Share these needs as part of existing data sharing processes. For example when referring a patient. They will then continue to receive accessible messages.</li>
  <li>Only send messages in a format that meets these needs. This includes any messages that are automatically generated.</li>
</ol>
<p><a href="https://www.england.nhs.uk/about/equality/equality-hub/patient-equalities-programme/equality-frameworks-and-information-standards/accessibleinfo">Find out more about the Accessible Information Standard (NHS England).</a></p>
<h2>Digital formats</h2>
<p>Many people with communication needs use assistive technology. For example, a screen reader to help them to understand written information.</p>
<p>A screen reader helps people who are blind or have a visual impairment to interact with electronic devices. The screen reader will read the written content out loud or can display the content in Braille.</p>
<p>Sending messages by email or text message will mean these people can use their preferred technology.</p> 
<h2>Alternative formats (accessible formats)</h2>
<p>Some people will need you to send messages in an alternative format. These are also called accessible formats.</p>
<p>People with a visual impairment may need:</p>
<ul>
  <li>large print</li>
  <li>Braille</li>
  <li>an audio file, sent by email or on a CD-ROM</li>
</ul>
<p>People with a learning disability or a low level of literacy may need:</p>
<ul>
  <li>Easy Read</li>
  <li>Makaton</li>
</ul>
<p>People who are Deaf or have hearing loss may need:</p>
<ul>
  <li>British Sign Language (BSL)</li>
  <li>Makaton</li>
  <li>textphone</li>
</ul>
<p>People with co-ordination difficulties may need:</p>
<ul>
  <li>large print</li>
  <li>audio</li>
  <li>telephone</li>
</ul>
<p><a href="https://www.gov.uk/government/publications/inclusive-communication/accessible-communication-formats">Find out more about alternative communication formats (GOV.UK).</a></p>
<h2>Use inclusive language</h2>  
<p>Use our content guide to create inclusive content about:</p>
<ul>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/age">age</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/disabilities-and-conditions">disabilities and conditions</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/ethnicity-religion-and-nationality">ethnicity, religion and nationality</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/sex-gender-and-sexuality">sex, gender and sexuality</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/skin-symptoms">skin symptoms</a></li>
</ul>
<p>There is also separate <a href="https://www.england.nhs.uk/learning-disabilities/about/get-involved/involving-people/making-information-and-the-words-we-use-accessible/">guidance about how to talk about people with a learning disability or autism (NHS England)</a>.</p>  
<h2>Translating message content into other languages</h2>
<p>Some patients may not understand written English. You should make all possible efforts to meet their communication needs.</p>
<ol>
  <li>Ask patients to tell you their preferred written language.</li>
  <li>Record this preference in their health record.</li>
  <li>Include this information when referring patients to other healthcare professionals.</li>
  <li>Translate message content into a patient's preferred language whenever possible.</li>
</ol>
<p>You should:</p>
<ul>
  <li>provide the original message to the translator in plain English</li>
  <li>consider if recording a spoken interpretation may be a better option if the person has a low level of literacy</li>
  <li>consider if visual content like images and diagrams may be more helpful</li>
  <li>consider if a phone call with a translator might be more appropriate if the message is important</li>
</ul>
<p>Avoid Google Translate and other automated online translation services. The translations could be poor quality.</p>
<p><a href="https://www.gov.uk/guidance/language-interpretation-migrant-health-guide">Find out more about language interpreting and translation for healthcare practitioners on GOV.UK.</a></p>
{% endblock %}
