{% from "card/macro.njk" import card %}

{{ card({
  href: "#",
  clickable: "true",
  heading: "Introduction to care and support",
  headingClasses: "nhsuk-heading-m",
  description: "A quick guide for people who have care and support needs and their carers"
}) }}
