{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Layout" %}
{% set pageDescription = "Structure your page content and elements." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "May 2020" %}
{% set backlog_issue_id = "3" %}

{% block beforeContent %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a>
      <ul class="app-side-nav__list app-side-nav__list--nested">
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#screen-size">Screen size</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#containers">Containers</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#main-content">Main content</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#grid">Grid system</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#width-override-classes">Width override classes</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#layouts">Common layouts</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#utility-classes">Layout utility classes</a></li>
      </ul>
    </li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/use-frutiger-font">Use the NHS Frutiger font</a></li>

  </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2 id="screen-size">Screen size</h2>
  <p>Design for mobile first using a single-column layout and work up to wider layouts. Most visitors to the NHS website are on a mobile device, so it's our first consideration.</p>
  <p>The default maximum page width is 960px, but you can make it wider if your content requires it. But lines of text content should be no longer than 70 to 80 characters so that it's easy to read.</p>

  <h3>Responsive breakpoints</h3>
  <ul>
    <li>mobile: 320px</li>
    <li>tablet: 641px</li>
    <li>desktop: 769px</li>
    <li>large desktop: 990px</li>
  </ul>

  <h2 id="containers">Containers</h2>
  <p>To set up your layout, you will need to create 2 wrappers. The first wrapper is a container which sets the maximum width of the content but does not add any vertical margin or padding.</p>
  <p>You can choose from a fixed-width container (960px) or a fluid-width container (which spans the entire width of the viewport).</p>

  <h3>Container</h3>
  <p class="rich-text">Use <code>.nhsuk-width-container</code> for a container with a maximum width of 960px.</p>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "default",
    htmlOnly: true,
    showExample: false
  }) }}

  <h3>Fluid container</h3>
  <p class="rich-text">Use <code>.nhsuk-width-container-fluid</code> for a full width container, spanning the entire width of the viewport.</p>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "fluid",
    htmlOnly: true,
    showExample: false
  }) }}

  <h2 id="main-content">Main content</h2>
  <p class="rich-text">The second wrapper is a <code>main</code> element with the class <code>.nhsuk-main-wrapper</code>, which gives responsive padding to the top and bottom of the page and will be the wrapper for the main content of the page.</p>
  <p class="rich-text">There should be only one <code>main</code> element and it should have a unique id of <code>maincontent</code>, which allows keyboard-only users to skip to the main content on a page with the <a href="/design-system/components/skip-link">skip link component</a>.</p>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "main",
    htmlOnly: true,
    showExample: false
  }) }}

  <p class="rich-text">The vertical padding can be made larger or smaller by using the modifier classes <code>.nhsuk-main-wrapper--l</code> or <code>.nhsuk-main-wrapper--s</code>. We recommend using smaller vertical padding on transactional services.</p>

  <h2 id="grid">Grid system</h2>
  <p class="rich-text">The grid is structured with a <code>.nhsuk-grid-row</code> wrapper which acts as a row to contain your grid columns.</p>
  <p class="rich-text">You can add columns inside this wrapper to create your layout. To define your columns, add the class beginning with <code>.nhsuk-grid-column-</code> to a new container followed by the width, for example <code>.nhsuk-grid-column-one-third</code>, to make it the width you want.</p>

  <h3>Full width</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "full-width",
    htmlOnly: true
  }) }}

  <h3>One-half</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "one-half",
    htmlOnly: true
  }) }}

  <h3>Two-thirds</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "two-thirds",
    htmlOnly: true
  }) }}

  <h3>One-third</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "one-third",
    htmlOnly: true
  }) }}

  <h3>Three-quarters</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "three-quarters",
    htmlOnly: true
  }) }}

  <h3>One-quarter</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "one-quarter",
    htmlOnly: true
  }) }}

  <h3>Nested grids</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "nested",
    htmlOnly: true
  }) }}

  <h2 id="width-override-classes">Width override classes</h2>
  <p>If you need to constrain the width of an element independently of the grid system, you can use width override classes.</p>
  <p class="rich-text">The width override classes start with <code>nhsuk-u-</code>. The second part of the class name indicates the width on larger screen sizes.
  <p>For example:</p>
  <ul>
    <li><p class="rich-text"><code>nhsuk-u-width-one-half</code>  will apply a width of 50% and</p></li>
    <li><p class="rich-text"><code>nhsuk-u-width-two-thirds</code> will apply a width of 66.66%.</p></li>
  </ul>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "width",
    htmlOnly: true
  }) }}

  <h2 id="layouts">Common layouts</h2>

  <h3 id="fixed-example">Two-thirds in a fixed-width container</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "two-thirds-container",
    htmlOnly: true
  }) }}

  <h3 id="fluid-example">One-third / two-thirds in a fluid-width container</h3>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "one-third-container-fluid",
    htmlOnly: true
  }) }}

  <h2 id="utility-classes">Layout utility classes</h2>

  <h3>Reading width</h3>
  <p>To make it easy to read, lines of text should be no longer than 70 to 80 characters.</p>
  <p class="rich-text">When using the fluid-width container or wider grid columns, wrap text content with <code>.nhsuk-u-reading-width</code> to apply a maximum width and limit the number of characters per line.</p>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "reading-width",
    htmlOnly: true
  }) }}

  <h3>Tablet and mobile specific grid classes</h3>
  <p>By default, grid columns sizes will go to 100% width of the container on screen sizes below the desktop breakpoint (769px). These utility classes will enforce column widths on all screen sizes.</p>
  <p class="rich-text">To define your column sizes, add the utility class <code>.nhsuk-u-</code> followed by the width to an existing grid column, for example <code>.nhsuk-u-one-half</code> will set your column width to be one-half on all screen sizes.</p>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "tablet-mobile",
    htmlOnly: true
  }) }}

  <h3>Tablet specific grid classes</h3>
  <p>These utility classes will enforce column widths on screen sizes above the mobile breakpoint (320px).</p>
  <p class="rich-text">To define your column sizes, add the utility class <code>.nhsuk-u-</code> followed by the width and the suffix <code>-tablet</code> to an existing grid column. For example, <code>.nhsuk-u-one-third-tablet</code> will set your column width to be one-third on screen sizes tablet and above.</p>

  {{ designExample({
    group: "styles",
    item: "layout",
    type: "tablet",
    htmlOnly: true
  }) }}

{% endblock %}
