{% from "date-input/macro.njk" import dateInput %}

{{ dateInput({
  id: "dob-errors",
  fieldset: {
    legend: {
      text: "What is your date of birth?",
      classes: "nhsuk-label--l",
      isPageHeading: true
    }
  },
  hint: {
    text: "For example, 15 3 1984"
  },
  errorMessage: {
    text: "Enter your date of birth"
  },
  items: [
    {
      name: "day",
      classes: "nhsuk-input--width-2 nhsuk-input--error"
    },
    {
      name: "month",
      classes: "nhsuk-input--width-2 nhsuk-input--error"
    },
    {
      name: "year",
      classes: "nhsuk-input--width-4 nhsuk-input--error"
    }
  ]
}) }}
