{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Using AI at work" %}
{% set pageDescription = "Summary?" %}
{% set pageSection = "AI and digital services" %}
{% set dateUpdated = "September 2026" %}

{% block beforeContent %}
  {% include "ai-and-digital-services/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<p><code>Why do we have principles that differ from GOV's? Do we want to explain that these are principles that the NHS UCD community has devised. Read them alongside <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#principles">GOV principles</a>?</code></p>
  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">1</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>
          Follow policy and guidance <code>rather vague</code>.
        </h2>
        <p>This includes NHS user-centred design best practices, principles, and standards. <code>What are they? Can we link? Examples NHS service standard and design principles? And GOV playbook?</code></p>
        <p><code>See GOV principles re being lawful, ethical, secure.</code>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">2</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">2</span>
          Learn continuously.
        </h2>
        <p>Develop your skills in using AI, for example by learning prompt strategies. Understand AI's limitations.</p>
        <p><code>Compare GOV principles 1, 9 and 10.</code></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">3</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">3</span>
          Document your use of AI.
        </h2>
        <p>Record how and where you used AI in your research and design process. Be transparent.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">4</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">4</span>
          Improve but do not replace human processes.
        </h2>
        <p>AI cannot take responsibility for decisions or outcomes. You are accountable for all the outputs AI generates.</p>
        <p><code>See GOV principle about human control.</code></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">5</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">5</span>
          Use your human judgement, empathy, and contextual awareness.
        </h2>
        <p>Do not rely on AI for key human tasks, such as interviewing people or making recommendations.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">6</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">6</span>
          Check your AI outputs.
        </h2>
        <p>Fact-check and sense-check outputs before you share or use them. Make sure they are suitable, inclusive and not biased.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">7</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">7</span>
          Measure costs, including environmental impact.
        </h2>
        <p>AI tools generally consume more energy than traditional methods. (See: <a href="http://unep.org/news-and-stories/story/ai-has-environmental-problem-heres-what-world-can-do-about">UNEP AI has an environmental problem</a>.) <code>Not sure this is a good source for us to link to. Can we summarise?</code></p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">8</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">8</span>
          Use real primary user data and verifiable secondary sources.
        </h2>
        <p>Evidence is a key part of the user-centred design process. Avoid AI-generated data from unknown sources.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">9</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">9</span>
          Share your learning.
        </h2>
        <p>Share best practice openly and generously with peers to build collective knowledge.</p>
        <p><code>See GOV point about open and collaborative.</code></p>
      </div>
    </li>
</ol>

<h2>Risks of using AI</h2>

<p>Using AI for user research or design raises a number of risks and issues.</p>
<h3>Not being able to understand or explain outputs</h3>
<p>AI outputs can be difficult to interpret. This can reduce the credibility of your work. For example, code generated by an AI tool may work, but contain vulnerabilities.</p>

<h3>Lack of transparency</h3>
<p>We often cannot verify what data the AI was trained on or how its algorithm works. We may not understand how it reached its conclusions or if this happened based on the data we fed it in our query. <code>Isn't this the same issue as above?</code></p>

<h3>Risk of inaccurate information</h3>
<p>AI may provide false or misleading outputs (known as “hallucinations”), and it can be hard to assess their reliability. Gen AI models predict and generate content by determining the most likely subsequent pattern based on previous training. They are very good at generating plausible predictions that look right but may not actually be correct. <code>Similar point to above?</code></p>

<h3>Bias and inappropriate content</h3>
<p>AI reflects or amplifies biases present in training data. This means its outputs may be discriminatory, offensive, or not inclusive. AI may not always follow accessibility and inclusion best practices, even if trained or prompted to do so.</p>

<h3>Potential disconnect from reality</h3>
<p>If you are relying primarily on AI for your analysis, you may not develop deep familiarity with the data. This makes it harder to interpret findings accurately, articulate meaningful recommendations, and present them convincingly to stakeholders. As UCD professionals, fully understanding your underlying data is an essential part of our work.</p>

<h3>High financial cost</h3>
<p>Procuring, building, and maintaining AI tools can be expensive.</p>

<h3>Environmental impact</h3>
<p>AI consumes significant energy and resources. When making the decision to use AI, consider whether you can justify this impact. Always use AI purposefully rather than casually.</p>
<p><code>We have a principle around cost, including environmental cost. Should this guidance go there?</code></p>

<h3>Exposing confidential or personal information</h3>
<p>Entering sensitive data into AI tools can result in data breaches, violating NHS data protection policy and legislation.</p>

<h3>Using non-approved tools</h3>
<p>Non-approved tools may process, store, or use data in ways that are not secure or compliant. They may lack necessary guardrails, increasing risk of data loss, privacy breaches, or legal issues. Do not input sensitive data into or use outputs from unknown sources. <code>Mention CoPilot?</code></p>

<h3>Legal or compliance risks</h3>
<p>AI models may be trained on unlicensed content generating copyright risks for the NHS. <code>There are probably other legal risks.</code></p>

<h3>Skills gaps and deterioration</h3>
<p>When you rely on AI tools without proper training, you risk poor outcomes, laziness or data breaches. Also you may lose your UCD skills through lack of practice.</p>

 
<h2>Benefits of using AI</h2>

<p>Using AI for research and design offers a number of advantages when applied responsibly.</p>

<h3>Saving time</h3>
<p>AI can automate repetitive tasks, freeing you to focus on high-value activities such as sharing findings, influencing decisions, and advocating for recommendations with stakeholders.</p>

<h3>Reducing human error</h3>
<p>AI can help minimise manual mistakes by checking consistency in coding and flagging errors or things that are unexpected.</p>

<h3>Improving clarity and consistency in write-ups</h3>
<p>AI can help with proofreading, correcting grammatical errors, and making sure that we use a consistent tone and terminology across reports and presentations.</p>

<h3>Scaling analysis</h3>
<p>AI can process large volumes of qualitative or quantitative data quickly, making it easier to have a draft overview of potential outputs in complex projects or tight timelines.</p>

<h3>Generating new ideas</h3>
<p>AI can support brainstorming and critical thinking by suggesting alternative perspectives, highlighting patterns, and surfacing connections that might not be immediately obvious.</p>


{% endblock %}