{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Using AI in digital services" %}
{% set pageDescription = "Summary?" %}
{% set pageSection = "AI and digital services" %}
{% set dateUpdated = "September 2026" %}

{% block beforeContent %}
  {% include "ai-and-digital-services/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p>If you use AI technology in your service, you must do so in ways that:</p>
<ul>
    <li>are safe for users and protect their data</li>
    <li>are as environmentally sustainable as possible</li>
    <li>keep your service secure</li>
</ul>
<p>Services that use AI need to meet the same standards as services using other technology.</p>

<p>There is separate guidance on <a href="https://ai.gov.uk/knowledge-hub/how-to/how-to-use-ai-at-work/">using AI at work on GOV.UK</a> <code>How does this relate to the guidance we'll be publishing?</code></p>

<h2 id="deciding-whether-to-use-ai">Deciding whether to use AI</h2>
<p>The alpha phase is where you test different solutions to the problems identified in discovery. This might include experimenting with emerging technologies such as AI.</p>
<p>When choosing technology, consider what best meets user needs and addresses the problems you've identified. More established technologies might solve the problem better than AI. Only use AI where there is clear evidence of a user need.</p>
<p><code>New </code>Interactions that use AI must be fully accessible to all your users.</p>
<p>Continue to validate your technology choices throughout the service lifecycle.</p>

<h2 id="tell-users-when-ai-is-being-used">Tell users when AI is being used</h2>
<p>Users do not always need to know what technology or software is used in a service to be able to access it. However, if you use AI in your service, you must make it clear to users:</p>
<ul>
    <li><code>New</code> that you are using AI and what for</li>
    <li>how it might affect their data</li>
    <li>how it might affect the outcome or information they receive from the service</li>
</ul>
<p>If you use an AI-powered chatbot, you must make sure users:</p>
<ul>
    <li>understand that the answers they receive do not come from a human and might not be accurate</li>
    <li><code>New</code> understand the reasoning behind the AI response</li>
</ul>
<p><code>New </code>Any error messages must take account of the user's situation and give them an appropriate alternative way to proceed.</p>
<p><code>New paragraph </code>Your privacy statement must clearly explain:</p>
<ul>
    <li>how you use AI in your service</li>
    <li>where any data is stored</li>
    <li>that the user has a right to withdraw</li>
</ul>
<h2 id="make-sure-your-service-is-accurate">Make sure your service is accurate</h2>
<p>Your service and related guidance must be accurate and meet user needs. This includes information provided by AI.</p>
<p>You must make sure that users:</p>
<ul>
    <li>receive accurate information</li>
    <li>are protected from bias</li>
    <li>know how to contact a human being <code>New </code>or access a more traditional input</li>
    <li><code>New </code>can feed back any inaccuracies</li>
    <li><code>New </code>have simple controls to correct the AI if it's incorrect or goes off track</li>
    <li><code>New </code>have a fallback option if AI does not give them a meaningful response</li>
</ul>
<p>Your service owner must understand the technology being used, the risks of using it and how to mitigate these.</p>
<p>Someone on your team must be able to explain your service's use of AI.</p>

<h2 ="involve-cyber-security-professionals">Involve cyber security professionals</h2>
<p>Emerging technologies can introduce new security risks. You must consult a security professional to make sure that:</p>
<ul>
    <li>users' data is protected</li>
    <li>your service stays secure</li>
</ul>
<p>Read the <a href="https://www.security.gov.uk/policy-and-guidance/">Government Security policy, standards and guidance</a>.</p>

<h2 id="monitor-and-iterate-continuously">Monitor and iterate continuously</h2>
<p>Emerging technologies are likely to change frequently. This means it's particularly important to keep monitoring and iterating services that use AI technology throughout their lifecycle.</p>
<p>You should be prepared to stop using AI technology in your service if needed.</p>


{% endblock %}