{% set pageTitle = 'Community' %}
{% set pageSection = 'Community' %}
{% set pageDescription = 'The NHS digital service manual is for everyone. It has a strong cross-NHS community behind it. It includes the latest research, design and development to represent and be relevant for its users.' %}
{% set landingPage = 'true' %}
{% set contributors = 'false' %}


{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

[content tba]

  <div class="app-index-navigation">
    {% include 'includes/side-nav.njk' %}
  </div>

{% endblock %}
