{% set pageTitle = 'Community' %}
{% set pageDescription = 'The NHS service manual is for everyone. It has a strong cross-NHS community behind it. It includes the latest research, design and development to represent and be relevant for its users.' %}
{% set pageSection = 'Community' %}
{% set landingPage = 'true' %}
{% set hideDescription = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

  <p>{{pageDescription}}</p>

  <p>Find out:</p>
  <ul>
    <li>how to <a href="/service-manual/community/propose-new-thing">propose a new component or pattern</a></li>
    <li>how to <a href="/service-manual/community/work-new-thing">develop a new component or pattern</a></li>
    <li>what people are currently working on in the <a href="/service-manual/community/backlog">community backlog</a></li>
  </ul>

  <p>To make sure everything in the service manual is of high quality, contributions need to meet the following <a href="/service-manual/community/contribution-criteria">contribution criteria</a>.</p>

  <div class="app-index-navigation app-hide-desktop">
    {% include 'includes/side-nav.njk' %}
  </div>

{% endblock %}
