{% set pageTitle = 'Propose a content change using GitHub' %}
{% set pageSection = 'Community' %}
{% set pageDescription = 'The NHS digital service manual team uses a service called GitHub to manage content in the NHS digital service manual.' %}
{% set contributors = 'false' %}
{% set helpImprove = 'false' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

[content tba]

{% endblock %}
