{% set pageTitle = "IA design principles" %}
{% set pageDescription = "A set of principles to help us assess the quality of proposed NHS.UK information architectures and navigation structures." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>1. User-centred but machine-readable</h2>
  <p>Create an information architecture based on user needs, structured so as to be machine-readable.</p>
  <ul>
    <li>Group content in a way that mirrors users’ mental models of health & care</li>
    <li>Prioritise navigation options via users’ top tasks</li>
    <li>Test and validate with real people</li>
    <li>Ensure content structures are accessible to content syndicators</li>
        <ul>
            <li>External partners and other local or national NHS providers</li>
        </ul>
    <li>Ensure all appropriate content is accessible to Google and other internal and external search engines</li>
    <li>Use our content model to assist machine reading and user discovery</li>
  </ul>
  
  <h2>2. Robust & flexible</h2>
  <p>The IA must provide a solid foundation to build on over time</p>
  <ul>
    <li>We must do the basics well, including content models, navigation structures and search functionality</li>
    <li>The IA must be robust and flexible enough to accommodate new content as it is created</li>
    <li>Our IA should work for the service we want to be as well as the service we are right now</li>
  </ul>

  <h2>3. Effective routing & intuitive flow</h2>
  <p>Create a strong information trail for people to follow in order to find what they need. Content appears where people need it</p>
  <ul>
    <li>All content should be discoverable via navigation</li>
      <ul>
        <li>Users must be able to navigate to any page from the home page</li>
        <li>All pages must exist in navigation structures: no orphan pages</li>
        <li>Enable people to move not only up and down information hierarchies, but also sideways across vertical groupings</li>
      </ul>
    <li>Use labels people understand - plain English that “does what it says on the tin”</li>
      <ul>
        <li>No jargon, expert vocabulary or niche ‘brandnames’ exposed to users</li>
      </ul>
  </ul>

  <h2>4. Sense of context</h2>
  <p>People are aware where they are on the website and understand what information is available to them</p>
  <ul>
    <li>Users must be able to understand what NHS.UK is for and what it offers them</li>
    <li>Users must be able to understand where they are on the website and what information surrounds them</li>
  </ul>

  <h2>5. Discoverable content</h2>
  <p>There are multiple ways to get to the same information</p>
  <ul>
    <li>Users care more about topics than content types. Allow all content on the same topic to be easily discovered</li>
      <ul>
        <li>Where possible, group content on the same topic</li>
        <li>Provide clear cross-links when related content is not in the same group</li>
      </ul>
    <li>Provide multiple ways to get to the same content or accomplish the same goal. Our content model can inform available routes.</li>
      <ul>
        <li>Different users will have different finding strategies</li>
        <li>Different users will be in different information-seeking modes at different times</li>
        <li>Different users will be at different stages on their journey</li>
      </ul>
    <li>If we use an A-Z, it must be comprehensive</li>
  </ul>

  <h2>6. Clear next steps</h2>
  <p>Content clearly communicates next steps and how people can access services relevant to their needs</p>
  <ul>
    <li>Point users to any relevant next-steps</li>
      <ul>
        <li>Real-world NHS services - local or national</li>
        <li>Online NHS services</li>
        <li>Services provided by other organisations</li>
        <li>Appropriate seld care</li>
      </ul>
  </ul>

  <h2>7. Clarity, consistency, coherence</h2>
  <p>Use clear, consistent language across menus, headings, links and anywhere content is referenced</p>
  <ul>
    <li>Consistency in design, information structures and tone of voice helps users orient themselves</li>
    <li>Controlled vocabularies and content models help with consistency</li>
  </ul>

  <h2>8. Inclusive experience</h2>
  <p>The design caters for different users with different needs</p>
  <ul>
    <li>The NHS website is for everyone: ensure everyone has the ability to navigate the site</li>
      <ul>
        <li>People with accessibility needs</li>
        <li>People with low literacy or other difficulties reading</li>
        <li>People with low digital literacy</li>
        <li>People with low health literacy</li>
        <li>People on mobile devices</li>
        <li>People with poor internet connections</li>
        <li>People accessing the content via syndicators</li>
      </ul>
  </ul>

  <h2>Further reading</h2>
  <ul>
    <li>Accenture IA principles</li>
    <li>NHS design principles in the service manual</li>
  </ul>



{% endblock %}
