{% extends 'includes/layout.njk' %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}



{% block body %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/patterns",
  text: "Patterns and components"
}) }}


<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">

    <h1 class="nhsuk-u-margin-bottom-5">Patterns template</h1>
         <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Placeholder intro text, to be updated.</p>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



										
            <h2 >Code and design</h2>



            <div class="example grey-background nhsuk-u-margin-bottom-4">


                <!--PLACE MACRO HERE-->


            </div>

        


            <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/breadcrumb.html" rel="nofollow">Preview the breadcrumb component</a></p>
            <p><a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/breadcrumb" rel="nofollow">Get the HTML markup and Nunjucks macro for the breadcrumb component on GitHub</a> </p>

            <h2 class="nhsuk-u-margin-top-8">When to use breadcrumbs</h2>
                <p>Placeholder intro text, to be updated.</p>



            <h2>How to use breadcrumbs</h2>
                <p>Placeholder intro text, to be updated.</p>

            <h3>Accessibility</h3>
                <p>Placeholder intro text, to be updated.</p>

            <h2>Research</h2>
                <p>Placeholder intro text, to be updated.</p>

            <h2>Discuss</h2>
            <p>Discuss warning callouts on the <a href="">NHS.UK #standards Slack channel</a> or email the standards team at <a href="">service-manual@nhs.net</a>.</p>


  
{% from 'components/panel/macro.njk' import panel %}

{{ panel({
  "label": "Similar patterns",
  "HTML": "<ul>    
                            <li><a href='/examples/manual/header'>Header</a></li>
                            <li><a href='#'>Footer</a></li>
                        </ul>"
}) }}


    </div>


    <div class="nhsuk-grid-column-one-third">

<div class="eric-shame-in-this-section">
           <h3>Patterns</h3>
           <ul>
               <li><a href="#">Care cards</a></li>
               <li><a href="#">Do and Don't lists</a></li>
               <li><a href="#">Footer</a></li>
               <li><a href="/examples/manual/header">Header</a></li>
               <li><a href="#">Icons</a></li>
               <li><a href="#">Inset text</a></li>
               <li><a href="/examples/manual/warning-callout">Warning callout</a></li>
           </ul> 
        </div>


    </div>


  </div>      


  </main>
</div>
{% endblock %}
