{% extends 'includes/layout.njk' %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}



{% block body %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/patterns",
  text: "Patterns and components"
}) }}


<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">



    <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-u-margin-bottom-5">Patterns template</h1>
                <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Placeholder intro text, to be updated.</p>
            </div>
    </div> 

    

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



										
            <h2 >Code and design</h2>



            <div class="example grey-background nhsuk-u-margin-bottom-4">


                <!--PLACE MACRO HERE-->


            </div>

        


            <p><a href="#">Preview the template component</a></p>
            <p>You can <a href="#">get the latest template code</a> in the NHS frontend library in GitHub.</p>
            

            <h2>How to use </h2>
                <p>Placeholder intro text, to be updated.</p>

            <h3>Accessibility</h3>
                <p>Placeholder intro text, to be updated.</p>

            <h2>Research</h2>
                <p>Placeholder intro text, to be updated.</p>

            <h2>Discuss</h2>
            <p>Discuss warning callouts on the <a href="">NHS.UK #standards Slack channel</a> or email the standards team at <a href="">service-manual@nhs.net</a>.</p>


  
                    {% from 'components/panel/macro.njk' import panel %}

                    {{ panel({
                    "label": "Similar patterns",
                    "HTML": "<ul>    
                                <li></li>
                            </ul>"
                    }) }}


    </div>


    <div class="nhsuk-grid-column-one-third">

        <div class="eric-shame-in-this-section">
           <h3>Patterns</h3>
           <ul>
               <li><a href="/patterns/breadcrumbs">Breadcrumbs</a></li>
               <li><a href="/patterns/care-cards">Care cards</a></li>
               <li><a href="/patterns/do-and-dont-lists">Do and Don't lists</a></li>
               <li><a href="/patterns/footer">Footer</a></li>
               <li><a href="/patterns/header">Header</a></li>
               <li><a href="/patterns/icons">Icons</a></li>
               <li><a href="/patterns/inset-text">Inset text</a></li>
               <li><a href="/patterns/warning-callout">Warning callout</a></li>
           </ul> 
        </div>


    </div>


  </div>      


  </main>
</div>
{% endblock %}
