{% from "select/macro.njk" import select %}

{{ select({
  label: {
    text: "Sort by"
  },
  id: "sort-by",
  name: "sortBy",
  value: "recently-published",
  items: [
    {
      value: "recently-published",
      text: "Recently published"
    },
    {
      value: "recently-updated",
      text: "Recently updated"
    },
    {
      value: "most-views",
      text: "Most views"
    },
    {
      value: "most-comments",
      text: "Most comments"
    }
  ]
}) }}
