{% from "select/macro.njk" import select %}

{{ select({
  id: "select-1",
  name: "select-1",
  label: {
    text: "Choose region"
  },
  items: [
    {
      value: "east",
      text: "East of England"
    },
    {
      value: "london",
      text: "London",
      selected: true
    },
    {
      value: "midlands",
      text: "Midlands",
      disabled: true
    },
    {
      value: "yorkshire",
      text: "North East and Yorkshire"
    },
    {
      value: "northwest",
      text: "North West"
    },
    {
      value: "southeast",
      text: "South East"
    },
    {
      value: "southeast",
      text: "South West"
    }
  ]
}) }}
