---
previewLayout: design-example-wrapper-full
---

{% extends "layouts/design-example-wrapper-full-layout.njk" %}

{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "input/macro.njk" import input %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        {{ input({
          label: {
            text: "What is your home postcode?",
            isPageHeading: true,
            classes: "nhsuk-label--l"
          },
          classes: "nhsuk-input--width-10",
          id: "postcode",
          name: "postcode",
          autocomplete: "postal-code"
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
