{% from "input/macro.njk" import input %}

{{ input({
  label: {
  text: "20 character width"
  },
  id: "input-width-20",
  name: "inputWidth20",
  classes: "nhsuk-input--width-20"
}) }}
{{ input({
  label: {
  text: "10 character width"
  },
  id: "input-width-10",
  name: "inputWidth10",
  classes: "nhsuk-input--width-10"
}) }}
{{ input({
  label: {
  text: "5 character width"
  },
  id: "input-width-5",
  name: "inputWidth5",
  classes: "nhsuk-input--width-5"
}) }}
{{ input({
  label: {
  text: "4 character width"
  },
  id: "input-width-4",
  name: "inputWidth4",
  classes: "nhsuk-input--width-4"
}) }}
{{ input({
  label: {
  text: "3 character width"
  },
  id: "input-width-3",
  name: "inputWidth3",
  classes: "nhsuk-input--width-3"
}) }}
{{ input({
  label: {
  text: "2 character width"
  },
  id: "input-width-2",
  name: "inputWidth2",
  classes: "nhsuk-input--width-2"
}) }}
