{% set pageTitle = '2. Make sure you need each question'%}
{% set pageSection = 'Write good questions' %}
{% set pageDescription = 'Ask users as little as possible and help them understand why you&#39;re asking.' %}

{% extends 'includes/layout.njk' %}
{% from 'review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    },
    {
      href: "/service-manual/content",
      text: "Content style guide"
    }
  ],
    href: "/service-manual/content/write-good-questions",
    text: "Write good questions"

  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
     <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Ask users as little as possible and help them understand why you're asking.</p>
   </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
<h2>Keep, cut, postpone, explain</h2>
  <h3>Keep</h3>
  <p>If you’re asking for answers that your users are eager to give you, keep those questions.</p>
  <h3>Cut</h3>
  <p>If you’re asking for answers that you don’t need right now - or you don’t know how you'll use the information, cut the question.</p>
  <p>These sections on this page will help you do this:</p>
  <ul>
    <li><a href="#know-why-youre-asking-each-question">Know why you're asking each question</a></li>
    <li><a href="#decide-if-its-optional-or-not">Decide if it's optional or not</a></li>
    <li><a href="#use-information-your-organisation-already-has">Use information your organisation already has</a></li>
    <li><a href="#be-clear-about-declarations-and-signatures">Be clear about declarations and signatures</a></li>
  </ul>
  <h3>Postpone</h3>
  <p>If you could ask it later, postpone your question.</p>
  <p>This section will help you do this:</p>
  <ul>
    <li><a href="#consider-collecting-some-information-afterwards">Consider collecting some information afterwards</a></li>
  </ul>
  <h3>Explain</h3>
  <p>If it’s a difficult question that your users don’t want to answer (for example, you’re asking for personal data) or it’s something that needs research or extra thought, explain why you need to ask and how it will help you help them. (If there’s no benefit to the user, do you need to ask it?)<p>
  <p>This section will help with this:</p>
  <ul>
    <li><a href="#consider-the-sensitivities-around-your-questions">Consider the sensitivities around your questions</a></li>
  </ul>

  <h2 id="know-why-youre-asking-each-question">Know why you're asking each question</h2>
<p>Do not include any question if you do not know:</p>
<ul>
  <li>why you're asking it</li>
  <li>how your organisation will use the answer</li>
</ul>
<p>If you didn't check out each question during your discovery phase, now's the time to do it.</p>

<p>Following GOV.UK guidance, make a list of all the information you need from your users (sometimes called a "question protocol"). This process forces you to question why you're asking users for each item of information and allows you to challenge unnecessary questions.</p>
<p>Only add a question if you know:</p>
<ul>
  <li>that you need the information to deliver the service</li>
  <li>why you need it</li>
  <li>what you’ll do with it</li>
  <li>which users need to give you the information</li>
  <li>how you'll check that it's accurate</li>
  <li>how to keep the information up to date and secure</li>
</ul>

<h2 id="decide-if-its-optional-or-not">Decide if it's optional or not</h2>
<p>There are 4 kinds of questions:</p>
<ul>
  <li>essential ("required") questions - the user can't get the service unless they give you this information</li>
  <li>not essential, but helpful - for example, the user may give you their contact details if they want a reply</li>
  <li>not essential or helpful to the organisation, but important to the user - for example, they may want to tell you their story</li>
  <li>filter (or branching) questions</li>
</ul>
  <p>Start with required questions. You should only be asking for information you need to provide the service. Add helpful questions or filter questions if your users seem to need them.</p>
  <h3 id="use-filter-questions">Use filter questions</h3>

  <p>Filter questions ask a short question first - often a Yes No question. They let you:</p>
  <ul>
    <li>simplify long questions</li>
    <li>avoid optional questions - in other words, users only answer questions that apply to them</li>
  </ul>

  <p>You may not need to collect answers to filter questions.</p>
  <p>But <a href="/service-manual/content/write-good-questions/5-be-careful-with-yes-no-questions">be careful with Yes No questions</a>.</p>
  <h3>Mark them optional</h3>
  <p>If you ask for optional information, mark the labels of optional fields with "(optional)". Do not mark required fields with asterisks.</p>

  <h2 id="use-information-your-organisation-already-has">Use information your organisation already has</h2>
  <p>For example, if you already have some data about the user, you may only need them to confirm that it'say correct.</p>
  <p>[Looking for an example. BSA had a good example of using the NHS number.]</p>

  <h2 id="consider-collecting-some-information-afterwards">Consider collecting some information afterwards</h2>
  <p>Ask for the minimum information your service needs to make a decision and ask for other information afterwards.</p>
  <p>For example:</p>
  <ul>
    <li>if the person has a broken leg, you don’t need to ask their biological sex</li>
    <li>on an application form, first ask the questions that let you and the user know if they're eligible, then come back to questions that determine what they will get</li>
    <li>for psychological therapies, do not ask your users to take a clinical assessment (like a depression score sheet) as part of their self-referral form - ask them to fill it in later on</li>
  </ul>

<h2 id="consider-the-sensitivities-around-your-questions">Consider the sensitivities around your questions</h2>
<p>Users may be reluctant to answer questions that ask for sensitive information or for information that seems inappropriate. They will happily give you their postcode to find a local pharmacy but they may be reluctant to give you their name and date of birth if they do not think it's relevant.</p>
<p>Once you <a href="#know-why-youre-asking-each-question">know why you're asking each question</a> and how you will use the answer, you can explain it to the user. For example, tell users that you're asking what might seem like strange questions because they help you know if their situation is urgent.</p>
<p>If your service is collecting some information only for statistics and will anonymise it, say so. </p>

<p>Topics that are especially sensitive are:</p>
<ul>
  <li>sex assigned at birth or biological sex</li>
  <li>gender</li>
  <li>sexual orientation</li>
  <li>whether or not the person has children or intends to have children</li>
  <li>whether or not they are married, in a partnership, or living with someone</li>
  <li>whether or not they have mental health problems</li>
</ul>
<p>Other questions under the Equalities Act may be sensitive.</p>

<p>Some people are reluctant to divulge:</p>
<ul>
  <li>their true age - they may have lied about it before</li>
  <li>their email address - they may be afraid of spam</li>
  <li>their telephone or mobile number - they may be afraid it’ll be used inappropriately</li>
</ul>

<p>Consider what you'll do if the user won't answer the question. And be careful about using "Other" with personal data and sensitive topics.</p>

<p>There is more guidance on asking users for different kinds of information in the GOV.UK design system:</p>

<ul>
  <li><a href="https://design-system.service.gov.uk/patterns/addresses/">addresses</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/dates/">dates</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/email-addresses/">email addresses</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/ethnic-group/">ethnic groups</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/gender-or-sex/">gender or sex</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/names/">names</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/national-insurance-numbers/">National Insurance numbers</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/passwords/">passwords</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/payment-card-details/">payment card details</a></li>
  <li><a href="https://design-system.service.gov.uk/patterns/telephone-numbers/">telephone numbers</a></li>
</ul>

  <p>Remember, if you do not know how your service will use the answer, do not ask the question.</p>

  <h2 id="be-clear-about-declarations-and-signatures">Be clear about declarations and signatures</h2>
  <p>Paper forms often ask for a signature but not many organisations authenticate them. Does your service need a signature and if so, how does it check the user's identity?</p>

  <p>Sometimes the value of the declaration is that it signals:</p>
  <ul>
    <li>that you're asking users to commit to give careful, honest answers</li>
    <li>that they've ready to hand their information or application over to your service to take the next step</li>
  </ul>
  <p>Many forms do not need a declaration or signature at all. Before you include one, find out what your users expect and understand by it.</p>
  <p>If you have to verify and authenticate individuals, read <a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/dcb3051-identity-verification-and-authentication-standard-for-digital-health-and-care-services">Identity verification and authentication standard for digital health and care services</a>, DCB3051 (NHS Digital).</p>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: August 2019</p>
    </div>
    </div>
    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--previous">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="/service-manual/content/write-good-questions/1-start-with-discovery">
        <span class="nhsuk-pagination__title">Previous</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">1. Start with discovery</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
        </svg>
      </a>
    </li>
    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/service-manual/content/write-good-questions/3-get-the-questions-into-order">
        <span class="nhsuk-pagination__title">Next</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">3. Get the questions into order</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>

  </div>
{% endblock %}
