{% from 'hint/macro.njk' import hint %}

{{ hint({
  html: 'This is a 10 digit number, like <span class="nhsuk-u-nowrap">999 123 4567</span>, that you can find on an NHS letter, prescription or in the NHS App'
}) }}

