{% from "tabs/macro.njk" import tabs %}
{% from "tables/macro.njk" import table %}


{% set pastDayContent %}
  {{ table({
    responsive: false,
    panel: false,
    caption: "Past day",
    firstCellIsHeader: false,
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened",
        format: "numeric"
      },
      {
        text: "Cases closed",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "3",
          format: "numeric"
        },
        {
          text: "0",
          format: "numeric"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "1",
          format: "numeric"
        },
        {
          text: "0",
          format: "numeric"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "2",
          format: "numeric"
        },
        {
          text: "0",
          format: "numeric"
        }
      ]
    ]
  }) }}
{% endset -%} {% set pastWeekContent %}
  {{ table({
    responsive: false,
    panel: false,
    caption: "Past week",
    firstCellIsHeader: false,
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened",
        format: "numeric"
      },
      {
        text: "Cases closed",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "24",
          format: "numeric"
        },
        {
          text: "18",
          format: "numeric"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "16",
          format: "numeric"
        },
        {
          text: "20",
          format: "numeric"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "24",
          format: "numeric"
        },
        {
          text: "27",
          format: "numeric"
        }
      ]
    ]
  }) }}
{% endset -%} {% set pastMonthContent %}
  {{ table({
    responsive: false,
    panel: false,
    caption: "Past month",
    firstCellIsHeader: false,
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened",
        format: "numeric"
      },
      {
        text: "Cases closed",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "98",
          format: "numeric"
        },
        {
          text: "95",
          format: "numeric"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "122",
          format: "numeric"
        },
        {
          text: "131",
          format: "numeric"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "126",
          format: "numeric"
        },
        {
          text: "142",
          format: "numeric"
        }
      ]
    ]
  }) }}
{% endset -%} {% set pastYearContent %}
  {{ table({
    responsive: false,
    panel: false,
    caption: "Past year",
    firstCellIsHeader: false,
    head: [
      {
        text: "Case manager"
      },
      {
        text: "Cases opened",
        format: "numeric"
      },
      {
        text: "Cases closed",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "David Francis"
        },
        {
          text: "1380",
          format: "numeric"
        },
        {
          text: "1472",
          format: "numeric"
        }
      ],
      [
        {
          text: "Paul Farmer"
        },
        {
          text: "1129",
          format: "numeric"
        },
        {
          text: "1083",
          format: "numeric"
        }
      ],
      [
        {
          text: "Rita Patel"
        },
        {
          text: "1539",
          format: "numeric"
        },
        {
          text: "1265",
          format: "numeric"
        }
      ]
    ]
  }) }}
{% endset -%}
{{ tabs({
  items: [
  {
    label: "Past day",
    id: "past-day",
    panel: {
      html: pastDayContent
      }
    },
    {
      label: "Past week",
      id: "past-week",
      panel: {
        html: pastWeekContent
      }
    },
    {
      label: "Past month",
      id: "past-month",
      panel: {
        html: pastMonthContent
      }
    },
    {
      label: "Past year",
      id: "past-year",
      panel: {
        html: pastYearContent
      }
    }
  ]
}) }}
