{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/ia-guidance",
      text: "IA guidance"
    }
  ],
  href: "/ia-guidance/core-ia-process",
  text: "Core IA process",
  classes: "app-breadcrumb"
}) }}
