{% set pageTitle = 'Community backlog' %}
{% set pageDescription = 'TBD.' %}

{% extends 'includes/layout.njk' %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'tables/macro.njk' import table %}
{% from 'button/macro.njk' import button %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/contribute",
  text: "Contribute"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Things the community is working on or planning to do.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-heading-xs">Backlog sections</h2>
    <ul>
      <li><a href="#backlog-components-patterns">Components and patterns</a></li>
      <li><a href="#backlog-content-style-guide">Content style guide</a></li>
      <li><a href="#backlog-practices">Practices and ways of working</a></li>
    </ul>


    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8" id="backlog-components-patterns">Components and patterns</h2>
    <div class="nhsuk-table-responsive nhsuk-u-margin-top-0">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">TBD</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Name</th>
            <th class="nhsuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="https://github.com/ericlamarca/nhsuk-service-manual-backlog-prototype/issues/1">Autocomplete</a></td>
            <td class="nhsuk-table__cell ">In progress</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example component</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example component</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example component</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example component</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example component</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example pattern</a></td>
            <td class="nhsuk-table__cell ">Proposed</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8" id="backlog-content-style-guide">Content style guide</h2>
    <div class="nhsuk-table-responsive nhsuk-u-margin-top-0">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">TBD</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Name</th>
            <th class="nhsuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example A to Z word</a></td>
            <td class="nhsuk-table__cell ">In progress</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example A to Z word</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example A to Z word</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example A to Z word</a></td>
            <td class="nhsuk-table__cell ">Proposed</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example A to Z word</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8" id="backlog-practices">Practices and ways of working</h2>
    <div class="nhsuk-table-responsive nhsuk-u-margin-top-0">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">TBD</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Name</th>
            <th class="nhsuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example guidance</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example guidance</a></td>
            <td class="nhsuk-table__cell ">In progress</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="">Example guidance</a></td>
            <td class="nhsuk-table__cell ">To do</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="nhsuk-u-margin-top-8">Propose something new</h2>
    <p>If you have an idea that's not in the backlog, you can use the template to propose it yourself.</p>

    <a class="nhsuk-button" href="https://github.com/ericlamarca/nhsuk-service-manual-backlog-prototype/issues/new">Create an issue on GitHub</a>

    <p><a href="/service-manual/contribute/propose-new-thing">How to propose a new thing</a><p>

    <h2>Work on something</h2>
    <p>The service manual is a community effort, you can volunteer to work on backlog items marked as to do.
    <p><a href="/service-manual/contribute/propose-new-thing">How to work on a new thing</a><p>


    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: February 2019</p>
    </div>
  </div>
</div>
{% endblock %}
