{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Focus state" %}
{% set pageDescription = "Use these focus state styles to let users know which element they’re on and that they can interact with it." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "193" %}

{% block beforeContent %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>WCAG 2.2: Make sure that users can successfully <a href="#wcag-tag-do-not-cover-focus">see where focus is currently placed</a>.</p>

  <h2>What is a focus state?</h2>
  <p>Some people use keyboards or other devices to navigate through a page by jumping from 1 interactive element to the next. The focus state lets users know which element they're currently on and that it's ready for them to interact with.</p>

  <div class="nhsuk-inset-text app-wcag-inset-text app-wcag-22" id="wcag-tag-do-not-cover-focus" role="note">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <strong class="nhsuk-tag nhsuk-u-margin-bottom-2">
      WCAG 2.2
    </strong>

    <p>Do not let user interface elements hide or obscure any content which has a focus applied, for example: sticky headers or overlaid cookie banners. This is to comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/focus-not-obscured-minimum.html">WCAG 2.2 success criterion 2.4.11 Focus Not Obscured (W3C)</a>.</p>
  </div>

  <h2>Our focus state styles</h2>
  <p>We've followed the <a href="https://design-system.service.gov.uk/get-started/focus-states/">GOV.UK design system's approach to focus state styles</a>.</p>
  <p>Like GOV.UK, we use a combination of yellow and black to make sure we meet the <a href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-contrast">Web Content Accessibility Guidelines (WCAG) 2.2 level AA non-text contrast</a> on any background <a href="/design-system/styles/colour">colour</a> on the NHS website.</p>
  <p>The yellow has a high contrast with dark backgrounds and the thick black border has a high contrast against light backgrounds.</p>

  <h2 id="link-focus-state-style">Link focus state style</h2>
  <p>When links are focused, they have a yellow background with a black bottom border. This helps the focused link stand out from the rest of the content on the page.</p>
  <img class="app-image--border app-example--image" src="/assets/focus-example-backgrounds.png" alt="A focused link against different NHS.UK background colours">

  <h2 id="form-input-focus-state-style">Form input focus state style</h2>
  <p>When form inputs are focused, they have a yellow outline and a thick black border. If the element already has a border, the border gets thicker.</p>
  <img class="app-image--border app-example--image" src="/assets/focus-example-input.png" alt="A text input labelled &quot;What is your name?&quot;. The example shows the text input both unfocused and focused.">
  <p><a href="/design-system/components/radios">Radios</a> and <a href="/design-system/components/checkboxes">checkboxes</a> use the same style.</p>
  <img class="app-image--border app-example--image" src="/assets/focus-example-radios.png" alt="Yes and no radio options to answer the question &quot;Do you know your NHS number?&quot;. In this example, the &quot;No&quot; option is focused.">

  <h2 id="making-focus-states-accessible-for-extended-and-modified-components">Making focus states accessible for extended and modified components</h2>
  <p>If you've extended or modified components in the NHS digital service manual, you can use service manual styles to make the focus states of these components accessible.</p>
  <p>How you make focus states accessible depends on whether the component is:</p>
  <ul>
    <li>focusable text without a background colour or border</li>
    <li>another focusable element with a background colour or border</li>
  </ul>

  <h3 id="make-focusable-text-accessible">Make focusable text accessible</h3>
  <p class="rich-text">If you use Sass, you should include the <code>nhsuk-focused-text</code> mixin in your component's <code>:focus</code> selector if that component is focusable text. For example, if the component is a link in body text, or the details component:</p>
<pre class="app-pre"><code><span class="hljs-selector-class">.app-component</span><span class="hljs-selector-pseudo">:focus</span> {
  <span class="hljs-variable">@include</span> nhsuk-focused-text;
}</code></pre>

  <h3 id="make-other-focusable-elements-accessible">Make other focusable elements accessible</h3>
  <p>If you use Sass, you can use 3 NHS.UK frontend variables if your component has a background colour or border. For example, a text input, checkbox or icons and images used as links.</p>
  <p>The 3 Sass variables are:</p>
  <ul>
    <li class="rich-text"><code>$nhsuk-focus-colour</code> - yellow background</li>
    <li class="rich-text"><code>$nhsuk-focus-text-colour</code> - black text</li>
    <li class="rich-text"><code>$nhsuk-focus-width</code> - for consistent width</li>
  </ul>

  <p>Use these variables in your components instead of numeric values for the background, text and widths.</p>

  <h2 id="if-you-do-not-use-sass">If you do not use Sass</h2>
  <p>To make a component's focus state accessible without using Sass, you can:</p>
  <ul>
    <li class="rich-text">see how the <code>nhsuk-focused-text</code> mixin works from the <a href="https://github.com/nhsuk/nhsuk-frontend/blob/main/packages/nhsuk-frontend/src/nhsuk/core/tools/_focused.scss">NHS.UK frontend source code</a></li>
    <li class="rich-text">get the values for <code>$nhsuk-focus-colour</code> and <code>$nhsuk-focus-text-colour</code> from the <a href="/design-system/styles/colour">colour page</a></li>
  </ul>

{% endblock %}
