{% set pageTitle = 'Make your service accessible' %}
{% set pageDescription = 'The NHS is for everyone, so everything we create must be accessible to everyone, considering different needs and abilities.' %}

{% extends 'includes/layout.njk' %}
{% from 'components/review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/practices",
  text: "Practices"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">{{pageDescription}}</p>
  </div>
</div> 

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">					
    <h2>Expectations</h2>
    <p>Here’s what we expect all project teams to commit to at NHS Digital.</p>

    <h3>Consider accessibility at every stage</h3>
    <p>Think about how you are going to address accessibility at the beginning and at every stage of your project.</p>
    <p>It’s much harder to make a service accessible if it’s only addressed late on.</p>
    <ul>
      <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#what-to-do-in-discovery">How to approach accessibility at different stages of a project</a> from the GOV.UK Service Manual</li>
    </ul>

    <h3>Make it the whole team’s responsibility</h3>
    <p>Every member of the team should contribute to making your service inclusive.</p>
    <p>You should all have a good understanding of accessibility and observe research with users with disabilities.</p>
    <ul>
      <li><a href="/content/writing-for-accessibility">Writing for accessibility</a> in the NHS digital service manual</li>
      <li>Guides to <a href="https://www.w3.org/WAI/tips/writing/">writing</a>, <a href="https://www.w3.org/WAI/tips/designing/">designing</a> and <a href="https://www.w3.org/WAI/tips/developing/">developing</a> for web accessibility from the Web Accessibility Initiative (WAI)</li>
    </ul>

    <h3>Research with users with disabilities</h3>
    <p>Include users who have disabilities or use assistive technologies in every round of user research.</p>
    <p>Consider cognitive and physical impairments, visual impairments, and temporary or permanent access needs.</p>
    <ul>
      <li><a href="https://www.gov.uk/service-manual/user-research/find-user-research-participants#including-participants-with-disabilities">How to recruit and research with users with disabilities</a> from the GOV.UK Service Manual</li>
    </ul>

    <h3>Design and build to level AA of WCAG 2.0</h3>
    <p>All code, design and content must meet at least level AA of the <a href="https://www.w3.org/TR/WCAG20/">Web Content Accessibility Guidelines (WCAG 2.0)</a>. Aim for AAA where possible.</p>
    <p>Test against this standard using automated testing tools and assistive technologies.</p>
    <p>All code and design patterns in this manual meet at least level AA of WCAG 2.0. Use our standardised patterns whenever you can.</p>
    <ul>
      <li><a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies#what-to-test">Testing with assistive technologies</a> from the GOV.UK Service Manual</li>
      <li><a href="https://www.gov.uk/service-manual/technology/testing-for-accessibility#testing-code-yourself">Using automated accessibility testing tools</a> from the GOV.UK Service Manual</li>
    </ul>

    <h3>Why it's important</h3>
    <p>In the UK, about 18% of people have a disability of some kind, and a third have temporary impairments like illness or an injury.</p>
    <p>When you’re working on NHS services, think about how people with different needs might use what you’re making.</p>
    <p>For example, how would someone with dyslexia consume your content? Or how would someone with a broken arm interact on a mobile device?</p>
    <p>Accessibility is also part of the law; if your service isn’t accessible to everyone who needs it, you may be breaking the <a href="https://www.gov.uk/guidance/equality-act-2010-guidance">2010 Equality Act</a>.</p>

    {{ reviewDate({
      "lastReview": "August 2018"
    }) }}
  </div>
</div>

{% endblock %}
