{% extends "template.njk" %}

{% block head %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/main.scss") }}">
{% endblock %}

{% block pageTitle -%}
  Annex – Detailed terms – NHS digital service manual
{%- endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Annex: Detailed Terms</h1>

    <p>Capitalised terms used in this Annex shall have the meaning set forth in Section 1 and Attachment 1 to these detailed terms.</p>

    <h2>Key Terms Form</h2>

    <table>
      <caption>Licences</caption>
      <tr>
          <td>The Font, Production Fonts and Font Software (all Use)</td>
          <td>The Font and all Font Software and Production Fonts incorporating the Font:
              <ul>
                  <li>Frutiger Bold</li>
                  <li>Frutiger Light</li>
                  <li>Frutiger Roman</li>
              </ul>
          </td>
      </tr>
      <tr>
          <td>Company Desktop Licence (including Desktop Use)</td>
          <td><p>Included.<br> Licensed Desktop Users (maximum): Unlimited</p>
            <p>This licence includes unlimited:</p>
            <ol style="list-style-type: lower-latin;">
              <li>Desktop Use (as set out in Section 2(A)); and</li>
              <li>in respect of all digital informational content, all other Use</li>
            </ol></td>
      </tr>
      <tr>
          <td>Licensed Applications</td>
          <td><p>Unlimited Applications</p>
            <p>Aggregate registered users (maximum): Unlimited (in respect of the native elements of any customer/staff-facing NHS mobile downloadable applications ("<strong>NHS Downloadable Apps</strong>") only, this is restricted to Frutiger Bold & Frutiger Roman, i.e. Frutiger Light cannot be used within the native elements of any customer/staff-facing NHS Downloadable Apps, but it can be used in respect of other (non-native) elements of the NHS Downloadable Apps. For the purposes of this provision, "native" elements means those which originate from within the NHS Downloadable Apps themselves and not from elsewhere, e.g. not from any web-based or other content or links).</p>
            <p>(Note: web elements, which can contain Frutiger Light, are visible and linkable through the current NHS App. The web elements are covered by the web page content licence below.)</p></td>
      </tr>
      <tr>
          <td>Licensed Servers</td>
          <td>Unlimited Servers</td>
      </tr>
      <tr>
          <td>Licensed Web Page Views (and content/Use)</td>
          <td>Unlimited web page content, use, and monthly Page Views</td>
      </tr>
      <tr>
          <td>Licensed Impressions (Digital Marketing Communications)</td>
          <td>Unlimited monthly Impressions</td>
      </tr>
      <tr>
          <td>All tangible media</td>
          <td>Unlimited</td>
      </tr>
    </table>

    <table>
      <caption>General Terms</caption>
        <tr>
            <td>Binding Obligation</td>
            <td>
                <p>You, the organisation which accepts the "<a href="/design-system/styles/use-frutiger-font/terms-of-licence">Terms of the licence</a>" which precede this Annex, accept this Annex with NHS England on the Effective Date.</p>
                <p>In addition to the sublicence rights set forth in Section 2.D of the Fonts Licence Terms, you are only entitled to sublicense the rights granted herein, with the exception of this sublicence right to a Sublicensee under the conditions that:</p>
                <ol style="list-style-type: lower-latin;">
                    <li>the Sublicensee is made aware of the relevant licence restrictions contained in this Agreement; and</li>
                    <li>you shall be fully responsible for a breach of these terms by a Sublicensee</li>
                </ol>
                <p>For the avoidance of doubt, the parties acknowledge that this Agreement covers only your and Sublicensees' compliance with (and any breach of) the terms in respect of the use of Frutiger (and no other fonts) under this Agreement.</p>
            </td>
       </tr>
    </table>

    <h2>Fonts Licence Terms</h2>

    <h3 id="table-caption-definitions">1.	DEFINITIONS</h3>

    <table aria-labelledby="table-caption-definitions">
        <tr>
            <td><strong>Affiliate</strong></td>
            <td>(1) An entity that controls, is controlled by or is under common control with a party to this Agreement at any time during the term of this Agreement, where control means a 50% or greater ownership interest in such entity; or (2) where a party is a public body, the controlling organisation (including ministers and government departments) and other bodies, persons, commissions or agencies from time to time carrying out functions on its behalf.</td>
        </tr>
        <tr>
            <td><strong>Agreement</strong></td>
            <td>The "Terms of the licence" which precede this Annex, and the terms of this Annex, including Attachment 1. In the event of any conflict or inconsistency between the "Terms of the licence" and this Annex, the Annex shall prevail.</td>
        </tr>
        <tr>
            <td><strong>Application</strong></td>
            <td>A product that is distributed as software only (and, subject to Section 3.B is not embedded into OEM (Original Equipment Manufacturer) equipment which is sold either for monetary consideration or for the purposes of making a profit for the NHS Partner) made available by the NHS Partner to end users either directly or through a distributor. A version of an Application that does not have unique functionality beyond the scope of a previously released Application and is not licensed or marketed under a new name shall not be considered a new Application.</td>
        </tr>
        <tr>
            <td><strong>Confidential Information</strong></td>
            <td>Any information, however it is conveyed, that relates to the business, affairs, developments, trade secrets, know-how, personnel and suppliers of Monotype, together with information derived from the above, and any other information clearly designated as being confidential (whether or not it is marked as "confidential") or which ought reasonably to be considered to be confidential (excluding the Font).</td>
        </tr>
        <tr>
            <td><strong>Derivative Work</strong></td>
            <td>A work, including but not limited to software or data, based upon or derived from any of the Font Software (or any portion of the Font Software) in any form in which such software or data may be recast, transformed, or adapted including, but not limited to, binary data in any format into which the Font Software may be converted.</td>
        </tr>
        <tr>
            <td><strong>Digital Marketing Communication</strong></td>
            <td>A piece of promotional or marketing content delivered via the internet or any other digital media. A Digital Marketing Communication includes, but is not limited to, email advertisements, banner ads and display advertisements shown on websites, advertisements in web applications and advertisements in applications.</td>
        </tr>
        <tr>
            <td><strong>EIRs</strong></td>
            <td>The Environmental Information Regulations 2004, and all associated statutory instruments and regulatory guidance (as amended).</td>
        </tr>
        <tr>
            <td><strong>Effective Date</strong></td>
            <td>The date that you click "accept" on the registration form.</td>
        </tr>
        <tr>
            <td><strong>Electronic Document</strong></td>
            <td>Any electronic document or data file, for example a .pdf manual or an e-book, but which is not a Digital Marketing Communication.</td>
        </tr>
        <tr>
            <td><strong>FOIA</strong></td>
            <td>The Freedom of Information Act 2000, and all associated statutory instruments and regulatory guidance, (as amended).</td>
        </tr>
        <tr>
            <td><strong>Font</strong></td>
            <td>(To the extent that any intellectual property rights arise in the same): the typeface, graphic representation of the typeface, typographic design and ornaments, including as a non-digital asset or a fixed digital asset, relating to the font known as Frutiger (including all formats and sizes). The Font shall include all subsets and bitmap representations of typeface and typographic designs and ornaments created by or derived from the Font.</td>
        </tr>
        <tr>
            <td><strong>Font Software</strong></td>
            <td>All software relating to the Font which when used on an appropriate device or devices, generates typeface and typographic designs and ornaments. The definition of Font Software does not include the Font itself but shall include all Font Software forming subsets and bitmap representations of typeface and typographic designs and ornaments created by or derived from the Font Software, and all copies of the Font Software in web font format Used or accessed in conjunction with the rendering of web pages for web page content, including copies of web pages that may be temporarily cached. Font Software, for the purposes of this Agreement, refers to the Font Software, including Production Fonts, specified in the Key Terms Form. The Font and its related Font Software shall be available in all formats reasonably requested or required by the NHS Partner (including all OTF, WOFF, WOFF2, EOT, SVG, TTF and all other formats and sizes).</td>
        </tr>
        <tr>
            <td><strong>Impression</strong></td>
            <td>Either (i) a response, in which the Font Software or Subset(s) thereof is incorporated, from a digital advertisement delivery system to a request from a web or mobile browser or other application, or (ii) an opened e-mail where the Font Software or Subset(s) thereof is delivered to the email client.</td>
        </tr>
        <tr>
            <td><strong>Key Terms Form</strong></td>
            <td>The foregoing Key Terms Form, which is subject to these Fonts Licence Terms including Attachment 1.</td>
        </tr>
        <tr>
            <td><strong>Licensed Application</strong></td>
            <td>Any Application up to the number of Applications indicated in the Key Terms Form.</td>
        </tr>
        <tr>
            <td><strong>Licensed Desktop User</strong></td>
            <td>Any user up to the number of individuals who may exercise the licence grants to the Production Fonts under this Agreement, as indicated in the Key Terms Form, whether or not such user does actually exercise such rights. Licensed Desktop Users must be your employees or Sublicensees. You shall be responsible for compliance with the terms of this Agreement by any such third party and its employee(s), client and its employees or independent contractor.</td>
        </tr>
        <tr>
            <td><strong>Licensed Impression</strong></td>
            <td>Any Impression up to the number of Impressions indicated in the Key Terms Form.</td>
        </tr>
        <tr>
            <td><strong>Licensed Page View</strong></td>
            <td>Any Page View up to the number of Page Views indicated in the Key Terms Form.</td>
        </tr>
        <tr>
            <td><strong>Licensed Server</strong></td>
            <td>Any Server up to the number of Servers indicated in the Key Terms Form, on which the Font Software may be accessed by your Licensed Desktop Users and any other individuals.</td>
        </tr>
        <tr>
            <td><strong>Monotype</strong></td>
            <td>Collectively, Monotype Imaging Inc. or any other Monotype entity identified on the Key Terms Form, its successors and assigns, and its parent and Affiliates.</td>
        </tr>
        <tr>
            <td><strong>NHSE</strong></td>
            <td>NHS England, who are the licensor in this Agreement.</td>
        </tr>
        <tr>
            <td><strong>NHS Partner</strong> (or "you" and "your")</td>
            <td>The organisation on whose behalf you accept this Agreement.</td>
        </tr>
        <tr>
            <td><strong>Page View</strong></td>
            <td>A single instance of access to a particular web page. For the avoidance of doubt, each visit to or display of a web page is a Page View, regardless of whether such visit or display is unique.</td>
        </tr>
        <tr>
            <td><strong>Production Fonts</strong></td>
            <td><p>The Font Software. For the avoidance of doubt, a reference to Font Software in this Agreement includes a reference to the Production Fonts.</p>
            <p><strong>HOW PRODUCTION FONTS ARE COUNTED</strong>:<br>
            The maximum defined under the Licence refers to the amount of Font Software and thus, Production Fonts shall be counted by individual digital files which can be used for the licensed deployment: see the Production Fonts specified as included in the Key Terms Form.</p>
            <p>All formats (including OTF, WOFF, WOFF2, EOT, SVG, TTF and all other formats and sizes) of the same Production Font/Font Software are included within the Licences and shall count as one Production Font.</p>
            </td>
        </tr>
        <tr>
            <td><strong>Publicly Available Software</strong></td>
            <td>
            <p>Software which meets the descriptions set out in both (a) and (b) below:</p>
            <ol style="list-style-type: lower-latin;">
                <li>any software that contains, or is derived in any manner (in whole or in part) from, any software that is distributed as free software, open source software (e.g. Linux) or similar licensing or distribution models; and</li>
                <li>any software that requires as a condition of use, modification and/or distribution of such software that such software or other software incorporated into, derived from or distributed with such software:
                    <ol style="list-style-type: lower-roman;">
                        <li>be disclosed or distributed in source code form</li>
                        <li>be Licensed for the purpose of making Derivative Works, or</li>
                        <li>be redistributable at no charge.</li>
                    </ol>
                </li>
            </ol>
            </td>
        </tr>
        <tr>
            <td><strong>Requests for Information</strong></td>
            <td>means a request for information regarding use of the Font and Font Software or otherwise relating to the Agreement from a member of the public pursuant to FOIA or EIRs.</td>
        </tr>
        <tr>
          <td><strong>Server</strong></td>
          <td>Any server or cloud server service that is either (a) maintained on your premises; (b) under your exclusive control; or (c) owned and controlled by a third-party hosting service for your benefit, provided that you shall remain responsible for any unauthorized access to and security of the Font Software on such Server.</td>
      </tr>
      <tr>
          <td><strong>Sublicensee</strong></td>
          <td>Any contractor, subcontractor, supplier, customer, user, or other third party who is providing or using goods or services to, from or with the NHS Partner.</td>
      </tr>
      <tr>
          <td><strong>Subset</strong></td>
          <td>A Derivative Work of the Font Software, created by removing certain glyphs and/or characters therefrom.</td>
      </tr>
      <tr>
          <td><strong>Trademarks</strong></td>
          <td>
            <p>The following trademarks:</p>
              <ul>
                  <li>Monotype® – a trademark of Monotype Imaging Inc. registered in the U.S. Patent and Trademark Office and may be registered in certain other jurisdictions</li>
                  <li>Frutiger® – a trademark of Monotype Imaging Inc. registered in the U.S. Patent and Trademark Office and may be registered in certain other jurisdictions</li>
              </ul>
              (and, if required by the NHS Partner, any other trademark as set forth at <a href="https://www.monotype.com/legal/trademarks">www.monotype.com/legal/trademarks</a> for each piece of Font Software licensed under this Agreement or under which Monotype markets the Font Software).
          </td>
      </tr>
      <tr>
          <td><strong>Use</strong></td>
          <td>To publish, distribute, store, publicly perform, reproduce, maintain, display, integrate, install, embed and otherwise use in any way (including with respect to the Font Software, when an individual is able to give commands (whether by keyboard or otherwise) that are followed by the Font Software, regardless of the location in which the Font Software resides).</td>
      </tr>
      <tr>
          <td><strong>Workstation</strong></td>
          <td>A hardware component in which Font Software is installed and from which an individual is able to give commands (whether by keyboard or otherwise) that are followed by the Font Software as applicable.</td>
      </tr>
    </table>

    <p>Words and expressions such as "including", "for example" and similar words and expressions in this Agreement shall be read as having the words "without limitation" inserted after them (to the extent that the words "without limitation" or similar do not already precede such words or expressions).</p>

    <h3>2. LICENCE GRANTS</h3>

    <p>You are licensing the Font and Font Software. You agree that you have the rights expressly set forth in this Agreement and no other.  All rights not expressly granted in this Agreement are reserved to NHSE and/or Monotype.</p>
    <p>The rights set forth in the Key Terms Form, this Section 2 and Attachment 1 may be exercised on your behalf by you, your Sublicensees and Licensed Desktop Users, as applicable, and you are responsible for compliance with the terms of this Agreement by all such users as well as any other parties who access the Font or Font Software with your permission. You are hereby granted, subject to all terms and conditions set forth herein, a worldwide (subject to Section 7.A), non-exclusive, non-transferable (except that you can sublicense to Sublicensees as expressly set out in this Agreement, with no right for Sublicensees to grant sublicences), perpetual licence and (including the right to sublicense in accordance with the "Binding Obligation" section of the above Key Terms Form) to allow its users to do the following as well as the rights granted under the Key Terms Form and Attachment 1.</p>

    <ol style="list-style-type: upper-latin;">
      <li>
          <h4>LICENSED DESKTOP USERS</h4>
          <p>All rights of Licensed Desktop Users set forth in this paragraph B apply only to the Font (and the Font Software NHSE choose to be Production Fonts).</p>
          <ol class="nhsuk-u-margin-bottom-4" style="list-style-type: lower-roman;">
              <li>
                  <strong>Desktop</strong>
                  <ol style="list-style-type: lower-alpha;">
                      <li>Install the Production Fonts on the Licensed Desktop User's Workstation(s).</li>
                      <li>Install the Production Fonts onto any Server.</li>
                      <li>Use the Font and Production Fonts on such Workstations or via such Server to:
                          <ol style="list-style-type: lower-roman;">
                              <li>create, edit, view, print and distribute materials (provided that, if you distribute such materials to the wider public: (a) the materials do not contain the Font Software in a way that allows the underlying code of the Font Software cannot be extracted, reformatted and reused from such materials; and (b) where those materials include a static graphic image of the Font created using the Font Software, such image should remain static (i.e. such image should be provided in a non-editable format that does not permit such image from being broken down into its constituent Font Software parts, such as glyphs) (although they can contain the Font)). This does not prevent the use of the Font and Font Software in editable content formats such as Word;</li>
                              <li>embed and Use the Font and Font Software in Electronic Documents and duplicate the Font and Font Software as an integrated part of any such Electronic Document, provided that Electronic Documents with embedded Font Software may only be distributed to the wider public if the underlying code of the Font Software cannot be extracted, reformatted, and reused from such Electronic Documents. This does not prevent the use of the Font and Font Software in editable content formats such as Word.</li>
                          </ol>
                      </li>
                      <li>Make backup copies of the Production Fonts, provided that such copies are for your internal backup purposes only and remain in your exclusive control (or that of the Sublicensees).</li>
                      <li><strong>Informational content</strong>: to Use the Font and Font Software in, and in connection with, all digital informational content and communications (which are not Digital Marketing Communications that are licensed in accordance with Section 2.B(iv) below) in all other ways. Where such content and communications are made available to the wider public, they should be provided in a format that does not permit the underlying code of the Font Software to be downloaded, reformatted, and reused from such communications and content. This does not prevent the use of the Font and Font Software in editable content formats such as Word.</li>
                  </ol>
              </li>
              <li>
                  <strong>Company Desktop Licence</strong>:
                  If you have a Company Desktop Licence as set out in the Key Terms Form, in addition to the rights listed above in Section 2.A.i., your Licensed Desktop Users may use the Font and Production Fonts to create Electronic Documents and distribute the Font and Production Fonts embedded into such Electronic Documents in a collaborative cloud authoring environment to individuals who are not Licensed Desktop Users, provided that such individuals may only use a Production Font for the purpose of viewing and editing the Electronic Document with which it was distributed.
              </li>
          </ol>
      </li>
      <li>
          <h4>ALL USERS</h4>
          <p><strong>(Licensed Desktop Users, and any other users permitted use of the Font or Font Software by the NHS Partner)</strong>. All rights set forth below apply to the Font and Font Software, Production Fonts, and the licences as defined in the Key Terms Form.</p>
          <ol class="nhsuk-u-margin-bottom-4" style="list-style-type: lower-roman;">
              <li>
                  <strong>Applications:</strong>
                  <ol style="list-style-type: lower-alpha;">
                      <li>Incorporate the Font and Production Font(s) into Applications.</li>
                      <li>Duplicate the Font and Production Font(s) as an integral part of any such Application.</li>
                      <li>Distribute the Font and Production Font(s) directly or indirectly as an integrated component of any such Application.</li>
                  </ol>
              </li>
              <li>
                  <strong>Servers:</strong>
                  <ol style="list-style-type: lower-alpha;">
                      <li>Install the Production Font(s), or a web server application into which the Production Font(s) has been incorporated, and Use the Font and Font Software, on Licensed Servers.</li>
                      <li>Allow internal or external users to Use the Font and Production Font(s) on such Licensed Servers in the manners set forth in Section 2.A.i.c, in relation to the Servers described in the Key Terms Form.</li>
                  </ol>
              </li>
              <li>
                  <strong>Web Page Content:</strong>
                  Use the Font and Production Font(s) to generate content on websites owned or under your control (including through a Sublicensee). This licence allows users of your websites to type text on that website through Use of the Font and Production Font(s) (e.g. in form fields, customer feedback, etc). Where such web page content is made available to the wider public, it should be provided in a format which does not permit the underlying code of the Font Software to be downloaded, reformatted, and reused from such content. This does not prevent the use of the Font and Font Software in editable content formats such as Word.
              </li>
              <li>
                  <strong>Digital Marketing Communications:</strong>
                  Embed the Font and Production Font(s) into a Digital Marketing Communication (provided that where such communications are made available to the wider public, they should be provided in a format that does not permit the underlying code of the Font Software to be downloaded, reformatted, and reused from such communications). This does not prevent the use of the Font and Font Software in editable content formats such as Word.
              </li>
              <li>
                  <strong>All tangible materials:</strong>
                  Use the Font and Font Software to create, edit, print, produce, and otherwise deal with any printed and other tangible items.
              </li>
              <li>
                  <strong>Logos and marks:</strong>
                  Use the Font and Font Software in any logos and marks.
              </li>
              <li>
                  <strong>All other use:</strong>
                  Publish, distribute, store, publicly perform, reproduce, maintain, integrate, install, embed, display, and otherwise use in any way (including through, or using, its or a third party's software, tools, artificial intelligence systems, and other systems) on a perpetual basis and without limitation the Font and Font Software in any other form and through any other media now known (whether electronic, tangible, or otherwise).
              </li>
          </ol>
      </li>
      <li>
        <h4>TRADEMARKS</h4>
        <ul class="nhsuk-u-margin-bottom-4">
            <li>NHSE confirms that:
                <ol style="list-style-type: lower-alpha;">
                    <li>use of the Monotype Trademarks is not required for the NHS Partner and Sublicensees to Use the Font and Font Software as set out in this Agreement; and</li>
                    <li>use of the Font Software or Font itself in any item does not require you or your Sublicensees to identify the Font or Font Software as Frutiger, or to use or refer to Monotype or its logo</li>
                </ol>
            </li>
            <li>You must not use the Trademarks when communicating with the wider public.</li>
            <li>You acknowledge that Monotype or its licensors own all right, title, and interest in and to the Trademarks.</li>
        </ul>
      </li>
      <li>
          <h4>SUBLICENCE RIGHTS</h4>
          <ol style="list-style-type: lower-roman;">
              <li>You can sublicense the rights granted herein, with the exception of this sublicence right, to the other Sublicensees.</li>
              <li>The rights granted herein to the Sublicensees are under the condition that the sublicensee is made aware of the relevant terms of this Agreement and you shall be fully responsible for a breach of these terms by a sublicensee.</li>
          </ol>
      </li>
    </ol>

    <h3>3. RESTRICTIONS</h3>

    <ol style="list-style-type: upper-latin;">
      <li>
          <strong>You may not</strong>:
          <ul>
              <li>except as otherwise provided in this Agreement, transfer your licence rights in the Font Software.</li>
              <li>except as otherwise provided in this Agreement, modify the Font Software in any way, including to create, directly or indirectly, Derivative Works from the Font Software or any portion thereof (except as otherwise specifically set forth herein)</li>
              <li>embed the Font Software in open source software which has the direct or indirect effect of causing the Font Software to become Publicly Available Software or otherwise be subject to a Publicly Available Software agreement.</li>
          </ul>
      </li>
      <li>
          <p>Nothing in this Section 3 or the rest of the Agreement restricts or prevents you (or any other Sublicensees on your behalf) from using the Font and Font Software as you require to:</p>
          <ol style="list-style-type: lower-alpha;">
              <li>maintain, and ensure use of, the Font and Font Software by the NHS Partner (and any other Sublicensees on its behalf);</li>
              <li>create and edit digital or non-digital content using the Font and Font Software;</li>
              <li>embed the Font and Font Software within:
                  <ol style="list-style-type: lower-roman;">
                      <li>the NHS Partner and NHS national (or local) design systems, including to enable use of the Font and the Font Software by the NHS Partner and Sublicensees (which includes storing fonts in central asset folders that feed such design systems, front end libraries, and prototyping toolkits); and</li>
                      <li>other NHS Partner digital platforms or software;</li>
                  </ol>
              </li>
              <li>store the Font and Font Software on the NHS Partner's internal design community system/s;</li>
              <li>store the Font and Font Software on GitHub within the NHS Partner's NHS account/s alongside access to all web Font and other assets;</li>
              <li>prepare and build online website services using the Font and Font Software on agency or third-party test/build servers before publishing onto the NHS Partner host servers, including using the Font and Font Software:
                  <ol style="list-style-type: lower-roman;">
                      <li>in testing and preparation stages;</li>
                      <li>prototypes on Heroku or similar;</li>
                      <li>for staging servers hosted by agencies/suppliers;</li>
                  </ol>
              </li>
              <li>install the fonts on listed users' corporate computers to enable communications and services (including letters, leaflets, booklets); or</li>
              <li>integrate the Font and Font Software with other software, systems, and tools used by or on behalf of the NHS Partner (including, in accordance with Section 50B of the Copyrights, Designs, and Patents Act 1988, decompiling as necessary to obtain the information necessary to create an independent program which can be operated with the Font Software or with another program)</li>
          </ol>
      </li>
  </ol>

  <h3>4. CONFIDENTIALITY</h3>

  <ol style="list-style-type: upper-alpha;">
    <li>
        <p>The NHS Partner, when receiving Confidential Information, must, for a period of three (3) years from date of receipt of the Confidential Information:</p>
        <ol style="list-style-type: lower-roman;">
            <li>keep all Confidential Information it receives confidential and secure;</li>
            <li>not disclose, use, or exploit the Confidential Information without NHSE's prior written consent (which the NHS Partner acknowledges is subject to NHSE obtaining Monotype's consent), except for the purposes anticipated under this Agreement; and</li>
            <li>immediately notify NHSE if it suspects unauthorised access, copying, use, or disclosure of the Confidential Information</li>
        </ol>
    </li>
    <li>
        <p>In spite of Section 4A, the NHS Partner may disclose Confidential Information in any of the following instances:</p>
        <ol style="list-style-type: lower-roman;">
            <li>where disclosure is required by applicable law, a regulatory body, or a court with the relevant jurisdiction, if permitted and possible, the NHS Partner notifies NHSE in writing in advance of the full circumstances, the affected Confidential Information, and the extent of the disclosure;</li>
            <li>if the NHS Partner already had the information without obligation of confidentiality before it was disclosed, directly or indirectly, under or in connection with this Agreement;</li>
            <li>if the information was given to it by a third party without obligation of confidentiality;</li>
            <li>if the information was in the public domain at the time of the disclosure;</li>
            <li>if the information was independently developed without access to Monotype's Confidential Information;</li>
            <li>on a confidential basis, to its auditors or for the purpose of regulatory requirement;</li>
            <li>on a confidential basis, to its professional advisers on a need-to-know basis; and</li>
            <li>to the Serious Fraud Office where the NHS Partner has reasonable grounds to believe that Monotype is involved in activity that may be a criminal offence under the Bribery Act 2010;</li>
            <li>on a confidential basis to the Sublicensees and any other employees, agents, consultants, and contractors of the NHS Partner;</li>
            <li>if the NHS Partner (acting reasonably) considers disclosure necessary or appropriate to carry out its public functions;</li>
            <li>where requested by Parliament; or</li>
            <li>on a confidential basis for audit purposes</li>
        </ol>
    </li>
    <li>
        <p>For the purposes of Section 4B above, references to disclosure on a confidential basis mean disclosure under a confidentiality agreement or arrangement including terms as strict as those required in this Section 4.</p>
    </li>
    <li>
        <p>NHSE is subject to the requirements of the FOIA and the EIRs. Monotype has acknowledged in its licence with NHSE that NHSE and NHS Partners may be required under the FOIA and EIRs to disclose information (including confidential information) without consulting or obtaining consent from Monotype, and that NHSE shall take reasonable steps to notify Monotype of a Request for Information (in accordance with the Secretary of State's section 45 Code of Practice on the Discharge of the Functions of Public Authorities under Part 1 of the FOIA) to the extent that it is permissible and reasonably practical for it to do so. The NHS Partner must assist NHSE in meeting this obligation, and shall notify NHSE of, and cooperate and assist NHSE in respect of, any Request for Information relating to Monotype's Confidential Information, including as set out in Section 4E or 4F, as applicable.</p>
    </li>
    <li>
        <p>Where the NHS Partner <strong>is</strong> subject to the requirements of the FOIA and the EIRs, the Parties shall cooperate and assist one another so as to enable them to meet their respective obligations under the FOIA and the EIRs. Without prejudice to the generality of the foregoing, where a party (the "<strong>Recipient</strong>") receives a request for information which is covered by the FOIA and the EIRs and which relates to the other party's or Monotype's information ("<strong>Requested Information</strong>"), the parties shall comply with the following procedures:</p>
        <ol style="list-style-type: lower-roman;">
            <li>the Recipient shall, before making any disclosure of the Requested Information and as soon as reasonably practicable after receiving the request, notify the other party of the receipt of such request and of the nature and extent of the information covered by the request;</li>
            <li>following notification under (i), the other party (and, if required by NHSE, Monotype) may make representations to the Recipient as to whether and on what basis the Requested Information is covered by any exemption in the FOIA and the EIRs and should not therefore be disclosed, including, where relevant, the balance of the public interests in disclosure and non-disclosure ("<strong>Representations</strong>");</li>
            <li>the Recipient shall reasonably consider any Representations before reaching a determination on whether it is obliged to disclose the Requested Information. However, the parties acknowledge that in all cases it is for the Recipient (having full regard to any applicable guidance or codes issued by the Information Commissioner) to determine whether it is obliged to disclose the Requested Information under the FOIA and the EIRs, including where the public interest lies in relation to the disclosure; and</li>
            <li>if the Recipient determines that it is obliged to disclose the Requested Information, it shall notify the other party reasonably in advance of disclosure being made</li>
        </ol>
    </li>
    <li>
        <p>Where the NHS Partner <strong>is not</strong> subject to the requirements of the FOIA and the EIRs, the NHS Partner shall:</p>
        <ol style="list-style-type: lower-roman;">
            <li>provide all necessary assistance and cooperation as reasonably requested by NHSE to enable NHSE to comply with its obligations under the FOIA and EIRs; and</li>
            <li>not respond directly to a Request for Information addressed to an NHS Partner unless authorised in writing to do so by NHSE.</li>
        </ol>
       <p>The NHS Partner acknowledges that NHSE may be required under the FOIA and EIRs to disclose information (including confidential information) without consulting or obtaining the NHS Partner's consent, NHSE shall take reasonable steps to notify the NHS Partner of a Request for Information (in accordance with the Secretary of State's section 45 Code of Practice on the Discharge of the Functions of Public Authorities under Part 1 of the FOIA) to the extent that it is permissible and reasonably practical for it to do so but (notwithstanding any other provision in this Agreement) NHSE shall be responsible for determining in its absolute discretion whether any confidential information or any other information is exempt from disclosure in accordance with the FOIA and EIRs.</p>
    </li>
    <li>Subject to Sections 4B(i), 4B(vi) to 4B(xii), 4D, 4E and 4F, the NHS Partner must not share or disclose the link to this Annex or the terms of this Annex without NHSE's prior written consent.</li>
  </ol>

  <h3>5. TERMINATION</h3>

  <p>NHSE may suspend and/or terminate this Agreement and the NHS Partner's licences and rights under it upon sixty (60) days' prior written notice to the NHS Partner if the NHS Partner or its Sublicensee has materially breached this Agreement in any way, where such material breach has not been cured within that sixty (60) day period. Any such notice shall set forth the material breach or material breaches and the actions necessary to cure them, if a cure is possible. Under this paragraph:</p>
  <ul style="list-style-type: lower-latin;">
    <li>a breach will be considered "material" if it deprives a party of the substantial benefit of a key clause or obligation in question; and</li>
    <li>any material breach by the NHS Partner of Section 2 (Licence Grants) shall be deemed remedied only if the relevant NHS Partner satisfies NHSE (acting reasonably) that such material breach or breaches have been cured</li>
</ul>
  <p>In addition to the above, where, in NHSE's reasonable opinion, the actions of the NHS Partner or any Sublicensee are likely to:</p>
  <ul style="list-style-type: lower-latin;">
      <li>result in a breach of this Agreement;</li>
      <li>cause NHSE to be in breach of their agreement with Monotype;</li>
      <li>result in reputational damage to NHSE; or</li>
      <li>result in a claim being brought against NHSE by Monotype,</li>
  </ul>
  <p>NHSE may suspend, revoke, and/or terminate this licence and any or all rights granted under this Agreement.</p>
  <p>In the event of termination, revocation, or suspension, all rights and licences granted under or in connection with this Agreement to the NHS Partner (including any rights or licences granted by NHSE or the NHS Partner to the Sublicensees) shall automatically terminate (or, respectively, be revoked or suspended).</p>
  <p>The termination of this Agreement shall not preclude NHSE from pursuing (to the extent permitted by law) the NHS Partner for damages of any breach of the Agreement.</p>

  <h3>6. WARRANTIES AND LIMITATION OF LIABILITY</h3>

  <ol style="list-style-type: upper-alpha;">
    <li>
        <p>The NHS Partner acknowledges and agrees that NHSE is only able to pass through the warranties provided to it by Monotype, and does not provide warranties of its own accord. Except the warranties passed through from Monotype set out in (a) to (d) below, NHSE disclaims all other warranties, including those related to fitness for purpose, quality, availability, or non-infringement. In NHSE's agreement with Monotype, Monotype's warranties include the following:</p>
        <ol class="nhsuk-u-margin-bottom-4" style="list-style-type: lower-alpha;">
            <li>the Font and Font Software have no defect nor are deficient in title;</li>
            <li>the Font and Font Software do not infringe any intellectual property rights of any third parties, including but not limited to copyrights, design rights, trademarks, and patents;</li>
            <li>the Font and Font Software upon download or delivery to NHSE do not contain viruses, time or logic bombs, Trojan horses, worms, timers, clocks, trap doors, or other computer instructions, devices, or techniques that erase data or programming, infect, disrupt, damage, disable, or shut down a computer system or any component of such computer system, including, without limitation, its security or user data, or otherwise cause the Font and Font Software to become inoperable or incapable of being used in accordance with this Agreement; and</li>
            <li>the Font Software is not Publicly Available Software</li>
        </ol>
        <p>The NHS Partner must notify NHSE promptly in writing of any claim, permit NHSE (or anyone nominated by NHSE) to control the defence or settlement, and cooperate fully with NHSE and anyone else nominated by NHSE (at the NHS Partner's cost).</p>
        <p>If the NHS Partner discovers or becomes aware of any defect or deficiency in title in respect of NHSE or Monotype in connection with the Font, Font Software, or this Agreement, the NHS Partner must promptly let NHSE know.</p>
    </li>
    <li>
        <h4>LIMITATION OF LIABILITY</h4>
        <p>Except in the event of gross negligence or wilful misconduct, NHSE will not be responsible for:</p>
        <ul>
            <li>incidental, indirect, consequential, or punitive damages, including without limitation, lost profits, business interruption, regardless of the form of the action whether in contract, tort (including negligence), strict product liability, or otherwise, even if such party has been advised of the possibility of such damages, in each case to the extent permitted by law; or</li>
            <li>any damages caused by the NHS Partner's or Sublicensees' failure to adhere to this Agreement</li>
        </ul>
    </li>
  </ol>

  <h3>7. MISCELLANEOUS</h3>

  <ol style="list-style-type: upper-alpha;">
    <li>
        <h4>EXPORT</h4>
        <p>You agree that you will not ship, transfer, or export the Font Software into any country or use the Font Software in any manner prohibited by the United States Export Administration or any applicable export laws, restrictions, or regulations.</p>
    </li>
    <li>
        <h4>INTELLECTUAL AND INDUSTRIAL PROPERTY RIGHTS</h4>
        <ul class="nhsuk-u-margin-bottom-4">
            <li>You agree that the Font Software is protected by the copyright law or other intellectual and industrial property rights of the United States and its various States, by the copyright law and other intellectual and industrial property rights of other nations, and by international treaties.</li>
            <li>You agree that Monotype and/or its licensors own all right, title, and interest in and to the Font Software, its structure, organisation, code, and related files, including all intellectual and industrial property rights therein such as copyright, design, and trademarks rights.</li>
            <li>You agree that the Font Software, its structure, organisation, code, and related files are valuable property of Monotype and/or its licensors, and that any intentional or negligent Use of the Font Software not expressly permitted by the Agreement constitutes an infringement of intellectual and industrial property rights.</li>
            <li>All rights in and to the Font Software, including unpublished rights, are reserved under the copyright laws of the United States and other jurisdictions.</li>
        </ul>
    </li>
    <li>
        <h4>ENTIRE AGREEMENT; PARTIAL NULLITY; GOOD FAITH OBLIGATIONS</h4>
        <p>This Agreement, including all attachments hereto, constitutes the entire agreement between the parties hereto with respect to license of the Font Software. In the event that any provision of this Agreement is unenforceable or invalid, such unenforceability or invalidity shall not render the Agreement unenforceable or invalid as a whole, and, in such event, such provision shall be changed and interpreted so as to best accomplish the objectives of such unenforceable or invalid provision within the limits of applicable law or court decisions. You and NHSE each owe a duty to cooperate in order to give full effect to this Agreement.</p>
    </li>
    <li>
        <h4>GOVERNING LAW; JURISDICTION</h4>
        <p>This Agreement is governed by the laws of England and Wales (without regard to applicable conflict of laws provisions). The courts of London, England, shall be the exclusive forum for any disputes arising out of or related to this Agreement. Both you and NHSE agree to the personal jurisdiction and venue of these courts in any action related to this Agreement. Except as otherwise set out in this Agreement, a person who is not a party to this Agreement has no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any of the terms and conditions in this Agreement. This Agreement will not be governed by the United Nations Convention on Contracts for the International Sale of Goods, the application of which is expressly excluded.</p>
    </li>
  </ol>

  <h2 id="attachment-1">ATTACHMENT 1<br>
  ADDITIONAL PURPOSE TERMS</h2>

  <ol style="list-style-type: decimal;">
      <li>
          <h3>NHSE Service Requirements</h3>
          <p>The parties agree that the NHS Partner is licensed to use the Font and Font Software.</p>
          <ol style="list-style-type: upper-alpha;">
              <li>
                  <p>In relation to the use of the Font and Font Software associated with an Application, the following is permitted usage.</p>
                  <ul class="nhsuk-u-margin-bottom-4">
                      <li>The NHS Partner shall be entitled to modify, amend, and update the Application, and the licence shall permit usage on all versions and iterations of the Application in accordance with the Agreement.</li>
                      <li>The NHS Partner shall be entitled to use the Font and Font Software on the Application and on products and services serviced through the Application, including but not limited to Application notifications and/or account messaging, and accessing health records.</li>
                      <li>Any users of the Application shall be entitled to make documents by printing such material generated from the Application by "print screening" or by taking pictures of the Application or anything serviced through the Application, and shall be entitled to create, edit, view, print, and distribute such materials. Such use will constitute the creation of materials that are not owned by Monotype, and is not required to be licensed and will not be controlled by the licence terms set out in the Agreement.</li>
                      <li>Users of the Application shall be entitled to have picture elements derived from the Application be saved in secure areas outside of the Application (for example, but not limited to, items saved to an Apple Wallet).</li>
                      <li>Users of the Application shall be entitled to print and share static images from the Application. Such use will constitute the creation of materials that are not owned by Monotype, and is not required to be licensed and will not be controlled by the licence.</li>
                      <li>The NHS Partner shall be entitled to display the static graphic image of the font in documentation associated with the Application (for example, inclusion of extracts of print screens of the Application or in Application user guidance, log-in buttons, NHS logos and branding, signage, information leaflets, reports, contracts, emails, and correspondence). Such use will constitute the creation of materials that are not owned by Monotype, and is not required to be licensed and will not be controlled by the licence; and</li>
                      <li>Users of the Application will be able to interactively engage with the Application using the Font and Production Fonts (e.g. in form fields, customer feedback, etc) for transaction or marketing purposes (which, for the avoidance of doubt, shall be interpreted as permitting the performance of the roles of NHS Partner as outlined in this Attachment).</li>
                  </ul>
              </li>
              <li>
                  <p>In relation to the use of the Font and Font Software associated with the NHS Partner's websites (the NHS websites), the following is permitted usage.</p>
                  <ul class="nhsuk-u-margin-bottom-4">
                      <li>Any users of the NHS websites shall be entitled to use the Font and Font Software on all and any items included in the NHS websites.</li>
                      <li>The NHS Partner and any users of the NHS websites shall be entitled to print (generated from NHS websites and servers), make copies, of extracts by "print screening" or take pictures of NHS websites, and shall be entitled to create, edit, view, print, and distribute materials. Such use will constitute the creation of materials that are not owned by Monotype, and is not intended to be and not required to be licensed and will not be controlled by the licence.</li>
                      <li>Any users of the NHS websites shall be entitled to make electronic documents of NHS websites (for example, by converting a page to a PDF) and shall be entitled to edit, view, print, and distribute such electronic documents. Such use will constitute the creation of materials that are not owned by Monotype, and are not required to be licensed and will not be controlled by the licence; and</li>
                      <li>Users of NHS websites will be able to interactively engage with the NHS websites using the Font and Production Fonts (e.g. in form fields, customer feedback, etc) for transaction or marketing purposes.</li>
                  </ul>
              </li>
          </ol>
      </li>
  </ol>

    <p class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
  Updated: March 2025<br>
    </p>

{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("main.js") }}" type="module"></script>
{% endblock %}
