{% from 'action-link/macro.njk' import actionLink %}
{% from 'back-link/macro.njk' import backLink %}

{% extends "includes/template.njk" %}

{% block pageTitle %}
  Annex – Detailed Terms
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/design-system/styles/use-frutiger-font/terms-of-licence",
    text: "Terms of licence"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
    <h1>Annex: Detailed Terms</h1>

    <p>Capitalized terms used in this Annex shall have the meaning set forth in Section 1 and Attachment 1.</p>

    <h2>Key Terms Form</h2>

    <table>
      <caption>Licenses</caption>
      <tr>
          <td>The Font, Production Fonts and Font Software (all Use)</td>
          <td>The Font and all Font Software and Production Fonts incorporating the Font:
              <ul>
                  <li>Frutiger Bold</li>
                  <li>Frutiger Light</li>
                  <li>Frutiger Roman</li>
              </ul>
          </td>
      </tr>
      <tr>
          <td>Company Desktop License (including Desktop Use)</td>
          <td><p>Licensed Desktop Users (maximum)</p>
            <p>Unlimited<br>This licence includes unlimited:</p>
            <ol style="list-style-type: lower-latin;">
              <li>Desktop Use (as set out in Section 2(A)); and</li>
              <li>in respect of all digital informational content, all other Use.</li>
            </ol></td>
      </tr>
      <tr>
          <td>Licensed Applications</td>
          <td><p>Unlimited Applications</p>
            <p>Aggregate registered users (maximum): Unlimited</p>
            <p>(in respect of the native elements of any customer/ staff facing NHS mobile downloadable applications ("NHS Downloadable Apps") only, this is restricted to Frutiger Bold & Frutiger Roman, i.e. Frutiger Light cannot be used within the native elements of any customer/staff facing NHS Downloadable Apps, but it can be used in respect of other (non-native) elements of the NHS Downloadable Apps. For the purposes of this provision, 'native' elements means those which originate from within the NHS Downloadable Apps themselves and not from elsewhere, e.g. not from any web-based or other content or links)<br>
              (Note: web elements, which can contain Frutiger Light, are visible and linkable through the current NHS App – the web elements are covered by the web page content license below)</p></td>
      </tr>
      <tr>
          <td>Licensed Servers</td>
          <td>Unlimited Servers</td>
      </tr>
      <tr>
          <td>Licensed Web Page Views (and content/Use)</td>
          <td>Unlimited web page content, use, and monthly Page Views</td>
      </tr>
      <tr>
          <td>Licensed Impressions (Digital Marketing Communications)</td>
          <td>Unlimited monthly Impressions</td>
      </tr>
      <tr>
          <td>All tangible media</td>
          <td>Unlimited</td>
      </tr>
    </table>

    <table>
      <caption>General Terms</caption>
        <tr>
            <td>Binding Obligation</td>
            <td>You, the organization which accepts the 'Terms of the license' which precede this Annex, accept this Annex with NHS England on the Effective Date.</td>
        </tr>
        <tr>
            <td>Sublicense Rights</td>
            <td>In addition to the sublicense rights set forth in Section 2.D. of the Fonts License Terms, you are only entitled to sublicense the rights granted herein, with the exception of this sublicense right to a Sublicensee under the conditions that:
                <ol>
                    <li>The sublicensee is made aware of the relevant license restrictions contained in this Agreement; and</li>
                    <li>You shall be fully responsible for a breach of these terms by a Sublicensee.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>Clarification</td>
            <td>For the avoidance of doubt, the parties acknowledge that this Agreement covers only your and Sublicensees' compliance with (and any breach of) the terms in respect of the use of Frutiger (and no other fonts) under this Agreement.</td>
        </tr>
    </table>

    <h2>Fonts License Terms</h2>

    <h3 id="table-caption-definitions">1.	DEFINITIONS.</h3>

    <table aria-labelledby="table-caption-definitions">
        <tr>
            <td>Affiliate</td>
            <td>(1) An entity that controls, is controlled by or is under common control with a party to this Agreement at any time during the term of this Agreement, where control means a 50% or greater ownership interest in such entity; or (2) where a party is a public body, the controlling organisation (including ministers and government departments) and other bodies, agencies, persons, commissions or agencies from time to time carrying out functions on its behalf.</td>
        </tr>
        <tr>
            <td>Agreement</td>
            <td>The 'Terms of the licence' which precede this Annex, and the terms of this Annex, including Attachment 1. In the event of any conflict or inconsistency between the 'Terms of the licence' and this Annex, the Annex shall prevail.</td>
        </tr>
        <tr>
            <td>Application</td>
            <td>A product that is distributed as software only (and, subject to Section 3.2: is not embedded into OEM equipment which is sold either for monetary consideration or for the purposes of making a profit for the NHS Partner) made available by the NHS Partner to end users either directly or through a distributor. A version of an Application that does not have unique functionality beyond the scope of a previously released Application and is not licensed or marketed under a new name shall not be considered a new Application.</td>
        </tr>
        <tr>
            <td>Confidential Information</td>
            <td>Any information, however it is conveyed, that relates to the business, affairs, developments, trade secrets, know-how, personnel and suppliers of Monotype, together with information derived from the above, and any other information clearly designated as being confidential (whether or not it is marked as "confidential") or which ought reasonably to be considered to be confidential (excluding the Font).</td>
        </tr>
        <tr>
            <td>Derivative Work</td>
            <td>A work, including but not limited to software or data, based upon or derived from any of the Font Software (or any portion of the Font Software) in any form in which such software or data may be recast, transformed, or adapted including, but not limited to, binary data in any format into which the Font Software may be converted.</td>
        </tr>
        <tr>
            <td>Digital Marketing Communication</td>
            <td>A piece of promotional or marketing content delivered via the internet or any other digital media. A Digital Marketing Communication includes, but is not limited to, email advertisements, banner ads and display advertisements shown on websites, advertisements in web applications and advertisements in applications.</td>
        </tr>
        <tr>
            <td>EIRs</td>
            <td>The Environmental Information Regulations 2004, and all associated statutory instruments and regulatory guidance (as amended).</td>
        </tr>
        <tr>
            <td>Effective Date</td>
            <td>The date that you click 'accept' on the registration form.</td>
        </tr>
        <tr>
            <td>Electronic Document</td>
            <td>Any electronic document or data file, for example a .pdf manual or an e-book, but which is not a Digital Marketing Communication.</td>
        </tr>
        <tr>
            <td>FOIA</td>
            <td>The Freedom of Information Act 2000, and all associated statutory instruments and regulatory guidance, (as amended).</td>
        </tr>
        <tr>
            <td>Font</td>
            <td>(To the extent that any intellectual property rights arise in the same): the typeface, graphic representation of the typeface, typographic design and ornaments, including as a non-digital asset or a fixed digital asset, relating to the font known as Frutiger (including all formats and sizes). The Font shall include all subsets and bitmap representations of typeface and typographic designs and ornaments created by or derived from the Font.</td>
        </tr>
        <tr>
            <td>Font Software</td>
            <td>All software relating to the Font which when used on an appropriate device or devices, generates typeface and typographic designs and ornaments. The definition of Font Software does not include the Font itself but shall include all Font Software forming subsets and bitmap representations of typeface and typographic designs and ornaments created by or derived from the Font Software, and all copies of the Font Software in web font format Used or accessed in conjunction with the rendering of web pages for web page content, including copies of web pages that may be temporarily cached. Font Software, for the purposes of this Agreement, refers to the Font Software, including Production Fonts, specified in the Key Terms Form. The Font and its related Font Software shall be available in all formats reasonably requested or required by the NHS Partner (including all OTF, WOFF, WOFF2, EOT, SVG, TTF and all other formats and sizes).</td>
        </tr>
        <tr>
            <td>Impression</td>
            <td>Either (i) a response, in which the Font Software or Subset(s) thereof is incorporated, from a digital advertisement delivery system to a request from a web or mobile browser or other application, or (ii) an opened e-mail where the Font Software or Subset(s) thereof is delivered to the email client.</td>
        </tr>
        <tr>
            <td>Key Terms Form</td>
            <td>The foregoing Key Terms Form, which is subject to these Fonts License Terms including Attachment 1.</td>
        </tr>
        <tr>
            <td>Licensed Application</td>
            <td>Any Application up to the number of Applications indicated in the Key Terms Form.</td>
        </tr>
        <tr>
            <td>Licensed Desktop User</td>
            <td>Any user up to the number of individuals who may exercise the license grants to the Production Fonts under this Agreement, as indicated in the Key Terms Form, whether or not such user does actually exercise such rights. Licensed Desktop Users must be your employees or Sublicensees. You shall be responsible for compliance with the terms of this Agreement by any such third party and its employee(s), client and its employees or independent contractor.</td>
        </tr>
        <tr>
            <td>Licensed Impression</td>
            <td>Any Impression up to the number of Impressions indicated in the Key Terms Form.</td>
        </tr>
        <tr>
            <td>Licensed Page View</td>
            <td>Any Page View up to the number of Page Views indicated in the Key Terms Form.</td>
        </tr>
        <tr>
            <td>Licensed Server</td>
            <td>Any Server up to the number of Servers indicated in the Key Terms Form, on which the Font Software may be accessed by your Licensed Desktop Users and any other individuals.</td>
        </tr>
        <tr>
            <td>Monotype</td>
            <td>Collectively, Monotype Imaging Inc. or any other Monotype entity identified on the Key Terms Form, its successors and assigns, and its parent and Affiliates.</td>
        </tr>
        <tr>
            <td>NHSE</td>
            <td>NHS England, who are the licensor in this Agreement.</td>
        </tr>
        <tr>
            <td>NHS Partner (or "you" and "your")</td>
            <td>The organisation on whose behalf you accept this Agreement.</td>
        </tr>
        <tr>
            <td>Page View</td>
            <td>A single instance of access to a particular web page. For the avoidance of doubt, each visit to or display of a web page is a Page View, regardless of whether such visit or display is unique.</td>
        </tr>
        <tr>
            <td>Production Fonts</td>
            <td>The Font Software. For the avoidance of doubt, a reference to Font Software in this Agreement includes a reference to the Production Fonts.</td>
        </tr>
        <tr>
            <td>Publicly Available Software</td>
            <td>Software which meets the descriptions set out in both (a) and (b) below:<br>
                (a) Any software that contains, or is derived in any manner (in whole or in part) from, any software that is distributed as free software, open source software (e.g., Linux) or similar licensing or distribution models; and<br>
                (b) Any software that requires as a condition of use, modification and/or distribution of such software that such software or other software incorporated into, derived from or distributed with such software (i) be disclosed or distributed in source code form, (ii) be Licensed for the purpose of making Derivative Works, or (iii) be redistributable at no charge.
            </td>
        </tr>
        <tr>
            <td>Requests for Information</td>
            <td>A request for information regarding use of the Font and Font Software or otherwise relating to the Agreement from a member of the public pursuant to FOIA or EIRs.</td>
        </tr>
        <tr>
          <td>Server</td>
          <td>Any server or cloud server service that is either (a) maintained on your premises; (b) under your exclusive control; or (c) owned and controlled by a third-party hosting service for your benefit, provided that you shall remain responsible for any unauthorized access to and security of the Font Software on such Server.</td>
      </tr>
      <tr>
          <td>Sublicensee</td>
          <td>Any contractor, subcontractor, supplier, customer, user, or other third party who is providing or using goods or services to, from or with the NHS Partner.</td>
      </tr>
      <tr>
          <td>Subset</td>
          <td>A Derivative Work of the Font Software, created by removing certain glyphs and/or characters therefrom.</td>
      </tr>
      <tr>
          <td>Trademarks</td>
          <td>
            <p>The following trademarks:</p>
              <ul>
                  <li>Monotype® - a trademark of Monotype Imaging Inc. registered in the U.S. Patent and Trademark Office and may be registered in certain other jurisdictions.</li>
                  <li>Frutiger® - a trademark of Monotype Imaging Inc. registered in the U.S. Patent and Trademark Office and may be registered in certain other jurisdictions.</li>
              </ul>
              (and, if required by the NHS Partner, any other trademark as set forth at <a href="https://www.monotype.com/legal/trademarks">https://www.monotype.com/legal/trademarks</a> for each piece of Font Software licensed under this Agreement or under which Monotype markets the Font Software.)
          </td>
      </tr>
      <tr>
          <td>Use</td>
          <td>To publish, distribute, store, publicly perform, reproduce, maintain, display, integrate, install, embed and otherwise use in any way (including with respect to the Font Software, when an individual is able to give commands (whether by keyboard or otherwise) that are followed by the Font Software, regardless of the location in which the Font Software resides).</td>
      </tr>
      <tr>
          <td>Workstation</td>
          <td>A hardware component in which Font Software is installed and from which an individual is able to give commands (whether by keyboard or otherwise) that are followed by the Font Software as applicable.</td>
      </tr>
    </table>

    <p>Words and expressions such as 'including', 'for example' and similar words and expressions in this Agreement shall be read as having the words "without limitation" inserted after them (to the extent that the words " without limitation" or similar do not already precede such words or expressions).</p>

    <h3>2. LICENSE GRANTS.</h3>

    <p>You are licensing the Font and Font Software. You agree that you have the rights expressly set forth in this Agreement and no other.  All rights not expressly granted in this Agreement are reserved to NHSE and / or Monotype.</p>
    <p>The rights set forth in the Key Terms Form, this Section 2 and Attachment 1 may be exercised on your behalf by you, your Sublicensees and Licensed Desktop Users, as applicable, and you are responsible for compliance with the terms of this Agreement by all such users as well as any other parties who access the Font or Font Software with your permission. You are hereby granted, subject to all terms and conditions set forth herein, a worldwide (subject to Section 8.A), non-exclusive, non-transferable (except that you can sublicence to Sublicensees as expressly set out in this Agreement), perpetual license and (including the right to sub-license in accordance with the 'Binding Obligation' section of the above Key Terms Form) to allow their users to do the following as well as the rights granted under the Key Terms Form and Attachment 1.</p>

    <ol style="list-style-type: upper-latin;">
      <li>
          <h4>LICENSED DESKTOP USERS</h4>
          <p>All rights of Licensed Desktop Users set forth in this paragraph B apply only to the Font (and the Font Software NHSE choose to be Production Fonts).</p>
          <ol style="list-style-type: lower-roman;">
              <li>
                  <strong>Desktop:</strong>
                  <ol style="list-style-type: lower-alpha;">
                      <li>Install the Production Fonts on the Licensed Desktop User’s Workstation(s).</li>
                      <li>Install the Production Fonts onto any Server.</li>
                      <li>Use the Font and Production Fonts on such Workstations or via such Server to:
                          <ol style="list-style-type: lower-roman;">
                              <li>create, edit, view, print and distribute materials (provided that, if you distribute such materials to the wider public: (a) the materials do not contain the Font Software in a way that allows the underlying code of the Font Software cannot be extracted, reformatted and reused from such materials; and (b) where those materials include a static graphic image of the Font created using the Font Software, such image should remain static (i.e. such image should be provided in a non-editable format that does not permit such image from being broken down into its constituent Font Software parts, such as glyphs) (although they can contain the Font)). This does not prevent the use of the Font and Font Software in editable content formats such as Word;</li>
                              <li>Embed and Use the Font and Font Software in Electronic Documents and duplicate the Font and Font Software as an integrated part of any such Electronic Document, provided that Electronic Documents with embedded Font Software may only be distributed to the wider public if the underlying code of the Font Software cannot be extracted, reformatted, and reused from such Electronic Documents. This does not prevent the use of the Font and Font Software in editable content formats such as Word.</li>
                          </ol>
                      </li>
                      <li>Make backup copies of the Production Fonts, provided that such copies are for your internal backup purposes only and remain in your exclusive control (or that of the Sublicensees).</li>
                      <li>Use the Font and Font Software in, and in connection with, all digital informational content and communications (which are not Digital Marketing Communications that are licensed in accordance with Section 2(C)(v) below) in all other ways. Where such content and communications are made available to the wider public, they should be provided in a format that does not permit the underlying code of the Font Software to be downloaded, reformatted, and reused from such communications and content. This does not prevent the use of the Font and Font Software in editable content formats such as Word.</li>
                  </ol>
              </li>
              <li>
                  <strong>Company Desktop License:</strong>
                  If you have a Company Desktop License as set out in the Key Terms Form, in addition to the rights listed above in Section 2.A.i., your Licensed Desktop Users may use the Font and Production Fonts to create Electronic Documents and distribute the Font and Production Fonts embedded into such Electronic Documents in a collaborative cloud authoring environment to individuals who are not Licensed Desktop Users, provided that such individuals may only use a Production Font for the purpose of viewing and editing the Electronic Document with which it was distributed.
              </li>
          </ol>
      </li>
      <li>
          <h4>ALL USERS</h4>
          <p>(Licensed Desktop Users, and any other users permitted use of the Font or Font Software by the NHS Partner). All rights set forth below apply to the Font and Font Software, Production Fonts, and the licenses as defined in the Key Terms Form.</p>
          <ol style="list-style-type: lower-roman;">
              <li>
                  <strong>Applications:</strong>
                  <ol style="list-style-type: lower-alpha;">
                      <li>Incorporate the Font and Production Font(s) into Applications.</li>
                      <li>Duplicate the Font and Production Font(s) as an integral part of any such Application.</li>
                      <li>Distribute the Font and Production Font(s) directly or indirectly as an integrated component of any such Application.</li>
                  </ol>
              </li>
              <li>
                  <strong>Servers:</strong>
                  <ol style="list-style-type: lower-alpha;">
                      <li>Install the Production Font(s), or a web server application into which the Production Font(s) has been incorporated, and Use the Font and Font Software, on Licensed Servers.</li>
                      <li>Allow internal or external users to Use the Font and Production Font(s) on such Licensed Servers in the manners set forth in Section 2.A.i.c., in relation to the Servers described in the Key Terms Form.</li>
                  </ol>
              </li>
              <li>
                  <strong>Web Page Content:</strong>
                  Use the Font and Production Font(s) to generate content on websites owned or under your control (including through a Sublicensee). This license allows users of your websites to type text on that website through Use of the Font and Production Font(s) (e.g., in form fields, customer feedback, etc.). Where such web page content is made available to the wider public, it should be provided in a format that does not permit the underlying code of the Font Software to be downloaded, reformatted, and reused from such content. This does not prevent the use of the Font and Font Software in editable content formats such as Word.
              </li>
              <li>
                  <strong>Digital Marketing Communications:</strong>
                  Embed the Font and Production Font(s) into a Digital Marketing Communication, provided that where such communications are made available to the wider public, they should be provided in a format that does not permit the underlying code of the Font Software to be downloaded, reformatted, and reused from such communications. This does not prevent the use of the Font and Font Software in editable content formats such as Word.
              </li>
              <li>
                  <strong>All tangible materials:</strong>
                  Use the Font and Font Software to create, edit, print, produce, and otherwise deal with any printed and other tangible items.
              </li>
              <li>
                  <strong>Logos and marks:</strong>
                  Use the Font and Font Software in any logos and marks.
              </li>
              <li>
                  <strong>All other use:</strong>
                  Publish, distribute, store, publicly perform, reproduce, maintain, integrate, install, embed, display, and otherwise use in any way (including through, or using, its or a third party's software, tools, artificial intelligence systems, and other systems) on a perpetual basis and without limitation the Font and Font Software in any other form and through any other media now known (whether electronic, tangible, or otherwise).
              </li>
          </ol>
      </li>
      <li>
        <h4>TRADEMARKS</h4>
        <ul>
            <li>NHSE confirms that:
                <ol style="list-style-type: lower-alpha;">
                    <li>Use of the Monotype Trademarks is not required for the NHS Partner and Sublicensees to Use the Font and Font Software as set out in this Agreement.</li>
                    <li>Use of the Font Software or Font itself in any item does not require you or your Sublicensees to identify the Font or Font Software as Frutiger, or to use or refer to Monotype or its logo.</li>
                </ol>
            </li>
            <li>You must not use the Trademarks when communicating with the wider public.</li>
            <li>You acknowledge that Monotype or its licensors own all right, title, and interest in and to the Trademarks.</li>
        </ul>
    </li>
    <li>
        <h4>SUBLICENSE RIGHTS</h4>
        <ol style="list-style-type: lower-roman;">
            <li>You can sublicense the rights granted herein, with the exception of this sublicense right, to the other Sublicensees.</li>
            <li>The rights granted herein to the Sublicensees is under the condition that the sublicensee is made aware of the relevant terms of this Agreement and you shall be fully responsible for a breach of these terms by a sublicensee.</li>
        </ol>
    </li>
    </ol>

    <h3>3. RESTRICTIONS.</h3>

    <ol style="list-style-type: upper-latin;">
      <li>
          You may not:
          <ul>
              <li>Except as otherwise provided in this Agreement, transfer your license rights in the Font Software.</li>
              <li>Except as otherwise provided in this Agreement, modify the Font Software in any way, including to create, directly or indirectly, Derivative Works from the Font Software or any portion thereof (except as otherwise specifically set forth herein). Embed the Font Software in open source software which has the direct or indirect effect of causing the Font Software to become Publicly Available Software or otherwise be subject to a Publicly Available Software agreement.</li>
          </ul>
      </li>
      <li>
          <p>Nothing in this Section 3 or the rest of the Agreement restricts or prevents you (or any other Sublicensees on your behalf) from using the Font and Font Software as you require to:</p>
          <ol style="list-style-type: lower-alpha;">
              <li>Maintain, and ensure perpetual use of, the Font and Font Software by the NHS Partner (and any other Sublicensees on their behalf).</li>
              <li>Create and edit digital or non-digital content using the Font and Font Software.</li>
              <li>Embed the Font and Font Software within:
                  <ol style="list-style-type: lower-roman;">
                      <li>The NHS Partner and NHS national (or local) design systems, including to enable use of the Font and the Font Software by the NHS Partner and Sublicensees (which includes storing fonts in central asset folders that feed such design systems, front end libraries, and prototyping toolkits).</li>
                      <li>Other NHS Partner digital platforms or software.</li>
                  </ol>
              </li>
              <li>Store the Font and Font Software on the NHS Partner's internal design community system/s.</li>
              <li>Store the Font and Font Software on GitHub within the NHS Partner's NHS account/s alongside access to all web Font and other assets.</li>
              <li>Prepare and build online website services using the Font and Font Software on agency or third-party test/build servers before publishing onto the NHS Partner host servers, including using the Font and Font Software:
                  <ol style="list-style-type: lower-roman;">
                      <li>In testing and preparation stages.</li>
                      <li>Prototypes on Heroku or similar.</li>
                      <li>For staging servers hosted by agencies/suppliers.</li>
                  </ol>
              </li>
              <li>Install the fonts on listed users' corporate computers to enable communications and services (including letters, leaflets, booklets).</li>
              <li>Integrate the Font and Font Software with other software, systems, and tools used by or on behalf of the NHS Partner (including, in accordance with Section 50B of the Copyrights, Designs, and Patents Act 1988, decompiling as necessary to obtain the information necessary to create an independent program which can be operated with the Font Software or with another program).</li>
          </ol>
      </li>
  </ol>

  <h3>4. (Not applicable)</h3>

  <h3>5. CONFIDENTIALITY </h3>

  <ol style="list-style-type: upper-alpha;">
    <li>
        <p>The NHS Partner, when receiving Confidential Information, must, for a period of three (3) years from date of receipt of the Confidential Information:</p>
        <ol style="list-style-type: lower-roman;">
            <li>Keep all Confidential Information it receives confidential and secure.</li>
            <li>Not disclose, use, or exploit the Confidential Information without NHSE's prior written consent (which the NHS Partner acknowledges is subject to NHSE obtaining Monotype's consent), except for the purposes anticipated under this Agreement.</li>
            <li>Immediately notify NHSE if it suspects unauthorized access, copying, use, or disclosure of the Confidential Information.</li>
        </ol>
    </li>
    <li>
        <p>In spite of Section 5A, the NHS Partner may disclose Confidential Information in any of the following instances:</p>
        <ol style="list-style-type: lower-roman;">
            <li>Where disclosure is required by applicable law, a regulatory body, or a court with the relevant jurisdiction, if permitted and possible, the NHS Partner notifies NHSE in writing in advance the full circumstances, the affected Confidential Information, and the extent of the disclosure.</li>
            <li>If the NHS Partner already had the information without obligation of confidentiality before it was disclosed, directly or indirectly, under or in connection with this Agreement.</li>
            <li>If the information was given to it by a third party without obligation of confidentiality.</li>
            <li>If the information was in the public domain at the time of the disclosure.</li>
            <li>If the information was independently developed without access to Monotype's Confidential Information.</li>
            <li>On a confidential basis, to its auditors or for the purpose of regulatory requirements.</li>
            <li>On a confidential basis, to its professional advisers on a need-to-know basis.</li>
            <li>To the Serious Fraud Office where the NHS Partner has reasonable grounds to believe that Monotype is involved in activity that may be a criminal offence under the Bribery Act 2010.</li>
            <li>On a confidential basis to the Sublicensees and any other employees, agents, consultants, and contractors of the NHS Partner.</li>
            <li>If the NHS Partner (acting reasonably) considers disclosure necessary or appropriate to carry out its public functions.</li>
            <li>Where requested by Parliament.</li>
            <li>On a confidential basis for audit purposes.</li>
        </ol>
    </li>
    <li>
        <p>For the purposes of Section 5B above, references to disclosure on a confidential basis mean disclosure under a confidentiality agreement or arrangement including terms as strict as those required in this Section 5.</p>
    </li>
    <li>
        <p>NHSE is subject to the requirements of the FOIA and the EIRs. Monotype has acknowledged in its license with NHSE that NHSE and NHS Partners may be required under the FOIA and EIRs to disclose information (including confidential information) without consulting or obtaining consent from Monotype, and that NHSE shall take reasonable steps to notify Monotype of a Request for Information (in accordance with the Secretary of State’s section 45 Code of Practice on the Discharge of the Functions of Public Authorities under Part 1 of the FOIA) to the extent that it is permissible and reasonably practical for it to do so. NHS Partner must notify NHSE of, and cooperate and assist NHSE in respect of, any Request for Information relating to Monotype's Confidential Information, as set out in Section 5E or 5F, as applicable.</p>
    </li>
    <li>
        <p>Where the NHS Partner is subject to the requirements of the FOIA and the EIRs, the Parties shall cooperate and assist one another so as to enable them to meet their respective obligations under the FOIA and the EIRs. Without prejudice to the generality of the foregoing, where a party (the “Recipient”) receives a request for information which is covered by the FOIA and the EIRs and which relates to the other party's or Monotype's information ("Requested Information"), the parties shall comply with the following procedures:</p>
        <ol style="list-style-type: lower-roman;">
            <li>The Recipient shall, before making any disclosure of the Requested Information and as soon as reasonably practicable after receiving the request, notify the other party of the receipt of such request and of the nature and extent of the information covered by the request.</li>
            <li>Following notification under (i), the other party (and, if required by NHSE, Monotype) may make representations to the Recipient as to whether and on what basis the Requested Information is covered by any exemption in the FOIA and the EIRs and should not therefore be disclosed, including, where relevant, the balance of the public interests in disclosure and non-disclosure (“Representations”).</li>
            <li>The Recipient shall reasonably consider any Representations before reaching a determination on whether it is obliged to disclose the Requested Information. However, the parties acknowledge that in all cases it is for the Recipient (having full regard to any applicable guidance or codes issued by the Information Commissioner) to determine whether it is obliged to disclose the Requested Information under the FOIA and the EIRs, including where the public interest lies in relation to the disclosure.</li>
            <li>If the Recipient determines that it is obliged to disclose the Requested Information, it shall notify the other party reasonably in advance of disclosure being made.</li>
        </ol>
    </li>
    <li>
        <p>Where the NHS Partner is not subject to the requirements of the FOIA and the EIRs, the NHS Partner shall:</p>
        <ol style="list-style-type: lower-roman;">
            <li>Provide all necessary assistance and cooperation as reasonably requested by NHSE to enable NHSE to comply with its obligations under the FOIA and EIRs.</li>
            <li>Not respond directly to a Request for Information addressed to an NHS Partner unless authorized in writing to do so by NHSE.</li>
            <li>NHS Partner acknowledges that NHSE may be required under the FOIA and EIRs to disclose information (including confidential information) without consulting or obtaining the NHS Partner's consent, NHSE shall take reasonable steps to notify the NHS Partner of a Request for Information (in accordance with the Secretary of State’s section 45 Code of Practice on the Discharge of the Functions of Public Authorities under Part 1 of the FOIA) to the extent that it is permissible and reasonably practical for it to do so but (notwithstanding any other provision in this Agreement) NHSE shall be responsible for determining in its absolute discretion whether any confidential information or any other information is exempt from disclosure in accordance with the FOIA and EIRs.</li>
        </ol>
    </li>
  </ol>

  <h3>6. TERMINATION.</h3>
  
{% endblock %}