{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Use the NHS Frutiger font" %}
{% set pageDescription = "Frutiger is the brand font for the NHS. NHS England has a licence for 3 weights of the font which NHS organisations in England can sign up to use." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "March 2025" %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
  <nav class="app-side-nav">

    <ul class="nhsuk-list app-side-nav__list">

      <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

      <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/use-frutiger-font">Use the NHS Frutiger font</a></li>

    </ul>
  </nav>
{% endblock %}

{% block bodyContent %}

<h2>Register for a free licence</h2>
<p>One person in each NHS organisation in England can sign up for a licence so their organisation can use the font. You can register if you:</p>
<ul>
  <li>are the main person responsible for managing font use in your organisation (for example, in the communications or IT team)</li>
  <li>have the authority to register on behalf of your organisation</li>
</ul>

<p>Once you have registered, you can download the font files and host them locally. Or you can apply the font to your website or online service by linking to our hosted files. There is no limit to the number of people in your organisation who can use the files.</p>

<p>If you do not register here for a licence, you must buy your own licence.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Organisations with an existing licence
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>If your organisation already has a licence for desktop applications (such as graphic design software) and for enough users, you do not need to do anything and can continue to use the font in desktop applications.</p>
    <p>If you're paying an annual subscription to use the font or require more users, you will save money by registering for a licence for the 3 font weights, as the NHS-wide licence is free and does not expire.</p>
  </div>
</details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      NHS England staff
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>NHS England teams do not need to register to use the font. Find out more on the staff User Centred Design (UCD) SharePoint.</p>
  </div>
</details>

<h2>Frutiger weights included</h2>
<p>The licence covers 3 weights. These are:</p>
<ul>
  <li>Frutiger 65 Bold</li>
  <li>Frutiger 55 Roman</li>
  <li>Frutiger 45 Light, but you cannot use this weight in apps under the licence</li>
</ul>
<p>You can use the font in these weights online and offline, for example, on your website or in printed products.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Weights not covered
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>If you want to use another weight of Frutiger, for example Frutiger Italic, you must buy your own licence. We do not recommend italic fonts. Some people find them hard to read.</p>
    <p>You must also buy your own licence if you want to use Frutiger 45 Light in an app.</p>
  </div>
</details>

<h2>Before you start</h2>
<p>To register for a licence to use the font, you must:</p>
<ul>
  <li>be the most appropriate person to register on behalf of your organisation and have the authority to do this</li>
  <li>have the Organisation Data Service (ODS) code for your NHS organisation – if you do not know it, we will explain how to find it later</li>
</ul>

<h2>Next step</h2>

<div>
  {{ button({
    text: "Read the licence terms",
    href: "/design-system/styles/use-frutiger-font/terms-of-licence"
  }) }}
</div>

<p>At the end of the terms, there's a link to the registration form.</p>

<h2>More information</h2>
<p><a href="https://www.england.nhs.uk/nhsidentity/identity-guidelines/fonts/">Font guidance in the NHS identity guidelines (NHS England)</a></p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
