{% from "action-link/macro.njk" import actionLink %}
{% from "back-link/macro.njk" import backLink %}

{% extends "template.njk" %}

{% block head %}
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/main.scss") }}">
  <meta name="description" content="This is a licence for specific Frutiger fonts for NHS organisations only. By registering for this licence, you can get access to authorised versions of the Frutiger font.">
{%- endblock %}

{% block pageTitle %}
  Terms of NHS Frutiger licence
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/design-system/styles/use-frutiger-font/index",
    text: "Use the NHS Frutiger font"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Terms of the licence</h1>

    <p class="nhsuk-lede-text">This is a licence for specific Frutiger fonts for NHS organisations only. By registering for this licence, you can get access to authorised versions of the Frutiger font.</p>
    <p>Before you can download and use the Frutiger font under NHS England's licence, you must read and agree to these terms (including the Annex: detailed terms, which you can find a link to within the registration form). As set out at the start of the registration form, by clicking "agree" you confirm that you are authorised to accept these terms (including the detailed terms in the Annex) on behalf of your organisation. Where we refer to "you" or "your" in the rest of these terms, we are therefore referring to your organisation.</p>
    <p>NHS England has a licence for 3 weights of the Frutiger font, which is the brand font for the NHS. Monotype owns the font software and other elements of the font which are protected by intellectual property rights. We call these the "font" in these terms.</p>
    <h2>Who can register for a licence</h2>
    <p>NHS organisations in England can register to use the font for free under this licence.</p>
    <p>You do not need to register if your team is part of NHS England.</p>
    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Legal effects of these terms for different NHS organisations
        </span>
      </summary>
      <div class="nhsuk-details__text">
      <p>The legal effects of the terms of the licence depend on what type of organisation you are.</p>
      <p>This licence is one of the following:</p>
      <ul>
        <li>an "NHS contract" (as defined in <a href="https://www.legislation.gov.uk/ukpga/2006/41/section/9">section 9 of the National Health Service Act 2006</a>) when made with NHS trusts (and other NHS organisations listed in that section, such as integrated care boards) – however, this licence should still be treated with the same degree of rigour and seriousness as if it were legally binding</li>
        <li>a legally binding agreement when made with organisations where the licence does not fall within the definition of an NHS contract (such as foundation trusts)</li>
      </ul>
      </div>
    </details>

    <p>You agree that NHS England has the right at any time to assign, replace with a new contract with our successor (or novate the contract), subcontract or otherwise transfer, without notice, all or any part of this agreement and all or any of its rights and obligations under it to any successor (including a successor body of all or part of its functions).</p>

    <h2>The fonts covered by this licence</h2>
    <p>The licence covers Frutiger in 3 weights:</p>
    <ul>
      <li>Frutiger 65 Bold</li>
      <li>Frutiger 55 Roman</li>
      <li>Frutiger 45 Light, but the licence does not cover using this weight in an app</li>
    </ul>
    <p>This licence covers the font version and format that NHS England bought in December 2024. It does not cover any newer versions of the font.</p>
    <p>You are allowed to use the font as described in this licence, alongside other organisations to which we licence the font.</p>

    <h3>Other Frutiger fonts</h3>
    <p>You must buy your own licence if you want to use:</p>
    <ul>
      <li>any other font or font weight, such as Frutiger Italic</li>
      <li>Frutiger 45 Light in a mobile downloadable app</li>
      <li>Frutiger in a way that is not covered in this licence</li>
    </ul>
    <p>If you have a licence for other Frutiger fonts, you must follow the terms of that licence.</p>

    <h3>Permitted formats</h3>
    <p>Use of the font is only permitted in formats which are known and in existence at the time of NHS England's licence from Monotype (for example, in emails, websites, printed materials, apps, word processing programs, PDFs, and so on). This means that this licence does not cover new formats (such as variable fonts, which are fonts that use 1 file to store many font styles), nor does it allow you to use the font in any new or innovative formats (for example, in any entirely new technologies invented after the end of 2024).
    <h2>What you can and cannot do with this licence</h2>
    <p>You must:</p>
    <ul>
      <li>manage access to the font and only let people in your organisation or your suppliers use it for your organisation's purposes</li>
      <li>make sure every person you allow to use the font is aware of and agrees to comply with these terms</li>
      <li>only use the font for the specific purposes and use cases set out in these terms</li>
    </ul>
    <p>You are responsible for:</p>
      <ul>
        <li>your users' and suppliers' use of the fonts and compliance with this licence</li>
        <li>any unauthorised access to the font on your or their systems</li>
        <li>any claims by Monotype (the owner of the font) for your, your users' and your suppliers' misuse of the font</li>
        <li>making sure that you, your users, and your suppliers do not do anything that could put NHS England in breach of its licence with Monotype</li>
      </ul>
    <p>You must not sublicense, assign or transfer the font to another organisation or give anyone outside your organisation access to it, with the exception of suppliers who are using it for your organisation's purposes. They must not grant any further licences.</p>
    <p>NHS England is not responsible for any losses, claims or liabilities arising out of your, your users' or suppliers' use of the font on your or their systems.</p>
    <p>You cannot use Monotype's font platform or its app to get these fonts. You can only get them by registering here.</p>
    <h3>Suppliers</h3>
    <p>You can give your suppliers access to the font to produce NHS branded goods or services for you.</p>
    <p>You must make sure that they:</p>
    <ul>
      <li>agree to these terms</li>
      <li>only use the font to provide goods or services to you (and not for their own use)</li>
      <li>do not allow anyone else to use the font</li>
      <li>delete any font files you have given them at the end of the job</li>
    </ul>

    <p>Where we say you must do or not do something in these terms, this covers anything you do (or do not do) directly or indirectly (for example, through anyone, or anything, else).</p>
    <h3>The font files</h3>
    <p>You must not:</p>
    <ul>
      <li>change the font or use it to make other fonts</li>
      <li>embed the font software code in open source software in a way that makes it publicly available</li>
      <li>extract, use or change the font metadata</li>
      <li>transfer or use the font outside the UK</li>
    </ul>

    <h3>Using the font in different products, systems and services</h3>
    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Online services, including websites
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>You can use the font to write text and create forms on websites you control.</p>
        <p>You must make sure people cannot download, reformat or use the font code.</p>
      </div>
    </details>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Apps
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>You can include the font as an integrated part of software-only apps (for example, apps which are not part of any specific equipment).</p>
        <p>You must not use the font software in apps or equipment that you sell or profit from.</p>
        <p>If you want to use Frutiger Light in an app, you must buy your own licence. This licence does not cover it.</p>
      </div>
    </details>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Desktop applications, including creating documents or other materials
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>You can install the software on servers that you control or servers that a third party controls for you.</p>
        <p>You can:</p>
        <ul>
          <li>use the font to create, edit and distribute documents or other NHS materials</li>
          <li>embed the font into electronic documents (note: digital marketing communications are covered below)</li>
          <li>create internal-only backups</li>
        </ul>
        <p>You must make sure that materials you create:</p>
        <ul>
          <li>do not allow any part of the font software code to be downloaded or extracted</li>
          <li>only have images of the font that cannot be edited (but note: Word documents are covered below)</li>
        </ul>
        <p>If you use the font, font software or materials in a collaborative cloud environment, you can let users view and edit the document but not otherwise use the font.</p>
      </div>
    </details>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Digital marketing communications
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Digital marketing communications include, for example, sending marketing emails out or displaying an advertisement on websites you control.</p>
        <p>You can embed the font into digital marketing communications and use the font in editable documents, like Word.</p>
        <p>You must make sure your content does not allow people to download, reformat or re-use the font code.</p>
      </div>
    </details>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Print and other physical items
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>You can use the font to create, edit, print, and produce printed and other physical items.</p>
      </div>
    </details>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Logos and marks
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>You can use the font as part of your logos.</p>
        <p>The use of the NHS lozenge is subject to the NHS trade mark licence.</p>
      </div>
    </details>

    <h2>Issues or claims about the font</h2>
    <p>The font is only provided with those warranties we can pass through from Monotype, as set out in the Annex. We do not provide any warranties as to its suitability or availability. If there are any third party claims about the font, you must let us (or, where we require, Monotype) take control of such claims.</p>
    <p>If you have any issues with the font covered by these licence terms, contact <a href="mailto:england.font@nhs.net?subject=Issue with the font">england.font@nhs.net</a>. Do not contact Monotype. You cannot make a claim against Monotype directly.</p>

    <h2>Breaches of the licence and indemnity</h2>
    <p>You must let us know immediately if you breach your licence. Contact <a href="mailto:england.font@nhs.net?subject=Breach of the licence">england.font@nhs.net</a>.</p>
    <p>You must fix any breaches you can within 60 days.</p>
    <p>NHS England or Monotype can end your licence and rights to use the font if you breach its terms, or if NHS England's arrangement with Monotype ends. </p>
    <p>You agree to compensate, indemnify, defend, and hold harmless NHS England in full for any losses, claims, penalties, liabilities and costs that arise (including in relation to any claims by Monotype or any other third party) in respect of your use of the font (and the use of the font by anyone you allow to use it), and your and their:</p>
    <ul>
      <li>actions (or failure to take action)</li>
      <li>misuse of the font</li>
      <li>making false or incorrect claims about the font, licence or the relationship with Monotype</li>
      <li>use of the font (or any other font) without being authorised</li>
      <li>breach of these or any other licence terms</li>
      <li>doing anything (or failing to do anything) which causes NHS England to breach its agreement with Monotype</li>
    </ul>

    <p>If Monotype makes a claim or asks for information about your, your users' or your suppliers' use of the font, you must help us and give us any reasonable information we ask for. This may include providing a list of font users and details of how you use the font.</p>

    <h2>Compliance, trade marks, intellectual property and export laws</h2>
    <p>You must not share Monotype's confidential information with third parties. Specific confidentiality, Freedom of Information Act and similar provisions are set out in detail in the Annex.</p>
    <p>You must only use the font in accordance with applicable laws and regulations. The font is proprietary to Monotype and protected by UK, US and other intellectual property laws. US and other export rules and restrictions apply to the use of the font. Please therefore make sure that the font is not transferred or accessed in any way outside of the UK, or to or by any entity which is subject to any criminal or other sanctions.</p>
    <p>You must not use any Monotype trade marks publicly, including the words "FRUTIGER" and "MONOTYPE", unless you have separate written consent from Monotype to do so.</p>

    <h2>Updating the licence</h2>
    <p>NHS England has the right to review and update these terms at any time. If you register, we will email you about any changes at least 30 days before they take effect. After that, if you continue to use the font, it's treated as you having accepted the updated terms.</p>

    <h2>Next step</h2>

    <h3 class="nhsuk-heading-xs">If you have an nhs.net email account</h3>

    {{ actionLink({
      text: "Complete the registration form (Microsoft Forms)",
      href: "https://forms.office.com/Pages/ResponsePage.aspx?id=slTDN7CF9UeyIge0jXdO40EyX7apFihMsAHZLYEqsb5UNU9RTEZWSzM3MVVHVUVVMFk1MlFPSkg0Wi4u"
    }) }}

    <h3 class="nhsuk-heading-xs">For different email accounts or problems registering</h3>

    <p>If you do not have an nhs.net email account (for example, you use an nhs.uk email account), contact: <a href="mailto:england.font@nhs.net?subject=Problem registering via the form">england.font@nhs.net</a>.</p>

    <p class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
      Updated: March 2025<br>
    </p>
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("main.js") }}" type="module"></script>
{% endblock %}
