{% set pageTitle = "Solution Architecture Framework" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "Architecture" %}
{% set pageDescription = "The NHS England Solution Architecture Framework (SAF) is intended to describe what good looks like when developing the architecture which delivers our products and services." %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "standards-and-technology/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}



  <p>The NHS England Solution Architecture Framework (SAF) defines:</p>
  <ul>
    <li>A consistent approach to the design of solutions which delivers on user need, but also considers other key factors such as cyber security, service resilience, performance etc. </li>
<li>The artefacts Solution Architects should be producing</li>
<li>The processes and governance that should be implemented</li>

  </ul>

<p>As well as describing what areas are important it also provides a baseline to assess the architectural fitness of our products and services. Alongside the assessment it provides a focus for risk mitigation. </p>

<p>Full compliance is not expected, and a pragmatic approach needs to be taken which considers risk alongside other factors such as service criticality, user, patient impacts, architecture priority score, data classification etc.</p>

<p>Ultimately the architecture approaches and choices we make are not binary decisions and involve trade offs. The SAF has to deal with a higher level of subjectivity than perhaps other models such as the engineering redlines where elements can be mandated.</p>

<p>The architect and supporting product team will need to make judgement calls, based on specific circumstances and team experience. The SAF is not intended to cover every eventuality or provide explicit direction for every point. In terms of assessment we should focus on broad patterns and trends rather empirical comparisons of scores e.g. look for quality improvements around red and amber areas but don’t compare scores between products or rank based on score.</p>

<p>The SAF is expected to be used alongside the <a href="https://github.com/NHSDigital/software-engineering-quality-framework">NHS England Software Engineering Quality Framework</a>. There are natural overlaps between these two frameworks and the engineering redlines. (<a href="https://nhs.sharepoint.com/sites/X26_EngineeringCOE/SitePages/Red-lines.aspx">Red lines (sharepoint.com)</a>). We think there will be great value in being able to articulate quality across the engineering and architecture perspectives to identify risks & issues in our priority services.</p>

<p>It's worth noting that whilst there are some areas of overlap between the Engineering redlines, the SAF has a broader applicability e.g. outside of P&P led delivery, buy options and earlier engagement prior to any build activity. There are also some overlaps with <a href="https://docs.aws.amazon.com/wellarchitected/latest/framework/welcome.html">AWS</a> and <a href="https://learn.microsoft.com/en-us/azure/well-architected/">Azure</a> Well Architected Frameworks. These frameworks should be used alongside the NHS SAF and will provide an evidence base for overall assessments.</p>

<p>Where there are overlaps particularly with early engagement, we need to ensure assessments are kept consistent and not repeated unnecessarily or unknowingly.</p>

<p>It should be noted that additional material will be required to support the SAF e.g. creation of policy, patterns and best practice guidance to support decision making. The SAF will provide the &quot;headings&quot; for the supporting collateral, for example:-</p>

<table class="nhsuk-table" aria-label="Framework components">
<thead role="rowgroup" class="nhsuk-table__head">
  <tr role="row">
    <th role="columnheader" class="" scope="col">Solution Architecture Framework</th>
    <th role="columnheader" class="" scope="col">&nbsp;</th>
  </tr>
</thead>
<tbody class="nhsuk-table__body">
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">Strategy &amp; Vision</td>
    <td class="nhsuk-table__cell">Doc Templates</td>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">Principles</td>
    <td class="nhsuk-table__cell">RAID Management</td></tr>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">Policies</td>
    <td class="nhsuk-table__cell">Governance</td></tr>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">Patterns</td>
    <td class="nhsuk-table__cell">Debt Management</td></tr>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">Standards</td>
    <td class="nhsuk-table__cell">Guidance</td></tr>
  </tr>
</tbody>
</table>

<p>We expect this document to be used alongside existing prescribed methodologies and standards such as CDDO checklists, Service Design Manual and other spend control related collateral. </p>


  <p>We're very interested in hearing what you think about the standards and technology section of the service manual and how it might, or might not, help you develop digital services in health.</p>
  <p><a href="mailto:england.service-manual@nhs.net">Email us</a> or get in touch on the <a href="/slack">service manual Slack channel</a>.</p>

{% endblock %}
