{% set pageTitle = 'What\'s new' %}
{% set pageDescription = 'Updates to the service manual.' %}
{% set pageSection = 'Updates' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

  <h2 class="nhsuk-u-margin-top-0">December 2019</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Updates to the service manual in December 2019</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Search</td>
        <td class="nhsuk-table__cell">Added <a href="/service-manual/search/?search-field=">search</a> functionality to the service manual.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">NHS service standard</td>
        <td class="nhsuk-table__cell">New content: added <a href="/service-manual/service-standard">NHS service standard</a>.</td>
      </tr>
    </tbody>
  </table>

  <h2>November 2019</h2>

  <table class="nhsuk-table">

    <caption class="nhsuk-table__caption">Updates to the service manual in November 2019/caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Content style guide</td>
        <td class="nhsuk-table__cell">New guidance on <a href="/service-manual/content/how-to-write-good-questions-for-forms">how to write good questions</a> in forms</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Components</td>
        <td class="nhsuk-table__cell">Improved <a href="/service-manual/design-system/components/header">Header</a> component page with guidance on the new organisational header</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Accessibility</td>
        <td class="nhsuk-table__cell">New page: <a href="/service-manual/accessibility/understanding-focus-state-styles">Understanding focus state styles</a> </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Components</td>
        <td class="nhsuk-table__cell">New guidance on <a href="/service-manual/design-system/components/summary-list">summary list</a> component</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Patterns</td>
        <td class="nhsuk-table__cell">New pattern for <a href="/service-manual/design-system/patterns/nhs-number">asking users for their NHS number</a></td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Content style guide</td>
        <td class="nhsuk-table__cell">NHS number entry in <a href="/service-manual/content/a-to-z-of-nhs-health-writing#NHS-number">A to Z of NHS health writing</a></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">Styles</td>
        <td class="nhsuk-table__cell">Improved guidance for <a href="/service-manual/design-system/styles/colour">colour</a> and <a href="/service-manual/design-system/styles/typography">typography</a></td>
      </tr>
    </tbody>
  </table>

  {% include 'includes/_contact-panel.njk' %}

{% endblock %}

