.app-link--copy:link,
.app-link--copy:active,
.app-link--copy:visited,
.app-link--copy:hover {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color_nhsuk-white;
  border: 1px solid $color_nhsuk-green;
  color: $color_nhsuk-green;
  font-family: 'nta', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-width: 58px;
  padding: 4px 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 15px;
  z-index: 1;
}
