.app-link--copy:link, 
.app-link--copy:active, 
.app-link--copy:visited, 
.app-link--copy:hover {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    min-width: 58px;
    padding: 4px 10px 0;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #00823b;
    background-color: #fff;
}
