.hljs {
  background: #f8f8f8; // sass-lint:disable-line no-color-hex no-color-literals
  color: #333; // sass-lint:disable-line no-color-hex no-color-literals
  display: block;
  overflow-x: auto;
  padding: .5em;
}

.hljs-comment,
.hljs-quote {
  color: #998; // sass-lint:disable-line no-color-hex no-color-literals
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333; // sass-lint:disable-line no-color-hex no-color-literals
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #007F80; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-string,
.hljs-doctag {
  color: #d14; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900; // sass-lint:disable-line no-color-hex no-color-literals
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458; // sass-lint:disable-line no-color-hex no-color-literals
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080; // sass-lint:disable-line no-color-hex no-color-literals
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #008020; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-symbol,
.hljs-bullet {
  color: #990073; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-built_in,
.hljs-builtin-name {
  color: #017ba5; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-meta {
  color: #999; // sass-lint:disable-line no-color-hex no-color-literals
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-addition {
  background: #dfd; // sass-lint:disable-line no-color-hex no-color-literals
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
