{% set pageTitle = "Help users manage cookies" %}
{% set pageDescription = "Help users manage their personal data by telling them when you store cookies on their device." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Tasks" %}
{% set dateUpdated = "November 2019" %}
{% set backlog_issue_id = "92" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <img class="app-image--border app-example--image" src="/assets/cookies-diagram.png" alt="">

  <h2>When to use this pattern</h2>
  <p>If you are collecting personal data in your service you should follow this pattern.</p>
  <p>Use this pattern to help users:</p>
  <ul>
    <li>consent to your service collecting personal data</li>
    <li>set and change their cookie preferences</li>
    <li>understand why/how cookies are being used</li>
  </ul>

  <h2>When not to use this pattern</h2>
  <p>Do not use this pattern if you are not collecting personal data in your service.</p>

  <h2>How it works</h2>
  <p>When using this pattern you need to:</p>
  <ul>
    <li>ask users for consent</li>
    <li>provide information on cookies used</li>
    <li>allow users to set preferences</li>
    <li>allow users to change preferences</li>
    <li>inform users of any changes</li>
  </ul>

  <h3>Ask users for consent</h3>
  <p>Use a cookie banner to ask users for consent that:</p>
  <ul>
    <li>appears the first time a service is used</li>
    <li>loads immediately with the page</li>
    <li>persists until the user updates their settings</li>
    <li>sits above the site header and users can scroll past it</li>
  </ul>

  <img class="app-image--border app-example--image" src="/assets/cookie-banner.png" alt="">

  <p>Your cookie banner should include a:</p>
  <ul>
    <li>heading</li>
    <li>description of essential cookies</li>
    <li>description of analytics cookies being used</li>
    <li>consent request</li>
    <li>consent cookie</li>
    <li>link to the cookie policy</li>
    <li>consent mechanism</li>
  </ul>

  <img class="app-image--border app-example--image" src="/assets/cookie-banner-anatomy.png" alt="">

  <p>Using a confirmation banner, confirm the users choice and allow them to change their settings with a link to the cookie policy.</p>

  <img class="app-image--border app-example--image" src="/assets/cookie-banner-confirm.png" alt="">

  <h3>Provide information on cookies used</h3>
  <p>On your cookie policy you should:</p>
  <ul>
    <li>explain clearly what cookies are</li>
    <li>explain what the cookies are used for</li>
    <li>include a list of details about every essential cookie used</li>
    <li>allow users to update their preferences
  </ul>

  <p><a href="https://www.nhs.uk/our-policies/cookies-policy/">See the NHS websites cookie policy</a></p>

  <h3>Allow users to set preferences</h3>
  <p><a href="https://www.nhs.uk/our-policies/cookies-policy/cookie-settings/">See the NHS websites cookie settings page</a></p>

  <h3>Inform users of any changes</h3>

  <h3>Allow users to change preferences</h3>
  <p>Include a 'cookies' link in the footer so users can access the cookie policy from every page in the service.</p>

  <img class="app-image--border app-example--image" src="/assets/cookie-footer.png" alt="">

  <h2>Research on this pattern</h2>

  <h3>Known issues and gaps</h3>

{% endblock %}
