{% set pageTitle = "Help users manage cookies" %}
{% set pageDescription = "Help users manage their personal data by telling them when you store cookies on their device." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Tasks" %}
{% set dateUpdated = "November 2019" %}
{% set backlog_issue_id = "92" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <img class="app-image--border app-example--image" src="/assets/cookies-diagram.png" alt="">

  <h2>When to use this pattern</h2>

  <h2>When not to use this pattern</h2>

  <h2>How it works</h2>
  <h3>Ask users for consent</h3>
  <p>A banner appears the first time a service is used and persists until the user updates their settings.</p>
  <p>It loads immediately with the page, sits above the site header and users can scroll past it.</p>
  <p>People don’t come to your service to read about cookies, so don’t force them to. Don’t get in the way of users feeling stressed, in crisis or having a medical emergency.</p>

  <img class="app-image--border app-example--image" src="/assets/cookie-banner.png" alt="">

  <h3>Allow users to change preferences</h3>
  <img class="app-image--border app-example--image" src="/assets/cookie-banner-confirm.png" alt="">

  <h3>Provide information on cookies used</h3>
  <img class="app-image--border app-example--image" src="/assets/cookie-info.png" alt="">
  <p><a href="https://www.nhs.uk/our-policies/cookies-policy/">See the NHS websites cookies information page</a></p>

  <h3>Allow users to set preferences</h3>
  <img class="app-image--border app-example--image" src="/assets/cookie-settings.png" alt="">
  <p><a href="https://www.nhs.uk/our-policies/cookies-policy/cookie-settings/">See the NHS websites cookie settings page</a></p>

  <h3>Inform users of any changes</h3>

  <img class="app-image--border app-example--image" src="/assets/cookie-saved.png" alt="">

  <h3>Allow users to change preferences</h3>
  <p>Include a 'cookies' link in the footer so users can access the cookies information page from every page in the service.</p>

  <img class="app-image--border app-example--image" src="/assets/cookie-footer.png" alt="">

  <h2>Research on this pattern</h2>

  <h3>Known issues and gaps</h3>

{% endblock %}
