{% set pageTitle = 'Patterns' %}
{% set pageDescription = 'Patterns are best practice design solutions for specific user-focused tasks and page types.' %}
{% set pageSection = 'Patterns' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

<p>All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>

<p>Patterns often use one or more <a href="/service-manual/design-system/components">components</a> and explain how to adapt them to the&nbsp;context.</p>

{% endblock %}
