{% set pageTitle = 'Patterns' %}
{% set pageDescription = 'Patterns are best practice design solutions for specific user-focused tasks and page types.' %}
{% set pageSection = 'Design system' %}
{% set subSection = 'Patterns' %}
{% set theme = 'Design' %}

{% extends 'includes/app-layout.njk' %}

{% block breadcrumb %}
  {% include 'design-system/_breadcrumb.njk' %}
{% endblock %}

{% block bodyContent %}

  <p>For example, they ask users for different kinds of information or help users do something.</p>

  <p>Patterns often use 1 or more <a href="/design-system/components">components</a> and explain how to adapt them to the context.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include 'includes/_side-nav.njk' %}
  </div>

{% endblock %}
