{% set pageTitle = "Reassure users that information is up-to-date" %}
{% set pageDescription = "Use review dates to let users when information was last checked and will be checked again." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Tasks" %}
{% set dateUpdated = "March 2021" %}
{% set backlog_issue_id = "31" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>[Code example]</p>
  <!-- Example
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
      Page last reviewed: 26 February 2021<br>
      Next review due: 26 February 2023
    </p>
  -->

  <h2>When to use this pattern</h2>
  <p>...</p>

  <h2>How to use this pattern</h2>
  <p>...</p>

  <h3>Accessibility</h3>
  <p>...</p>

  <h2>Research</h2>
  <p>...</p>

{% endblock %}
