{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Blog posts" %}
{% set pageDescription = "Posts by the service manual team and community." %}
{% set pageSection = "What's new" %}

{% block beforeContent %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2025</h2>
  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2025/why-we-are-reinvesting-in-the-nhs-prototype-kit" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Why we are reinvesting in the NHS prototype kit</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>21 July 2025</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>Frankie Roberto and Mike Gallagher explain why we revived the NHS prototype kit, the benefits of prototyping in code and how digital teams in the NHS can get started using it.</p>
    </li>
  </ul>
  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2025/mitigating-the-risks-of-domestic-abuse" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Mitigating the risks of domestic abuse</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>21 May 2025</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>Emma Swift and Zuzanna Lito explain how we've updated the NHS service standard to make sure teams building online services are more aware and responsive to the risks of domestic abuse and coercive control.</p>
    </li>
  </ul>
  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2023</h2>
  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2023/why-weve-put-sustainability-into-the-nhs-digital-design-principles" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Why we've put sustainability into the NHS digital design principles</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>10 May 2023</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>Tero Väänänen, Head of Design in NHS England's Transformation directorate, explains the new NHS digital design principle focused on sustainability.</p>
    </li>
  </ul>
  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2022</h2>
  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2022/products-deliver-outputs-services-deliver-outcomes" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Products deliver outputs, services deliver outcomes</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>21 September 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>Tero Väänänen, Head of Design at NHS Digital, explains why we must shift our focus from outputs to outcomes so the public can truly get what it needs from the NHS.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2022/a-new-standard-for-creating-health-content" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">A new standard for creating health content</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>28 July 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>Sara Wilcox, senior content designer and Joe Freeman, social and digital media lead, both with NHS.UK, introduce the new "Standard for creating health content" and explain work with partners, including YouTube, to put it into practice.</p>
    </li>
    <li>
      <a href="https://digitalhealth.blog.gov.uk/2022/06/08/why-should-we-build-services-using-a-design-system/" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Why should we build services using a design system?</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">GOV.UK</p>
      <p>Conor Rohan, Assurance Lead, Department of Health and Social Care, explains why we use the NHS.UK and GOV.UK design systems and which one to use.</p>
    </li>
    <li>
      <a href="https://deanvipond.medium.com/a-short-ish-history-of-the-nhs-design-system-part-1-2016-a-website-a-brand-and-a-handful-of-9fdb172e77bb" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">A short(ish) history of the NHS design system, Part 1: 2016 – a website, a brand, and a handful of services</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>9 May 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium</p>
      <p>Dean Vipond, previously Lead Designer at NHS Digital, tells the history of the NHS digital design system, in 6 parts.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2022/reusing-the-right-tools-for-the-job" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">(Re)using the right tools for the job</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>7 April 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>Shan Rahulan, Director of Platforms – Core Services, argues that we should not try to reinvent the wheel every time we build a product.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2022/how-a-20-year-old-standard-is-still-relevant-today" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">How a 20-year-old standard is still relevant today</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>8 March 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>Tero Väänänen says BS EN ISO 9241-210 remains a guiding star for human-centred design. It's the foundation to our own NHS service standard and the GOV.UK service standard.</p>
    </li>
    <li>
      <a href="https://www.kathryngrace.co.uk/post/a-new-role-as-head-of-design-at-nhsx" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">A new role as Head of Design at NHSX</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>1 February 2022</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Kathryn Grace's website</p>
      <p>Kathryn Grace, Head of Design at NHSX (now part of the Transformation Directorate at NHS England), talks about leadership, design, a patient and carer's perspective, and the NHS digital service manual.</p>
    </li>
  </ul>

  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2021</h2>
  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://medium.com/@catherine.reader1/week-1-the-latest-from-the-nhs-additional-language-support-discovery-8cdb23bf3847" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Week 1: the latest from the NHS additional language support discovery</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>20 August 2021</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium</p>
      <p>Catherine Reader, graduate product manager, publishes the 1st set of week notes about our discovery into the additional language support needs of people who struggle to read written English.</p>
    </li>
    <li>
      <a href="https://megaspiderweb.medium.com/encouraging-a-community-to-contribute-to-a-design-system-99aa673f20d3" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Encouraging a community to contribute to a design system</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>27 May 2021</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium</p>
      <p>Co-authored by Henry Cookson (user research) and Tosin Balogun (interaction design), user centred design (UCD) trainees who worked on the service manual team.</p>
    </li>
  </ul>
  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2020</h2>

  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://digital.nhs.uk/blog/design-matters/2020/10-ways-the-nhs-digital-service-manual-can-help-you" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">10 ways the NHS digital service manual can help you</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>12 November 2020</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Design Matters blog</p>
      <p>If you want to build easy-to-use digital health services that put people first, Adrian Smith explains why the NHS digital service manual is a great place to start.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2020/building-great-digital-services-in-a-crisis" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Building great digital services during a crisis</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>7 July 2020</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>Lucy Ha, Product and Delivery Management Graduate, explains how the NHS digital service manual is helping organisations quickly build accessible, consistent digital products and services needed to respond to the coronavirus (COVID-19) pandemic.</p>
    </li>
    <li>
      <a href="https://medium.com/@thebeakking/making-the-nhs-uk-focus-state-accessible-with-help-from-gov-uk-8989cab3ec7d" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Making the NHS.UK focus state accessible (with help from GOV.UK)</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>13 March 2020</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium</p>
      <p>The NHS is for everyone, so all NHS digital services need to be accessible to everyone. That's why the NHS digital service manual team recently made the NHS.UK frontend more accessible by redesigning the focus state styles — with help from the GOV.UK Design System team. Dave Hunter, designer, explains.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2020/making-digital-services-more-inclusive" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Making digital services more inclusive</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>7 January 2020</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>The NHS digital service manual helps teams make their services more respectful and inclusive. But it’s not always easy to get it right as Sara Wilcox, the content designer on the team, explains.</p>
    </li>
  </ul>

  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2019</h2>

  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://medium.com/@mattedgar/more-serene-two-and-a-half-years-into-my-work-at-nhs-digital-part-3-598e0d588941" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">More serene: two and a half years into my work at NHS Digital — part 3</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>18 December 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium blog</p>
      <p>Matt Edgar rounds off his reflections, with a look at the NHS Long Term Plan, his objectives for the next 6 months, and a nod back to the beginnings of the NHS.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/how-to-write-good-questions" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">How to write good questions</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>21 November 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>The NHS digital service manual team has published some new forms guidance that will help digital health teams design better forms and transactional services. Content designer Sara Wilcox explains how and why it was done.</p>
    </li>
     <li>
      <a href="https://medium.com/@deanvipond/building-a-diverse-design-team-in-challenging-circumstances-7bfd17f8415c" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Building a diverse design team in challenging circumstances</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>18 October 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium blog</p>
      <p>Growing a diverse team, from a profession which is not diverse, in an environment where your profession is not fully accepted, with tools and processes which can exclude, is a huge challenge. By Dean Vipond</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/the-nhs-digital-service-manual-needs-you" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">The NHS digital service manual needs you</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>10 September 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>Ben Cullimore, a senior interaction designer at NHS.UK, explains how we’re developing a collaborative approach to building the service manual and how the team particularly wants designers to get involved.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/making-digital-services-accessible" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Making digital services accessible</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>1 August 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>How do you make sure that NHS digital services are accessible to all? Ian Roddis, Lead Product Manager for the NHS digital service manual, talks about the new guidelines his team has developed to help people working in digital delivery teams meet accessibility standards in time for September 2020’s deadline.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/creating-new-standards-of-design-with-the-nhs-website" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Creating new standards of design with the NHS website</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>24 June 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>One of our NHS design principles is, “Make things open, it makes things better.” Dean Vipond, lead designer on the NHS website, talks about how adapting GOV.UK’s code saved valuable resources during the recent redesign and how this flagship project is now benefitting other teams across the NHS, including 111 online.</p>
    </li>
     <li>
      <a href="https://medium.com/@ianroddis/bravo-gds-on-the-new-service-standard-that-ensures-and-assures-quality-might-we-talk-about-health-cff3f4db9743" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Bravo GDS on the new Service Standard that ensures and assures quality, might we talk about health?</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>10 May 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium blog</p>
      <p>With the latest iteration of the GDS service standard now covering full, end-to-end (not just digital) services, I’ve been thinking about how it might work when applied in a healthcare setting, and if it can be combined with other healthcare assurance models. By Ian Roddis.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/icons-avoid-temptation-and-start-with-user-needs" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Icons: avoid temptation and start with user needs</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>25 March 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>Icons can be a useful way to represent ideas simply. Ben Cullimore, an interaction designer explains how they decided on the most effective icons to use.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/building-accessible-and-mobile-first-services-for-the-nhs" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Building accessible and mobile-first services for the NHS</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>20 March 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>After we relaunched the NHS website last August, we needed a way of sharing what we learnt with other digital teams to help them build accessible, mobile-first products and services too. David Hunter, an interaction designer explains how we did this.</p>
    </li>
    <li>
      <a href="https://medium.com/@ianroddis/the-path-of-user-needs-avoiding-beautiful-nonsense-and-the-shelves-of-wisdom-fe19a9b7bff3" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">The path of user needs, avoiding beautiful nonsense, and the shelves of wisdom</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>1 March 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium blog</p>
      <p>At work we like a good metaphor, even more so if we can tweet about it in an abstract fashion without revealing too much of the inner workings of our professional lives. So this post is going to freely use a couple of metaphors to put in context the brilliant work we’ve been doing on a frontend library and prototyping kit we hope will be used heavily across the health system. By Ian Roddis.</p>
    </li>
     <li>
      <a href="https://medium.com/@ianroddis/the-role-of-standards-in-a-fragmented-ecosystem-b79094c3920e" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">The role of standards in a fragmented ecosystem</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>18 February 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">Medium blog</p>
      <p>I’ve been thinking about the role of standards, and how they can help in the complex sector I’m working in — that of health in England. By Ian Roddis.</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2019/pee-and-poo-and-the-language-of-health" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Pee and poo and the language of health</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>5 February 2019</p>
      <p class="app-meta-data nhsuk-u-margin-bottom-2">NHS Digital Transformation blog</p>
      <p>How do we decide which words to use on the NHS website? Sara Wilcox, content designer with NHS.UK’s standards team, explains. </p>
    </li>
  </ul>

  <h2><span class="nhsuk-u-visually-hidden">Blog posts from </span>2018</h2>

  <ul class="nhsuk-list nhsuk-list--border nhsuk-u-margin-bottom-5">
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2018/design-principles-for-health-and-care" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Design principles for health and care</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>2 October 2018</p>
      <p class="app-meta-data">NHS Digital Transformation blog</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2018/a-manual-for-designing" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">A manual for designing and building digital services</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>7 September 2018</p>
      <p class="app-meta-data">NHS Digital Transformation blog</p>
    </li>
    <li>
      <a href="https://digital.nhs.uk/blog/transformation-blog/2018/defining-digital-standards-for-the-nhs" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Defining digital standards for the NHS</a>
      <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Published on: </span>17 April 2018</p>
      <p class="app-meta-data">NHS Digital Transformation blog</p>
    </li>
  </ul>

{% endblock %}
