{% set pageTitle = 'What\'s new' %}
{% set pageDescription = 'Stay up-to-date with all things service manual.' %}
{% set pageSection = 'What\'s new' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

  <div class="app-index-navigation app-hide-desktop">
    {% include 'includes/_side-nav.njk' %}
  </div>

{% endblock %}
