{% set pageTitle = 'What\'s new' %}
{% set pageDescription = 'Stay up-to-date with all things service manual.' %}
{% set pageSection = 'What\'s new' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

  <h2>Latest updates</h2>

  <h3>January 2020</h3>

  <table class="nhsuk-table nhsuk-u-margin-bottom-5">
    <caption class="nhsuk-table__caption">Updates to the service manual in December 2019</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell"><p>Updated the <a href="/content/inclusive-language">inclusive language page</a>.</p></td>
      </tr>
    </tbody>
  </table>

  <h3>December 2019</h3>

  <table class="nhsuk-table nhsuk-u-margin-bottom-5">
    <caption class="nhsuk-table__caption">Updates to the service manual in December 2019</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Search</td>
        <td class="nhsuk-table__cell">Added <a href="/search/?search-field=">search</a> functionality to the service manual.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">NHS service standard</td>
        <td class="nhsuk-table__cell">New content: added <a href="/service-standard">NHS service standard</a>.</td>
      </tr>
    </tbody>
  </table>

  <p><a href="/whats-new/updates">See all updates</a></p>

  <h2>Latest blog posts</h2>

  <div class="nhsuk-grid-row nhsuk-promo-group">
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="https://digital.nhs.uk/blog/transformation-blog/2019/how-to-write-good-questions">
          <img class="nhsuk-promo__img" src="/assets/blog-post_write-good-questions.jpg" alt="">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">How to write good questions</h3>
            <p class="app-promo__meta">21 November 2019</p>
            <p class="nhsuk-promo__description">The NHS digital service manual team has published some new forms guidance that will help digital health teams design better forms and transactional services. Content designer Sara Wilcox explains how and why it was done.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="https://digital.nhs.uk/blog/transformation-blog/2019/the-nhs-digital-service-manual-needs-you">
          <img class="nhsuk-promo__img" src="/assets/blog-post_we-need-you.jpg" alt="">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">The NHS digital service manual needs you</h3>
            <p class="app-promo__meta">10 September 2019</p>
            <p class="nhsuk-promo__description">Ben Cullimore, a senior interaction designer at NHS.UK, explains how we’re developing a collaborative approach to building the service manual and how the team particularly wants designers to get involved.</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <p><a href="/whats-new/blog-posts">See all blog posts</a></p>

{% endblock %}
