{% set pageTitle = "What's new" %}
{% set pageDescription = "Find out what's happening with the service manual." %}
{% set pageSection = "What's new" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <h2>Latest updates</h2>

<h3>March 2022</h3>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in March 2022</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr>
        <td class="nhsuk-table__cell">Standards and technology</td>
        <td class="nhsuk-table__cell">
        <p>Expanded the NHS service standard section to include a new <a href="/standards-and-technology/technology/about-technology">technology section</a></p>
        <p>Added 2 new pages about <a href="/standards-and-technology/technology/NHS-login">NHS login</a> and the <a href="/standards-and-technology/technology/personal-demographics-service-PDS">Personal Demographics Service (PDS)</a></p>
        <p>Added links from <a href="/standards-and-technology/service-standard-points/11-choose-the-right-tools-and-technology">NHS service standard 11</a> to the NHS login and PDS pages</p>
        <p>Linked to Tero Väänänen's blog post from service standard points 1, 2 and 6</p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Other</td>
        <td class="nhsuk-table__cell">
          <p>Added new posts by Tero Väänänen and Kathryn Grace to the <a href="/whats-new/blog-posts">blog posts page</a></p>
      </td>
      </tr>
    </tbody>
  </table>


  <p><a href="/whats-new/updates">See all updates</a></p>

  <h2>Latest blog posts</h2>
  <p>Posts by the service manual team and community.</p>

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <img class="nhsuk-card__img" src="/assets/blog-post_20-year-old-standard-still-relevant.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="https://digital.nhs.uk/blog/design-matters/2022/how-a-20-year-old-standard-is-still-relevant-today">How a 20-year-old standard is still relevant today</a></h3>
          </h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0"><span class="nhsuk-u-visually-hidden">Published on: </span>8 March 2022</p>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">NHS Digital Design Matters blog</p>
          <p class="nhsuk-card__description">Tero Väänänen says BS EN ISO 9241-210 remains a guiding star for human-centred design. It's the foundation to our own NHS service standard and the GOV.UK service standard.</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <img class="nhsuk-card__img" src="/assets/blog-post_head-of-design-nhsx.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="https://www.kathryngrace.co.uk/post/a-new-role-as-head-of-design-at-nhsx">A new role as Head of Design at NHSX</a></h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0"><span class="nhsuk-u-visually-hidden">Published on: </span>1 February 2022</p>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">Kathryn Grace's website</p>
          <p class="nhsuk-card__description">Kathryn Grace, Head of Design at NHSX (now part of the Transformation Directorate at NHS England), talks about leadership, design, a patient and carer's perspective, and the NHS digital service manual.</p>
        </div>
      </div>
    </div>
  </div>

  <p><a href="/whats-new/blog-posts">See all blog posts</a></p>

  <h2>Latest show and tell</h2>
  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-full nhsuk-card-group__item">
      <div class="nhsuk-card">
        <div class="app-card__video">
          <iframe src="https://www.youtube-nocookie.com/embed/ZNrewVbVQbo" title="NHS digital service manual - show and tell 20 February 2020" allowfullscreen></iframe>
        </div>
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">NHS digital service manual show and tell</h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color"><span class="nhsuk-u-visually-hidden">Recorded on: </span>13 February 2020</p>
          <p class="nhsuk-card__description">We live-streamed the show and tell but the original video quality was not very good. This video has the presentation slides with the live audio.</p>
          <p class="nhsuk-card__description">The team talks about the redesign of the service manual, how to write good questions for forms, inclusive language, the beta service standard for health and the NHS Digital accessibility lab in Leeds. The NHS Leadership Academy also share a Wordpress theme based on the NHS.UK frontend library.</p>
        </div>
      </div>
    </div>
  </div>

  <p><a href="/whats-new/show-and-tells">See all show and tells</a></p>

{% endblock %}
