{% set pageTitle = "Show and tells" %}
{% set pageDescription = "Watch the team talk about the work behind the service manual." %}
{% set pageSection = "What's new" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <h2>Latest show and tell</h2>
  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <p><strong>Update:</strong> We're sorry that the quality of our latest video is not very good. We had problems with our network connection. <a href="https://docs.google.com/presentation/d/1PO3TcQeaOio4KdizcF2eBsKHRiiUa4bmHnaAYdX-sWY/edit#slide=id.g4ce0afbf82_2_59">You can find our slides here (on Google slides)</a>. We recommend that you view the video with the slides.</p>
  </div>
  <div class="nhsuk-grid-row nhsuk-promo-group">
    <div class="nhsuk-grid-column-full nhsuk-promo-group__item">
      <div class="nhsuk-promo app-promo--video">
        <div class="app-embed-container"><iframe src="https://www.youtube-nocookie.com/embed/idgk2SwC_q4" title="NHS digital service manual - show and tell 20 February 2020" allowfullscreen></iframe></div>
        <div class="nhsuk-promo__content">
          <h3 class="app-promo--video-title">NHS digital service manual show and tell</h3>
          <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Recorded on: </span>13 February 2020</p>
          <p class="nhsuk-promo__description">The team talks about the redesign of the service manual, how to write good questions for forms, inclusive language, the beta service standard for health and the NHS Digital accessibility lab in Leeds. The NHS Leadership Academy also shares a Wordpress theme based on the NHS.UK frontend library.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Previous show and tells</h2>
  <div class="nhsuk-grid-row nhsuk-promo-group">
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="https://www.bbc.co.uk/programmes/m000dpkc">
          <img class="nhsuk-promo__img" src="/assets/word-of-mouth.jpg" alt="">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">Interview: Word of Mouth - NHS language use</h3>
            <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">First aired on: </span>January 2020</p>
            <p class="app-meta-data">BBC Radio 4 - 28 minutes</p>
            <p class="nhsuk-promo__description">Michael Rosen talks with Sara Wilcox, NHS website content designer, and consultant Dr Hugh Rayner, about the words we choose for the NHS website and for letters consultants write to patients.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo app-promo--video">
        <div class="app-embed-container"><iframe src="https://www.youtube-nocookie.com/embed/Bzs_qJtuxE4" title="NHS digital service manual - show and tell 18 July 2019" allowfullscreen></iframe></div>
        <div class="nhsuk-promo__content">
          <h3 class="app-promo--video-title">NHS digital service manual show and tell</h3>
          <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Recorded on: </span>18 July 2019</p>
          <p class="nhsuk-promo__description">The team talks about accessibility guidance, improvements to the NHS website and community contributions for the digital service manual. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-row nhsuk-promo-group">
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo app-promo--video">
        <div class="app-embed-container"><iframe src="https://www.youtube-nocookie.com/embed/C8dfgJQ8JEo" title="NHS.UK standards and redesign show & tell 14 February 2019" allowfullscreen></iframe></div>
        <div class="nhsuk-promo__content">
          <h3 class="app-promo--video-title">NHS.UK standards and redesign show and tell</h3>
          <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Recorded on: </span>14 February 2019</p>
          <p class="nhsuk-promo__description">The NHS.UK redesign and standards team talks about the NHS.UK service manual, frontend library, prototype kit, content style guide and an NHS digital service standard.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
