{% set pageTitle = "Show and tells" %}
{% set pageDescription = "Watch the team talk about the work behind the service manual." %}
{% set pageSection = "What's new" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <h2>Next public show and tell</h2>
  <p>We're holding our next show and tell on <strong>Thursday 13 February</strong>. <a href="https://www.eventbrite.co.uk/e/nhs-digital-service-manual-show-tell-registration-91150727279">Register via Eventbrite</a>.</p>
  <h2>Previous show and tells</h2>
  <div class="nhsuk-grid-row nhsuk-promo-group">
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo app-promo--video">
        <div class="app-embed-container"><iframe src="https://www.youtube.com/embed/Bzs_qJtuxE4" title="NHS digital service manual - show and tell 18 July 2019" allowfullscreen></iframe></div>
        <div class="nhsuk-promo__content">
          <h3 class="app-promo--video-title">NHS digital service manual show and tell</h3>
          <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Recorded on: </span>18 July 2019</p>
          <p class="nhsuk-promo__description">The team talks about accessibility guidance, improvements to the NHS website and community contributions for the digital service manual. </p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo app-promo--video">
        <div class="app-embed-container"><iframe src="https://www.youtube.com/embed/C8dfgJQ8JEo" title="NHS.UK standards and redesign show & tell 14 February 2019" allowfullscreen></iframe></div>
        <div class="nhsuk-promo__content">
          <h3 class="app-promo--video-title">NHS.UK standards and redesign show and tell</h3>
          <p class="app-meta-data app-meta-data--strong"><span class="nhsuk-u-visually-hidden">Recorded on: </span>14 February 2019</p>
          <p class="nhsuk-promo__description">The NHS.UK redesign and standards team talks about the NHS.UK service manual, frontend library, prototype kit, content style guide and an NHS digital service standard.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
