{% set pageTitle = "Updates" %}
{% set pageDescription = "Updates to the service manual." %}
{% set pageSection = "What's new" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<h2>March 2022</h2>

 <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in March 2022</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Standards and technology</td>
        <td class="nhsuk-table__cell">
        <p>Renamed the <a href="/standards-and-technology">standards and technology section</a> which now includes a new section <a href="/standards-and-technology/technology/about-technology">about key techologies</a> as well as the <a href="/standards-and-technology/service-standard">NHS service standard</a></p>
        <p>Added 2 new pages about <a href="/standards-and-technology/technology/NHS-login">NHS login</a> and the <a href="/standards-and-technology/technology/personal-demographics-service-PDS">Personal Demographics Service (PDS)</a></p>
        <p>Added links from <a href="/standards-and-technology/service-standard-points/11-choose-the-right-tools-and-technology">NHS service standard 11</a> to the NHS login and PDS pages</p>
        <p>Linked to Tero Väänänen's blog post from service standard points 1, 2 and 6</p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Other</td>
        <td class="nhsuk-table__cell">
          <p>Added new posts by Tero Väänänen and Kathryn Grace to the <a href="/whats-new/blog-posts">blog posts page</a></p>
      </td>
      </tr>
    </tbody>
  </table>


<h2>February 2022</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in February 2022</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Accessibility guidance</td>
        <td class="nhsuk-table__cell">
        <p>Linked from guidance on <a href="/accessibility/content#use-alternative-text-for-images-in-content">using alternative text</a> to section on <a href="/content/inclusive-content/skin-symptoms#provide-a-long-description">providing a long description in skin symptoms guidance</a></p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
        <p>Changed Inclusive language page to an <a href="/content/inclusive-content">Inclusive content section</a> and added skin symptoms guidance to it</p>
        <p>Updated <a href="/content/inclusive-content/skin-symptoms">skin symptoms guidance</a> after user testing. In particular, added more information about long descriptions.<p>
        <p>Updated the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a> to reflect changes to Inclusive content section and skin symptoms guidance</p>
        <p>Updated entry for <a href="/content/a-to-z-of-nhs-health-writing#NHSX">NHSX</a> and fixed inconsistencies in the A&nbsp;to Z of NHS health writing</p>
        <p>Deleted mentions of Behind the Headlines from the A to Z of NHS health writing</p>
        <p>Updated wording about Open Document Formats (with a link) in guidance on <a href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></p>
        <p>Fixed 2 typos on the <a href="/content/formatting-and-punctuation">Formatting and punctuation page</a></p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
        <p>Linked from <a href="/design-system/components/images">images component</a> to section on <a href="/content/inclusive-content/skin-symptoms#provide-a-long-description">providing a long description in skin symptoms guidance</a></p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">
        <p>Removed the beta banner from the <a href="/service-standard/index">NHS service standard</p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Other</td>
        <td class="nhsuk-table__cell">
          <p>Updated the <a href="/service-manual-team">service manual team page</a></p>
      </td>
      </tr>
    </tbody>
  </table>

<h2>January 2022</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in January 2022</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Accessibility guidance</td>
        <td class="nhsuk-table__cell">
          <p>Updated information about closed captions (sometimes called subtitles) in the section on <a href="/accessibility/content#make-video-and-other-multimedia-content-accessible">making video and other multimedia content accessible</a></p>
          <p>Removed some detail from the section on <a href="/accessibility/design#check-colour-contrast">checking colour contrast</a> and added it to the <a href="/design-system/styles/colour">design system page on colour</a> instead</p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Added new section on <a href="/content/formatting-and-punctuation#aligning-text">aligning text on formatting and punctuation page</a></p>
          <p>Added an entry for <a href="/content/a-to-z-of-nhs-health-writing#booster">booster in the A to Z of NHS health writing</a></p>
          <p>Added the word "only" to guidance on avoiding linking to PDFs on the <a href="/content/links">Links page</a></p>
          <p>Updated link to WC3 WCAG2.1 in section on avoiding opening new windows or tabs on <a href="/content/links">Links page</a></p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added new section on <a href="/design-system/styles/typography#text-alignment">text alignment on typography page</a></p>
          <p>Added more detail about colour contrast and accessibility to the page on <a href="/design-system/styles/colour">colour</a></p>
          <p>Added a sentence about not using "none of the above" to the <a href="/design-system/components/checkboxes">checkboxes component</a> "none" option</p>
          <p>Updated link to information about modulus 11 algorithm in the pattern for <a href="/design-system/patterns/ask-users-for-their-nhs-number">asking users for their NHS number</a></p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">
          <p>Linked to <a href="https://www.nhsx.nhs.uk/key-tools-and-info/involving-people-and-communities-in-digital-services/">Involving people and communities in digital services (on NHSX's website)</a> from <a href="/service-standard/1-understand-users-and-their-needs-context-health-and-care">standard 1</a> and <a href="/service-standard/5-make-sure-everyone-can-use-the-service">standard&nbsp;5</a></p>
      </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Other</td>
        <td class="nhsuk-table__cell">
          <p>Updated <a href="/service-manual-team">service manual team page</a></p>
      </td>
      </tr>
    </tbody>
  </table>


<h2>December 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in December 2021</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Accessibility guidance</td>
        <td class="nhsuk-table__cell">
          <p>New page where you can <a href="/accessibility/download-accessibility-posters">download accessibility posters</a>, with 6 posters for different professions</p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Other</td>
        <td class="nhsuk-table__cell">
          <p>Updated the <a href="/service-manual-team">service manual team page</a></p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>November 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in November 2021</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Updated links to point to the new pattern for <a href="/design-system/patterns/help-users-decide-when-and-where-to-get-care">helping users decide when and where to get care (care cards)</a> from:</p>
          <ul>
            <li><a href="/content/a-to-z-of-nhs-health-writing">the A to Z of NHS health writing</a></li>
            <li><a href="/content/formatting-and-punctuation">the Formatting and punctuation page</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Reworked the care card component as a pattern to <a href="/design-system/patterns/help-users-decide-when-and-where-to-get-care">help users decide when and where to get care</a>, with updated guidance</p>
          <p>Updated links to point to the new pattern from <a href="/design-system/styles/colour">the colour page</a> and from these components:</p>
          <ul>
            <li><a href="/design-system/components/action-link">action link</a></li>
            <li><a href="/design-system/components/card">card</a></li>
            <li><a href="/design-system/components/expander">expander</a></li>
            <li><a href="/design-system/components/inset-text">inset text</a></li>
            <li><a href="/design-system/components/warning-callout">warning callout</a></li>
          </ul>
          <p>Amended the <a href="/design-system/components/care-cards">care cards component page</a> to direct people to the pattern instead</p>
          <p>Added a <a href="/design-system/components/review-date">review date component page</a> to direct people to the pattern for <a href="/design-system/patterns/reassure-users-that-a-page-is-up-to-date">reassuring users that a page is up to date</a> instead</p>
        </td>
      </tr>
       <tr>
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">
          <p>Added the word "reuse" alongside "build" and "buy" in the guidance on <a href="/service-standard/11-choose-the-right-tools-and-technology">service standard 11</a></p>
        </td>
      </tr>
            </tr>
       <tr>
        <td class="nhsuk-table__cell">Other</td>
        <td class="nhsuk-table__cell">
          <p>Updated <a href="/site-map">the site map</a> and <a href="/service-manual-team">service manual team page</a></p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>October 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in October 2021</caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="nhsuk-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added a new <a href="/design-system/patterns/start-page">start page</a> pattern and guidance</p>
          <p>Changed case of the word "or" in the "none" option of the <a href="/design-system/components/checkboxes">checkboxes component</a></p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>September 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in September 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Across the service manual</td>
        <td class="nhsuk-table__cell">
          <p>Added more links to our <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">feedback survey – on the Qualtrics website</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Updates to the section on <a href="/content/inclusive-content/ethnicity-religion-and-nationality">ethnicity, religion and nationality</a> in the Inclusive content section</p>
          <p>New entries for "<a href="/content/a-to-z-of-nhs-health-writing#BAME">BAME</a>", "<a href="/content/a-to-z-of-nhs-health-writing#Black-or-black">Black or black</a>", "<a href="/content/a-to-z-of-nhs-health-writing#BME">BME</a>", "<a href="/content/a-to-z-of-nhs-health-writing#ethnic-minorities">ethnic minorities</a>", "<a href="/content/a-to-z-of-nhs-health-writing#ethnicity">ethnicity</a>", "<a href="/content/a-to-z-of-nhs-health-writing#race">race</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#White-or-white">White or white</a>" in the A to Z of NHS health writing</p>
          <p>Added note about "Black or black" and "White or white" to the section on <a href="/content/formatting-and-punctuation#capitalisation">capitalisation</a> on the Formatting and punctuation page</p>
          <p>New entry for "<a href="/content/a-to-z-of-nhs-health-writing#positive">positive</a>" in the A to Z of NHS health writing</p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added "none" option to the <a href="/design-system/components/checkboxes">checkboxes component</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Team page</td>
        <td class="nhsuk-table__cell">
          <p>Updated the <a href="/service-manual-team">service manual team</a> page</p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>August 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in August 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>New entries on <a href="/content/a-to-z-of-nhs-health-writing#NHS-England-and-NHS-Improvement-NHSEI">NHS England and NHS Improvement (NHSEI)</a> and <a href="/content/a-to-z-of-nhs-health-writing#NHSX">NHSX</a> in the A to Z of NHS health writing</p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added 2 more bullet points to the guidance on image captions in the <a href="/design-system/components/images">image component</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">What's new</td>
        <td class="nhsuk-table__cell">
          <p><a href="https://medium.com/@catherine.reader1/week-1-the-latest-from-the-nhs-additional-language-support-discovery-8cdb23bf3847">Week 1: the latest from the NHS additional language support discovery</a> – new set of week notes from the service manual team</p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>July 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in July 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Across the service manual</td>
        <td class="nhsuk-table__cell">
          <p>Added a <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">feedback survey - on Qualtrics website</a></p>
        </td>
      </tr>
       <tr>
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">
          <p>Added new paragraph on the page <a href="/service-standard/about">about the NHS service standard</a>, under the heading "NHS services and the GOV.UK service standard"</p>
          <p>Added new section in point <a href="/service-standard/5-make-sure-everyone-can-use-the-service">5: Make sure everyone can use the service</a> to explain what we mean by inclusion and accessibility. Also added a reference to the 2018 accessibility regulations.</p>
          <p>Clarified what we mean by "agile" in  point <a href="/service-standard/7-use-agile-ways-of-working">7. Use agile ways of working</a></p>
          <p>Clarified what we mean by "iteration" for live teams in point <a href="/service-standard/8-iterate-and-improve-frequently">8. Iterate and improve frequently</a></p>
          <p>Added information about privacy policies and data protection impact assessments (DPIAs) in point <a href="/service-standard/9-respect-and-protect-users-confidentiality-and-privacy">9. Respect and protect users' confidentiality and privacy</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Brought all guidance on captions together in the <a href="/design-system/components/images">images component</a></p>
          <p>Brought the images component example into line with the accessibility guidance on <a href="/accessibility/content#use-alternative-text-for-images-in-content">using alt-text for images in content</a></p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>June 2021</h2>

<table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in June 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
       <tr>
        <td class="nhsuk-table__cell">Accessibility guidance</td>
        <td class="nhsuk-table__cell">
          <p>Updated guidance on length of alt-text in section on <a href="/accessibility/content#use-alternative-text-for-images-in-content">using alternative text for images in content</a></p>
          <p>Moved guidance on image captions from the accessibility guidance to the <a href="/design-system/components/images">images component</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>New section: <a href="/content/inclusive-content/skin-symptoms">Skin symptoms</a></p>
          <p>New entries in the A to Z of NHS health writing for: <a href="/content/a-to-z-of-nhs-health-writing#black-skin">black skin</a>, <a href="/content/a-to-z-of-nhs-health-writing#brown-skin">brown skin</a>, <a href="/content/a-to-z-of-nhs-health-writing#redness">redness</a>, <a href="/content/a-to-z-of-nhs-health-writing#skin-colour-changes">skin colour changes</a>, <a href="/content/a-to-z-of-nhs-health-writing#white-skin">white skin</a></p>
          <p>Some guidance on writing about skin colour in the section on <a href="/content/inclusive-content/ethnicity-religion-and-nationality">Ethnicity, religion and nationality</a> in the Inclusive content section</p>
          <p>Updated entries in the A to Z of NHS health writing on <a href="/content/a-to-z-of-nhs-health-writing#immunisation">immunisation</a>, <a href="/content/a-to-z-of-nhs-health-writing#jab">jab</a>, <a href="/content/a-to-z-of-nhs-health-writing#vaccine">vaccine</a>, and <a href="/content/a-to-z-of-nhs-health-writing#vaccination">vaccination</a></p>
          <p>New entries in the A to Z for <a href="/content/a-to-z-of-nhs-health-writing#GP-online-services">GP online services</a> and <a href="/content/a-to-z-of-nhs-health-writing#ID">ID</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Brought all guidance on captions together in the <a href="/design-system/components/images">images component</a></p>
          <p>Brought <a href="/design-system/components/images">images component</a> example into line with the accessiblity guidance on <a href="/accessibility/content#use-alternative-text-for-images-in-content">using alt-text for images in content</a></p>
          <p>Added real error message example to <a href="/design-system/components/date-input">date input</a> component</p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>May 2021</h2>

<table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in May 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr>
        <td class="nhsuk-table__cell">Accessibility guidance</td>
        <td class="nhsuk-table__cell">
          <p>Updated section on <a href="/accessibility/content#make-video-and-other-multimedia-content-accessible">making video and other multimedia content accessible</a></p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>April 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in April 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Service manual</td>
        <td class="nhsuk-table__cell">
          <p>Added content in the design system, content style guide, accessibility guidance and service standard to encourage people to contribute and improve the service manual</p>
        </td>
      </tr>

      <tr>
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Added a <a href="/content/a-to-z-of-nhs-health-writing#GP-system-supplier-names-and-patient-facing-services">new entry for GP system supplier names and patient-facing services</a> to the A to Z of NHS health writing</a></p>
          <p>Linked from our content style guide entry for coronavirus (COVID-19) to the new <a href="https://www.gov.uk/guidance/style-guide/coronavirus-covid-19-a-to-z">coronavirus (COVID-19) A to Z on GOV.UK</a></p>
        </td>
      </tr>
    </tbody>
  </table>


  <h2>March 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in March 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Accessibility guidance</td>
        <td class="nhsuk-table__cell">
          <p>Updated guidance on accessibility statements within the <a href="/accessibility/product-and-delivery">product and delivery page</a></p>
        </td>
      </tr>


      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Removed the review date component and replaced it with the "<a href="/design-system/patterns/reassure-users-that-a-page-is-up-to-date">Reassure users that a page is up to date</a>" pattern</p>
        </td>
      </tr>


      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Team page</td>
        <td class="nhsuk-table__cell">
          <p>Added a new "<a href="/service-manual-team">service manual team</a>" page</p>
        </td>
      </tr>

    </tbody>
  </table>

  <h2>February 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in February 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Updated our guidance on <a href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></p>
          <p>Added explanation and more examples to the section on <a href="/content/formatting-and-punctuation#hyphens-and-dashes">hyphens and dashes</a></p>
          <p>Removed the readability tools page and explained that we do not recommend them on our <a href="/content/health-literacy">health literacy</a> page. Removed 2 broken links from health literacy page.</p>
          <p>Amended the <a href="/site-map">site map</a> page to bring it into line with the <a href="/content/a-to-z-of-nhs-health-writing#site-map">site map entry in the style guide</a></p>
        </td>
      </tr>
      <tr>
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added <a href="/design-system/styles/page-template">page template</a> guidance</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>January 2021</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in January 2021</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Updated the guidance on <a href="/content/numbers-measurements-dates-time#dates">dates</a></p>
          <p>Added more examples to the section on <a href="/content/formatting-and-punctuation#capitalisation">capitalisation</a></p>
          <p>Added a new entry for "<a href="/content/a-to-z-of-nhs-health-writing#site-map">site map</a>" and updated the entry for the <a href="/content/a-to-z-of-nhs-health-writing#NHS-App">NHS App</a> in the A to Z of NHS health writing</p>
          <p>Added more links between the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a> and the rest of the <a href="/content">content style guide</a></p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added guidance for <a href="/design-system/components/text-input#asking-for-whole-numbers">asking for whole numbers using the text input</a> component</p>
          <p>Updated code examples with inputmode numeric for the <a href="/design-system/patterns/ask-users-for-their-nhs-number">ask users for their NHS number pattern</a> and <a href="/design-system/components/date-input">date inputcomponent </a></p>
          <p>Updated code example for the <a href="/design-system/styles/typography#font-weight">font weight normal override class</a></p>
        </td>
      </tr>
    </tbody>
  </table>

 <h2>December 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in December 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Added new and updated guidance on using <a href="/content/formatting-and-punctuation#bold">bold</a>, <a href="/content/formatting-and-punctuation#contractions">contractions in URLs and page titles</a>, <a href="/content/formatting-and-punctuation#full-stops">full stops</a> and <a href="/content/formatting-and-punctuation#quotation-marks">quotation marks</a> to the page about formatting and punctuation</p>
          <p>Added new entries for <a href="/content/a-to-z-of-nhs-health-writing#GUM-clinic">GUM clinic</a> and <a href="/content/a-to-z-of-nhs-health-writing#vial">vial</a> to the A to Z of NHS health writing</p>
          <p>Removed readability tool page with broken link to SMOG calculator while we consider it further</p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
           <p>Removed full stops from the <a href="/design-system/components/card">card component</a> and other cards in the service manual to align with the content style guide</p>
           <p>Updated typography <a href="/design-system/styles/typography#bulleted-lists">bulleted lists</a> and <a href="/design-system/styles/typography#numbered-lists">numbered lists</a> examples</p>
          <p>Corrected date in <a href="/design-system/components/images">images component</a></p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>October 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in October 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added <a href="/design-system/components/card">card component</a></p>
          <p>Added <a href="/design-system/components/table#responsive-table">responsive table component</a></p>
          <p>Added <a href="/design-system/components/tag">tag component</a></p>
          <p>Added <code>nhsuk-link--no-visited-state</code> style for <a href="/design-system/styles/typography#links">links in typography</a></p>
          <p>Update <a href="/design-system/components/warning-callout">warning callout</a> guidance with a section on making headings accessible</p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>September 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in September 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Added new entry for <a href="/content/a-to-z-of-nhs-health-writing#phone-and-phone-numbers">phone and phone numbers</a> to A to Z of NHS health writing</p>
        </td>
      </tr>
    </tbody>
  </table>



  <h2>August 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in August 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Accessibility</td>
        <td class="nhsuk-table__cell">
          <p>Added <a href="/accessibility">NHS digital accessibility posters</a></p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Added new entry for <a href="/content/a-to-z-of-nhs-health-writing#NHS-Test-and-Trace">NHS Test and Trace</a> to A to Z of NHS health writing</p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added prototype kit how to guides link to the <a href="/design-system/prototyping#how-to-guides">prototyping page</a></p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Get in touch</td>
        <td class="nhsuk-table__cell">
          <p>Added a new "<a href="/get-in-touch">Get in touch</a>" page</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>June 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in June 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Updated guidance and added more examples for the <a href="/design-system/components/error-message">error message</a> component</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>May 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in May 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added guidance for the <a href="/design-system/styles/layout#main-content">main wrapper spacing modifier classes</a></p>
          <p>Updated the <a href="/design-system/components/footer">footer</a> component guidance</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>April 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in April 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Community</td>
        <td class="nhsuk-table__cell">
          <p>Updated the <a href="/community-and-contribution/backlog-of-components-and-patterns">backlog of components and patterns</a></p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added conditionally revealing <a href="/design-system/components/radios#conditionally-revealing-content">radio</a> and <a href="/design-system/components/checkboxes#conditionally-revealing-content">checkbox</a> components</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>March 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in February 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Added new entries for <a href="/content/a-to-z-of-nhs-health-writing#calories-(kcal)">calories</a>, <a href="/content/a-to-z-of-nhs-health-writing#Deaf-people">Deaf people</a>, <a href="/content/a-to-z-of-nhs-health-writing#hearing-loss">hearing loss</a>, <a href="/content/a-to-z-of-nhs-health-writing#death">death</a> and <a href="/content/a-to-z-of-nhs-health-writing#trimesters">trimesters</a> to A to Z of NHS health writing</p>
          <p>Added a reference from <a href="/content/a-to-z-of-nhs-health-writing#disease">disease</a> to "condition" in the A to Z of NHS health writing</p>
          <p>Added a new section on <a href="/content/numbers-measurements-dates-time#calories">calories</a> to the Numbers, measurements, dates and time page</p>
          <p>Mentioned the social model of disability in the section on <a href="/content/inclusive-content/disabilities-and-conditions">disabilities and conditions in the Inclusive content section</a></p>
          <p>Changed the memorable number example under <a href="/content/a-to-z-of-nhs-health-writing#telephone-numbers">telephone numbers in the A to Z of NHS writing and explained that we use "call" or "phone"</a></p>
          <p>Removed "straight away" from our guidance on <a href="/content/formatting-and-punctuation#hyphens-and-dashes">hyphens</a></p>
          <p>Standardised links in the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></p>
          <p>Added new entry for <a href="/content/a-to-z-of-nhs-health-writing#coronavirus-(covid-19)">coronavirus (COVID-19)</a> to A to Z of NHS health writing</p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Updated <a href="/design-system/patterns">Patterns index page</a> with new wording after testing</p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
       <td class="nhsuk-table__cell">Service manual policies</td>
        <td class="nhsuk-table__cell">
          <p>Updated <a href="/cookie-policy">cookie policy</a> with information about other organisations' cookies</p>
          <p>Updated <a href="your-privacy">Your privacy page</a> with information about other organisations' cookies and with a section on social media</p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">What's new</td>
        <td class="nhsuk-table__cell"><p>We published a new video of our <a href="/whats-new/show-and-tells">public show and tell on YouTube</a>.</p></td>
      </tr>
    </tbody>
  </table>

<h2>February 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in February 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
         <p>Added a new entry in the A to Z of NHS health writing for "<a href="/content/a-to-z-of-nhs-health-writing#GP">GP</a>" and an updated entry for <a href="/content/a-to-z-of-nhs-health-writing#doctor">doctor</a>"</p>
          <p>Added an explanation about using months up to 2 years to <a href="/content/inclusive-content/age">the section on age in the Inclusive content section</a></p>
          <p>Added <a href="/content/a-to-z-of-nhs-health-writing#telephone-numbers">new guidance on telephone numbers to the A to Z of NHS health writing</a>, based on GOV.UK guidance</p>
          <p>Improved the guidance on <a href="/content/numbers-measurements-dates-time#ordinal-numbers">ordinal numbers on the Numbers, measurements, dates and time page</a></p>
          <p>Removed the reference to the Oxford Dictionary for Writers and Editors on <a href="/content">the content style guide hub page</a> and added contact details instead</p>
          <p>Updated guidance on <a href="/content/inclusive-content/sex-gender-and-sexuality">sex and intersex in the Inclusive content section</a></p>
          <p>Clarified guidance on <a href="/content/a-to-z-of-nhs-health-writing#temperature">temperature on the A to Z of NHS health writing page</a> and in the <a href="/content/numbers-measurements-dates-time#measurements">measurements section on the Numbers, measurements, dates and time page</a></p>
          <p>Updated presentation of examples on the <a href="/content/numbers-measurements-dates-time">Numbers, measurement, dates and time page</a></p>
          <p>Amended wording of links on design example boxes across the <a href="/design-system">design system</a></p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added guidance and examples of an <a href="/design-system/components/error-summary#linking-from-the-error-summary-to-each-answer">error summary</a> and an error message working together</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>January 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in January 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Site wide</td>
        <td class="nhsuk-table__cell"><p>Moved service manual from "beta" to "live". Added main, side and in-page navigation and other design changes</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Community</td>
        <td class="nhsuk-table__cell"><p>Added new page: <a href="/community-and-contribution/backlog-of-components-and-patterns">Backlog of components and patterns</a></p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Updated the <a href="/content/inclusive-content">Inclusive content</a> section with revised guidance on "sex, gender and sexuality", "ethnicity, religion and nationality" and "age"</p>
          <p>Added new entries for "<a href="/content/a-to-z-of-nhs-health-writing#chronic">chronic</a>", "<a href="/content/a-to-z-of-nhs-health-writing#acute">acute</a>", "<a href="/content/a-to-z-of-nhs-health-writing#renal">renal</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#kidney">kidney</a>" to the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></p>
          <p>Updated the <a href="/content/a-to-z-of-nhs-health-writing"> A to Z of NHS health writing</a> with entries for "<a href="/content/a-to-z-of-nhs-health-writing#pharmacy">pharmacy</a>", "<a href="/content/a-to-z-of-nhs-health-writing#chemist">chemist</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#sex-assigned-or-registered-at-birth">sex assigned or registered at birth</a>"</p>
          <p>Made it easier for people to understand negative <a href="/content/formatting-and-punctuation#contractions">contractions</a>. Added "<a href="/content/a-to-z-of-nhs-health-writing#can't-or-cannot">can't or cannot</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#don't-or-do-not">don't or do not</a>" to the A to Z of NHS health writing</p>
          <p>Amended the guidance on using the number 1 on the <a href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a> page</p>
          <p>Amended index page and side navigation of <a href="/content/how-to-write-good-questions-for-forms">How to write good questions</a> to improve search results</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Cookies</td>
        <td class="nhsuk-table__cell"><p>Updated <a href="/cookie-policy">Cookies</a> page to reflect current cookies practice and let people opt in</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added a <a href="/design-system/components/hint-text">Hint text</a> page to components after research showed users did not look for it in text input and other components</p>
          <p>Amended wording on <a href="/design-system/prototyping">Prototyping</a> page and <a href="/design-system/production">Production code</a> page</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Get in touch</td>
        <td class="nhsuk-table__cell"><p>Added "Need help?" and "Get in touch" to pages across the site</p></td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">
          <p>Amended <a href="/service-standard">NHS service standard</a> page and <a href="/service-standard/about">About the NHS service standard</a> page to make it clear that teams working to the GOV.UK service standard must meet all 14 points</p>
          <p>Updated <a href="/service-standard/17-make-your-service-interoperable">section 17 of the service standard</a> with more detail about interoperability standards</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Terms and conditions</td>
        <td class="nhsuk-table__cell"><p>Updated <a href="/terms-and-conditions">Terms and conditions</a> page to make it clear the service manual is covered by the Open Government Licence</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">What's new</td>
        <td class="nhsuk-table__cell"><p>Added <a href="/whats-new">What's new</a> section with updates and blog pages</p></td>
      </tr>
       <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Your privacy</td>
        <td class="nhsuk-table__cell"><p>Amended <a href="/your-privacy">Your privacy</a> page to reflect service manual policy and practice</p></td>
      </tr>
    </tbody>
  </table>

  <h2>December 2019</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in December 2019</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">Updated the <a href="/content/formatting-and-punctuation">Formatting and punctuation page</a> with guidance on full sentence bullet <a href="/content/formatting-and-punctuation#lists">lists</a></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">Updated the <a href="/service-standard">NHS service standard</a> to make it clearer how it supports the GOV.UK service standard</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Search</td>
        <td class="nhsuk-table__cell">Added <a href="/search/?search-field=">search</a> functionality to the service manual</td>
      </tr>
    </tbody>
  </table>

  <h2>November 2019</h2>

  <table class="nhsuk-table">

    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updates to the service manual in November 2019/caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>New guidance on <a href="/content/how-to-write-good-questions-for-forms">how to write good questions in forms</a></p>
          <p>Updated the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a> with a new entry on <a href="/content/a-to-z-of-nhs-health-writing#NHS-number">how to write the NHS number</a></p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
        <p>New pattern page: <a href="/design-system/patterns/ask-users-for-their-nhs-number">Ask users for their NHS number</a></p>
        <p>New style page: <a href="/design-system/styles/focus-state">Focus state</a></p>
        <p>New component page: <a href="/design-system/components/summary-list">Summary list</a></p>
        <p>Improved <a href="/design-system/components/header">Header</a> component page with guidance on the new organisational header</p>
        <p>Improved guidance on <a href="/design-system/styles/colour">Colour</a> page with guidance on defining focus styles, and <a href="/design-system/styles/typography">Typography</a> page with updated guidance on using the Frutiger licence</p></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
