{% set pageTitle = "Updates" %}
{% set pageDescription = "Updates to the service manual." %}
{% set pageSection = "What's new" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<h2>March 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Updates to the service manual in February 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Updated <a href="/design-system/patterns">Patterns index page</a> with new wording after testing</p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
       <td class="nhsuk-table__cell">Service manual policies</td>
        <td class="nhsuk-table__cell">
          <p>Updated <a href="/cookie-policy">cookie policy</a> with information about other organisations' cookies</p>
          <p>Updated <a href="your-privacy">Your privacy page</a> with information about other organisations' cookies and with a section on social media</p>
        </td>
      </tr>
    </tbody>
  </table>

<h2>February 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Updates to the service manual in February 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
         <p>Added a new entry in the A to Z of NHS health writing for "<a href="/content/a-to-z-of-nhs-health-writing#GP">GP</a>" and an updated entry for <a href="/content/a-to-z-of-nhs-health-writing#doctor">doctor</a>"</p>
          <p>Added an explanation about using months up to 2 years to <a href="/content/inclusive-language#age">the section on age in the Inclusive language page</a></p>
          <p>Added <a href="/content/a-to-z-of-nhs-health-writing#telephone-numbers">new guidance on telephone numbers to the A to Z of NHS health writing</a>, based on GOV.UK guidance</p>
          <p>Improved the guidance on <a href="/content/numbers-measurements-dates-time#ordinal-numbers">ordinal numbers on the Numbers, measurements, dates and time page</a></p>
          <p>Removed the reference to the Oxford Dictionary for Writers and Editors on <a href="/content">the content style guide hub page</a> and added contact details instead</p>
          <p>Updated guidance on <a href="/content/inclusive-language#sex-gender-sexuality">sex and intersex on the Inclusive language page</a></p>
          <p>Clarified guidance on <a href="/content/a-to-z-of-nhs-health-writing#temperature">temperature on the A to Z of NHS health writing page</a> and in the <a href="/content/numbers-measurements-dates-time#measurements">measurements section</a> on the Numbers, measurements, dates and time page</a></p>
          <p>Updated presentation of examples on the <a href="/content/numbers-measurements-dates-time">Numbers, measurement, dates and time page</a></p>
          <p>Amended wording of links on design example boxes across the <a href="/design-system">design system</a></p>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added guidance and examples of an <a href="/design-system/components/error-summary#linking-from-the-error-summary-to-each-answer">error summary</a> and an error message working together</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>January 2020</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Updates to the service manual in January 2020</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Site wide</td>
        <td class="nhsuk-table__cell"><p>Moved service manual from "beta" to "live". Added main, side and in-page navigation and other design changes</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Community</td>
        <td class="nhsuk-table__cell"><p>Added new page: <a href="/community/backlog-of-components-and-patterns">Backlog of components and patterns</a></p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>Updated the <a href="/content/inclusive-language">Inclusive language</a> page with revised guidance on "sex, gender and sexuality", "race, ethnicity, religion and nationality" and "age"</p>
          <p>Added new entries for "<a href="/content/a-to-z-of-nhs-health-writing#chronic">chronic</a>", "<a href="/content/a-to-z-of-nhs-health-writing#acute">acute</a>", "<a href="/content/a-to-z-of-nhs-health-writing#renal">renal</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#kidney">kidney</a>" to the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></p>
          <p>Updated the <a href="/content/a-to-z-of-nhs-health-writing"> A to Z of NHS health writing</a> with entries for "<a href="/content/a-to-z-of-nhs-health-writing#pharmacy">pharmacy</a>", "<a href="/content/a-to-z-of-nhs-health-writing#chemist">chemist</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#sex-assigned-or-registered-at-birth">sex assigned or registered at birth</a>"</p>
          <p>Made it easier for people to understand negative <a href="/content/formatting-and-punctuation#contractions">contractions</a>. Added "<a href="/content/a-to-z-of-nhs-health-writing#can't-or-cannot">can't or cannot</a>" and "<a href="/content/a-to-z-of-nhs-health-writing#don't-or-do-not">don't or do not</a>" to the A to Z of NHS health writing</p>
          <p>Amended the guidance on using the number 1 on the <a href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a> page</p>
          <p>Amended index page and side navigation of <a href="/content/how-to-write-good-questions-for-forms">How to write good questions</a> to improve search results</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Cookies</td>
        <td class="nhsuk-table__cell"><p>Updated <a href="/cookie-policy">Cookies</a> page to reflect current cookies practice and let people opt in</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
          <p>Added a <a href="/design-system/components/hint-text">Hint text</a> page to components after research showed users did not look for it in text input and other components</p>
          <p>Amended wording on <a href="/design-system/prototyping">Prototyping</a> page and <a href="/design-system/production">Production code</a> page</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Get in touch</td>
        <td class="nhsuk-table__cell"><p>Added "Need help?" and "Get in touch" to pages across the site</p></td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">
          <p>Amended <a href="/service-standard">NHS service standard</a> page and <a href="/service-standard/about">About the NHS service standard</a> page to make it clear that teams working to the GOV.UK service standard must meet all 14 points</p>
          <p>Updated <a href="/service-standard/17-make-your-service-interoperable">section 17 of the service standard</a> with more detail about interoperability standards</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Terms and conditions</td>
        <td class="nhsuk-table__cell"><p>Updated <a href="/terms-and-conditions">Terms and conditions</a> page to make it clear the service manual is covered by the Open Government Licence</p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">What's new</td>
        <td class="nhsuk-table__cell"><p>Added <a href="/whats-new">What's new</a> section with updates and blog pages</p></td>
      </tr>
       <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Your privacy</td>
        <td class="nhsuk-table__cell"><p>Amended <a href="/your-privacy">Your privacy</a> page to reflect service manual policy and practice</p></td>
      </tr>
    </tbody>
  </table>

  <h2>December 2019</h2>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Updates to the service manual in December 2019</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">Updated the <a href="/content/formatting-and-punctuation">Formatting and punctuation page</a> with guidance on full sentence bullet <a href="/content/formatting-and-punctuation#lists">lists</a></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">NHS service standard</td>
        <td class="nhsuk-table__cell">Updated the <a href="/service-standard">NHS service standard</a> to make it clearer how it supports the GOV.UK service standard</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Search</td>
        <td class="nhsuk-table__cell">Added <a href="/search/?search-field=">search</a> functionality to the service manual</td>
      </tr>
    </tbody>
  </table>

  <h2>November 2019</h2>

  <table class="nhsuk-table">

    <caption class="nhsuk-table__caption">Updates to the service manual in November 2019/caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col" style="width: 25%;">Section</th>
        <th class="nhsuk-table__header" scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Content style guide</td>
        <td class="nhsuk-table__cell">
          <p>New guidance on <a href="/content/how-to-write-good-questions-for-forms">how to write good questions in forms</a></p>
          <p>Updated the <a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a> with a new entry on <a href="/content/a-to-z-of-nhs-health-writing#NHS-number">how to write the NHS number</a></p></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Design system</td>
        <td class="nhsuk-table__cell">
        <p>New pattern page: <a href="/design-system/patterns/ask-users-for-their-nhs-number">Ask users for their NHS number</a></p>
        <p>New style page: <a href="/design-system/styles/focus-state">Focus state</a></p>
        <p>New component page: <a href="/design-system/components/summary-list">Summary list</a></p>
        <p>Improved <a href="/design-system/components/header">Header</a> component page with guidance on the new organisational header</p>
        <p>Improved guidance on <a href="/design-system/styles/colour">Colour</a> page with guidance on defining focus styles, and <a href="/design-system/styles/typography">Typography</a> page with updated guidance on using the Frutiger licence</p></td>
      </tr>
    </tbody>
  </table>

{% endblock %}

