{% from 'details/macro.njk' import details %}

{% call details({
  summaryText: "How to find your NHS number"
}) %}
  <p>An NHS number is a 10 digit number, like <span class="nhsuk-u-nowrap">987 654 3210</span>.</p>
  <p>You can find your NHS number by logging in to a GP online service or on any document the NHS has sent you, such as your:</p>
  <ul>
    <li>prescriptions</li>
    <li>test results</li>
    <li>hospital referral letters</li>
    <li>appointment letters</li>
  </ul>
  <p>Ask your GP surgery for help if you can't find your NHS number.</p>
{% endcall %}
