{% from 'character-count/macro.njk' import characterCount %}

{{ characterCount({
  "name": "exceeding-characters",
  "id": "exceeding",
  "maxlength": 200,
  "label": {
    "text": "Enter a job description"
  },
  "hint": {
    "text": "Do not include personal information like your name, date of birth or NHS number."
  },
  errorMessage: {
    text: "Job description must be 350 characters or less"
  }
}) }}