{% set pageTitle = 'Checkboxes' %}
{% set pageSection = 'Components' %}
{% set pageDescription = 'Use checkboxes to let users select one or more options on a form.' %}
{% set githubIssue = 'Back link URL' %}
{% set githubFork = 'Back link URL' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {{ designExample({
    type: 'checkboxes'
  }) }}

  <h2>When to use checkboxes</h2>
  <p>Use checkboxes when you need to help users:</p>
  <ul>
    <li>select more than 1 option from a list</li>
    <li>toggle a single option on or off</li>
  </ul>

  <h2>When not to use checkboxes</h2>
  <p>Do not use the checkboxes component if users can only choose 1 option from a selection. In this case, use a <a href="/service-manual/styles-components-patterns/radios">radio</a>.</p>

  <h2>How to use checkboxes</h2>
  <p class="rich-text">Group checkboxes together in a <code>&lt;fieldset&gt;</code> with a <code>&lt;legend&gt;</code> that describes them. You can see an example at the top of this page. The legend is usually a question, like "How would you like to be contacted?".</p>
  <p class="rich-text">If you're asking just <a href="https://design-system.service.gov.uk/patterns/question-pages/#start-by-asking-one-question-per-page">1 question per page</a> as GOV.UK design system recommends, you can set the contents of the <code>&lt;legend&gt;</code> as the page heading. This is good practice as it means screen reader users will only hear the contents once.</p>
  <p>Read more on the GOV.UK design system about <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/">making labels and legends headings</a>.</p>
  <p>Unlike with <a href="/service-manual/styles-components-patterns/radios">radios</a>, users can select more than 1 option from a list of checkboxes. Do not assume that users will know how many options they can select. Make it clear with a hint - for example, say "Select all that apply".</p>

  <h2>Research</h2>
  <p>We tested checkboxes on a "Register with a GP" prototype at 2 labs in 2018. Users understood what the checkboxes were for and were able to complete the set task successfully.</p>
  <p>Our checkboxes are based on the GOV.UK design system. Read more about <a href="https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/">how GOV.UK developed and tested them</a>.</p>

{% endblock %}
