{% set pageTitle = 'Checkboxes' %}
{% set pageSection = 'Styles, components and patterns' %}
{% set pageDescription = 'Use checkboxes to let users select one or more options on a form.' %}

{% extends 'includes/layout.njk' %}

{% from 'checkboxes/macro.njk' import checkboxes %}
{% from 'panel/macro.njk' import panel %}
{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Checkboxes</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use checkboxes to let users select one or more options on a form.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 >Code and design</h2>
     {{ designExample({
      type: 'checkboxes'
    }) }}
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2>When to use checkboxes</h2>
    <p>Use checkboxes when you need to help users:</p>
    <ul>
        <li>select more than 1 option from a list</li>
        <li>toggle a single option on or off</li>
    </ul>
    <h2>When not to use checkboxes</h2>
    <p>Do not use the checkboxes component if users can only choose 1 option from a selection. In this case, use a <a href="/service-manual/styles-components-patterns/radios">radio</a>.</p>
    <h2>How to use checkboxes</h2>
    <p class="rich-text">Group checkboxes together in a <code>&lt;fieldset&gt;</code> with a <code>&lt;legend&gt;</code> that describes them. You can see an example at the top of this page. The legend is usually a question, like "How would you like to be contacted?".</p>
    <p class="rich-text">If you're asking just <a href="https://design-system.service.gov.uk/patterns/question-pages/#start-by-asking-one-question-per-page">1 question per page</a> as GOV.UK design system recommends, you can set the contents of the <code>&lt;legend&gt;</code> as the page heading. This is good practice as it means screen reader users will only hear the contents once.</p>
    <p>Read more on the GOV.UK design system about <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/">making labels and legends headings</a>.</p>
    <p>Unlike with <a href="/service-manual/styles-components-patterns/radios">radios</a>, users can select more than 1 option from a list of checkboxes. Do not assume that users will know how many options they can select. Make it clear with a hint - for example, say "Select all that apply".</p>
    <h2>Research</h2>
    <p>We tested checkboxes on a "Register with a GP" prototype at 2 labs in 2018. Users understood what the checkboxes were for and were able to complete the set task successfully.</p>
    <p>Our checkboxes are based on the GOV.UK design system. Read more about <a href="https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/">how GOV.UK developed and tested them</a>.</p>

    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/9">Discuss checkboxes on GitHub</a></p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>join the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE">NHS.UK service manual Slack workspace</a></li>
      <li>email <a href="mailto: service-manual@nhs.net">service-manual@nhs.net</a></li>
    </ul>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: January 2019</p>
    </div>
    {{ panel({
    "label": "Similar components",
    "HTML": "<ul>
              <li><a href='/service-manual/styles-components-patterns/buttons'>Buttons</a></li>
              <li><a href='/service-manual/styles-components-patterns/date-input'>Date input</a></li>
              <li><a href='/service-manual/styles-components-patterns/error-message'>Error message</a></li>
              <li><a href='/service-manual/styles-components-patterns/error-summary'>Error summary</a></li>
              <li><a href='/service-manual/styles-components-patterns/fieldset'>Fieldset</a></li>
              <li><a href='/service-manual/styles-components-patterns/hint-text'>Hint text</a></li>
              <li><a href='/service-manual/styles-components-patterns/radios'>Radios</a></li>
              <li><a href='/service-manual/styles-components-patterns/text-input'>Text input</a></li>
              <li><a href='/service-manual/styles-components-patterns/textarea'>Textarea</a></li>
            </ul>"
    }) }}
  </div>
</div>
{% endblock %}
