{% set pageTitle = 'Colour' %}
{% set pageSection = 'Styles, components and patterns' %}
{% set pageDescription = 'Our colours, and how to apply them.' %}

{% extends 'includes/layout.njk' %}


{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-8">{{pageTitle}}</h1>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="using-colour">Using colour</h2>
    <p>Our brand colours help people recognise and trust that our services come from the NHS.</p>
    <p>We also use colour to help users prioritise and differentiate information - for example we use yellow for <a href="/service-manual/styles-components-patterns/warning-callout">warning callouts</a> and red for <a href="/service-manual/styles-components-patterns/care-cards#urgent-care-card-red">urgent care cards</a>.</p>
    <p>Our text and background colours are designed to meet accessibility needs. We meet at least level AA for contrast and aim for level AAA as far as possible. Read more about <a href="/service-manual/styles-components-patterns/colour#accessibility">accessibility and colour on this page</a>.</p>
    <p>Use the Sass variables for each colour (for example $nhsuk-focus-color) if you're using the <a href="/service-manual/frontend-library">NHS.UK frontend library</a>. That way you’ll automatically get any updates to the colour palette when you refresh.</p>
    <h2 id="main-palette">Main palette</h2>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#005eb8"></div>
        <h5 class="nhsuk-u-margin-bottom-2">NHS blue</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#005eb8</p>
        <p class="nhsuk-body-s">$color_nhsuk-blue</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffffff"></div>
        <h5 class="nhsuk-u-margin-bottom-2">NHS white</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffffff</p>
        <p class="nhsuk-body-s">$color_nhsuk-white</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#007f3b"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Green</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#007f3b</p>
        <p class="nhsuk-body-s">$color_nhsuk-green</p>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#330072"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Purple</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#330072</p>
        <p class="nhsuk-body-s">$color_nhsuk-purple</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#da291c"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Red</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#da291c</p>
        <p class="nhsuk-body-s">$color_nhsuk-red</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffeb3b"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Yellow</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffeb3b</p>
        <p class="nhsuk-body-s">$color_nhsuk-yellow</p>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffb81c"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Warm yellow</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffb81c</p>
        <p class="nhsuk-body-s">$color_nhsuk-warm-yellow</p>
      </div>
    </div>
    <p>NHS blue is the dominant colour in the NHS colour palette. We use it for <a href="/service-manual/styles-components-patterns/header">the header</a>, links, <a href="/service-manual/styles-components-patterns/care-cards">care cards</a> and<a href="/service-manual/styles-components-patterns/inset-text"> inset text.</a></p>
    <p>White is used to make important information stand out and for alternating backgrounds, for example on the <a href="https://www.nhs.uk/">NHS.UK home page</a>.</p>
    <p>We use:</p>
    <ul>
      <li>red for urgency, and negative or destructive actions, for example in <a href="/service-manual/styles-components-patterns/care-cards#urgent-care-card-red">urgent and emergency care cards</a></li>
      <li>yellow for warnings, for example in <a href="/service-manual/styles-components-patterns/warning-callout#warning-callout">warning callouts</a></li>
      <li>green in action buttons and links, like the <a href="/service-manual/styles-components-patterns/action-link">action link</a></li>
      <li>purple for visited links</li>
      <li>warm yellow to give a visible focus to interactive elements</li>
    </ul>
    <p>See <a href="/service-manual/styles-components-patterns/colour#colours-in-context">colours in context on this page</a> for more uses of these colours and specific Sass codes.</p>
    <h3>Greys</h3>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#212b32"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Black</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#212b32</p>
        <p class="nhsuk-body-s">$color_nhsuk-black</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#425563"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Grey 1</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#425563</p>
        <p class="nhsuk-body-s">$color_nhsuk-grey-1</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#768692"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Grey 2</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#768692</p>
        <p class="nhsuk-body-s">$color_nhsuk-grey-2</p>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#aeb7bd"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Grey 3</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#aeb7bd</p>
        <p class="nhsuk-body-s">$color_nhsuk-grey-3</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#d8dde0"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Grey 4</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#d8dde0</p>
        <p class="nhsuk-body-s">$color_nhsuk-grey-4</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#f0f4f5"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Grey 5</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#f0f4f5</p>
        <p class="nhsuk-body-s">$color_nhsuk-grey-5</p>
      </div>
    </div>
    <p>We use black for headings and the main body copy and grey 1 for secondary text.</p>
    <p>We use grey 2, 3 and 4 for borders.</p>
    <p>We use grey 5 as a background tint. This is because:</p>
    <ul>
      <li>it reduces overall page glare</li>
      <li>the <a href="https://www.bdadyslexia.org.uk/employer/dyslexia-style-guide-2018-creating-dyslexia-friendly-content">British Dyslexia Association</a> recommends dark text on a light, but not white, background</li>
      <li>components with important information, like callouts, stand out</li>
    </ul>
    <p>See <a href="/service-manual/styles-components-patterns/colour#colours-in-context">colours in context on this page</a> for more uses of these colours and specific Sass codes.</p>
    <h2 id="colours-in-context">Colours in context</h2>
    <h3>Text</h3>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#212b32"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Text</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#212b32</p>
        <p class="nhsuk-body-s">$nhsuk-text-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#425563"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Secondary text</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#425563</p>
        <p class="nhsuk-body-s">$nhsuk-secondary-text-color</p>
      </div>
    </div>
    <p>We use Text colours for headings and main body copy.</p>
    <p>These two colours contrast well with backgrounds, but not so much that reading becomes tiring.</p>
    <h3>Links</h3>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#005eb8"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#005eb8</p>
        <p class="nhsuk-body-s">$nhsuk-link-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#212b32"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link hover</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#212b32</p>
        <p class="nhsuk-body-s">$nhsuk-link-hover-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffcd60"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link hover background</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffcd60</p>
        <p class="nhsuk-body-s">$nhsuk-link-hover-background-color</p>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#212b32"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link focus</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#212b32</p>
        <p class="nhsuk-body-s">$nhsuk-link-focus-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffb81c"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link focus background</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffb81c</p>
        <p class="nhsuk-body-s">$nhsuk-link-focus-background-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#374047"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link active</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#374047</p>
        <p class="nhsuk-body-s">$nhsuk-link-active-color</p>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffbf33"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link active background</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffbf33</p>
        <p class="nhsuk-body-s">$nhsuk-link-active-background-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#330072"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Link visited</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#330072</p>
        <p class="nhsuk-body-s">$nhsuk-link-visited-color</p>
      </div>
    </div>
    <h3>Border</h3>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#d8dde0"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Border</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#d8dde0</p>
        <p class="nhsuk-body-s">$nhsuk-border-color</p>
      </div>
    </div>
    <h3>Buttons</h3>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#007f3b"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Button background</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#007f3b</p>
        <p class="nhsuk-body-s">$nhsuk-button-background-color</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#005326"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Button hover</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#005326</p>
        <p class="nhsuk-body-s">$nhsuk-button-hover-color</p>
      </div>
    </div>
    <h3>Focus</h3>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-8">
      <div class="nhsuk-grid-column-one-third">
        <div class="colour-item__swatch nhsuk-u-margin-bottom-4" style="background-color:#ffb81c"></div>
        <h5 class="nhsuk-u-margin-bottom-2">Focus</h5>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">#ffb81c</p>
        <p class="nhsuk-body-s">$nhsuk-focus-color</p>
      </div>
    </div>
    <h2 id="extended-colours">Extended colours</h2>
    <p>The NHS Identity Guidelines have an <a href="https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/">extended colour palette</a>. We haven't tested these colours yet for digital use.</p>
    <h2 id="accessibility">Accessibility</h2>
    <p>Our text and background colours have contrast ratios that meet level <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">AA of the Web Content Accessibility Guidelines (WCAG 2.0)</a>. We aim for AAA as far as possible.</p>
    <p>This helps people with <a href="https://www.nhs.uk/conditions/colour-vision-deficiency/">colour vision deficiency (colour blindness)</a> who find it difficult to distinguish between certain colours, often shades of red, yellow and green. About 1 in 12 men and 1 in 200 women have this condition.</p>
    <p>When you're designing with colour, make sure:</p>
    <ul>
      <li>contrasts between text and background meet level AA of WCAG 2.0 - or better still AAA</li>
      <li>elements like buttons are recognisable against backgrounds</li>
      <li>what the colour is "saying" is available in other ways</li>
    </ul>
    <p>Use tools like these to check contrast:</p>
    <ul>
      <li><a href="http://webaim.org/resources/contrastchecker/">Web Aim's colour contrast checker</a></li>
      <li><a href="http://colororacle.org/">Color Oracle (free colour blindness simulator)</a></li>
    </ul>
    <p>Also test colour contrast with people of all abilities.</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: July 2019</p>
    </div>
  </div>
</div>
{% endblock %}
