{% set pageTitle = 'Components' %}
{% set pageSection = 'Components' %}
{% set pageDescription = 'Components are reusable parts of the user interface that have been made to support a variety of applications.' %}
{% set contributors = 'false' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  <p>Individual components can be used in multiple different <a href="/service-manual/styles-components-patterns/patterns">patterns</a> and contexts. For example, the <a href="/service-manual/styles-components-patterns/text-input">text input</a> component can be used to ask for an email address, a NHS number or someone’s name.</p>

{% endblock %}
