{% extends 'includes/layout.njk' %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="app-pane">

      <div class="app-pane__side-bar">
        {% include 'includes/nav-components.njk' %}
      </div>

      <div class="app-pane__main-content">

        <h1>{{pageTitle}}</h1>
        <p class="nhsuk-lede-text">{{pageDescription}}</p>

        {% block mainContent %}{% endblock %}

        {% include 'includes/help-improve.njk' %}

        {% include 'includes/contact-panel.njk' %}

      </div>

    </div>

  </div>
</div>
{% endblock %}
