{% set pageTitle = 'Confirmation page' %}
{% set pageSection = 'Styles, components and patterns' %}
{% set pageDescription = 'Use a confirmation page to let users know that they&apos;ve completed a transaction.' %}

{% extends 'includes/layout.njk' %}

{% from 'pagination/macro.njk' import pagination %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'panel/macro.njk' import panel %}

{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use a confirmation page to let users know that they've completed a transaction.</p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ designExample({
      type: 'confirmation-page'
    }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 id="when-to-use-this-pattern">When to use a confirmation page</h2>
    <p>The <a href="https://design-system.service.gov.uk/patterns/confirmation-pages/">GOV.UK Design System</a> recommends using a confirmation page at the end of a transaction.</p>

    <h2 id="how-it-works">How to use a confirmation page</h2>
    <p>Confirmation pages reassure users that they have completed a transaction and help them understand what to expect next.</p>
    <p>Include:</p>
    <ul>
      <li>a reference number, if there is one</li>
      <li>details of what happens next and when</li>
      <li>contact details for the service plus signposting to support services</li>
      <li>links to information or services that users are likely to need next</li>
      <li>information about how users can change their details and find out how you store and manage their information</li>
      <li>a way for users to save a record of the transaction, for example, as a PDF</li>
      <li>a link to your feedback page</li>
    </ul>

    <h3 id="help-users-who-bookmark-the-page">Help users who bookmark the page</h3>
    <p>Some users will bookmark the confirmation page as a form of receipt. You should allow them to return to the page, whenever possible.</p>
    <p>If you cannot, make sure your service responds in a helpful way when users return using a bookmarked link. For example, if people use your service to make an application you could provide links to information on:</p>
    <ul>
      <li>tracking an application</li>
      <li>starting a new application</li>
      <li>what to do or who to contact if they have a problem with their application</li>
    </ul>
      <p>Read a GOV.UK post <a href="https://designnotes.blog.gov.uk/2015/12/10/do-users-return-to-your-service-after-finishing/">Do users return to your service after finishing?</a></p>

    <h2>Research</h2>
    <p>Our confirmation page is based on the one in the <a href="https://design-system.service.gov.uk/patterns/confirmation-pages/">GOV.UK Design System</a>.</p>
    <p>GOV.UK say that they need more research about the best way to confirm transactions that are part of a wider user task.</p>

    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/144">Discuss the confirmation page pattern on GitHub</a>.</p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>Join us on <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">the service manual Slack workspace</a></li>
      <li>or email us at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a></li>
     </ul>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: October 2019</p>
    </div>

  </div>
</div>
{% endblock %}
