{% extends 'includes/layout.njk' %}

{% from 'components/date-input/macro.njk' import dateInput %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% from 'components/panel/macro.njk' import panel %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Date input</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use the date input component to help users enter a memorable date.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 >Code and design</h2>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="example grey-background nhsuk-u-margin-bottom-4">
      {{ dateInput({
      "id": "dob",
      "namePrefix": "dob",
      "fieldset": {
          "legend": {
          "text": "What is your date of birth?"
          }
      },
      "hint": {
          "text": "For example, 31 3 1980"
      },
      "items": [
          {
          "name": "day",
          "classes": "nhsuk-input--width-2"
          },
          {
          "name": "month",
          "classes": "nhsuk-input--width-2"
          },
          {
          "name": "year",
          "classes": "nhsuk-input--width-4"
          }
      ]
      }) }}
    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/date-input/index.html">Preview the date input component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/date-input">get the latest date input code</a> in the NHS.UK frontend library in GitHub.</p>
    <h2>When to use the date input component</h2>
    <p><a href="https://design-system.service.gov.uk/components/date-input/">The GOV.UK Design System suggests</a> using the date input component when you’re asking users for a date they’ll already know, or can look up without using a calendar.</p>
    <h2>When not to use the date input component</h2>
    <p>Do not use the date input component if users are unlikely to know the exact date of the event you’re asking about.</p>
    <p>Read more on the GOV.UK Design System about how to <a href="https://design-system.service.gov.uk/patterns/dates/">ask users for dates</a>.</p>
    <h2>How it works</h2>
    <p>The date input component consists of 3 fields to let users enter a day, month and year.</p>
    <p class="rich-text">The 3 date fields are grouped together in a <code>&lt;fieldset&gt;</code> with a <code>&lt;legend&gt;</code> that describes them, as shown in the examples on this page. This is usually a question, like ‘What is your date of birth?’.</p>
    <p class="rich-text">If you are asking just <a href="https://design-system.service.gov.uk/patterns/question-pages/#start-by-asking-one-question-per-page">one question per page</a> as GOV.UK Design System recommended, you can set the contents of the <code>&lt;legend&gt;</code> as the page heading. This is good practice as it means that users of screen readers will only hear the contents once.</p>
    <p>Read more on the GOV.UK Design System about <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/">why and how to set legends as headings</a>.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Error messages</h2>
    <p>Error messages should be styled like this:</p>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="example grey-background nhsuk-u-margin-bottom-4">
      {{ dateInput({
      "id": "dob-errors",
      "fieldset": {
          "legend": {
          "text": "What is your date of birth?"
          }
      },
      "hint": {
          "text": "For example, 31 3 1980"
      },
      "errorMessage": {
          "text": "Error message goes here"
      },
      "items": [
          {
          "name": "day",
          "classes": "nhsuk-input--width-2 nhsuk-input--error"
          },
          {
          "name": "month",
          "classes": "nhsuk-input--width-2 nhsuk-input--error"
          },
          {
          "name": "year",
          "classes": "nhsuk-input--width-4 nhsuk-input--error"
          }
      ]
      }) }}
    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/date-input/multiple-errors.html">Preview the date input with errors component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/date-input">get the latest date input with errors component code</a> in the NHS.UK frontend library in GitHub.</p>
    <p>Make sure errors follow the guidance in <a href="/patterns/error-message/">error message</a> and have specific error messages for specific error states.</p>
    <p>There is some great guidance on date input specific error messaging <a href="https://design-system.service.gov.uk/components/date-input/">on the GOV.UK Design System</a></p>
    <h2>Research</h2>
    <p>Date input has been tested in as part of a register for a GP journey in 2 labs. All users understood the action they performed and were able to successfully complete the set task.</p>
    <p>If you’ve used this component, get in touch to share your user research findings.</p>
    <p>As our date input is based on the one featured in the <a href="https://design-system.service.gov.uk/components/date-input/">GOV.UK Design System</a>, they suggest more research is needed to determine the extent to which users struggle to enter months as numbers, and whether allowing them to enter months as text is helpful.</p>
    <h2>Discuss</h2>
    <p>Discuss action links on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    {{ reviewDate({
      "lastReview": "January 2019"
    }) }}
    {{ panel({
    "label": "Similar patterns",
    "HTML": "<ul>
                <li></li>
            </ul>"
    }) }}

  </div>
</div>
{% endblock %}
