{% set pageTitle = 'Details' %}
{% set pageSection = 'Components' %}
{% set pageDescription = 'Make a page easier to scan by letting users reveal more detailed information only if they need it.' %}
{% set githubIssue = 'Back link URL' %}
{% set githubFork = 'Back link URL' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  {{ designExample({
    type: 'details'
  }) }}

  <h2 id="when-to-use-this-component">When to use details</h2>
  <p>Use the details component to make a page easier to scan when it contains information that only some users will need, as <a href="https://design-system.service.gov.uk/components/details/">the GOV.UK design system</a> recommends.</p>

  <h2 id="when-not-to-use-this-component">When not to use details</h2>
  <p>Do not use details to hide information that most users will need.</p>

  <h2 id="how-it-works">How to use details</h2>
  <p>The details component is a short link that expands into more detailed help text when a user clicks on it.</p>
  <p>Make the link text short and descriptive so users can quickly work out if they need to click on it.</p>

  <h2 id="research-on-this-component">Research</h2>
  <p>We tested the details component on health information pages and a "Register with a GP" transactional prototype at 5 labs in 2018. </p>
  <p>Users understood the purpose of the component and were able to use it.</p>
  <p>Anecdotally we've heard users being reluctant to expand the details component in user testing sessions for transactional services (forms). When asked why they wouldn't click, they explained that they thought the link text (blue underlined text) would take them to a new page and they would lose their progress.</p>

{% endblock %}
