{% extends 'includes/layout.njk' %}

{% from 'components/details/macro.njk' import details %}
{% from 'components/panel/macro.njk' import panel %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Expander</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Make a complex subjects easier to digest by letting users reveal more detailed information only if they need it.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 >Code and design</h2>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="example grey-background nhsuk-u-margin-bottom-4">
      {{ details({
      "classes": "nhsuk-expander",
      "text": "Opening times",
      "HTML": "
      <table>
          <tbody>
          <tr>
            <th><strong>Day of the week</strong></th>
            <th><strong>Opening hours</strong></th>
          </tr>
          <tr>
            <th>Monday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Tuesday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Wednesday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Thursday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Friday</th>
            <td>9am to 6pm</td>
          </tr>
          <tr>
            <th>Saturday</th>
            <td>9am to 1pm</td>
          </tr>
          <tr>
            <th>Sunday</th>
            <td>Closed</td>
          </tr>
          </tbody>
      </table>"
      }) }}
    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/expander.html">Preview the expanders component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/details">get the latest expanders code</a> in the NHS.UK frontend library in GitHub.</p>
    <h2 id="when-to-use-this-component">When to use expanders</h2>
    <p>Expanders are more prominent then the <a href="/patterns/details">details component</a>, they are contained within a white box and use a + and - icon to indicate open and close. </p>
    <p>Expanders were created when a number of services found users overwhelmed when reading about life changing health conditions such as Diabetes. Expanders help break down complex information into bite size pieces which the user can 'expand' at their own pace, when they're ready to do so.</p>
    <p><a href="/patterns/details">Details</a> are good for detailed information for users at the point of when they need it - and most importantly, IF they need it. Information within an expander is intended for a wider audience, in many other scenarios it wouldn't be hidden but because the subject is overwhelming - an expander helps breakdown a difficult topic which helps meet the users emotional needs.</p>

    <h2 id="when-not-to-use-this-component">When not to use an expander</h2>
    <p>As expanders are quite prominent they don't work well on pages with other interactive elements - such as <a href="/patterns/buttons/">buttons</a> or <a href="/patterns/text-input">text input</a> and they take the focus. Same for placing expanders within other components, such as <a href="patterns/care=cards">care cards</a>.</p>

    <h2 id="how-it-works">How it works</h2>
    <p>The expander component is a short link within a box that expands into more detailed text when a user clicks on it.</p>
    <h3>Multiple expanders</h3>
    <p>Expanders work well in multiples, see the example below:</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="example grey-background nhsuk-u-margin-bottom-4">
      <div class="nhsuk-expander-group">
      {{ details({
          "classes": "nhsuk-expander",
          "text": "How to measure your blood glucose levels",
          "HTML": "
          <p>Testing your blood at home is quick and easy, although it can be uncomfortable. It does get better.</p>
          <p>You would have been given:</p>
          <ul>
          <li>a blood glucose metre</li>
          <li>small needles called lancets</li>
          <li>a plastic pen to hold the lancest</li>
          <li>small test strips</li>
          </ul>
          "
      }) }}
      {{ details({
          "classes": "nhsuk-expander",
          "text": "When to check your blood glucose level",
          "HTML": "
          <p>Try to check your blood:</p>
          <ul>
          <li>before meals</li>
          <li>2 to 3 hours after meals</li>
          <li>before, during (take a break) and after exercise</li>
          </ul>
          <p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>
          "
      }) }}
      </div>
    </div>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/expander-group.html">Preview the multiple expanders component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/details">get the latest multiple expanders code</a> in the NHS.UK frontend library in GitHub.</p>
    <h3 id="write-clear-link-text">Write clear link text</h3>
    <p>Make the link text short and descriptive so users can quickly work out if they need to click on it.</p>
    <h2 id="research-on-this-component">Research</h2>
    <p>Expanders tested well in multiples for Type 1 Diabetes where users where overwhelmed by the amount of information. They've also been successfully tested on conditions and medicines pages where they appeared amongst written content. </p>
    <p>If you’ve used this component, get in touch to share your user research findings.</p>
    <h2>Discuss</h2>
    <p>Discuss action links on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Page updated: <time>January 2019</time></p>
    </div>
    {{ panel({
    "label": "Similar patterns",
    "HTML": "<ul>
                <li></li>
            </ul>"
    }) }}
    </div>
  </div>
{% endblock %}
