{% set pageTitle = 'Footer' %}
{% set pageDescription = 'Use the footer to show users they are on an NHS service and to help them find links they expect at the bottom of our pages.'%}

{% extends 'includes/layout.njk' %}

{% from 'footer/macro.njk' import footer %}
{% from 'panel/macro.njk' import panel %}
{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">{{pageDescription}}</p>
      </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">
    <h2>Code and design</h2>
    {{ designExample({
      type: 'footer'
    }) }}
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="when-to-use-the-footer">When to use the footer</h2>
    <p>Use this footer at the bottom of every page if your service is part of the new NHS.UK website.</p>
    <h2 id="when-not-to-use-the-footer">When not to use the footer</h2>
    <p>Do not use this footer for transactional services.</p>
    <p>At the moment, we are only using it for the new NHS.UK website. We are considering how to use it on other NHS Digital sites and services on the NHS.UK domain including transactional journeys.</p>
    <p>If your service is not part of NHS.UK, get in touch on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a> or email <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    <h2 id="research">How not to use the footer</h2>
    <p>Avoid adding more links to the footer. Keep them to a minimum.</p>
    <p>Product owners can decide whether or not to use all the links in the example.</p>
    <p>If you have more information to add about how to use the footer, please let us know on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a> or email <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

    <h2 id="research">Research</h2>
    <p>Get in touch to <a href="/service-manual/contribute"> share your research findings</a> if you've used this pattern.</p>

    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/15">Discuss the footer on GitHub</a></p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>join the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a></li>
      <li>email <a href="mailto: service-manual@nhs.net">service-manual@nhs.net<a></li>
    </ul>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: January 2019</p>
    </div>

    {{ panel({
      "label": "Similar components",
      "HTML": "<ul>
                <li><a href='/service-manual/styles-components-patterns/header'>Header</a></li>
              </ul>"
    }) }}

  </div>
</div>
{% endblock %}
