{% set pageTitle = 'Header' %}
{% set pageDescription = 'Use the header to show users they are on an NHS service and help them get started in finding what they need.' %}

{% extends 'includes/layout.njk' %}

{% from 'header/macro.njk' import header %}
{% from 'panel/macro.njk' import panel %}
{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use the header to show users they are on an NHS service and help them get started in finding what they need.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 id="code-and-design">Code and design</h2>
    {{ designExample({
      type: 'header'
    }) }}
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="when-to-use-the-header">When to use the header</h2>
    <p>Use this header at the top of every page if your service is part of the new NHS.UK website.</p>
    <h2 id="when-not-to-use-the-header">When not to use the header</h2>
    <p>At the moment, we are only using the header for the new NHS.UK website. We are considering how to use it on other NHS Digital sites and services on the NHS.UK domain including transactional journeys.</p>

    <p>If your service is not part of NHS.UK, get in touch on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a> or email <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

    <h2 id="research">Research</h2>
    <p>Our research has shown that this header is clear and usable, and it expresses the NHS brand.</p>
    <p>Removing drop downs on larger screens, for example, has made it easier for people with motor skills problems or touchscreens.</p>
    <p>Get in touch to <a href="/service-manual/contribute">share your research findings</a> if you've used this pattern.</p>

    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/16">Discuss the header on GitHub</a></p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>join the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a></li>
      <li>email <a href="mailto: service-manual@nhs.net">service-manual@nhs.net</a></li>
    </ul>

    <div class="nhsuk-review-date">
     <p class="nhsuk-body-s">Updated: January 2019</p>
    </div>

    {{ panel({
    "label": "Similar components",
    "HTML": "<ul>
                <li><a href='/service-manual/styles-components-patterns/footer'>Footer</a></li>
            </ul>"
    }) }}

  </div>
</div>
{% endblock %}
