{% set pageTitle = 'Header' %}
{% set pageDescription = 'Design and code for the header component on the NHS website.' %}

{% extends 'includes/layout.njk' %}

{% from 'components/header/macro.njk' import header %}
{% from 'components/panel/macro.njk' import panel %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">The header shows users they are on an NHS service and helps them get started in finding what they need.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="code-and-design">Code and design</h2>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="example grey-background nhsuk-u-margin-bottom-4">
      {{ header({
          "showNav": "true",
          "showSearch": "true",
          "primaryLinks": [
            {
              "url"  : "https://www.nhs.uk/conditions",
              "label" : "Health A-Z"
            },
            {
              'url' : 'https://www.nhs.uk/live-well/',
              'label' : 'Live Well'
            },
            {
              'url'  : 'https://www.nhs.uk/conditions/social-care-and-support/',
              'label' : 'Care and support'
            },
            {
              'url'  : 'https://www.nhs.uk/news/',
              'label' : 'Health news'
            },
            {
              'url' : 'https://www.nhs.uk/service-search',
              'label' : 'Services near you'
            }
          ]
        })
      }}

    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-navigation.html">Preview the header with navigation component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/header">get the latest navigation component code</a> in the NHS.UK frontend library in GitHub.</p>
    <h2 id="when-to-use-the-header">When to use the header</h2>
    <p>Use this header at the top of every page if your service is part of the new NHS.UK website.</p>
    <h2 id="when-not-to-use-the-header">When to use the header</h2>
    <p>At the moment, we are only using the header for the new NHS.UK website. We are considering how to use it on other NHS Digital sites and services on the NHS.UK domain including transactional journeys.</p>
    <p>If your service is not part of NHS.UK, get in touch on the <a href="">NHS.UK #standards Slack channel</a> or email <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    <h2 id="how-to-use-the-header">How to use the header</h2>
    <p>For smaller viewports, for example on mobile devices, the search and navigation items are hidden and can be expanded by buttons, which need JavaScript to work. You can find the <a href="/styles-components-patterns/header#code-and-design">JavaScript code above</a>.</p>
    <p>For the search suggestions functionality, you need two JavaScript files:</p>
    <ul>
      <li><a href="https://nhsuk-redesign.azurewebsites.net/js/typeahead.bundle.min.js">typeahead.bundle.min.js</a></li>
      <li><a href="https://nhsuk-redesign.azurewebsites.net/js/nhs.typeahead.js">could have a significant effect on someone's health</a></li>
    </ul>
    <p>Both of these rely on the <a href="http://jquery.com/">jQuery</a> library which must also be included.</p>
    <h2 id="research">Research</h2>
    <p>Our research has shown that this header is clearer and more usable than the old NHS Choices header, and it expresses the NHS brand.</p>
    <p>Removing drop downs on larger screens, for example, has made it easier for people with motor skills problems or touchscreens.</p>
    <p>Get in touch to <a href="/contribute">share your research findings</a> if you've used this pattern.</p>
    <h2>Discuss</h2>
    <p>Discuss the header on the <a href="">NHS.UK #standards Slack channel</a> or email the standards team at <a href="">service-manual@nhs.net</a>.</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: <time>December 2018</time></p>
    </div>
    {{ panel({
    "label": "Similar patterns",
    "HTML": "<ul>
                <li><a href='/styles-components-patterns/footer'>Footer</a></li>
            </ul>"
    }) }}
  </div>
</div>
{% endblock %}
