{% extends 'includes/layout.njk' %}

{% from 'components/review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Icons</h1>
    <p class="nhsuk-body-l">Icons can help users identify, understand and navigate content more quickly.</p>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">We use a small set of icons that we know our users need and understand. They fit together as a set.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 >Code and design</h2>
    <table>
      <thead>
        <tr>
          <th>Icon</th>
          <th>Label</th>
          <th>Code in GitHub</th>
          <th>Used in</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://nhsservicemanual-production.s3.amazonaws.com/images/icon-search-blue.original.original.png" alt="icon search"></td>
          <td>Search</td>
          <td><a target="_blank" href="https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/assets/icons/icon-search.svg">icon-search.svg</a></td>
          <td><a href="https://nhs-service-manual-alpha.staging.torchbox.com/service-manual/patterns/header/" title="Header">Header</a></td>
        </tr>
        <tr>
          <td><img src="https://nhsservicemanual-production.s3.amazonaws.com/images/icon-chevron-right.original.original.png" alt="Icon chevron right&quot;"></td>
          <td>Chevron right</td>
          <td><a target="_blank" href="https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/assets/icons/icon-chevron-right.svg">icon-chevron-right.svg</a></td>
          <td>Mobile menu</td>
        </tr>
        <tr>
          <td><img src="https://nhsservicemanual-production.s3.amazonaws.com/images/icon-close_PAJ9jM2.original.original.png" alt="Icon close&quot;"></td>
          <td>Close</td>
          <td><a target="_blank" href="https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/assets/icons/icon-close.svg">icon-close.svg</a></td>
          <td>Mobile menu</td>
        </tr>
        <tr>
          <td><img src="https://nhsservicemanual-production.s3.amazonaws.com/images/icon-cross.original.original.png" alt="Icon cross&quot;"></td>
          <td>Cross (don't)</td>
          <td><a target="_blank" href="https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/assets/icons/icon-cross.svg">icon-cross.svg</a></td>
          <td><a href="https://nhs-service-manual-alpha.staging.torchbox.com/service-manual/patterns/do-and-dont-lists/" title="Do and Don" t="" lists'="">Do and Don't lists</a></td>
        </tr>
        <tr>
          <td><img src="https://nhsservicemanual-production.s3.amazonaws.com/images/icon-tick.original.original.png" alt="Icon tick&quot;"></td>
          <td>Tick (do)</td>
          <td><a target="_blank" href="https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/assets/icons/icon-tick.svg">icon-tick.svg</a></td>
          <td><a href="https://nhs-service-manual-alpha.staging.torchbox.com/service-manual/patterns/do-and-dont-lists/" title="Do and Don" t="" lists'="">Do and Don't lists</a></td>
        </tr>
        <tr>
          <td><img src="https://nhsservicemanual-production.s3.amazonaws.com/images/icon-arrow-right.original.original.png" alt="Icon arrow right&quot;"></td>
          <td>Arrow right circle</td>
          <td><a target="_blank" href="https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/assets/icons/icon-arrow-right-circle.svg">icon-arrow-right-circle.svg</a></td>
          <td>Action links</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/assets/icons">get the latest icon codes</a> in the NHS.UK frontend library in GitHub.</p>
    <h2 id="how-to-use-these-icons">How to use these icons</h2>
    <p>Use icons sparingly, and not for decoration.</p>
    <h3>Using text with icons</h3>
    <p>Some of our icons can be used on their own. Users recognise them easily. They include:</p>
    <ul>
      <li>search</li>
      <li>chevron right</li>
      <li>plus and minus (for reveals)</li>
      <li>close</li>
    </ul>
    <p>Other icons needs an explanation. They include:</p>
    <ul>
      <li>action links - tell the user what the link will help them do, for example: "Find a pharmacy"</li>
      <li>right and left arrows for pagination - add "Previous" or "Next"</li>
      <li>cross and tick - use the words Do and Don't at the top of <a href="/service-manual/patterns/do-and-dont-lists/">Do and Don't lists</a></li>
    </ul>
    <h3>Using SVG classes for icons</h3>
    <p>We use scalable vector graphics (SVG) for icons, rather than images such as PNG. SVG are code snippets that you can drop directly into the HTML.</p>
    <p>SVG icons are sharp, flexible, and load quickly - and you can control how they appear, for example their colour, with style sheets (CSS).</p><p>If you're using a server side or templating language, you can include the icons with <code>include 'partials/icons/icon-search.svg'</code>.</p>
    <p>SVG icons have the class <code>.nhsuk-icon</code>, which sets a default size for the icon. Each icon also has a specific class, such as <code>.nhsuk-icon__search</code>. The specific class allows you to modify the icon with styles, such as fill. This means you can change the colour of the SVG for states such as hover, focus and active. (We will be specifying these colours for each icon soon.)</p>
    <p>Some older browsers like Internet Explorer 8 can't display SVG. So every SVG icon has a PNG fallback. The fallback images have a class, such as <code>.nhsuk-icon__search—fallback</code>, which you can use to modify their sizing and spacing.</p>
    <h3>Accessibility</h3>
    <p>SVG icons must be accessible. For example, they need to meet accessible colour contrast standards. Our recommended tool to test colour combinations is the <a href="https://webaim.org/resources/contrastchecker/">WebAIM contrast checker</a>. Read more about <a href="https://css-tricks.com/accessible-svgs/">accessible SVGs on CSS Tricks website</a>.</p>
    <p>SVG icons don't need alt text but we are considering using hidden text (aria labels) to announce icons for screen reader users. If you have any research or experience to share, please get in touch on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a> or email us at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    <h2 id="research">Research</h2>
    <p>These icons seem to be universally recognisable. When we tested them, we found that people understood them. We tested them in context - not on their own, but in components on a full page.</p>
    <p>Get in touch to <a href="https://nhs-service-manual-alpha.staging.torchbox.com/contribute/">share your research findings</a> if you've used these icons or want to explore other icons.</p>
    <p>Read more about the benefits of SVG icons:</p>
    <ul>
      <li><a href="https://css-tricks.com/pretty-good-svg-icon-system/">CSS Tricks - a pretty good SVG icon system</a></li>
      <li><a href="https://nhsuk-redesign.azurewebsites.net/styles/icons">CSS Tricks - a complete guide to SVG fallbacks</a></li>
    </ul>
    <h2>Discuss</h2>
    <p>Discuss warning callouts on the <a href="">NHS.UK #standards Slack channel</a> or email the standards team at <a href="">service-manual@nhs.net</a>.</p>
    {{ reviewDate({
      "lastReview": "January 2019."
    }) }}
  </div>
</div>
{% endblock %}
