{% set pageTitle = 'UI styles, components and patterns' %}
{% set pageDescription = 'Look and feel and design components and patterns that solve common problems.' %}
{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">UI styles, components and patterns</h1>
    <p class="nhsuk-body-l">Make your service look like the NHS website with tested design styles, components and patterns.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>UI styles</h2>
    <p>These styles will give you the NHS website layout and look and feel.</p>
    <ul class="nhsuk-list">
      <li><a href="/service-manual/styles-components-patterns/colour">Colour</a></li>
      <li><a href="/service-manual/styles-components-patterns/layout">Layout</a></li>
      <li><a href="/service-manual/styles-components-patterns/icons">Icons</a></li>
      <li><a href="/service-manual/styles-components-patterns/spacing">Spacing</a></li>
      <li><a href="/service-manual/styles-components-patterns/typography">Typography</a></li>
    </ul>
    <h2>Components</h2>
    <p>Save time and help users with these accessible UI parts.</p>
    <ul class="nhsuk-list">
      <li><a href="/service-manual/styles-components-patterns/action-link">Action link</a></li>
      <li><a href="/service-manual/styles-components-patterns/back-link">Back link</a></li>
      <li><a href="/service-manual/styles-components-patterns/breadcrumbs">Breadcrumbs</a></li>
      <li><a href="/service-manual/styles-components-patterns/buttons">Buttons</a></li>
      <li><a href="/service-manual/styles-components-patterns/care-cards">Care cards</a></li>
      <li><a href="/service-manual/styles-components-patterns/checkboxes">Checkboxes</a></li>
      <li><a href="/service-manual/styles-components-patterns/contents-list">Contents list</a></li>
      <li><a href="/service-manual/styles-components-patterns/date-input">Date input</a></li>
      <li><a href='/service-manual/styles-components-patterns/details'>Details</a></li>
      <li><a href="/service-manual/styles-components-patterns/do-and-dont-list">Do and Don't lists</a></li>
      <li><a href="/service-manual/styles-components-patterns/error-message">Error message</a></li>
      <li><a href="/service-manual/styles-components-patterns/error-summary">Error summary</a></li>
      <li><a href='/service-manual/styles-components-patterns/expander'>Expander</a></li>
      <li><a href="/service-manual/styles-components-patterns/fieldset">Fieldset</a></li>
      <li><a href="/service-manual/styles-components-patterns/footer">Footer</a></li>
      <li><a href="/service-manual/styles-components-patterns/header">Header</a></li>
      <li><a href="/service-manual/styles-components-patterns/hint-text">Hint text</a></li>
      <li><a href='/service-manual/styles-components-patterns/images'>Images</a></li>
      <li><a href="/service-manual/styles-components-patterns/inset-text">Inset text</a></li>
      <li><a href="/service-manual/styles-components-patterns/pagination">Pagination</a></li>
      <li><a href='/service-manual/styles-components-patterns/radios'>Radios</a></li>
      <li><a href='/service-manual/styles-components-patterns/review-date'>Review date</a></li>
      <li><a href='/service-manual/styles-components-patterns/select'>Select</a></li>
      <li><a href='/service-manual/styles-components-patterns/skip-link'>Skip link</a></li>
      <li><a href='/service-manual/styles-components-patterns/table'>Table</a></li>
      <li><a href='/service-manual/styles-components-patterns/text-input'>Text input</a></li>
      <li><a href='/service-manual/styles-components-patterns/textarea'>Textarea</a></li>
      <li><a href="/service-manual/styles-components-patterns/warning-callout">Warning callout</a></li>
    </ul>
    <h2>Patterns</h2>
    <p>You can combine components in different patterns for different contexts. We’re still working on patterns and will publish them here.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-u-margin-top-8">Contribute</h2>
    <p>You're welcome to adapt these components and patterns to create a new one. Check with us first on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS digital service manual Slack workspace</a> or email us at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>. We may already be working on what you need.</p>
    <p>Help improve the manual by contributing your work.</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: February 2019</p>
    </div>
  </div>
</div>
{% endblock %}
