{% set pageTitle = 'Ask users for their NHS number' %}
{% set pageSection = 'Styles, components and patterns' %}
{% set pageDescription = '' %}

{% extends 'includes/layout.njk' %}

{% from 'action-link/macro.njk' import actionLink %}
{% from 'panel/macro.njk' import panel %}
{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">{{pageDescription}}</p>
  </div>
</div>

  <p>There are 3 ways of asking users for their NHS number:</p>
  <ul>
      <li><a href=#single-text-input>single text input</a></li>
      <li><a href=#filter-question-before-single-text>filter question before input</a></li>
      <li><a href=#filter-question-before-input-with-3rd-option>filter question before input with 3rd option</a></li>
  </ul>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-u-margin-top-6">When to use the NHS number pattern</h2>
    <p>Follow this pattern whenever you need to ask for an NHS number.</p>

  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-u-margin-top-6">When not to use the NHS number pattern</h2>
    <p>Only ask for an NHS number if your service needs it or if the user is more likely to succeed on their journey if they can provide it.</p>
    <p>Users do not need to know their NHS number to receive care. This means that the NHS number is not a well-known identifier.</p>
    
  </div>
</div>




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
   <h2 id="single-text-input" class="nhsuk-u-margin-top-6">Single text input</h2>

    <div class="design-example">

  

   <div class="code-snippet">
      

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        
          
          <div class="code-snippet__preformatted " data-index="ex-1">
              <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend">
      What is your NHS number?
    </legend>

    <span class="nhsuk-hint">
  Your NHS number is a 10 digit number that you find on any letter sent to you by the NHS. For example, 458 777 3456
</span>

    <div class="nhsuk-form-group">
  <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
</div>
  </fieldset>

</div>
              
          </div>
        
      </div>
  </div>

</div>

   <p>Use a single text input by itself if the only way people can get the service is if they enter their NHS number.</p>
   <p>Use a single text input labelled either "what is your NHS number?" or "enter your NHS number".</p>
   <p><a href='/service-manual/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form#help-text'>Provide help text</a> to make sure users recognise their NHS number and know the correct details to enter.</p>
   <p>Provide guidance on where users can find their NHS number as soon as possible, preferably before the user has started the service as well as during the journey.</p>
   <p>It is recommended to always have an alternative way for users to continue with their journey.</p>

    </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

 <h2 id="filter-question-before-single-text" class="nhsuk-u-margin-top-6">Filter question before single text input</h2>

<div class="design-example">

  

  <div class="code-snippet">
      

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        
          
          <div class="code-snippet__preformatted " data-index="ex-1">
              <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend">
      Do you know your NHS number?
    </legend>

    <span class="nhsuk-hint" id="example-hint">
      Your NHS number is a 10 digit number, like 485 777 3456
    </span>
    <span class="nhsuk-hint" id="example-hint">
      You can find this on any letter sent to you by the NHS, on a prescription, or by logging in to a GP practice online service
    </span>

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes, I know my NHS number
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No, I do not know my NHS number
        </label>
      </div>
    </div>
        <button class="nhsuk-button nhsuk-button--reverse" type="submit">
         Continue
        </button>
  </fieldset>

</div>
              
          </div>
        
      </div>
  </div>

</div>


<div class="design-example">

  

  <div class="code-snippet">
      

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        
          
          <div class="code-snippet__preformatted " data-index="ex-1">
              <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend">
      What is your NHS number?
    </legend>

    <span class="nhsuk-hint">
  Your NHS number is a 10 digit number, for example 485 777 3456
</span>

    <div class="nhsuk-form-group">
  <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
</div>
  </fieldset>

</div>
              
          </div>
        
      </div>
  </div>

</div>

<p>Use a question before a single text input if:</p>
<ul>
    <li>there is another way for users to continue without an NHS number.</li>
    <li>the NHS number route is likely to be more successful for the user.</li>
</ul>

<p>Use a 2-option radio button that asks the user if they know their NHS number. If they do, route them to a page that asks for their NHS number. If they do not, route them to a page that asks for alternative details, for example, a combination of other personal details like a user's postcode and date of birth.</p>
<p>Provide help text on both NHS number route pages to help them find their NHS number and confirm they have the right format.</p>

  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

<h2 id="filter-question-before-input-with-3rd-option" class="nhsuk-u-margin-top-6">Filter question before input with 3rd option</h2>


<div class="design-example">

  

  <div class="code-snippet">
      

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        
          
          <div class="code-snippet__preformatted " data-index="ex-1">
              <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend">
      Do you know your NHS number?
    </legend>

    <span class="nhsuk-hint" id="example-hint">
      Your NHS number is a 10 digit number, like 485 777 3456
    </span>
    <span class="nhsuk-hint" id="example-hint">
      You can find this on any letter sent to you by the NHS, on a prescription, or by logging in to a GP practice online service
    </span>

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes, I know my NHS number
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No, I do not know my NHS number
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="uncertain">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          I'm unsure
        </label>
      </div>
    </div>
        <button class="nhsuk-button nhsuk-button--reverse" type="submit">
         Continue
        </button>
  </fieldset>

</div>
              
          </div>
        
      </div>
  </div>

</div>


<p>You may want to provide extra help for users who are unsure where to find their NHS number.</p>
<p>You can give users an "other" example that provides extra information about their NHS number and where to find it.</p>
<p>Our research showed a 3rd option is often useful in discovery and alpha stages, but less used after this.</p>

  </div>
</div>















  

   


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-u-margin-top-6">How to use the NHS number pattern</h2>
    <p>When asking for an NHS number:</p>
    <ul>
        <li>use a text input that allows for spaces and other characters between numbers. Some users will copy the format the NHS number is printed in (3-3-4) and include spaces.</li>
        <li>give clear guidance on what an NHS number looks like</li>
        <li>allow at least 12 characters in your NHS number input</li>
        <li class="rich-text">add the <code>inputmode='numeric'</code> attribute to your input to provide mobile users with a numeric keyboard on iOS devices and mobile Chrome</li>
        <li>validate the NHS number by using a modulus 11 algorithm to check if the number is valid</li>
    </ul>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h3>Give users clear guidance where they can find their NHS number</h3>
    <p>Users are more likely to be successful in their journey the earlier you mention that they need an NHS number, along with where to find it.</p>
    <p>Provide guidance where to find it before the user starts the service, as well as within the service itself.</p>
    <p>For example:</p>


    <details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How to find your NHS number
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
    <p>You can find your NHS number by logging in to a GP online service or on any document sent to you by the NHS, such as your:</p>
    <ul>
        <li>prescriptions</li>
        <li>test results</li>
        <li>hospital referral letters</li>
        <li>appointment letters</li>
    </ul>
    <p>Ask your GP surgery for help if you can't find your NHS number.</p>
  </div>
</details>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h3>Use the correct NHS number format</h3>
    <p>Write the NHS number as 3 groups of numbers, with a single space between them, like this: 485 777 3456.</p>
    <p>Keep the NHS number on 1 line - do not allow it to break over 2 lines.</p>
    <p>Read more about how to format the NHS number in <a href='/service-manual/content/a-to-z-of-NHS-health-writing'>the A to Z of NHS health writing</a>.</p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h3>Write clear error messages</h3>
    <p>Make sure you use <a href='/service-manual/styles-components-patterns/error-summary'>error summaries</a> and clear <a href='/service-manual/styles-components-patterns/error-message'>error messages</a> when you ask users for their NHS number.</p>


<div class="design-example">

  

  <div class="code-snippet">
      

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        
          
          <div class="code-snippet__preformatted " data-index="ex-1">
              <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend">
      What is your NHS number?
    </legend>

    <span class="nhsuk-hint">
  Your NHS number is a 10 digit number that you find on any letter sent to you by the NHS. For example, 458 777 3456
</span>

    <span class="nhsuk-error-message">
    <span class="nhsuk-u-visually-hidden">Error:</span> Your NHS number is too long
    </span>

    <div class="nhsuk-form-group">
  <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
</div>
  </fieldset>

</div>
              
          </div>
        
      </div>
  </div>

</div>


    <p>You should tell users if:</p>
    <ul>
        <li>they have included letters</li>
        <li>they have submitted a number that is too short or too long (not including spaces)</li>
    </ul>
    <p>You should check:</p>
    <ul>
        <li>if the user has submitted a National Insurance number and tell them if they have</li>
        <li>their NHS number is valid against a modulus 11 algorithm</li>
    </ul>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-u-margin-top-8">Research</h2>
    <p>Our research showed that:</p>
    <ul>
        <li>users did not always know what their NHS number looked like</li>
        <li>users did not know where they could find their NHS number</li>
        <li>some users thought they were being asked for their National Insurance number</li>
        <li>telling users where to find their NHS number before and after starting the service, and as early as possible, meant users were more successful</li>
        <li>users with accessibility issues were more likely to know their NHS number.</li>
    </ul>

  </div>
</div>
    


    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/109">Discuss NHS number pattern on GitHub</a></p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>join the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE">NHS.UK service manual Slack workspace</a></li>
      <li>email <a href="mailto: service-manual@nhs.net">service-manual@nhs.net</a></li>
    </ul>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: October 2019</p>
    </div>
    {{ panel({
    "label": "Similar components",
    "HTML": "<ul>
              <li><a href='/service-manual/styles-components-patterns/error-message'>Error messages</a></li>
              <li><a href='/service-manual/styles-components-patterns/radios'>Radios</a></li>
              <li><a href='/service-manual/styles-components-patterns/text-input'>Text input</a></li>
              <li><a href='/service-manual/styles-components-patterns/hint-text'>Hint text</a></li>
            </ul>"
    }) }}
    </div>
  </div>
{% endblock %}
