{% extends 'includes/layout.njk' %}

{% from 'components/select/macro.njk' import select %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% from 'components/panel/macro.njk' import panel %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Select</h1>
    <!--<p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Placeholder intro text, to be updated.</p>-->
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 >Code and design</h2>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="example grey-background nhsuk-u-margin-bottom-4">
      {{ select({
      "id": "select-1",
      "name": "select-1",
      "label": {
          "text": "Label text goes here"
      },
      "items": [
          {
          "value": 1,
          "text": "NHS.UK frontend option 1"
          },
          {
          "value": 2,
          "text": "NHS.UK frontend option 2",
          "selected": true
          },
          {
          "value": 3,
          "text": "NHS.UK frontend option 3",
          "disabled": true
          }
      ]
      }) }}
    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/select/index.html">Preview the select component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/select">get the latest select component code</a> in the NHS.UK frontend library in GitHub.</p>
    <h2 id="when-to-use-this-component">When to use select</h2>
    <p><a href="https://design-system.service.gov.uk/components/select/">GOV.UK Design System suggest </a> that the select component should only be used as a last resort in public-facing services because research shows that some users find selects very difficult to use.</p>
    <h2 id="how-it-works">How select works</h2>
    <p>The select component allows users to choose an option from a long list. Before using the select component, try asking users questions which will allow you to present them with fewer options.</p>
    <p>Asking questions means you’re less likely to need to use the select component, and can consider using a different solution, such as <a href="/patterns/radios">radios</a>.</p>
    <h2>Research</h2>
    <p>Watch a video about how some <a href="https://www.youtube.com/watch?v=CUkMCQR4TpY">users struggle with selects</a>.</p>
    <h2>Discuss</h2>
    <p>Discuss action links on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    {{ reviewDate({
      "lastReview": "January 2019."
    }) }}
    {{ panel({
    "label": "Similar patterns",
    "HTML": "<ul>
                <li></li>
            </ul>"
    }) }}
  </div>
</div>
{% endblock %}
