{% extends 'includes/layout.njk' %}

{% from 'components/skip-link/macro.njk' import skipLink %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% from 'components/panel/macro.njk' import panel %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Skip link</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use the skip link component to help keyboard-only users skip to the main content on a page.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 >Code and design</h2>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="example nhsuk-u-margin-bottom-4">
      <p>To view the skip link component tab to this example, or click inside this example and press tab.</p>
      {{ skipLink({
      "href": "#maincontent",
      "text": "Skip to main content"
      }) }}
    </div>
  <div class="nhsuk-grid-column-two-thirds">
    <p><a href="https://nhsuk.github.io/nhsuk-frontend/components/skip-link.html">Preview the skip link component</a></p>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/skip-link">get the latest skip link code</a> in the NHS.UK frontend library in GitHub.</p>
    <h2>When to use skip link </h2>
    <p>All NHS.UK pages must include a skip link in the header <a href="https://design-system.service.gov.uk/components/skip-link/">following GOV.UK Design System guidance</a>.</p>
    <h2 id="how-it-works">How it works</h2>
    <p>Some people use the tab key on their keyboard to navigate through the links and form elements on a web page.</p>
    <p>Including the skip link component gives users the option to bypass the top-level navigation links and jump to the main content on a page.</p>
    <p>The skip link component is visually hidden until a keyboard press activates it.</p>
    <h2>Research</h2>
    <p>If you’ve used this component, get in touch to share your user research findings.</p>
    <h2>Discuss</h2>
    <p>Discuss action links on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>
    {{ reviewDate({
      "lastReview": "January 2019."
    }) }}
    {{ panel({
    "label": "Similar patterns",
    "HTML": "<ul>
                <li></li>
            </ul>"
    }) }}
  </div>
</div>
{% endblock %}
