{% set pageTitle = 'Start page' %}
{% set pageSection = 'Styles, components and patterns' %}
{% set pageDescription = 'Use the start page to introduce and explain your service to users.' %}

{% extends 'includes/layout.njk' %}

{% from 'pagination/macro.njk' import pagination %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'panel/macro.njk' import panel %}

{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use the start page to introduce and explain your service to users.</p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ designExample({
      type: 'start-page'
    }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 id="when-to-use-this-pattern">When to use a start page</h2>

    <p>Use a start page to introduce your service.</p>

    <p>It helps users understand:</p>
    <ul>
    <li>who the service is for</li>
    <li>what the service helps them do</li>
    <li>what they need to do to use it</li>
    <li>whether there are alternative ways to do it</li>
    </ul>

    <h2>How to use a start page</h2>

    <p>Say what the form does in your users' words.</p>

    <p>Set expectations. For example:</p>
    <ul>
      <li>tell users what they need in order to fill the form in. Do they need any identity details, such as their NHS number?</li>
      <li>if you're going to let them check their answers at the end, for example with a <a href="https://design-system.service.gov.uk/components/summary-list/">summary list pattern like the GOV.UK one</a>, tell them early on</li>
    </ul>

    <p>Rather than explaining eligibility criteria, it's often better to check eligibility as part of the form. See the <a href="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/">Check a service is suitable pattern on the GOV.UK design system</a>.</p>

    <h3>Be careful with start pages</h3>
    <p>People usually want to get to the questions quickly. They often ignore text on this page.</p>

    <p>If you have any introductory content:</p>
    <ul>
      <li>keep it brief</li>
      <li>make it easy for users to scan, select and move on</li>
      <li>use headings to break up your content - users may at least read the headings</li>
      <li>consider instead giving users help where they need it (read about <a href="/service-manual/content/how-to-write-good-questions-for-forms/7-write-the-supporting-content-for-your-form#help-text">contextual help in our guidance on writing good questions for forms</a>)</li>
    </ul>

    <h2>Research</h2>
    <p>Our start page is based on the pattern in the <a href="https://design-system.service.gov.uk/patterns/start-pages/">GOV.UK design system</a>.</p>
    <p>User research has shown that users often miss any information under the Start button.</p>

    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/169">Discuss the Start page pattern on GitHub</a>.</p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>Join us on <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">the service manual Slack workspace</a></li>
      <li>or email us at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a></li>
     </ul>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: October 2019</p>
    </div>

  </div>
</div>
{% endblock %}
