{% set pageTitle = 'Start page' %}
{% set pageSection = 'Styles, components and patterns' %}
{% set pageDescription = 'Use the start page to introduce and explain your service to users.' %}

{% extends 'includes/layout.njk' %}

{% from 'pagination/macro.njk' import pagination %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'panel/macro.njk' import panel %}

{% from 'includes/design-example.njk' import designExample %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/styles-components-patterns",
  text: "Styles, components and patterns"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Use the start page to introduce and explain your service to users.</p>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ designExample({
      type: 'start-page'
    }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 id="when-to-use-this-pattern">When to use a start page</h2>

    <p>Use a start page to introduce and briefly explain your service.</p>

    <h2 id="how-to-use-a-start-page">How to use a start page</h2>
    <p>Help users understand:</p>
    <ul>
    <li>who the service is for</li>
    <li>what the service will help them do - explain it in their words</li>
    <li>what they need to do to use the service and any details they need to have, such as their NHS number</li>
    <li>whether there are alternative ways to get the service</li>
    </ul>
    <h3>Set expectations</h3>
    <p>Explain how long it will take users to fill in the form and to get the service.</p>
    <p>Tell them if they'll be able to check their answers at the end, for example with a <a href="https://design-system.service.gov.uk/components/summary-list/">summary list pattern</a> like one in the the GOV.UK Design System. </p>

    <h3>Let users know if they are eligible</h3>
    <p>If you have simple eligibility criteria, explain them here. Or check eligibility as part of the form (especially if you have complicated requirements) with the GOV.UK <a href="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/">Check a service is suitable</a> pattern.</p>
    <p>What about the users who don't meet the requirements? Can you help them?</p>

    <h3>Avoid putting content under the start button</h3>
    <p>Research has shown than people often miss information under the start button.</p>

    <p>If you have any introductory content:</p>
    <ul>
      <li>keep it brief - and, if possible, above the button</li>
      <li>use headings to break up your content - users may at least read the headings</li>
      <li>make it easy for users to scan, select and move on</li>
    </ul>
    <p>Instead of putting content on the start page, give users help where they need it. Read about <a href="/service-manual/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form#help-text">giving users contextual help</a> in our guidance on writing good questions for forms.</p>


    <h2>Research</h2>
    <p>Our start page is based on the pattern in the <a href="https://design-system.service.gov.uk/patterns/start-pages/">GOV.UK Design System</a>.</p>
    <p>User research has shown that users often miss any information under the start button.</p>

    <h2>Discuss</h2>
    <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/169">Discuss the start page pattern on GitHub</a>.</p>

    <h2>Get in touch</h2>
    <p>If you have a question:</p>
    <ul>
      <li>Join us on <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">the service manual Slack workspace</a></li>
      <li>or email us at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a></li>
     </ul>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: October 2019</p>
    </div>

  </div>
</div>
{% endblock %}
