{% set pageTitle = 'Core styles' %}
{% set pageSection = 'Core styles' %}
{% set pageDescription = 'Make your service look and feel like NHS.UK.' %}
{% set contributors = 'False' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-page-template.njk' %}

{% block mainContent %}

  <p>If you are using the <a href="#">NHS.UK Prototype Kit</a> or have <a href="#">NHS.UK Frontend</a> included in your build, the coded examples in the service manual will not need any additional styling.</p>

{% endblock %}
