{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Search input" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use a search input to help users find something specific by entering a word, phrase or characters." %}
{% set theme = "Form elements" %}
{% set dateUpdated = "May 2026" %}
{% set backlog_issue_id = "587" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {{ designExample({
    group: "components",
    item: "search-input",
    type: "default"
  }) }}

  <h2>When to use search input</h2>
  <p>Use a search input when users need to find something specific quickly by entering a word, phrase or characters.</p>
  <p>Search can be enabled in the <a href="/design-system/components/header">header component</a>. Use this to provide a global search.</p>

  <h2>When not to use search input</h2>
  <p>Do not rely on search in place of well structured information architecture and <a href="/design-system/components/header#navigation">navigation</a>.</p>

  <h2>How to use search input</h2>
  <p>If searching by a unique identifier, for example an NHS number, or users have an expectation that they may find one specific thing, users should be taken directly to the matching result's page. If the search does not return a single result, users should be presented with a results page.</p>
  {{ designExample({
    group: "components",
    item: "search-input",
    type: "nhs-number"
  }) }}

  <p>Once a character has been typed and the input is focussed or hovered, an icon button appears allowing users to clear the input and start a new search.</p>
  <p>The search button can include a text label, for example "Find".</p>
  <p>Depending on the hierarchy of the page, the search input can use a secondary button.</p>
  {{ designExample({
    group: "components",
    item: "search-input",
    type: "secondary-button"
  }) }}

  <p>The search input can be large, depending on the context of the page. For example, a dedicated search page may want a large input.</p>
  {{ designExample({
    group: "components",
    item: "search-input",
    type: "large"
  }) }}

{% endblock %}
