{% from "tag/macro.njk" import tag %}
{% from "tables/macro.njk" import table %}

{{ table({
  head: [
    {
      text: "Class name"
    },
    {
      text: "Tag"
    }
  ],
  rows: [
    [
      {
        html: "<code>nhsuk-tag--white</code>"
      },
      {
        html: tag({
          text: "In progress",
          colour: "white"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--grey</code>"
      },
      {
        html: tag({
          text: "Inactive",
          colour: "grey"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--green</code>"
      },
      {
        html: tag({
          text: "New",
          colour: "green"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--blue</code>"
      },
      {
        html: tag({
          text: "Active",
          colour: "blue"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--aqua-green</code>"
      },
      {
        html: tag({
          text: "Pending",
          colour: "aqua-green"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--purple</code>"
      },
      {
        html: tag({
          text: "Received",
          colour: "purple"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--pink</code>"
      },
      {
        html: tag({
          text: "Sent",
          colour: "pink"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--red</code>"
      },
      {
        html: tag({
          text: "Rejected",
          colour: "red"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--orange</code>"
      },
      {
        html: tag({
          text: "Declined",
          colour: "orange"
        })
      }
    ],
    [
      {
        html: "<code>nhsuk-tag--yellow</code>"
      },
      {
        html: tag({
          text: "Delayed",
          colour: "yellow"
        })
      }
    ]
  ]
}) }}
