{% from "details/macro.njk" import details %}

{% call details({
  summaryText: "Get your medical records",
  classes: "nhsuk-expander"
}) %}
  <p>You can see your GP records by:</p>
  <ul>
    <li>asking for them at your GP surgery </li>
    <li>going online to see them (if you have signed up for <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">GP online services</a>) </li>
  </ul>
{% endcall %}
