{% from 'radios/macro.njk' import radios %}

{{ radios({
  idPrefix: "example-divider",
  name: "example-divider",
  fieldset: {
    legend: {
      text: "Have you had all the vaccinations you're eligible for in the UK?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  hint: {
    text: 'You would have got these vaccinations at school, from your GP surgery or another healthcare provider'
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      divider: "or"
    },
    {
      value: "unknown",
      text: "I do not know"
    }
  ]
}) }}


