{% from "checkboxes/macro.njk" import checkboxes %}

{{ checkboxes({
  idPrefix: "example-inline",
  name: "exampleInline",
  inline: true,
  fieldset: {
    legend: {
      text: "Which nipple has changed?",
      size: "l",
      isPageHeading: true
    }
  },
  items: [
    {
      value: "right",
      text: "Right nipple"
    },
    {
      value: "left",
      text: "Left nipple"
    }
  ]
}) }}