{% set pageTitle = 'Use Yes No questions, but be careful'%}
{% set pageSection = 'How to write good questions' %}
{% set pageDescription = 'Filter (or branching) questions, including Yes No questions, help you route users to the questions that apply to them.' %}

{% extends 'includes/layout.njk' %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'radios/macro.njk' import radios %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    },
    {
      href: "/service-manual/content",
      text: "Content style guide"
    }
  ],
    href: "/service-manual/content/how-to-write-good-questions",
    text: "How to write good questions"

  }) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
     <h1>
      <span class="nhsuk-caption-l">
        {{pageSection}}
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      {{pageTitle}}
    </h1>

    {% include 'content/how-to-write-good-questions/write-good-questions-nav.njk' %}

    <h2>What are filter questions?</h2>

    <p>{{pageDescription}}</p>

    <img class="nhsuk-image__img nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7" src="/service-manual/assets/binary-question-long.png" alt="">

    <p>Filter questions ask a short question first - often a Yes No question like this, with <a href="/service-manual/styles-components-patterns/radios">radios</a>.<p>

    <div class="app-example nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7">
      <strong class="nhsuk-tag nhsuk-tag--dark-grey app-example__heading">Example</strong>
      {{ radios({
        "idPrefix": "example",
        "name": "example",
        "fieldset": {
          "legend": {
            "text": "Do you live with a partner?",
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
      }) }}
    </div>

    <p>Filter questions let you:</p>
    <ul>
      <li>get people to the questions that apply to them - use them early on</li>
      <li>avoid optional questions, because users only answer the questions that apply to them</li>
      <li>simplify long questions - sometimes an extra question will improve users' experience</li>
    </ul>
    <p>If you are offering people different routes, explain upfront any information they will need to have to hand so that they can make an informed choice. For example: "If you do this, you will need [whatever]." There is more information to help you do this in <a href="/service-manual/content/how-to-write-good-questions/7-write-the-supporting-content-for-your-form">Write the supporting content for your form</a>.</p>
    <p>You may not need to collect answers to filter questions.</p>
    <p>Filter questions are useful but there are some things to bear in mind, especially with Yes No questions.</p>

    <h2>Ask 1 question at a time</h2>
    <p>Make sure you're asking 1 question at a time - not 2 questions in 1 (sometimes called "double-barrelled" questions).</p>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Examples
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Here's an example of 2 questions in 1: “If you have an email address, can we contact you about research?”</p>
        <p>Here's an example of 3 questions in 1: "If this questionnaire has highlighted any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?"</p>
      </div>
    </details>

    <h2>Beware binary choices</h2>
    <p>There are often more options than you think. For example, instead of asking "Do you know your NHS number?" with a Yes No answer, it might be better to word it: "Can you find your NHS number?"</p>
    <p>And the answers might be:</p>
    <ul>
      <li>Yes, I have my NHS number</li>
      <li>I can find my NHS number</li>
      <li>I have an NHS number, but I can't find it</li>
      <li>I don't think I have an NHS number</li>
      <li>I don't know</li>
    </ul>
    <p>Sometimes you can test this by leaving a space for people to type in.</p>

    <h2>Offer users options</h2>
    <p>Often Yes and No are all you need. This question offers 2 simple options.</p>

    <div class="app-example nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7">
      <strong class="nhsuk-tag nhsuk-tag--dark-grey app-example__heading">Example</strong>
      {{ radios({
        "idPrefix": "example",
        "name": "example",
        "fieldset": {
          "legend": {
            "text": "Have you changed your name?",
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
      }) }}
    </div>

    <p>But sometimes you need more than that. For example, in the NHS App, we have this question and 2 options.

    <div class="app-example nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7">
      <strong class="nhsuk-tag nhsuk-tag--dark-grey app-example__heading">Example</strong>
      {{ radios({
        "idPrefix": "example",
        "name": "example",
        "fieldset": {
          "legend": {
            "text": "Do you have all 3 registration details?",
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No, try another way"
          }
        ]
      }) }}
    </div>

    <p>We add the extra information to the No option to reassure users there is another way to sign up.</p>
    <p>Include options like "I don't know" or "I'm not sure".</p>
    <p>On the other hand, if people can't just answer "Yes" or "No", it may be a sign that you should reconsider your question. Or that you need to be clearer what "Yes" and "No" mean.</p>

    <h2>Be clear what "Yes" and "No" mean</h2>
    <p>Rather than simply offering "Yes" or "No" options, be clear, for example:</p>
    <ul>
      <li>"Yes, you can contact me by email about research"</li>
      <li>"No, do not contact me about research"</li>
    </ul>
    <p>In a simple Yes No question, "No" could also mean:<p>
    <ul>
      <li>"No, do not contact me by email"</li>
      <li>"No, do not contact me at all"</li>
    </ul>
    <p>What if the user wants to say: "I only want to know about x research"?</p>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: October 2019</p>
    </div>

    {% from 'pagination/macro.njk' import pagination %}

    {{ pagination({
      "previousUrl": "/service-manual/content/how-to-write-good-questions/3-consider-the-sensitivities-around-your-questions",
      "previousPage": "Consider the sensitivities around your questions",
      "nextUrl": "/service-manual/content/how-to-write-good-questions/5-get-the-questions-into-order",
      "nextPage": "Get the questions into order"
    }) }}

  </div>
</div>
{% endblock %}
