{% set pageTitle = 'How to write good questions' %}
{% set pageSection = 'Content style guide' %}
{% set pageDescription = 'Guidance for people working on forms, questionnaires and transactional services.' %}

{% extends 'includes/layout.njk' %}



{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/content",
  text: "Content style guide"
}) }}
{% endblock %}


{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">How to write good questions</h1>
    <p class="nhsuk-body-l">Guidance for NHS content designers and teams working on forms and transactional services. </p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  <p>This guidance will help you understand:</p>
  <ul>
    <li>which questions to include</li>
    <li>how to write them well</li>
    <li>how to write other content for your form or transaction, for example: introductions, instructions, help text, error messages and confirmation pages</li>
  </ul>

  <h2>In this guidance</h2>
    <ul class="nhsuk-list">
      <li><a href="/service-manual/content/how-to-write-good-questions/introduction-what-is-a-form">Introduction: what is a form?</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/1-start-with-discovery">1. Start with discovery</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/2-make-sure-you-need-each-question">2. Make sure you need each question</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/3-think-of-the-form-as-a-conversation">3. Think of the form as a conversation</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/4-get-the-questions-into-order">4. Get the questions into order</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/5-use-filter-questions-but-be-careful">5. Use filter questions, but be careful</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/6-write-the-supporting-content-for-your-form">6. Write the supporting content for your form</a></li>
      <li><a href="/service-manual/content/how-to-write-good-questions/7-test-your-questions">7. Test your questions</a></li>
    </ul>
      </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-u-margin-top-8">Community</h2>
    <p>A lot of people have helped us with this guidance.</p>
    <ul>
      <li>Caroline Jarrett, an expert in forms design, was our subject matter expert and the guidance reflects, for example, her 3 layers of a form model and her "Keep, Cut, Postpone, Explain" mantra.</li>
      <li>We've tested the guidance with a number of digital teams in the NHS and have learnt from their work.</li>
      <li>We've built on the GOV.UK service manual and the GDS design system.</li>
      <li>We've used Tourangeau, Rips and Rasinski's model of how people respond to survey questions.</li>
    </ul>
    <p>Please contribute and help us make the guidance better:</p>
    <ul>
      <li><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/145">Contribute to the guidance on writing good questions via GitHub</a></li>
      <li>Join us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">service manual Slack workspace</a></li>
      <li>Email us at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a></li>
  </ul>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: September 2019</p>
    </div>
  </div>
</div>
{% endblock %}
