{% set pageTitle = "Your topic in the wider IA" %}
{% set pageDescription = "How to consider your topic's IA within the wider IA." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Your topic in the wider IA</h2>
  <p>Remember our <a href="/ia-guidance/about-ia/ia-design-principles">IA design principles</a>:</p>
  <ul>
    <li>Topics rule</li>
    <li>Provide a strong information scent</li>
    <li>The Health A to Z is NHS.UK’s index</li>
    <li>Provide multiple routes to content</li>
  </ul>
  <p>Add your topic to the wider IA, based on the IA design principles:</p>
  <ul>
    <li>

{% endblock %}
