{% from "card/macro.njk" import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    {{ card({
      heading: {
        text: "5 steps to mental wellbeing",
        size: "m"
      },
      href: "#",
      clickable: true,
      description: "Practical advice to help you feel mentally and emotionally better"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    {{ card({
      heading: {
        text: "Healthy weight",
        size: "m"
      },
      clickable: true,
      href: "#",
      description: "Check your BMI using our healthy weight calculator and find out if you're a healthy weight"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    {{ card({
      heading: {
        text: "Exercise",
        size: "m"
      },
      href: "#",
      clickable: true,
      description: "Programmes, workouts and tips to get you moving and improve your fitness and wellbeing"
    }) }}
  </li>
</ul>
