{% from "card/macro.njk" import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    {{ card({
      href: "#",
      clickable: "true",
      heading: "5 steps to mental wellbeing",
      headingClasses: "nhsuk-heading-m",
      description: "Practical advice to help you feel mentally and emotionally better"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    {{ card({
      href: "#",
      clickable: "true",
      heading: "Healthy weight",
      headingClasses: "nhsuk-heading-m",
      description: "Check your BMI using our healthy weight calculator and find out if you're a healthy weight"
    }) }}
  </li>
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    {{ card({
      href: "#",
      clickable: "true",
      heading: "Exercise",
      headingClasses: "nhsuk-heading-m",
      description: "Programmes, workouts and tips to get you moving and improve your fitness and wellbeing"
    }) }}
  </li>
</ul>
