{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Page template" %}
{% set pageDescription = "Use this template to keep your pages consistent with other NHS services." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "200" %}

{% block beforeContent %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">

    <h2 class="app-side-nav__heading">Styles <span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a>
      <ul class="app-side-nav__list app-side-nav__list--nested">
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#page-title">Page title</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#default-page-template">Default page template</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#customised-page-template">Customised page template</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#changing-template-content">Changing template content</a></li>
      </ul>
    </li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/use-frutiger-font">Use the NHS Frutiger font</a></li>

  </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Page template updated in August 2025</h3>
    <p>See <a href="/design-system/guides/updating-to-v10#page-template">breaking code updates to page template in version 10</a></p>
  </div>

  <p>This page template combines boilerplate markup and <a href="/design-system/components">components</a> needed for a content page and a transactional page. This includes:</p>
  <ul>
    <li>JavaScript that adds a <code>.nhsuk-frontend-supported</code> class, which components with JavaScript behaviour need</li>
    <li>the <a href="/design-system/components/skip-link">skip link</a>, <a href="/design-system/components/header">header</a> and <a href="/design-system/components/footer">footer</a> components</li>
    <li>favicons, and other page metadata</li>
  </ul>

  <p>The examples we give show both HTML and Nunjucks.</p>

  <p>You can use the HTML examples if you are not able to use Nunjucks. If you use HTML you'll need to update it manually when new versions are released.</p>

  <h2 id="page-title">Page title</h2>

  <p>The page title (<code>&lt;title&gt;</code>) is in the HTML metadata, in the <code>&lt;head&gt;</code> section. It is displayed in the browser tab.</p>
  <p>A basic page title is made up of the main page heading (the <code>&lt;h1&gt;</code>) and the website name, separated by an en dash. For example: <code>&lt;title&gt;Flu – NHS&lt;/title&gt;</code>, which is the title for the <a href="https://www.nhs.uk/conditions/flu/">flu page on the NHS website</a>. Use a unique and informative title on every page.</p>

    <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
       More complex page titles
    </span>
  </summary>
    <div class="nhsuk-details__text">
  <p>A page title can have up to 4 elements separated by dashes. They are the:</p>
  <ul>
    <li><code>&lt;h1&gt;</code></li>
    <li>section name, if the service has more than 1 section</li>
    <li>service name</li>
    <li>website</li>
  </ul>
    <p>Examples from the NHS website include:</p>
    <ul>
      <li>Money, work, benefits and social care – Social care and support guide – NHS</li>
      <li>How old are you? – Calculate your heart age – NHS</li>
    </ul>
    <p>This is an example from HMRC:</br>
   Do you live in the UK? – Your details – Manage your tax credits – GOV.UK</p>
    <p>If the user makes an error, add "Error: " to the beginning of the title so screen readers read it out as soon as possible.</p>
    </div>

  </details>

  <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
       Personally identifiable information
    </span>
  </summary>
    <div class="nhsuk-details__text">
      <p>If there is personally identifiable information in the <code>&lt;h1&gt;</code>, for example, in a transactional journey, you must make sure it is not recorded in your analytics package.</p>
      <p>For example, if the <code>&lt;h1&gt;</code> is "What is Gordon's date of birth?", record "What is their date of birth?".</p>
      <p>To do this you could change the page title to use "their" but keep "Gordon" in the <code>&lt;h1&gt;</code>. Or you could keep "Gordon" in the page title and send a different page title to your analytics package.</p>
    </div>
  </details>

  <p>Find out more about writing good <a href="/content/formatting#headings">headings in the content guide</a>.</p>
  <p>See examples of <a href="/design-system/patterns/question-pages#page-headings">page headings with legends, labels and captions in the question pages pattern</a>.</p>

  <h2 id="default-page-template">Default page template</h2>

  <p>This example shows the minimum required for an NHS service.</p>

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "default"
  }) }}

  <h2 id="customised-page-template">Customised page template</h2>

  <p>You can customise the page template, for example, by <a href="/design-system/styles/layout">structuring your page layout</a>, using the <a href="/design-system/components/header#organisational-header">organisational header</a> or adding a block before the main container to include a <a href="/design-system/components/breadcrumbs">breadcrumbs</a> component.</p>

  <h3>Transactional page template</h3>

  <p>The transactional page template example uses the <a href="/design-system/components/header#NHS-transactional-service-header">transactional service header</a> and a <a href="/design-system/components/back-link">back link</a> component.</p>

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "transactional"
  }) }}

  <p>Vertical padding is reduced on transactional services using the <code>.nhsuk-main-wrapper--s</code> modifier class.
  We also recommend you use a smaller <code>{{ "<h1>" | escape }}</code> heading size using the <code>nhsuk-heading-l</code> modifier class.

  <h3>Content page template</h3>

  <p>The content page template example includes navigation and search in the <a href="/design-system/components/header">header</a> and a <a href="/design-system/components/back-link">breadcrumbs</a> component.</p>

  <p>We recommend you use a larger <code>{{ "<h1>" | escape }}</code> heading size using the <code>nhsuk-heading-xl</code> modifier class. Content pages may need more heading levels and the larger size makes the heading hierarchy clearer.

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "content"
  }) }}

  <h2 id="changing-template-content">Changing template content</h2>

  <p>If you’re using Nunjucks, you can change the template’s content using options.</p>
  <p>How you set an option depends on whether it’s a 'variable' option or a 'block' option.</p>
  <p>To set a 'variable' option, use <code>set</code> to pass in a single value or string. For example, to add a class to the <code>&lt;main&gt;</code> element using the <code>mainClasses</code> option:</p>

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "set-content",
    nunjucksOnly: true,
    showExample: false
  }) }}

  <p>To set a 'block' option, use <code>block</code> to pass in a multiline value or HTML markup. For example, to add a block of HTML before the closing element in the page template using the <code>bodyEnd</code> option:</p>

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "block",
    nunjucksOnly: true,
    showExample: false
  }) }}

  <p>To change the components that are included in the page template by default, set their equivalent blocks. For example:</p>

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "component",
    nunjucksOnly: true,
    showExample: false
  }) }}

  <h3 id="options">Options</h3>

  <table class="nhsuk-table nhsuk-table--full-width nhsuk-table-responsive">
    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Options that you can use with the page template</caption>
    <thead class="nhsuk-table__head" role="rowgroup">
      <tr class="nhsuk-table__row" role="row">
        <th class="nhsuk-table__header" role="columnheader" scope="col">Option name</th>
        <th class="nhsuk-table__header" role="columnheader" scope="col">Option type</th>
        <th class="nhsuk-table__header" role="columnheader" scope="col">Description</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>assetPath</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Path to <a href="https://github.com/nhsuk/nhsuk-frontend/tree/main/packages/nhsuk-frontend/src/nhsuk/assets">the NHS frontend assets</a> (icons and images).<br>
            Defaults to <code>/assets</code>.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>bodyAttributes</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add attributes to the <code>&lt;body&gt;</code> element. Add each attribute and its value in the <code>bodyAttributes</code> object.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>bodyClasses</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add a class to the <code>&lt;body&gt;</code> element.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>beforeContent</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add content that needs to appear within the  <code>&lt;div class="nhsuk-width-container"&gt;</code> container but outside the <code>&lt;main&gt;</code> element.
          <br>
          For example: the <a href="/design-system/components/breadcrumbs">breadcrumbs</a> component and the <a href="/design-system/components/back-link">back link</a>.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>bodyEnd</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add content just before the closing <code>&lt;/body&gt;</code> element.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>bodyStart</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add content after the opening <code>&lt;body&gt;</code> element.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>containerClasses</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add a class to the container. This is useful if you want to make the page wrapper a fixed width.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>content</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add content that needs to appear centered in the <code>&lt;main&gt;</code> element.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>footer</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the default <a href="/design-system/components/footer">footer</a> component.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>head</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add additional items inside the <code>&lt;head&gt;</code> element.
            <br>
            For example: <code>&lt;meta name="description" content="My page description"&gt;</code>
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>header</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the default <a href="/design-system/components/header">header</a> component.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>headIcons</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the default icons used for NHS.UK branded pages.
            <br>
            For example: <code>&lt;link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /&gt;</code>
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>htmlAttributes</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add attributes to the <code>&lt;html&gt;</code> element. Add each attribute and its value in the <code>htmlAttributes</code> object.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>htmlLang</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the default language of your page. Defaults is <code>en</code> for English.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>main</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the main section of the page, which by default wraps the <code>beforeContent</code> block, the <code>&lt;main&gt;</code> element,  and <code>content</code> block.
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>mainClasses</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Variable</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Add a class to the <code>&lt;main&gt;</code> element. </td>
          </span>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>pageTitle</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the default page title (<code>&lt;title&gt;</code> element).
          </span>
        </td>
      </tr>

      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option name </span>skipLink</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Option type </span>Block</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Description </span>
          <span>
            Override the default <a href="/design-system/components/skip-link">skip link</a> component.
          </span>
        </td>
      </tr>

    </tbody>
  </table>

  <h4 id="exploded-view-of-the-page-template-block-areas">Exploded view of the page template block areas</h4>

  {{ designExample({
    group: "styles",
    item: "page-template",
    type: "annotated",
    showCode: false
  }) }}

{% endblock %}
