{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/information-architecture",
      text: "Information architecture"
    }
  ],
  href: "/information-architecture/core-ia-process",
  text: "Core IA process",
  classes: "app-breadcrumb"
}) }}
