{% from "error-message/macro.njk" import errorMessage %}
{% from "date-input/macro.njk" import dateInput %}

{{ dateInput({
  id: "dob-day-error",
  namePrefix: "dob-day-error",
  fieldset: {
      legend: {
      text: "What is your date of birth?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
  },
  hint: {
      text: "For example, 31 3 1980"
  },
  errorMessage: {
      text: "Date of birth must be in the past"
  },
  items: [
      {
      name: "day",
      classes: "nhsuk-input--width-2 nhsuk-input--error",
      value: 15
      },
      {
      name: "month",
      classes: "nhsuk-input--width-2 nhsuk-input--error",
      value: 3
      },
      {
      name: "year",
      classes: "nhsuk-input--width-4 nhsuk-input--error",
      value: 2084
      }
  ]
  }) }}
