{% from "section-navigation/macro.njk" import sectionNavigation -%}

{{ sectionNavigation({
  items: [
    {
      href: "#",
      text: "Summary"
    },
    {
      href: "#",
      text: "Observations",
      current: true
    },
    {
      href: "#",
      text: "Medications"
    },
    {
      href: "#",
      text: "Referrals"
    }
  ]
}) }}
