{% from "input/macro.njk" import input %}

{{ input({
  label: {
    text: "What is your NHS number?",
    classes: "nhsuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Your NHS number is a 10 digit number that you find on any letter the NHS has sent you, for example, 485 777 3456"
  },
  id: "example-with-hint-text",
  name: "exampleWithHintText",
  classes: "nhsuk-input--width-10",
  inputmode: "numeric"
}) }}
