@import 'govuk/main';
@import 'code-embed';
@import 'code-snippet';

.design-example {
  $root: &;
  position: relative;
  width: 100%;

  &__pop-out {
    @include nhsuk-font(14);
    background-color: $color_nhsuk-white;
    color: $color_nhsuk-blue;
    left: 1px;
    line-height: 32px;
    padding: 0 16px;
    position: absolute;
    text-decoration: none;
    top: 1px;

    @include mq($from: tablet) {
      padding: 4px 12px;
    }

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:hover {
      background-color: $color_nhsuk-white;
      text-decoration: underline;
    }

    &:focus {
      background-color: $color_nhsuk-warm-yellow;
      color: $color_nhsuk-black;
    }

    &:visited {
      color: $color_nhsuk-blue;

      &:focus {
        background-color: $color_nhsuk-warm-yellow;
        color: $color_nhsuk-black;
      }
    }

  }
}
