@import 'govuk/main';
@import 'code-embed';
@import 'code-snippet';

.design-example {
  $root: &;
  margin-bottom: nhsuk-spacing(6);
  position: relative;
  width: 100%;

  @include mq($until: tablet) {
    margin-bottom: nhsuk-spacing(5);
  }

  &__pop-out {
    @include nhsuk-font(16);
    border: 1px solid $color_nhsuk-grey-3;
    border-bottom: 0;
    display: block;
    outline: 2px solid transparent;
    padding: 8px 16px;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:focus {
      background-color: $nhsuk-focus-color;
      box-shadow: 0 $nhsuk-focus-width $nhsuk-focus-text-color;
      color: $nhsuk-focus-text-color;
      outline: $nhsuk-focus-width solid transparent;
      text-decoration: none;

      &:hover {
        color: $nhsuk-focus-text-color;
      }
    }

  }
}

p + .design-example {
  @include nhsuk-responsive-padding(3, 'top');
}

.nhsuk-lede-text + .design-example {
  @include nhsuk-responsive-padding(0, 'top');
}

.design-example-frame {
  border: 0;
}

.app-code-snippet__macro {
  width: 100%;
}

.app-tabs__container pre {
  background-color: $color_nhsuk-grey-5;
}

.app-code-snippet__container {
  background-color: $color_nhsuk-grey-5;
  padding: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(8);
  position: relative;
  width: 100%;
}
