@import 'govuk/main';
@import 'code-embed';
@import 'code-snippet';

.design-example {
  @include nhsuk-responsive-margin(7, 'bottom');
  @include nhsuk-responsive-margin(4, 'top');

  $root: &;
  position: relative;
  width: 100%;

  &__pop-out {
    @include nhsuk-font(16);
    background-color: $color_nhsuk-grey-1;
    color: $color_nhsuk-white;
    line-height: 32px;
    padding: 0 16px;
    position: absolute;
    text-decoration: none;

    @include mq($from: tablet) {
      padding: 8px 16px;
    }

    &:hover,
    &:focus {
      box-shadow: none;
      color: $color_nhsuk-black;
    }

    &:hover {
      background-color: $color_nhsuk-warm-yellow;
    }

    &:focus {
      background-color: $color_nhsuk-warm-yellow;
    }

    &:visited {
      color: $color_nhsuk-white;

      &:hover {
        color: $color_nhsuk-black;
      }
    }

  }
}
