@import 'govuk/main';
@import 'code-embed';
@import 'code-snippet';

.design-example {
  @include nhsuk-responsive-margin(7, 'bottom');

  $root: &;
  position: relative;
  width: 100%;

  &__pop-out {
    @include nhsuk-font(16);
    border: 1px solid $color_nhsuk-grey-3;
    border-bottom: 0;
    display: block;
    outline: 2px solid transparent;
    padding: 8px 16px;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:focus {
      @include nhsuk-focused-text;
      border: 0;

      &:hover {
        color: $nhsuk-focus-text-color;
      }
    }

  }
}

p + .design-example {
  @include nhsuk-responsive-padding(3, 'top');
}

.nhsuk-lede-text + .design-example {
  @include nhsuk-responsive-padding(0, 'top');
}
