{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Summary list" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use the summary list to summarise information, for example, a user's responses at the end of a form." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "January 2026" %}
{% set backlog_issue_id = "36" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>WCAG 2.2: Make sure that users can successfully <a href="#wcag-interact-row-actions">interact with row actions</a> and <a href="#wcag-change-answers">change information they've previously given in an answer</a>.</p>

  {{ designExample({
    group: "components",
    item: "summary-list",
    type: "default"
  }) }}

  <h2>When to use summary lists</h2>
  <p>Use the summary list component to present pairs of related information, known as key-value pairs, in a list, where:</p>
  <ul>
    <li>the key is a label, like "Name"</li>
    <li>the value is the piece of information itself, like "John Smith"</li>
  </ul>
  <p>Think about how you can use the summary list along with other components or patterns to give users a sense of control. You can use it to summarise a user's responses at the end of a form, for example as part of the <a href="/design-system/patterns/check-answers">check answers pattern</a>.</p>

  <h2>When not to use summary lists </h2>
  <p class="rich-text">The summary list uses the description list <code>&lt;dl&gt;</code> HTML element, so only use it to present information that has a key and at least 1 value.</p>
  <p class="rich-text">Do not use it for tabular data or a simple list of information or tasks, like a task list page. (See the <a href="/design-system/patterns/complete-multiple-tasks">complete multiple tasks pattern</a>.) For those, use a <code>&lt;table&gt;</code>, <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code>.</p>

  <h2>How to use summary lists</h2>

  <h3 id="summary-list-with-actions">Summary list with actions</h3>
  <p>You can add actions to a summary list, like a "Change" link to let users go back and edit their answer.</p>

  {% call insetText({
    visuallyHiddenText: "Information",
    classes: "app-wcag-inset-text app-wcag-22",
    id: "wcag-interact-row-actions",
    attributes: { role: "note" }
  }) %}
    {{ tag({
      text: "WCAG 2.2",
      classes: "nhsuk-u-margin-bottom-2"
    }) }}

    <p>Make sure any "Change" or other action links are at least 24px by 24px in size, or have adequate spacing. This is to make sure users can easily interact with the links. This is to comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html">WCAG 2.2 success criterion 2.5.8 Target Size (W3C)</a>.</p>
  {% endcall %}

  {% call insetText({
    visuallyHiddenText: "Information",
    classes: "app-wcag-inset-text app-wcag-22",
    id: "wcag-change-answers",
    attributes: { role: "note" }
  }) %}
    {{ tag({
      text: "WCAG 2.2",
      classes: "nhsuk-u-margin-bottom-2"
    }) }}
    <p>If a user decides to go back to a previous answer through a link, make sure information they have already entered is pre-populated.</p>
    <p>Do not pre-populate if the information is no longer valid, or when pre-populating would be a major safety or security concern. This is to comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/redundant-entry.html">WCAG 2.2 success criterion 3.3.7 Redundant Entry (W3C)</a>.</p>
  {% endcall %}

  <p>People who use assistive technology, like a screen reader, may hear the links out of context and not know what they do. To give more context, add visually hidden text to the links. This means a screen reader user will hear a meaningful action, like "Change name" or "Change date of birth".</p>

  {{ designExample({
    group: "components",
    item: "summary-list",
    type: "default",
    titleSuffix: "second"
  }) }}

  <h3 id="summary-list-without-actions">Summary list without actions</h3>

  {{ designExample({
    group: "components",
    item: "summary-list",
    type: "without-action"
  }) }}

  <h3 id="summary-list-without-actions-or-borders">Summary list without actions or borders</h3>
  <p class="rich-text">If you do not include actions in your summary list and it would be better for your design to remove the separating borders, use the <code>nhsuk-summary-list--no-border</code> class.</p>

  {{ designExample({
    group: "components",
    item: "summary-list",
    type: "without-border"
  }) }}

  <p>To remove borders on a single row, use the <code>nhsuk-summary-list__row--no-border</code> class.</p>

  <h2 id="summary-cards">Summary cards</h2>
  <p>If you're showing multiple summary lists on a page, you can show each list within a summary card. This lets you visually separate each summary list and give each a title and some actions.</p>

  <p>Use summary cards when you need to show:</p>
  <ul>
    <li>multiple summary lists that all describe the same type of thing, such as people</li>
    <li>actions that will apply to all the items in a list</li>
  </ul>
  <p>Summary cards are often used in case working systems to help users quickly view a set of information and related actions.</p>

  <p>Do not use summary cards if you only need to show a small amount of related information. Use summary lists instead, and structure them with headings if needed.</p>

  <p>If you're showing summary cards at the end of a longer journey, you might want to familiarise the user with them earlier on, such as when the user reviews individual sections.</p>

  <h3 id="card-titles">Card titles</h3>
  <p>Use the summary card's header area to give each summary list a title.</p>

  <p>Each title must be unique and help identify what the summary list describes. For example, this could be the name of a specific person, organisation or professional qualification.</p>

  <p>Try to keep titles short and relevant. You can use 1 or 2 important values in the summary list, such as the first and last name of a person.</p>

  {{ designExample({
    group: "components",
    item: "summary-list",
    type: "summary-card"
  }) }}

  <h3 id="card-actions">Card actions</h3>
  <p>You can add card actions in the header, which will be shown after the summary card's title.</p>

  <p>For example, if you have multiple rows with "change" actions that all take the user to the same place, you can show a single "change" card action instead. This helps avoid repeating the same row action on every row.</p>

  <p>Card actions are shown in bold text to make them visually distinct from row actions. They help alert the user that the card action will affect the entire summary card.</p>

  <p>Write link text for card actions to tell the user what the card action will do and that it will apply to the entire summary card. It should also be as short as possible, usually 2 words.</p>

  <p>Example card actions include:</p>
  <ul>
    <li>Remove appointment</li>
    <li>Edit appointment</li>
    <li>Update issue</li>
    <li>Approve application</li>
    <li>Cancel order</li>
  </ul>

  <p>Keep it short and do not add more than 2 to 3 actions in a header.</p>

  <p>If a card action cannot easily be undone or might have serious consequences, consider adding a warning or asking the user for confirmation.</p>

  {{ designExample({
    group: "components",
    item: "summary-list",
    type: "summary-card-with-actions"
  }) }}

{% endblock %}
