---
previewLayout: design-example-wrapper-blank
---

{% extends "layouts/app-layout.njk" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}

{% block pageTitle %}
  Content page template
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ],
    href: "#",
    text: "Health A to Z"
  }) }}
{% endblock %}

{% block header %}
  {{ header({
    navigation: {
      items: [
        {
          text: "Health A to Z",
          href: "#"
        },
        {
          text: "Live Well",
          href: "#"
        },
        {
          text: "Care and support",
          href: "#"
        },
        {
          text: "Pregnancy",
          href: "#"
        },
        {
          text: "NHS services",
          href: "#"
        }
      ]
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Page heading
      </h1>

      <p>Health information goes here.</p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Page last reviewed: 15 March 2025<br>
        Next review due: 15 March 2028
      </p>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    navigation: {
      items: [
        {
          href: "#",
          text: "NHS sites"
        },
        {
          href: "#",
          text: "About us"
        },
        {
          href: "#",
          text: "Contact us"
        },
        {
          href: "#",
          text: "Profile editor login"
        },
        {
          href: "#",
          text: "Site map"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Our policies"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}
