{% from "checkboxes/macro.njk" import checkboxes %}

{{ checkboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "What medical conditions do you have?",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select 1 or more"
  },
  items: [
    {
      value: "alzheimers",
      text: "Alzheimer's disease or dementia"
    },
    {
      value: "asthma",
      text: "Asthma"
    },
    {
      value: "cancer",
      text: "Cancer"
    },
    {
      value: "diabetes",
      text: "Diabetes",
      hint: {
        text: "including type 1, type 2, and gestational diabetes"
      }
    }
  ]
}) }}
