{% from "card/macro.njk" import card %}

{{ card({
  heading: {
    text: "Heading size large",
    size: "l"
  },
  description: "Card description text goes here"
}) }}

{{ card({
  heading: {
    text: "Heading size medium",
    size: "m"
  },
  description: "Card description text goes here"
}) }}

{{ card({
  heading: {
    text: "Heading size small",
    size: "s"
  },
  description: "Card description text goes here"
}) }}
