{% from 'textarea/macro.njk' import textarea %}

{{ textarea({
  "name": "example-longer",
  "id": "example-longer",
  "rows": "10",
  "label": {
      "text": "Can you provide more detail?"
  },
  "hint": {
      "text": "Do not include personal or financial information, for example, your National Insurance number or credit card details."
  }
}) }}
