{% from "input/macro.njk" import input %}

{{ input({
  label: {
      text: "Cost per item, in pounds"
  },
  prefix: "£",
  suffix: "per item",
  id: "cost-per-item",
  name: "costPerItem",
  classes: "nhsuk-input--width-5",
  spellcheck: false
}) }}
