{% from 'card/macro.njk' import card %}

{{ card({
  "type": "emergency",
  "heading": "Call 999 if:",
  "descriptionHtml": "
  <p>You have sudden chest pain that:</p>
  <ul>
    <li>spreads to your arms, back, neck or jaw</li>
    <li>makes your chest feel tight or heavy</li>
    <li>also started with shortness of breath, sweating and feeling or being sick</li>
  </ul>
  <p>You could be having a heart attack. Call 999 immediately as you need immediate treatment in hospital.</p>
  "
}) }}
