{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "AI and user-centred design (UCD)" %}
{% set pageDescription = "This guidance explains how UCD teams can use artificial intelligence (AI) responsibly." %}
{% set pageSection = "AI and user-centred-design" %}
{% set landingPage = true %}
{% set dateUpdated = "September 2026" %}

{% block bodyContent %}

<p>AI is reshaping how we research and design digital services. It gives us new ways to analyse data, prototype, test ideas, learn and streamline workflows.</p>
<p>This guidance applies to user-centred design staff (including contractors and agency staff) who work on NHS services.</p>
<p>We will continue to evolve and expand it as more teams use AI tools and share what they learn.</p>
<p>This guidance will help your team to:</p>
<ul>
  <li>learn and maintain AI literacy</li>
  <li>be more creative and efficient</li>
  <li>stay ethical, safe and inclusive</li>
  <li>meet UCD standards</li>
</ul>
<p>It does not tell you how to:</p>
<ul>
  <li>choose, design, or use AI tools as part of a service for your end users</li>
  <li>develop production code</li>
  <li>use agentic AI for user research [what does this mean?]</li>
  <li>use AI as a tool for wider design practice, for example for service design or creating design artefacts [what do we mean by artifacts?]</li>
</ul>
<p>Read more about:</p>
  <ul>
    <li><a href="/ai-and-user-centred-design/definitions">definitions</a></li>
    <li><a href="/ai-and-user-centred-design/principles">principles</a></li>
    <li><a href="/ai-and-user-centred-design/risks-and-benefits">risks and benefits</a></li>
  </ul>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}