{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Principles" %}
{% set pageDescription = "[Why do we have principles that differ from GOV's?]" %}
{% set pageSection = "AI and user-centred-design (UCD)" %}
{% set dateUpdated = "September 2026" %}

{% block beforeContent %}
  {% include "ai-and-user-centred-design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<p>[Do we want to explain that these are principles that the NHS UCD community has devised. Read them alongside <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#principles">GOV principles</a>.]</p>
  <ol class="featured-list">

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">1</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>
          Follow policy and guidance.
        </h2>
        <p>This includes NHS user-centred design best practices, principles, and standards. [What are they? Can we link? Examples NHS service standard and design principles? And GOV playbook?]</p>
        <p>[See GOV principles re being lawful, ethical, secure.]
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">2</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">2</span>
          Learn continuously.
        </h2>
        <p>Develop your skills in using AI, for example by learning prompt strategies. Understand the limitations of AI.</p>
        <p>[Compare GOV principles 1, 9 and 10.]
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">3</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">3</span>
          Document your use of AI.
        </h2>
        <p>Record how and where you used AI in your research and design process. Be transparent.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">4</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">4</span>
          Improve but do not replace human processes.
        </h2>
        <p>AI cannot take responsibility for decisions or outcomes. You are accountable for all the outputs AI generates.</p>
        <p>[See GOV principle about human control.]</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">5</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">5</span>
          Use your human judgement, empathy, and contextual awareness.
        </h2>
        <p>Do not rely on AI for key human tasks, such as interviewing people or making recommendations.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">6</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">6</span>
          Check your AI outputs.
        </h2>
        <p>Fact-check and sense-check outputs before you share or use them. Make sure they are suitable, inclusive and not biased.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">7</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">7</span>
          Measure costs, including environmental impact.
        </h2>
        <p>AI tools generally consume more energy than traditional methods. (See: unep.org/news-and-stories/story/ai-has-environmental-problem-heres-what-world-can-do-about). [Not sure this is a good source for us to link to. Can we summarise?]</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">8</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">8</span>
          Use real primary user data and verifiable secondary sources.
        </h2>
        <p>Evidence is a key part of the user-centred design process. Avoid AI-generated data from unknown sources.</p>
      </div>
    </li>

    <li class="featured-list--item">
      <div class="featured-list--item__content">
        <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-xl">9</span>
        <h2 class="featured-list--item__heading nhsuk-heading-m">
          <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">9</span>
          Share your learning.
        </h2>
        <p>Share best practice openly and generously with peers to build collective knowledge.</p>
        <p>[See GOV point about open and collaborative.]
      </div>
    </li>
</ol>


{% endblock %}