{% from "card/macro.njk" import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    {{ card({
      clickable: false,
      heading: "Order a repeat prescription",
      headingClasses: "nhsuk-heading-m"
    }) }}
  </li>
</ul>
