{% extends "template.njk" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}

{% set assetPath = "/nhsuk-frontend/assets" %}

{% block head %}
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/main.scss") }}">
  <script src="{{ getAssetPath("main.js") }}" defer></script>
{%- endblock %}

{% block pageTitle -%}
  Content page template
{%- endblock %}

{% block header %}
  {{ header({
      showNav: "true",
      showSearch: "true",
      primaryLinks: [
        {
          url  : "#",
          label : "Health A-Z"
        },
        {
          url : '#',
          label : 'Live Well'
        },
        {
          url  : '#',
          label : 'Care and support'
        },
        {
          url  : '#',
          label : 'Pregnancy'
        },
        {
          url : '#',
          label : 'NHS services'
        } 
      ]
    })
}}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Level one"
      },
      {
        href: "#",
        text: "Level two"
      }
    ],
    href: "#",
    text: "Level three"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        Content page template
      </h1>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        URL: "#",
        label: "NHS sites"
      },
      {
        URL: "#",
        label: "About us"
      },
      {
        URL: "#",
        label: "Contact us"
      },
      {
        URL: "#",
        label: "Profile editor login"
      },
      {
        URL: "#",
        label: "Site map"
      },
      {
        URL: "#",
        label: "Accessibility statement"
      },
      {
        URL: "#",
        label: "Our policies"
      },
      {
        URL: "#",
        label: "Cookies"
      }
    ]
  })}}
{% endblock %}
