---
previewLayout: design-example-wrapper-blank
---

{% extends "template.njk" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}

{% block head %}
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/preview.scss") }}">
{%- endblock %}

{% block pageTitle -%}
  Content page template
{%- endblock %}

{% block header %}
  {{ header({
    navigation: {
      items: [
        {
          text: "Health A to Z",
          href: "#"
        },
        {
          text: "Live Well",
          href: "#"
        },
        {
          text: "Care and support",
          href: "#"
        },
        {
          text: "Pregnancy",
          href: "#"
        },
        {
          text: "NHS services",
          href: "#"
        }
      ]
    }
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Level one"
      },
      {
        href: "#",
        text: "Level two"
      }
    ],
    href: "#",
    text: "Level three"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        Content page template
      </h1>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    navigation: {
      items: [
        {
          href: "#",
          text: "NHS sites"
        },
        {
          href: "#",
          text: "About us"
        },
        {
          href: "#",
          text: "Contact us"
        },
        {
          href: "#",
          text: "Profile editor login"
        },
        {
          href: "#",
          text: "Site map"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Our policies"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("main.js") }}" type="module"></script>
{% endblock %}
