{% set pageTitle = "Other standards" %}
{% set pageDescription = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}
{% set pageSection = "NHS standards" %}
{% set subSection = "NHS standards" %}
{% set beta = true %}
{% set dateUpdated = "February 2022" %}
{% set backlog_issue_id = "336" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% endblock %}
