{% from 'do-dont-list/macro.njk' import list %}

{{ list({
  title: "Do",
  type: "tick",
  items: [
    {
      text: "cover blisters with a soft plaster or padded dressing"
    },
    {
      text: "wash your hands before touching a burst blister"
    },
    {
      text: "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
    }
  ]
}) }}

{{ list({
  title: "Don't",
  type: "cross",
  items: [
    {
      text: "burst a blister yourself"
    },
    {
      text: "peel the skin off a burst blister"
    },
    {
      text: "pick at the edges of the remaining skin"
    },
    {
      text: "wear the shoes or use the equipment that caused your blister until it heals"
    }
  ]
}) }}

