{% from "date-input/macro.njk" import dateInput %}

{{ dateInput({
  id: "appointment-date",
  namePrefix: "appointmentDate",
  fieldset: {
    legend: {
      text: "When was your appointment?",
      size: "l",
      isPageHeading: true
    }
  },
  hint: {
    text: "For example, 18 3 2026"
  },
  items: [
    {
      name: "day",
      classes: "nhsuk-input--width-2"
    },
    {
      name: "month",
      classes: "nhsuk-input--width-2"
    },
    {
      name: "year",
      classes: "nhsuk-input--width-4"
    }
  ]
}) }}
