@use "../vendor/nhsuk-frontend" as *;

////
/// Autocomplete component
///
/// 1. Custom height and width of form items
/// 2. Custom height and width of svg icons
/// 3. Custom spacing to position the search icon
/// 4. Drop shadow on search suggestions dropdown box, custom spread and blur
////

.autocomplete {
  width: 100%;
  pointer-events: none;
  position: relative;
  z-index: 9;

  // Stack button above autocomplete
  + .nhsuk-header__search-submit {
    position: relative;
    z-index: 10;
  }

  // Stack button below autocomplete when focused
  &:focus-within + .nhsuk-header__search-submit {
    z-index: 8;
  }

  @include nhsuk-media-query($until: tablet) {
    + .nhsuk-header__search-submit {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.autocomplete__input.nhsuk-header__search-input {
  pointer-events: all;
  width: calc(100% - 44px); // [1]

  @include nhsuk-media-query($from: tablet) {
    width: 100%; // [1]
  }
}

.autocomplete__menu {
  background-color: nhsuk-colour("white");
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  pointer-events: all;
  position: relative;
  @include nhsuk-print-hide;

  &::after {
    position: absolute;
    top: 0;
    right: -$nhsuk-gutter;
    bottom: 0;
    left: -$nhsuk-gutter;

    display: block;
    background-color: nhsuk-colour("white");
    content: "";
  }

  @include nhsuk-media-query($from: tablet) {
    border: solid nhsuk-colour("grey-4");
    border-width: 0 1px 1px;
    border-radius: $nhsuk-border-radius;
    box-shadow: 0 0 3px 0 rgba(nhsuk-colour("grey-1"), 0.5); // [4]
    margin: 2px -44px 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: nhsuk-spacing(2) nhsuk-spacing(3);
    position: absolute;
    right: 0;
    top: 100%;
    width: 360px;
    z-index: -1;

    &::after {
      display: none;
    }
  }
}

.autocomplete__option-category {
  color: $nhsuk-secondary-text-colour;
  display: block;
  @include nhsuk-font(16);
  margin-top: nhsuk-spacing(1);
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__option {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: nhsuk-spacing(3) 2px;
  white-space: nowrap;
  border-bottom: 1px solid nhsuk-colour("grey-5");
  color: $nhsuk-header-item-colour;
  cursor: pointer;
  @include nhsuk-font(16);

  @include nhsuk-link-style-visited($nhsuk-header-item-colour);
  @include nhsuk-link-style-hover($nhsuk-header-item-hover-colour);
  @include nhsuk-link-style-active($nhsuk-header-item-active-colour);
  @include nhsuk-link-style-focus;

  &:last-child {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    .autocomplete__option-title {
      text-decoration: none;
    }
  }

  &:focus,
  &:focus:visited {
    color: $nhsuk-focus-text-colour;
    box-shadow: inset 0 ($nhsuk-focus-width * -1) $nhsuk-focus-text-colour;
    border-color: nhsuk-colour("white");
  }

  @include nhsuk-media-query($until: tablet) {
    font-size: inherit;
  }
}

.autocomplete__option-title {
  text-decoration: underline;
}
