@use "../vendor/nhsuk-frontend" as *;
@use "../settings" as *;

// Highlight code within body copy
li code,
p code,
td code {
  font-family: $app-code-font;
  background-color: $color_nhsuk-white;
  // stylelint-disable-next-line color-no-hex
  color: #dd1144;
  padding: 2px nhsuk-spacing(2);
  word-break: break-word;
  @include nhsuk-font-size(16);
}

// Highlight code in a block
.app-pre {
  background: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  margin-top: 0;
  overflow: auto;
  padding: nhsuk-spacing(3);
  position: relative;

  @include nhsuk-responsive-margin(4, "bottom");

  & + h2 {
    @include nhsuk-responsive-padding(4, "top");
  }

  & + h3 {
    @include nhsuk-responsive-padding(2, "top");
  }
}

// Design example code snippet overrides
.code-snippet__preformatted {
  align-items: flex-end;
  border-bottom: 1px solid $color_nhsuk-grey-4;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.hljs {
  background-color: $color_nhsuk-white;
  color: $color_nhsuk-black;
  display: block;
  overflow-x: scroll;
  padding: 0;
}

.hljs.css .hljs-selector-class,
.hljs.css .hljs-selector-tag,
.hljs.css .hljs-keyword {
  color: $color_nhsuk-purple;
}

.app-tabs__container pre {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-color: $color_nhsuk-white;
  padding: 0;
}

.app-tabs__container pre,
.app-tabs__container code {
  font-family: $app-code-font;
}

.code-snippet__macro {
  width: 100%;
}
