@use "../vendor/nhsuk-frontend" as *;
@use "../settings" as *;

// Highlight code within body copy
li code,
caption code,
td code,
p code {
  font-family: $app-code-font;
  background-color: nhsuk-colour("white");
  // stylelint-disable-next-line color-no-hex
  color: #dd1144;
  padding: 2px nhsuk-spacing(2);
  word-break: break-word;
  @include nhsuk-font-size(16);
}

// Add styling for code in headings and captions
.nhsuk-heading-s code,
.nhsuk-heading-m code,
.nhsuk-heading-l code,
.nhsuk-heading-xl code,
.nhsuk-table__caption code {
  font-size: inherit;
}

// Highlight code in a block
.app-pre {
  background: nhsuk-colour("white");
  border: 1px solid $nhsuk-border-colour;
  margin-top: 0;
  overflow: auto;
  padding: nhsuk-spacing(3);
  position: relative;

  @include nhsuk-responsive-margin(4, "bottom");

  & + h2 {
    @include nhsuk-responsive-padding(4, "top");
  }

  & + h3 {
    @include nhsuk-responsive-padding(2, "top");
  }
}

.hljs {
  background-color: nhsuk-colour("white");
  color: nhsuk-colour("black");
  display: block;
  overflow-x: scroll;
  padding: 0;
}

.hljs.css .hljs-selector-class,
.hljs.css .hljs-selector-tag,
.hljs.css .hljs-keyword {
  color: nhsuk-colour("purple");
}

.app-tabs__container pre {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-color: nhsuk-colour("white");
  padding: 0;
}

.app-tabs__container pre,
.app-tabs__container code {
  font-family: $app-code-font;
}
