@use "../vendor/nhsuk-frontend" as *;
@use "../settings" as *;

// Highlight code within body copy
li code,
caption code,
td code,
p code {
  font-family: $app-code-font;
  background-color: nhsuk-colour("white");
  // stylelint-disable-next-line color-no-hex
  color: #dd1144;
  padding: 2px nhsuk-spacing(2);
  word-break: break-word;
  @include nhsuk-font-size(16);
}

// Add styling for code in headings and captions
.nhsuk-heading-s code,
.nhsuk-heading-m code,
.nhsuk-heading-l code,
.nhsuk-heading-xl code,
.nhsuk-table__caption code {
  font-size: inherit;
}

// Highlight code in a block
.app-code,
.app-code__container {
  font-family: $app-code-font;
}

.app-code {
  background: nhsuk-colour("white");
  border: 1px solid $nhsuk-border-colour;
  margin: 0;
  position: relative;
  font-size: inherit;

  @include nhsuk-responsive-margin(4, "bottom");

  & + h2 {
    @include nhsuk-responsive-padding(4, "top");
  }

  & + h3 {
    @include nhsuk-responsive-padding(2, "top");
  }
}

.app-code__container {
  padding: nhsuk-spacing(3);
  overflow-x: auto;
}
