@use "../vendor/nhsuk-frontend" as *;
@use "sass:math";

////
/// Colour swatch
///
/// Custom table for the colour palette
////

.app-colour-list {
  margin-top: 0;

  th,
  td {
    border: 0;
  }
}

.app-colour-list__swatch {
  display: inline-block;

  position: absolute;
  top: math.div(nhsuk-spacing(1), 2);
  left: 0;

  width: nhsuk-spacing(6);
  height: nhsuk-spacing(6);
  margin-right: 0;

  border: 1px solid transparent;
  border-radius: 50%;

  background-color: nhsuk-colour("grey-5");

  vertical-align: middle;

  @include nhsuk-media-query($until: tablet) {
    top: nhsuk-spacing(1);
    width: nhsuk-spacing(4);
    height: nhsuk-spacing(4);
  }
}

.app-colour-list__column {
  padding-top: nhsuk-spacing(2);
  padding-left: 0;
  vertical-align: top;

  @include nhsuk-media-query($until: tablet) {
    display: block;
    position: relative;
    padding-left: nhsuk-spacing(5);
  }
}

.app-colour-list__column--name {
  position: relative;
  padding-left: nhsuk-spacing(8);
  font-weight: normal;

  @include nhsuk-media-query($until: tablet) {
    padding-top: nhsuk-spacing(1);
    padding-bottom: nhsuk-spacing(1);
    padding-left: nhsuk-spacing(5);
  }
}

.app-colour-list__column--colour {
  @include nhsuk-media-query($until: tablet) {
    padding-top: 0;
    padding-bottom: nhsuk-spacing(1);
  }
}

.app-colour-list__swatch--border {
  border: 1px solid $nhsuk-border-colour;
}
