@use "../vendor/nhsuk-frontend" as *;
@use "sass:math";

////
/// Colour swatch
///
/// Custom table for the colour palette
////

.app-colour-list {
  margin-top: 0;

  th,
  td {
    border: 0;
  }
}

.app-colour-list__swatch {
  background-color: nhsuk-colour("grey-5");
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: nhsuk-spacing(6);
  margin-right: 0;
  vertical-align: middle;
  width: nhsuk-spacing(6);

  position: absolute;
  left: 0;
  top: math.div(nhsuk-spacing(1), 2);

  @include nhsuk-media-query($until: tablet) {
    height: nhsuk-spacing(4);
    width: nhsuk-spacing(4);
    top: nhsuk-spacing(1);
  }
}

.app-colour-list__column {
  padding-left: 0;
  padding-top: nhsuk-spacing(2);
  vertical-align: top;

  @include nhsuk-media-query($until: tablet) {
    display: block;
    padding-left: nhsuk-spacing(5);
    position: relative;
  }
}

.app-colour-list__column--name {
  font-weight: normal;
  position: relative;
  padding-left: nhsuk-spacing(8);

  @include nhsuk-media-query($until: tablet) {
    padding-left: nhsuk-spacing(5);
    padding-bottom: nhsuk-spacing(1);
    padding-top: nhsuk-spacing(1);
  }
}

.app-colour-list__column--colour {
  @include nhsuk-media-query($until: tablet) {
    padding-top: 0;
    padding-bottom: nhsuk-spacing(1);
  }
}

.app-colour-list__swatch--border {
  border: 1px solid $nhsuk-border-colour;
}
