@use "../vendor/nhsuk-frontend" as *;

////
/// Example callout
////

.app-example {
  position: relative;
  border: 1px solid nhsuk-colour("grey-3");

  @include nhsuk-top-and-bottom;
  @include nhsuk-responsive-margin(5, "bottom");
  @include nhsuk-responsive-margin(3, "top");
  @include nhsuk-responsive-padding(5, "bottom");
  @include nhsuk-responsive-padding(5, "left");
  @include nhsuk-responsive-padding(5, "right");
  @include nhsuk-responsive-padding(7, "top");
}

.app-example__heading {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 0;
  background: nhsuk-colour("grey-1");
}

.app-example + h2 {
  @include nhsuk-responsive-padding(4, "top");
}

.app-example + h3 {
  @include nhsuk-responsive-padding(2, "top");
}

.app-example--white {
  background: nhsuk-colour("white");
}

// Image example
.app-example--image {
  @include nhsuk-responsive-margin(4, "bottom");

  & + h2 {
    @include nhsuk-responsive-padding(4, "top");
  }
}
