@use "../vendor/nhsuk-frontend" as *;

////
/// Featured list component
///
/// Styled list for design principles and service standard
////

.featured-list {
  margin: nhsuk-spacing(4) 0 nhsuk-spacing(5);
  padding-left: 0;
  list-style: none;
}

@include nhsuk-media-query($from: tablet) {
  .featured-list {
    margin: nhsuk-spacing(6) 0 nhsuk-spacing(5);
  }
}

.featured-list--item {
  margin-bottom: nhsuk-spacing(5);
}

@include nhsuk-media-query($from: tablet) {
  .featured-list--item {
    display: flex;
    margin-bottom: nhsuk-spacing(6);
    padding-left: nhsuk-spacing(9);
  }
}

.featured-list--item__content {
  max-width: 99.99%;
}

.featured-list--item__number {
  display: none;
  margin-bottom: nhsuk-spacing(3);
  @include nhsuk-font-weight-bold;
}

@include nhsuk-media-query($from: tablet) {
  .featured-list--item__number {
    display: block;
    position: absolute;
    left: nhsuk-spacing(-9);
    margin: 0;
  }
}

.featured-list--item__number--mobile {
  display: block;

  @include nhsuk-media-query($from: tablet) {
    display: none;
  }
}

.featured-list--item__heading {
  display: flex;

  position: relative;

  align-items: center;

  margin-top: 0;
  padding-top: nhsuk-spacing(3);

  border-top: nhsuk-spacing(1) solid nhsuk-colour("blue");
}

@include nhsuk-media-query($from: tablet) {
  .featured-list--item__heading {
    padding-top: nhsuk-spacing(5);
  }
}
