@use "../vendor/nhsuk-frontend" as *;

////
/// Footer
///
/// Custom features for the service manual footer
////

.app-ogl-footer {
  background-color: nhsuk-colour("grey-4");
}

.app-ogl-footer--text {
  color: nhsuk-colour("grey-1");
  margin-bottom: 0;

  @include nhsuk-font(16);
  @include nhsuk-responsive-padding(5, "bottom");

  @include nhsuk-media-query($until: tablet) {
    padding-bottom: nhsuk-spacing(4);
  }

  svg {
    margin-right: nhsuk-spacing(2);
    position: relative;
    top: 2px;
  }
}
