@use "../vendor/nhsuk-frontend" as *;

////
/// Health A-Z
///
/// Custom style for the content guide
////

.app-style-guide-a-z {
  .nhsuk-a-z-list--results-items {
    @include nhsuk-responsive-margin(9, "bottom");
  }

  .nhsuk-back-to-top__link {
    margin-left: 0;
  }

  h2 {
    background: nhsuk-colour("blue");
    color: nhsuk-colour("white");
    display: inline-block;
    padding: nhsuk-spacing(2) + 4px;
  }
}
