@use "../vendor/nhsuk-frontend" as *;

////
/// Lede text
////

.nhsuk-lede-text + .app-lede-text--sub {
  margin-top: nhsuk-spacing(-3);
  margin-bottom: nhsuk-spacing(7);

  @include nhsuk-media-query($until: tablet) {
    margin-top: nhsuk-spacing(-3);
    margin-bottom: nhsuk-spacing(5);
  }
}

.app-lede-text + h2,
.app-lede-text + .nhsuk-heading-l {
  padding-top: nhsuk-spacing(2);
}

.app-lede-text--sub + h2,
.app-lede-text--sub + .nhsuk-heading-l {
  padding-top: nhsuk-spacing(0);
}

.app-lede-text + .app-index-navigation {
  padding-top: 0;
}
