@use "../vendor/nhsuk-frontend" as *;

// Added meta data for a promo (date)
.app-meta-data {
  color: $nhsuk-secondary-text-color;

  @include nhsuk-font($size: 16);

  + .app-meta-data {
    margin-top: nhsuk-spacing(-3);
  }

  @include nhsuk-media-query($from: tablet) {
    margin-bottom: nhsuk-spacing(3);

    + .app-meta-data {
      margin-top: nhsuk-spacing(-3);
    }
  }
}

.app-meta-data--strong {
  color: $nhsuk-text-color;
  font-weight: 600;
}
