@use "../vendor/nhsuk-frontend" as *;

////
/// Search
////

.nhsuk-list--border li {
  margin-bottom: 0;
  border-bottom: 1px solid $nhsuk-border-colour;
  @include nhsuk-top-and-bottom;
  @include nhsuk-responsive-padding(4, "top");
  @include nhsuk-responsive-padding(4, "bottom");
}

.nhsuk-list--border li > :first-child {
  margin-top: 0;
}

.nhsuk-list--border li > :last-child {
  margin-bottom: 0;
}

.nhsuk-list--border li:first-of-type {
  border-top: 1px solid $nhsuk-border-colour;
}

.app-search {
  @include nhsuk-responsive-margin(3, "bottom");
}

.app-search__input {
  min-height: nhsuk-px-to-rem(52px);
  padding-right: nhsuk-px-to-rem(nhsuk-spacing(2));
  padding-left: nhsuk-px-to-rem(nhsuk-spacing(2));

  @include nhsuk-media-query($from: mobile) {
    margin-right: -$nhsuk-border-width-form-element;
  }
}

.app-search__submit {
  display: flex;
  min-height: nhsuk-px-to-rem(52px - $nhsuk-button-shadow-size);

  // Align icon in center of button
  align-items: center;
  justify-content: center;

  // Reduce padding to better fit icon
  padding: 0 nhsuk-spacing(2) - $nhsuk-border-width-form-element;

  .nhsuk-icon {
    margin: 0;

    @include nhsuk-media-query($from: tablet) {
      width: nhsuk-px-to-rem($nhsuk-icon-size-large);
      height: nhsuk-px-to-rem($nhsuk-icon-size-large);
    }
  }

  // Increase (mobile) search icon size
  .nhsuk-icon--search {
    @include nhsuk-media-query($from: mobile) {
      width: nhsuk-px-to-rem(28px);
      height: nhsuk-px-to-rem(28px);
    }

    @include nhsuk-media-query($from: tablet) {
      width: nhsuk-px-to-rem(38px);
      height: nhsuk-px-to-rem(38px);
    }
  }

  // Remove border radius from left side
  @include nhsuk-media-query($from: mobile) {
    &,
    &::before,
    &::after {
      border-radius: 0 $nhsuk-border-radius $nhsuk-border-radius 0;
    }

    // Remove inner box shadow from left side
    &:not(:focus)::after {
      left: -2px;
    }

    // Remove margin from left side
    .nhsuk-input-wrapper & {
      margin-left: 0;

      // Prevent height change when pressed
      &:active,
      &:active:focus {
        top: 0;
        min-height: nhsuk-px-to-rem(52px);
        margin-bottom: 0;
      }
    }
  }
}

.app-search-results-item {
  display: block;

  @include nhsuk-font(22, $weight: bold);
  @include nhsuk-responsive-margin(2, "bottom");
}

.app-search-results-category {
  display: block;
  color: $nhsuk-secondary-text-colour;
  @include nhsuk-font-size(16);
}
