@use "../vendor/nhsuk-frontend" as *;

////
/// Search
////

.nhsuk-list--border li {
  border-bottom: 1px solid nhsuk-colour("grey-4");
  padding: 8px 0 16px;
}

.nhsuk-list--border li > :first-child {
  margin-top: 0;
}

.nhsuk-list--border li > :last-child {
  margin-bottom: 0;
}

.nhsuk-list--border li:first-of-type {
  border-top: 1px solid nhsuk-colour("grey-4");
  padding: 16px 0;
}

.nhsuk-header__search-form--search-results {
  background-color: transparent;
  display: -ms-flexbox; // [14]
  display: flex;
  padding: 0;
  width: 100%;

  @include nhsuk-responsive-margin(7, "bottom");

  .autocomplete__input,
  .nhsuk-search__input {
    -ms-flex-positive: 2; // [14]
    -webkit-appearance: listbox; // [5]
    // stylelint-disable-next-line declaration-no-important
    background-color: nhsuk-colour("white") !important; // [6]
    border-bottom: 1px solid nhsuk-colour("grey-3");
    border-bottom-left-radius: $nhsuk-border-radius;
    border-bottom-right-radius: 0;
    border-left: 1px solid nhsuk-colour("grey-3");
    border-right: 0;
    border-top: 1px solid nhsuk-colour("grey-3");
    border-top-left-radius: $nhsuk-border-radius;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px; // [2]
    margin: 0;
    outline: none;
    padding: 0 nhsuk-spacing(3);
    width: 100%; // [2]

    &:focus {
      border: 4px solid $nhsuk-focus-colour;
      box-shadow: inset 0 0 0 4px $nhsuk-focus-text-colour;
    }
  }

  .nhsuk-search__submit {
    background-color: nhsuk-colour("green");
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: $nhsuk-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: $nhsuk-border-radius;
    float: right;
    font-size: inherit;
    height: 52px; // [2]
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: nhsuk-spacing(2) nhsuk-spacing(2) 0;
    width: 52px;

    .nhsuk-icon__search {
      fill: nhsuk-colour("white");
      height: 38px; // [3]
      width: 38px; // [3]
    }

    &::-moz-focus-inner {
      border: 0; // [4]
    }

    &:hover {
      background-color: $nhsuk-button-hover-colour;
      cursor: pointer;
    }

    &:focus {
      background-color: $nhsuk-focus-colour;
      border-bottom: 4px solid $nhsuk-text-colour;

      .nhsuk-icon__search {
        fill: $nhsuk-focus-text-colour;
      }
    }
  }
}

.app-search-results-item {
  text-decoration: none;

  @include nhsuk-font(22, $weight: bold);

  &:hover {
    text-decoration: underline;
  }
}

.app-search-results-item::first-letter {
  text-transform: uppercase;
}

.app-search-results-category {
  color: $nhsuk-secondary-text-colour;
  display: block;
  font-size: 14px;
}
