@use "../vendor/nhsuk-frontend" as *;

////
/// Utilities
////

.app-u-border-top {
  border-top: 2px solid nhsuk-colour("blue");
  margin-top: 8px;

  h3 {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

// Hide content on mobile
.app-u-hide-mobile {
  @include nhsuk-media-query($until: desktop) {
    display: none;
  }
}

// Hide content on desktop
.app-u-hide-desktop {
  @include nhsuk-media-query($from: desktop) {
    display: none;
  }
}

// Make content full width of its parent container
.app-u-full-width {
  // stylelint-disable-next-line declaration-no-important
  max-width: 100% !important;

  // stylelint-disable-next-line declaration-no-important
  width: 100% !important;
}
