{% set pageTitle = "Understanding" %}
{% set pageDescription = "The first stage in the process of transforming information architecture is about understanding your users and what content already exists." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<section id="app-key-links">
  <ul class="app-key-links">
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/understanding/Existing-content" title="">Understanding existing content</a></li>
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/understanding/measure-content" title="">Measure how your existing content is performing</a></li>
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/understanding/User-mental-models" title="">Understand your users' mental models</a></li>
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/understanding/Top-tasks" title="">Learn about your users' top tasks</a></li>
  </ul>
</section>

{% endblock %}
