{% from "tables/macro.njk" import table %}
{% from "pagination/macro.njk" import pagination %}

{{ table({
  caption: "Users",
  captionSize: "m",
  head: [
    {
      text: "Name",
      href: "sortable-server-side",
      sort: true,
      width: "one-half"
    },
    {
      text: "Last log in",
      href: "sortable-server-side-last-login-descending",
      sort: "ascending",
      align: "right",
      width: "one-third"
    },
    {
      html: '<span class="nhsuk-u-visually-hidden">Action</span>',
      align: "right"
    }
  ],
  rows: [
    [
      {
        text: "Si Xu"
      },
      {
        text: "8 January 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Si Xu</span></a>'
      }
    ],
    [
      {
        text: "Tobias Crane"
      },
      {
        text: "19 January 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Tobias Crane</span></a>'
      }
    ],
    [
      {
        text: "Uju Eze"
      },
      {
        text: "2 February 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Uju Eze</span></a>'
      }
    ],
    [
      {
        text: "Viktoriya Bondarenko"
      },
      {
        text: "14 February 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Viktoriya Bondarenko</span></a>'
      }
    ],
    [
      {
        text: "Wren Albright-Moss"
      },
      {
        text: "27 February 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Wren Albright-Moss</span></a>'
      }
    ],
    [
      {
        text: "Yasmin Okafor"
      },
      {
        text: "11 March 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Yasmin Okafor</span></a>'
      }
    ],
    [
      {
        text: "Zeb Moss"
      },
      {
        text: "23 March 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Zeb Moss</span></a>'
      }
    ],
    [
      {
        text: "Raj Krishnamurthy"
      },
      {
        text: "5 April 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Raj Krishnamurthy</span></a>'
      }
    ],
    [
      {
        text: "Steph Obi"
      },
      {
        text: "18 April 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Steph Obi</span></a>'
      }
    ],
    [
      {
        text: "Teo Li"
      },
      {
        text: "30 April 2026"
      },
      {
        html: '<a href="#" class="nhsuk-link">Change<span class="nhsuk-u-visually-hidden"> details for Teo Li</span></a>'
      }
    ]
  ]
}) }}

{{ pagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#",
      current: true
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    },
    {
      number: 4,
      href: "#"
    },
    {
      number: 5,
      href: "#"
    },
    {
      number: 6,
      href: "#"
    }
  ]
}) }}
