{% from "card/macro.njk" import card %}

{{ card({
  imgURL: "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
  href: "#",
  clickable: "true",
  heading: "Exercise",
  headingClasses: "nhsuk-heading-m",
  description: "Programmes, workouts and tips to get you moving and improve your fitness and wellbeing"
}) }}
