{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    },
    {
      href: "/service-manual/design-system",
      text: "Design system"
    }
  ],
  href: "/service-manual/design-system/components",
  text: "Components"
}) }}
