{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/design-system",
      text: "Design system"
    }
  ],
  href: "/design-system/components",
  text: "Components",
  classes: "app-breadcrumb"
}) }}
