{% set pageTitle = 'Images' %}
{% set pageSection = 'Components' %}
{% set pageDescription = 'Use images only if there is a real user need. Avoid unnecessary decoration.' %}
{% set theme = 'Content presentation' %}

{% extends 'includes/app-layout.njk' %}

{% block breadcrumb %}
  {% include 'design-system/components/_breadcrumb.njk' %}
{% endblock %}

{% block bodyContent %}

  {{ designExample({
    type: 'images'
  }) }}

  <h2>When to use images</h2>
  <p>Informative images that meet real user needs can be very important on health services - especially where they help users identify specific health problems and get the treatment they need.</p>
  <p>We've also found users with some access needs (such as dyslexia) navigate health information (conditions and treatment) pages through images. Images help them orient themselves and they separate out the content.</p>
  <p>But having unnecessary or decorative images can frustrate users, especially on information pages or transactional journeys.</p>
  <p>We are working on more guidance about when to use images. We expect to publish it in spring 2019.</p>

  <h2>How to use images</h2>
  <p>The image component is made up of 2 elements - the image and caption - in a white box.</p>
  <p>Images should flow with the text content, not appear too prominent or isolated.</p>
  <p>We recommend stacking images. We've found that gallery views (images side by side) confuse users.</p>

  <h3>Accessibility</h3>
  <p><a href="https://www.w3.org/TR/WCAG20-TECHS/H37.html">Follow W3C's guidance on making images accessible</a>. Images must have text alternatives that describe the information or function they represent. This makes sure that people with disabilities can understand them.</p>
  <p>Don't use images that have words in them, because screen readers won't be able to read the words.</p>
  <p>When using an image (or the img element), specify a text alternative with the alt attribute. Alternative text, or alt text, is read out by screen readers or displayed if an image does not load or if images have been switched off. Follow the <a href="https://design-system.service.gov.uk/styles/images/#alternative-text">guidance on alternative text in the GOV.UK Design System.</a>

  <h2>Research</h2>
  <p>In testing we found gallery views (images side by side) confused users. Users either missed the images in the right hand column or they didn't know how to interpret the sequence. To get around this we recommend stacking images.</p>
  <p>We also found that users clicked images in gallery views, expecting them to appear larger in a pop-up modal. When we increased the size of the images and stacked them in 1 column (not 2), we didn't see anyone clicking on them to expand them.</p>
  <p>We tested images on the <a href="https://www.nhs.uk/conditions/chickenpox/">chickenpox</a> page on nhs.uk in 2018. They tested well and all users said that the images helped them understand the symptoms.</p>

  <h2>Discuss</h2>
  <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/28">Discuss images on GitHub</a></p>

  <h2>Get in touch</h2>
  <p>If you have a question:</p>
  <ul>
    <li>join the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE">NHS.UK service manual Slack workspace</a></li>
    <li>email <a href="mailto: service-manual@nhs.net">service-manual@nhs.net</a></li>
  </ul>

  <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: February 2019</p>
  </div>

  {{ panel({
  "label": "Similar components",
  "HTML": "<ul>
            <li><a href='/service-manual/styles-components-patterns/care-cards'>Care cards</a></li>
            <li><a href='/service-manual/styles-components-patterns/do-and-dont-list'>Do and Don't lists</a></li>
            <li><a href='/service-manual/styles-components-patterns/inset-text'>Inset text</a></li>
            <li><a href='/service-manual/styles-components-patterns/table'>Table</a></li>
            <li><a href='/service-manual/styles-components-patterns/warning-callout'>Warning callout</a></li>
          </ul>"
  }) }}

{% endblock %}
