{% set pageTitle = 'Components' %}
{% set pageDescription = 'Components are reusable parts of the user interface that have been made to support a variety of applications.' %}
{% set pageSection = 'Components' %}
{% set noFollow = true %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

<p>Individual components can be used in multiple different patterns and contexts. For example, the text input component can be used to ask for an email address, a NHS number or someone’s name.</p>

<p>If you are using the NHS.UK prototype kit or have NHS.UK frontend included in your build, the coded examples provided will render exactly as they do inside the service manual.</p>

{% endblock %}
