{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Components" %}
{% set pageDescription = "Components are reusable elements of the user interface." %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "design-system/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>You can use individual components in different patterns and contexts. For example, you can use the <a href="/design-system/components/text-input">text input</a> component to ask for an email address, an <a href="/design-system/patterns/ask-for-nhs-numbers">NHS number</a> or someone’s name.</p>

  <p>If you are using the <a href="https://prototype-kit.service-manual.nhs.uk">NHS.UK prototype kit</a> or have the <a href="https://github.com/nhsuk/nhsuk-frontend">NHS.UK frontend library</a> included in your build, the coded examples for each component will render exactly as they do in the service manual.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
