{% set pageTitle = 'Components' %}
{% set pageDescription = 'Components are reusable parts of the user interface that have been made to support a variety of applications.' %}
{% set pageSection = 'Components' %}
{% set theme = 'Design' %}

{% extends 'includes/app-layout.njk' %}

{% block breadcrumb %}
  {% include 'design-system/_breadcrumb.njk' %}
{% endblock %}

{% block bodyContent %}

  <p>Individual components can be used in multiple different patterns and contexts. For example, the <a href="/service-manual/design-system/components/text-input">text input</a> component can be used to ask for an email address, a <a href="/service-manual/design-system/patterns/nhs-number">NHS number</a> or someone’s name.</p>

  <p>If you are using the <a href="https://nhsuk-prototype-kit.azurewebsites.net/docs">NHS.UK prototype kit</a> or have the <a href="https://github.com/nhsuk/nhsuk-frontend">NHS.UK frontend</a>  included in your build, the coded examples provided will render exactly as they do inside the service manual.</p>

  <div class="app-index-navigation app-hide-desktop">
    {% include 'includes/side-nav.njk' %}
  </div>

{% endblock %}
