{% extends "layouts/app-layout-two-thirds.njk" %}

{% set pageTitle = "Accessibility statement" %}
{% set pageDescription = "We aim to make the NHS digital service manual as accessible and easy to use as possible." %}
{% set dateUpdated = "April 2026" %}

{% block bodyContent %}

<p>This accessibility statement applies to the service manual website, its guidance and the code in its components and patterns. The website and the code have been tested for accessibility, including with users with access needs.</p>
<p>Before publishing new components and patterns in the design system in the service manual, we:</p>
<ul>
  <li>design and build to WCAG 2.2 AA standard (and in some cases AAA)</li>
  <li>check that components and patterns work on the most commonly used assistive technologies</li>
  <li>run automated accessibility testing and fix any issues we identify</li>
  <li>include people with access needs in user research and expect teams who contribute components and patterns to do this</li>
</ul>
<h2>Compliance status</h2>
<p>The website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard [dependent on latest audit findings].</p>

<h2>Non-accessible content</h2>

<p>The service manual includes 7 PDFs:</p>
<ul>
  <li>a PDF of the design principles</li>
  <li>6 PDFs of accessibility posters</li>
</ul>
<p>The same content is, however, also available in HTML format.</p>

<h2>Preparation of this accessibility statement</h2>
<p>We first published this statement in 2019.</p>
<p>We have updated it after:</p>
<ul>
  <li>Dig Inclusion carried out an expert independent audit of the whole website in March 2024</li>
  <li>Dig Inclusion audited new components and patterns in March 2026 [update when we have latest audit findings]</li>
</ul>

<p>We last reviewed the statement in [TBC April 2026?].</p>

<h2>Feedback and contact information</h2>
<p>Please <a href="/get-in-touch">get in touch</a> if you:</p>
<ul>
  <li>have any questions about the accessibility of this website</li>
  <li>want to report any problems with its accessibility</li>
</ul>
<p>We aim to respond within 5 working days.</p>
<p>You can also <a href="/community-and-contribution/feed-back-or-share-insights">feed back or share insights</a> via our GitHub community backlog.</p>

<h2>Enforcement procedure</h2>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a> (the "accessibility regulations").</p>
<p>If you complain to us and are not happy with how we respond, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>


  
{% endblock %}
