{% extends "layouts/app-layout-two-thirds.njk" %}

{% set pageTitle = "Accessibility statement" %}
{% set pageDescription = "We aim to make the NHS digital service manual as accessible and easy to use as possible." %}
{% set dateUpdated = "April 2026" %}

{% block bodyContent %}

<p>NHS England is committed to making the NHS digital service manual accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<p>This accessibility statement applies to the service manual website, its guidance and the code in its components and patterns.</p>

<h2>How accessible this website is</h2>
<p>The website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard.</p>

<h2>What we're doing to improve accessibility</h2>
<p>Before publishing new components and patterns in the design system in the service manual, we:</p>
<ul>
  <li>design and build to WCAG 2.2 AA standard (and in some cases AAA)</li>
  <li>check that components and patterns work on the most commonly-used assistive technologies</li>
  <li>run automated accessibility testing and fix any issues we identify</li>
  <li>include people with access needs in user research and expect teams who contribute components and patterns to do this</li>
</ul>

<h2>Preparation of this accessibility statement</h2>
<p>We first published this statement in 2019.</p>
<p>We updated it after our accessibility auditors Dig Inclusion carried out an expert independent assessment of the whole website in March 2024.</p>
<p>We last reviewed and updated the statement in March 2026 when Dig Inclusion audited new components and patterns against the WCAG 2.2 AA standard. (<a href="https://alpha.hugr.app/view/becd7a">The latest service manual audit report from Dig Inclusion is available on HUGR</a>.)</p>

<h2>Feedback and contact information</h2>
<p>Please <a href="/get-in-touch">get in touch</a> if you:</p>
<ul>
  <li>have any questions about the accessibility of this website</li>
  <li>want to report any problems with its accessibility</li>
</ul>
<p>We aim to respond within 5 working days.</p>
<p>You can also <a href="/community-and-contribution/feed-back-or-share-insights">feed back or share insights</a> via our GitHub community backlog.</p>

<h2>Enforcement procedure</h2>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a> (the "accessibility regulations").</p>
<p>If you complain to us and are not happy with how we respond, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

{% endblock %}
