{% set pageTitle = 'Contribute' %}
{% set pageDescription = 'Help to grow and improve the digital service manual.' %}

{% extends 'includes/layout.njk' %}
{% from 'components/inset-text/macro.njk' import insetText %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">{{pageDescription}}</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>How to contribute</h2>
    <p>Find out how to:</p>
    <ul>
      <li><a href="/service-manual/contribute/propose-new-thing">propose a new thing that's not in the backlog</a></li>
      <li><a href="/service-manual/contribute/work-new-thing">work on something in the backlog</a></li>
    </ul>

    <h2>Community backlog</h2>
    <p>The service manual is for everyone who makes digital products and services in the NHS. Anyone can propose, contribute, and work on new things.</p>
    <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog">Go to the community backlog</a></p>
    </div>

    <h2 class="nhsuk-u-margin-top-6">Contribution criteria</h2>
    <p>To make sure everything in the service manual is of high quality, contributions need to meet the following <a href="/service-manual/contribute/criteria">criteria</a>.</p>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: February 2019</p>
    </div>
  </div>
</div>
{% endblock %}
