{% extends 'includes/layout.njk' %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}



{% block body %}

{{ breadcrumb({ 
  href: "/index",
  text: "Home"
}) }}



<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-5">NHS.UK frontend library</h1>
        <p class="nhsuk-body-l">Production code to start building user interfaces for the NHS.</p>
      </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-8">
      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/frontend/install">
Install</a></h2>
        <p>Get started straight away.</p>
      </div>

      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/docs/contributing">Contribute code</a></h2>
          <p>How to contribute code back to the NHS.UK frontend on GitHub.</p>   
      </div>

    </div>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
										
        <h2>What is a frontend library?</h2>

        <p>We've made our production code available to NHS developers and designers in a "frontend library". The code in the library will help you build accessible websites with an NHS look and feel. You'll also get tested components and patterns.</p>
        <p>Our <a href="https://github.com/nhsuk/nhsuk-frontend">frontend library</a> is in GitHub. You need to sign up to GitHub to use it.</p>


        <h2 class="nhsuk-u-margin-top-8">Get in touch</h2>

        <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/docs/contributing">contribute</a> code via GitHub.</p>
        <p>And you can contact us on the <a href="https://nhsuk.slack.com/messages/standards">NHSUK #standards Slack channel</a> or email the standards team at service-manual@nhs.net.</p>

        {% from 'components/review-date/macro.njk' import reviewDate %}

        {{ reviewDate({
          "lastReview": "January 2019"
        }) }}

    </div>
  </div>



    


    <div class="nhsuk-grid-column-one-thirds">

    </div>


  </div>      


  </main>
</div>
{% endblock %}
