{% set pageTitle = 'Frontend library' %}
{% set pageDescription = 'The code you need to start building user interfaces for NHS websites and services' %}

{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l">{{pageDescription}}</p>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-8">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
      <a href="https://github.com/nhsuk/nhsuk-frontend">Frontend library on GitHub</a>
    </h2>
    <p>Use the code and contribute to it.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
    <h2>About the NHS.UK frontend library</h2>
    <p>The frontend library contains the production code for NHS.UK. We've made it public in an open code "repository" in GitHub.</p>

    <h3>Why use the frontend library?</h3>
    <p>It will help you build responsive websites with a consistent NHS look and feel. It saves you duplicating effort and should help you build services faster, saving the NHS money.</p>

    <h3>What are the advantages of this code?</h3>
    <p>The code you get is:</p>
    <ul>
      <li><strong>high quality</strong> - it's been checked by the <a href="https://gds.blog.gov.uk/about/">Government Digital Service</a> and industry CSS experts</li>
      <li><strong>user centred</strong> - it's designed to meet user needs and tested with real users</li>
      <li><strong>well designed</strong> - it reflects the NHS brand and values</li>
      <li><strong>accessible</strong> - it meets WCAG AA standard and AAA where possible</li>
      <li><strong>tested</strong> - across different browsers and devices</li>
      <li><strong>modern</strong> - it's built with HTML5 semantics</li>
      <li><strong>responsive</strong> - with a mobile-first design</li>
      <li><strong>robust</strong> - it has browser support for earlier versions and no-js fallbacks</li>
      <li><strong>modular</strong> - you choose the components you need</li>
      <li><strong>versioned</strong> - you only need to upgrade when you're ready</li>
      <li><strong>optimised</strong> - so that pages load quickly</li>
      <li><strong>open source</strong> - we share our learning and are transparent in our decisions</li>
      <li><strong>up-to-date and supported</strong> - it's maintained by developers working on the NHS website and continuously improved by a community of people committed to sharing quality code in the NHS</li>
    </ul>

    <h2>Get in touch</h2>
    <p>You can <a href="https://github.com/nhsuk/nhsuk-frontend/blob/master/CONTRIBUTING.md">contribute</a> code via GitHub.</p>
    <p>And you can contact us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS.UK service manual Slack workspace</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net.</a></p>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: January 2019</p>
    </div>
  </div>
</div>
{% endblock %}
