{% set pageTitle = "Get in touch" %}
{% set pageDescription = "If you’ve got a question, idea or suggestion get in touch with the service manual team." %}
{% set dateUpdated = "July 2020" %}

{% extends "includes/app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <h2>Slack</h2>
  <p>Use the <a class="app-contact-panel__link" href="https://nhs-service-manual.slack.com/join/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE" rel="nofollow">#general channel in the service manual public Slack workspace.</a></p>

  <h2>Email</h2>
  <p>Email the service manual team on <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

{% endblock %}
