{% set pageTitle = "Get in touch" %}
{% set pageDescription = "If you’ve got a question, idea or suggestion, get in touch with the service manual team." %}
{% set dateUpdated = "July 2021" %}

{% extends "includes/app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <h2>Slack</h2>
  <p>Use the <a class="app-contact-panel__link" href="/slack">#general channel in the service manual public Slack workspace.</a></p>

  <h2>Email</h2>
  <p>Email the service manual team on <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

{% endblock %}
