{% extends "layouts/layout.njk" %}

{% set pageDescription = "Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first." %}
{% set pageLayout = "Homepage" %}

{% block beforeContent %}{% endblock %}

{% block main %}
<main id="maincontent" role="main">

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-4">Design and build NHS digital services for the public and staff</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Use the service manual to build consistent, usable services that put people first. Learn from the research and experience of other NHS teams.</p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third app-latest-update">
          {% call card({
            heading: "What's new",
            headingSize: "m",
            href: "/whats-new",
            classes: "app-card--transparent nhsuk-u-margin-0"
          }) %}
            <p class="nhsuk-card__description">We've added a <a href="/design-system/components/file-upload">file upload component</a>, an <a href="/design-system/patterns/interruption-page">interruption page</a>, and updated the <a href="/standards-and-technology/service-standard">NHS service standard</a>, especially points 16 and 17.</p>
          {% endcall %}
        </div>
      </div>
    </div>
  </section>

  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          {% call card({
            clickable: true
          }) %}
              {{ tag({
                text: "Version 10",
                classes: "nhsuk-tag--blue nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3"
              }) }}

              <h2 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-display-inline-block nhsuk-u-font-weight-normal">Design system and NHS.UK frontend library updated: <a href="/design-system/guides/updating-to-v10">see our update guide</a></h2>
          {% endcall %}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            heading: "Standards and technology",
            headingSize: "m",
            description: "Check you're working to best practice from the start",
            href: "/standards-and-technology",
            clickable: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            heading: "Design system",
            headingSize: "m",
            description: "Build consistent, accessible user interfaces",
            href: "/design-system",
            clickable: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            heading: "Content guide",
            headingSize: "m",
            description: "How to create content for digital NHS services",
            href: "/content",
            clickable: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            heading: "Accessibility",
            headingSize: "m",
            description: "Make NHS services accessible for everyone",
            href: "/accessibility",
            clickable: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            heading: "Design principles",
            headingSize: "m",
            description: "These principles guide all of our design",
            href: "/design-system/design-principles",
            clickable: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            heading: "Community and contribution",
            headingSize: "m",
            description: "Help grow and improve the service manual",
            href: "/community-and-contribution",
            clickable: true
          }) }}
        </li>
      </ul>
      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h2>Support</h2>
          <p>The manual is maintained by the <a href="/service-manual-team">service manual team at NHS England</a>. If you've got a question or want to feed back, you can <a href="/get-in-touch">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
