{% extends "layouts/layout.njk" %}

{% set pageDescription = "Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first." %}
{% set pageLayout = "Homepage" %}

{% block beforeContent %}{% endblock %}

{% block main %}
<main id="maincontent" role="main">

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-4">Design and build digital services for the NHS</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Use the service manual to build consistent, usable services that put people first. Learn from the research and experience of other NHS teams.</p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third app-latest-update">
          <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/whats-new">What's new</a></h2>
              <p class="nhsuk-card__description">We've added guidance on the risks of using <a href="/design-system/components/textarea">textarea</a>, and a pattern to <a href="/design-system/patterns/find-bsl-content">help users find British Sign Language content</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3">
                Version 10
              </strong>
              <h2 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-display-inline-block nhsuk-u-font-weight-normal">Design system and NHS.UK frontend library updated: <a href="/design-system/guides/updating-to-v10">see our update guide</a></h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/standards-and-technology">Standards and technology</a></h2>
              <p class="nhsuk-card__description">Check you're working to best practice from the start</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system">Design system</a></h2>
              <p class="nhsuk-card__description">Build consistent, accessible user interfaces</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/content">Content guide</a></h2>
              <p class="nhsuk-card__description">How to create content for digital NHS services</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/accessibility">Accessibility</a></h2>
              <p class="nhsuk-card__description">Make NHS services accessible for everyone</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/design-principles">Design principles</a></h2>
              <p class="nhsuk-card__description">These principles guide all of our design</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/community-and-contribution">Community and contribution</a></h2>
              <p class="nhsuk-card__description">Help grow and improve the service manual</p>
            </div>
          </div>
        </li>
      </ul>
      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h2>Support</h2>
          <p>The manual is maintained by the <a href="/service-manual-team">service manual team at NHS England</a>. If you've got a question or want to feed back, you can <a href="/get-in-touch">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
