{% set pageDescription = "Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first." %}
{% set pageLayout = "Homepage" %}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

<main id="maincontent" role="main">

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-4">Design and build digital services for the NHS</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Use the service manual to build consistent, usable services that put people first.​ Learn from the research and experience of other NHS teams.</p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third app-latest-update">
          <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/whats-new">What's new</a></h2>
              <p class="nhsuk-card__description">In July 2021 we added a <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">feedback survey</a> to the site. Please let us know what you think.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></h2>
              <p class="nhsuk-card__description">Make content about health easy to understand</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/guidance-by-topic/accessibility">Accessibility</a></h2>
              <p class="nhsuk-card__description">Make NHS services accessible for everyone</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/community-and-contribution/backlog-of-components-and-patterns">Backlog of components and patterns</a></h2>
              <p class="nhsuk-card__description">A shared backlog to contribute research and experience</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/components">Components</a></h2>
              <p class="nhsuk-card__description">Reusable elements of the user interface</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/design-principles">Design principles</a></h2>
              <p class="nhsuk-card__description">These principles guide all of our design</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/content/formatting-and-punctuation">Formatting and punctuation</a></h2>
              <p class="nhsuk-card__description">How to style content about health</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/guidance-by-topic/information-architecture">Information architecture</a></h2>
              <p class="nhsuk-card__description">Improve the information architecture (IA) of your content and services</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/patterns">Patterns</a></h2>
              <p class="nhsuk-card__description">Improve navigation and help users complete tasks</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/styles">Styles</a></h2>
              <p class="nhsuk-card__description">Make your service look like other NHS services</p>
            </div>
          </div>
        </li>
      </ul>
      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2>Feedback</h2>
          <p>Let us know about your visit to the service manual today by filling in <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">our survey on the Qualtrics website</a>.</p>
          <h2>Support</h2>
          <p>The manual is maintained by the <a href="/service-manual-team">service manual team at NHS Digital</a>. If you've got a question or want to feedback, you can <a href="/get-in-touch">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
