{% extends "layouts/app-layout-two-thirds.njk" %}

{% set pageTitle = "We cannot find the page you’re looking for" %}
{% set hideDescription = true %}
{% set disableSearch = true %}

{% block bodyContent %}

  <p>Please check the web address to make sure it was correct.</p>
  <p>You can also browse the <a href="/">service manual homepage</a> or <a href="/search">search the service manual</a> for the information you need.</p>
  <p>If you think this link is broken, please get in touch on the <a href="/slack">NHS digital service manual Slack workspace</a> or email the service manual team at <a href="mailto:england.service-manual@nhs.net">england.service-manual@nhs.net</a>.</p>

{% endblock %}
