{% set pageTitle = 'Page not found' %}

{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>{{pageTitle}}</h1>
    <p>Return to the <a href="/">NHS digital service manual homepage</a>.</p>
  </div>
</div>
{% endblock %}
