{% extends "layouts/app-layout-two-thirds.njk" %}

{% set pageTitle = "We cannot find the page you're looking for" %}
{% set hideDescription = true %}
{% set disableSearch = true %}

{% block bodyContent %}

    <p>If you typed or pasted the web address, check it's correct.</p>
    <p>If the web address is correct or you selected a link or button, it could be a technical problem.</p>
    <p>Try:</p>
    <ul> 
      <li>going to the <a href="/">service manual homepage</a></li>
      <li><a href="/search">searching</a> for the information you need</li>
    </ul>
    <p>If you think this link is broken, please get in touch:</p>
    <ul>
      <li>on the <a href="/slack">NHS digital service manual Slack workspace</a></li>
      <li>by emailing <a href="mailto:england.service-manual@nhs.net">england.service-manual@nhs.net</a></li>
    </ul>

{% endblock %}