{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Prototyping tools</h1>
    <p class="nhsuk-body-l">Build prototypes or mockups quickly to show people and test with users.</p>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-8">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
      <a href="https://github.com/nhsuk/nhsuk-prototype-kit">NHS.UK prototype kit in GitHub</a>
    </h2>
    <p>Build interactive prototypes that look like NHS.UK (in development)</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
      <a href="https://github.com/nhsuk/nhsuk-sketch-file">NHS.UK Sketch file in GitHub</a>
    </h2>
    <p>Mock up NHS services faster.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
    <h2>What are the prototyping kit and Sketch?</h2>
    <p>The NHS.UK prototyping kit will help you make realistic interactive HTML prototypes with tried and tested components and styles.</p>
    <p>Anything you build with the kit will look like NHS.UK, but it won’t have production code. If you want production code, use the <a href="/service-manual/frontend-library">NHS.UK frontend library</a> instead.</p>
    <p><a href="https://www.sketchapp.com/">Sketch</a> is a design tool. You can use the NHS.UK Sketch file to create static mockups to test with users.</p>
    <h2>What is GitHub?</h2>
    <p><a href="https://github.com/">GitHub</a> is a platform which allows us to publish and collaborate on code. Anyone can use GitHub but you need to sign up to it.</p>
    <h2>Get in touch</h2>
    <p>Join us on the <a href="https://nhsuk.slack.com/messages/standards">NHS digital service manual Slack workspace</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: <time>January 2019</time></p>
    </div>

  </div>
</div>
{% endblock %}
