{% extends 'includes/layout.njk' %}

{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Prototyping tools</h1>
    <p class="nhsuk-body-l">Build prototypes quickly to show people and test with users.</p>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-8">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
      <a href="https://github.com/nhsuk/nhsuk-prototype-kit">Download the NHS.UK prototype kit</a>
    </h2>
    <p>Build interactive prototypes that look like <a href="https://nhs.uk">NHS.UK</a></p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
      <a href="https://github.com/nhsuk/nhsuk-sketch-file">Download the NHS.UK Sketch files on GitHub</a>
    </h2>
    <p>Mock up NHS services faster.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
    <h2>What is the prototype kit?</h2>
    <p>It’s a collection of HTML files and templates that will help you build prototypes of services with an NHS look and feel. It will help you create something quickly that you can test so you can improve your ideas.</p>
    <p>Prototyping in code will help you make realistic, accessible interactive HTML prototypes that can be accessed on multiple devices.</p>
    <p>Anything you build with the kit will look like <a href="https://nhs.uk">NHS.UK</a>, but it won’t have production code. If you want production code, use the <a href="/service-manual/frontend-library">NHS.UK frontend library</a> instead.</p>
    <h2>Sketch file</h2>
    <p><a href="https://www.sketchapp.com/">Sketch</a> is a design tool. You can use the NHS.UK Sketch file to create static mockups to test with users.
    <h2>Get in touch</h2>
    <p>Join us on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLWUwOWM5MWY5MGRhYTYxZmY4ZWI0NDA1N2NhNTRiMGY3MTQxNjk5YTc3ZTAzMTA4YmE3ZDAxYmQ3MTQxNDgzOTQ">NHS digital service manual Slack workspace</a> or email the standards team at <a href="mailto:service-manual@nhs.net">service-manual@nhs.net</a>.</p>

    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: <time>January 2019</time></p>
    </div>

  </div>
</div>
{% endblock %}
