{% set pageTitle = "Service manual team" %}
{% set pageDescription = "The service manual team at NHS Digital maintains the service manual." %}
{% set dateUpdated = "July 2021" %}

{% extends "includes/app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <p>If you want to contact the team you can <a href="/get-in-touch">get in touch via email or Slack</a>.</p>

  <h2>Members</h2>

  <ul>
    <li>Adam Chrimes – Senior Frontend Developer</li>
    <li>Amy James – User Researcher</li>
    <li>Catherine Reader - Graduate Product Manager</li>
    <li>Dominic Baker – Junior Software Engineer</li>
    <li>Ellen Doyle – Delivery Manager</li>
    <li>Georgina Platt – Product Manager</li>
    <li>Indu Kaila – User Researcher</li>
    <li>Karl Goldstraw – Senior Designer</li>
    <li>Mohammed Meah – Lead Delivery Manager</li>
    <li>Nancy Halladay – Graduate Interaction Designer</li>
    <li>Sara Wilcox – Content Designer</li>
    <li>Tom Robinson – Apprentice Developer</li>
  </ul>

{% endblock %}
