{% set pageTitle = "Service manual team" %}
{% set pageDescription = "The service manual team at NHS England maintains the service manual." %}
{% set dateUpdated = "April 2023" %}

{% extends "includes/app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <p>If you want to contact the team, you can <a href="/get-in-touch">get in touch via email or Slack</a>.</p>


  <ul>
    <li>Dan Barker – Delivery Manager</li>
    <li>Molly Lee – Product Manager</li>
    <li>Sara Wilcox – Content Designer</li>
  </ul>

  <h2>Update (January 2023)</h2>
  <p>The service manual team is still running a reduced service, so that we can support other NHS.UK projects and while we firm up plans for 2023 with our stakeholders across the NHS.</p>
  <p>We are open to contributions from the community as usual.</p>

{% endblock %}
