{% set pageTitle = "Service manual team" %}
{% set pageDescription = "The service manual team at NHS England maintains the service manual." %}
{% set dateUpdated = "September 2024" %}

{% extends "includes/app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <p>If you want to contact the team, you can <a href="/get-in-touch">get in touch via email or Slack</a>.</p>


  <ul>
    <li>Ananda Maryon – Senior Interaction Designer</li>
    <li>Laura Driver – Senior User Researcher</li>
    <li>Sara Wilcox – Senior Content Designer</li>
  </ul>

  <h2>Update (September 2024)</h2>
  <p>We are now putting together a new service manual team as part of NHS England's Central User-Centred Design team.</p>
  <p>We're open to contributions from the community as usual.</p>

{% endblock %}
