{% set pageTitle = 'Sitemap' %}
{% set pageDescription = 'A list of pages on this website - with links' %}

{% extends 'includes/layout.njk' %}

{% block body %}
    <h1>{{pageTitle}}</h1>
    <ul>
      <li><a href="/service-manual/">Home</a></li>
      <li><a href="/service-manual/design-principles">Design principles</a></li>
      <li><a href="/service-manual/look-and-feel">Look and feel</a></li>
      <li><a href="/service-manual/styles-components-patterns">User interface styles, components and patterns</a></li>
      <ul>
        <li><a href="/service-manual/styles-components-patterns/action-link">Action link</a></li>
        <li><a href="/service-manual/styles-components-patterns/breadcrumbs">Breadcrumbs</a></li>
        <li><a href="/service-manual/styles-components-patterns/care-cards">Care cards</a></li>
        <li><a href="/service-manual/styles-components-patterns/do-and-dont-lists">Do and Don't lists</a></li>
        <li><a href="/service-manual/styles-components-patterns/footer">Footer</a></li>
        <li><a href="/service-manual/styles-components-patterns/header">Header</a></li>
        <li><a href="/service-manual/styles-components-patterns/icons">Icons</a></li>
        <li><a href="/service-manual/styles-components-patterns/inset-text">Inset text</a></li>
        <li><a href="/service-manual/styles-components-patterns/warning-callout">Warning callout</a></li>
      </ul>
      <li><a href="/service-manual/content-style-guide">Content style guide</a></li>
      <ul>
        <li><a href="/service-manual/content/how-we-write">How we write</a></li>
        <li><a href="/service-manual/content/voice-and-tone">Voice and tone</a></li>
        <li><a href="/service-manual/content/inclusive-language">Inclusive language</a></li>
        <li><a href="/service-manual/content/writing-for-accessibility">Writing for accessibility</a></li>
        <li><a href="/service-manual/content/formatting-and-punctuation">Formatting and punctuation</a></li>
        <li><a href="/service-manual/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></li>
        <li><a href="/service-manual/content/links-and-pdfs">Links and pdfs</a></li>
      </ul>
      <li><a href="/service-manual/practices">Practices</a></li>
      <ul>
        <li><a href="/service-manual/practices/make-your-service-accessible">Make your service accessible</a></li>
      </ul>
      <li><a href="/service-manual/contribute"></a>Contribute</li>
      <li><a href="/service-manual/contribute/user-survey">User survey</li>
      <li><a href="/service-manual/cookies">Cookies</a></li>
      <li><a href="/service-manual/privacy-policy">Privacy policy</a></li>
      <li><a href="/service-manual/terms-and-conditions">Terms and conditions</a></li>
    </ul>
{% endblock %}
