{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "June 2021" %}

{% extends "includes/app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/service-standard">NHS service standard</a>
      <ul class="nhsuk-u-nested-list">
        <li><a href="/service-standard/about">About the NHS service standard</a></li>
        <li><a href="/service-standard/1-understand-users-and-their-needs-context-health-and-care">1. Understand users and their needs in the context of health and care</a></li>
        <li><a href="/service-standard/2-and-3-work-towards-solving-a-whole-problem-and-provide-a-joined-up-experience">2. and 3. Work towards solving a whole problem and provide a joined up experience</a></li>
        <li><a href="/service-standard/4-make-the-service-simple-to-use">4. Make the service simple to use</a></li>
        <li><a href="/service-standard/5-make-sure-everyone-can-use-the-service">5. Make sure everyone can use the service</a></li>
        <li><a href="/service-standard/6-create-a-team-that-includes-multidisciplinary-skills-and-perspectives">6. Create a team that includes multidisciplinary skills and perspectives</a></li>
        <li><a href="/service-standard/7-use-agile-ways-of-working">7. Use agile ways of working</a></li>
        <li><a href="/service-standard/8-iterate-and-improve-frequently">8. Iterate and improve frequently</a></li>
        <li><a href="/service-standard/9-respect-and-protect-users-confidentiality-and-privacy">9. Respect and protect users’ confidentiality and privacy</a></li>
        <li><a href="/service-standard/10-define-what-success-looks-like-and-be-open-about-how-your-service-is-performing">10. Define what success looks like and be open about how your service is performing</a></li>
        <li><a href="/service-standard/11-choose-the-right-tools-and-technology">11. Choose the right tools and technology</a></li>
        <li><a href="/service-standard/12-make-new-source-code-open">12. Make new source code open</a></li>
        <li><a href="/service-standard/13-use-and-contribute-to-open-standards-common-components-and-patterns">13. Use and contribute to open standards, common components and patterns</a></li>
        <li><a href="/service-standard/14-operate-a-reliable-service">14. Operate a reliable service</a></li>
        <li><a href="/service-standard/15-support-a-culture-of-care">15. Support a culture of care</a></li>
        <li><a href="/service-standard/16-make-your-service-clinically-safe">16. Make your service clinically safe</a></li>
        <li><a href="/service-standard/17-make-your-service-interoperable">17. Make your service interoperable</a></li>
      </ul>
    </li> 
    <li>
      <a href="/design-system">Design system</a>
      <ul class="nhsuk-u-nested-list">
        <li><a href="/design-system/design-principles">Design principles</a></li>
        <li><a href="/design-system/production">Production code</a></li>
        <li><a href="/design-system/prototyping">Prototyping</a></li>
        <li><a href="/design-system/styles">Styles</a>
          <ul class="nhsuk-u-nested-list">
            <li><a href="/design-system/styles/colour">Colour</a></li>
            <li><a href="/design-system/styles/focus-state">Focus state</a></li>
            <li><a href="/design-system/styles/icons">Icons</a></li>
            <li><a href="/design-system/styles/layout">Layout</a></li>
            <li><a href="/design-system/styles/page-template">Page template</a></li>
            <li><a href="/design-system/styles/spacing">Spacing</a></li>
            <li><a href="/design-system/styles/typography">Typography</a></li>
          </ul>
        </li>
        <li><a href="/design-system/components">Components</a>
          <ul class="nhsuk-u-nested-list">
            <li><a href="/design-system/components/action-link">Action link</a></li>
            <li><a href="/design-system/components/back-link">Back link</a></li>
            <li><a href="/design-system/components/breadcrumbs">Breadcrumbs</a></li>
            <li><a href="/design-system/components/buttons">Buttons</a></li>
            <li><a href="/design-system/components/card">Card</a></li>
            <li><a href="/design-system/components/care-cards">Care cards</a></li>
            <li><a href="/design-system/components/checkboxes">Checkboxes</a></li>
            <li><a href="/design-system/components/contents-list">Contents list</a></li>
            <li><a href="/design-system/components/date-input">Date input</a></li>
            <li><a href="/design-system/components/details">Details</a></li>
            <li><a href="/design-system/components/do-and-dont-lists">Do and Don't lists</a></li>
            <li><a href="/design-system/components/error-message">Error message</a></li>
            <li><a href="/design-system/components/error-summary">Error summary</a></li>
            <li><a href="/design-system/components/expander">Expander</a></li>
            <li><a href="/design-system/components/fieldset">Fieldset</a></li>
            <li><a href="/design-system/components/footer">Footer</a></li>
            <li><a href="/design-system/components/header">Header</a></li>
            <li><a href="/design-system/components/hint-text">Hint text</a></li>
            <li><a href="/design-system/components/images">Images</a></li>
            <li><a href="/design-system/components/inset-text">Inset text</a></li>
            <li><a href="/design-system/components/pagination">Pagination</a></li>
            <li><a href="/design-system/components/radios">Radios</a></li>
            <li><a href="/design-system/components/select">Select</a></li>
            <li><a href="/design-system/components/skip-link">Skip link</a></li>
            <li><a href="/design-system/components/summary-list">Summary list</a></li>
            <li><a href="/design-system/components/table">Table</a></li>
            <li><a href="/design-system/components/tag">Tag</a></li>
            <li><a href="/design-system/components/text-input">Text input</a></li>
            <li><a href="/design-system/components/textarea">Textarea</a></li>
            <li><a href="/design-system/components/warning-callout">Warning callout</a></li>
          </ul>
        </li>
        <li><a href="/design-system/patterns">Patterns</a>
          <ul class="nhsuk-u-nested-list">
            <li><a href="/design-system/patterns/ask-users-for-their-nhs-number">Ask users for their NHS number</a></li>
            <li><a href="/design-system/patterns/a-to-z-page">A to Z</a></li>
            <li><a href="/design-system/patterns/mini-hub">Mini-hub</a></li>
            <li><a href="/design-system/patterns/reassure-users-that-a-page-is-up-to-date">Reassure users that information is up-to-date</a></li>
            <li><a href="/design-system/patterns/start-page">Start page</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="/content">Content style guide</a>
      <ul class="nhsuk-u-nested-list">
        <li><a href="/content/how-we-write">How we write</a></li>
        <li><a href="/content/voice-and-tone">Voice and tone</a></li>
        <li><a href="/content/inclusive-language">Inclusive language</a></li>
        <li><a href="/content/make-content-about-skin-symptoms-more-inclusive">Make content about skin symptoms more inclusive</a></li>
        <li><a href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></li>
        <li><a href="/content/health-literacy">Health literacy</a></li>
        <li>
          <a href="/content/how-to-write-good-questions-for-forms">How to write good questions for forms</a>
          <ul class="nhsuk-u-nested-list">
            <li><a href="/content/how-to-write-good-questions-for-forms/understand-the-problem-before-you-write-your-questions">Understand the problem before you write your questions</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question">Make sure you need each question</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions">Consider the sensitivities around your questions</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users">Use filter questions to route users</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/get-the-questions-into-order">Get the questions into order</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation">Think of the form as a conversation</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form">Write the supporting content for your form</a></li>
            <li><a href="/content/how-to-write-good-questions-for-forms/test-your-questions">Test your questions</a></li>
          </ul>
        </li>
        <li><a href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</li>
        <li><a href="/content/formatting-and-punctuation">Formatting and punctuation</a></li>
        <li><a href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></li>
        <li><a href="/content/links">Links</a></li>
      </ul>
    </li>
    <li>
      <a href="/guidance-by-topic">Guidance by topic</a>
      <ul class="nhsuk-u-nested-list">
        <li><a href="/guidance-by-topic/accessibility">Accessibility</a>
          <ul class="nhsuk-u-nested-list">
            <li><a href="/guidance-by-topic/accessibility/what-all-NHS-services-need-to-do">What all NHS services need to do about accessibility</a></li>
                <li><a href="/guidance-by-topic/accessibility/how-to-make-digital-services-accessible">How to make digital services accessible</a></li>
                <li><a href="/guidance-by-topic/accessibility/getting-started">Getting started with accessibility</a></li>
                <li><a href="/guidance-by-topic/accessibility/product-and-delivery">Product and delivery</a></li>
                <li><a href="/guidance-by-topic/accessibility/user-research">User research</a></li>
                <li><a href="/guidance-by-topic/accessibility/content">Content</a></li>
                <li><a href="/guidance-by-topic/accessibility/design">Design</a></li>
                <li><a href="/guidance-by-topic/accessibility/development">Development</a></li>
                <li><a href="/guidance-by-topic/accessibility/testing">Testing</a></li>
          </ul>
        </li>
        <li><a href="/guidance-by-topic/information-architecture">Information architecture</a>
          <ul class="nhsuk-u-nested-list">
            <li><a href="/guidance-by-topic/information-architecture/what-information-architecture-is">What information architecture is</a></li>
            <li><a href="/guidance-by-topic/information-architecture/why-information-architecture-is-important">Why information architecture is important</a></li>
            <li><a href="/guidance-by-topic/information-architecture/principles-of-information-architecture">Principles of information architecture</a></li>
            <li><a href="/guidance-by-topic/information-architecture/your-topic-in-a-wider-information-architecture">Your topic in a wider information architecture</a></li>
            <li><a href="/guidance-by-topic/information-architecture/measure-the-success-of-your-information-architecture">Measure the success of your information architecture</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="/community-and-contribution">Community and contribution</a>
      <ul class="nhsuk-u-nested-list">
        <li><a href="/community-and-contribution/backlog-of-components-and-patterns">Backlog of components and patterns</a></li>
        <li><a href="/community-and-contribution/contribution-criteria">Contribution criteria</a></li>
        <li><a href="/community-and-contribution/propose-component-pattern">Propose a component or pattern</a></li>
        <li><a href="/community-and-contribution/develop-component-pattern">Develop a component or pattern</a></li>
      </ul>
    </li>
    <li>
      <a href="/whats-new">What's new</a>
      <ul class="nhsuk-u-nested-list">
        <li><a href="/whats-new/blog-posts">Blog posts</a></li>
        <li><a href="/whats-new/show-and-tells">Show and tells</a></li>
        <li><a href="/whats-new/updates">Updates</a></li>
      </ul>
    </li>
    <li><a href="/accessibility-statement">Accessibility statement</a></li>
    <li><a href="/get-in-touch">Get in touch</a></li>
    <li><a href="/cookie-policy">Cookie policy</a></li>
    <li><a href="/service-manual-team">Service manual team</a></li>
    <li><a href="/terms-and-conditions">Terms and conditions</a></li>
    <li><a href="/your-privacy">Your privacy</a></li>
  </ul>

{% endblock %}
