{% extends 'includes/layout.njk' %}


{% block body %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">User interface styles, components and patterns</h1>
    <p class="nhsuk-body-l">Make your service look like nhs.uk with tested design styles, components and patterns.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>UI styles</h2>
    <p>These styles will give you the nhs.uk layout and look and feel.</p>
    <ul>
      <li><a href="/styles-components-patterns/colour">Colour</a></li>
      <li><a href="/styles-components-patterns/grid">Grid</a></li>
      <li><a href="/styles-components-patterns/typography">Typography</a></li>
    </ul>
    <h2>Components</h2>
    <p>Save time and help users with these accessible UI parts.</p>
    <ul>
      <li><a href="/styles-components-patterns/action-link">Action link</a></li>
      <li><a href="/styles-components-patterns/breadcrumbs">Breadcrumbs</a></li>
      <li><a href="/styles-components-patterns/care-cards">Care cards</a></li>
      <li><a href="/styles-components-patterns/do-and-dont-list">Do and Don't list</a></li>
      <li><a href="/styles-components-patterns/footer">Footer</a></li>
      <li><a href="/styles-components-patterns/header">Header</a></li>
      <li><a href="/styles-components-patterns/icons">Icons</a></li>
      <li><a href="/styles-components-patterns/inset-text">Inset text</a></li>
      <li><a href="/styles-components-patterns/warning-callout">Warning callout</a></li>
    </ul>
    <h2>Patterns</h2>
    <p>You can combine components in different patterns for different contexts. We’re still working on patterns and will publish them here.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-u-margin-top-8">Contribute</h2>
    <p>Let us know <a href="/contribute">if you design a new content pattern or find new evidence</a> on content style.</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Page updated: <time>January 2019</time></p>
    </div>
  </div>
</div>
{% endblock %}
