{% set pageTitle = "Understanding" %}
{% set pageDescription = "The first stage in the process of transforming information architecture is about understanding your users and what content already exists." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}


  <h2>Measure how the existing content is performing</h2>
  <h3>Tree test your current structure</h3>
  <p>A tree test is effectively a usability test for a navigation structure. They test the structure - the navigation ‘tree’ - rather than the visual design.</p>
  <p>Tree tests evaluate the ‘information scent’ your topic groups and labels provide. A tree test is effectively a usability test for a navigation structure. They test the structure - the navigation ‘tree’ - rather than the visual design. </p>
  <h4>Benchmarking using a tree test</h4>
  <p>Use benchmark tree tests to help you measure the findability improvements your IA changes make. Set the same tasks on existing and redesigned IAs and (hopefully!) show how many more people can complete their tasks with the new groups and labels. </p>
  <p>Tree tests are conducted remotely - you use online tools. Participants are given up to ten information-seeking tasks that they should be able to complete within the topic. They are given a text-only version of the topic hierarchy (site map) and asked where in that hierarchy they would find the answers to the set tasks.</p>

  <h3>Using search logs and analytics</h3>
  <h4>Site analytics</h4>
  <ul>
    <li>Benchmark current performance so you can measure the effects of your work</li>
    <li>How are people finding information on your topic? Are they browsing to it via menus and/or using on-site search and/or using Google to get to it and/or coming to it from a related topic?</li>
    <li>Are people staying to read pages you’d expect them to read? Do they scroll to the bottom?</li>
    <li>Are there high bounce rates to any pages? (People arriving at the page and leaving immediately - which can imply that the content does not meet their expectations. Although remember that if someone simply wants the answer to a question and finds the answer at the top of the page, then they have had a successful interaction, despite it looking like a negative bounce in analytics.)</li>
    <li>Are people going on journeys through the content, or only looking at a single page?</li>
    <li>Are people leaving your pages in order to search? (Which might imply that they did not find what they were looking for on your pages)</li>
    <li>Which in-page links are interacted with? Which are not?</li>
  </ul>
  <h4>Google analytics</h4>
  <ul>
    <li>What search terms are people using to access your content?</li>
    <li>Are they broad topics or more focussed?</li>
    <li>What are the most common search terms? (This can help you understand user priorities and top tasks)</li>
    <li>Are there any common search terms related to your topic that NHS.UK doesn’t provide content for? Why or why not?</li>
    <li>Which pages are people visiting as a result of their search? The main topic landing page? Or pages deeper within the topic hierarchy?</li>
  </ul>

  <h3>Set metrics to establish a baseline</h3>
  <p>While it is still fresh in your teams' minds, it is valuable to set baseline metrics for how the content and IA is currently performing. This is something that will be used later to compare against how the content and IA performs after changes have been made. Lots of this data can come from using search logs and site analytics.</p>
  <p>Consider using:</p>
  <ul> 
    <li>task success: how many people were successful at finding content in your tree tests?</li>
    <li>out of the success rates, how much of that was direct? i.e. did users have to go back on themselves to find the answer, or did they navigate straight to it?</li>
    <li>bounce rate - if you have existing content on your own site, you can use the analytics to find out whether people are spending time on the pages</li>
  </ul>

  
{% endblock %}
