{% from 'tables/macro.njk' import table %}

{{ table({
  responsive: true,
  panel: false,
  caption: "Ibuprofen liquid dosages for children",
  firstCellIsHeader: true,
  head: [
    {
      text: "Age"
    },
    {
      text: "How much"
    },
    {
      text: "How often"
    }
  ],
  rows: [
    [
      {
        header: "Age",
        text: "4 to 6 years"
      },
      {
        header: "How much",
        text: "7.5ml (150mg)"
      },
      {
        header: "How often",
        text: "Max 3 times in 24 hours"
      }
    ],
    [
      {
        header: "Age",
        text: "7 to 9 years"
      },
      {
        header: "How much",
        text: "10ml (200mg)"
      },
      {
        header: "How often",
        text: "Max 3 times in 24 hours"
      }
    ],
        [
      {
        header: "Age",
        text: "10 to 11 years"
      },
      {
        header: "How much",
        text: "15ml (300mg)"
      },
      {
        header: "How often",
        text: "Max 3 times in 24 hours"
      }
    ]
  ]
}) }}
