{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Colour" %}
{% set pageDescription = "Our colours, and how to apply them." %}
{% set pageSection = "Design system" %}
{% set subSection = "Styles" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "2" %}

{% block beforeContent %}
  {% include "design-system/styles/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Using colour</h2>
  <p>Our brand colours help people recognise and trust that our services come from the NHS.</p>
  <p>We also use colour to help users prioritise and differentiate information &ndash; for example we use:</p>
  <ul>
    <li>yellow for our <a href="/design-system/styles/focus-state">focus state styles</a> and for <a href="/design-system/components/warning-callout">warning callouts</a></li>
    <li>red for urgent care cards in the pattern to <a href="/design-system/patterns/help-users-decide-when-and-where-to-get-care">help users decide when and where to get care</a></li>
  </ul>
  <p>Our text and background colours are designed to meet accessibility needs. Read more about <a href="/design-system/styles/colour#accessibility">accessibility and colour on this page</a>.</p>

  <h2 id="main-colours">Main colours</h2>

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Colour variables updated in August 2025</h3>
    <p>All colour variables and functions have been updated to use the spelling 'colour' instead of 'color'.
    <p>See <a href="/design-system/guides/updating-to-v10#sass-functions">breaking code updates to colours in version 10</a></p>
  </div>

  <p class="rich-text">If you are using the <a href="/design-system/production">NHS.UK frontend</a> or the <a href="/design-system/prototyping">NHS.UK prototype kit</a>, use the <a href="https://sass-lang.com/guide#topic-2">Sass variables</a> provided rather than copying the hexadecimal (hex) colour values. For example, use <code>$nhsuk-text-colour</code> rather than <code>#212b32</code>. This means that your service will always use the most recent colour palette whenever you update.</p>
  <p class="rich-text">Only use the variables in the context they're designed for. In all other cases, you should reference the <a href="#colour-palette">colour palette</a> directly. For example, if you wanted to use red to represent some data in a graph you should use <code>nhsuk-colour("red")</code> rather than <code>$nhsuk-error-colour</code>.</p>

  <table class="app-colour-list" summary="Table of main colours">
    <tbody>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
          Text
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#212b32"></span>
          <code>$nhsuk-text-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #212b32
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#4c6272"></span>
          <code>$nhsuk-secondary-text-colour</code>
          <p class="nhsuk-u-margin-bottom-0">Modifier class: <code>nhsuk-u-secondary-text-colour</code></p>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #4c6272
        </td>
      </tr>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          Links
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#005eb8"></span>
          <code>$nhsuk-link-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #005eb8
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#7C2855"></span>
          <code>$nhsuk-link-hover-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #7C2855
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#330072"></span>
          <code>$nhsuk-link-visited-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #330072
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#002f5c"></span>
          <code>$nhsuk-link-active-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #002f5c
        </td>
      </tr>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          Focus state
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#ffeb3b"></span>
          <code>$nhsuk-focus-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #ffeb3b
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#212b32"></span>
          <code>$nhsuk-focus-text-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #212b32
        </td>
      </tr>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          Border
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#d8dde0"></span>
          <code>$nhsuk-border-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #d8dde0
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#4c6272"></span>
          <code>$nhsuk-input-border-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #4c6272
        </td>
      </tr>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          Error state
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#d5281b"></span>
          <code>$nhsuk-error-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #d5281b
        </td>
      </tr>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          Success state
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#007f3b"></span>
          <code>$nhsuk-success-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #007f3b
        </td>
      </tr>

      <tr>
        <td class="nhsuk-u-padding-left-0" colspan="3">
          <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          Button
          </h3>
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#007f3b"></span>
          <code>$nhsuk-button-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #007f3b
        </td>
      </tr>
      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#005eb8"></span>
          <code>$nhsuk-secondary-button-border-colour</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #005eb8
        </td>
      </tr>

    </tbody>
  </table>

  <h3>Page background colour</h3>
  <p class="rich-text">We use <code>$nhsuk-body-background-colour</code> or <code>nhsuk-colour("grey-5")</code> as a background tint. This is because:</p>
  <ul>
    <li>it reduces overall page glare</li>
    <li>the <a href="https://www.bdadyslexia.org.uk/advice/employers/creating-a-dyslexia-friendly-workplace/dyslexia-friendly-style-guide">British Dyslexia Association's style guide</a> recommends dark text on a light, but not white, background</li>
    <li>components with important information, like callouts, stand out</li>
  </ul>
  <p class="rich-text"><code>$nhsuk-reverse-text-colour</code> or <code>nhsuk-colour("white")</code> is used to make important information stand out and for alternating backgrounds, for example on <a href="https://www.nhs.uk/">the NHS website home page</a>.</p>

  <h3 id="secondary-text-colour">Secondary text colour</h3>

  <p>You can use the <code>nhsuk-u-secondary-text-colour</code> class for text that should appear in the secondary text colour of dark grey.</p>

  <p>For example, this could be used for text to describe missing data in a table or summary list.</p>

  <h2 id="colour-palette">Colour palette</h2>
  <p class="rich-text">Avoid using the palette colours if there is a Sass variable that is designed for your context. For example, if you are styling the error state of a component you should use the <code>$nhsuk-error-colour</code> Sass variable rather than <code>nhsuk-colour("red")</code>.</p>

  <table class="app-colour-list" summary="Table of the full colour palette">
    <tbody>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#d5281b"></span>
          <code>nhsuk-colour("red")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #d5281b
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#ffeb3b"></span>
          <code>nhsuk-colour("yellow")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #ffeb3b
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#007f3b"></span>
          <code>nhsuk-colour("green")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #007f3b
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#00a499"></span>
          <code>nhsuk-colour("aqua-green")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #00a499
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#005eb8"></span>
          <code>nhsuk-colour("blue")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #005eb8
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#003087"></span>
          <code>nhsuk-colour("dark-blue")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #003087
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#330072"></span>
          <code>nhsuk-colour("purple")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #330072
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#7c2855"></span>
          <code>nhsuk-colour("dark-pink")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #7c2855
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#ae2573"></span>
          <code>nhsuk-colour("pink")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #ae2573
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#ed8b00"></span>
          <code>nhsuk-colour("orange")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #ed8b00
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#ffb81c"></span>
          <code>nhsuk-colour("warm-yellow")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #ffb81c
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#fff9c4"></span>
          <code>nhsuk-colour("pale-yellow")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #fff9c4
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#212b32"></span>
          <code>nhsuk-colour("black")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #212b32
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#4c6272"></span>
          <code>nhsuk-colour("grey-1")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #4c6272
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#768692"></span>
          <code>nhsuk-colour("grey-2")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #768692
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#aeb7bd"></span>
          <code>nhsuk-colour("grey-3")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #aeb7bd
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#d8dde0"></span>
          <code>nhsuk-colour("grey-4")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #d8dde0
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch app-colour-list__swatch--border" style="background-color:#f0f4f5"></span>
          <code>nhsuk-colour("grey-5")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #f0f4f5
        </td>
      </tr>

      <tr class="app-colour-list__row">
        <th class="app-colour-list__column app-colour-list__column--name" scope="row">
          <span class="app-colour-list__swatch" style="background-color:#ffffff"></span>
          <code>nhsuk-colour("white")</code>
        </th>
        <td class="app-colour-list__column app-colour-list__column--colour">
          #ffffff
        </td>
      </tr>

    </tbody>
  </table>

  <h2 id="extended-colours">Extended colours</h2>
  <p><a href="https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/">The NHS Identity Guidelines have an extended colour palette</a>. We haven't tested these colours yet for digital use.</p>

  <h2 id="accessibility">Accessibility</h2>
  <p>Make sure that what the colour is "saying" is available in other ways. Read "<a href="/accessibility/design#do-not-rely-on-colour-or-position-alone">Do not rely on colour or position alone</a>" in our accessibility guidance.</p>
  <h3>Colour contrast</h3>
  <p>Text, interface components (like buttons) and graphic elements must have contrast ratios that meet <a href="https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum.html">the contrast minimum for AA of the Web Content Accessibility Guidelines (WCAG 2.2)</a>. We aim for AAA as far as possible.</p>
  <p>This helps people with low vision and colour vision deficiency (colour blindness) who find it difficult to distinguish between certain colours, often shades of red, yellow and green.</p>
  <p>Not all combinations from our colour palette meet the minimum contrast. For example, <code>$nhsuk-border-colour</code> has low contrast on our page background.</p>

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      More about contrast in components and graphic elements
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>Use a tool to calculate the ratio between the element and the adjacent colour. For example, the white arrow (foreground) and the green circle (background) in an <a href="/design-system/components/action-link">action link</a>.</p>
      <p>If you rely on users understanding a graphic (like an icon) without text, it must meet the minimum contrast ratio. If it also has text, it does not have to meet the requirement but we recommend you try to meet it anyway.</p>
      <p>Components that are visible but not currently active (like a submit button that is not active until the user has filled in the form) do not have to meet the requirement. But if you can meet the minimum contrast without it being confusing, it will help people with low vision.</p>
    </div>
  </details>

  <h4>WCAG 2.2 AA</h4>
  <p>The contrast ratio should be at least:</p>
  <ul>
    <li>4.5:1 for small text (smaller than 24px, or smaller than 19px if bold)</li>
    <li>3:1 for large text (24px or over, or 19px or over if bold) and components (like a text input field or button) and graphic elements (like an icon)</li>
  </ul>

  <h4>WCAG 2.2 AAA</h4>
  <p>The contrast ratio should be at least:</p>
  <ul>
    <li>7:1 for small text (smaller than 24px, or smaller than 19px if bold)</li>
    <li>4.5:1 for large text (24px or over, or 19px or over if bold) and components (like a text input field or button) and graphic elements (like an icon)</li>
  </ul>

  <h4>Testing tools</h4>
  <p>Use tools like these to check contrast:</p>
  <ul>
    <li><a href="https://webaim.org/resources/contrastchecker/">WebAIM's colour contrast checker</a></li>
    <li><a href="https://colororacle.org/">Color Oracle (free colour blindness simulator)</a></li>
  </ul>
  <p>Also test colour contrast with people of all abilities.</p>

{% endblock %}
