{% from 'footer/macro.njk' import footer %}

  {{ footer({
    navigation: [
      {
        items: [
          {
            href: "#",
            text: "Home"
          },
          {
            href: "#",
            text: "Health A to Z"
          },
          {
            href: "#",
            text: "Live Well"
          },
          {
            href: "#",
            text: "Mental health"
          },
          {
            href: "#",
            text: "Care and support"
          },
          {
            href: "#",
            text: "Accessibility statement"
          },
          {
            href: "#",
            text: "Pregnancy"
          },
          {
            href: "#",
            text: "NHS services"
          },
          {
            href: "#",
            text: "Coronavirus (COVID-19)"
          }
        ]
      },
      {
        items: [
          {
            href: "#",
            text: "NHS App"
          },
          {
            href: "#",
            text: "Find my NHS number"
          },
          {
            href: "#",
            text: "Your health records"
          },
          {
            href: "#",
            text: "About the NHS"
          },
          {
            href: "#",
            text: "Healthcare abroad"
          }
        ]
      },
      {
        items: [
          {
            href: "#",
            text: "Contact us"
          },
          {
            href: "#",
            text: "Other NHS websites"
          },
          {
            href: "#",
            text: "Profile editor login"
          }
        ]
      },
      {
        items: [
          {
            href: "#",
            text: "About us"
          },
          {
            href: "#",
            text: "Accessibility statement"
          },
          {
            href: "#",
            text: "Our policies"
          },
          {
            href: "#",
            text: "Cookies"
          }
        ]
      }
    ]
  }) }}
