{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Back link" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use back links to help users go back to the previous page in a multi-page transaction." %}
{% set theme = "Navigation" %}
{% set dateUpdated = "September 2025" %}
{% set backlog_issue_id = "32" %}

{% block beforeContent %}
{% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<div class="nhsuk-inset-text nhsuk-u-margin-top-0">
  <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
    Version 10
  </strong>

  <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Back links updated in August 2025</h3>
  <p>See <a href="/design-system/guides/updating-to-v10#back-link">updates to back links in version 10</a></p>
</div>

<p>WCAG 2.2: Make sure that users can successfully <a href="#wcag-avoid-information-reentry">avoid re-entering information they've previously given when they go back to a page</a> and <a href="#wcag-interact-back-links">interact with back links</a>.</p>

{{ designExample({
  group: "components",
  item: "back-link",
  type: "default"
}) }}

<h2>When to use a back link</h2>
<p>We only use back links on transactional services or multi-page forms.</p>
<p>The <a href="https://design-system.service.gov.uk/components/back-link/">GOV.UK design system</a> recommends
  including a back link on question pages. Read more about <a
    href="https://design-system.service.gov.uk/patterns/question-pages">question pages on GOV.UK</a>.</p>
<p>You can include a back link on other pages in a multi-page transaction, if it makes sense to do so.</p>

<h2>When not to use a back link</h2>
<p>Do not use a back link on a content page, like a health information page.</p>
<p>Do not use a back link with <a href='/design-system/components/breadcrumbs'>breadcrumbs</a>.</p>

<h2>How to use back links</h2>
<p>Make sure the text used in the link describes the action, for example "Back". Carry out research with users to
  find the words that help them the most.</p>
<p>The link should take users back to the page they were on in the state they last saw it.</p>

<div class="nhsuk-inset-text app-wcag-inset-text app-wcag-22" id="wcag-avoid-information-reentry" role="note">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <strong class="nhsuk-tag nhsuk-u-margin-bottom-2">
    WCAG 2.2
  </strong>

  <p>If a user goes back to a previous page, make sure information they have already entered is pre-populated.</p>
  <p>Do not pre-populate if the information is no longer valid, or when pre-populating would be a major safety or security concern. This is to comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/redundant-entry.html">WCAG 2.2 success criterion 3.3.7 Redundant Entry (W3C)</a>.</p>
</div>

<p>Generally, the back link should go at the top left of the page. Within the HTML it should appear before the <code>&lt;main&gt;</code> tag. This is so that <a href="/design-system/components/skip-link">skip link</a> skips past the back link to the main content.</p>

<p>If you put the back link in a different position, do not put it close to other links or buttons where it might distract users from what they need to do. Also think about people who use a screen reader: is the page read out in a logical order?</p>

<div class="nhsuk-inset-text app-wcag-inset-text app-wcag-22" id="wcag-interact-back-links" role="note">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <strong class="nhsuk-tag nhsuk-u-margin-bottom-2">
    WCAG 2.2
  </strong>

  <p>Make sure no other interactive elements are too close to the back link so users can easily
    interact with it. This is to comply with <a
      href="https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html">WCAG 2.2 success criterion 2.5.8 Target Size (W3C)</a>.</p>
</div>

<h3 id="back-link-as-a-button">Back link as a button</h3>
<p class="rich-text">You can render the back link as a <code>button</code> element if necessary in order to post form
  data back to the previous page.</p>

{{ designExample({
  group: "components",
  item: "back-link",
  type: "button"
}) }}

<h3 id="back-link-on-dark-backgrounds">Back link on dark backgrounds</h3>
<p>Use the <code>nhsuk-back-link--reverse</code> modifier class to show white links and arrows on dark backgrounds.</p>
<p>Make sure all users can see the back link. The background colour must have a contrast ratio of at least 4.5:1 with white to meet <a href="https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum.html">WCAG 2.2 success criterion 1.4.3 Contrast (minimum), level AA (W3C)</a>.</p>

{{ designExample({
  group: "components",
  item: "back-link",
  type: "reverse"
}) }}

<h2>Research</h2>
<p>During testing, <a href="https://111.nhs.uk/">NHS 111 online</a> found that some users wanted to change their
  answers, so they introduced a back link and labelled it to "Change my previous answer".</p>
{% endblock %}
