{% set pageTitle = "Why IA is important" %}
{% set pageDescription = "The benefits of well structured information and navigation systems." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>The NHS website needs to grow and evolve over time</h2>
  <p>The IA work to structure our content within the CMS and search engine, and to better present that structure to users via navigation structures will:</p>
  <ul>
    <li>Enable more users to find good healthcare information</li>
    <li>Increase the number of people who successfully self-serve via the NHS.UK website</li>
    <li>Make it easier and less time-consuming for editors to manage, maintain and reference content</li>
    <li>Improve syndication opportunities and support for future-facing services driven by technologies like voice, personalisation and artificial intelligence</li>
    <li>Create a more sustainable future in terms of a publishing platform that is more ready for future technology innovations</li>
  </ul>
{% endblock %}
