{% from "search-input/macro.njk" import searchInput %}

{{ searchInput({
  label: {
    text: "Search patients",
    size: "m"
  },
  hint: {
    text: "Search by name, NHS number, postcode, or date of birth"
  },
  id: "example",
  name: "example",
  value: "LS1 4AP",
  width: 10
}) }}
