{% from "search-input/macro.njk" import searchInput %}

{{ searchInput({
  label: {
    text: "Search patients",
    size: "m"
  },
  hint: {
    text: "Search by name, NHS number, postcode, or date of birth"
  },
  name: "example",
  id: "example",
  classes: "nhsuk-u-width-full",
  formGroup: {
    classes: "nhsuk-u-width-one-half"
  }
}) }}
