{% from "button/macro.njk" import button %}
{% from "input/macro.njk" import input %}

{{ input({
  label: {
    text: "Product code"
  },
  id: "product-code",
  name: "productCode",
  width: 10,
  code: true,
  formGroup: {
    afterInput: {
      html: button({
        text: "Find",
        small: true
      })
    }
  }
}) }}
