{% set pageTitle = "How to consider IA for your digital product" %}
{% set pageDescription = "About IA." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "About IA" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "ia-guidance/about-ia/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <p>Your topic’s information architecture is something that can and should be designed, tested and iterated via user-centred methods, just as you do with content and UI. It should form a key part of your discovery, design, development and maintenance process.</p>
  <h2>Discovery</h2>
  <p>During the Discovery phase, you need to find out about your users’ understanding of the topic you’re interested in. What are their mental models of the topic?</p>
  <p>"A mental model is an explanation of someone's thought process about how something works in the real world… Mental models can help shape behaviour and set an approach to solving problems... and doing tasks." (<a href="">https://en.wikipedia.org/wiki/Mental_model</a>)</p>
  <ul>
    <li>What words do they use and understand when describing the topic?</li>
    <li>How do they group and label the content within your topic?</li>
    <li>What are their Top Tasks for the topic? What are the most important things that they need to accomplish with your content?</li>
  </ul>
  <p>The IA research methods you choose will differ depending on a range of factors. How much the team already knows about your topic’s users, maturity of existing content, timeframes, risks, etc. Many IA research methods can be conducted in the same research sessions as those designed to uncover content needs.</p>
  <h3>Generative research methods for IA</h3>
  <h4>User interviews</h4>
  <p>To understand users’ mental models and vocabulary, finding strategies, and evaluate existing NHS.UK or competitor IAs.</p>
  <h4>Open card sorts</h4>
  <p>To understand users’ mental models of the topic, the vocabulary they use, and to generate ideas for how to structure and label content.</p>
  <h4>Search logs and analytics</h4>
  <p>To understand common on-site and Google searches and search terms associated with your topic - the vocabulary people use. To understand the performance and popularity of existing content. Are there any common searches that represent user needs that are currently unmet?</p>
  <h4>Tree tests</h4>
  <p>To benchmark existing or competitor IAs and understand what works and what doesn’t.</p>
  <h4>Prioritisation research</h4>
  <p>To understand which tasks are most important to the most users, in order to prioritise content and information structures, and to validate against.</p>
  <h4>Content audit</h4>
  <p>To understand what content already exists that is related to your topic. What conditions, treatments, lifestyle improvements, services or other content exists on NHS.UK and elsewhere that people interested in your topic might also care about? Does any content need to be culled? Is anything obviously missing?</p>
  <h3>Site-wide user needs matrix</h3>
  <p>IA rarely appears as a user need in user research as something explicit like “I’m looking for a hub page” or “What I need is a breadcrumb”. But poor IA does show up in research:</p>
  <ul>
    <li>People get lost and confused - they cannot orient themselves</li>
    <li>People can’t find what they need - they cannot navigate around or successfully search the content</li>
    <li>People can’t get back to things they were interested in - inconsistent structures do not support re-finding</li>
  </ul>
  <p>The key IA user needs of placemaking, orientation, navigation, search and consistency can be expressed as site-wide user needs, for everyone visiting NHS.UK.</p>
  <p>Read the <a href="">site-wide user needs matrix</a>.</p>

  <h2>Alpha and Beta</h2>
  <p>Design, test and iterate your topic’s information architecture alongside the content and UI.</p>
  <p>The information architecture of your topic can be expressed as a sitemap: a hierarchical diagram of every page of content included in the topic, showing the way they are grouped and labelled. That sitemap is then realised in the form of prototype hub pages, content pages and navigation structures. User research can be conducted on candidate sitemaps and prototypes at every stage, in order to learn and iterate. This IA design and testing happens alongside, and in conjunction with, content design and testing.</p>
  <h3>Site map design</h3>
  <ul>
    <li>List all the pages of content you need to provide for your topic</li>
    <li>Create a hierarchical site map diagram for your content</li>
      <ul>
        <li>Every page of content has a place in the site map - its canonical home</li>
        <li>Group and label the content to match users’ mental models of your topic and the vocabulary they use. The aim here is to provide a strong information scent to all content.</li>
        <li>Think about the breadth and depth of the site map. Too deep and the information scent may be weak for pages deep in the hierarchy. Too wide and users may struggle to select from too many options.</li>
      </ul>
        <li>Test your site map with users and iterate if necessary
      <ul>
        <li>If your site map tests poorly, think about whether the content groups and labels match your users’ understanding of your topic (their mental model). Have you provided a strong information scent to all content? Are there too many choices?</li>
      </ul>
  </ul>
  <p>IMAGE HERE</p>
  <h3>Site map evaluation</h3>
  <p>You can test your site map with users before creating a prototype, to help you understand if your groups and labels work. The IA evaluation methods you choose will differ depending on your circumstances. You may choose to evaluate your IA only at prototype stage, rather than at sitemap stage. Or you may choose to do both. Again, it will depend on Discovery findings, the maturity of existing content, timeframes, risks, etc.</p>
  <h4>Closed card sorts</h4>
  <p>To understand if your chosen labels make sense to users, and how they would group your content under those labels.</p>
  <h4>Tree tests</h4>
  <p>To test whether people can follow the information scent provided by your site map to complete priority tasks for your content. If you benchmarked an existing IA during Discovery, you can test whether your new site map is an improvement.</p>
  <h3>Prototype design</h3>
  <p>There are templates for navigational hub pages and content pages in Wagtail. There are components documented in GitHub.<p>
  <p>They were designed by the IA team to support users’ needs for placemaking, orientation, navigation and consistency. They are also designed to support users in different information-seeking modes.</p>
  <p>They were all designed, tested and iterated mobile-first and have been found to be usable, robust and flexible. The page templates and components were were designed to work as a coherent whole, not individually in isolation. These templates were first used to build the Coronavirus hub. But there’s more to do: the IA team is collaborating with teams across NHS.UK to stress-test and extend the system to cover all our content.</p>
  <h4>Github links</h4>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <h4>Hub pages</h4>
  <p>Hub pages are designed to do one thing well: to route people to the content they need. Not to provide that content. They provide consistent navigation structures to allow users to browse to their destination, discover content they didn’t know they needed and re-find information without getting lost.</p>
  <ul>
    <li>They show users where they are and where else they might go</li>
    <li>They showcase all content and related links for any given topic or sub-topic</li>
    <li>They allow you to promote up to three ‘top tasks’ for your topic, allowing you to provide shortcuts to popular content that would otherwise be ‘buried’ in your site map hierarchy</li>
  </ul>
  <p>Each ‘parent’ page in your site map represents a ‘hub’ page in your prototype. Your ‘hub’ page will list all the ‘child’ pages of the ‘parent’ page. These ‘child’ pages can be a mix of further hubs and/or content pages.</p>
  <p>There are two different hub page templates - Level 1 Hub and Level 2 Hub. This allows the design to change as users move through the content. Level 1 Hubs are used for larger groups of content, for example a group of conditions like Diabetes or a group of medicines like Antihistamines. Individual conditions or medicines are served by Level 2 Hubs. Larger topics may need additional hub levels and design for this is still a work in progress.</p>
  <h4>Content pages</h4>
  <p>Our content pages are designed to:</p>
  <ul>
    <li>Allow users to ascertain if they are in the right place, and:</li>
      <ul>
        <li>if so, read the content there</li>
        <li>if not, get to the right place</li>
      </ul>
    <li>Facilitate the discovery of additional content within the topic</li>
    <li>Ensure there are no ‘dead ends’ if they want to continue their journey</li>
  </ul>
  <p>Content pages provide breadcrumbs (to go up to ‘parent’ pages), headings, and page-to-page (‘sibling’) navigation. Our hub and content pages work together to provide a consistent navigation system across the whole of NHS.UK.</p>
  <h3>Prototype testing</h3>
  <p>When testing a prototype, you are testing the IA, content and UI all together. It is sometimes tricky to identify an IA problem as separate from a content problem. However, if people get lost, it might well be an IA problem. Are the topic groupings wrong? Are the topic labels providing a poor information scent, in that people are looking for specific words or phrases but not finding them?</p>
  <h4>First-click testing</h4>
  <p>To understand if your users can quickly and easily find what they’re looking for when they land on your topic. Can be used on full designs or early sketches to test approach and visual prioritisation. (Unlike tree testing, which provides no visual hierarchy.)</p>
  <h4>Usability testing</h4>
  <p>To understand whether your users can find the content they need. Does the prototype meet the site-wide user needs, as well as your topic user needs? Can users follow an information scent to complete key tasks? If not, why not?</p>
  <p>Explicitly testing an IA is odd in that you can’t expect users to notice or comment on page furniture or navigation structures. We can’t ask them to tell us ‘where they are’ on the website as that may be a meaningless question to them. Instead, we set them tasks that they will be able to complete if the IA is doing its job, albeit invisibly. We set tasks that ask them to move down, up and sideways around our site map, and observe how easily or otherwise they can move around.</p>


{% endblock %}
