{% set pageTitle = "Requirements" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "Solution Architecture Framework" %}
{% set pageDescription = "The SAF is broken down into seven dimensions, the following requirements make up each dimension." %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "21 May 2025 (SAF Version 1.0)" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "solution-architecture-framework/_breadcrumb.njk" %}
{% endblock %}


{% block bodyContent %}

<h3 id="S">Strategic Alignment, Vision, and roadmap</h3>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">S01</td>
      <td class="nhsuk-table__cell">The solution should be aligned to stated strategy approved at an executive level. e.g. TD Design Authority, P&amp;P DA etc.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">S02</td>
      <td class="nhsuk-table__cell">We should be able to demonstrate which capabilities from the NHSE Business Capability Model the solution is realising, and any potential duplication identified.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">S03</td>
      <td class="nhsuk-table__cell">A well-formed and maintained product vision and roadmap should exist with appropriate detail around architecture elements.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">S04</td>
      <td class="nhsuk-table__cell">The solution design should be able to meet the stated user needs and overall business objectives/drivers.</td>
    </tr>
  </tbody>
</table>


<h3 id="DM">Decision Making &amp; Governance</h3>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM01</td>
      <td class="nhsuk-table__cell">
        <p>Where a solution or part of solution is seen as tactical, short term or introduces / persists tech &amp; architecture debt, remediation plans should be in place and agreed with the relevant stakeholders and governance groups.</p>
        <p>Architecture Debt should be identified with implications, rationale and future mitigation plans (recorded in an Architecture Debt Register)</p>
        <p>Plans should be realistic and funded.</p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM02</td>
      <td class="nhsuk-table__cell">Spend control (GaTS) and associated Government Digital Services &amp; Service Design related guidance should be followed whilst developing the solution and be evidenced for service design &amp; spend control reviews.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM03</td>
      <td class="nhsuk-table__cell">Architecture risks and issues should be managed effectively with the appropriate level of visibility and ownership.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM04</td>
      <td class="nhsuk-table__cell">There should be effective and commensurate stakeholder involvement with respect to solution design and architecture decisions.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM05</td>
      <td class="nhsuk-table__cell">
        <p>The solution design and architecture decisions should be managed through local programme design authorities and TRG at the appropriate stages of the lifecycle.</p>
        <p>The relevant Lead Architects and Subject Matter Experts (SMEs) are engaged and are supportive.</p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM06</td>
      <td class="nhsuk-table__cell">The overall approach to architecture governance should be appropriate and commensurate with the nature of the solution.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM07</td>
      <td class="nhsuk-table__cell">
        <p>All Architecture decisions should be documented with a lightweight Architecture Decision Record with options and clear rationale.</p>
        <p>E.g. <a href="https://github.com/NHSDigital/software-engineering-quality-framework/blob/main/any-decision-record-template.md">SEQF Any Decision Record Template (GitHub)</a></p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">DM08</td>
      <td class="nhsuk-table__cell">All decision-making should be structured. E.g. identify key strategic drivers, user need assess options against drivers, present rationale, clarity on trade-offs, dependencies, risks and issues understood.</td>
    </tr>
  </tbody>
</table>

<h3 id="SD">Solution Design &amp; Methods</h3>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD01</td>
      <td class="nhsuk-table__cell">An appropriate design methodology should be followed e.g. Domain Driven Design and should include NHS/CDDO Service Design and Secure by Design principles and methods.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD02</td>
      <td class="nhsuk-table__cell">The solution should be compliant with NHS England principles, policy, patterns and best practice.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD03</td>
      <td class="nhsuk-table__cell">The solution should be compliant with relevant standards.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD04</td>
      <td class="nhsuk-table__cell">
        <p>Solution design should follow good practice design principles. E.g.</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Separation of concerns</li>
          <li>Encapsulation / Modularisation</li>
          <li>Loose coupling</li>
          <li>High cohesion / single responsibility</li>
          <li>Design for flexibility/change</li>
        </ul>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD05</td>
      <td class="nhsuk-table__cell">Solutions should focus on commodity products and services where possible/sensible.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD06</td>
      <td class="nhsuk-table__cell">An API First design methodology should be followed, where APIs are at the forefront of the design process, functionality and data is exposed via APIs and the needs of the API consumer have been considered.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD07</td>
      <td class="nhsuk-table__cell">We should treat internal (NHS England) and external consumers equally.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD08</td>
      <td class="nhsuk-table__cell">We should select the correct patterns for the use case, and any trade-offs justified and agreed.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD09</td>
      <td class="nhsuk-table__cell">We should adopt the right standards for API development, supported by user, consumer, and market / supplier engagement.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD10</td>
      <td class="nhsuk-table__cell">The API follows the lifecycle policy best practice as set out within <a href="https://nhsd-confluence.digital.nhs.uk/display/APM/Sunsetting+%28deprecation+and+retirement%29+phases">Sunsetting (deprecation and retirement) policy (Confluence)</a>. This should include any enforcement arrangements.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD11</td>
      <td class="nhsuk-table__cell">
        <p>Solutions should adhere to:</p>
        <ol class="nhsuk-list nhsuk-list--number">
          <li><a href="https://www.security.gov.uk/guidance/secure-by-design/">Government "Secure by Design" policy</a></li>
          <li><a href="https://www.ncsc.gov.uk/collection/cyber-assessment-framework">NCSC CAF</a></li>
          <li><a href="https://www.ncsc.gov.uk/collection/cyber-assessment-framework/caf-objective-b/principle-b2-identity-and-access-control">Access Control Guidelines</a></li>
          <li><a href="https://www.ncsc.gov.uk/guidance/authentication-methods-choosing-the-right-type">Policy - Strong Auth/MFA</a></li>
          <li><a href="https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance/nhs-and-social-care-data-off-shoring-and-the-use-of-public-cloud-services/guidance">Storage and Processing of Data Outside of the UK - Information Governance Policy</a></li>
          <li>NHS England's API strategy and policy statements. E.g. <a href="https://aalto.digital.nhs.uk/#/document/viewer/b61e0f92-b168-4173-8344-353360f4250e?library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0">API Landscape policy document (Word, Aalto.digital.nhs.uk)</a></li>
        </ol>
        <p>(Note there are overlaps with the Engineering red lines; ensure a consistent response and do not repeat assessments)</p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">SD12</td>
      <td class="nhsuk-table__cell">
        <p>The relevant cloud &quot;Well Architected Framework&quot; should be followed, and the solutions assessed against it.</p>
        <p><a href="https://docs.aws.amazon.com/wellarchitected/latest/framework/welcome.html">AWS</a> | <a href="https://learn.microsoft.com/en-us/azure/well-architected/">Azure</a>
        <p>(Note there are overlaps with the Engineering Software Quality Framework; ensure a consistent response and do not repeat assessments)</p>
      </td>
    </tr>
  </tbody>
</table>

<h3 id="T">Technology Choices</h3>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">T01</td>
      <td class="nhsuk-table__cell">
        <p>Technology choices should be made in line with the <a href="https://radar.engineering.england.nhs.uk/">NHS England Technology Radar</a>, corporate direction and wider industry trends using the associated processes to support decision making.</p>
        <p>(Note there are overlaps with the Engineering red lines; ensure a consistent response and do not repeat assessments)</p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">T02</td>
      <td class="nhsuk-table__cell">Technology choices should be appropriate to the problem and non-functional needs. I.e. we are as equally aware of over-engineering as we are of under-engineering.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">T03</td>
      <td class="nhsuk-table__cell">An appraisal should be made of any vendor lock considerations and associated risks, and these are understood and accepted/mitigated.</td>
    </tr>
  </tbody>
</table>

<h3 id="NF">Non-Functional Profile</h3>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NF01</td>
      <td class="nhsuk-table__cell">Solutions should incorporate workload observability and understand service health.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NF02</td>
      <td class="nhsuk-table__cell">Reliability &amp; Resilience needs should be defined (in terms of standard NHS England service levels) and solution mechanisms to meet these needs are defined including metrics such as Recovery Time Objective (RTO) and Recovery Point Objective (RPO).</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NF03</td>
      <td class="nhsuk-table__cell">An overall volume and performance model should exist and includes business-realistic exceptional scenarios.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NF04</td>
      <td class="nhsuk-table__cell">Methods to measure sustainability to establish baseline and show improvement should be defined.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NF05</td>
      <td class="nhsuk-table__cell">
        <p>Audit &amp; logging requirements should be defined, and the solution can support them.</p>
        <p><a href="https://www.ncsc.gov.uk/collection/device-security-guidance/managing-deployed-devices/logging-and-protective-monitoring">NCSC Logging and Protective Monitoring</a></p>
        <p><a href="https://www.ncsc.gov.uk/collection/cloud/the-cloud-security-principles/principle-13-audit-information-and-alerting-for-customers">NCSC Principle 13: Audit information and alerting for customers</a></p>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">NF06</td>
      <td class="nhsuk-table__cell">
        <p><strong>Disaster Recovery &amp; Business Continuity</strong></p>
        <p>There should be clear requirements (commensurate with service levels) around DR &amp; BC (and a pragmatic approach taken with regards DR/BC events planned for).</p>
        <p>Continuity plans and supporting documentation should reflect the requirements, technical &amp; architecture constraints etc.</p>
      </td>
    </tr>
  </tbody>
</table>

<h3 id="RU">Reuse Principles and Development of Shared Services</h3>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">RU01</td>
      <td class="nhsuk-table__cell">If reusing existing capabilities, we should have confidence that any additional functionality required can be sensibly and cost effectively added to the existing service i.e. we are not bending something out of shape.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">RU02</td>
      <td class="nhsuk-table__cell">For new capabilities we should identify/recognise the potential reuse opportunities which may drive design decisions, benefits etc.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">RU03</td>
      <td class="nhsuk-table__cell">We should reuse capabilities as defined below.</td>
    </tr>
  </tbody>
</table>

<table class="nhsuk-table" aria-label="Dimensions">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Capability
      </th>
      <th role="columnheader" class="" scope="col">
        Reuse
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Cohorting</td>
      <td class="nhsuk-table__cell">CaaS</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Citizen Messaging</td>
      <td class="nhsuk-table__cell">NHS Notify</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Staff Messaging</td>
      <td class="nhsuk-table__cell">GOV.Notify and NHS.Connect</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Application Messaging</td>
      <td class="nhsuk-table__cell">MESH or alternative as required</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Demographics/MPI</td>
      <td class="nhsuk-table__cell">PDS</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Eventing</td>
      <td class="nhsuk-table__cell">MNS</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">API Management</td>
      <td class="nhsuk-table__cell">NHSE API Management Platform (which uses Apigee underneath)</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Identity</td>
      <td class="nhsuk-table__cell">CIS2 Auth/NHS Mail SSO/NHS login</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Logging &amp; Monitoring</td>
      <td class="nhsuk-table__cell">Splunk/Sentinel/Cribl/Grafana (tbc &ndash; pending ODIN)</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Data Analytics</td>
      <td class="nhsuk-table__cell">FDP/CDP/DPS - FDP First</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Public facing web presence</td>
      <td class="nhsuk-table__cell">NHS.uk</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Patient Flags</td>
      <td class="nhsuk-table__cell">Flags service</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Organisational Data</td>
      <td class="nhsuk-table__cell">ODS</td>
    </tr>
  </tbody>
</table>

<h4>Shared Services</h4>
<table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
Capability
      </th>
      <th role="columnheader" class="" scope="col">
       Reuse
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Auditing</td>
      <td class="nhsuk-table__cell">Standard Audit tools/PARS (when live)</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Cyber Security Monitoring</td>
      <td class="nhsuk-table__cell">CSOC</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Service Management &amp; Support</td>
      <td class="nhsuk-table__cell">ServiceNow</td>
    </tr>
  </tbody>
</table>

<h3 id="D">Documentation</h3>
  <table class="nhsuk-table" aria-label="Requirements">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">

      </th>
      <th role="columnheader" class="" scope="col">
        Requirement
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">D01</td>
      <td class="nhsuk-table__cell">All architecture documentation should be maintained (with supporting processes and change control) within the appropriate NHS England knowledge store(s) e.g. Aalto, SharePoint, Confluence.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">D02</td>
      <td class="nhsuk-table__cell">Documentation should be published &quot;open by default&quot; and exceptions handled according to policy i.e. sensitivity etc.</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">D03</td>
      <td class="nhsuk-table__cell">
        <p>The architecture documentation should be appropriate in scope and quality for the solution covering (but not exclusively):</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Architecture Vision</li>
          <li>Architecture Roadmap</li>
          <li>Layer Diagrams</li>
          <li>Capability Model and Solution Mapping</li>
          <li>Non functional requirements</li>
          <li>Conceptual Architecture</li>
          <li>Logical Architecture</li>
          <li>Physical (including network, infrastructure etc.)</li>
          <li>Solution Architecture Overview (SDO)</li>
          <li>Key Architecture Decisions (KADs)</li>
          <li>Data Models</li>
          <li>Data Flows</li>
          <li>API Specifications</li>
          <li>Volume and Performance Models</li>
          <li>Architecture Decision Records</li>
          <li>Assumption, Risks, Issues and Dependencies</li>
          <li>Cyber Assessment Framework compliance</li>
        </ul>
</td>
</tr>
</tbody>
</table>
  <p>We're very interested in hearing what you think about the standards and technology section of the service manual and how it might, or might not, help you develop digital services in health.</p>
  <p><a href="mailto:england.service-manual@nhs.net">Email us</a> or get in touch on the <a href="/slack">service manual Slack channel</a>.</p>

{% endblock %}
