{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Notification banners" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use a notification banner to tell the user something they need to know that's not directly related to the page content." %}
{% set theme = "Content presentation" %}
{% set dateUpdated = "August 2025" %}
{% set backlog_issue_id = "559" %}

{% block beforeContent %}
  {% include "design-system/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">
      Version 10
    </strong>

    <h3 id="v10-affects-this-component" class="nhsuk-u-margin-bottom-2">Notification banners added in August 2025</h3>
    <p>See <a href="/design-system/guides/updating-to-v10#notification-banners">notification banners in version 10</a></p>
  </div>

{{ designExample({
  group: "components",
  item: "notification-banners",
  type: "default"
}) }}

<h2 id="when-to-use-this-component">When to use this component</h2>

<p>A notification banner lets you tell the user about something that's not directly relevant to the thing they're trying to do on that page of the service.</p>

<p>There are 2 versions of the notification banner:</p>
<ul>
<li>the information banner (blue)</li>
<li>the success banner (green)</li>
</ul>

<p>Use the information banner to tell the user about:</p>

<ul>
<li>something that affects the service as a whole (such as delays in processing applications or planned downtime)</li>
<li>something that affects them in particular (for example, an approaching deadline they need to meet)</li>
</ul>

<p>Use the success banner to tell the user that something they've just done on a previous page was successful (for example, confirming that an email has been sent).</p>

<h2 id="when-not-to-use-this-component">When not to use this component</h2>

<p>Use notification banners sparingly. There's evidence that people often miss banners. Using them too often is likely to make this problem worse. See <a href="https://www.nngroup.com/articles/banner-blindness-old-and-new-findings/">Banner blindness revisited by Nielsen Norman Group</a>.</p>

<p>Avoid showing more than 1 notification banner on the same page. Instead, combine the messages in a single notification banner. If the messages are too different to combine, decide which is your highest priority message and show that one.</p>

<p>If the information is directly relevant to the thing the user is doing on that page, put the information in the main page content instead. If it needs to stand out, use:</p>
<ul>
  <li><a href="/design-system/components/inset-text/">inset text component</a></li>
  <li><a href="/design-system/components/warning-callout/">warning callout</a></li>
</ul>

<p>Do not use a notification banner to tell the user about validation errors. Use an <a href="/design-system/components/error-message/">error message component</a> and <a href="/design-system/components/error-summary/">error summary component</a> instead.</p>

<p>Do not show a notification banner and an error summary component on the same page. Just show the error summary.</p>

<h2 id="how-it-works">How it works</h2>

<p>Put the notification banner at top of the main container. If your page includes breadcrumbs or a back link, place it below these but before the <code>h1</code>.</p>

<p>The notification banner should be the same width as the page's other content, such as components, headings and body text. For example, if the other content takes up two-thirds of the screen on desktop devices, then the notification banner should also take up two-thirds. <a href="/design-system/styles/layout/">Read about page layout</a>.</p>

<p>Use <code>role="region"</code> and <code>aria-labelledby="nhsuk-notification-banners-title"</code> (with <code>id="nhsuk-notification-banners-title"</code> on <code>&lt;nhsuk-notification-banners__title&gt;</code>) so that screen reader users can navigate to the notification banner.</p>

<h3 id="notification-banners-headings">Notification banner headings</h3>

<p>The notification banner starts with a heading like "Important" or "Success". This is usually an <code>&lt;h2&gt;</code>.</p>

<p>If you need a heading in the banner content, place it in <code>&lt;div class="nhsuk-notification-banner__content"&gt;</code>. It will normally be an <code>&lt;h3&gt;</code>.</p>

<p>Do not use a heading for single line notifications. You can apply the <code>nhsuk-notification-banners__heading</code> class to a paragraph to make it stand out.</p>

<h2 id="using-the-information-banner">Using the information banner</h2>

<p>Use an information banner to tell users about something that affects the service as a whole.</p>

<p>For example:</p>

<ul>
<li>in a service that lets the user apply for something, they might need to know that it's taking longer than usual to process applications</li>
<li>in an account-type service, the user might need to know that the service will be down for scheduled maintenance</li>
</ul>

{{ designExample({
  group: "components",
  item: "notification-banners",
  type: "whole-service"
}) }}

<p>If your service is getting more demand than usual, check that you’ve set up "There is a problem with the service" pages and "Service unavailable" pages, and the wording is up to date. Use the <a href="https://design-system.service.gov.uk/patterns/">patterns in the GOV.UK design system</a>.</p>

<p>You can also use the information banner to tell users information about something that's happening elsewhere in the service. For example:</p>

<ul>
  <li>in a case working system, the user might need to know that there are new cases waiting for their attention</li>
  <li>in an account-type service, you might need to tell the user that there's a deadline approaching or that a payment is overdue</li>
</ul>

{{ designExample({
  group: "components",
  item: "notification-banners",
  type: "default"
}) }}

<h2 id="using-the-success-banner">Using the success banner</h2>

<p>Use a success banner to confirm an action on a previous page was successful. For example, for steps in a long journey or small repeated tasks.</p>

{{ designExample({
  group: "components",
  item: "notification-banners",
  type: "success"
}) }}

<p>Remove the success banner when the user moves to a new page.</p>

<p>When the user finishes an entire journey, for example, a service that lets the user register for a thing, use a <a href="/design-system/patterns/confirmation-page/">confirmation page</a>, instead of a success banner.</p>

<p>For long, complex services, use the <a href="/design-system/components/task-list">task list component</a>. You are unlikely to need a success banner on a page with a task list.</p>

<h2>Accessibility</h2>

<p>To make notification banners accessible:</p>

<ul>
<li>use a heading like "Success" so that you're not relying on colour alone to convey meaning (to <a href="https://www.w3.org/WAI/WCAG22/Understanding/use-of-color.html">meet WCAG 2.2 success criterion 1.4.1 Use of colour</a>)</li>
<li>use the same heading for banners across a service so that you're identifying components that work in the same way consistently (to <a href="https://www.w3.org/WAI/WCAG22/Understanding/consistent-identification">meet WCAG 2.2 success criterion 3.2.4 Consistent identification</a>)</li>
<li>the success banner includes <code>role="alert"</code> so the <a href="/design-system/styles/focus-state">focus state</a> shifts to the notification banner on page load.</li>
</ul>

<h2 id="research-on-this-component">Research on this component</h2>

<p>We need more research to understand:</p>

<ul>
<li>how common it is for users to miss important information in notification banners (including users of assistive technology, who might skip straight to the <code>h1</code>)</li>
<li>when it's helpful to allow users to dismiss notifications, and how to do this</li>
</ul>

{% endblock %}
