{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/guidance-by-topic/information-architecture",
      text: "IA guidance"
    }
  ],
  href: "/guidance-by-topic/information-architecture/understanding-users",
  text: "Understanding users",
  classes: "app-breadcrumb"
}) }}
