{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/information-architecture-guidance",
  text: "Information architecture guidance",
  classes: "app-breadcrumb"
}) }}
