{% set pageTitle = "NHS numbers" %}
{% set pageDescription = "Use this pattern to ask people for their NHS number and help them find it." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Ask users for" %}
{% set dateUpdated = "September 2025" %}
{% set backlog_issue_id = "109" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>When to use the NHS number pattern</h2>
  <p>Follow this pattern whenever you need to ask for an NHS number.</p>
  <p>Only ask for an NHS number if 1 of these applies:</p>
  <ul>
    <li>your service needs it</li>
    <li>the user is more likely to succeed on their journey if they can give you an NHS number</li>
  </ul>

  <h2>When not to use the NHS number pattern</h2>
  <p>If users are more likely to succeed by providing other details instead of their NHS number, do not use this pattern.</p>
  <p>Users do not need to know their NHS number to get care. This means that most people do not know their number.</p>

  <h2>How to use the NHS number pattern</h2>
  <p>There are 2 ways of asking users for their NHS number:</p>
  <ul>
    <li>single text input</li>
    <li>filter question before input</li>
  </ul>

  <h3 id="single-text-input">Single text input</h3>
  <p>Use a single <a href="/design-system/components/text-input">text input</a> if the only way users can get the service is by entering their NHS number.</p>

  <p>However, we recommend you avoid building a service that requires users to enter their NHS number. If possible, give users an alternative way to continue with their journey, and use a filter question instead.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "default"
  }) }}

  <p>If you have no other option and must use a single text input:</p>
  <ul>
    <li>label it "What is your NHS number?" or "Enter your NHS number"</li>
    <li>help users recognise their NHS number and know the correct details to enter, for example, with <a href="/design-system/components/hint-text">hint text</a></li>
    <li>tell users where they can find their NHS number before they start the service, as well as during the journey</li>
  </ul>

  <h3 id="filter-question-before-single-text">Filter question before single text input</h3>
  <p>Use a <a href='/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users'>filter question</a> before a single text input if there is another way for users to continue without an NHS number.</p>
  <p>Use a 2-option radio button that asks the user if they know their NHS number.</p>


  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "filter"
  }) }}

  <p>If users know their NHS number, route them to a page that asks for it.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "filter-single"
  }) }}

  <p>If users do not know their NHS number, route them to a page that asks for the alternative details your service needs, for example, postcode and date of birth. It may help to set expectations on the filter question page by telling users what details you will ask them for so they can complete their journey.</p>

  <h3>How to build the NHS number pattern</h3>
  <p>When asking for an NHS number:</p>
  <ul>
      <li>use a text input that allows for spaces and other characters between numbers, as users will type it in in different ways (for example, with dashes)</li>
      <li>allow at least 12 characters in your NHS number input</li>
      <li>check that the NHS number is valid by using a <a href='https://www.datadictionary.nhs.uk/attributes/nhs_number.html'>modulus 11 algorithm (explained on the NHS number page in the NHS Data Model and Dictionary)</a></li>
      <li class="rich-text">keep the NHS number on 1 line – if you use the NHS frontend library or prototype kit, use this HTML code to stop the number from breaking up over 2 lines: <code>&lt;span class="nhsuk-u-nowrap">999 123 4567&lt;/span></code></li>
      <li class="rich-text">add the <code>inputmode='numeric'</code> attribute to your input to let mobile users use a numeric keyboard on iOS devices and mobile Chrome</li>
      <li class="rich-text">add <code>meta name="format-detection" content="telephone=no"</code> to your page to stop iOS treating the NHS number as a phone number (but this means that iOS will not recognise any phone numbers on the page)</li>
  </ul>

  <h3>Help users find and recognise their NHS number</h3>
  <p>Explain where users can find their NHS number and what it looks like. Use <a href="/design-system/components/hint-text">hint text</a> on the filter question page and the single text input page.</p>
  <p>Users are more likely to succeed in their journey the earlier you mention that you will ask for their NHS number and where to find it. For example, you could explain on your service <a href="/design-system/patterns/start-page">start page</a> that having their NHS number is useful, but they do not need it.</p>

  <h3>Use the correct NHS number format</h3>
  <p>Write the NHS number as 3 groups of numbers, with a single space between them, like this: 999 123 4567. This is the preferred example NHS number. You must use a number that starts with 9 as these numbers are used for testing, not for real patients. Use the same number for all examples.</p>
  <p>Read more about how to format <a href='/content/a-to-z-of-nhs-health-writing#nhs-number'>the NHS number</a> in the A to Z of NHS health writing.</p>

  <h3>Write clear error messages</h3>
  <p>Make sure you use clear <a href='/design-system/components/error-message'>error messages</a> and <a href='/design-system/components/error-summary'>error summaries</a> when you ask users for their NHS number.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "error"
  }) }}

  <p>You should tell users if:</p>
  <ul>
    <li>they have included letters</li>
    <li>they have entered a number that is too short or too long (not including spaces)</li>
  </ul>
  <p>You should check:</p>
  <ul>
      <li>if the user has entered a National Insurance number and tell them if they have</li>
      <li>if their NHS number is valid against a modulus 11 algorithm</li>
  </ul>

  <h2>Matching patient data</h2>
  <p>If you're building products and services that need to access or manage patient demographic data, you must use the Personal Demographic Service (PDS). <a href="/standards-and-technology/technology/personal-demographics-service-PDS">Read more about PDS</a>.</p>

  <h2>Research</h2>
  <p>Our research showed that:</p>
  <ul>
    <li>users did not always know what their NHS number looked like</li>
    <li>users did not know where to find their NHS number</li>
    <li>some users thought they were being asked for their National Insurance number</li>
    <li>users with access needs were more likely to know their NHS number because they deal with health and social care organisations more often</li>
    <li>users are more successful the earlier you tell them where to find their NHS number before starting the service</li>
  </ul>

{% endblock %}
