{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "NHS numbers" %}
{% set pageDescription = "Use this pattern to ask people for their NHS number and help them find it." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Ask users for" %}
{% set dateUpdated = "November 2025" %}
{% set backlog_issue_id = "109" %}

{% block beforeContent %}
  {% include "design-system/patterns/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>When to use the NHS number pattern</h2>
  <p>Follow this pattern when you need to ask for an NHS number.</p>
  <p>Weigh up user and business needs and clinical risk in deciding whether to ask users for their NHS number. Asking users for their NHS number is the best way to identify a patient and minimise the risks of matching the wrong person but:</p>
  <ul>
    <li>users do not need to know their NHS number to get care</li>
    <li>some users do not know their number and cannot find it easily</li>
  </ul>
  <p>Use this pattern if users are more likely to succeed in their journey if they can give you their NHS number. Provide another route for users who cannot.</p>
  <p>To minimise the risks of a wrong match, do not rely on an NHS number on its own.</p>

  <h2>When not to use the NHS number pattern</h2>
  <p>Weigh up user and business needs. If users are more likely to succeed by providing other details instead of their NHS number, it may be better not to use this pattern.</p>
  <p>Do not use this pattern if you need to digitally authenticate members of the public logging into a product or service. Use <a href="/standards-and-technology/technology/NHS-login">NHS login</a> instead.</p>

  <h2>How to use the NHS number pattern</h2>
  <p>There are 3 ways of asking users for their NHS number:</p>
  <ul>
    <li>single text input</li>
    <li>filter question before input</li>
    <li>filter question before input with a 3rd option</li>
  </ul>

  <h3 id="single-text-input">Single text input</h3>
  <p>Use a single <a href="/design-system/components/text-input">text input</a> if the only way users can get the service is by entering their NHS number.</p>

  <p>However, avoid building a service that relies on users entering their NHS number. If possible, give users another way to continue with their journey, and use a filter question instead.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "default"
  }) }}

  <p>If you have no other option and must use a single text input:</p>
  <ul>
    <li>label it "What is your NHS number?" or "Enter your NHS number"</li>
    <li>help users recognise their NHS number and know the correct details to enter, for example, with <a href="/design-system/components/hint-text">hint text</a></li>
    <li>tell users where they can find their NHS number before they start the service, as well as during the journey</li>
  </ul>

  <h3 id="filter-question-before-single-text">Filter question before single text input</h3>
  <p>Use a <a href='/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users'>filter question</a> before a single text input if there is another way for users to continue without an NHS number.</p>
  <p>Use a 2-option radio button that asks the user if they know their NHS number.</p>


  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "filter"
  }) }}

  <p>If users know their NHS number, route them to a page that asks for it.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "filter-single"
  }) }}

  <p>If users do not know their NHS number, route them to a page that asks for the alternative details your service needs, for example, postcode and date of birth. It may help to set expectations on the filter question page by telling users what details you will ask them for so they can complete their journey.</p>

  <h3>Filter question before input with 3rd option</h3>
  <p>Some users may benefit from a 3rd option: "I'm not sure".</p>
  <p>Only use this if:</p>
  <ul>
    <li>you can demonstrate a clear user need and business value</li>
    <li>your service can offer an alternative journey for "not sure" users</li>
  </ul>

  <p>Do not use a 3rd option to signpost to general information about NHS numbers.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "filter-third"
  }) }}

  <h3>How to build the NHS number pattern</h3>
  <p>When asking for an NHS number:</p>
  <ul>
      <li>use a text input that allows for spaces and other characters between numbers, as users will type it in in different ways (for example, with dashes)</li>
      <li>allow at least 12 characters in your NHS number input</li>
      <li>check that the NHS number is valid by using a <a href='https://www.datadictionary.nhs.uk/attributes/nhs_number.html'>modulus 11 algorithm (explained on the NHS number page in the NHS Data Model and Dictionary)</a></li>
      <li class="rich-text">keep the NHS number on 1 line – if you use the NHS frontend library or prototype kit, use this HTML code to stop the number from breaking up over 2 lines: <code>&lt;span class="nhsuk-u-nowrap">999 123 4567&lt;/span></code></li>
      <li class="rich-text">add the <code>inputmode='numeric'</code> attribute to your input to let mobile users use a numeric keyboard on iOS devices and mobile Chrome</li>
      <li class="rich-text">add <code>meta name="format-detection" content="telephone=no"</code> to your page to stop iOS treating the NHS number as a phone number (but this means that iOS will not recognise any phone numbers on the page)</li>
  </ul>

  <h3>Help users find and recognise their NHS number</h3>
  <p>Explain where users can find their NHS number and what it looks like. Use <a href="/design-system/components/hint-text">hint text</a> on the filter question page and the single text input page.</p>
  <p>Users are more successful the earlier you mention that you will ask for their NHS number and where to find it. For example, explain on your service <a href="/design-system/patterns/start-page">start page</a> that having their NHS number is useful, but they do not need it.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>

    {% set insetTextHtml %}
      <p>You do not need your NHS number but entering it will give us the best chance of matching you to your NHS record. You can find your NHS number on an NHS letter, prescription or in the NHS App.</p>
    {% endset %}

    {{ insetText({
      html: insetTextHtml,
      classes: "nhsuk-u-margin-top-0"
    }) }}

  </div>


  <h3>Use the correct NHS number format</h3>
  <p>Write the NHS number as 3 groups of numbers, with a single space between them, like this: 999 123 4567.</p>
  <p>We include an example NHS number in this pattern. 999 123 4567 is the preferred example number. If you include an example number, you must use a number that starts with 9 as these numbers are used for testing, not for real patients. Use the same number for all examples.</p>
  <p>If you are displaying an NHS number a user has input, show it in this format, not the way the user entered it.</p>
  <p>Read more about how to format <a href='/content/a-to-z-of-nhs-health-writing#nhs-number'>the NHS number</a> in the A to Z of NHS health writing.</p>

  <h3>Write clear error messages</h3>
  <p>Make sure you use clear <a href='/design-system/components/error-message'>error messages</a> and <a href='/design-system/components/error-summary'>error summaries</a> when you ask users for their NHS number.</p>

  {{ designExample({
    group: "patterns",
    item: "ask-for-nhs-numbers",
    type: "error"
  }) }}

  <p>You should tell users if:</p>
  <ul>
    <li>they have included letters</li>
    <li>they have entered a number that is too short or too long (not including spaces)</li>
  </ul>
  <p>You should check:</p>
  <ul>
      <li>if the user has entered a National Insurance number and tell them if they have</li>
      <li>if their NHS number is valid against a modulus 11 algorithm</li>
  </ul>

  <h2>Matching patient data</h2>
  <p>If you're building products and services that need to access or manage patient demographic data, you must use the Personal Demographic Service (PDS). <a href="/standards-and-technology/technology/personal-demographics-service-PDS">Read more about PDS</a>.</p>

  <h2>Research</h2>
  <p>Our research showed that many people know their NHS number, can find it quickly and would rather enter it than other details. But some users:</p>
  <ul>
    <li>do not know what their NHS number looks like</li>
    <li>cannot easily find it</li>
    <li>try to enter their National Insurance number or a Scottish CHI (Community Health Index) number</li>
  </ul>

{% endblock %}
