<nav class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-breadcrumb__back app-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="/content">Back to Content style guide</a>
    </p>
  </div>
</nav>
