{% extends 'includes/layout.njk' %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}



{% block body %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/content-style-guide",
  text: "Content style guide"
}) }}


<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">



    <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1>A to Z of NHS health writing</h1>
                <p class="nhsuk-body-l">These are some of the words and phrases we use to make our content about health and the NHS easy to understand.</p> 
                <p class="nhsuk-body-l">We try to use the words we know that people use themselves when they talk about their problems and when they search for information on the internet.</p>
            </div>
    </div> 

    <div class="nhsuk-width-container">
          {% from 'components/nav-a-z/macro.njk' import azNav %}

          {{ azNav({
            items: [
              {
                label: "A"
              },
              {
                label: "B"
              },
              {
                label: "C"
              },
              {
                label: "D"
              },
              {
                label: "E"
              },
              {
                label: "F"
              },
              {
                label: "G"
              },
              {
                label: "H"
              },
              {
                label: "I"
              },
              {
                disable: "true",
                label: "J"
              },
              {
                disable: "true",
                label: "K"
              },
              {
                label: "L"
              },
              {
                label: "M"
              },
              {
                label: "N"
              },
              {
                label: "O"
              },
              {
                label: "P"
              },
              {
                disable: "true",
                label: "Q"
              },
              {
                label: "R"
              },
              {
                label: "S"
              },
              {
                label: "T"
              },
              {
                label: "U"
              },
              {
                label: "V"
              },
              {
                label: "W"
              },
              {
                label: "X"
              },
              {
                disable: "true",
                label: "Y"
              },
              {
                label: "Z"
              }
            ]
          }) }}
    </div>
    

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <br><br> <!-- to fix with css -->

        <div class="a-z-list--results nhsuk-reading-width">

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="A">A</h2>

                <h3>absorb</h3>
                <p>We prefer to “take in”.</p>

                <h3>affects</h3>
                <p>It’s alright to use “affects” but in some contexts, for example with medicines, it can be better to say that “something changes the way something else works”. </p>
                <p>Check a dictionary if you’re not sure of the difference between “affect” and “effect”.</p>

                <h3>ageing</h3>
                <p>Not “aging”.</p>

                <h3>alternative</h3>
                <p>We generally use “different” or “other”.</p>
                <p>An exception is “complementary and alternative medicines”.</p>                            

                <h3>Alzheimer’s disease</h3>
                <p>We capitalise the names of conditions that start with a proper name, like Alzheimer’s disease. Note the apostrophe.</p>

                <h3>ampersand (&)</h3>
                <p>Avoid using an ampersand, except in A&E. Use “and” instead.</p>

                <h3>antenatal</h3>
                <p>One word without a hyphen.</p>

                <h3>apply</h3>
                <p>If we are talking about a medicine, we prefer “use”, “put on” or “rub in”.</p>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="B">B</h2>

                <h3>bacteria</h3>
                <p>Users often aren’t interested in the kind of bacteria that caused their problem. They want to know what to do about it. Only mention the name of the bacteria (full or short name) if users need it.</p>
                <p>We do include the names of bacteria, for example, when we are writing for a more specialist audience, like when we’re explaining science news (Behind the Headlines).</p>
                <p>If you give the full Latin name of a bacterium, capitalise the first word (“Staphylococcus aureus”) but put the shortened “staphylococcus” in lower case.</p>
                <p>Do not use italics.</p>

                <h3>baseline</h3>
                <p>One word.</p>

                <h3>bottle feeding</h3>
                <p>Two words.</p>

                <h3>bowel movement</h3>
                <p>See poo [link].</p>                               

                <h3>Braille</h3>
                <p>Starts with a capital letter.</p>

                <h3>breast milk</h3>
                <p>Two words.</p>

                <h3>breastfeeding</h3>
                <p>One word.</p>

                <h3>BSE</h3>
                <p>See CJD [link] </p>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="C">C</h2>

                <h3>caesarean</h3>
                <p>Lower case. </p>

                <h3>CJD</h3>
                <p>We use CJD – or variant CJD (vCJD) as the human form of BSE.</p>
                <p>Use full name “Creutzfeldt-Jakob disease” when you first mention CJD.</p>
                <p>We do not use “mad cow disease” or BSE.</p>

                <h3>clinical commissioning groups (CCGs) </h3>
                <p>Lower case, except when you are referring to a particular CCG. For example:  Anytown Clinical Commissioning Group.</p>

                <h3>condition</h3>
                <p>We use “condition”, “problem” or “illness”.</p>
                <p>We avoid words like “disease” and “disorder” as they can sound negative. But we do use these words in the names of specific diseases or disorders, like Alzheimer’s disease or obsessive compulsive disorder (OCD) or terms like “tropical diseases”.</p>
                <p>See the section on <a href="../content/inclusive-language">conditions in the section on Inclusive language</a>.</p>                               

                <h3>CT scan </h3>
                <p>You don’t need to spell it out. The abbreviation is fine.</p>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="D">D</h2>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>                               

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="E">E</h2>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>                               

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

            </div>


        </div>
  



    </div>


    <div class="nhsuk-grid-column-one-third">

    </div>


  </div>      


  </main>
</div>
{% endblock %}
