{% extends 'includes/layout.njk' %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}



{% block body %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/content-style-guide",
  text: "Content style guide"
}) }}


<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">



    <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1>A to Z of NHS health writing</h1>
                <p class="nhsuk-body-l">These are some of the words and phrases we use to make our content about health and the NHS easy to understand.</p> 
                <p class="nhsuk-body-l">We try to use the words we know that people use themselves when they talk about their problems and when they search for information on the internet.</p>
            </div>
    </div> 


      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full" id="nhsuk-a-z-list">
          {% from 'components/nav-a-z/macro.njk' import azNav %}

          {{ azNav({
            items: [
              {
                label: "A"
              },
              {
                label: "B"
              },
              {
                label: "C"
              },
              {
                label: "D"
              },
              {
                label: "E"
              },
              {
                label: "F"
              },
              {
                label: "G"
              },
              {
                label: "H"
              },
              {
                label: "I"
              },
              {
                disable: "true",
                label: "J"
              },
              {
                disable: "true",
                label: "K"
              },
              {
                label: "L"
              },
              {
                label: "M"
              },
              {
                label: "N"
              },
              {
                label: "O"
              },
              {
                label: "P"
              },
              {
                disable: "true",
                label: "Q"
              },
              {
                label: "R"
              },
              {
                label: "S"
              },
              {
                label: "T"
              },
              {
                label: "U"
              },
              {
                label: "V"
              },
              {
                label: "W"
              },
              {
                label: "X"
              },
              {
                disable: "true",
                label: "Y"
              },
              {
                label: "Z"
              }
            ]
          }) }}
    </div>
  </div>
    

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="a-z-list--results nhsuk-reading-width">

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="A">A</h2>

                <h3>absorb</h3>
                <p>We prefer to “take in”.</p>

                <h3>affects</h3>
                <p>It’s alright to use “affects” but in some contexts, for example with medicines, it can be better to say that “something changes the way something else works”. </p>
                <p>Check a dictionary if you’re not sure of the difference between “affect” and “effect”.</p>

                <h3>ageing</h3>
                <p>Not “aging”.</p>

                <h3>alternative</h3>
                <p>We generally use “different” or “other”.</p>
                <p>An exception is “complementary and alternative medicines”.</p>                            

                <h3>Alzheimer’s disease</h3>
                <p>We capitalise the names of conditions that start with a proper name, like Alzheimer’s disease. Note the apostrophe.</p>

                <h3>ampersand (&)</h3>
                <p>Avoid using an ampersand, except in A&E. Use “and” instead.</p>

                <h3>antenatal</h3>
                <p>One word without a hyphen.</p>

                <h3>apply</h3>
                <p>If we are talking about a medicine, we prefer “use”, “put on” or “rub in”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="B">B</h2>

                <h3>bacteria</h3>
                <p>Users often aren’t interested in the kind of bacteria that caused their problem. They want to know what to do about it. Only mention the name of the bacteria (full or short name) if users need it.</p>
                <p>We do include the names of bacteria, for example, when we are writing for a more specialist audience, like when we’re explaining science news (Behind the Headlines).</p>
                <p>If you give the full Latin name of a bacterium, capitalise the first word (“Staphylococcus aureus”) but put the shortened “staphylococcus” in lower case.</p>
                <p>Do not use italics.</p>

                <h3>baseline</h3>
                <p>One word.</p>

                <h3>bottle feeding</h3>
                <p>Two words.</p>

                <h3>bowel movement</h3>
                <p>See <a href="#poo">poo</a>.</p>                               

                <h3>Braille</h3>
                <p>Starts with a capital letter.</p>

                <h3>breast milk</h3>
                <p>Two words.</p>

                <h3>breastfeeding</h3>
                <p>One word.</p>

                <h3>BSE</h3>
                <p>See <a href="#CJD">CJD</a>.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="C">C</h2>

                <h3>caesarean</h3>
                <p>Lower case. </p>

                <h3 id="CJD">CJD</h3>
                <p>We use CJD – or variant CJD (vCJD) as the human form of BSE.</p>
                <p>Use full name “Creutzfeldt-Jakob disease” when you first mention CJD.</p>
                <p>We do not use “mad cow disease” or BSE.</p>

                <h3>clinical commissioning groups (CCGs) </h3>
                <p>Lower case, except when you are referring to a particular CCG. For example:  Anytown Clinical Commissioning Group.</p>

                <h3>condition</h3>
                <p>We use “condition”, “problem” or “illness”.</p>
                <p>We avoid words like “disease” and “disorder” as they can sound negative. But we do use these words in the names of specific diseases or disorders, like Alzheimer’s disease or obsessive compulsive disorder (OCD) or terms like “tropical diseases”.</p>
                <p>See the section on <a href="../content/inclusive-language">conditions in the section on Inclusive language</a>.</p>

                <h3>CT scan </h3>
                <p>You don’t need to spell it out. The abbreviation is fine.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="D">D</h2>

                <h3>degrees (temperature)</h3>
                <p>We use C for centigrade or Celsius – for example, 16C or –4C.</p>
                <p>Do not include the degree symbol (°).</p>
                <p>We are working on how we refer to fever and will publish guidance on this soon.</p>

                <h3>diabetic</h3>
                <p>We don’t talk about people as “diabetic”. We say they have diabetes. See the section on conditions in Inclusive language.</p>
                <p>We do use “diabetic” in phrases like “diabetic eye screening”.</p>

                <h3>dietitian</h3>
                <p>Not dietician</p>

                <h3>diuretics</h3>
                <p>We don’t call them “water tablets”. We explain that diuretics are “tablets that make you pee more”.</p>                               

                <h3>DNA</h3>
                <p>It’s OK to use the abbreviation.</p>

                <h3>doctor</h3>
                <p>We mostly use “GP”. But where a user may see either a GP or another health professional, for example in a hospital setting, we use “doctor”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="E">E</h2>

                <h3>eardrop, eardrum, earlobe, earwax</h3>
                <p>All of them one word.</p>

                <h3>eg</h3>
                <p>eg can sometimes be read aloud as “egg” by screen readers. We prefer “for example” or “such as” or “like” or “including” – whichever works best.</p>

                <h3>epileptic</h3>
                <p>We don’t talk about people as “epileptics”. We say they have epilepsy. See the section on <a href="/content/inclusive-language">conditions in the section on Inclusive language</a>.</p>

                <h3>equivalent</h3>
                <p>We use “equal to”.</p>                               

                <h3>etc</h3>
                <p>Avoid etc. Try using “for example” or “such as” or “like” or “including” instead.</p>

                <h3>exceed</h3>
                <p>We use “more than”.</p>

                <h3>excessive</h3>
                <p>We use “too much”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="F">F</h2>

                <h3>5 A Day</h3>
                <p>Note the number and capital letters. This is the campaign which encourages people to eat 5 portions of fruit and vegetables every day. </p>

                <h3>flu</h3>
                <p>Not influenza. No apostrophe.</p>

                <h3>flu jab or flu vaccine </h3>
                <p>We sometimes use “flu jab” for adults, because people search for this. But we use “flu vaccine” for children. (The child vaccine is a spray.)</p>
                <p>People who are looking for information about flu vaccination in pregnancy search for “jab”.</p>
                <p>For the annual flu vaccination programme, we use the term “flu vaccine” as that covers children and adults.</p>

                <h3>foot and mouth disease</h3>
                <p>Lower case.</p>

                <h3>formulations</h3>
                <p>Rather than talking about different medicines formulations, we talk about “different types” (for example, of hydrocortisone) or “different ways” of using a medicine.</p>                               

                <h3>foundation trust</h3>
                <p>Lower case, unless you are giving the full name of a foundation trust. For example: Salisbury NHS Foundation Trust.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="G">G</h2>

                <h3>GP</h3>
                <p>Where a user may see either a GP or another health professional, for example in a hospital setting, use “doctor”.</p>

                <h3>gullet</h3>
                <p>We use “food pipe”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="H">H</h2>

                <h3>healthcare</h3>
                <p>One word.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="I">I</h2>

                <h3>ie</h3>
                <p>We try not to use “ie” (which means “that is” or “that means”). You can usually write your sentence in another way.</p>

                <h3>immunisation</h3>
                <p>Only use “immunisation” for the Public Health England (PHE) Immunisation programme or Joint Committee on Vaccination and Immunisation (JCVI).</p>
                <p>We use “vaccination” otherwise. [link to vaccination]</p>

                <h3>injection or jab </h3>
                <p>You can use “injection” or “jab” for the injection of vaccine [link to vaccine].</p>

                <h3>inpatient</h3>
                <p>One word. Like outpatient.</p>                               

                <h3>interaction</h3>
                <p>For medicines, we say “it does not mix with”. </p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="L">L</h2>

                <h3>licensed for</h3>
                <p>For medicines, we say “can be used for” or is or isn’t “officially approved for”.</p>

                <h3>lifelong</h3>
                <p>One word.</p>

                <h3>lip-reading</h3>
                <p>With a hyphen.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="M">M</h2>

                <h3>mad cow disease</h3>
                <p>[Missing from doc].</p>

                <h3>microgram</h3>
                <p>Write microgram in full. <p>
                <p>Do not shorten it to mcg.</p>
                <p>It helps to explain that a microgram is 1,000 times smaller than a milligram (mg).</p>
                <p>If users might come across the microgram symbol, for example on their medicines packet, we add the following when we first mention micrograms: "The word microgram is sometimes written with the Greek symbol μ followed by the letter g (μg).” (We explain that it’s a Greek symbol so that people who use screen readers understand it when they hear an unexpected sound.)</p>
                <p>We don't use μg as an abbreviation in text that follows.</p>

                <h3>milk</h3>
                <p>In “cows’ milk” and “goats’ milk”, the apostrophe comes after the “s”.<p>
                <p>In “sheep’s milk”, the apostrophe comes before the “s”, because “sheep” is plural.</p>
                <p>We write “breast milk” as two words.</p.

                <h3>morning after pill</h3>
                <p>Lower case without hyphens. It can be “emergency contraception”. <p>
                
                <h3>MRI scan</h3>
                <p>The abbreviation is fine.<p>
                
                <h3>mucus and mucous</h3>
                <p>Mucus is a noun. Mucous is an adjective. <p>
                <p>Example: If you have allergic rhinitis, the inside layer of your nose (the mucous membrane) may become swollen and you may produce a lot of mucus.<p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="N">N</h2>

                <h3>licensed for</h3>
                <p>For medicines, we say “can be used for” or is or isn’t “officially approved for”.</p>

                <h3>lifelong</h3>
                <p>One word.</p>

                <h3>lip-reading</h3>
                <p>With a hyphen.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="O">O</h2>

                <h3>occur</h3>
                <p>Avoid “occur”. Try other words, like “happen”, or reword your sentence.</p>
                <p>For example: instead of “Symptoms only occur in children under the age of 2”, we say: “Only children under the age of 2 get symptoms”.</p>

                <h3>OK</h3>
                <p>It’s OK to use OK.</p>

                <h3>oral</h3>
                <p>We use the word “mouth”. For example, we say “mouth cancer” rather than “oral cancer”.</p>
                <p>If we’re talking about taking medicines, we say “by mouth” or “that you swallow”.</p>

                <h3>oral contraceptives</h3>
                <p>We prefer “contraceptive pills”.</p>

                <h3>organisations</h3>
                <p>We use a singular verb for an organisation. For example: “The NHS in England deals with over 1 million patients every 36 hours.” Or “The World Health Organization says …”.</p>
                <p>We use the pronoun “it” for the NHS.</p>
                <p>Organisations don’t do things. The people in organisations do. So we say: “Tell hospital staff in advance if you can’t attend your appointment and they will try to arrange a new one”, rather than “… the hospital will arrange a new one”.</p>

                <h3>outpatient</h3>
                <p>One word. Like inpatient.</p>

                <h3>over the counter or OTC</h3>
                <p>We say “medicine you buy (from a pharmacy or shop)”.</p>
                <p>We put pharmacies first, ahead of supermarkets and shops.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="P">P</h2>

                <h3>pee</h3>
                <p>We use the nouns “pee” and “urine”. We know that everyone can understand “pee”, including people who find reading difficult. Most people also understand and search for “urine”, for example in phrases like “blood in urine”. </p>
                <p>We don’t use “wee” because it can confuse people who use voice technologies or screen readers.</p>
                <p>We use “pee” for the verb, not “urinate” or “pass urine”. We know that users talk about and search for “peeing more often” and “peeing at night”.</p>

                <h3>persist</h3>
                <p>We use “carry on” or “keep going”.</p>

                <h3 id="poo">poo</h3>
                <p>We mostly use “poo”, rather than “stool”. We know that everyone can understand “poo”, including people who find reading difficult.</p>
                <p>We don’t use “opening your bowels” or “bowel movements”.</p>
                <p>We sometimes use the words “stool” or “bowel” when users will hear their GP use them. But we will explain the term or phrase.  For example:</p>
                <ul>
                  <li>“a sample of poo (stool sample)”</li>
                  <li>“Bowel incontinence can affect people in different ways. You may have a problem if you have sudden urges to poo that you can't control.”</li>
                </ul>

                <h3>practice</h3>
                <p>Practice is the noun, as in “GP practice”.</p>
                <p>Practise is a verb. For example: “Practise pelvic floor exercises”.</p>

                <h3>pre-school</h3>
                <p>With a hyphen.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="R">R</h2>

                <h3>radiographer or radiologist</h3>
                <p>Radiographers take X-rays. Radiologists read them.</p>

                <h3>reduce pain</h3>
                <p>We say “help with pain” or “ease the pain”.</p>

                <h3>reduced kidney function</h3>
                <p>We say “kidneys that don’t work well”.</p>

                <h3>risk and risk factors</h3>
                <p>We prefer “chance” to “risk” when we’re writing for the public.</p>
                <p>We try not to talk about “risk factors” and instead explain them some other way.</p>
                <p>We do use “risk” and risk factors when we are writing for a more specialist audience, for example when we’re explaining science news (<a href="https://www.nhs.uk/news/">Behind the Headlines</a>).</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="S">S</h2>

                <h3>safe/safer</h3>
                <p>Beware of saying “safe drinking” or “safe sex”.</p>
                <p>It’s hard to know what is really “safe” so we talk about “safer sex” or “safer drinking”. That suggests that people can lower but not necessarily get rid of the risk altogether.</p>

                <h3>safety precaution</h3>
                <p>We say “for safety”.</p>

                <h3>seek</h3>
                <p>We say “ask for”.</p>

                <h3>sexual health clinic</h3>
                <p>We use “sexual health clinic”, not “STI clinic”.</p>
                <p>Sexual health clinics can offer different services. So, when we mention them for the first time and are talking about STIs, we sometimes add that they may also be called “GUM clinics”. When we are talking about contraception, we sometimes add that they may also be called “family planning or contraception clinics”.</p>

                <h3>sick</h3>
                <p>We use “feeling sick” instead of “nausea”, but you may want to put “nausea” in brackets afterwards: feeling sick (nausea).</p>
                <p>We use “being sick” instead of “vomiting”. Again, you may want to put “vomiting” in brackets afterwards: being sick (vomiting).</p>
                <p>We do use “vomiting” in phrases like “vomiting blood”.</p>
                <p>We use “vomit” as the noun. For example, “blood in your vomit”.</p>

                <h3>side effects</h3>
                <p>Two words.</p>
                <p>We say that people may “get” or “have” side effects, not “develop” or “experience” them.</p>
                <p>Check a dictionary if you’re not sure of the difference between “affect” and “effect”.</p>

                <h3>STI</h3>
                <p>You might want to spell out “sexually transmitted infection” the first time you mention it. Otherwise it’s fine to use the abbreviation STI.</p>
                <p>We talk about “a” sexually transmitted infection but “an” STI.</p>
                <p>We don’t use the terms “sexually transmitted disease” or “STD”.</p>

                <h3>stool</h3>
                <p>See poo [link].</p>

                <h3>suffering from</h3>
                <p>We don’t use “suffering from”. We talk about people having or living with a disability or condition. See the section on <a href="content/inclusive-language">disabilities and conditions in the section on Inclusive language.</a></p>

                <h3>symptoms</h3>
                <p>We say that people may “get” or “have” symptoms, not “develop” or “experience” them.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>         

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="T">T</h2>

                <h3>tranquillise, tranquilliser</h3>
                <p>Note the double “ll”. We use the British spelling with “s”, not “z”.</p>

                <h3>try to</h3>
                <p>We prefer “try to” to “try and”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="U">U</h2>

                <h3>unplanned</h3>
                <p>Use “unplanned” rather than “unwanted” when talking about pregnancy.</p>

                <h3>urine</h3>
                <p>See pee [link].</p>

                <h3>uterus</h3>
                <p>We prefer “womb”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="V">V</h2>

                <h3>vaccination</h3>
                <p>We use “vaccination” for national programmes (not “immunisation programme”). For example: NHS vaccination schedule, flu vaccination programme.</p>
                <p>Most people search for “vaccination”, not “immunisation”. [link to immunisation]</p>
                <p>“Vaccination” includes injections and oral or nasal spray. People become “immune” after vaccination.</p>

                <h3>vaccine</h3>
                <p>We use “vaccine” for the virus, bacteria or toxin dose. For example: 6-in-1 vaccine, HPV vaccine.</p>
                <p>The exception is the “flu jab”. We sometimes use “flu jab” for adults, because people search for this. But we use ‘flu vaccine’ for children, because the child vaccine is a spray.</p>
                <p>For the annual flu vaccination programme, we use the term “flu vaccine” as that covers children and adults.</p>

                <h3>vomiting</h3>
                <p>We use “being sick” instead of “vomiting”. You may want to put “vomiting” in brackets afterwards: being sick (vomiting).</p>
                <p>We do use “vomiting” in phrases like “vomiting blood”.</p>
                <p>We use “vomit” as the noun. For example, “blood in your vomit”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="W">W</h2>

                <h3>walk-in centre</h3>
                <p>Not walk in centre or Walk-In Centre (unless it’s the name of a particular centre).</p>

                <h3>water infections</h3>
                <p>We use “urinary tract infections (UTIs)” instead.</p>

                <h3>water tablets</h3>
                <p>We don’t use “water tablets”. We explain that diuretics are “tablets that make you pee more”.</p>
                
                <h3>wellbeing</h3>
                <p>One word. </p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="X">X</h2>

                <h3>X-ray</h3>
                <p>With a capital X.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            <br><br> <!-- to fix with css -->

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="Z">Z</h2>

                <h3>zimmer frame</h3>
                <p>Two words, lower case. </p>
                <p>When we talk about “walking frames”, we also mention “zimmer frames”. We have found that older people are more likely to know them as “zimmer frames”.</p>

                <a class="nhsuk-back-to-top-link" href="#nhsuk-a-z-list"><svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="/static/nhsuk_shared/img/icon-arrow-up.png" xlink:href=""></image></svg>
                  Back to top
                </a>

            </div>

            



        </div>
  



    </div>


    <div class="nhsuk-grid-column-one-third">

    </div>


  </div>      


  </main>
</div>
{% endblock %}
