{% extends 'includes/layout.njk' %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}



{% block body %}

{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/content-style-guide",
  text: "Content style guide"
}) }}


<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">



    <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1>A to Z of NHS health writing</h1>
                <p class="nhsuk-body-l">These are some of the words and phrases we use to make our content about health and the NHS easy to understand.</p> 
                <p class="nhsuk-body-l">We try to use the words we know that people use themselves when they talk about their problems and when they search for information on the internet.</p>
            </div>
    </div> 

    <div class="nhsuk-width-container">
          {% from 'components/nav-a-z/macro.njk' import azNav %}

          {{ azNav({
            items: [
              {
                label: "A"
              },
              {
                label: "B"
              },
              {
                label: "C"
              },
              {
                label: "D"
              },
              {
                label: "E"
              },
              {
                label: "F"
              },
              {
                label: "G"
              },
              {
                label: "H"
              },
              {
                label: "I"
              },
              {
                disable: "true",
                label: "J"
              },
              {
                disable: "true",
                label: "K"
              },
              {
                label: "L"
              },
              {
                label: "M"
              },
              {
                label: "N"
              },
              {
                label: "O"
              },
              {
                label: "P"
              },
              {
                disable: "true",
                label: "Q"
              },
              {
                label: "R"
              },
              {
                label: "S"
              },
              {
                label: "T"
              },
              {
                label: "U"
              },
              {
                label: "V"
              },
              {
                label: "W"
              },
              {
                label: "X"
              },
              {
                disable: "true",
                label: "Y"
              },
              {
                label: "Z"
              }
            ]
          }) }}
    </div>
    

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



        <div class="a-z-list--results nhsuk-reading-width">

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="A">A</h2>

                <h3>absorb</h3>
                <p>We prefer to “take in”.</p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>                               

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

            </div>

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="B">B</h2>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>                               

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

            </div>

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="C">C</h2>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>                               

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

            </div>

            <div class="nhsuk-a-z-list--results-items">
                
                <h2 id="D">D</h2>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>                               

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

                <h3></h3>
                <p></p>

            </div>


        </div>
  



    </div>


    <div class="nhsuk-grid-column-one-third">

    </div>


  </div>      


  </main>
</div>
{% endblock %}
