{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "British Sign Language (BSL) quality assurance standard" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "This standard outlines the clinical assurance process for creating BSL translations of pre-recorded videos for the NHS. It also includes guidance on video production." %}
{% set dateUpdated = "January 2024" %}
{% set backlog_issue_id = "459" %}

{% block beforeContent %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <h2>BSL and accessibility</h2>
    <p>Providing BSL translations of pre-recorded audio and video content is a WCAG&nbsp;2.2 AAA criterion. The NHS is legally required to meet, at a minimum, Level&nbsp;AA. AAA is best practice.</p>
    <h2>Make sure your original video is high quality health content</h2>
    <p>Before you create a BSL translation, your original video must meet the requirements in the <a href="/content/standard-for-creating-health-content">Standard for creating health content</a>. This includes, for example:</p>
    <ul>
      <li>getting clinicians or other subject matter experts to review your content</li>
      <li>meeting relevant laws, such as data protection regulations</li>
      <li>focusing on user needs and, where possible, testing your content</li>
    </ul>
    <h2>Quality assuring the BSL translation</h2>
    <p>You must get BSL videos independently assured by a Deaf-led BSL supplier.</p>

    <h3>1. Choose a supplier with appropriately qualified staff</h3>
    <p>Your supplier must have sign language translators or interpreters who are registered with the <a href="https://www.nrcpd.org.uk/index.php">National Registers of Communications Professionals Working with Deaf and Deafblind People (NRCPD)</a>.
    <p>The supplier should use 2 NRCPD registered translators to assure the video: 1 to translate it and the other to check their work. If this is not possible, they can use 1 registered translator and 1 registered interpreter or 2 NRCPD registered interpreters.</p>
    <p>The translators or interpreters should be trained in medical translation and have experience in the healthcare field.</p>

    <h3>2. Get the video translated and checked</h3>
    <p>1 translator must present the BSL translation on video. The other translator must check that the translation is accurate and clear.</p>

    <h3>3. Document what you have done</h3>
    <p>Record the details of both NRCPD registered sign language translators or interpreters including:</p>
      <ul>
        <li>their names</li>
        <li>their registration numbers</li>
        <li>evidence of current registration</li>
        <li>which translator or interpreter translated the content and which checked it</li>
      </ul>

    <p>We are also looking into creating BSL-only videos. We'll share guidance when we've researched and tested BSL-only content.</p>

    <h2>Production guidance for BSL translations of pre-recorded videos</h2>
    <ul>
        <li>Use a diverse and representative selection of presenters.</li>
        <li>There are regional variations of BSL but try to cater for a nationwide Deaf audience.</li>
        <li>Talk with the supplier to understand if there is anything in the script that would benefit from a graphic ("transliteration") on screen to help users understand it.</li>
        <li>Do not hide any key content. Make sure BSL users can see the presenter at the same time as any graphics, text or other visual elements.</li>
        <li>Place the translator or interpreter in the bottom right-hand corner of the video. The BSL presenter size should be at least 1/6th of the screen.</li>
        <li>Make sure the video is culturally appropriate by working with the BSL community, testing it, or getting feedback.</li>
    </ul>
    <h3>Find out more</h3>
    <ul>
      <li><a href="https://service-manual.nhs.uk/accessibility/content#make-video-and-other-multimedia-content-accessible">Follow NHS accessibility guidance on making videos and other multimedia content accessible</a></li>
      <li><a href="https://www.youtube.com/playlist?list=PLnhASgDToTkuhwx3rRTVszXKoIaU4ej0o">See examples of NHS BSL videos on YouTube</a></li>
      <li><a href="/design-system/patterns/find-bsl-content">Use the BSL icon to help users find BSL content</a></li>
    </ul>
    <h2>Developing this standard</h2>
    <p>This standard was created by the NHS website team in collaboration with:</p>
    <ul>
        <li>the British Deaf Association</li>
        <li>NHS 24 (Scotland)</li>
        <li>the RNID (Royal National Institute for Deaf People)</li>
        <li>SignHealth</li>
    </ul>
    <p>It follows the process used for approving videos for the NHS website and NHS YouTube channel. It also aligns with the <a href="https://www.england.nhs.uk/publication/accessible-information-standard-implementation-guidance/">Accessible Information Standard implementation guidance (NHS England)</a>.</p>
    <p>The standard is new and we're still testing it. Please feed back.</p>
{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
