{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Formatting" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "Formatting and structuring text, including headings, links and lists." %}
{% set dateUpdated = "July 2025" %}
{% set backlog_issue_id = "322" %}

{% block beforeContent %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

    <ul class="nhsuk-list app-side-nav__list">

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/standard-for-creating-health-content">Standard for creating health content</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-we-write">How we write</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/voice-and-tone">Voice and tone</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/health-literacy">Health literacy</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/inclusive-content">Inclusive content</a></li>

      <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/content/formatting">Formatting</a>
        <ul class="app-side-nav__list app-side-nav__list--nested">
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#abbreviations-and-acronyms">Abbreviations and acronyms</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#aligning-text">Aligning text</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#bold-italics-and-underlining">Bold, italics and underlining</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#headings">Headings</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#links">Links</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#lists">Lists</a></li>
        </ul>
      </li>
      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/punctuation">Punctuation</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-to-write-good-questions-for-forms">How to write good questions for forms</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/british-sign-language-bsl-quality-assurance-standard">British Sign Language (BSL) quality assurance standard</a></li>

    </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2 id="abbreviations-and-acronyms">Abbreviations and acronyms</h2>
  <p>We explain an abbreviation or acronym in full on its first use unless it's well known, like UK, NHS, GP. Then we refer to it by initials.</p>
  <p>Example: A body mass index (BMI) above the healthy weight range can increase your risk of serious health problems.</p>

  <h2 id="aligning-text">Aligning text</h2>
  <p>Left-align text in English.</p>
  <p>Some people with cognitive differences have difficulty with blocks of text that are justified (aligned to left and right margins).</p>
  <p>Also people who use screen magnifiers may miss text that is not left-aligned.</p>
  <p>For translations into languages that run right to left (like Arabic), right-align instead.</p>
  <p>Find out more about <a href="/design-system/styles/typography#text-alignment">text alignment in the design system</a>.</p>

  <h2 id="bold-italics-and-underlining">Bold, italics and underlining</h2>
  <p>Use bold sparingly. Do not use italics or underlining (except for links, which are underlined by default).</p>
  <p>Use bold in technical instructions to tell users which element (for example, a text input or button) to select. For example: Select <strong>More</strong>, then select <strong>Messages</strong>.</p>
  <p>Do not use bold to emphasise text. To emphasise words or phrases, you can:</p>
  <ul>
    <li>front-load sentences</li>
    <li>use headings</li>
    <li>use bullets</li>
    <li>use words like "important" in your content </li>
  </ul>
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Why we say this
      </span>
    </summary>
    <div class="nhsuk-details__text">
    <p>Large areas of bold, italics or underlining can be difficult for some people to read. Too much bold makes it difficult for them to know which parts of your content to pay most attention to.</p>
    <p>People may mistake stand-alone bold text for a heading and underlined text for a link.</p>
    <p>By default, screen readers do not announce text in these HTML tags differently:</p>
    <ul>
      <li>&lt;b&gt; or &lt;strong&gt; for bold</li>
      <li>&lt;i&gt; for italics</li>
      <li>&lt;em&gt; for emphasis</li>
    </ul>
    <p>Users may miss anything you wanted to express by using them.</p>
    </div>
  </details>

  <h2 id="headings">Headings</h2>
  <p>Headings help users understand what the page covers and find the information they need. Use them to break up and structure text.</p>
  <h3>Write good headings</h3>
  <p>Make sure your headings:</p>
  <ul>
    <li>are written in sentence case (see <a href="/content/punctuation#capitalisation">capitalisation on the Punctuation page</a>)</li>
    <li>are clear and concise</li>
    <li>describe the content that follows</li>
    <li>start with keywords, if possible</li>
    <li>are action-oriented, if possible (for example, "View your GP health record")</li>
    <li>are not written as questions (except on <a href="/design-system/patterns/question-pages">question pages</a> when you need to ask users questions in your service)</li>
  </ul>

  <h3>Main heading or h1</h3>
  <p>Give your content a unique and informative main heading, which will be heading level 1, or h1. You should only have one h1 per page.</p>
  <p>Keep your h1 concise, ideally 65 characters or less, including spaces.</p>
  <h4>Main headings and page titles</h4>
  <p>The page title in the HTML metadata (the &lt;title&gt; tag) usually includes the h1 together with the website name, separated by a dash. A simple example is "Flu&nbsp;–&nbsp;NHS", which is the page title for <a href="https://www.nhs.uk/conditions/flu/">the flu page on the NHS website</a>. It shows in the browser tab.</p>
  <p>If you use a content management system (CMS), it may create the title from your h1 automatically.</p>
  <p>Find more information about setting up <a href="/design-system/styles/page-template#page-title">page titles in the Page template</a>, including examples of different text in the h1 and page title.</p>

  <h3>Structure content with headings</h3>
  <p>Use heading levels (subheadings, starting with h2 and going down to h4) to break up your content and give it a sensible structure. With each heading, ask yourself if it's a sub-section of the previous heading, the same level or higher.</p>
  <p>Make sure that headings follow the correct "nesting" order, without skipping a level.</p>
  <ul style="list-style-type:none;">
		<li>h1</li>
			<li>&emsp;h2</li>
					<li>&emsp;&emsp;h3</li>
							<li>&emsp;&emsp;&emsp;h4</li>
	</ul>
  <p>Avoid using h5 headings. If you need 5 heading levels, your content is probably too complex.</p>

  <h3>More information in the service manual</h3>
  <p>Find out about:</p>
  <ul>
      <li><a href="/design-system/styles/page-template#page-title">setting up page titles in HTML, in the page template section of the design system</a></li>
      <li><a href="/accessibility/content#use-headings-correctly">using headings correctly, in the accessibility guidance</a></li>
      <li><a href="/design-system/styles/typography#headings">styling headings, in the typography section of the design system</a></li>
      <li><a href="/design-system/patterns/question-pages#page-headings">using legends, labels and captions with page headings, in the question pages pattern</a></li>
  </ul>

   <h2 id="links">Links</h2>
  <p>Make links active, specific and concise.</p>
  <p>Links should describe where they're taking the user. Where you can, use the same words as the title of the page you're linking to. That way, the user will know what to expect.</p>
  <p>We do not use link text such as "click here" or anything that does not make sense when read out of context. Screen readers can move between links without reading the surrounding content.</p>
  {{ table({
    panel: false,
    firstCellIsHeader: false,
    head: [
      {
        text: "We would use:"
      },
      {
        text: "We would not use:"
      }
    ],
    rows: [
      [
        {
          text: "symptoms of asthma"
        },
        {
          text: "symptoms"
        }
      ],
      [
        {
          text: "more about asthma"
        },
        {
          text: "more information"
        }
      ]
    ]
  }) }}
  <p>It's OK to use "see", "read" or "view" in link text. There's no reason to avoid these words from the point of view of inclusion or accessibility.</p>
  <p>If your link is at the end of a sentence, do not include the full stop.</p>
  <h3>Avoid opening new tabs or windows</h3>

  <p>Avoid using links or buttons that open new tabs or windows.</p>
  <p>There are 2 exceptions to this:</p>
  <ul>
    <li>for instructions or other help with filling in a form (for example, a date picker)</li>
    <li>if a user has logged into a secure site and the link would take them away from it</li>
  </ul>
  <p><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G200">Read more about opening new tabs or windows only when necessary (on W3C, WCAG2.2)</a>.</p>
  <p>If links do go to a new tab, warn the user by saying: "Link name (opens in new tab)". Include all of this in the link text.</p>

  <h3>Avoid linking to PDFs</h3>
  <p>Wherever possible, we avoid publishing PDFs or linking to them. Read our <a href="/content/pdfs-and-other-non-html-documents">guidance on PDFs and other non-HTML documents</a>.</p>

  <p>We prefer to link to an HTML page containing the PDF. That way, if the PDF is changed or updated, users can still find the latest information.</p>

  <p>If we need to link to a PDF, we:</p>
  <ul>
    <li>open it in the same tab</li>
    <li>add "PDF only, [file size in MB or KB]" in brackets to the end of the link text, for example: "weight loss progress chart (PDF only, 545KB)"</li>
  </ul>
  <p>Round up values over 1MB to 2 decimal places to keep it as accurate as possible.</p>
  <p>Round up values under 1MB to the nearest KB. For example, round up 835.74KB to 836KB.</p>

  <h2 id="lists">Lists</h2>
  <p>Use lists to make text easier to read.​</p>
  <p>Bulleted lists should be short and snappy. If possible, limit your list to no more than 6 items.​ Each item in the list should be roughly the same length.</p>
  <p>We use bullet points in:</p>
  <ul>
    <li>the pattern to <a href="/design-system/patterns/help-users-decide-when-and-where-to-get-care">help users decide when and where to get care (care cards)</a></li>
    <li><a href="/design-system/components/do-and-dont-lists">Do and Don’t lists</a></li>
  </ul>

  <h3>Lists with a lead-in line</h3>
  <p>This is our preferred list style.</p>
  <p>Use a lead-in line with a colon. The bullets should make sense running on from the lead-in line. In effect, the list is 1 continuous sentence.</p>

  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>A pharmacist can recommend:</p>
    <ul>
      <li>creams to ease pain and irritation</li>
      <li>antiviral creams to speed up healing time</li>
      <li>cold sore patches to protect the skin while it heals</li>
    </ul>
  </div>

  <p>Each bullet point starts lower case and has no punctuation at the end, including after the last point.</p>
  <p>Do not include more than 1 sentence at each bullet point.</p>
  <p>Do not use a heading for a lead-in line.</p>
  <p>Avoid ending a bullet point with "and" and "or". Use the lead-in to let people know the options.</p>

  <h3>Full sentence lists</h3>
  <p>If your user research shows that it helps your users, you can use full sentence bullet points. For example, our medicines information uses full sentence bullet points for key facts.</p>

  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <h3>Key facts</h3>
    <ul>
      <li>Paracetamol takes up to an hour to work.</li>
      <li>The usual dose of paracetamol is one or two 500mg tablets at a time.</li>
      <li>Do not take paracetamol with other medicines containing paracetamol.</li>
      <li>Paracetamol is safe to take in pregnancy and while breastfeeding, at recommended doses.</li>
      <li>Brand names include Disprol, Hedex, Medinol and Panadol.</li>
    </ul>
  </div>

  <p>Each bullet point should be distinct information, start with a capital letter and end with a full stop. There should be no lead in line.</p>

  <h3>Numbered lists</h3>
  <p>We use numbered lists instead of bulleted ones to guide people through a process. Each point starts with a capital letter and ends with a full stop, without a lead-in line.</p>

  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <h3>How to gargle with salt water</h3>
    <ol>
      <li>Dissolve half a teaspoon of salt in a glass of warm water.</li>
      <li>Gargle with the solution then spit it out – do not swallow it.</li>
      <li>Repeat as often as you like.</li>
    </ol>
  </div>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
