{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "How we write" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "Everything we write follows these general principles." %}
{% set dateUpdated = "August 2019" %}
{% set backlog_issue_id = "315" %}

{% block beforeContent %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <h2>Accurate</h2>
  <p>Qualified clinicians check our clinical information and check that it's accurate, clinically safe and has been developed using relevant evidence-based guidance.</p>
  <p>Our content is factual, neutral and unambiguous. We do not use metaphors - we say what we mean.</p>
  <p>We avoid making subjective statements. Use words like "good", "bad", or "easy" with care. For example, don't talk about "a good chance of recovery".</p>
  <p>We do use "good" and "bad" where our users do to describe their symptoms, for example "bad pain" or "bad breath".</p>
  <p>We also use them when there's a good evidence base. For example, we talk about "a good source of iron" or "lack of sleep is bad for your health".</p>
  {{ table({
    panel: false,
    firstCellIsHeader: false,
    head: [
      {
        text: "We would say:"
      },
      {
        text: "We would not say:"
      }
    ],
    rows: [
      [
        {
          text: "It takes X weeks to get an appointment"
        },
        {
          text: "It can take a long time to get an appointment for X"
        }
      ],
      [
        {
          text: "4 out of 5 people recover fully in a week"
        },
        {
          text: "You have a good chance of recovery"
        }
      ],
      [
        {
          text: "A 250ml glass of red wine"
        },
        {
          text: "A large glass of wine"
        }
      ],
                      [
        {
          text: "(More precise symptoms like) stomach ache, cramps, feeling sick, diarrhoea"
        },
        {
          text: "Upset stomach"
        }
      ]
    ]
  }) }}

  <h2>Clear</h2>
  <p>We use language that our users understand. We use plain English and do research to find out which words work best for them.</p>
  <p>We aim for a reading age of 9 to 11 years old. But we recognise that, with some medical information, it's not easy to achieve this. In this case, try to make sure that an 11 to 14-year old will understand.</p>
  <p>We avoid medical jargon and technical terms. We do use medical terms to help with understanding and search, but explain them when they're not commonly known.</p>
  <p>We use a plain English term first, then the medical term. Example: piles (haemorrhoids).</p>
  <p>We use the same style for specialist audiences like health professionals.</p>

  <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
    <h3>Research insight</h3>
    <p>Research has shown that <a href="https://gds.blog.gov.uk/2014/02/17/guest-post-clarity-is-king-the-evidence-that-reveals-the-desperate-need-to-re-think-the-way-we-write/" title="External website">most people prefer to read plain English</a>, and that the more specialist a person's knowledge is, the greater their preference.</p>
  </div>

  <p>Read <a href="/content/health-literacy">our guidance on health literacy</a> to see why it's important to create content that's simple to read.</p>
  <p>You can use a tool like the <a href="https://hemingwayapp.com/">Hemingway Editor</a> to help you write clearer, more usable content.</p>

  <h2>Concise</h2>
  <p>We keep content to the point.</p>
  <p>We use short words. For example, we prefer "have" or "get" to "experience" in phrases like "if you experience headaches".</p>
  <p>We use short sentences - up to 20 words. We use short paragraphs - up to 3 sentences.</p>
  <p>We use subheadings and bulleted lists to help users find what they need.</p>
  <p>We use the active voice - "find a pharmacy" rather than "a pharmacy can be found".</p>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
