{% set pageTitle = 'How we write' %}
{% set pageDescription = 'Everything we write follows these general principles.' %}

{% extends 'includes/layout.njk' %}

{% from 'components/tables/macro.njk' import table %}
{% from 'components/inset-text/macro.njk' import insetText %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/content-style-guide",
  text: "Content style guide"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">{{pageDescription}}</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Accurate</h2>
    <p>Qualified clinicians check our clinical information and check that it is accurate, clinically safe and has been developed using relevant evidence-based guidance.</p>
    <p>Our content is factual, neutral and unambiguous. We do not use metaphors - we say what we mean.</p>
    <p>We avoid making subjective statements. Use words like "good", "bad", or "easy" with care. For example, don’t talk about "a good chance of recovery".</p>
    <p>We do use "good" and "bad" where our users do to describe their symptoms, for example "bad pain" or "bad breath".</p>
    <p>We also use them when there’s a good evidence base. For example, we talk about "a good source of iron" or "lack of sleep is bad for your health".</p>
    {{ table({
      panel: false,
      firstCellIsHeader: false,
      head: [
        {
          text: "We would say:"
        },
        {
          text: "We would not say:"
        }
      ],
      rows: [
        [
          {
            text: "It takes X weeks to get an appointment"
          },
          {
            text: "It can take a long time to get an appointment for X"
          }
        ],
        [
          {
            text: "4 out of 5 people recover fully in a week"
          },
          {
            text: "You have a good chance of recovery"
          }
        ],
        [
          {
            text: "A 250ml glass of red wine"
          },
          {
            text: "A large glass of wine"
          }
        ],
                        [
          {
            text: "(More precise symptoms like) stomach ache, cramps, feeling sick, diarrhoea"
          },
          {
            text: "Upset stomach"
          }
        ]
      ]
    }) }}
    <h2>Clear</h2>
    <p>We use language that our users understand. We use plain English and do research to find out which words work best for them.</p>
    <p>We aim for a reading age of 9 to 11 years old. But we recognise that, with some medical information, it's not easy to achieve this. In this case, try to make sure that an 11 to 14-year old will understand.</p>
    <p>We avoid medical jargon and technical terms. We do use medical terms to help with understanding and search, but explain them when they're not commonly known.</p>
    <p>We use a plain English term first, then the medical term. Example: piles (haemorrhoids).</p>
    <p>We use the same style for specialist audiences like health professionals.</p>
    {{ insetText({
      "HTML": "
      <h3>Research insight</h3>
      <p>Research has shown that <a href=\"https://gds.blog.gov.uk/2014/02/17/guest-post-clarity-is-king-the-evidence-that-reveals-the-desperate-need-to-re-think-the-way-we-write/\" title=\"External website\">most people prefer to read plain English</a>, and that the more specialist a person's knowledge is, the greater their preference."
    }) }}
    <p>Read our guidance on <a href="/service-manual/practices/create-content-for-users-with-low-health-literacy">health literacy</a> to see why it’s important to create content that’s simple to read.</p>
    <h2>Concise</h2>
    <p>We keep content to the point.</p>
    <p>We use short sentences - up to 20 words. We use short paragraphs - up to 3 sentences.</p>
    <p>We use subheadings and bulleted lists to help users find what they need.</p>
    <p>We use the active voice - "find a pharmacy" rather than "a pharmacy can be found".</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: January 2019</p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="app-u-border-top">
      <h3>Content style guide</h3>
      <ul>
        <li><a href="/service-manual/content/voice-and-tone">Voice and tone</a></li>
        <li><a href="/service-manual/content/inclusive-language">Inclusive language</a></li>
        <li><a href="/service-manual/content/writing-for-accessibility">Writing for accessibility</a></li>
        <li><a href="/service-manual/content/formatting-and-punctuation">Formatting and punctuation</a></li>
        <li><a href="/service-manual/content/a-to-z-of-NHS-health-writing">A to Z of NHS health writing</a></li>
        <li><a href="/service-manual/content/links-and-pdfs">Links and PDFs</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
