{% set pageTitle = 'Inclusive language' %}
{% set pageSection = 'Content style guide' %}
{% set pageDescription = 'Writing for and about people in a way that is inclusive and respectful.' %}

{% extends 'includes/layout.njk' %}

{% from 'inset-text/macro.njk' import insetText %}
{% from 'review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/content",
  text: "Content style guide"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-4">NHS services are for everyone. They should be welcoming and impartial.</p>

    <p class ="nhsuk-body-l nhsuk-u-margin-bottom-8">We write for and about people in a way that's inclusive and respectful. This helps us to be accurate and build trust with our users.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="disabilities-and-conditions">Disabilities and conditions</h2>
    <p>We use positive language and don't label people when talking about disabilities and conditions.</p>
    <p>We do say things like:</p>
    <ul>
      <li>people living with a disability, or disabled person</li>
      <li>people with diabetes</li>
      <li>wheelchair user</li>
    </ul>
    <p>We do not say:</p>
    <ul>
      <li>afflicted by</li>
      <li>suffering from</li>
      <li>victim of</li>
      <li>confined to a wheelchair</li>
      <li>handicapped</li>
      <li>diabetic person</li>
      <li>sick or diseased person</li>
    </ul>
    <p>NHS digital services should be accessible to everyone who needs them. Read <a href="/service-manual/accessibility/content">our guidance on accessibility for content designers, writers and editors</a> in the digital service manual.</p>
    <h2 id="mental-health">Mental health</h2>
    <p>We do not describe people as mentally ill.</p>
    <p>We do say:</p>
    <ul>
      <li>mental health condition</li>
      <li>mental health problems</li>
    </ul>
    <h2 id="race-ethnicity-religion-nationality">Race, ethnicity, religion and nationality</h2>
    <p>We only refer to people's ethnic heritage or religion if it's relevant to the content.</p>
    <p>For example:</p>
    {{ insetText({
      "HTML": "<p>You're more at risk of developing type 2 diabetes if you are over 40 - or 25 for south Asian people.</p>"
    }) }}
    <h2 id="sex-gender-sexuality">Sex, gender and sexuality</h2>
    <p>Only mention sex, gender or sexuality if relevant.</p>
    <h3>Gender neutral language</h3>
    <p>We make content gender neutral wherever possible. Avoid gender markers, such as Mr, Miss, Mrs, or Ms.</p>
    <p>We do not label people with their gender identity or sexuality. Instead we say:</p>
    <ul>
      <li>trans woman</li>
      <li>trans man</li>
      <li>lesbian woman</li>
      <li>gay man</li>
      <li>men who have sex with men</li>
    </ul>
    <p>We use "trans woman" for someone who was assigned male at birth and "trans man" for someone who was assigned female at birth. We use "trans woman" or "trans man" in content about the particular health needs of trans people - for example, screening or treatments that trans people need to be aware of, like advising a trans man about cervical and breast screening.</p>
    <p>Otherwise we use "trans" as an umbrella term to cover the diverse range of identities outside the traditional male/female definitions. These include transgender, gender fluid and non-binary.</p>
    <h4>They</h4>
    <p>It's alright to use "they" to avoid "he or she" or where you need a gender-neutral pronoun.</p>
    <p>For example:</p>
    {{ insetText({
      "HTML": "<p>You should see the GP if you have persistent symptoms of osteoarthritis so they can confirm the diagnosis and prescribe any necessary treatment.</p>"
    }) }}
    <h3>When to use "sex" and when to use "gender"</h3>
    <p>Sex is biological – male, female or intersex.</p>
    <p>We use "sex" or, better still, the body part associated with biological sex when we're writing about things like screening that is sex specific, for example, breast and cervical screening.</p>
    <p>Gender is more complex. It's about social and legal status and social expectations. It's also about how people feel and think about themselves.</p>
    <p>Someone may see themselves as a man, a woman or neither (non-binary). They may identify with a gender opposite to the sex they were assigned at birth or neither.</p>
    <p>We use "gender" when we're:</p>
    <ul>
      <li>discussing the social idea or identity as opposed to the biological sex, for example, if we're writing about gender dysphoria or transgender</li>
      <li>writing about a survey or report based on gender, such as gender and professions</li>
    </ul>
    <h2 id="age">Age</h2>
    <p>Only include age if relevant, for example, with vaccination, screening or testing programmes where age determines eligibility. An example of this is chlamydia testing as tests are free for under-25s.</p>
    <p>Here are some of the terms we use for different stages of life with some guidance about the ages they relate to.</p>
    <p>When you need to be more specific, for example if you're writing about medicines dosage, give the actual age. For example, "teenagers aged 16 and over".</p>
    <p>We use:</p>
    <ul>
      <li>fertilised egg: from conception to 14 days</li>
      <li>embryo: from 2 to 9 weeks</li>
      <li>unborn baby: from week 10 to birth</li>
      <li>baby: 0 to 12 months</li>
      <li>toddler: 1 to 3 years</li>
      <li>child: 4 to 12 years</li>
      <li>teenager: 13 to 19 years</li>
      <li>young people: 16 to 24 years</li>
      <li>adult: generally from age 18 but this may vary. Be specific, for example: "adults aged 19 to 64"
      <li>older person: 65 years and over</li>
    </ul>
    <p>With babies and toddlers, we count their age in weeks up until 6 months, then months up until 2 years.</p>
    <p>We do not use the words:</p>
    <ul>
      <li>elderly</li>
      <li>middle aged</li>
      <li>OAP</li>
      <li>old age pensioner</li>
      <li>pensioner</li>
      <li>senior</li>
    </ul>

    <div class="nhsuk-review-date">
     <p class="nhsuk-body-s">Updated: August 2019</p>
    </div>
  </div>
  <aside class="nhsuk-grid-column-one-third">
    {% include './partials/related-nav.njk' %}
  </aside>
</div>
{% endblock %}
