{% set pageTitle = 'Content style guide' %}
{% set pageDescription = 'How to write for digital NHS services.' %}
{% set pageSection = 'Content style guide' %}
{% set landingPage = 'true' %}

{% extends 'includes/app-layout.njk' %}

{% block bodyContent %}

  <p>This style guide is for anyone creating content for the NHS, to help make things clear and consistent across all of our services.</p>
  <p>It's meant as a guide, not a rulebook. You're welcome to adapt a style pattern if it does not meet your users' needs.</p>
  <p>Check the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK A to Z style guide</a> and <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">GOV.UK content design guide</a> for any points of style that you do not find here. If it's not there, we recommend using the Oxford Dictionary for Writers and Editors.</p>

{% endblock %}
