{% set pageTitle = 'Links and PDFs' %}
{% set pageDescription = 'How to handle links and PDFs.' %}

{% extends 'includes/layout.njk' %}

{% from 'tables/macro.njk' import table %}
{% from 'review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/content",
  text: "Content style guide"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Links</h2>
    <p>Make links active, specific and concise.</p>
    <p>Links should describe where they're taking the user. Where you can, use the same words as the title of the page you're linking to. That way, the user will know what to expect.</p>
    <p>We do not use link text such as "click here" or anything that does not make sense when read out of context. Screen readers can move between links without reading the surrounding content.</p>
    {{ table({
      panel: false,
      firstCellIsHeader: false,
      head: [
        {
          text: "We would use:"
        },
        {
          text: "We would not use:"
        }
      ],
      rows: [
        [
          {
            text: "symptoms of asthma"
          },
          {
            text: "symptoms"
          }
        ],
        [
          {
            text: "more about asthma"
          },
          {
            text: "more information"
          }
        ]
      ]
    }) }}
    <h2>PDFs</h2>
    <p>PDFs can be bad for accessibility. Often they do not work well with assistive technologies like screen readers.</p>
    <h3>Publishing PDFs</h3>
    <p>We avoid publishing PDFs. Wherever possible, we create content in HTML. If we do need to publish a PDF, we provide an HTML version as well.</p>
    <p>Any PDFs must meet level AA of the <a href="https://www.w3.org/WAI/intro/wcag.php">Web Content Accessibility Guidelines (WCAG) 2.0</a>.</p>
    <p>Check the GOV.UK guidance on <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/accessible-pdfs">publishing accessible documents</a>.</p>
    <h3>Linking to PDFs</h3>
    <p>We prefer to link to an HTML page containing the PDF. That way, if the PDF is changed or updated, users can still find the latest information.<p>
    <p>If we need to link to a PDF, we:</p>
    <ul>
      <li>open it in the same tab</li>
      <li>add "PDF, [file size in MB or KB]" in brackets to the end of the link text, for example - "weight loss progress chart (PDF, 545KB)"</li>
    </ul>
    <p>Round up values over 1MB to 2 decimal places to keep it as accurate as possible.</p>
    <p>Round up values under 1MB to the nearest KB. For example, round up 835.74KB to 836KB.</p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: June 2019</p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="app-u-border-top">
      <h3>Content style guide</h3>
      <ul>
        <li><a href="/service-manual/content/how-we-write">How we write</a></li>
        <li><a href="/service-manual/content/voice-and-tone">Voice and tone</a></li>
        <li><a href="/service-manual/content/inclusive-language">Inclusive language</a></li>
        <li><a href="/service-manual/content/writing-for-accessibility">Writing for accessibility</a></li>
        <li><a href="/service-manual/content/formatting-and-punctuation">Formatting and punctuation</a></li>
        <li><a href="/service-manual/content/a-to-z-of-NHS-health-writing">A to Z of NHS health writing</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
