{% set pageTitle = "Make content about skin symptoms more inclusive" %}
{% set pageSection = "Content style guide" %}
{% set pageDescription = "This guidance will help you make written content and imagery of skin symptoms inclusive for people with various skin tones and people with a visual impairment." %}
{% set beta = true %}
{% set dateUpdated = "May 2021" %}
{% set backlog_issue_id = "315" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}


{% block sideNav %}
<nav class="app-side-nav">

    <ul class="nhsuk-list app-side-nav__list">

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-we-write">How we write</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/voice-and-tone">Voice and tone</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/inclusive-language">Inclusive language</a></li>

      <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/content/make-content-about-skin-symptoms-more-inclusive">Make content about skin symptoms more inclusive</a>
        <ul class="app-side-nav__list app-side-nav__list--nested">
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#how-to-make-written-content-about-skin-symptoms-more-inclusive">How to make written content about skin symptoms more inclusive</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#how-to-make-images-of-skin-symptoms-more-inclusive">How to make images of skin symptoms more inclusive</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#research-insights">Research insights</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#medical-sources-for-symptoms-on-various-skin-tones">Medical sources for symptoms on various skin tones</a></li>
        </ul>
      </li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/health-literacy">Health literacy</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-to-write-good-questions-for-forms">How to write good questions for forms</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/formatting-and-punctuation">Formatting and punctuation</a>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/links">Links</a></li>

    </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2 id="how-to-make-written-content-about-skin-symptoms-more-inclusive">How to make written content about skin symptoms more inclusive</h2>
  <p>On the NHS website, skin symptoms are mostly described in terms of how they appear on white skin.</p>
  <p>While some skin symptoms (such as itchiness) are the same for everyone, other symptoms may differ depending on people's skin tones.</p>
  <p>When a person's skin tone is not represented in our content, they do not have the same opportunity to recognise symptoms and understand what they need to do next.</p>

  <h3>Prioritise symptoms that affect everyone equally</h3>
  <p>When you list symptoms, start with the ones that affect everyone equally. Depending on the condition these might be:</p>
  <ul>
    <li>shape and size (of a rash, spot, or affected area)</li>
    <li>if or how it spreads on the body</li>
    <li>texture (for example, smooth, blisters, rough or scabs)</li>
    <li>location on the body</li>
    <li>how it feels (for example, itchy, hot or painful)</li>
    <li>other symptoms (such as a high temperature)</li>
    <li>skin colour changes</li>
  </ul>

  <h3>Explain when a symptom may look different on various skin tones</h3>
  <p>A key symptom that's likely to differ on various skin tones is a change in skin colour.</p>
  <p>For example, a rash that looks red when it appears on white skin may not look red when it appears on skin that's brown or black.</p>
  <p>If a change in skin colour does not affect everyone equally, make this clear.</p>
  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>Impetigo starts with red sores or blisters, but the redness may be harder to see on brown and black skin.</p>
  </div>
    <p>If possible, be specific about how a symptom may appear differently on a range of skin tones. We recognise this can be difficult because of a lack of medical sources on which to base this information.</p>
    <p>See our list of <a href="#medical-sources-for-symptoms-on-various-skin-tones">medical sources for symptoms on various skin tones</a> and the <a href="#research-insights">research insights</a> on this page.</p>

  <h3>Describe skin tone as white, brown and black</h3>
  <p>The NHS website team working on skin symptom content has been researching and testing different terms for skin tones.</p>
  <p>From the research done so far, we've found "brown and black skin" and "white skin" tested better than "dark skin", "darker skin" or "light skin" as a way to describe skin tones.</p>
  <p>Based on these learnings, we've started using the term "brown and black skin" instead of "dark skin" or "darker skin", but we're keen to hear from other teams working on skin symptom content.</p>
  <p>Read the <a href="#research-insights">research insights</a> on this page.</p>
  <h3>Include descriptions of how skin feels, if possible</h3>
  <p>Non-visual symptoms are especially useful for people who have a visual impairment.</p>
  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>The scarlet fever rash feels like sandpaper and starts on the chest and tummy.</p>
  </div>
  <p>Read the <a href="#research-insights">research insights</a> on this page.</p>

  <h2 id="how-to-make-images-of-skin-symptoms-more-inclusive">How to make images of skin symptoms more inclusive</h2>
  <p>Images on the NHS website mostly show skin symptoms on white skin, but some symptoms can look different on various skin tones.</p>
  <p>When a person's skin tone is not represented in our images, they do not have the same opportunity to recognise symptoms and understand what they need to do next.</p>
  <p>We're working on additional guidance about when and how to use images.</p>

  <h3>Include images of symptoms on a variety of skin tones, if possible</h3>
  <p>The NHS website team working on skin symptom content has been researching and testing images of skin symptoms on a variety of skin tones.</p>
  <p>From the research done so far, we know that people find multiple images of the same symptom on different skin tones useful.</p>
  <p>We're still testing the best way to display multiple images that's accessible for both sighted people and people with a visual impairment.</p>

  <h3 id="describe-skin-tone-in-alt-text">Describe skin tone in alt-text</h3>
  <p>The NHS website team also looked into how to talk about skin tone in alternative text (alt-text) of images of skin symptoms.</p>
  <p>Alt-text is a short text description of an image for people who cannot see the image.</p>
  <p>We've been using the terms "white", "light brown", "medium brown" and "dark brown" to describe skin tone in alt-text, rather than just saying "white", "brown" or "black".</p>
  <p>We've found being specific about the person's skin tone in the image helps people with a visual impairment.</p>
  <p>We're still researching how best to describe skin tone in alt-text.</p>

  <div class="app-example">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>Yellowing of the white part of the eye and the skin under the person's eyebrows. Shown on dark brown skin.</p>
    <p>(Alt-text on <a href="https://www.nhs.uk/conditions/jaundice/">NHS website jaundice page</a>)</p>
  </div>
  <p>Read more about how to <a href="/accessibility/content#use-alternative-text-for-images-in-content">use alternative text for images in content</a> in our accessibility guidance.</p>

  <h3>Consider providing a long description</h3>
  <p>As well as writing good alt-text, we've found that long descriptions of images are useful for people who have a visual impairment.</p>
  <p>Long descriptions are designed to be used with complex images where short alt-text cannot convey all the information in the image.</p>
  <p>We're still testing the use of long descriptions in content about skin symptoms.</p>

  <h2 id="research-insights">Research insights</h2>
  <h3>Explaining when a symptom may look different on various skin tones</h3>
  <p>NHS website research found people with brown or black skin appreciated content that clearly stated that a symptom may appear differently on various skin tones.</p>

  <h3>Describing skin tone as white, brown and black</h3>
  <h4>1-to-1 interviews</h4>
  <p>The NHS website team asked 6 people with brown or black skin which of these 2 versions they preferred (in content about chickenpox):</p>
  <ul>
    <li>"the spots can be hard to see on brown and black skin"</li>
    <li>"the spots can be hard to see on dark skin"</li>
  </ul>
  <p>5 out of the 6 people preferred the term "brown and black skin" instead of "dark skin" saying it's more:</p>
  <ul>
    <li>helpful</li>
    <li>direct</li>
    <li>specific</li>
    <li>useful in capturing a range of skin tones</li>
  </ul>
  <p>They said "dark skin" was:</p>
  <ul>
    <li>vague</li>
    <li>subjective</li>
    <li>unclear</li>
  </ul>


  <h4>Survey findings</h4>
  <p>The NHS website team found people with brown or black skin preferred the terms "light brown", "medium brown" and "dark brown" to describe skin tones, rather than less specific terms such as "light skin", "dark skin" or "darker skin".</p>
  <p>We use the terms "light brown", "medium brown" and "dark brown" to describe skin tone in alt-text only. See the section on <a href="#describe-skin-tone-in-alt-text">describing skin tone in alt-text</a> on this page.</p>

  <h3>Including descriptions of how skin feels</h3>
  <p>NHS website research found people who have a visual impairment find it particularly useful when we include descriptions of how skin feels when you touch it, as this helps them know what to feel for on their own skin or someone else's skin.</p>

  <h3>Next steps</h3>
  <p>We're still looking into issues related to describing skin symptoms on various skin tones, including:</p>
  <ul>
    <li>the best way to label skin tone in alt-text</li>
    <li>if we're describing how skin symptoms appear on various skin tones, which skin tone to mention first</li>
    <li>if a skin symptom about a change to skin colour looks the same on all skin tones, should we say this explicitly</li>
  </ul>
  <h2 id="medical-sources-for-symptoms-on-various-skin-tones">Medical sources for symptoms on various skin tones</h2>
  <ul>
    <li><a href="https://www.blackandbrownskin.co.uk/mindthegap">Mind the Gap</a>: UK clinical handbook of signs and symptoms in black and brown skin published in 2020</li>
    <li><a href="https://dftbskindeep.com/">Skin Deep</a>: international website with images of skin conditions in children shown on a range of skin tones</li>
    <li><a href="https://skinofcolorsociety.org/dermatology-education/">Skin of Color Society: Dermatology education for patients</a>: US website with information on a range of skin conditions</li>
    <li><a href="https://www.bad.org.uk/healthcare-professionals/inclusivity-and-representation/descriptors-in-dermatolog">The British Association of Dermatologists (BAD) and minority ethnic group inclusivity</a>: information on what BAD is doing to improve descriptions of skin symptoms across a range of skin tones</li>
    <li><a href="https://www.bad.org.uk/healthcare-professionals/inclusivity-and-representation/erythema-in-skin-of-colour">The British Association of Dermatologists (BAD): statement on describing redness (erythema) in skin of colour</a></li>
  </ul>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
