{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Numbers, measurements, dates and time" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "Content styles, including numerals, ordinals, dosage, temperature, fractions and percentages" %}
{% set dateUpdated = "August 2023" %}
{% set backlog_issue_id = "321" %}

{% block beforeContent %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

    <ul class="nhsuk-list app-side-nav__list">

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/standard-for-creating-health-content">Standard for creating health content</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-we-write">How we write</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/voice-and-tone">Voice and tone</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/health-literacy">Health literacy</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/inclusive-content">Inclusive content</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/formatting">Formatting</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/punctuation">Punctuation</a></li>

      <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a>
        <ul class="app-side-nav__list app-side-nav__list--nested">
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#designing-content-for-people-who-struggle-with-number">Designing content for people who struggle with numbers</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#numbers">Numbers</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#measurements">Measurements</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#dates">Dates</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#time">Time</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#ranges">Ranges of numbers, dates and time</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#fractions-and-percentages">Fractions and percentages</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#statistics">Statistics</a></li>
        </ul>
      </li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-to-write-good-questions-for-forms">How to write good questions for forms</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/british-sign-language-bsl-quality-assurance-standard">British Sign Language (BSL) quality assurance standard</a></li>

    </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2>Designing content for people who struggle with numbers</h2>
  <p>Half of working-age adults in the UK have low numeracy. Around 1 in 20 people have dyscalculia, which is a specific and persistent difficulty in understanding numbers.</p>
  <p>People who struggle with numbers may have problems with:</p>
  <ul>
      <li>entering numbers, like their NHS number</li>
      <li>reference numbers and not knowing what to do with them</li>
      <li>distinguishing the number 0 and letter O</li>
      <li>numbers in tables and charts</li>
  </ul>
  <p>Try putting numbers into context in sentences.</p>
  <p>If you're communicating statistics or treatment risks and benefits, you could consider visual aids. However, we do not yet have enough research to recommend them. If you explore using visual aids, please feed back your user research findings on the <a href="https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/436">GitHub issue for data visualisation (helping users understand data)</a>.</p>
  <p>Find out more about presenting numbers clearly on:</p>
  <ul>
    <li><a href="https://accessiblenumbers.com/">the Accessible numbers website</a></li>
    <li><a href="https://htmlpreview.github.io/?https://github.com/abbott567/dyscalculia-poster/blob/main/dist/dyscalculia-poster.html">the GOV.UK poster on designing for users with dyscalculia or low numeracy</a></li>
  </ul>

  <h2 id="numbers">Numbers</h2>
  <h3>Numerals (1, 2, 3 and so on)</h3>
  <p>We use numerals for numbers (including 1 and 2), for example when we're talking about statistics, time, measurements, lists, points or steps. People find numerals easier to read and they scan for them.</p>
  <p>For numbers over 999, use a comma for clarity –  for example, 1,000.</p>
  <p>Avoid decimal points. Round up numbers to the nearest whole number, except for:
  <ul>
    <li>money</li>
    <li>medicines dosage, for example: 0.5mg</li>
    <li>medical tests or measurements, for example: a BMI of 18.5</li>
  </ul>
  <p>If you need to use numbers less than 1, use 0 before the decimal point – for example, 0.25.</p>

<div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
      <ul>
        <li>Add 1 to 2 teaspoons of honey.</li>
        <li>Do this for 1 or 2 minutes.</li>
        <li>It takes 1 to 3 weeks from the time you were exposed to chickenpox for the spots to start appearing.</li>
        <li>Depression affects about 1 in 10 people at some point during their life.</li>
      </ul>
  </div>

  <h4>Using numerals at the start of a sentence</h4>
  <p>It is OK to use numerals at the start of a sentence but, if it looks confusing, consider rewording your sentence.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>14 units is equivalent to 6 pints of average-strength beer or 10 small glasses of low-strength wine.</p>
  </div>

  <h4>Using numerals in headings</h4>
  <p>It's also OK to use them in headings.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
    <ul>
      <li>8 tips for healthy eating</li>
      <li>6-in-1 vaccine</li>
    </ul>
  </div>

  <h4>Using numerals in lists</h4>
  <p>You can use numerals in lists.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
    <p>A portion is:</p>
    <ul>
      <li>80g of fresh, canned or frozen fruit and vegetables</li>
      <li>30g of dried fruit</li>
      <li>50ml glass of fruit juice or smoothie</li>
    </ul>
  </div>
  <h4>Where we do not use numerals</h4>
  <h5>One</h5>
  <p>We spell out "one" when it means "a" or to avoid repeating a word.</p>
    <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>Never take 2 doses at the same time to make up for a forgotten one.</p>
  </div>
  <p>We also use "one" in phrases like:</p>
  <ul>
    <li>"one or the other"</li>
    <li>"one of the most common"</li>
    <li>"one at a time"</li>
  </ul>
  <h5>Dosage</h5>
  <p>We do not use numerals in some medicines information about dosage because we've found they can be confusing. Read more about numbers and <a href="#dosage">dosage</a>.</p>
<h3 id="ordinal-numbers">Ordinal numbers (1st, 2nd, 3rd and so on)</h3>
<p>We use numerals with letter suffixes for ordinal numbers (including 1st and 2nd), for example, when we're talking about dates, quantities and things in a list or sequence.</p>
<p>The letters should be the same size as the numbers. Do not use superscript, for example 1<sup>st</sup>, as it does not always read out correctly on screen readers and could confuse people.</p>
 <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
    <ul>
      <li>a 2nd dose of vaccine</li>
      <li>2nd half of pregnancy</li>
      <li>3rd month of pregnancy</li>
      <li>the 5th day of the month</li>
    </ul>
  </div>
<p>We do not use ordinal numbers in phrases like:</p>
<ul>
  <li>first aid</li>
  <li>first time</li>
  <li>first visit</li>
  <li>secondhand smoke</li>
  <li>second opinion</li>
</ul>

<h2 id="measurements">Measurements</h2>
<h3 id="calories">Calories</h3>
<p>We use "calorie" when talking about calories in general, for example "calorie information on menus". Where appropriate, we explain that calories are often written as "kcal".</p>
<p>We use "kcal" as the unit of measurement. We do not put a space between the number and the measurement.</p>
<div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>The average man needs around 2,500kcal.</p>
</div>
<h3 id="dosage">Dosage</h3>
<p>We do not use a space between amount and measurement.</p>
 <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>The usual dose is 250mg to 500mg.</p>
  </div>
<p>Use your judgement when explaining medicines doses. Avoid having 2 sets of numerals next to each other.</p>
{{ table({
  panel: false,
  firstCellIsHeader: false,
  head: [
      {
        text: "We say:"
      },
      {
        text: "We do not say:"
      }
    ],
    rows: [
      [
      {
          text: "The usual dose is one or two 200mg tablets 3 times a day."
        },
        {
          text: "The usual dose is 1 or 2 200mg tablets 3 times a day."
        }
      ]
    ]
  }) }}

  <h3>Temperature</h3>
  <p>We use Celsius for temperature, but only when talking about children under 6 months old. For adults or children over 6 months old, we do not give a specific temperature.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>If your child is under 3 months old and has a temperature of 38C or higher, or you think they have a high temperature</p>
  </div>
  <p>Read more about <a href="/content/a-to-z-of-nhs-health-writing#temperature">temperature in the A to Z of NHS health writing</a>.</p>

  <h3 id="metric-and-imperial">Metric and imperial</h3>
  <p>We generally use metric. If it's helpful, add imperial in brackets, for example, for advice on cutting back on alcohol.</p>
  <p>Do not use imperial for medicines dosage or infant feeding.</p>

  <h2 id="dates">Dates</h2>
  <p>We use this format: 6 August 2018. If it's helpful to include the day of the week, for example for users booking appointments, we write dates like this: Wednesday 6 August 2018.</p>
  <p>As far as possible, spell out months in full. Screen readers read out shortened months (Jan, Feb and so on) in inconsistent and sometimes confusing ways.</p>

  <h2 id="time">Time</h2>

  {{ table({
    panel: false,
    caption: "",
    captionClasses: "nhsuk-u-visually-hidden",
    firstCellIsHeader: false,
    head: [
      {
        text: "We use:"
      },
      {
        text: "We do not use:"
      }
    ],
    rows: [
      [
        {
          text: "5pm"
        },
        {
          text: "5.00pm or 1700hrs"
        }
      ],
      [
        {
          text: "5:30pm"
        },
        {
          text: "5.30pm or 1730hrs"
        }
      ],
      [
        {
          text: "midnight"
        },
        {
          text: "	00:00, 12am"
        }
      ],
      [
        {
          text: "midday"
        },
        {
          text: "12 noon, 12pm"
        }
      ],
      [
        {
          text: "6 hours 30 minutes"
        },
        {
          text: "6.5hrs"
        }
      ]
    ]
  }) }}

  <h2 id="ranges">Ranges of numbers, dates and time</h2>
  <p>We use "to" for time, date and numerical ranges, not hyphens or dashes.</p>
  <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Examples</strong>
    <ul>
      <li>The surgery is open Monday to Friday, 2pm to 6pm.</li>
      <li>A BMI of 18.5 to 24.9 means you're a healthy weight.</li>
    </ul>
  </div>

  <h2 id="fractions-and-percentages">Fractions and percentages</h2>
  <p>Spell out common fractions like two-thirds.</p>
  <p>For percentages, use the &#37; symbol - for example, 50&#37;. However, it's often better not to use a percentage. Instead of 50&#37;, for example, you could say "1 in 2" or "half". </p>

  <h2 id="statistics">Statistics</h2>
  <p>Use statistics sparingly. Consider the style of writing and your target audience. For example, health professionals may have different needs to members of the public who visit the NHS website.</p>
  <p>Use the clearest, most meaningful format to explain what you're illustrating. For example, use "1 in 7 people" rather than "14.3% of people".</p>
  <p>Avoid mixing different number formats. Use one or the other.</p>
   <div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <p>Overall, around 7 in every 10 people live at least a year after diagnosis and around 5 in 10 people live at least 10 years.</p>
  </div>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
