{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "PDFs and other non-HTML documents" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "HTML is the code for creating web pages. We avoid all non-HTML documents, including PDFs." %}
{% set dateUpdated = "February 2025" %}
{% set backlog_issue_id = "161" %}

{% block beforeContent %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>If you're designing content that people will read on a screen, create it as structured web pages in HTML.</p>
  <p>If you want people to edit the content in a document, publish it in an Open Document Format (ODF). <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">Read GOV.UK guidance on using Open Document Formats</a>.</p>
  <p>You may be breaking the law if you publish a PDF or other non-HTML document without an accessible version.</p>
  <h2>The problem with PDFs</h2>
  <p>We avoid PDFs because:</p>
  <ul>
    <li>they cannot meet the range of users' accessibility needs, for example, users cannot change colours or font size</li>
    <li>they usually give people a poor user experience, especially on mobile</li>
    <li>many browsers, tools and extensions do not work with them – they often have problems with zoom, scroll, audio, image and keyboard navigation</li>
    <li>they make it difficult for users to navigate to the rest of the website</li>
    <li>they may take users away from the website, opening in a new tab, window or software – and not all users have the right software</li>
    <li>they are hard to maintain and update, so users may get out of date and unreliable content</li>
    <li>if users find PDFs in search results, they get them without any supporting context or material, such as who the publisher is</li>
    <li>search engines may not rank PDFs as highly in search results as HTML pages</li>
    <li>it's difficult to collect data on how people use PDFs, and that makes it difficult to identify problems and improve them</li>
  </ul>

  <h2>Creating new PDFs</h2>
  <p>Creating a new PDF document is a last resort and you should avoid it unless there is a specific user need for it. You should always provide an HTML version too.</p>
  <h3>Rare cases where you might need a PDF</h3>
  <p>We may publish a PDF as well as an HTML page:
  <ul>
    <li>for niche audiences, where there is a clear user need for special formats (like Easy Read or foreign language leaflets designed to be printed out)</li>
    <li>for other downloads designed for printing, such as posters</li>
    <li>downloads of reports or publications designed to be published on paper</li>
    <li>where there's a legal or regulatory requirement to have a formal, signed document</li>
    <li>to preserve a permanent record for the future</li>
  </ul>

  <h3>Make PDFs accessible</h3>
  <p>If you have to create a new PDF, it must meet WCAG 2.2 to level AA.</p>
  <p>If you create your PDF correctly and save it in PDF/A (archiving) format, it can meet WCAG 2.2 AA. (Follow the <a href="https://www.gov.uk/guidance/publishing-accessible-documents">GOV.UK guidance on publishing accessible documents</a>.)</p>
  <p>PDFs must have</p>
  <ul>
    <li>a logical structure based on tags and headings</li>
    <li>meaningful document properties, for example, a descriptive title for assistive technology</li>
    <li>readable body text</li>
    <li>good colour contrast</li>
    <li>text alternative for images</li>
  </ul>
  <p>However, there is still no guarantee that your PDF content will meet the accessibility needs of your users. Structured HTML pages are more accessible.</p>

  <h2>Older PDFs and non-HTML documents</h2>
  <h3>Before 23 September 2018</h3>
  <p>It's OK to keep non-HTML documents, including PDFs, created before 23 September 2018 as long as you're no longer using them for business processes, such as forms.</p>

  <h3>After 23 September 2018</h3>
  <p>If you created or still use any non-HTML documents for business processes after 23 September 2018, you should do 1 of the following:</p>
  <ul>
    <li>keep the content up to date and replace them with an HTML page or give users an HTML alternative</li>
    <li>delete them</li>
  </ul>
  <h2>Linking to PDFs</h2>
  <p>It's better to link to HTML pages containing PDF content rather than to PDFs themselves. This makes it easier for users to find the latest information if the PDF is replaced.</p>
  <p>Linking to an HTML page also makes it easier to measure user journeys and analyse website use.</p>
  <p>Read more about <a href="/content/formatting#links">how to handle links</a>, including linking to PDFs.</p>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
