{% set pageTitle = "Planning and writing NHS messages" %}
{% set pageSection = "Content guide" %}
{% set pageDescription = "This guide explains how to create digital messages for NHS App, text and emails, as well as letters." %}
{% set dateUpdated = "November 2025" %}
{% set backlog_issue_id = "450" %}

{% extends "layouts/app-layout.njk" %}

{% block beforeContent %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

    <ul class="nhsuk-list app-side-nav__list">

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/standard-for-creating-health-content">Standard for creating health content</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-we-write">How we write</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/voice-and-tone">Voice and tone</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/health-literacy">Health literacy</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/a-to-z-of-nhs-health-writing">A to Z of NHS health writing</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/inclusive-content">Inclusive content</a></li>

      <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/content/planning-and-writing-text-messages-and-emails">Planning and writing text messages and emails</a></li>
        <ul class="app-side-nav__list app-side-nav__list--nested">
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#when-to-send-emails-and-text-messages">Choosing your channel</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#transactional-messages">Messages in the NHS App</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#text-messages">Text messages</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#emails">Emails</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#letters">Letters</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#writing-effective-messages">Writing effective messages</a></li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#keeping-messages-safe">Keeping messages safe</li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#supporting-accessibility-and-inclusion">Supporting accessibility and inclusion</li>
          <li class="app-side-nav__item"><a class="app-side-nav__link" href="#example-message-templates">Example message templates</li>
        </ul>
      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/formatting">Formatting</a></li>
      
      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/punctuation">Punctuation</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/how-to-write-good-questions-for-forms">How to write good questions for forms</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/pdfs-and-other-non-html-documents">PDFs and other non-HTML documents</a></li>

      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/content/british-sign-language-bsl-quality-assurance-standard">British Sign Language (BSL) quality assurance standard</a></li>

    </ul>

</nav>
{% endblock %}

{% block bodyContent %}

<h2 id="when-to-send-emails-and-text-messages">Choosing your channel</h2>

<p>Always consider whether you can send a digital message in the NHS App first, followed by text or email. If a user doesn’t respond to a digital message, you may still be able to follow up with a letter.</p>

<p>Discuss anything you’re not sure about with your information governance team.</p>

<h2 id="transactional-messages">Messages in the NHS App</h2>

<p>Sending messages in the NHS App are a safe and secure way of communicating with patients and service users. You should:</p>

<ul>
  <li>consider the App first as it’s secure and verified</li>
  <li>keep messages short and concise</li>
  <li>put whatever matters most first</li>
  <li>use short descriptive titles</li>
  <li>include a call to action</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut bibendum dolor. Donec interdum porttitor neque. Praesent at augue eget metus tincidunt efficitur.</p>

<p>Maecenas commodo enim vel massa fermentum, in suscipit quam maximus. Maecenas vehicula est eu porta dapibus.</p>

<p>Morbi augue dolor, venenatis in lobortis quis, sodales vel quam. Donec rhoncus lectus ut odio consectetur fringilla. In porta ipsum a dui molestie elementum.</p>

<h3 id="example-of-a-transactional-message">Example of an NHS App message</h3>
{% from 'inset-text/macro.njk' import insetText %}

{% set insetTextHtml %}
<p><strong>Welcome to the NHS App</strong><p>
<p>If you have full access to the NHS App you can do things like:</p>
<ul>
<li>order repeat prescriptions</li>
<li>manage appointments</li>
<li>view your GP health record</li>
</ul>
<p>If you are unable to access these features, you may need to prove who you are. <a href="https://www.nhs.uk/nhs-app/nhs-app-help-and-support/getting-started-with-the-nhs-app/proving-who-you-are-to-get-full-access/" title="External website">Read more about how to prove who you are</a>.</p>
{% endset %}

{{ insetText({
  html: insetTextHtml
}) }}

<h2 id="text-messages">Text messages</h2>

<p>When choosing to send a text message you should consider:</p>

<ul>
  <li>keeping text messages as short as possible, within one fragment (160 characters), wherever possible for readability</li>
  <li>avoiding abbreviations and links unless necessary</li>
  <li>if this is the right channel for sensitive or clinical information</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut bibendum dolor. Donec interdum porttitor neque. Praesent at augue eget metus tincidunt efficitur.</p>

<p>Maecenas commodo enim vel massa fermentum, in suscipit quam maximus. Maecenas vehicula est eu porta dapibus.</p>

<h2 id="emails">Emails</h2>

<p>Emails are suitable for longer messages with less time sensitive information. When choosing to send an email you should consider:</p>

<ul>
  <li>keeping subject lines short and descriptive</li>
    <li>using plan-text layouts and where possible avoid attachments</li>
  <li>only sending from official NHS domains (e.g. @nhs.net, @nhs.uk)</li>
</ul>

<p>Morbi augue dolor, venenatis in lobortis quis, sodales vel quam. Donec rhoncus lectus ut odio consectetur fringilla. In porta ipsum a dui molestie elementum.</p>

<h2 id="letters">Letters</h2>

<p>Letters should be considered for accessibility or legal reasons and when you need to communicate sensitive information. When choosing to send a letter you should: </p>

<ul>
  <li>avoid jargon</li>
  <li>use clear formatting such as headings and bold for key actions</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut bibendum dolor. Donec interdum porttitor neque. Praesent at augue eget metus tincidunt efficitur.</p>

<p>Maecenas commodo enim vel massa fermentum, in suscipit quam maximus. Maecenas vehicula est eu porta dapibus.</p>


<h2 id="writing-effective-messages">Writing effective messages</h2>

<ul>
  <li>This is where most of the content guidelines will go, e.g.</li>
  <li>Be clear and concise – one purpose per message.</li>
  <li>Start with the key action or information.</li>
  <li>Use plain English (link to “How we write” nhs.uk page?)</li>
  <li>Personalise appropriately for channel (could go in channels section). E.g. “Dear (full name) for letters. 
</li>
  <li>Example here about what constitutes an effective message?</li>
  <li>Before/ After of MBP principles being used to improve a message?</li>
</ul>

<p>Maecenas commodo enim vel massa fermentum, in suscipit quam maximus. Maecenas vehicula est eu porta dapibus.</p>

<h2 id="keeping-messages-safe">Keeping messages safe</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut bibendum dolor. Donec interdum porttitor neque. Praesent at augue eget metus tincidunt efficitur.</p>

<ul>
  <li>Only include sensitive information when necessary.</li>
  <li>Use approved channels (NHS App, Notify, secure email – avoid personal devices)</li>
  <li>Follow your organisation’s information governance and clinical safety process</li>
</ul>

<h2 id="supporting-accessibility-and-inclusion">Supporting accessibility and inclusion</h2>

<ul>
  <li>Write messages that everyone can understand.</li>
  <li>Provide alternatives for those not using digital channels. </li>
  <li>Info about Screen readers, translations in App?</li>
</ul>

<p>Morbi augue dolor, venenatis in lobortis quis, sodales vel quam. Donec rhoncus lectus ut odio consectetur fringilla. In porta ipsum a dui molestie elementum.</p>

<h2 id="example-message-templates">Example message templates</h2>

<p>Morbi augue dolor, venenatis in lobortis quis, sodales vel quam. Donec rhoncus lectus ut odio consectetur fringilla. In porta ipsum a dui molestie elementum.</p>

<ul>
  <li>Appointment reminder</li>
  <li>Screening invitation </li>
  <li>Test results ready notification</li>
  <li>Vaccination campaign invitation</li>
</ul>


<h2>Additional guidance</h2>
<p>You may also find these guides useful:</p>

<ul>
  <li><a href="/service-manual/design/using-adapting-and-creating-patterns">Using, adapting and creating patterns</a></li>
  <li><a href="/service-manual/design/confirmation-pages">Confirmation pages</a></li>
</ul>

{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}

