{% set pageTitle = 'Writing for accessibility' %}
{% set pageDescription = 'We aim for at least level AA of the Web Content Accessibility Guidelines (WCAG 2.0).' %}

{% extends 'includes/layout.njk' %}

{% from 'components/inset-text/macro.njk' import insetText %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/service-manual/",
      text: "Home"
    }
  ],
  href: "/service-manual/content-style-guide",
  text: "Content style guide"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-5">{{pageTitle}}</h1>
      <p class="nhsuk-body-l">All content must meet at least level AA of the Web Content Accessibility Guidelines (WCAG 2.0).</p>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Aim for AAA where possible.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>To understand how to achieve this, use:</p>
      <ul>
        <li>our <a href="/service-manual/practices/make-your-service-accessible">guide to making your NHS service accessible</a></li>
        <li>the <a href="https://www.w3.org/WAI/tips/writing/">Web Accessibility Initiative (WAI) guide to writing for web accessibility</a></li>
      </ul>
    <p>As well as writing content that is accessible, we make sure that:
      <ul>
        <li>we write content at a level most users can understand - read <a href="/service-manual/practices/create-content-for-users-with-low-health-literacy">our guidance on health literacy</a></li>
        <li>no one feels that our language excludes them - read <a href="/service-manual/content/inclusive-language">our guidance on inclusive language</a></li>
      </ul>
    </p>
    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">Updated: <time>January 2019</time></p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="app-u-border-top">
        <h3>Content style guide</h3>
        <ul>
          <li><a href="/service-manual/content/how-we-write">How we write</a></li>
          <li><a href="/service-manual/content/voice-and-tone">Voice and tone</a></li>
          <li><a href="/service-manual/content/inclusive-language">Inclusive language</a></li>
          <li><a href="/service-manual/content/formatting-and-punctuation">Formatting and punctuation</a></li>
          <li><a href="/service-manual/content/a-to-z-of-NHS-health-writing">A to Z of NHS health writing</a></li>
          <li><a href="/service-manual/content/links-and-pdfs">Links and PDFs</a></li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
