{% extends 'includes/layout.njk' %}

{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/review-date/macro.njk' import reviewDate %}

{% block breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
  href: "/content-style-guide",
  text: "Content style guide"
}) }}
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-5">Writing for accessibility</h1>
      <p class="nhsuk-body-l">All content must meet at least level AA of the Web Content Accessibility Guidelines (WCAG 2.0).</p>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Aim for AAA where possible.</p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>To understand how to achieve this, use:</p>
      <ul>
        <li>our <a href="/practices/make-your-service-accessible">guide to making your NHS service accessible</li>
        <li>the <a href="https://www.w3.org/WAI/tips/writing/">Web Accessibility Initiative (WAI) guide to writing for web accessibility</a></li>
      </ul>
    <p>As well as writing content that is accessible, we make sure that no one feels that our language excludes them. Read more about <a href="/content/inclusive-language">inclusive language</a> in the digital service manual.</p>
    {{ reviewDate({
      "lastReview": "August 2018."
    }) }}
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="eric-shame-in-this-section">
        <h3>Content style guide</h3>
        <ul>
          <li><a href="/content/how-we-write">How we write</a></li>
          <li><a href="/content/voice-and-tone">Voice and tone</a></li>
          <li><a href="/content/inclusive-language">Inclusive language</a></li>
          <li><a href="/content/formatting-and-punctuation">Formatting and punctuation</a></li>
          <li><a href="/content/a-to-z-of-NHS-health-writing">A to Z of NHS health writing</a></li>
          <li><a href="/content/links-and-pdfs">Links and PDFs</a></li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
