{% set pageTitle = "Platforms and Infrastructure" %}
{% set pageDescription = "This strategy promotes the vision to make it easier, cheaper and faster for programmes to securely host their systems and services." %}
{% set pageSection = "Information" %}
{% set landingPage = true %}
{% set beta = true %}
{% set hideContact = "true" %}
{% set dateUpdated = "May 2025" %}


{% extends "includes/app-layout.njk" %}
{% block breadcrumb %}
  {% include "useful-information/_breadcrumb.njk" %}
{% endblock %}
{% block bodyContent %}


         <p>At present multiple infrastructure platforms exist across NHS England. In an effort to bring together new thinking and current initiatives, we have developed the <a href="https://hscic365.sharepoint.com/ICT/Pages/Infra/Platform-Strategy.aspx"> Infrastructure
        Platform Strategy.</a></p>

        <h2>Does this apply to me?</h2>
        <p>The strategy applies to anyone involved in the creation, delivery or governance of
        programmes, services and applications that require hosting. This includes: </p>
        <ul>
          <li>All new systems and services delivered in house including Spine and eRS
          (but excludes wholesale outsourced systems such as NHS Mail).</li>
          <li>Any existing services where it would make sense to re-evaluate the hosting
          arrangements e.g. contract break-points, where a significant issue exists or where
          it would be more cost effective to change.</li>
        </ul>

        <h2>What is it?</h2>
        <ul>
          <li>This strategy promotes the vision to make it easier, cheaper and faster for
              programmes to securely host their systems and services.</li>
        </ul>

        <h2>What does the Infrastructure Platform Strategy cover?</h2>
        <ol>
          <li>Creation of a single platform function
          <li>Embracing the Government’s Public Cloud First Policy</li>
          <li>Delivering a strategic NHS Digital Public Cloud</li>
          <li>Adoption of the ‘Where to host’ policy</li>
          <li>Adoption of the NHS Digital Data Security Risk Method</li>
          <li>Confirming Microsoft Azure and AWS as our strategic cloud partners</li>
          <li>Confirming Crown Hosting as our strategic co-location partner</li>
        </ol>

        <h2>What role do the TRG have in this strategy?</h2>
        <ul>
          <li>The TRG are responsible for ensuring the
          strategy and its related policies are adhered to.
          If your programme moves away from what is
          outlined, you will require TRG approval.</li>
        </ul>



{% endblock %}
