---
previewLayout: design-example-wrapper-full-with-service-name
---

{% extends "layouts/design-example-wrapper-full-layout.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Sorry, the service is unavailable</h1>

      <p>You will be able to use the service from 9am on Monday 14 December 2025.</p>

      <p>Contact the hospital if you need to cancel an appointment.</p>

    </div>
  </div>
{% endblock %}
