{% set pageTitle = "Application" %}
{% set pageDescription = "Create the final versions of your new site map and designs." %}
{% set pageSection = "IA guidance" %}
{% set subSection = "Core IA process" %}
{% set dateUpdated = "August 2021" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<section id="app-key-links">
  <ul class="app-key-links">
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/application/decide-sitemap" title="">Decide the final site-map</a></li>
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/application/finalise-ui" title="">Finalise the UI design</a></li>
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/application/wider-ia" title="">Develop the relationship between your topic and the wider IA</a></li>
    <li class="nhsuk-heading-s"><a href="/ia-guidance/core-ia-process/application/measure" title="">Measure if the changes you have made are working</a></li>
  </ul>
</section>




{% endblock %}
