{% extends "layouts/layout.njk" %}

{% from "tag/macro.njk" import tag %}

{% set hasCaption = true if (pageSection or subSection) and
  not (landingPage or pageTitle == "Community" or pageTitle == "NHS standards and technical policy") %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">

    <div class="app-pane">

        <div class="app-pane__side-bar">
          {% block sideNav %}
            {% include "includes/_side-nav.njk" %}
          {% endblock %}
        </div>

        <div class="app-pane__main-content">

          {% call heading({
            caption: {
              html: (theme | default(subSection) if subSection else pageSection) ~
                ' <span class="nhsuk-u-visually-hidden"> – </span>'
            } if hasCaption,
            size: "xl",
            classes: "app-page-heading"
          }) %}
          {% if experimental %}
            {{ pageTitle }}<br>
            {{ tag({
              text: "Experimental",
              colour: "yellow"
            }) }}
          {% else %}
            {{ pageTitle }}
          {% endif %}
          {% endcall %}

          {%- if hideDescription %}
          {% else %}
            <p class="nhsuk-lede-text app-lede-text">{{pageDescription}}</p>
          {% endif %}

          {% block bodyContent %}
          {% endblock %}

          {% block contactPanel %}
            {% if hideContact != "true" %}
              {% if subSection === "Styles" or subSection === "Components" or subSection === "Patterns" or pageSection === "Content guide" or pageSection === "Accessibility" or pageSection === "Standards and technology" or pageTitle === "Design principles" %}
                {% include "includes/_contact-panel.njk" %}
              {% endif %}
              {% else %}
            {% endif %}
          {% endblock %}

          {% block afterContact %}
          {% endblock %}

          {%- if dateUpdated %}
            <p class="nhsuk-body-s nhsuk-u-secondary-text-colour nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">Updated: {{dateUpdated}}</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
