{% extends "layouts/layout.njk" %}

{% set pageTitle = "Standalone example" %}
{% set htmlAttributes = { class: "app-example-wrapper" } %}
{% set bodyClasses = "app-example-page app-example-page--" ~ item %}

{% if background %}
  {% set bodyClasses = bodyClasses ~ " app-example-page--background-" ~ background %}
{% endif %}

{% block head %}
  <meta name="description" content="NHS digital service manual - standalone example">
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/preview.scss") }}">
{% endblock %}

{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}
{% block beforeContent %}{% endblock %}

{% block main %}
  {{ exampleHtml | safe }}
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("main.js") }}" type="module"></script>
{% endblock %}
