{% extends "template.njk" %}

{% from "action-link/macro.njk" import actionLink %}
{% from "back-link/macro.njk" import backLink %}
{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "card/macro.njk" import card %}
{% from "character-count/macro.njk" import characterCount %}
{% from "checkboxes/macro.njk" import checkboxes %}
{% from "contents-list/macro.njk" import contentsList %}
{% from "date-input/macro.njk" import dateInput %}
{% from "details/macro.njk" import details %}
{% from "do-dont-list/macro.njk" import list %}
{% from "error-message/macro.njk" import errorMessage %}
{% from "error-summary/macro.njk" import errorSummary %}
{% from "fieldset/macro.njk" import fieldset %}
{% from "footer/macro.njk" import footer %}
{% from "header/macro.njk" import header %}
{% from "hero/macro.njk" import hero %}
{% from "hint/macro.njk" import hint %}
{% from "images/macro.njk" import image %}
{% from "input/macro.njk" import input %}
{% from "inset-text/macro.njk" import insetText %}
{% from "label/macro.njk" import label %}
{% from "notification-banner/macro.njk" import notificationBanner %}
{% from "pagination/macro.njk" import pagination %}
{% from "panel/macro.njk" import panel %}
{% from "radios/macro.njk" import radios %}
{% from "select/macro.njk" import select %}
{% from "skip-link/macro.njk" import skipLink %}
{% from "summary-list/macro.njk" import summaryList %}
{% from "tables/macro.njk" import table %}
{% from "tabs/macro.njk" import tabs %}
{% from "tag/macro.njk" import tag %}
{% from "task-list/macro.njk" import taskList %}
{% from "textarea/macro.njk" import textarea %}
{% from "warning-callout/macro.njk" import warningCallout %}

{% from "macros/design-example/macro.njk" import designExample %}

{% set mainClasses = "nhsuk-main-wrapper--s app-main-wrapper" %}
{% set opengraphUrl = BASE_URL %}
{% set opengraphImageUrl = BASE_URL ~ "/assets/open-graph" ~ ("_" ~ pageSection | lower | replace(" ", "_") | replace("'", "") if pageSection else "") ~ ".png" %}

{% block pageTitle -%}
  {% if pageTitle %}{{ pageTitle }} - {% endif %}NHS digital service manual
{%- endblock %}

{% block head %}
  <meta name="description" content="{% if pageDescription %}{{ pageDescription }}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}">

  <!-- Verify domain with Google -->
  <meta name="google-site-verification" content="Prj4LS7KX0amTkqVrOlnEyldVIjzJqbnXgPL1zbHocM">

  <meta property="og:url" content="{{ opengraphUrl }}">
  <meta property="og:site_name" content="nhs.uk">
  <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - {% endif %}NHS digital service manual">
  <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first.{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta property="og:image" content="{{ opengraphImageUrl }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@nhsuk">
  <meta name="twitter:creator" content="@nhsuk">
  <meta name="twitter:image:alt" content="nhs.uk">

  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/main.scss") }}">
{% endblock %}

{% block header %}
  {% include "includes/_header.njk" %}

  {% if beta %}
    {% include "includes/_beta-banner.njk" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home",
    classes: "app-breadcrumb"
  }) }}
{% endblock %}

{% block footer %}
  {% include "includes/_footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath("main.js") }}" type="module"></script>
  <script src="{{ getAssetPath("javascripts/vendor/cookie-consent.min.js") }}" data-policy-url="/cookie-policy" type="module"></script>

  {% if adobeTrackingUrl %}
  <script type="module">
    window.digitalData = {{ digitalData | dump | safe }};
  </script>

  <!-- Adobe Analytics -->
  <script src="{{ adobeTrackingUrl }}" type="text/plain" data-cookieconsent="statistics" async></script>
  {% endif %}
{% endblock %}
