{% extends "layouts/layout.njk" %}

{% set pageTitle = "Search" %}
{% set pageDescription = "Search results." %}
{% set disableSearch = true %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <form class="app-search" action="/search/" method="get" novalidate>
        {% call fieldset({
          legend: {
            text: pageTitle,
            size: "xl",
            isPageHeading: true
          }
        }) %}
          {{ input({
            label: {
              text: "Search the NHS digital service manual",
              classes: "nhsuk-u-visually-hidden"
            },
            name: "q",
            value: query,
            id: "search-results-field",
            classes: "app-search__input nhsuk-u-width-full",
            autocomplete: "off",
            formGroup: {
              classes: "nhsuk-u-width-one-half",
              afterInput: {
                html: button({
                  html: nhsukIcon("search", { title: "Search" }),
                  classes: "app-search__submit nhsuk-button--small"
                })
              }
            }
          }) }}
        {% endcall %}
      </form>
    </div>
  </div>
  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {% if results | length > 0 %}
          <p class="nhsuk-u-margin-bottom-3">
           {{ resultsLen }} result{%if results | length != 1%}s{%endif%}
         </p>
          <ul class="nhsuk-list nhsuk-list--border">
            {% for item in results %}
              <li>
                {% if item.parent %}<span class="app-search-results-category">{{ item.parent }}</span>{% endif %}
                <a class="app-search-results-item" href="{{ item.url }}">{{ item.title }}</a>
                <p class="nhsuk-body-s">{{ item.description }}</p>
              </li>
            {% endfor %}
          </ul>

          {% if maxPage > 1 %}
          {{ pagination({
            previous: {
              labelText: (currentPage - 1) ~ " of " ~ maxPage,
              href: "/search/?q=" ~ query ~ "&page=" ~ (currentPage - 1)
            } if currentPage != 1,
            next: {
              labelText: (currentPage + 1) ~ " of " ~ maxPage,
              href: "/search/?q=" ~ query ~ "&page=" ~ (currentPage + 1)
            } if currentPage != maxPage
          }) }}
          {% endif %}
        {% else %}
          {% if query != "" %}
            <p>Your search - <span class="nhsuk-u-font-weight-bold">{{query}}</span> - had no matching results.</p>
            <p>Improve your search results by:</p>
            <ul>
              <li>double-checking your spelling</li>
              <li>using fewer keywords</li>
              <li>searching for something less specific</li>
            </ul>
          {% endif %}
        {% endif %}
        </div>
    </div>
  </article>
{% endblock %}
