{% from 'input/macro.njk' import input %}

{{ input({
  "label": {
      "text": "Cost in pounds"
  },
  "id": "example",
  "name": "example",
  "prefix": "£",
  "classes": "nhsuk-input--width-5"
}) }}
