{% from 'input/macro.njk' import input %}

{{ input({
  "label": {
      "text": "What is the cost in pounds?",
      "classes": "nhsuk-label--l"
  },
  "id": "example",
  "name": "example",
  "prefix": "£",
  "classes": "nhsuk-input--width-5"
}) }}
