{% from "input/macro.njk" import input %}

{{ input({
  label: {
      text: "Cost in pounds"
  },
  id: "cost-pounds",
  name: "costPounds",
  prefix: "£",
  classes: "nhsuk-input--width-5",
  spellcheck: false
}) }}
